[2020-10-19 07:46] kirisnakumar opened #940 "🐛 9661792568Kalyani Saree customer care number//9661792568"
9661792568Kalyani Saree customer care number//9661792568 version**

9661792568Kalyani Saree customer care number//9661792568

9661792568Kalyani Saree customer care number//9661792568

import "github.com/gofiber/fiber/v2"

func main() {
  app := fiber.New()

  // Steps to reproduce

  log.Fatal(app.Listen(":3000"))
}
[code]

[2020-10-19 07:47] kirisnakumar commented on #940
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 07:47] kirisnakumar commented on #940
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 07:47] kirisnakumar commented on #940
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 07:48] kirisnakumar commented on #940
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 07:48] kirisnakumar commented on #940
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 07:48] kirisnakumar commented on #940
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 07:48] kirisnakumar commented on #940
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 07:48] kirisnakumar commented on #940
9661792568Kalyani Saree customer care number//9661792568 kumar

[2020-10-19 07:48] kirisnakumar commented on #940
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 07:48] kirisnakumar commented on #940
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 07:49] kirisnakumar commented on #940
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 07:49] kirisnakumar commented on #940
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 07:49] kirisnakumar commented on #940
9661792568Kalyani Saree customer care number//9661792568

[2020-10-19 08:56] frederikhors commented on #899
@codemicro Can we add this to recipes, what do you think?

[2020-10-19 08:58] codemicro commented on #899
@frederikhors that sounds like a great idea! I'll submit a pull request today, unless you want to?

[2020-10-19 08:58] frederikhors commented on #899
I do not have time right now.

[2020-10-19 08:59] codemicro commented on #899
No worries! I'll do it.

[2020-10-19 09:04] frederikhors commented on #899
I do not understand with your code how to change Shutdown timeout. Is there a way or I have to use custom code for this?

[2020-10-19 09:17] frederikhors commented on #899
I think this code is not working, @codemicro.

I cannot get `fmt.Println("Gracefully shutting down...")` printed for example.

[2020-10-19 09:20] frederikhors commented on #899
It works. My fault.

The only problem is timeout now.

[2020-10-19 09:56] codemicro commented on #899
This example has no shutdown timeout - as soon as an interrupt is received, `app.Shutdown` is called.

[2020-10-19 10:15] frederikhors commented on #899
Ok. I was talking about something like this: https://github.com/go-chi/chi/tree/master/_examples/graceful.

Thanks again!

[2020-10-19 12:36] frederikhors opened #941 "🤗 Using with Authboss, issues and doubts"
**Question description**

[Authboss](https://github.com/volatiletech/authboss) is a great project and is used a lot in corporate Golang projects.

I'm using it with [go-chi](https://github.com/go-chi/chi/) right now.

I wanna switch to Fiber but I have one problem and one doubt:

1. For the problem I opened https://github.com/gofiber/adaptor/issues/27

1. For the doubt I cannot understand if using

[2020-10-20 13:03] tosone opened #942 "🐛 Shoutdown blocked after send file."
**Fiber version**

v2.1.0

**Issue description**

Cannot stop the server correctly. Just ouput `server is stopping`.

**Code snippet**

Save this code snippet as `app.go`.

[code]

[2020-10-20 15:31] Fenny commented on #942
This is probably because you still have open connections attached to your server. Keep in mind that `Shutdown()` is basically a _graceful shutdown_ that does not accept new connections while finishing the onces that are open. I assume you are testing this with a modern browser?

[2020-10-20 15:35] ibraheemdev opened #943 "global net/http middleware"
I have a basic logging middleware that use the `net/http` interface:
[code]

With `gofiber/adaptor`, I can wrap any regular fiber route with the logging middleware:
[code]
However, I can't globally wrap all my routes with `app.Use`:
[code]

Is there anyway to globally wrap all my routes with a `net/http` middleware?

EDIT: I tried this too:
[code]

[2020-10-20 15:53] tosone commented on #942
[code]

Add this line solve my issue.

HTTP header `Connection: keep-alive` got this error.

[2020-10-20 15:56] tosone commented on #942
Is it possible add context to Shutdown like this: https://github.com/golang/go/blob/master/src/net/http/server.go#L2724.

[2020-10-20 16:18] G2G2G2G opened #944 "TUS support, external middleware?"
https://tus.io/

**Is your feature request related to a problem?**
I don't think so

**Describe the solution you'd like**
Have a "tus" / "tusd" easily implemented in fiber, similar to how the JWT can be easily implemented

**Describe alternatives you've considered**
I have done a lot of research on uploading on the web, there are an insane amount of options, tons of jquery and javascript, the resu

[2020-10-20 17:43] hi019 commented on #944
The project looks useful, thanks for putting it on my radar. From a quick look at the handler code, porting it to Fiber would be quite a bit of a work. If someone wants to make their own tus middleware, they can make a pr to get it added to Fiber. What do you think @Fenny ?

For now you can use our [Adaptor middleware](https://github.com/gofiber/adaptor) to make the handler compatible with fiber.

[2020-10-21 01:31] sandro opened #945 "🐛 Wildcard parameter persists between requests."
**Fiber version**
v2.1.0

**Issue description**
When I declare a wildcard route and print out the wildcard parameter, sometimes, the parameter sticks around on the next request.
I expect the wildcard parameter to match the path each time.

**Code snippet**

[code]

[code]

I expect the server to print out an empty string on the third request instead of printing out favicon.ico.

[2020-10-21 06:16] kiyonlin commented on #945
Nice found @sandro

[2020-10-21 09:17] jney opened #947 "🐛 Can't get added header by proxy"
**Fiber version**

v2.1.0

**Issue description**

Can't get the added header by proxy in targeted server.
Look at the following code, I can't get "test" header.

**Code snippet**

[code]

in targeted server

[code]

[2020-10-21 16:06] sandro commented on #945
Thanks for submitting a fix @kiyonlin !

[2020-10-21 18:57] #945 closed

[2020-10-21 18:57] Fenny commented on #945
Merged with https://github.com/gofiber/fiber/pull/946, thanks guys for the report. Fix will ship with the next tag 👍

[2020-10-21 18:59] Fenny commented on #947
Quick question, are you testing this with CORS requests specifically?

[2020-10-21 22:16] jney commented on #947
Hi @Fenny , I tested without it too, same result. I should have removed it from example to avoid confusion.

You can try it with this very minimal code:

proxy:

[code]

server:

[code]

run both, then `curl 'http://0.0.0.0:8000/'`: still empty header

[2020-10-22 08:02] jney commented on #947
I figured out. It looks like I have to use `c.Request().Header.Add` instead of `c.Set`.
Maybe is it me, or the README is confusing?

[2020-10-22 08:32] #947 closed

[2020-10-22 10:09] Fenny commented on #947
I will update the example 👍

[2020-10-22 10:42] Fenny commented on #942
I don't think that is necessary
[code]

[2020-10-23 06:34] bluesoulx opened #952 "Route & Group sequence problem"
**Fiber version**
2.1.1

**Question description**
In my situation, some URI need middleware, and some are not.
Therefore, I use

[code]
for any handlers need these middlewares.

In the following code,

[code]
The path1 will also execute m1 & m2.

But if the sequence different as follow.

[code]

It will work very well.
Is this the normal case?

Thank you.

[2020-10-23 06:37] kiyonlin commented on #952
Hey @bluesoulx

The answer is yes.

Because Fiber registers routes in order. `Group("/")` will cover `Get("/path1")` in the first snippet.

[2020-10-23 06:43] bluesoulx commented on #952
Hi @kiyonlin

Thank you for the answer.
I will change my code for this. 👍

[2020-10-23 06:43] #952 closed

[2020-10-23 09:36] tosone commented on #942
In my case, the connection is idle, close it is OK. Your code snippet will always panic.
Close idle connection is necessary after graceful shutdown. https://github.com/golang/go/blob/release-branch.go1.15/src/net/http/server.go#L2743

Unfortunately `fasthttp` havn't implement close idle connection function.

[2020-10-23 10:05] johnuno11 commented on #942
@tosone @KoyamaSohei  would you guys be able to help me create a cell phone app?

[2020-10-23 13:26] 8anch2z opened #953 "🐛 csrf default setting returns 403 forbidden"
**Fiber version**
go 1.14
github.com/gofiber/fiber/v2 v2.0.6

**Issue description**
Post request returns 403 forbidden on fiber httpserver with middleware csrf.

**Code snippet**
[code]

my test code
[code]

[2020-10-23 13:44] kiyonlin commented on #953
Please remove `csrf.Config{}` and try again.

[2020-10-23 16:07] 8anch2z commented on #953
It is the same whether `csrf.Config{}` or not.

I used curl with -c and -b option. I think this works as browser cookie.

[2020-10-23 16:57] suntong opened #954 "🚀 Middleware of Analytics Tools like Google Analytics"
**Is your feature request related to a problem?**

It'll be super to have Analytics capability like Google Analytics.

**Describe the solution you'd like**

To have an Internal or external Middleware, even a Third Party Middlewares, that can have some Analytics functionality like Google Analytics, and open source it.

**Describe alternatives you've considered**

Use Google Analytics.

**Additional

[2020-10-23 17:30] codemicro commented on #954
Hi @suntong!

This is an interesting proposal. As I'm sure you're aware, Google Analytics is predominantly used as part of the frontend of an application. While there is the [GA measurement protocol](https://developers.google.com/analytics/devguides/collection/protocol/v1/) that allows you to send HTTP requests directly to record activity, this is probably out of scope for Fiber to implement. I th

[2020-10-23 17:45] suntong commented on #954
Cool! I don't know the details how everything works together in this regards. Thanks for all your suggestions, am sure to look into them...

[2020-10-23 17:45] #954 closed

[2020-10-23 20:02] hi019 commented on #953
Able to reproduce. Looking into this.

[2020-10-23 20:45] hi019 commented on #953
You will need to supply the csrf token in the cookie *and* in a `X-CSRF-Token` header (you can also use query strings, url params or form values - [docs](https://github.com/gofiber/fiber/tree/master/middleware/csrf#config)). We're discussing ways to improve this workflow.

Here's the valid cURL:

[code]

[2020-10-23 23:02] Fenny commented on #953
Should be fixed now in https://github.com/gofiber/fiber/pull/958, will ship with the next tag  👍

[2020-10-23 23:03] #942 closed

[2020-10-23 23:03] Fenny commented on #942
Feel free to re-open, seems answered 👍

PS: I don't have time to help with a cell phone app, sorry @johnuno11

[2020-10-23 23:05] Fenny commented on #809
Until we fix https://github.com/valyala/fasthttp/issues/840#issuecomment-657229973 we have to accept the fact that streaming big json responses is not efficient compared to net/http.

We might provide some kind of bounty reward for someone to fix the `SetBodyStreamWriter` fn in fasthttp, to be continued.

[2020-10-23 23:05] #809 closed

[2020-10-23 23:06] Fenny commented on #923
Closing due to inactivity, feel free to re-open 👍

[2020-10-23 23:06] #923 closed

[2020-10-23 23:07] Fenny commented on #941
AuthBoss seems heavily attached to the `net/http` library, it would require some work to be compatible with fasthttp.

I personally do not have the time to do that, I'm sorry. Maybe someone else wants to take a look?

[2020-10-24 08:49] kiyonlin commented on #873
Wait for Tee 😄
![image](https://user-images.githubusercontent.com/1214670/97077754-c9775800-1618-11eb-9eb6-882b8ef28e5d.png)

[2020-10-24 11:23] codemicro commented on #873
Exciting! I've got 12 days to wait until I can claim mine 😁

[2020-10-24 11:23] #873 closed

[2020-10-24 12:20] 8anch2z commented on #953
Thank you all replies! 👍

I got it. Now working! :)
I missed csrf token on header.
Sorry I am not familiar with csrf. I thought it was done by browser cookie.

[2020-10-24 12:20] #953 closed

[2020-10-26 01:03] rafaelgfirmino commented on #646
This issue is close, but I can use fiber and Server-Sent Events using a [gofiber/adaptor](https://github.com/gofiber/adaptor)

This is a part of the code where I add gofiber/adaptor
[code]
I'm using this [example ](https://www.youtube.com/watch?v=xbGYiJ_u7_4) bellow
[code]

call this function in you HTML page

[code]

[2020-10-26 03:24] ckcks12 opened #967 "🤗 QueryParser() returns nil even there are params required."
**Question description**

QueryParser() returns no error(nil) if no query arguments sent. However, what if there are required parameter? Its very first if statement checks arguments count with no considering params' requirement. So even though I tagged params as required, QueryParser() doesn't return any error with an empty query argument.

I expected error returned because it's required but didn'

[2020-10-26 03:33] Fenny commented on #967
We should return an error there, I assume if people call `QueryParser` at least 1 or more query params should be available.

I will accept a PR for this 👍

[2020-10-26 03:37] Fenny commented on #944
@hi019 sounds good, if someone wants to work on this you can make a PR here so we can add it to the list 👍

[2020-10-26 03:44] ckcks12 commented on #967
Sure, my pleasure.

[2020-10-26 04:50] kiyonlin commented on #967
Hey @ckcks12 I think user should validate the result by themselves if there is no error returned by `QueryParser`, like using [go-playground/validator](https://github.com/go-playground/validator).

And here is an simple [example](https://github.com/kiyonlin/dawn/blob/master/fiberx/fiberx.go#L54-L62).

[2020-10-26 05:39] ckcks12 commented on #967
@kiyonlin Let's put it in this way.

User wrote `required` to the field.
Input is empty.
What does user expect?
If no error, it means required field has been set.

Moreoever if there's any input then it gives an error. This is why I think it's a bug.
If there's no such a `required` option, user should validate. Yeah it does make sense.

I'm just gonna remove the arg length based condition.

[2020-10-26 05:44] Fenny commented on #967
@ckcks12 I prefer if you return an error on the arg len statement, it's more efficient since it won't touch the decoder pool and allocate a map.

[2020-10-26 05:48] kiyonlin commented on #967
@Fenny What if user set parts of parameters? 😆

[2020-10-26 05:49] Fenny commented on #967
@kiyonlin could you elaborate, I'm not sure what ya mean with _set parts_?

[2020-10-26 05:52] kiyonlin commented on #967
@Fenny I mean like `?offset=0` but no `limit` param in query string.

[2020-10-26 05:52] Alcrease511 opened #969 "🐛"
**Fiber version**

**Issue description**

**Code snippet**

[code]

[2020-10-26 05:52] Fenny commented on #967
Yeah that too, totally forgot that use case. Thanks guys 👍

[2020-10-26 06:02] #969 closed

[2020-10-26 17:30] #944 closed

[2020-10-26 17:31] #941 closed

[2020-10-27 02:27] renanbastos93 commented on #834
@doingodswork

Hi, I'm sorry I left, I had an accident. So, I believe I did understand that we need to give the possibility to use parameters in the route when using the file system. Right?

Now I will investigate and doing many tests to understand this behavior after that fix it.

[2020-10-27 03:39] Fenny commented on #834
What if we add a method to the middleware to serve single files?
[code]

[2020-10-27 11:47] arsmn commented on #943
Hi @ibraheemdev
Now you can use [HTTPMiddleware](https://github.com/gofiber/adaptor#nethttp-middleware-to-fiber) wrapper to convert http middlewares to Fiber middleware

[2020-10-27 11:51] zhs opened #974 "🤗 Redirect by POST request"
Hi there!
I want to change body of POST request and redirect to other service with POST method. But "Redirect" method is doing GET request to other service. How to make POST redirect?

[code]

[2020-10-27 12:00] codemicro commented on #974
Hi @zhs!

`c.Redirect`, by default, sends a status code of [`302 Found`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/302). By definition, this tells the browser to send a GET request to whatever URL is specified.

To avoid this, you can use [`307 Temporary Redirect`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/307).

To tell `c.Redirect` to use `307`, you can use the foll

[2020-10-27 12:10] #974 closed

[2020-10-27 13:17] #943 closed

[2020-10-27 14:47] peterdee opened #975 "Handling cross-origin requests"
Hey guys, I've been stuck with a small problem for quite some time. It is related to the cross-origin requests.

I have a server, that uses the `cors` middleware.

Here's the example code:

[code]

I send requests to the server from the browser console, like that:

[code]

I am getting the following error:

[code]

I get the same error if I am sending requests to the server via `axios` or `ajax` (

[2020-10-27 15:14] hi019 commented on #975
This looks like an issue with Content-Security-Policy. The page you're running the Javascript on must have a CSP that prevents requests to `localhost:8000`. This isn't something that can be solved by Fiber, a change to the policy needs to be made on the frontend. I don't know much about CSP, but try `<meta http-equiv="Content-Security-Policy: connect-src http://localhost:*/">`

[2020-10-28 07:32] peterdee commented on #975
Hey @hi019, thank you for your response.

I've realized that the issue was on my side.

I used a Koa server with `koa-helmet` to serve some static pages.

`koa-helmet` was basically blocking all of the `cross-origin` requests and was causing the CSP error.

I'm closing this issue.

[2020-10-28 07:32] #975 closed

[2020-10-28 14:23] Fenny commented on #967
@ckcks12 tagged! 🎊

[2020-10-28 14:23] #967 closed

[2020-10-29 05:15] #834 closed

[2020-10-29 06:57] marcusti opened #979 "🚀 add configuration option for key in cache mw"
Currently the cache middleware uses a hard coded `c.Path()` as cache key.

Sometimes a more complicated cache key is required, so please add a configuration option to support a custom cache key function.

https://github.com/gofiber/fiber/blob/master/middleware/cache/cache.go#L126

[2020-10-29 07:28] Fenny commented on #979
Hi @marcusti, could you elaborate an use case on why c.Path() is not the best identifier? Just curious ^^

[2020-10-29 07:59] marcusti commented on #979
Hey @Fenny, I have an API where the path references a resource. Example: /news gives a list of articles.

Then I use query parameters on GET requests as resource filters. Example: /news?limit=5 gives 5 articles. Etc...

Since `c.Path()` does not include query parameters, I get wrong cache hits. `c.OriginalURL()` would be a solution.

[2020-10-29 14:52] hi019 commented on #979
I agree this is a flaw in our implementation. I'll make a pr later today.

[2020-10-29 16:10] hiqsociety opened #980 "Possible to put a section on main page to advertise the users of fiber?"
1. would like to see the performance on actual running production websites etc.

2. any websocket example? is it good for doing websocket stuff?

great work by the way

[2020-10-29 16:18] hi019 commented on #980
Cc @Fenny , I think he has done some professional work with Fiber. But you could likely benchmark if yourself by replacing time consuming things with a sleep call.

https://github.com/gofiber/websockets

[2020-10-29 16:18] renanbastos93 commented on #980
About benchmarks, you can see in this link: https://docs.gofiber.io/miscellaneous/benchmarks

[2020-10-29 16:26] codemicro commented on #980
Hi @hiqsociety!

You can take a look at benchmarks run independently by TechEmpower [here](https://www.techempower.com/benchmarks/#section=data-r19&hw=ph&test=plaintext&l=zijocf-1r&f=zik0zj-zik0zj-zik0zj-zik0zj-zik0zj-zik0zj-zik0zj-zieepr-zik0zj-zik0zj-73). You can see Fiber's performance across various different tasks, like responding with plaintext or JSON, or performing common database queries.

[2020-10-30 00:41] gitmko0 opened #982 "Replacement for nginx with fastcgi for running php7.4-fpm for wordpress"
Instead of this using net/http
https://github.com/beberlei/fastcgi-serve

possible to make one php? That'll really increase adoption. Wordpress multisite compatible replacement to nginx

[2020-10-30 00:53] kiyonlin commented on #982
Hey @gitmko0 Do you have any issue about fiber?

[2020-10-30 01:05] gitmko0 commented on #982
my issue is ... it's too fast growing! so i will adopt it but i think i will like it so much i would like it to be also replace nginx for fastcgi.
I have no idea how u are able to pop up suddenly early this yr and outdone the rest of the framework which i've been looking at for the past 3 years.

well done. it's very impressive the achievement in "adoption" though i hv yet to see any use case prod

[2020-10-30 01:15] mikeychowy commented on #982
@gitmko0 I don't want to sound like one of the users from SO, but the fiber team has no obligation whatsoever to make the things you want/need if i'm getting what you're saying right.

They provides us tools to write HTTP(S) servers. That's it.
They can certainly consider making a module or a project outside of the core of fiber, but if they don't want / need to do it, it's our job to write it our

[2020-10-30 01:15] kiyonlin commented on #982
Fiber is a web framework not a web server. [Caddy](https://github.com/caddyserver/caddy) do the same thing as nginx, maybe that is what you want.

[2020-10-30 08:31] Fenny commented on #979
I think a similar approach like https://github.com/gofiber/fiber/blob/master/middleware/limiter/limiter.go#L36 would be valid, I currently don't have time to make the PR myself but will accept one using the above implementation 👍

[2020-10-31 01:19] #979 closed

[2020-10-31 01:41] felipetesc commented on #788
I had the same problem, than I have installed with the command **go get -u github.com/gofiber/fiber** on Ubuntu 20.04 and the version 2 was correctly installed. (no v2)

[2020-10-31 07:33] sersh88 commented on #750
Hello, how to achive the same with fiber v2?

[2020-10-31 18:59] #980 closed

[2020-10-31 19:14] #982 closed

[2020-11-02 08:15] aminabvaal commented on #788
yes you right and i do it

[2020-11-02 14:06] hleinan opened #989 "Difference between Fiber csrf in v1 and v2"
Hey, I have a working application using Fiber v1 and Fiber csrf from version 1.

I just did an upgrade to V2 for both of them, and now I am getting a 403 after server restart. I do see that the csrf token is updated on every restart when using V2, so that the client version is out of sync. My quess is that the client is caching the token string in the cookie, and this is not over written when the

[2020-11-02 19:01] anton7r opened #990 "🐛 fiber.Static changes wont take immediate effect"
**Fiber version**
v2.1.2 (Go 1.15.2)
**Issue description**
fiber.Static changes made to the files that recide in the `./public` folder wont take immediate effect
**Code snippet**

[code]

**My observations**
the CacheDuration that is set here seems to be the source of the issue:
https://github.com/gofiber/fiber/blob/30228a1e7514bf45d27de0e1e330504c38439421/router.go#L324

**Possible solutions**
th

[2020-11-03 09:26] hleinan commented on #989
After some more investigation, it looks like the new token is not sent to the client. If i manually delete the old _csrf cookie, and refresh, a new and correct token is set. If not deleted, a 403 is sent from the server. Note that this only happens after a server restart, and once the server is running and the token is refresh from server, it all works as expected. I did not have this problem usin

[2020-11-03 15:45] leozhantw opened #994 "🤗 CI lint seems not to work normally"
**Question description**

Hi,

I found that the CI lint seems not to work normally.

[code]

Have you considered replacing the linter with the official version which maintains by **golangci-lint**?

https://github.com/golangci/golangci-lint-action

[2020-11-04 00:22] yaliv commented on #859
To conform with the [Client Responsibilities of JSON:API](https://jsonapi.org/format/#content-negotiation-clients), I hope the mimetype `application/vnd.api+json` could be injected to `c.BodyParser()`.

Example in Express:
[code]

[2020-11-04 18:14] ryano3000 opened #996 "🐛 mounting a fiber instance doesnt work for views"
**Fiber version**
latest

**Issue description**
Mounting a fiber instance with its own views doesn't work.
Get this error instead on below code:
http://localhost:1323/admin --> open index: no such file or directory

**Code snippet**

[code]

[2020-11-04 20:40] TomasVojacek opened #997 "🐛 redirect from / apply also to /*/ but not to /* or /*/*"
**Fiber version**
v2.0.6 and v2.1.3
**Issue description**
if redirect set from "/" to "/swagger"
curl  "http://127.0.0.1:3005/api/" is redirected
while following is not redirected as expected
curl  "http://127.0.0.1:3005/api"
curl -i "http://127.0.0.1:3005/api/anything"

**Code snippet**

[code]
curl -i http://127.0.0.1:3005/api/

[2020-11-05 03:39] gitmko0 opened #998 "Any real life example or reactapp tutorial type? a real reactapp foundation to work with."
Any real life example or reactapp tutorial type? a real createreactapp foundation to work with.

just to standardize most things

[2020-11-05 16:20] renanbastos93 commented on #997
Thanks a lot for reporting it. Well, I am fix the redirect.
https://github.com/gofiber/redirect/pull/21

[2020-11-06 01:56] renanbastos93 commented on #997
@TomasVojacek Can you to update package redirect doing `go get -u github.com/gofiber/redirect/v2` ?
After you can test again. I am waiting your feedback.

[2020-11-06 10:06] limncoin opened #1001 "Does the Fiber has localization function?How to switch multi language?🚀"
How to switch multi language?
thanks!

[2020-11-06 10:11] codemicro commented on #1001
Hi @limncoin!

**Unfortunately, Fiber has no built in localisation options.** This would be something you'd have to implement yourself, since Fiber is purely a web framework to build your app on top of.

You might be able to achieve this with a custom middleware that detects what language should be selected for a specific request and stores this value in [`Locals`](https://docs.gofiber.io/api/ctx#

[2020-11-06 12:07] TomasVojacek commented on #997
Version redirect/v2 v2.0.2 resolved problem,
thank you.

[2020-11-06 12:07] #997 closed

[2020-11-06 12:34] Alcrease511 opened #1002 "🐛"
**Fiber version**

**Issue description**

**Code snippet**

[code]

[2020-11-06 12:36] renanbastos93 commented on #1002
Can you put on more info, please?

[2020-11-06 13:11] #1002 closed

[2020-11-06 13:13] Fenny commented on #996
@ryano3000 can you share your views folder structure? And does it work when not mounting the app?

[2020-11-06 13:14] Fenny commented on #994
From my understanding reviewdog had more to offer compared to golangci-lint, but please correct me if I'm wrong.

[2020-11-06 17:32] #1001 closed

[2020-11-06 18:38] hi019 commented on #998
The closest thing we have to a tutorial is probably [our docs](https://docs.gofiber.io/). It should get you started, and questions are always welcome in our [Discord](https://gofiber.io/discord). As for create-react-app, we do have a [cli](https://github.com/gofiber/cli) which scaffolds a Fiber starter for you.

[2020-11-07 14:48] Fenny commented on #990
We are discussing the option to either lower the `CacheDuration` or make it a public setting, I will keep you updated.

Regarding your concern about memory <https://github.com/valyala/fasthttp/blob/master/fs.go#L475> files above 8MB are not cached in memory.

[2020-11-07 15:07] leozhantw commented on #994
Hum ... the functions should be similar, but considering the UI part, reviewdog really looks more beautiful.

Below is my comparisan:

[reviewdog/action-golangci-lint](https://github.com/leozhantw/fiber/pull/6/files#diff-6c4b6ed7dc8834cef100f50dae61c30ffe7775a3f3f6f5a557517cb740c44a2dR323)
[golangci/golangci-lint-action](https://github.com/leozhantw/fiber/pull/7/files#diff-6c4b6ed7dc8834cef100f50d

[2020-11-07 15:07] #994 closed

[2020-11-08 10:23] anton7r commented on #990
ok.
making it a public setting would be pretty neat since this issue pretty much comes up when editing css and js so the fiber user could have the `CacheDuration` set to `0` in development and then on production they could set it to something like `320`

[2020-11-08 10:27] anton7r commented on #998
you can use cra and then `eject` from it to edit the scripts so that you can add a proxy to your fiber app. so all the requests made to `/api/` on the webpack devserver would be proxied to your fiber backend.

Hope this helps!

[2020-11-08 10:47] gitmko0 commented on #998
coz it's so new, will be best if have a "hand holding" tutorial on it... i'm new to node too

[2020-11-08 14:26] mossnana opened #1003 "🤗 How can change filename in SendFile method"
**no filename in my downloaded file with SendFile()**

**Code snippet**
[code]

and filename that downloaded was `tsv`
It should be `demo.tsv` not "`tsv`

Thank you for attention in my question

[2020-11-08 14:32] #1003 closed

[2020-11-08 14:32] Fenny commented on #1003
[code]

[2020-11-08 16:10] hi019 commented on #998
I'm not sure if that's necessary, our API is straightforward and the [Hello World](https://docs.gofiber.io/#hello-world) example and [Basic Routing](https://docs.gofiber.io/#basic-routing) guide should have you covered. We welcome PRs, though!

[2020-11-09 07:25] mossnana commented on #1003
Thank you

[2020-11-09 17:54] cyanBone opened #1005 "🤗 log error?????"
**Question description**

log errors

**Code snippet** _Optional_

[code]

terminal:

./video 2>>123.log &

ab -c 100 -n 3000 http://app.test:3000

logfile(123.log)  error

<img width="972" alt="截屏2020-11-10 上午1 51 36" src="https://user-images.githubusercontent.com/51378072/98577956-a37bd400-22f7-11eb-8da7-fd0767888117.png">

[2020-11-09 22:04] Fenny commented on #1005
If you are using logger in production, I advise you to use your own `io.Writer`.

[code]

![](https://i.imgur.com/k4KHb9F.png)

[2020-11-10 07:36] lightyen commented on #998
See the cra document: [**Back-End Integration**](https://create-react-app.dev/docs/proxying-api-requests-in-development)

[2020-11-10 17:52] #998 closed

[2020-11-10 18:00] #1005 closed

[2020-11-10 18:00] #996 closed

[2020-11-10 22:22] cyanBone opened #1007 "🤗how logger get requestid ??"
**Question description**

how logger get requestid ??

**Code snippet** _Optional_

[code]

[2020-11-10 22:45] hi019 commented on #1007
Try this:

[code]

[2020-11-11 08:22] cyanBone commented on #1007
@hi019 Can't get it, is there any demo or document

[2020-11-11 08:48] cyanBone commented on #1007
@hi019
ctx.Locals ("requestid")

Okay, I can get it

[2020-11-11 12:35] #1007 closed

[2020-11-11 12:52] Fenny commented on #1007
To log it, you can use
[code]

[2020-11-11 16:35] cyanBone opened #1010 "🤗 BodyParser error ？？？"
**Question description**

err:=ctx.BodyParser(obj)
How does this err assert

this err type is "*errors.errorString"

I will get err type

[code]
**Code snippet** _Optional_

[code]

[2020-11-11 16:46] cyanBone commented on #1010
https://github.com/gofiber/fiber/blob/060a10d822a628d084cf2061f49d90c7917b6dc8/ctx.go#L281

none type is err type is "*errors.errorString"

[2020-11-11 16:53] codemicro commented on #1010
Hi @cyanBone!

It's most likely that this is the error being thrown: https://github.com/gofiber/fiber/blob/060a10d822a628d084cf2061f49d90c7917b6dc8/ctx.go#L281

You can't assert the error type using the same method as you've been doing for other errors returned by `ctx.BodyParser`. If you wanted to, you could directly compare the error string.

This is branching into more general Go usage, but the

[2020-11-11 17:34] cyanBone commented on #1010
I hope there is a type in this err
Other errors in this function seem to have types

thanks

[2020-11-11 17:40] cyanBone opened #1012 "🤗 This result is one more point？？"
**Question description**

`curl --location --request POST 'http://app.test:8080/category' \
--header 'Content-Type: application/json' \
--data-raw '{
    "id":"123"
}'`

unmarshalTypeError.Field value is "id." not is "id"
This result is one more point

**Code snippet** _Optional_

[code]

[2020-11-11 17:41] codemicro commented on #1010
This error has no type, and probably won't do, ever. It doesn't really make sense for an error that's going to be used in a one-off context like this to be defined as an exported `const` at the package level.

[2020-11-11 17:45] cyanBone commented on #1010
OK, I'll solve it with default
thanks

[2020-11-11 17:45] #1010 closed

[2020-11-11 21:52] wborbajr opened #1013 "🐛 Where is fiber v2 ?????"
**Fiber version**
V2

**Issue description**
could not import github.com/gofiber/fiber/v2 (no package for import github.com/gofiber/fiber/v2)compiler

**Code snippet**

[code]

[2020-11-11 21:52] Fenny commented on #1013
[code]

[2020-11-11 22:11] wborbajr commented on #1013
Thank you.

[2020-11-11 22:11] #1013 closed

[2020-11-12 00:15] hi019 commented on #1012
We don't convert strings into integers for you. Sending `'{ "id":123 }'` works.

[2020-11-12 00:22] hi019 commented on #989
Massive PR #1009 should fix this :)

[2020-11-12 01:55] cyanBone commented on #1012
@hi019
I just want him to make a mistake and get the error inside. The problem now is the result multiple points of unmarshalTypeError.Field.

[2020-11-12 12:17] cyanBone commented on #1012
@hi019
`curl --location --request POST 'http://app.test:8080/category' \ --header 'Content-Type: application/json' \ --data-raw '{ "id":"123" }'`

This request is wrong (id is string type)
I want to get the field of the structure(Cc{}) in the error, but it has an extra "."(What I want is "id", not "id.")
"Id" is parsed in the json parsing of other frameworks

[code]

[2020-11-12 17:37] TomasVojacek opened #1016 "api/:id/wilduri match also api/:id/anything/wilduri"
**Question description**
Is path is defined inside group it match also to /group/:id/_anything_/path

curl 127.0.0.1:3005/api/id/anything/wilduri
return 200 and not return 404 as I expect.

Is this intended?
**fiber version**
v2 v2.1.4
**Code snippet** _Optional_

[code]

[2020-11-13 07:31] yashvardhan-kukreja commented on #1016
This is not an issue. This is working perfectly the way you programmed it.
So, gofiber looks at `/api/id/anything/wilduri`, like, this /api/**id/anything**/wildurl

Where, in the above URL, :id = id/anything

So, basically.. gofiber will match `/api/anything1/anything2/anything3/wilduri` with `/api/:id/wilduri` where :id=anything1/anything2/anything3

[2020-11-13 07:36] yashvardhan-kukreja commented on #1016
If you do not want, such kind of endpoint (like, /id/anything or ), you can configure a regex for :id to make sure that it does not include slashes.

For example, (just an example of regex) ->
"/api/:id(a-zA-Z)"  or "/api/:id(+.)" , etc.

the regex goes inside the parentheses and the :id has to follow the regex otherwise it will give a 404

[2020-11-13 07:53] yashvardhan-kukreja commented on #1016
@TomasVojacek , if you understand my point, I guess this issue can be closed then.

cc: @Fenny @codemicro

[2020-11-13 13:25] Fenny commented on #1016
`app.Group` behaves the same as `app.Use` and match path prefixes. So in your example `:id` will act as an wildcard.

[2020-11-13 13:41] TomasVojacek commented on #1016
From https://docs.gofiber.io/guide/routing
I got feeling that :id will stop after /and :id* turn id to greedy.
Can we extend this part of doc?

[2020-11-13 13:59] TomasVojacek commented on #1016
I understand now that :id is greedy so id can contain /
But I did not understand solution with regex.
[code]
but curl /fixed/abc/test return 404 as well

[2020-11-13 14:00] Fenny commented on #1016
We don't support regex within routes yet, I think he meant to use regex within the handler.

[2020-11-13 15:24] ReneWerner87 commented on #1016
fixed with PR https://github.com/gofiber/fiber/pull/1017

[2020-11-13 15:31] #1016 closed

[2020-11-14 02:32] Fenny commented on #1016
@TomasVojacek fixed in `v2.2.0` 👍 thanks for the report

[2020-11-14 02:34] Fenny commented on #989
@hleinan please try the updated csrf middleware in `v2.2.0` <https://github.com/gofiber/fiber/tree/master/middleware/csrf>

[2020-11-14 17:26] kiwec opened #1020 "🐛 Document threading behavior"
When you start a Fiber app, there is a big block displaying the version, address, and other relevant information. In it, there is a line containing the number of "Threads" that are started. Depending on whether or not prefork is enabled, those can be threads or processes.

When those are processes, using globals with the usual `sync` utils will not work and create race conditions when a unique glo

[2020-11-14 18:24] Fenny commented on #990
@anton7r `CacheDuration` is added in https://github.com/gofiber/fiber/releases/tag/v2.2.0 👍

[2020-11-14 18:24] #990 closed

[2020-11-14 19:30] #989 closed

[2020-11-14 21:24] renatojf opened #1021 "Is it possible to run prefork mode inside docker? 🤗"
**Question description**
When I run fiber with `prefork: false` inside docker, all works fine. `prefork: true` causes the container to panic out.

**Code snippet** _Optional_

[code]

**Output
[code]

[2020-11-15 23:21] akshaybabloo opened #1023 "🚀 Render HTML string"
**Is your feature request related to a problem?**

No

**Describe the solution you'd like**

There is a HTML renderer using `ctx.Render`, but I have a string of HTML that I would like to render but `Render()` looks for file name in `html.new()`. It would be good to have a `ctx.RenderString()` (or something like that) that takes in the HTML string and its bindings

**Describe alternatives you've co

[2020-11-16 06:59] Fenny commented on #1023
Do you need to parse template variables? If not, you can just do the following:
[code]

[2020-11-16 19:17] akshaybabloo commented on #1023
Nice. I will wait for the implementation

[2020-11-17 08:57] aep opened #1026 "filesystem: cache busting"
browsers are inconsistent in their cache handling,
so a common strategy is to append the hash of the content to file names,
like

    img src="cover-123123.png"

should this be part of filesystem or should i do this external?

[2020-11-19 16:00] Fenny commented on #1026
Maybe https://github.com/gofiber/fiber/tree/master/middleware/etag is what you are looking for or https://github.com/gofiber/fiber/tree/master/middleware/cache

[2020-11-19 17:52] hi019 commented on #1021
We just did a little investigation in the Discord. Prefork [uses environment variables](https://github.com/gofiber/fiber/blob/master/prefork.go#L92) so it will need to be executed within a shell. Docker docs:

So execute your app with either `CMD ./app` or `CMD ["sh", "-c", "/app"]`. Let me know if this works.

[2020-11-20 16:07] renatojf commented on #1021
Sorry I have missed the discussion in the Discord chat :(
Thanks a lot for looking into this one. I confirm it runs perfectly now!

[2020-11-20 16:31] #1021 closed

[2020-11-24 01:28] chinaapus opened #1029 "🐛Delete"
Rewriting demo code

[2020-11-24 02:26] chinaapus opened #1030 "🐛 session cannot store the structure"
**Fiber version**

**Issue description**
After testing, the reason is that the session cannot store the structure
**Code snippet**

[code]

[2020-11-24 02:28] hi019 commented on #1029
Closing in favor of #1030.

[2020-11-24 02:29] #1029 closed

[2020-11-24 12:45] hugmouse commented on #1030
Just got the exact same error lol

But I have nothing to say, just an identical problem

[2020-11-24 13:30] hi019 commented on #1012
Our upstream patch has been merged in https://github.com/segmentio/encoding/pull/57 . Please try again.

[2020-11-24 15:40] #1012 closed

[2020-11-24 16:35] K0enM commented on #1030
The problem is in the `session.Save()` method. If you call `session.Get()` when you've set your value, but before `session.Save()` is called, you get the correct value back.

[2020-11-24 19:43] K0enM commented on #1030
The problem is in the following switch statement in write_bytes.go. Because of the user-defined struct, the switch statement chooses the default case, which leads to an ErrUnsupportedType error being thrown and the value not being stored, which leads to the (key, value) pair not being saved.

[code]

After some debugging, I found out that if I added the following case to the switch statement, it w

[2020-11-25 00:58] chinaapus opened #1033 "🤗 Session cookie will be sent every request, wasting bandwidth"
**Question description**
Session cookie will be sent every request, wasting bandwidth
**Code snippet** _Optional_

[code]
![截图_20201125085705](https://user-images.githubusercontent.com/46473093/100168468-4c335180-2efc-11eb-934a-4ce28b203cf5.png)

[2020-11-25 01:00] Fenny commented on #1033
We should only ser the cookie if it's a "fresh" session, this us one of the things being fixed this week. Merging this issue with https://github.com/gofiber/fiber/issues/1030

[2020-11-25 01:00] #1033 closed

[2020-11-25 03:45] Nv7-GitHub opened #1034 "🚀 Streaming?"
**Is your feature request related to a problem?**
I need a way of pushing data to the client because busy waiting is bad. I am familiar with SSE and I was hoping to use this. When I set up SSE though, it didn't work. Instead, the server just returned `Streaming unsupported!`. Is there a way to use SSE in fiber?

**Describe the solution you'd like**
I would like streaming to be supported.

**Descri

[2020-11-25 03:58] Nv7-GitHub commented on #1034
I found [https://github.com/gofiber/fiber/issues/646](https://github.com/gofiber/fiber/issues/646) but I am using an adaptor and I just get the message `Streaming unsupported!`. To be more specific, I am using the SSE library [https://github.com/r3labs/sse](https://github.com/r3labs/sse) with an adaptor.

[2020-11-25 12:26] Fenny commented on #1033
@chinaapus <https://github.com/gofiber/fiber/pull/1032/commits/711911aeea3f92bc4401882e212e12a6bdc9ca9c>

[2020-11-25 19:11] K0enM commented on #1030
Okay, I kinda have it working now, but it's not perfect yet. This afternoon I did some research on msgp and as far as I know, it is not possible to convert the struct into bytes. Therefore, I'm converting the struct into a `map[string]interface{}`, which msgp can convert. My implementation uses [github.com/fatih/structs](github.com/fatih/structs) to convert the structs into maps, after which I tel

[2020-11-25 21:21] #1026 closed

[2020-11-26 14:46] palevoo opened #1036 "🐛 docker app with prefork fails"
**Fiber version**
v2.2.0
**Issue description**
When run dockerized app with prefork enabled it fails with an error straight after starting
[code]
No problem with building the container
Also works with prefork disabled
**Code snippet**
App with prefork
[code]

[code]

[2020-11-26 14:52] jney opened #1037 "🐛 no cors headers while using proxy and cors"
**Fiber version**

v2.2.0

**Issue description**

cors headers not added using both middlewares proxy and cors

**Code snippet**

[code]

[2020-11-26 15:44] #1030 closed

[2020-11-26 17:38] K0enM commented on #1037
A hacky way to fix this is doing this:

[code]

[2020-11-26 19:22] alfuhigi commented on #1036
Try to use other machine version something that come with full version like `golang:1.15.3` or something else without `alpine` tags

app.go
[code]
Dockerfile
[code]
app structure
[code]

[2020-11-26 20:26] kunagpal commented on #1036
@alfuhigi Thanks for sharing the workaround!
I'm facing the same issue, is there no way to use `Prefork` on Alpine Linux? 🤔

[2020-11-26 21:45] Fenny commented on #1034
I'm not familiar with sse nor net/http based libraries. Our adaptor package is not designed to be used for production because it will slow things down ( converting fasthttp -> net/http on each request )

Fiber/Fasthttp supports response streaming to the client using the `SetBodyStreamWriter`
[code]

[2020-11-26 21:52] Fenny commented on #1020
Fixed in https://github.com/gofiber/fiber/pull/1039

![](https://i.imgur.com/mOJEZJh.png)
![](https://i.imgur.com/68zHeF0.png)

[2020-11-26 21:52] #1020 closed

[2020-11-27 08:22] Nv7-GitHub commented on #1034
Wow, I didn't notice this! Thank you!

[2020-11-27 08:22] #1034 closed

[2020-11-27 11:59] hugmouse opened #1040 "🐛 Using a non-standard session config leads to unexpected results"
**Fiber version**
`Fiber v2.2.1`

**Issue description**

If you use a non-standard config when initializing a session, it leads to the following consequences:

- `Set-cookie` becomes invalid because the field with the cookie name becomes `""`

`Set-Cookie: cb98ba09-c8c4-4803-b8da-35e358174a0a; max-age=86400; path=/; SameSite=Lax`

- A new `ID` is created for each request (by using code snippet do

[2020-11-27 12:12] akshaybabloo commented on #1023
Should I close this issue or should I keep it open till the support is added? As in for your reference?

[2020-11-27 12:58] TheFirstCoins opened #1041 "is there any solution for Localization,that we can switch muti languages?🚀"
https://www.iris-go.com/docs/#/?id=localization

the iris framework has this feature!!

[2020-11-27 15:23] codemicro commented on #1041
Hi @TheFirstCoins!

As mentioned in #1001, **Fiber has no built in localisation options.** This would be something you'd have to implement yourself, since Fiber is purely a web framework to build your app on top of.

At present, there are no plans to implement localisation functionality.

[2020-11-28 15:07] #1041 closed

[2020-11-30 13:38] Fenny commented on #1040
Fixed in https://github.com/gofiber/fiber/releases/tag/v2.2.2, thank you @hugmouse

[2020-11-30 13:38] #1040 closed

[2020-12-01 04:16] hugmouse opened #1046 "🐛 Using a third-party database as a session storage leads to panic"
**Fiber version**
`Fiber v2.2.2`

**Issue description**

If you use a third-party database (like sqlite3/postgres) to store session info and then try to get a value that does not exist there, a panic occurs.

A third-party database may be Sqlite3 or Postgres, this error may also occur with other databases, but I was not able to check.

By the way, if you use the standard config, which contains inf

[2020-12-01 04:19] hugmouse commented on #1046
Also in one of my projects now has a `panic: unknown typ:bool`, but so far I have not been able to achieve stable reproduction of this error lol

[2020-12-01 06:25] huangciyin opened #1047 "🚀 provide an option to use json-iterator"
**Is your feature request related to a problem?**
The `encoding/json` do not support zero values of structs with omitempty(https://github.com/golang/go/issues/11939), But json-iterator support.
Related issue: https://jira.mongodb.org/browse/GODRIVER-1332

**Describe the solution you'd like**
provide an option to use jsoniter, for example `go build -tags=jsoniter .`
https://github.com/json-iterator

[2020-12-01 14:11] esoteloferry commented on #683
Hello!,  taking the title as structured logger, I started using go and gofiber recently (so very new , but enthusiastic!).

So I am using the middleware logger to record the requests , but what if I I want to record other events f.e. in gracefully shutdown recipe, I can use logger to save the cleaning tasks. Or simply , to log some events inside the handler. Or to log errors .
What is your approac

[2020-12-01 14:41] Fenny commented on #1046
Your database could be corrupt or have incorrect values, could you try to reset it by doing the following:
[code]

[2020-12-01 23:59] hugmouse commented on #1046
Unfortunately, it didn't change anything. Same error. I even recorded a small video demo, heh

[fiber.mp4.zip](https://github.com/gofiber/fiber/files/5626126/fiber.mp4.zip)

**logs**

[code]

[2020-12-02 06:31] nupamore opened #1048 "🐛 Session id cookie will not be added when don't save any data."
**Fiber version**
v2.2.2

**Issue description**
Session id cookie will not be added when don't save any data.

**Code snippet**
Example: Just use session id as oauth state
[code]

[2020-12-02 06:54] Fenny commented on #1048
Do we need to re-set the cookie even if there is no update? In your example, the cookie that holds the session ID is still present in the client browser? Correct me if I'm wrong.

[2020-12-02 07:33] nupamore commented on #1048
If any data is saved with `sess.Set()`, the cookie creation is fine, but if `sess.Save()` is executed without `sess.Set()`, the cookie is not created. So the cookie does not exist, it will continue to recognize it as a new session

[2020-12-02 07:58] nupamore commented on #1048
session_test.go
[code]
Session middleware explicitly use a method called `Save()`, I think it should be saved regardless of the empty data.

[2020-12-02 08:17] deliri commented on #750
This doesn't appear to work for version 2.
`host.Fiber.Handler()(c.Fasthttp)`
throws an error.

[2020-12-02 08:40] sersh88 commented on #750
`host.fiber.Handler()(c.Context())` works for v2

[2020-12-02 10:10] lovesky opened #1050 "🐛 when the key is not found, Storage.Get returns (nil,nil), which causes gotiny.Unmarshal to fail"
**Fiber version**
v2.2.2

**Issue description**
when the key is not found, **Storage.Get** returns **(nil,nil)**, which causes **gotiny.Unmarshal** to fail

**Code snippet**

https://github.com/gofiber/fiber/blob/master/middleware/session/store.go#L53
[code]

https://github.com/gofiber/storage/blob/main/redis/redis.go#L48
[code]

[2020-12-03 03:19] lovesky opened #1051 "🐛 The session middleware performs deserialization, which will cause a crash"
**Fiber version**
v2.2.2

**Issue description**
Save the session to the database, restart the program, and perform session deserialization will cause a crash.

The following is a simple test, there are two functions, the **test1** is **gotiny.Marshal** and then **gotiny.Unmarshal**, and the test2 is direct **gotiny.Unmarshal**. There is no problem executing the two together. But if you comment out

[2020-12-03 08:12] hulk-baba opened #1052 "🤗 Using context being returned from third party library"
**Question description**
How can I make use of context.Context being returned from the third party library
**Code snippet** _Optional_
[code]

[2020-12-03 08:29] chinaapus commented on #1048
I think the session cookie is only created when the value is set
To avoid meaningless visitor cookies

[2020-12-03 08:40] nupamore commented on #1048
I think meaningless visitors can skip programmatically. If going to skip it automatically, why is there a `Save()` method.

[2020-12-03 10:00] Fenny commented on #1048
The `Save` method is intended to save data to the Storage, but it makes sense that if `Save` is called it should create a session cookie even if no data is present. I will merge your PR 👍

[2020-12-03 10:16] Fenny commented on #1048
This PR will be tagged under `v2.2.3` today 👍

[2020-12-03 10:16] #1048 closed

[2020-12-03 10:18] #1050 closed

[2020-12-03 10:39] Fenny commented on #1046
@hugmouse could you try again with `v2.2.3`?

[2020-12-03 10:43] Fenny commented on #1051
I think we need to expose the `Register` fn in session mw to restore / support custom structs <https://github.com/niubaoshu/gotiny/blob/master/register.go#L116>

[2020-12-03 11:56] nupamore commented on #1048
Thank you for your kind response.

[2020-12-03 17:13] amaury-tobias commented on #1036
in https://github.com/gofiber/fiber/blob/master/prefork.go `133` Use PID to exit
[code]
on Docker the process start on PID 1
[code]
So I run the image with `docker run -it --pid=host fiber-test` and works perfect
[reference](https://docs.docker.com/engine/reference/run/#pid-settings---pid)
[code]

[2020-12-04 04:52] hugmouse commented on #1046
Tested `v2.2.3` with Postgres and Sqlite3 - this panic no longer present. Thank you!

[2020-12-04 04:52] #1046 closed

[2020-12-04 21:08] moneszarrugh opened #1055 "🚀 Better Integration between cache and compress"
**Problem**
When the cache middleware is used with the compress middleware, cached responses need to be re-compressed on every request. This adds 30-60ms latency on my machine for compressing cached responses.

[code]
The code below does not work because cache middleware does not know how to cache compressed content nor does it cache response headers such as `Content-Encoding`
[code]

**Suggested

[2020-12-04 21:14] moneszarrugh commented on #1047
fiber uses jsoniter by default according to docs

https://docs.gofiber.io/api/ctx#json

[2020-12-04 22:33] hi019 commented on #1047
We use https://github.com/segmentio/encoding now, I'll update that shortly

[2020-12-05 00:55] yerlikayao opened #1056 "undefined utils.GetTrimmedParam"
remove.d.

[2020-12-05 00:56] #1056 closed

[2020-12-05 07:05] sujit-baniya opened #1057 "🚀 Implement Fiber Events for Service Discovery"
**Is your feature request related to a problem?**
No
**Describe the solution you'd like**
In Fiber, it would be great, if fiber could implement notification using some kind of event functions. This is the most important aspect for Service Discovery. This could be implemented by using some couple of callback functions like:
`app.OnStarting`
`app.OnStarted`
`app.OnShuttingDown`
`app.OnShutDown`

The

[2020-12-05 17:08] hi019 commented on #1052
I don't understand, can you give an example of what you would like to do with the context?

[2020-12-06 15:44] Fenny commented on #1055
The cache middleware does not check for the content encoding header, I fixed this in https://github.com/gofiber/fiber/pull/1054
Expect a version tag today or tomorrow 👍

[2020-12-06 18:05] MrCull opened #1058 "The README file in this repo has some bad links - [404:NotFound] 🐛"
**Fiber version**
N/A

**Issue description**
The README file in this repo has some bad links - [404:NotFound]

The markup version of the readme that is displayed for the main page in this repo contains the following bad links:

“ErrorHandler”
Status code [404:NotFound] - Link: https://github.com/gofiber/fiber/blob/master/.github/error-handling.md

I cannot find a file name like this in this repo.

[2020-12-06 22:28] #1058 closed

[2020-12-07 04:27] hulk-baba commented on #1052
With the received trace context, we later retrieve span details when we log the request details

[2020-12-07 15:26] evreng opened #1060 "Downstream logging always showing status=200"
I have got a downstream logger, configured as follows:
	app.Static("/", "/path")
	app.Use(FiberLogger)

that is doing something like:
	switch c.Response().StatusCode()

working perfectly for all my handlers except from app.Static() handler, always returning 200:
[code]
My logger:
`{"ip":"127.0.0.1","level":"info","method":"GET","msg":"","path":"/favicon.ico","status":200,"time":"2020-12-07T15:00:1

[2020-12-07 15:26] Fenny commented on #1060
Just like in expressjs, order matters. Try to place your logger middleware on top.

[2020-12-07 15:29] evreng commented on #1060
The logger needs to access the status code and maybe things like bytes sent, which are set after other handlers have processed the request

[2020-12-07 15:31] Fenny commented on #1060
Fiber has a flexible stack chain where you can call the next handler within another handler, this is exactly what many middleware packages do ( including logger ) see <https://github.com/gofiber/fiber/blob/master/middleware/logger/logger.go#L152>

[code]

[2020-12-07 15:37] evreng commented on #1060
Thanks vm Fenny, that's the trick, I need to call next within my Use handler prior to logging

[2020-12-07 15:37] #1060 closed

[2020-12-07 22:48] moneszarrugh opened #1061 "🐛 Cache middleware causes 32-Bit builds to crash"
**Fiber version**
v2.2.3

**Issue description**
cache middleware causes 32-bit builds to crash

**Code snippet**

[code]

[code]

Output:

[code]

[2020-12-07 22:52] Fenny commented on #1061
Related to https://www.programmersought.com/article/69621805140/, I'm in no rush to support 32 bit systems ( a bit outdated ) . But I can accept PR's regarding this issue 👍

[2020-12-07 23:13] moneszarrugh commented on #1061
This was not an issue with v2.2.0 I only updated today and it crashed :disappointed:
I'm running 32 bit in prod :smile:

[2020-12-08 21:12] pjebs opened #1063 "Zero Allocation misunderstanding 🤗"
@Fenny

This is the example is the documentation:

[code]

This is from godoc:
[code]

Perhaps I have a misunderstanding of Go, but `Params()` returns a `string` (not a pointer).
In the example: `result := c.Params("foo")`, `result` creates a **BRAND NEW** copy of the string  via "`:=`".
There is no need for using a buffer to create a `resultCopy`.

Also, `Params()` returns a **BRAND NEW** string.

[2020-12-08 22:13] pjebs commented on #1063
See https://play.golang.org/p/-y53a2reCe0 for an example

[2020-12-09 00:18] Fenny commented on #1063
The underlying string is a pointer to a byte array which is from the Ctx pool ( re-used on every request )
We use the following trick to convert bytes to string without allocation:
[code]

When returned from the handler, all values within the `Ctx` are cleared and re-used for the next request ( hence the insane performance ).  So your string value is not a copy as you mentioned, but rather a point

[2020-12-09 00:21] pjebs commented on #1063
Okay so `Params()` returns pointer.

But `result := ` creates a copy according to https://blog.golang.org/slices (under "strings" section)

[2020-12-09 00:23] Fenny commented on #1063
It creates a variable that holds a string type pointing to a byte slice, this might be confusing. But long story short, the `result :=` variable is only holding a string type that is under the hood is referring to a byte slice in memory ( which is re-used later on and therefore not immutable unless copied )

[2020-12-09 00:27] Fenny commented on #1061
I'm still confused why `v2.2.0` worked on your 32-bit machine and the current version does not. I double-checked the changes and we did not change anything regarding the `atomic` operators. Are you sure `v2.2.0` had no problems? Or did you change something in your application?

[2020-12-09 00:27] #1055 closed

[2020-12-09 00:32] Fenny commented on #1051
You can now use the following to solve this issue:
[code]

Available in `v2.2.4`  https://github.com/gofiber/fiber/releases/tag/v2.2.4

[2020-12-09 00:32] #1051 closed

[2020-12-09 00:32] pjebs commented on #1063
@Fenny can you show me where you got that from. To me, it doesn't seem correct. If you are correct, I have a fundamental misunderstanding of Go which I would like to correct.

[2020-12-09 00:38] Fenny commented on #1063
I might rephrase it wrong, what I'm trying to explain is that the `:=` does not necessarily mean that you are gonna allocate memory. The actual value that is being set determines the action. Maybe this benchmark will clear that up.
[code]
[code]

[2020-12-09 00:40] pjebs commented on #1063
That benchmark output doesn't show allocations in stack. Only heap.

[2020-12-09 00:48] zkdfbb opened #1065 "how to remove the headers X-Xss-Protection X-Content-Type-Options and X-Frame-Options"
If I don't want to use the default headers X-Xss-Protection X-Content-Type-Options and X-Frame-Options
how to completely remove them

this is my solution but it still exists
`c.Set("X-Xss-Protection", "")`

[2020-12-09 00:57] #1036 closed

[2020-12-09 00:57] kiyonlin commented on #1063
Hey @pjebs  How about
[code]
[code]

[2020-12-09 01:00] WLun001 commented on #1052
Not sure what are you trying to achieve. Could you provide code snippet or pseudocode ?

[2020-12-09 01:04] pjebs commented on #1063
@kiyonlin I don't understand how your example is different from @Fenny 's example in the relevant sense.

https://www.ardanlabs.com/blog/2013/07/understanding-pointers-and-memory.html

[2020-12-09 01:06] wlunmp commented on #1057
Service discovery can be achieve with orchestrators like [Kubernetes](https://kubernetes.io/docs/concepts/services-networking/service/) or/and service mesh. My personal opinion is leave this kind of problem to infrastructure level instead of doing it on code level

[2020-12-09 01:06] kiyonlin commented on #1063
Okey, let me show you something interesting
[code]

[2020-12-09 01:07] WLun001 commented on #1057
Service discovery can be achieve with orchestrators like [Kubernetes](https://kubernetes.io/docs/concepts/services-networking/service/) or/and service mesh. My personal opinion is leave this kind of problem to infrastructure level instead of doing it on code level

[2020-12-09 01:14] Fenny commented on #1063
Like @kiyonlin mentioned, we re-use byte slices in Fiber to avoid allocations. Most of our context methods return references to these byte slices. It's hard to control what values are living on the stack or heap, there is a reason why Go does not document this.
[code]

[2020-12-09 01:14] pjebs commented on #1063
I tried your demo. I don't know what it's meant to demonstrate. `c.Params()` returns and logs the route parameter.
`log(a)` logs to console the outer variable a, which was `""` initially, but later got set to `"a"` after the first curl request.

[2020-12-09 01:16] kiyonlin commented on #1065
`c.Set("X-Xss-Protection", "")` This just set the value to empty string.

I think you should use `c.Response().Header.Del("X-Xss-Protection")` instead.

[2020-12-09 01:17] moneszarrugh commented on #1061
Yes I'm sure I just downgraded to `v2.2.0` and it doesn't panic.

[2020-12-09 01:19] Fenny commented on #1063
It demonstrates that `result := c.Params("key")` is just creating a reference to a specific part in memory that will get overwritten at some point and therefore is necessary to copy it (allocate) if you want to move it outside of the handler.

And this should answer the above question?

[2020-12-09 01:20] moneszarrugh commented on #1061
Panics also on `v.2.2.1` so better check there.

[2020-12-09 01:23] pjebs commented on #1063
Yes I can see that. Thanks @Fenny  and @kiyonlin

[2020-12-09 01:26] kiyonlin commented on #1063
And in this example, you should print the pointers not just the values.

https://play.golang.org/p/Uubh-1zbXGy

[2020-12-09 01:28] pjebs commented on #1063
@kiyonlin I just made a small adjustment to your code.

[code]

If you now run your input again, you will see that: `result := c.Params("foo")` will create a new alloc that is independent of the underlying byte array, thus demonstrating that the official recommendation of:

[code]

is unnecessary.

[2020-12-09 01:33] kiyonlin commented on #1063
No I don't think so. Have you ever try your code? I got same result here.

[2020-12-09 01:33] Fenny commented on #1063
I don't think you fully understand what we are trying to explain here.
[code]

[2020-12-09 01:41] pjebs commented on #1063
I'm asserting that you don't need to use `utils.CopyString` because `:=` does that already and I believe my tests confirmed it for me.

Now you guys are confidently saying that I am wrong and you guys are also authorities on the matter.

Due to that conflict, I need to rethink everything tomr when my mind clears up and I'm less confused.

Thank you for your time and consideration.

[2020-12-09 01:46] #1063 closed

[2020-12-09 01:49] Fenny commented on #1063
![tenor](https://user-images.githubusercontent.com/25108519/101563201-1a74bd00-39c9-11eb-8632-fe1c59e41d38.gif)

[2020-12-09 01:58] kiyonlin commented on #1063
Please see this [StringHeader](https://github.com/golang/go/blob/master/src/reflect/value.go#L1977-L1986).

`:=` just gets a copy of `StringHeader` but not the [real underlying data](https://github.com/golang/go/blob/master/src/reflect/value.go#L1984).

[2020-12-09 02:00] pjebs commented on #1063
Yes. I realised that before closing the issue. I wanted to think about it more deeply tomr.

[2020-12-09 02:47] zkdfbb commented on #1065
@kiyonlin thanks! it works

[2020-12-09 02:47] #1065 closed

[2020-12-09 03:29] sujit-baniya commented on #1057
@WLun001  yes Kubernetes does that...
In my opinion, Callback functions on different events of fiber will be more helpful for production without Kubernetes or Docker.
This feature is more about doing something on those events rather than Service Discovery stuff.

Service Discovery is just one of the use case.

Other use case could be:
1) OnStarted, bring up all essential services for the app to wo

[2020-12-09 04:44] zkdfbb opened #1066 "how to get logger in handler"
**Question description**

**Code snippet** _Optional_

[code]

[2020-12-09 04:45] Fenny commented on #1066
Could you try to be more specific about your issue?

[2020-12-09 05:25] kiyonlin commented on #1057
I agree with @WLun001

And hey @sujit-baniya Here are some of my thoughts about your comment above:

Look, if app relies on these `essential services`, they must be setup before app is up unless they are not indeed `essential services`.

Just do cleanup stuff after calling `app.Shutdown`.

With current situation, If we do above stuff before the app is actually up and for some reason App is unable

[2020-12-09 05:28] zkdfbb commented on #1066
@Fenny

In function handler, I want to use logger configured in app, but I don't know how to get it

`
func handler(c *fiber.Ctx) error {
   // ...
}

func main(){
    // ...
    file, err := os.OpenFile("./logs/index.log", os.O_RDWR|os.O_CREATE|os.O_APPEND, 0666)
    if err != nil {
        log.Error("error open log file")
    }
    defer file.Close()
    app.Use(logger.New(logger.Config{

[2020-12-09 06:11] WLun001 commented on #1057
In addition to comment above, here is my thought

@sujit-baniya This is infrastructure problem. If your app depends on some other services, then should start with the sequence.

I guess you mean disconnect to all services, as one service should not shut down other services. Here is an example of [graceful shutdown](https://github.com/gofiber/recipes/tree/master/graceful-shutdown)

With current sit

[2020-12-09 06:14] sujit-baniya commented on #1057
Hi @kiyonlin Thanks for your feedback.
Please help me understand in this situation:

Let's say I'm not using any cloud services or containers. I've couple of fiber application out of which I'm using one of them as load balancer. Other fiber App with their respective IPs and Port are stored on Redis [Manually].
Load Balancer on specific interval goes and pick up those IPs from Redis.

How would I d

[2020-12-09 06:24] WLun001 commented on #1057
What you are doing is building infrastructure to support load balancer and service discovery, which I think of out of scope for a web framework.

Consider the dedicated tools for the following purposes:
- Load balancer : Traefik, Caddy or Nginx
- Service discovery: Linkerd, Maesh, Istio

[2020-12-09 06:44] kiyonlin commented on #1057
@sujit-baniya I also think you need a load balancer like @WLun001 mentioned above.

PS: Nginx has always been my first choice. But maybe you should try Caddy.

[2020-12-09 07:13] sujit-baniya commented on #1057
@kiyonlin @WLun001 Thanks for your suggestion. I was trying Caddy before.

[2020-12-09 07:14] sujit-baniya commented on #1057
BTW what do you think for above functions `OnStarted` or `OnShutdown` implementation in Fiber?

[2020-12-09 07:22] Fenny commented on #1057
I'm not a fan of adding more methods to the framework, is it an idea to allow an optional argument to `Listen` and `Shutdown` that acts as a callback?

[code]
**PS:**: I used the Load balancing feature in [Cloudflare](https://www.cloudflare.com/load-balancing/) for many years without problems, highly recommended (worth the 5$).

[2020-12-09 07:46] sujit-baniya commented on #1057
@Fenny yes exactly like a callback

[2020-12-10 03:35] moneszarrugh opened #1067 "🤗 BodyParser (Refactor)"
`BodyParser` uses a series of `if-else` statements with calls to `strings.HasPrefix` to match the content type

Any reason why it wan't implemented with a simple `switch-case`?

Also, the `else` part is useless since it's returning when a type is matched.

I also suggest defining a global `fiber.Err` type for body parser to better identify body parse errors.

https://github.com/gofiber/fiber/blob/

[2020-12-10 08:29] ridhoperdana opened #1071 "🤗 Passing value from fiber context"
Hi Fiber team,

Thank you for the awesome package. I've got a question regarding assigning value into Fiber Context. We know that we can assign value to Golang Context, and this is very useful.

I've 2 use-cases for this assigned value's context:
1. Retrieving data in custom middleware, assign the value into context, and the data can be retrieved later.
2. Setting up context timeout so the request

[2020-12-11 00:07] Fenny commented on #1067
Tagged in https://github.com/gofiber/fiber/releases/tag/v2.2.5, thanks for the report 👍

[2020-12-11 00:07] #1067 closed

[2020-12-11 00:41] Fenny commented on #1023
We can keep it open until we have time to add this to the Template package 👍

[2020-12-11 00:42] Fenny commented on #1037
I tested your example, and it seems to work well for me. I'm closing this issue, feel free to re-open 👍

[2020-12-11 00:42] #1037 closed

[2020-12-11 00:45] Fenny commented on #1047
I think it's best to use your own json encoding logic on application level, and just use `c.Send` to pass the encoded json to the response. Do you have an example regarding the `omitempty` of zero values?

PS: Updated docs <https://docs.gofiber.io/api/ctx#json> 👍

[2020-12-11 00:46] #1052 closed

[2020-12-11 00:49] Fenny commented on #1066
[code]
`http://localhost:3000/item/123.txt`

[code]

[2020-12-11 00:52] Fenny commented on #1071
Hi, regarding passing values to the Context https://docs.gofiber.io/api/ctx#locals

A better approach is to add the timeout logic to the operation you perform within the handler ( database query for example )

[2020-12-11 01:56] hi019 commented on #1057
This should probably be implemented in the app layer. What about

[code]

[2020-12-11 02:04] Fenny commented on #1057
I think @hi019 and @WLun001 are correct, this should be handled on the application layer. Regarding the callback idea, we think this is not what Rob Pike intended for this language 😅 I'm closing this issue, feel free to re-open. Thank you for your suggestion, keep them coming 👍

[2020-12-11 02:04] #1057 closed

[2020-12-11 02:29] Fenny commented on #1061
Out of curiosity, can I ask why you are deploying a web server on a 32-bit machine?

[2020-12-11 02:35] Fenny commented on #1071
Closing this issue, feel free to re-open 👍

[2020-12-11 02:35] #1071 closed

[2020-12-11 02:36] #1066 closed

[2020-12-11 02:43] moneszarrugh commented on #1061
The 32-bit machine hosts an older version of the app written in php that I'm currently porting to Go with the help of fiber. There's no requirement for 32-bit it's just what's running at the moment. It'll probably be migrated to a newer one when the app is fully ported.

[2020-12-11 12:47] thel5coder opened #1074 "Error when Hit The API from Postman"
**Question description**
I have error
[code]
when i hit the Rest API from Postman. i am using docker. please help.

[2020-12-11 14:59] renanbastos93 commented on #1074
Hi dude, can you share the code for we see?

[2020-12-11 15:34] MrCull opened #1075 "🐛 The README file in this repo has some bad links - [404:NotFound] - "ErrorHandler" + 2 GitHub accounts"
**Fiber version**
N/A

**Issue description**

The markup version of the readme that is displayed for the main page in this repo contains the following bad links:

"ErrorHandler"
Status code [404:NotFound] - Link: https://github.com/gofiber/fiber/blob/master/.github/error-handling.md

Also these two users account seem to no longer exists, or are typed incorrect:
Status code [404:NotFound] - Link: h

[2020-12-11 15:36] MrCull commented on #1075
Oh - I see you already rejected a similar issue a week a go.
Ok I'll close this if you do not want to know about bad links in your readme.

[2020-12-11 15:36] #1075 closed

[2020-12-14 05:58] huangciyin commented on #1047
example: https://jira.mongodb.org/browse/GODRIVER-1332

[2020-12-14 19:47] #1074 closed

[2020-12-15 17:31] HeCorr opened #1077 "Why isn't TLS setup simpler? 🤗"
**Question description**
Hello! I've been researching the fastest and easiest go web framework for the v3 of my API and ended up chosing Fiber. But when looking at how to listen in TLS mode, the code seemed excessively larger than needed.

In pure Go, you'd use `http.ListenAndServeTLS(":443", "cert.crt", "priv.key", nil)`. a simple one-liner.

But in Fiber:
[code]
4 lines, and that's without error

[2020-12-16 02:14] Fenny commented on #1077
Shipped with https://github.com/gofiber/fiber/releases/tag/v2.3.0

[code]

Thank you for the feedback 👍

[2020-12-16 02:14] #1077 closed

[2020-12-16 02:16] Fenny commented on #1047
Maybe we could post this behavior on <https://github.com/segmentio/encoding>?

[2020-12-16 14:51] HeCorr commented on #1077
awesome! thank you very much!

[2020-12-17 01:08] ThomasVictoria opened #1080 "🤗 404 handler seems to override some handlers code"
**Question description**

Hello ! I'm using Fiber as following for my routing but I have some weird stuff happening. On some routes the status code is the one returned by the handler but on some other I get the JSON response I'm sending in the handler but the status code seems to be defined by the 404 handler at the end of my routes (tried to change the code returned by this handler and indeed it

[2020-12-17 01:21] kiyonlin commented on #1080
Hey @ThomasVictoria
I change change your demo like
[code]

And it behaviors correctly here.
[code]

Could you try the example above and may I ask what's your fiber version?

[2020-12-17 01:40] ThomasVictoria commented on #1080
Ok found it. I was missing a return statement on the `c.Next()` in my AuthMiddleware, I'm so dump.

Thanks for the help !

[2020-12-17 01:42] kiyonlin commented on #1080
You are welcome! I'll close this issue then. If you need help or want to chat with us, join us on Discord https://gofiber.io/discord

[2020-12-17 01:42] #1080 closed

[2020-12-17 12:21] hhuseyinpay commented on #489
Hey @Fenny, is this a good way to make global Timeout?

`app.Use(timeout.New(func(c *fiber.Ctx) (err error) { return c.Next() }, 10*time.Second))`

[2020-12-17 12:23] Fenny commented on #489
@hhuseyinpay It's better to use the `ReadTimeout`, `WriteTimeout` or `IdleTimeout` settings in [Config](https://docs.gofiber.io/api/fiber#config) since the `Timeout` middleware seems to have a data race issue.

[2020-12-18 10:44] huangciyin opened #1081 "🐛 The process bootstrap slow when many routes"
**Fiber version**
2.0.0
**Issue description**
When we have many routes(eg >1000), the process start very slow(>10s).
Bootstrap speed is important for serverless environment.
**Code snippet**

[code]

[2020-12-18 14:13] ReneWerner87 commented on #1081
thanks for the report, we will have a look at it and already have an idea where the problem might be, if this is confirmed we can serve with a pull request in a few days, so it should probably be fixed in the next release.

[2020-12-20 12:21] twhit-mrwebapps opened #1083 "Custom Error Func for CSRF Middleware🚀"
**Is your feature request related to a problem?**
Not so much a problem, more about improving usability and functionality.

**Describe the solution you'd like**
I'd like the option to be able to add a custom error response (in the way of a func) for the CSRF token as I wish to have a specific response when the CSRF token has expired / failed which would allow me to ensure the practices being used

[2020-12-21 02:29] hi019 commented on #1083
Agreed this would be a good feature. Should be straightforward, just add the relevant config and replace the two `return fiber.ErrForbidden` with `config.ErrorHandler(c). Would you like to make a PR? We are always available in [the discord](https://gofiber.io/discord) for help.

[2020-12-21 21:20] sandro opened #1084 "🐛 BodyParser does not save empty string to field"
**Fiber version**
 Fiber v2.1.0

**Issue description**
I'm trying to use BodyParser to save an empty string to a field in a struct, but the empty string will not overwrite the existing data in the field.

The bug disappears when I'm able to set the decoder's zeroEmpty to true, i.e. `decoder.ZeroEmpty(true)`.

I wonder if there's a way to allow users to change the decoder when necessary. Perhaps by

[2020-12-22 06:27] pjebs opened #1085 "context user value after request's response returned"
I am currently injecting my database pool via **pre-request-handler middleware**:

[code]

In my request handler:

[code]

**Is it safe to use context user values after the response is returned?** `db` is `*sql.DB`.

Note, the context value gets set to `struct{}{}` after the middleware returns.

[2020-12-22 06:31] kiyonlin commented on #1085
Maybe you should check this valyala/fasthttp#920

[2020-12-22 06:32] pjebs commented on #1085
I only ask due to:

[code]

[2020-12-22 06:51] kiyonlin commented on #1085
When db is closed, `FuncX` may gets issues.
[code]

So I don't think it's safe.

[2020-12-22 06:53] pjebs commented on #1085
In my case, db is **not** closed. Would it still be safe?

[2020-12-22 06:57] kiyonlin commented on #1085
If so it's kinda global db. Yeah, that'd be fine.

[2020-12-23 00:04] sandro commented on #1084
@Fenny Thanks for your consideration. I've added a code sample.

[2020-12-23 06:57] Nv7-GitHub commented on #272
I am having this issue, how do you fix it? I can't find anything on `BodyLimit` in the supplied link

[2020-12-23 06:58] Nv7-GitHub opened #1086 "🤗 413 Request Entity Too Large"
I am uploading a file. I am using the single file upload recipe. It works fine up to 4 MB, but after 4MB I get a 413 status code and the response is `Request Entity Too Large`. How do I fix this?

[2020-12-23 07:01] kiyonlin commented on #1086
Please check for `BodyLimit` in [config](https://docs.gofiber.io/api/fiber#config). It's default to 4M.

By the way, what's your version of Fiber?

[2020-12-23 07:15] Nv7-GitHub commented on #1086
It worked! Thank you! I have fiber version `2.3.0`

[2020-12-23 07:15] #1086 closed

[2020-12-23 14:10] derkan opened #1087 "🐛 Route longest match"
**Fiber version**
v2.3.0

**Issue description**
Routing routes do not differentiate a url element is a params and route. Returns first matched.
If you try the given code snippet, all of the following requests runs `/users/:page?`route.;
GET `http://127.0.0.1:3000/users/combo`
GET `http://127.0.0.1:3000/users/combo/`
GET `http://127.0.0.1:3000/users/1`

In [echo](https://github.com/labstack/echo) f

[2020-12-23 14:11] derkan opened #1088 "🐛 Routing do not differentiate whether an URL element is a parameter or a route"
**Fiber version**
v2.3.0

**Issue description**
Routing do not differentiate whether an URL element is a parameter or a route. Returns first matched.
If you try the given code snippet, all of the following requests runs `/users/:page?`route.;
GET `http://127.0.0.1:3000/users/combo`
GET `http://127.0.0.1:3000/users/combo/`
GET `http://127.0.0.1:3000/users/1`

In [echo](https://github.com/labstack/e

[2020-12-23 14:18] derkan commented on #1087
this issue sent twice because of network problem, so closing it. Sorry for this.

[2020-12-23 14:18] #1087 closed

[2020-12-23 21:12] ReneWerner87 commented on #1088
Right, the order is important, the first route matched in this case, because it allows a variable string at the end.

This behavior is currently expected and sorting the user specified routes would lead to an unexpected behavior.

[2020-12-24 06:26] kiyonlin commented on #1085
I'll close it for now. Feel free to re-open it if you have further questions.

[2020-12-24 06:26] #1085 closed

[2020-12-24 07:19] kiyonlin commented on #1088
I think we should up to users to decide the route order.

And I don't think a const route has higher priority. They are equal.

As @ReneWerner87 mentioned above

[2020-12-25 10:54] Tazeg commented on #788
No `sudo` needed about a file in your home directory.

[2020-12-26 08:10] thep0y opened #1090 "When I run the `Basic Routing` code, there are some routing matching problems🤗"
**Question description**

The responses of route `/:name` and route `/:name/:age/:gender?` are correct.
The responses of route `/:file.:ext` and route `/flights/:from-:to` and route `/api/*` are wrong:
[code]
Which code is incorrect?

**Code snippet** _Optional_

[code]

[2020-12-26 08:27] #1088 closed

[2020-12-26 08:46] ReneWerner87 commented on #1090
thanks for the report, the challenge with these routes is that they use many variable parts on the same levels, here it is important to consider the order

at fiber we get the order of the routes specified by the user to exclude possible side effects or unforeseen processes

since we have chosen this order, the router will be faster by simply processing each route one after the other, we could als

[2020-12-27 21:07] FlymeDllVa opened #1092 "🚀 Selecting JSON formatting"
It would be cool to be able to specify in the configs what type of register `c.JSON()` will use. Yes, I can specify` json: "slug"`, but this is incredibly inconvenient.

For example, I need `camelCase`, but it is problematic to specify it everywhere.

[2020-12-28 07:02] thep0y opened #1096 "How to set encoding format for static files🤗"
**Question description**

If there is Chinese in the javascript file, it cannot be decoded normally

**Code snippet** _Optional_

[code]

[code]

The text displayed in the browser:
[code]
<img width="150" alt="20201228150151" src="https://user-images.githubusercontent.com/51874567/103195776-e6345280-491d-11eb-969e-d0cd5b1b2cd3.png">

[2020-12-28 07:21] kiyonlin commented on #1096
Hey, what's the encoding of `/static/js/index.js`?

I use `utf-8` and get correct answer
[code]

[2020-12-28 07:29] kiyonlin commented on #1096
Oh I also get messy code in the browser.

[2020-12-28 07:48] kiyonlin commented on #1096
I think it's related with browser encoding setting. Change it to `utf-8` will fix the issue.
![image](https://user-images.githubusercontent.com/1214670/103198782-2991bf80-4924-11eb-9e3e-3735aa2689ac.png)

[2020-12-28 07:48] #1096 closed

[2020-12-28 21:19] water-a commented on #403
To use @ftomza 's code on fiber/v2, instead of `ctx.Fasthttp` you have to use `ctx.Context()`.

[2020-12-29 10:57] edisonqkj opened #1097 "🐛middleware websocket can't be used together with cache"
**Fiber version**
github.com/gofiber/fiber/v2 v2.2.5
github.com/gofiber/websocket/v2 v2.0.2

**Issue description**
In the test demo at https://github.com/gofiber/recipes/blob/master/websocket/main.go, as following, i just added some middlewares(including cache at https://github.com/gofiber/fiber/tree/master/middleware/cache) for http services.

**Code snippet**

[code]
When the server started, my

[2020-12-29 16:11] kiyonlin commented on #1097
How about skipping cache middleware for path `/ws`?

[2020-12-29 17:49] myussufz opened #1098 "🚀 Group Routing support continuous path"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
Routing not able to do continue prefix from the group instead it add "/". Example, the fiber router will output as "/api/store/s" but we expected "/api/stores"
[code]
By commenting out this line, it is working fine, but we not sure whether the framework design to not support it.
![image](https://user-images.

[2020-12-30 01:03] kiyonlin commented on #1098
It's related with #1089 .  I rarely see a const route split into two parts. But we can discuss about this with @Fenny and @ReneWerner87 .

[2020-12-30 02:34] myussufz commented on #1098
We are migrating from the echo framework, that framework is supporting this feature.

[2020-12-30 11:04] majined opened #1099 "🐛 Getting 404 randomly with response "Cannot GET /""
**Fiber version**
2.1.4
**Issue description**
Getting randomly some 404 from Fiber with the string "Cannot GET /". After some source code reading, it seems to be coming from router.go, line 132, which means the path it has found for my request is "/", but it is not the case. I'm doing requests on the path "/Api/api". I've used your logger middleware to confirm this with the following format: "${ip

[2020-12-30 11:25] ReneWerner87 commented on #1098
Don't know if we should allow this, in our concept the different routes and groups are always separated with a slash.

You can use this instead and i think this is more readable and understandable
[code]

[2020-12-30 12:00] ReneWerner87 commented on #1099
thank you for your report, unfortunately I do not get this reproduce.

I took your code and tested it with fiber 2.1.4 and 2.3.0

For this i used bombadier and the browser.
[code]

Fiber v2.3.0
go 1.15
MacOs

[code]

What does your server look like, do you use a reverse proxy ? Nginx ? My log entries also look different from yours
![image](https://user-images.githubusercontent.com/7063188/10334999

[2020-12-30 12:02] ReneWerner87 commented on #1090
@thep0y any comments or questions ? otherwise i would close the issue

[2020-12-30 12:03] ReneWerner87 commented on #1081
We will work on it in the new year(january)

[2020-12-30 17:17] myussufz commented on #1098
If like this, then it should be released as a major release, since it will affect people who already use the framework because we test with v2.3.0, it is working fine. Also is better if gives the option to the developer to choose whether want to do continuous path or slash.

[2020-12-31 00:38] kiyonlin commented on #1098
This makes sense. Thank you for your suggestions!

[2020-12-31 00:48] kiyonlin commented on #1099
Hey @majined I'm curious what does `cfg.FiberLogOff` look like? Would you mind to show us?

[2020-12-31 04:00] majined commented on #1099
My bad for the log format: I've given you the one I originally used but after encountering this issue I've added the path to verify my suspicions. So the right log format is this one: `"${ip} - [${time}] "${method} ${path} ${url}" ${status} ${bytesSent} ${latency}\n"`.
And yes I'm using Nginx, and also Haproxy. On the server receiving less requests (the one where the bug doesn't appear), the reque

[2020-12-31 09:18] ReneWerner87 commented on #1099
@majined
We don't get the error, please prepare a minimal setup with which we can test and adjust it.

[2021-01-01 03:33] majined commented on #1099
Sorry, I have no time to prepare such setup. I will keep investigating on my side. I'm more and more thinking it is related to Haproxy. I will close this issue. Thanks for your time.

[2021-01-01 03:33] #1099 closed

[2021-01-02 07:21] #1090 closed

[2021-01-04 09:04] edisonqkj commented on #1097
@kiyonlin
thanks for your reply.
Do you mean setting the cache's Next to nil like following? it does not work either.

[code]

[2021-01-04 09:09] kiyonlin commented on #1097
I mean
[code]

[2021-01-04 09:13] edisonqkj commented on #1097
it works, thanks!

[2021-01-04 09:16] kiyonlin commented on #1097
Okey, I'll close this. Feel free to re-open it if you have more questions.

[2021-01-04 09:16] #1097 closed

[2021-01-04 21:22] mhf-ir opened #1102 "🐛 UnescapePath not working"
**Fiber version**
[code]
**Issue description**
Params not unescape

**Code snippet**

[code]

[code]

Manual unescape will success get unicode param

[code]

[2021-01-05 09:48] twhit-mrwebapps commented on #1083
When I get a chance, I'll look into it, thanks 👍

[2021-01-05 11:46] ReneWerner87 commented on #1102
thanks for your report, this switch is currently only there so that the routing can handle the non-encoded url parameters
https://github.com/gofiber/fiber/blob/master/app.go#L140-L144
![image](https://user-images.githubusercontent.com/7063188/103642834-05516680-4f54-11eb-838d-71ce1899d1da.png)

maybe the name is badly chosen, i'll ask the other maintainers how to proceed, if we change the name or

[2021-01-05 15:29] michael-ottink opened #1103 "How should I pass my store to my handlers🤗"
**Question description**
I am making a new store in my main function and then I pass it to all my handlers but when I make a request to that endpoint the middleware throws an error

**Code snippet** _Optional_

[code]
But I get the following error when making a request to that endpoint

[code]

[2021-01-05 15:54] michael-ottink commented on #1103
Got the answer from the discord server

[code]

[2021-01-05 15:54] #1103 closed

[2021-01-06 18:14] ReneWerner87 commented on #1102
@mhf-ir we are working on the fix -> PR https://github.com/gofiber/fiber/pull/1104/files

[2021-01-06 18:18] ReneWerner87 commented on #1098
@Fenny what do you think about the topic ?
is this a feature for the next version or do we want to leave it like this and continue to delimit the groups with slashes ?

[2021-01-06 23:26] lian-longfeng opened #1105 "🐛 Memory Leak from Compress middleware"
**Fiber version**
v2.3.2
**Issue description**
My fiber server got killed several times due to OOM. Log shows the server's memory climbed over time and eventually took 3G ~ 4G before Linux kernel kills it.
Just remove the line `app.Use(compress.New())` made the memory stable at around 100M.

pprof shows brotli was holding the memory.
![image](https://user-images.githubusercontent.com/58188246/1039

[2021-01-07 01:39] kiyonlin commented on #1105
Hi, I used your code snippet, but I can't reproduce this issue with [wrk](https://github.com/wg/wrk). I suspect the memory leak is related to your other code.

Could you provide more information?

[2021-01-07 02:34] lian-longfeng commented on #1105
@kiyonlin Thanks for the help looking, my full code is here:
[code]

[2021-01-07 02:58] kiyonlin commented on #1105
You did not provide static files. Could you give us a runnable repo and the reproduce steps?

[2021-01-07 03:27] lian-longfeng commented on #1105
@kiyonlin The static file would include my SSL certificate, obviously I can't provide that.
You can use any dummy website static files, html, some js and json.
Also, I found a workaround, which is to "downgrade" the compress middleware to not use "brotli" compression, here is my middleware:
[code]
No memory issue so far, so I suspect the memory leak is from "brotli" compression, and it's also what

[2021-01-07 04:10] kiyonlin commented on #1105
You should install wrk and run `wrk "http://127.0.0.1:port"`

[2021-01-07 04:24] kiyonlin commented on #1105
It's nice if you can simplify the demo(remove ssl) and reproduce this issue.

[2021-01-07 14:36] lian-longfeng commented on #1105
@kiyonlin I found the autosaved pprof allocs profile, is it helpful for you?
[pprof.server.alloc_objects.alloc_space.inuse_objects.inuse_space.008.pb.gz](https://github.com/gofiber/fiber/files/5782156/pprof.server.alloc_objects.alloc_space.inuse_objects.inuse_space.008.pb.gz)
[pprof.server.alloc_objects.alloc_space.inuse_objects.inuse_space.007.pb.gz](https://github.com/gofiber/fiber/files/5782157

[2021-01-08 01:13] kiyonlin commented on #1105
I can see this **alloc_space**:
[code]
So did you send a **huge** file?

And I have no time to dive deeper into `andybalholm/brotli` at the moment. If you have to use it, you can submit an issue on that repo.

[2021-01-08 01:30] lian-longfeng commented on #1105
@kiyonlin no, there's no large file.
And I'm able to reproduce it now with wrk.
`server.go`
[code]
Put a 1Mb dummy.json in the root, I use this: https://jsonplaceholder.typicode.com/photos
Start the server and run `wrk -H "Accept-Encoding: br" -c 200 http://localhost:4000/dummy.json`

Then you will see the memory go up to 4G:
![image](https://user-images.githubusercontent.com/58188246/103963383-1b

[2021-01-08 03:20] kiyonlin commented on #1105
I think I know the reason.

When using `br` to compress response, fasthttp uses `sync.Pool` to [reuse](https://github.com/valyala/fasthttp/blob/master/brotli.go#L44-L56) memory. So more concurrency count, more allocated memory. When you use `-c 100`, the memory will be around 2G.

So this is not strictly a memory leak.

[2021-01-08 03:24] lian-longfeng commented on #1105
Yea I also notice it's connection related, but why when the test is done, the memory is not released?

[2021-01-08 03:29] kiyonlin commented on #1105
They are in `sync.pool` and are slowly releasing, around 2M/s. You can observe the memory usage for minutes.

[2021-01-08 03:40] lian-longfeng commented on #1105
2M/s is ok, but on my machine, I don't see any decline for minutes. The same thing on my server, memory history is a simple climbing graph.
Also In real cases, 200 connection is pretty normal, so if `br` is problematic, can we add a config to tell compress middleware not to use `br`?

[2021-01-08 06:31] kiyonlin commented on #1105
I found this issue valyala/fasthttp#782 and may you should try [this solution](https://github.com/valyala/fasthttp/issues/782#issuecomment-617764897) .

[2021-01-08 16:09] gitmko0 opened #1106 "How do you do hot reloading?🤗"
How do you do hot reloading?🤗
cant find the code

[2021-01-08 16:18] hi019 commented on #1106
For development you can use our cli: https://github.com/gofiber/cli

We do not have a production example.

[2021-01-08 23:04] GarryGaller opened #1107 "How to forcibly close an http connection?"
Fiber does not have a method to close the connection. It is only available in fasthttp. More precisely, fasthttp has a Conn () method, which in turn returns net.Conn and which has a Close method. Access to the fasthhtp instance is not exported (fasthhtp field in the fiber.Ctx structure). How to be?

[2021-01-09 00:34] kiyonlin commented on #1107
Please see [ctx.Context](https://docs.gofiber.io/api/ctx#context).

[2021-01-09 00:34] #1107 closed

[2021-01-09 13:52] pjebs opened #1108 "c.JSON() driver 🚀"
It would be nice to be able to pick different json marshalling drivers instead of stdlib's "encoding/json".

There is so many faster ones:

1. https://github.com/json-iterator/go (drop in replacement for encoding/json)
2. https://github.com/valyala/fastjson
3. https://github.com/francoispqt/gojay
4. https://github.com/buger/jsonparser

[2021-01-09 16:23] hi019 commented on #1108
We use https://github.com/segmentio/encoding/blob/master/json/README.md for json operations

[2021-01-10 08:30] Fenny commented on #1108
Fiber currently uses segmentio which is currently the fastest json encoder as a drop in replacement for STF (faster than json iterator https://github.com/json-iterator/go/issues/455 ) without generating files like fastjson.

JSON benchmark results: https://www.techempower.com/benchmarks/#section=test&runid=706be841-9ca9-4930-a8dd-c238592e3767&hw=ph&test=json&l=zijxtr-73&a=2

I would accept an PR w

[2021-01-10 08:33] Fenny commented on #1047
Moving this to https://github.com/gofiber/fiber/issues/1108

[2021-01-10 08:33] #1047 closed

[2021-01-10 08:35] Fenny commented on #1092
Moving this to https://github.com/gofiber/fiber/issues/1108

[2021-01-10 08:35] #1092 closed

[2021-01-10 08:53] Fenny commented on #1098
I remember we discussed this internally when we introduced the `Group` method, we had to make a choice between both. Like @ReneWerner87 mentioned, we went with the separated slash method because it made more sense.

I'm afraid we cannot change this behavior because it will introduce a breaking change. We are not planning to move to `v3` anytime soon so I'm closing this issue for now.

https://gith

[2021-01-10 08:53] #1098 closed

[2021-01-12 13:48] AchoArnold opened #1109 "🚀 Are there plans to integrate opentelemetry instrumentation"
**Is your feature request related to a problem?**

No  it is not

**Describe the solution you'd like**

Something like this https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/instrumentation/github.com/astaxie/beego/otelbeego so we get automatic instrumentation  for requests when we use opentelemetry. We could also bind this qith the request ID middleware such that it generates

[2021-01-12 16:41] #1106 closed

[2021-01-13 00:46] kiyonlin commented on #1109
Thanks for the suggestion! Personally I think this is a good idea for private/upper projects. But it's a little heavy to integrate this feature into fiber framework.

[2021-01-13 02:13] xuyunan opened #1110 "Can i custom session_id position?🤗"
Like "Lookup" in gofiber/session, I want  save it in header:session_id

[code]

[2021-01-13 04:19] zeroonestring opened #1111 "https://docs.gofiber.io/ 521"
Error 521 Ray ID: 610c4f922f34ebb1 • 2021-01-13 04:18:00 UTC
Web server is down

[2021-01-13 12:40] AchoArnold commented on #1109
Yep, I think perhaps it shouldn't be backed into the framework directly as I guess many people don't care about stuff like this but perhaps have a middleware that can do this. Perhaps the framework itself could support an API to get the complete user context object. but I'm looking at the source code now, it uses the fasthttp to store/retrieve the context values so this is a bit tricky.

[2021-01-13 22:21] hitalos opened #1112 "🚀 Could the "middleware/monitor" show the total and/or free memory of the operating system?"
**Is your feature request related to a problem?**
No.

**Describe the solution you'd like**
Add a graph line to show the total and/or free memory of OS.

**Additional context**
Can I send a PR with a possible solution?

[2021-01-14 01:24] kiyonlin commented on #1109
We are trying to keep fiber slim, so we will control the introduction of external packages. It's good to know you find an expected middleware.

I believe that `ctx.Local` is already fit for this requirement, like you do in your code snippet. what do you think?

[2021-01-14 13:22] AchoArnold commented on #1109
Yep that works Thanks @kiyonlin

[2021-01-14 13:22] #1109 closed

[2021-01-15 13:14] gxdvip opened #1114 "🤗 How to use fasthttp client in fiber?"
**Question description**

I don’t know how to get fasthttp client in fiber.
I want to request an open api.

[2021-01-15 13:33] kiyonlin commented on #1114
Fiber doesn't wrap anything about fasthttp client, you can use it directly.

[2021-01-15 13:38] Fenny commented on #1114
Fiber does not wrap the fh client like @kiyonlin mentioned. But you can easily import the fh package to use the client along with the `Request` and `Response` properties directly.

[code]

[2021-01-15 13:40] Fenny commented on #1112
PR's are always welcome!

[2021-01-15 13:40] Fenny commented on #1111
Should be online again 👍

[2021-01-15 13:40] #1111 closed

[2021-01-15 13:44] gxdvip commented on #1114
@Fenny Why not wrap it up? This is more convenient to use.

[2021-01-16 16:34] itgelo opened #1115 "🤗 How to get logger..."
**Question description**
How to get response body and all query string without specific key?

**Code snippet** _Optional_

[code]

[2021-01-16 23:31] GarryGaller opened #1116 "Cache Middleware: cache only responses where status == 200"
How to make sure that responses with a status not equal to 200 are not cached?

[2021-01-17 00:37] hi019 commented on #1116
You can use the Next config param to check the status code. Check the documentation in the middleware folder. I'm on mobile right now so let me know if you need a sample later.

[2021-01-17 12:54] GarryGaller commented on #1116
The Next function is not applicable for the response status, because the status is assigned to the response only before it is sent.
Accordingly, you cannot check the status in the Next function.

[2021-01-17 18:17] itgelo opened #1117 "🤗 Get status code middleware"
**Question description**
i have tried to get status code but the result always `200`
![image](https://user-images.githubusercontent.com/15007559/104852001-d7dcc380-592a-11eb-86f0-b8f902aceae1.png)

**Code snippet** _Optional_

[code]

[2021-01-17 18:25] Fenny commented on #1115
Full query or response body is not available in logger, PR's are welcome!
https://github.com/gofiber/fiber/tree/master/middleware/logger#constants

[2021-01-17 18:26] #1102 closed

[2021-01-17 18:26] #1023 closed

[2021-01-17 18:26] #1061 closed

[2021-01-18 00:51] kiyonlin commented on #1117
Hey, the initialed status code is always 200, you should get it after `c.Next()` like this
[code]

[2021-01-18 02:35] #1117 closed

[2021-01-18 05:03] OrenBen-Meir opened #1118 "Recover Middleware Stacktrace🚀"
I think it would be a good idea that the recover middleware has an option to print the stack trace of your panic.  It should be off by default but for development and staging environments, it is very helpful when debugging.

[2021-01-18 05:04] #1118 closed

[2021-01-18 05:05] OrenBen-Meir opened #1119 "🚀 Recover Middleware Debug Stacktrace"
I think it would be a good idea that the recover middleware has an option to show the stack trace of your panic. It should be off by default but for development and staging environments, it is very helpful when debugging.

[2021-01-19 02:25] akshaybabloo commented on #1023
@Fenny were you able to add this?

[2021-01-19 02:26] akshaybabloo commented on #1023
@Fenny were you able to add this?

[2021-01-19 02:48] zMrKrabz opened #1120 "🐛 Fiber static returns 304 when fetching / or any js fies"
**Fiber version**
v2.3.2

**Issue description**
Fiber returns 304 for all requests made to static file server. My static folder is a small React app.  Every request made to `/` or any of the javascript resources returns 304, and the index.html page renders. The fiber console prints
[code]
On request

**Code snippet**

[code]

[2021-01-20 04:13] yquansah commented on #1108
I seek to address this issue here: https://github.com/gofiber/fiber/pull/1121 if you all want to take a look.

[2021-01-20 05:15] kiyonlin commented on #1120
You can see this SPA demo in our [recipes](https://github.com/gofiber/recipes/blob/master/spa/main.go)

[2021-01-20 05:15] #1120 closed

[2021-01-20 11:38] xenowits commented on #1112
So are u currently working on this?

[2021-01-20 17:35] doppelganger113 commented on #272
Always check the library code, found it immediately:
[code]

[2021-01-20 19:33] hiqsociety opened #1122 "Can you use websocket from fastws?"
https://github.com/dgrr/fastws

this is much better than the websocket u are using now

[2021-01-20 21:32] hi019 opened #1123 "Docs down for some users"
https://docs.gofiber.io is responding with Cloudflare 521's for some users. Please do not create another issue about this as we are aware of the problem and are working to resolve it. The docs are hosted on Gitbook, so it is likely an issue on their side.

For now, affected users can view our Github repository: https://github.com/gofiber/docs

[2021-01-21 00:50] kiyonlin commented on #1122
Thanks for the suggestion!

I see that fastws now is not going to support `Read message using io.Reader` and `Write message using io.WriteCloser`.

Further more, `fastws.Conn` does not have same signatures against `websocket.Conn`.

So if we replace gorilla with fastws, it will cause breaking changes.

I think you can develop another websocket middleware on top of fastws and make a PR to our [thir

[2021-01-21 09:10] xenowits commented on #1116
Hi @Fenny . I want to solve this issue. Can u plz point me to the correct direction??
Also @GarryGaller How did u know that nothing was cached? Plz help me understand the issue.

[2021-01-21 13:54] da4z opened #1124 "vscode Press F5 to open debugging, print garbled"
**Question description**
vscode Press F5 to open debugging, print garbled
**Code snippet** _Optional_

[code]
![批注 2021-01-21 215120](https://user-images.githubusercontent.com/46473093/105360165-44a9d380-5c33-11eb-917c-3d1019cc7a5e.png)

[2021-01-22 01:38] Fenny commented on #1123
I disabled cloudflare proxy for now, this should resolve the issue for NA clients.

[2021-01-22 02:45] svcg opened #1126 "how to use the go-socket.io replace fiber websocket"
I use the `socket.io-client.js` in the front end. Because i want to listen something of events.
The gofiber/websocket isn't unable the project requirements.
When i use the `go-socket.io `, appear anything of the error.
the demo link : https://github.com/googollee/go-socket.io/tree/master/_example

that is my code

[code]

[2021-01-22 02:53] kiyonlin commented on #1126
Sorry, I can't understand your issue. Could you give us more error info or a runnable demo to reproduce your issue?

[2021-01-22 03:27] kiyonlin commented on #1126
[code]
I use `websocat` to test it and fail

[code]

I don't think `socket.io` is fit for fiber.

[2021-01-22 03:32] hi019 commented on #1126
Yep, socket.io uses a specific 'protocol' or format on top of websockets (or fallbacks like http) which we don't support.

[2021-01-22 04:06] svcg commented on #1126
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

        Yes, I test always like your. In fact , If I use the fiber/websocket, just use the original websocket request. My project wanna use the socket.io.js like this library  ( Nuxt + fibberr )， listen events and dosomething.Are you plan update fiber/websocket? Support some eve

[2021-01-22 04:33] Fenny commented on #1124
@chinaapus, can you try it with the english pack?

[2021-01-22 04:38] kiyonlin commented on #1126
No I don't think so at the moment.

[2021-01-22 04:43] #1122 closed

[2021-01-22 07:08] ruralcoder opened #1127 "🐛 ClearCookie does not remove cookie"
**Fiber version**
v2

**Issue description**
 ClearCookie does not remove cookie

**Code snippet**

I have 2 routes.

1. a POST Sign in route to set the cookie
[code]
and second route is a POST for sign out which removes the cookie

[code]

In chrome, the cookie continues to exist after Sign Out and user able to make calls to restricted routes.
Chrome Version `87.0.4280.141 (Official Build) (x86_64

[2021-01-22 07:16] kiyonlin commented on #1127
Cookie is stored in browsers unless it's expired. You can
1. delete it in frontend
2. set the same cookie with an expired time

[2021-01-22 08:48] ruralcoder commented on #1127
Apart from the fact that `c.ClearCookie("JWT")` should be functional, the client side javascript cannot remove it because of the `HTTPOnly = true`.

I also tried to change the expiration time, but no luck.

[2021-01-22 09:01] kiyonlin commented on #1127
I wrote a demo and it worked. Please try it and tell me if it works on your side.
[code]

[2021-01-22 09:02] #1126 closed

[2021-01-22 09:03] ruralcoder commented on #1127
I can get it to work with

[code]

and the browser accepts it, and wipes it after 3 seconds.

It unblocks me, however,  `c.ClearCookie` still does not work for me.

[2021-01-22 09:08] kiyonlin commented on #1127
Could you try `cookie.Expires = time.Now().Add(-3 * time.Second)`?

And `c.ClearCookie` internally sets cookie expiration to `CookieExpireDelete = time.Date(2009, time.November, 10, 23, 0, 0, 0, time.UTC)`

[2021-01-22 09:13] ruralcoder commented on #1127
Cookie was removed with -3

[2021-01-22 09:17] ruralcoder commented on #1127
Just tried it again with c.ClearCookie("JWT") and still did not work.

[2021-01-22 09:17] kiyonlin commented on #1127
Tbh, there is no reason that `c.ClearCookie` does not work. I believe maybe somewhere is not right.

[2021-01-22 09:18] ruralcoder commented on #1127
Here is my code
[code]

[2021-01-22 09:19] kiyonlin commented on #1127
Okay, could you please give us a runnable demo to reproduce this issue?

[2021-01-22 09:52] ruralcoder commented on #1127
[code]

[2021-01-22 09:55] ruralcoder commented on #1127
I think I know what it is

When I do it, curl returns me
```Set-Cookie: JWT=deleted; expires=Fri, 22 Jan 2021 09:53:25 GMT; domain=mydomain.com; path=/; HttpOnly; SameSite=Lax```

which includes the domain `domain=mydomain.com`

So how would ClearCookie know the domain if it's not a parameter and perhaps it does not use what it knows from the cookie.

curl shows me that when using ClearCookie I ge

[2021-01-22 10:00] ruralcoder commented on #1127
Perhaps there is more information behind the scenes

`c.fasthttp.Request.Header.Cookie("JWT")`

But I don't have access as fasthttp is not exported.

[2021-01-22 10:22] ruralcoder commented on #1127
I think I found another issue...

After running the cookie with and without domain, the browser somehow remembers both tokens with the same key.  So now when Chrome sends the http get /account/me it sends 2 JTW cookies

from Chrome.
[code]
Never seen this before, same key. twice. Also weird it does not show up in the Application / Cookies for me to delete. I will try to reset my cookie cache, but

[2021-01-22 10:26] ruralcoder commented on #1127
Wiping the browser cookie cache fixed the issue. But the concern of the code hitting this in production....

Perhaps `c.Cookies("JWT")` returns an array.

[2021-01-22 10:30] kiyonlin commented on #1127
See `Ctx.Context`

[2021-01-22 13:30] xenowits commented on #1083
is this issue resolved?? @hi019

[2021-01-22 14:00] chinaapus commented on #1124
@Fenny using english package , It seems that echo is normal

![批注 2021-01-22 215951](https://user-images.githubusercontent.com/46473093/105500040-46d86480-5cfd-11eb-97d3-40b40dc58187.png)

![批注 2021-01-22 215525](https://user-images.githubusercontent.com/46473093/105499816-f8c36100-5cfc-11eb-996e-b52eaa766d3a.png)

[2021-01-22 16:19] LyncHub opened #1128 "Hijack connection🚀"
**Is your feature request related to a problem?**
Yes

**Describe the solution you'd like**
Please add some sort of Hijack method as provided in both the standard http package as well as fasthttp.

**Describe alternatives you've considered**
I can't find any.

**Additional context**
I am trying to use gofiber as a proxy server. I would like to hijack the connection and tunnel the data between a cl

[2021-01-23 00:52] kiyonlin commented on #1127
I googled it, and found this [how-to-handle-multiple-cookies-with-the-same-name](https://stackoverflow.com/questions/4056306/how-to-handle-multiple-cookies-with-the-same-name), maybe you can take a look.

[2021-01-23 00:55] kiyonlin commented on #1127
You're right, nice catch! I think you can use custom way to delete the cookie.

I'll submit this issue to fasthttp. Thanks again!

[2021-01-23 01:08] Fenny commented on #1127
Related to https://github.com/gofiber/fiber/issues/692. The `ClearCookie` fn does not know the specific cookie properties set on the client ( like domain, httponly, secure etc ) and some browsers ( differs between chrome and firefox ) require you to set the same properties when expiring an cookie. Other web frameworks have the same problem ( expresssjs ). We do have an idea to come with an user fr

[2021-01-23 01:20] kiyonlin commented on #1128
Do you mean this?
[code]

[2021-01-23 03:35] #1128 closed

[2021-01-24 09:46] ReneWerner87 commented on #1119
thanks @tianjipeng for the pull request #1131

[2021-01-24 09:48] ReneWerner87 commented on #1115
thanks @xenowits for the pull request #1132

[2021-01-24 10:38] ReneWerner87 commented on #1081
with 4002 handlers
![image](https://user-images.githubusercontent.com/7063188/105627674-7f308d80-5e38-11eb-8976-f36d2079372a.png)

with 2 handlers
![image](https://user-images.githubusercontent.com/7063188/105627691-9cfdf280-5e38-11eb-8f04-e7e2e0bcbec3.png)

you are right with the 4000 routes the start process takes quite a bit longer

I will try to optimize this

[2021-01-24 12:10] ReneWerner87 commented on #1081
with 4002 handlers:
![image](https://user-images.githubusercontent.com/7063188/105629658-aab97500-5e44-11eb-94ec-62dd5cc43e62.png)

with 2 handlers:
![image](https://user-images.githubusercontent.com/7063188/105629661-aee59280-5e44-11eb-9452-2c29949ce14e.png)

PR here: https://github.com/gofiber/fiber/pull/1134

[2021-01-24 14:16] GarryGaller commented on #1116
xenowits, "How did u know that nothing was cached?"
My logger (not the fiber logger) outputs intermediate information about the execution of the work.
If the data is cached, there is no output. There is only the final fiber logger.

[2021-01-25 05:18] sweepyoface opened #1136 "🚀 cache middleware: set maximum size of cache"
**Is your feature request related to a problem?**

In a way. My problem is that I want to set `Cache-Control: public, max-age=31536000` on my responses, but when using the cache middleware that also means I have to cache the response on the server side for the same duration. This brings up memory usage concerns.

**Describe the solution you'd like**

I'd like to set the maximum size that the cache

[2021-01-25 15:59] xenowits commented on #1136
@ReneWerner87 can u plz assign me to this issue?

[2021-01-25 16:15] ReneWerner87 commented on #1136
Sure

[2021-01-26 18:11] sotanodroid commented on #1124
Confirm that.

vscode settings:
[code]

Golang 1.15.4
Fiber 2.3.3

![image](https://user-images.githubusercontent.com/37491198/105886001-f756a900-601a-11eb-996c-6fcc8652d47c.png)

[2021-01-27 14:04] hakwerk opened #1138 "🐛 Session corrupted after save to sqlite3"
**Fiber version**
v2.3.3

**Issue description**
When running below test, after setting the name and then getting it, the value is as expected. But after the Save() call the second get fails, the result is nil.
Then when running the test again (now the file fiber.sqlite3 exists) it crashes with a "panic: reflect: New(nil)" and the suggestion to use RegisterType. This is my main issue but I assume t

[2021-01-28 04:34] pjebs commented on #41
How can I use this feature from a `_test.go` file? It appears you need a reference to `app` variable.

[2021-01-28 10:25] yaliv commented on #41
You can prepare a function, which creates a Fiber app and use middleware(s) that you want to test.
For example:
[code]

Then use that function in your test codes:
[code]

[2021-01-30 07:44] fengnex opened #1139 "🤗 What's the main difference in the throughout between v1.* and v2.*?"
**Question description**
I had some stress tests on fiber v1.14.6 by accessing a local sqlite (query a few records) or remote redis (get a short string value) and found that the result throughtput can up to around 12000 requests/s.

[code]
But the above sentence actually downloads and uses fiber v1.14.6, rather than v2.*. What I wonder is how to let it use fiber v2 instead and the performance dife

[2021-01-30 07:51] kiyonlin commented on #1139
Please see [v2 - Changelog](https://github.com/gofiber/fiber/issues/736)

[2021-01-30 07:52] fengnex commented on #1139
go.mod's contents:
module qc.com/m/v1

go 1.15

require (
        github.com/gofiber/fiber v1.14.6
        github.com/gomodule/redigo v1.8.3 // indirect
        github.com/jinzhu/gorm v1.9.16
)

[2021-01-30 08:19] xenowits commented on #1136
@ReneWerner87 any ideas how this can be implemented? I have been thinking but couldn't get any definitive idea.

[2021-01-30 09:08] sweepyoface commented on #1136
To take the same approach as many popular caching libraries, one could assign a weight to each entry (based on its size) and then configure the maximum weight of the cache. Lower-weighted items would be evicted first using some sort of logic.

[2021-01-30 09:28] ReneWerner87 commented on #1136
@xenowits i saw something in fasthttp library, will share it with you in some hours

[2021-01-30 10:44] ReneWerner87 commented on #1136
hmm had just looked, but find nothing

think you would have to look in the garbage collector loop again and again, how large the dataset is (unsafe.SiteOf) and then if necessary the oldest out, but for this they must first be marked or you create a slice with the keys in which order was added

would do it concurrently in the garbage collector, of course you can do it every time with the set, but t

[2021-01-30 16:13] Topup3 opened #1140 "Session storage with mongodb, redis etc. 🤗"
**Hi, anybody give me an example for Session storage with mongodb, redis etc.**

I tried many thins but I can't run, always return reflect:New(nil) and "[session] Register this type first with the `RegisterType` method.
" print.

Which are I tried:

[code]

I think it musn't be complicated, I can't see some points but which points?

[2021-01-30 18:09] Topup3 commented on #1140
I solved problem, it's coming from because of already stored datas which are untyped.

Full solutions for who need this;

[code]

Get & Set

[code]

[2021-01-30 18:09] #1140 closed

[2021-01-31 17:15] Fenny commented on #1119
https://github.com/gofiber/fiber/releases/tag/v2.4.0

[2021-01-31 17:15] #1119 closed

[2021-01-31 17:15] Fenny commented on #1115
https://github.com/gofiber/fiber/releases/tag/v2.4.0

[2021-01-31 17:15] #1115 closed

[2021-01-31 17:15] Fenny commented on #1112
https://github.com/gofiber/fiber/releases/tag/v2.4.0

[2021-01-31 17:15] #1112 closed

[2021-01-31 17:15] Fenny commented on #1108
https://github.com/gofiber/fiber/releases/tag/v2.4.0

[2021-01-31 17:15] #1108 closed

[2021-01-31 17:16] Fenny commented on #1083
https://github.com/gofiber/fiber/releases/tag/v2.4.0

[2021-01-31 17:16] #1083 closed

[2021-01-31 17:16] Fenny commented on #1081
https://github.com/gofiber/fiber/releases/tag/v2.4.0

[2021-01-31 17:16] #1081 closed

[2021-01-31 17:17] Fenny commented on #1139
@fengnex, are you having problems using v2?

See https://github.com/gofiber/fiber/issues/824 if it helps with initializing your go.mod

Make sure you are using `github.com/gofiber/fiber/v2` for your import paths.

[2021-01-31 20:59] Dikman opened #1141 "🐛 Can not call API when Prefork=true for v2.4.0"
**Fiber version**
v2.4.0

**Issue description**
I can not call API when Prefork=true
[code]

**Code snippet**

main.go
[code]

go.mod
[code]

**PS**
If I removed the line with "Prefork: true", all will be work.

[2021-01-31 22:22] ReneWerner87 commented on #1141
thanks for the report

are you using docker ? or native golang on your system ?
which operating system are you using and in which shell do you start the server ?

[2021-02-01 06:58] irgeek commented on #1141
I've just run into the same issue.

No.

Yes

I'm running on macOS Catalina (10.15.7)

[code]

I also tried `csh`, `sh` and `dash` but they had the same result -- a single-process server responds correctly, but when prefork is enabled every request results in a 404.

[2021-02-01 08:20] ParvizMoshfeg opened #1142 "🐛 Static File in v2 doesn't work"
**Fiber version**
v2.4.0

**Issue description**
When I use this simple Code here for v1, it works well. You can see it here http://con.onl/hero/ .
HUGO is used to create the static site "hero". The same code with v2 doesn't work at all.
Would you please check, what is wrong here. Thank you.

**Code snippet**

package main

import  "github.com/gofiber/fiber/v2"

func main() {
    app := fiber.New()

[2021-02-01 09:25] fengnex commented on #1139
@Fenny The original go programs need many modificiation before it can correctly run, but what made me surprise is that the result throughput of v2 falls from acround 12800 to 11600 according to several stress tests. The tested url is http://server-ip:3000/api/v1/book/.

What is the root cause for the above test result? What should I do to improve it or how should I understand that?

The new progra

[2021-02-01 09:31] fengnex commented on #1139
book.GetBooks:
[code]
There are only 3 simple records in the local sqlite database.

[2021-02-01 15:49] taisph commented on #1142
@ParvizMoshfeg Could you add some logs or other indication that supports "doesn't work at all"?

In any case, the code works here. Note that `app.Listen(":80")` will return the error `listen tcp4 :80: bind: permission denied` if it cannot bind to port 80, which is usually the case when not running as root. It could also return `listen tcp4 :80: bind: address already in use` if the port is already

[2021-02-01 17:08] Dikman commented on #1141
I am using PS with Windows 10 and native GO. I do not use Docker.
[code]

[2021-02-01 17:44] mikeychowy commented on #1141
Windows have problems running prefork, i mostly use docker or wsl if i want to test out the prefork.

Better yet, maybe it's time to change os? Linux is immensely useful for development anyway.

[2021-02-01 18:22] ParvizMoshfeg commented on #1142
Hello Taisph. Thank your ro your replay.
I use a fresh Ubuntu 20.04.2 LTS  and there are only a control panel "aaPanel" , Golang and HUGO installed.
I'm sure that port 80 is free, when I start the service, because, first I stoped the service of fiber/v1 and check the service status, second I see the port status on my control panel: "not listening". After that, I change the line with import "github

[2021-02-01 18:35] taisph commented on #1142
http://con.onl/hero/index.html works, so try configuring app.Static to use index.html by default. Like so:

[code]

[2021-02-01 19:13] ParvizMoshfeg commented on #1142
Yes, the http://con.onl/hero/index.html  works. Also the http://con.onl/hero works.
The Problem is, as soon as you click on a menu (like Services or Work) then you get in brwoser this:
Cannot GET /hero/services/

services and work are subfolders in Mainfolder hero/public
I've puted your Code in main.go and stoped the service and again started it. But  it doesn't help. I will try the same thing on

[2021-02-01 20:03] Dikman commented on #1141
Maybe you are right, it needs to think about...
But v2.3.3 doesn't have this problem.

[2021-02-01 21:32] ParvizMoshfeg commented on #1142
Hello. I've finished my tests and I can confirm, that the behavior on Windwos10 is excatly the same like on Linux.
But I found out, what works and what dosn't work. In both cases I didn't see any error or messages.

____________________________________________________________________________
What works in v1 and v2:  When not using any prefix neither in Fiber-Code nor in HUGO-Config.toml
HUGO-Conf

[2021-02-01 22:37] pjebs opened #1143 "SetUserValue vs Locals 🤗"
I was wondering what the intended use case of `SetUserValue` vs `Locals` was?

They both seem to be request-scoped and you set data and retrieve the stored value.

[2021-02-02 00:31] kiyonlin commented on #1143
`Locals` comes from [Express/locals](https://expressjs.com/en/api.html#res.locals), because Fiber is an Express inspired web framework.

[2021-02-02 01:24] pjebs commented on #1143
which should I use?

[2021-02-02 01:27] kiyonlin commented on #1143
`Locals` is only a wrapper of `SetUserValue`, so it's up to you.

[2021-02-02 01:35] kiyonlin commented on #1141
Thanks for reporting, I will fix this asap.

[2021-02-02 01:45] #1141 closed

[2021-02-02 01:49] #1143 closed

[2021-02-02 01:54] kiyonlin commented on #1141
Released [v2.4.1](https://github.com/gofiber/fiber/releases/tag/v2.4.1)

[2021-02-02 02:54] dpjungmin opened #1146 "Question regarding graceful shutdown."
I was trying out the **graceful shutdown** example from [recipes](https://github.com/gofiber/recipes/tree/master/graceful-shutdown) and fell into a problem.

I followed the graceful shutdown example and it worked well when I sent an interrupt signal before sending any requests. However, after I send a `GET` request to `/`, the application was hanging on at `app.Shutdown()`.

Could I get any help r

[2021-02-02 03:07] kiyonlin commented on #1146
Hey @dpjungmin I guess you used a browser to send a request. In this case, you should set a `ReadTimeout` in fiber.Config like
[code]

[2021-02-02 03:19] dpjungmin commented on #1146
Thank you @kiyonlin ! This solved my problem :)

[2021-02-02 03:19] #1146 closed

[2021-02-02 12:48] ParvizMoshfeg commented on #1142
Hello, I've checked other SSGs than Hugo, like Gatsby and Jekyll. They have also a concept of baseurl which allows them serve the website from a url that has a sub directory. So I guess, this Issue of using Prefix is not trivial.

[2021-02-02 16:39] Topup3 opened #1147 "🐛 Typed Sessions Crashing the app if We don't reset previous sessions while first run"
**Fiber version**
v2.4.0

**Issue description**
When we registertype for sessions everything is working on first run, but if we added some other sessions different than registered type, when we restart the app, session is crashing the app.

***First Run :arrow_right: Save specific typed session without reset option, save another session with default string typed :arrow_right: Nice working :arrow_r

[2021-02-03 00:43] kiyonlin commented on #1116
Please try v2.4.1, and feel free to re-open this if you still have problems.

[2021-02-03 00:43] #1116 closed

[2021-02-03 00:43] #1123 closed

[2021-02-04 02:42] fengnex commented on #1139
Is there anyone who would be so kind as to explain the performance differences between fiber v1.* and v2.*?
Can we achieve an increase in fiber v2's performance and how to implement that?

[2021-02-04 02:46] kiyonlin commented on #1139
Could you provide an easy and runnable repo to reproduce your issue?

And tell us which benchmark loader you use.

[2021-02-04 02:48] #1105 closed

[2021-02-04 07:23] abhijitgujar86 opened #1148 "I cannot find any function to read the headers of request 🚀"
**Is your feature request related to a problem?**
It will be good if we have an  function to head the header(s) from request
**Describe the solution you'd like**
the function can return a json array containing key value objects of headers
**Describe alternatives you've considered**

**Additional context**

[2021-02-04 07:36] ReneWerner87 commented on #1148
you can fetch individual headers with the ctx.Get function, which is mapped to express
https://docs.gofiber.io/api/ctx#get
https://expressjs.com/de/4x/api.html#req.get

to get to all headers you have to use the functions of fasthttp
![image](https://user-images.githubusercontent.com/7063188/106859541-7f941880-66c3-11eb-8655-2e7935ea018a.png)

// Header returns request header representation.
c.Requ

[2021-02-04 08:44] fengnex commented on #1139
The source code of tested go application using fiber v1 and v2 can be found from the above code.
vegeta (https://github.com/tsenart/vegeta) was used to generate the test results mentioned here, you can obtain similar stress test records using a command like:
[code]

[2021-02-04 09:00] kiyonlin commented on #1139
Sorry, I don't think these code is complete and runnable. By any chance can you at least make `/api/v1/rtest` runnable?

[2021-02-04 09:02] kiyonlin commented on #1139
And I saw `socket: too many open files` error in your output, did you set limitation of socket(fd) correctly?

[2021-02-04 09:17] fengnex commented on #1139
The complete test programs that use fiber v2 are as follows:
1. main.go
[code]
2. book/book.go
[code]
3. database/database.go
[code]

4. go.mod
[code]

Related configuration of ```socket: too many open files```:
[code]
The url (http://fiber-app-ip:3000/api/v1/rtest/) is to obtain a string value from redis by calling redis's get. The result throughput is similar with that of accessing local sqlite;

[2021-02-04 09:22] fengnex commented on #1139
All the tests are executed on CentOS Linux release 7.8.2003.
The test server has 6 cpu cores and 64Gb of memory.

[2021-02-04 20:02] Dikman commented on #1141
Thank you very much! This works :)

[2021-02-05 00:47] kiyonlin commented on #1139
I think I found the reason.

This config `IdleTimeout: time.Duration(120)` in the redis pool means 120ns, so you'll dial redis almost all the time. Please change it to `IdleTimeout: time.Second * 120`, and set config `Wait: true`.

The vegeta result on my machine looks like

{"latencies":{"total":30829800748,"mean":237152,"50th":132145,"90th":159838,"95th":201268,"99th":816517,"max":32812825,"min"

[2021-02-05 02:24] fengnex commented on #1139
@kiyonlin You are right and I found the maximum throughput in my environment can reach 30880 requests/s, which I think is a great one.

But there is a throughput decline about 400 requests/s when I attacked ```http://fiber-app-ip:3000/api/v1/book/``` accessing local sqlite in the same environment.

The detailed result of v1:
echo "GET http://fiber-app-ip:3000/api/v1/book/" | ./vt attack -rate=1600

[2021-02-05 02:31] kiyonlin commented on #1139
I think the limitation is on db(sqlite/redis), not the framework. You can test `helloWorld` to see if there has obvious performance difference.

[2021-02-05 02:43] fengnex commented on #1139
@kiyonlin I agree with you; but what's your opinion when comparing the test results of fiber v1 and v2?

[2021-02-05 02:47] kiyonlin commented on #1139
see #773 (v2 Benchmarks). But the most important thing is the breaking change of api.

[2021-02-05 03:15] fengnex commented on #1139
I still don't know what we should think about the performance degradation of fiber V2 in accessing the database. I think this is a general problem and I don't think such a problem should occur in the update of a large new version.

I see that fiber V2 supports more and more functions and features, but I still don't know what the main added value is and whether it is worth it. I will be glad to see

[2021-02-05 03:40] kiyonlin commented on #1139
Maybe it is because fiber is faster and database can hardly to catch up.

[2021-02-05 04:36] hi019 commented on #1139
We have not observed any performance regressions from v1 to v2. I think it would be best for you to create a new issue with a small example (preferably one route) that demonstrates the regression, and we can discuss v2 in this issue.

The main feature of v2 is the error handling. It is now more elegant and natural. Also, processing of many routes is faster, there is new middleware (monitor, rewrit

[2021-02-05 04:38] fengnex commented on #1139
@Fenny Would you be so kind as to talk about your opinions about the question?

[2021-02-05 13:33] Refuel-ZL commented on #1138
me too

[2021-02-05 13:36] Refuel-ZL commented on #1138
solved
store.RegisterType(storage{})

[2021-02-05 15:03] TroyDota commented on #188
using unix sockets rather than open ports to increase performance.

[2021-02-05 22:49] DevDevious opened #1151 "Access client certificate ?!"
Is there a way to access the client SSL certificate in fiber?

[2021-02-06 07:03] Failip420 opened #1153 "Custom 403 Message in github.com/gofiber/fiber/v2/middleware/filesystem"
hi, it would be nice if i could change the 403 response when using Browse: false, i would like to display a custom page, it would be nice if i could load a custom page instead of showing default text "Forbidden" like you did with the 404 :)

[2021-02-06 07:11] kiyonlin commented on #1153
You can add another handler before filesystem middleware, something like
[code]

[2021-02-06 15:18] DevDevious commented on #1151
Yep, there is: `ctx.Context().TLSConnectionState().PeerCertificates`

[2021-02-06 15:18] #1151 closed

[2021-02-06 17:08] suntong opened #1154 "🤗 IPv6 support"
**Question description**

In #601, IPv6 support was added

https://github.com/gofiber/fiber/blob/b8fbaca1ea0b1a80c34257baa0a9c12e49c11de4/app.go#L111-L113

and tcp4 + tcp6 was default.

Now,

https://github.com/gofiber/fiber/blob/3b956ef3a81de3228afb76bc5f56e1db5f797e39/app.go#L559

It seems only tcp4 is supported.

Why is that, and how can I enable IPv6 again?

Thx

**Code snippet** _Optional_

[

[2021-02-07 01:10] kiyonlin commented on #1154
The primary reason is because of [prefork](https://github.com/gofiber/fiber/blob/master/prefork.go#L38-L39), we can't use `tcp` in prefork mode. And in additional, most cases are using `tcp4`, so we removed `tcp6` and only used `tcp4` by default in v2.

If you indeed need to start a `tcp6` server, we can discuss here.

[2021-02-07 04:37] suntong commented on #1154
Ok, understand now.

I do need to start a tcp6 server besides tcp4, what options I have?

[2021-02-07 06:02] kiyonlin commented on #1154
Made a PR(#1155), we can move the discussion there.

[2021-02-07 07:44] Failip420 commented on #1153
Thank you

[2021-02-07 07:44] #1153 closed

[2021-02-07 11:35] tianjipeng commented on #1138
Maybe I found the reason. ``session.Save`` will call ``gotiny.Marshal`` and ``gotiny.Marshal`` will  build ``buildEncEngine``. It  will register type name and ``reflect.Type``. But in test case, when we get exist data from storage first, type name and ``reflect.Type`` are not registered. So, as we add ``store.RegisterType("")``, test case can pass, like this:
[code]
@Fenny Is it reasonable for  us

[2021-02-07 11:39] tianjipeng commented on #1147
Plz check this comment: https://github.com/gofiber/fiber/issues/1138#issuecomment-774658896

[2021-02-07 17:40] suntong commented on #1154
Now that the PR has been closed, I'll continue the discussion here...

I'd like to know more about that, because I can see that both tcp6 and tcp4 work just fine with prefork mode. So what was the problem?

The reason I'm asking is that, previously, besides _" "tcp4" (IPv4-only), "tcp6" (IPv6-only) "_, there is also a "`tcp`" setting that allows starting a tcp6 server _besides_ tcp4, which is the

[2021-02-07 23:05] kiyonlin commented on #1154
That PR hasn't been merged yet.

`tcp` doesn't work for linux and darwin in prefork mode. But it may works for windows which I don't have test environment.

[2021-02-07 23:23] suntong commented on #1154
Oh, I don't care about Windows,

Hmm, in that case, OK, I can live with only one, not both.

thx for the PR, @kiyonlin

[2021-02-08 02:13] suntong commented on #1154
Hmm,

I don't use prefork, can I use `NetworkTCP` to have both tcp4 & tcp6 server then?

[2021-02-08 02:15] kiyonlin commented on #1154
Of course

[2021-02-08 02:16] suntong commented on #1154
OK, waiting it merge to try `NetworkTCP` and my linux **_and_** darwin

[2021-02-08 07:48] dariuspranskus opened #1156 "🐛 undefined: utils.GetTrimmedParam"
**Fiber version**
v1.14.6
**Go version**
v1.15.8
**Issue description**
Getting the following error when running or getting packages **pkg/mod/github.com/gofiber/fiber@v1.14.6/path.go:175:15: undefined: utils.GetTrimmedParam**
**Code snippet**
Just importing the fiber package and creating app instance
[code]

[2021-02-08 07:54] kiyonlin commented on #1156
If you are creating a new project, I suggest you to use fiber v2 because v1 is no longer maintained.

[2021-02-08 08:04] dariuspranskus commented on #1156
Oh, I see now. Thanks for letting me know

[2021-02-08 08:04] #1156 closed

[2021-02-08 08:13] kiyonlin commented on #1154
Released v2.5.0

[2021-02-08 08:13] #1154 closed

[2021-02-08 09:41] Refuel-ZL opened #1158 "🤗 Behavior of the body parser"
**Question description**
form：

**Code snippet** _Optional_

[code]

Why?
tag ips[] not equal to ips

[2021-02-08 15:49] leozhantw commented on #1110
Hi, may I try to make a PR for this issue?

[2021-02-08 16:00] hi019 commented on #1110
Sure

[2021-02-08 17:13] #1142 closed

[2021-02-09 03:17] #1139 closed

[2021-02-09 06:33] pjebs opened #1160 "not detecting when client cancels request 🐛"
[code]

With `net/http` server, when the client cancels the request, ctx from the request returns a done signal which you can use to cancel processing the rest of the request.

[2021-02-09 07:44] hsblhsn commented on #1160
Fiber uses fasthttp under the hood.

And fasthttp doc says the following

So, you should implement a `TimeoutHandler` and wrap your request into the `TimeoutHandler` instead of calling `ctx.Done()` and holding reference to `RequestCtx`.

[2021-02-09 07:54] pjebs commented on #1160
How do I do that?

[2021-02-09 07:58] pjebs commented on #1160
How do I do that? It doesn't say you can't use context while the request is still in operation. Just don't keep a reference to context are request is finished.

[2021-02-09 16:47] xenowits commented on #1158
Can u elaborate? Sorry I couldn't understand your issue

[2021-02-09 17:48] sarwat-osman opened #1161 "Prefork causing address binding problem"
I am doing a project using fiber v2. In server3.go, I have set "prefork: true" in my fiber config.

**Code snippet** _from Server3.go_
[code]

**But running the server3.go file throws up the following error:**

[code]

**What I understand is that prefork spawns multiple Go processes listening on the same port. So it shows that the port is already in use by other process. But how can I actually use

[2021-02-09 22:18] ReneWerner87 commented on #1148
Since there are no more questions or comments, I assume that the last comment has given enough information and I can close the issue, if more questions come up, just open the issue again

[2021-02-09 22:18] #1148 closed

[2021-02-09 22:21] ReneWerner87 commented on #1158
@Refuel-ZL Thank you for the report, please describe the problem in more detail so that we can help you in the best possible way.

Best you also give us an example request to follow up

[2021-02-09 22:27] ReneWerner87 commented on #1161
Thanks for the report, can you please give us more information about the environment

What OS/version and shell are you using?
What fiber version are you using?

With this information we then try to find the cause

[2021-02-09 22:32] ReneWerner87 commented on #1160
@hsblhsn Thanks for the reply, can you please work out or provide a solution with the author, would then take care of the other issues

[2021-02-09 22:56] pjebs commented on #1160
i'm assuming timeout handler is a fixed max duration rather than a cancel signal.

[2021-02-10 06:40] sarwat-osman commented on #1161
OS - Ubuntu 20.04.1 LTS (GNU/Linux 5.4.0-65-generic x86_64)
Shell - GNU bash, version 5.0.17(1)-release (x86_64-pc-linux-gnu)
Fiber - v2.5.0

[2021-02-11 09:06] ReneWerner87 commented on #1161
[code]

can you try it without tls so we can narrow down the error

[2021-02-11 09:07] ReneWerner87 commented on #1161
this is working on my mac
![image](https://user-images.githubusercontent.com/7063188/107617838-e29c2700-6c50-11eb-9afe-1aa8fb7e1964.png)

[2021-02-11 09:23] ReneWerner87 commented on #1161
![image](https://user-images.githubusercontent.com/7063188/107618991-ba152c80-6c52-11eb-8601-cba270a6c1cf.png)
now i have tested it with tls and it works

i think it is because of the chosen port, please choose for testing a port which is not reserved, best one over 3000

for example: 3333

[2021-02-11 09:29] ReneWerner87 commented on #1161
should not be a real error, must be a used port, all variants of the prefork i have tested have worked cleanly

[2021-02-11 13:19] frederikhors commented on #331
@Fenny is `quicktemplate` still not supported from `v1.10.0`?

Is `c.SendString(templates.Hello())` the only way today with Fiber?

[2021-02-11 13:20] frederikhors commented on #190
@s0kil are you still using Fiber and quicktemplate? Can I ask you how?

[2021-02-11 13:29] ReneWerner87 commented on #190
@s0kil https://github.com/gofiber/fiber/issues/190#issuecomment-591759866 here is the instruction from fenny

[2021-02-11 14:56] s0kil commented on #190
@frederikhors Will try to find the project I got it working in.

[2021-02-11 16:51] tianjipeng commented on #1138
@ReneWerner87 Could you confirm whether it is designed to call ``buildEncEngine `` lazily or kind of bug that need to fix?

[2021-02-11 20:08] ReneWerner87 commented on #1138
I will check this tomorrow

[2021-02-12 07:43] ReneWerner87 commented on #1161
i am closing the issue, if there are any other findings, it can be easily reopened

[2021-02-12 07:43] #1161 closed

[2021-02-12 18:50] zabil opened #1163 "🚀 Override default text/html type for ctx.Render"
**Is your feature request related to a problem?**

Yes. There is no option to override the `Content-Type` `text/html` for `Render`

[code]

https://github.com/gofiber/fiber/blob/50e02e5149e07c45d67060d32bb8d2ef4f3588d2/ctx.go#L881-L883

**Describe the solution you'd like**

I am new to fiber, but I'd expect something like this to work

[code]

**Describe alternatives you've considered**

The alter

[2021-02-13 09:44] sarwat-osman commented on #1161
I've tried using 3023/3333, but no change.
![go-prefork](https://user-images.githubusercontent.com/71967251/107846920-d3180c00-6e11-11eb-8f59-0fed66146855.PNG)
Can it be because of my OS environment variable where address/port reuse is disabled. But I think I've read somewhere that Fiber takes care of that on its own. Then what am I missing here?

[2021-02-13 09:51] ReneWerner87 commented on #1161
may be, can you please test this, unfortunately I did not get your error reproduced, so can't help you there, something must be special about your operating system/configuration

I would suggest that you test it on another machine with the same OS or revert the adjustments that could lead to this error on your operating system.

[2021-02-13 09:54] ReneWerner87 commented on #1138
am not an expert with the gotiny library and the session middleware, asked fenny for help

[2021-02-13 16:03] sbimochan opened #1164 "🐛 404 on go get github.com/gofiber/fiber/v2"
no /v2

[code]

navigating to `github.com/gofiber/fiber/v2` in browser results to 404
why is it searching in /usr ? shouldn't it be searching in web?

[2021-02-13 17:09] hi019 commented on #1164
What is the full error? Did you follow the instructions above the go get command in the readme?

[2021-02-13 17:17] sbimochan commented on #1164
[code]

navigating to `github.com/gofiber/fiber/v2` in browser results to 404
why is it searching in /usr ? shouldn't it be searching in web?

[2021-02-13 17:31] hi019 commented on #1164
Did you follow the installation instructions in the README, including creating a Go Modules project?

[2021-02-13 17:32] sbimochan commented on #1164
It doesn't say that in https://docs.gofiber.io/

[2021-02-13 17:57] hi019 commented on #1164
Ok, we will update that. In the meantime use this repository's README instructions

[2021-02-13 17:58] sbimochan commented on #1164
Sure, Thanks!

[2021-02-13 17:58] #1164 closed

[2021-02-14 01:27] ReneWerner87 commented on #1163
[code]

Could you try this?
Just write with my handy, if formatting problems are there please fix, but the basic idea should be clear

[2021-02-14 08:46] jimitheat opened #1165 "Can't install Fiber, 404 error"
![image](https://user-images.githubusercontent.com/61459379/107872267-477ba980-6efd-11eb-8e04-dd3d29c9d93b.png)

[2021-02-14 08:51] jimitheat commented on #1165
Argh noob error, forgot to install the go.mod

[2021-02-14 08:51] jimitheat commented on #1165
Able to install now. Thanks

[2021-02-14 08:51] #1165 closed

[2021-02-14 10:47] zabil commented on #1163
Thanks! This works. It also works with

[code]

[2021-02-14 10:47] #1163 closed

[2021-02-14 12:47] TroyDota opened #1166 "Duplicate line in comments."
https://github.com/gofiber/fiber/blob/50e02e5149e07c45d67060d32bb8d2ef4f3588d2/internal/storage/memory/memory.go#L51

[2021-02-14 13:35] jimitheat opened #1167 "🐛 Can't run the basic tutorial"
For some reason I am unable to run this basic code. Go version 1.15.8

When I'm running it in a debugger, it will work. But cannot run it with command line, go run server.go, at all. The image as shown, shows that occasionally it will work. Same code, just a few seconds apart. Totally random.

Cannot figure it out.

![image](https://user-images.githubusercontent.com/61459379/107878217-38a8ed00-6f2

[2021-02-14 13:48] ReneWerner87 commented on #1167
thanks for the report

please test the same with the standard golang library, assume it is your installation, such an error has not occurred anywhere yet

[code]

[2021-02-14 14:31] jimitheat commented on #1167
Hi,

I'm getting the same error message. I've tried reinstalling go and it's the same error. I've also just tried version 1.14.5 and it's the same error.

Is your recommendation that it's related to the installation and not fiber?

[2021-02-14 15:33] #1158 closed

[2021-02-14 16:47] ReneWerner87 commented on #1167
Yes, if the webserver does not even run with the golang standard library it must be the golang installation and has nothing to do with fiber.

[2021-02-14 18:56] ParvizMoshfeg commented on #1142
You can try HUGO-Theme from here:
https://github.com/zerostaticthemes/hugo-hero-theme

[2021-02-15 03:10] #1166 closed

[2021-02-15 12:09] jimitheat commented on #1167
Thanks mate. I reinstalled Go and it failed. Different machine worked.

Had to reinstall the whole operating system for this to work. So yeah, unrelated to fiber or go, even though other languages worked.

[2021-02-15 12:09] #1167 closed

[2021-02-15 13:31] shirshendubhowmick opened #1169 "🐛 Possible bug on how `ctx.Locals` stores `interface{}`"
**Fiber version**
2.3.2

**Issue description**
Possible Bug

I have used `ctx.Locals` inside a middleware to store and pass a struct which also got some methods of its own.

Among all the methods the struct has got a method called `Close`. I found that this `Close` method is getting callled from some where outside of my application's code.

Upon debugging I found that it was being called by a meth

[2021-02-16 04:18] anistark opened #1171 "Sentry and Datadog Integrations"
**Question description**
Is there an easy way to integrate sentry and datadog to fiber apps?
Currently, most documentation are directed toward gin based integrations.

[2021-02-16 04:22] kiyonlin commented on #1169
Please see valyala/fasthttp#920

[2021-02-16 10:39] shirshendubhowmick commented on #1169
Since `fasthttp` has mentioned that they won't be able to fix this issue. Is there anything that can be done on `fiber`'s side ?

[2021-02-16 11:08] gitsupi opened #1172 "🚀 create Fiber cloud computing and distributed systems using (g)rpc technologies"

[2021-02-16 13:43] Fenny commented on #1138
Hmm I need to investigate this, the `RegisterType` is designed to be able to marshal / unmarshal custom types and store them in a database. I didn't test it yet, but I'm not sure why we need to register an empty type for it to work.

[2021-02-16 14:07] ReneWerner87 commented on #1172
hi, could you please add some more information about the concept

[2021-02-16 14:43] kiyonlin commented on #1169
Sorry, I don't think so.

Or you should avoid using `Close` as you described above.

[2021-02-16 15:03] lichtwellenreiter opened #1173 "🐛 Output on CLI with ASCII Errors"
**Fiber version**
v2.1.1
**Issue description**
After starting fiber, the output on cli is very strange. Only happens when starting inside Jetbrains GoLand IDE (GoLand 2020.2)
**CLI Output**

[code]
I think this should be instead
[code]

[2021-02-16 15:12] hi019 commented on #1173
Probably somewhat related to #1124

[2021-02-16 15:13] hi019 commented on #1172
This? https://www.github.com/gofiber/recipes/tree/master/fiber-grpc

[2021-02-17 08:59] kiyonlin commented on #1173
Please try to set encoding to utf-8 in goland terminal.

[2021-02-17 21:07] UlasSAYGINIM opened #1174 "How to use database for routing paths 🤗"
**Question description**

I wonder how can i use database for routing paths?
I couldnt find any document.

can i get routes from sqlite3?

[2021-02-17 21:51] IGLOU-EU commented on #1174
Hi,
You can build routing dynamically with your DB, routing only use a patern string. I'm not sure if you can do that after a `Listen` (Think not).

But you can use `Params` to build a custom 'routing/match' https://docs.gofiber.io/api/ctx#params

Sorry if I don't understood your question :)

[2021-02-17 23:19] UlasSAYGINIM commented on #1174
Thank you for you fast comment @IGLOU-EU , firstly, i want to use SQLite 3 as database to store url paths.
i just want to start with just creating web pages and its url based on language like

samplesite.com/en/aboutus
samplesite.com/fr/àpropos

can i use any spoken real world language in routing?

thanks.

[2021-02-18 14:19] IGLOU-EU commented on #1174
You can do that,
build routing string from your db row

Like :
[code]

Or a listening like :
[code]

[2021-02-18 15:42] hi019 commented on #1171
Unfortunately we don't have first party integration with Sentry or Datadog, and I don't know of any third party packages that do this. You could write your own using a middleware and the Sentry/Datadog Go SDK's.

[2021-02-18 16:10] #1147 closed

[2021-02-18 22:55] #1172 closed

[2021-02-19 07:51] Refuel-ZL commented on #1158
html:
<form>
＜input name="MyArray[]"＞
＜input name="MyArray[]"＞
＜input name="MyArray[]"＞
＜input name="MyArray[]"＞
</form>

go:
var form struct {
      MyArray []string               `query:"MyArray" form:"MyArray"`
}

ctx.BodyParser(&form);

len(form.MyArray) == 0

why?

[2021-02-19 08:05] Refuel-ZL commented on #1158
@ReneWerner87

[2021-02-19 08:36] ReneWerner87 commented on #1158
As we say, we need more description, writing only one word and code will not help.

And the html is incomplete, there is no method for post on the form, no submit button and no value attribute on the input box, this will not generate a sufficient post body request.

[2021-02-19 08:46] ReneWerner87 commented on #1174
https://github.com/gofiber/fiber/issues/735#issuecomment-678586434

Creating dynamic routes is not good for microservices, rather create a route that matches for all and then check the contents of the database routes in it and then execute the corresponding handler as described in the other issue.

[2021-02-19 15:04] frederikhors commented on #403
@ftomza have you solved for subscriptions?

[2021-02-19 15:28] sixcolors commented on #1138
I have the issue too... any type after restarting the service does not work.

[2021-02-19 16:25] UlasSAYGINIM commented on #1174
@ReneWerner87 thank you for your response. if you dont misunderstand, can you give example to be sure what you said to avoid missunderstanding.

@IGLOU-EU thank you for your solution. i couldnt think the sqlite 3 connection part. you may be omited to be clear but i wonder for performance, how it can be good. thanks a lot.

[2021-02-19 16:41] ReneWerner87 commented on #1174
this way you could e.g. use dynamically registered routes from the database without restarting the service

[code]

but if your report aims to fetch the routes from the database at the start of the service and then register them before the start, then you should proceed as in @IGLOU-EU example

[2021-02-19 17:10] Koredeoluwafemi opened #1179 "Catch 404 Errors"
**Hi Fiber team, I need help on how to catch 404 error pages. I am currently unable to catch 404 errors when using fiber for a web project but I am able to catch it when using it to build an api, See sample route below...**

** ** _Optional_

[code]

[2021-02-19 17:17] hi019 commented on #1179
See https://docs.gofiber.io/extra/faq#how-do-i-handle-custom-404-responses

[2021-02-20 05:44] #1171 closed

[2021-02-20 10:20] Koredeoluwafemi opened #1181 "🤗 Session Regenerates Deleted Key"
**Fiber 2.5.0**

**Session key gets regenerated after being deleted.**

**Code snippet**

[code]
The notify key is still available after the page reload.

[2021-02-20 14:30] sixcolors commented on #1181
You called session.Save() after delete....

[2021-02-20 15:19] ReneWerner87 commented on #1181
Thanks for the report, problem is that with set the value is first packed into memory and only saved at the end of the run (using save, there it is converted), delete however accesses the value in storage and not the memory

Now the question is whether one can and would like to improve this, this has arisen from performance reasons

I ask myself how useful it is to delete something that is not eve

[2021-02-21 07:34] neerajbg opened #1182 "🤗 CSRF middleware returns forbidden"
I am using CSRF middleware with html templates with the custom KeyLookup form:csrf

I add a hidden field in the html form with the name csrf

[code]

In the handler function I tried to collect the csrf by both ways from contextKey as well as Cookies

// tk := c.Get("csrf")
tk := c.Cookies("csrf_")

Everytime the contextkey method doesnt work and returns null. However by Cookies method sometimes it

[2021-02-21 12:06] Thomas-Webber commented on #1138
Hello, I had the same issue, I was saving multiple strings and int in a session like so:
[code]

Registering the types solved the issue:
[code]

[2021-02-21 18:59] Koredeoluwafemi commented on #1181
Hi Rw, what will your flow look like, can you advise, or is there a way to
implement a flash like session using fiber?

On Sat, Feb 20, 2021 at 4:19 PM RW <notifications@github.com> wrote:

--
Thanks.
Oluwafemi Korede L.
oluwakorede.com <http://www.oluwakorede.com>

[2021-02-21 19:37] ReneWerner87 commented on #1181
Had looked again and I think I was wrong, so I deleted the comment, if I have time tomorrow again, I will look at the problem again more closely

[2021-02-21 19:39] sixcolors commented on #1182
It's a bug.

See PR Fix: CSRF middleware cookie<>storage bug squashed and other improvements #1180

[2021-02-21 21:05] Koredeoluwafemi commented on #1181
okay, so here is my code snippet again

session, err := sess.Store.Get(c) // get/create new session
if err != nil {
   log.Println(err)
}
defer session.Save()

//notify := Flash{}
notify := FlashConvert(session.Get("notify"))
session.Delete("notify")

log.Println(session.Get("notify"))

when this page is reloaded, the notify key data is returned

On Sun, Feb 21, 2021 at 8:37 PM RW <notifications@g

[2021-02-22 02:26] lycano opened #1183 "🤗 Inconsistent Guides Routing / Groups"
**Question description**
On docs.fiber.io Guide Routing -> Example Grouping
[code]
Line `api := app.Group("/api", middleware) // /api` vs.
Guide Grouping -> Group Handlers
[code]
Line `api.Group("/v1", func(c *fiber.Ctx) error {...}` seems inconsistent to me.

Im new to this project and was thinking c.JSON here would in fact send that content as json to the client when calling via GET /api/v1.

Th

[2021-02-22 02:51] hi019 commented on #1183
Hello! Are you saying we should clarify that the second param of `api.Group` is for middleware, and does not actually create the route?

[2021-02-22 06:34] da4z opened #1184 "🐛 The middleware has session operation, and there is no setting for the first visit"
**Fiber version**
v2.5.0
**Issue description**
The session middleware has session operation, and there is no setting for the first visit
**Code snippet**

[code]

![x](https://user-images.githubusercontent.com/46473093/108671043-e2d2d700-751a-11eb-8b69-55b061de8f5b.gif)

[2021-02-22 07:27] ReneWerner87 commented on #1184
the reason should be that you execute the "save" function at the end, i.e. after the "next" and therefore after the next
handler.

![image](https://user-images.githubusercontent.com/7063188/108675640-5f4bc280-74e7-11eb-8097-6b4e7ea91570.png)

probably everything works as you expect it, if you take away the defer for the "save" call

i will test it again, but the assumption looks like this for now

[2021-02-22 07:43] Koredeoluwafemi commented on #1181
func Dashboard(c *fiber.Ctx) error {

	db := database.DB
	session, err := sess.Store.Get(c)
	if err != nil {
		log.Println(err)
	}
	//defer session.Save()
	//

	var userModel models.User
	user := userModel.Get(session.Get("uid"), db)

	//notify := Flash{}
	log.Println(session.Get("notify"))

	notify := FlashConvert(session.Get("notify"))
	session.Delete("notify")
	session.Save()
	//if err := sessi

[2021-02-22 07:44] ReneWerner87 commented on #1181
ok, will have a look at it in the next few hours

[2021-02-22 08:00] chinaapus commented on #1184
@ReneWerner87
If the middleware "Save" is removed, it will not be saved if it encounters a route without session
[code]

[2021-02-22 08:14] ReneWerner87 commented on #1184
[code]
maybe i misspoke, i meant you should not use "defer" and make the save yourself at the end

defer makes sure that it is executed at the end, so also after the ctx.Next, but in the ctx.Next the next middleware handler is executed, because your middlewares build on each other in the use of the session, you should save before the next middleware is reached

[2021-02-22 08:26] Koredeoluwafemi commented on #1181
okay, thanks, I really appreciate your response

[2021-02-22 09:34] hugmouse opened #1185 "🤗 "Cache hit" and "cache miss" in built-in cache middleware"
**Question description**

In [built-in cache middleware](https://docs.gofiber.io/api/middleware/cache) we can cache some of the requests coming from the server. Question - is it possible to know when the server gave the cache and when it gave a new request by ignoring the cache? It seems to be called "cache hit" and "cache miss".

And with the help of this knowledge to make some kind of statistics

[2021-02-22 11:56] kiyonlin commented on #1185
You can enable `cfg.CacheControl` so that you'll get additional response header if cache hit.

[2021-02-22 13:07] #1169 closed

[2021-02-22 13:49] hugmouse commented on #1185
I guessed to some simple construction, but how to count those request that did not get into the cache - not quite clear heh

I'll be grateful for any help and apologize if this isn't the right place to discuss this kind of stuff.

[code]

[2021-02-22 14:29] #1179 closed

[2021-02-22 14:30] #1174 closed

[2021-02-22 14:48] hi019 commented on #1185
With this, the cache will only be hit if `c.Query("refresh") == "true"` is false. Since you do `cacheMiss++` before you know if the expression is true or false, every request to the MW will be counted as a miss. You should do something like this

[code]

[2021-02-22 16:44] ReneWerner87 commented on #1184
[code]
this will work

hmm, unfortunately it's not that self-explanatory, the save method leaves the memory free and writes the content to the storage at the same time

in the first variant there was the problem that the "defer" keyword makes the save be used after the middleware executed in the next, but in the next handler it tries to fetch a new session based on the context, which of course con

[2021-02-22 17:24] vietlibads commented on #1138
I have tried this, it works but error when trying to intergrate with casbin middleware :(
Please guide this on Fiber's docs @Fenny

[2021-02-22 17:53] ReneWerner87 commented on #1181
[code]

My output (8 requests):
[code]

cannot reproduce the bug, can you provide a simple snipped to report, with all the dependencies i need for this, best leave the database out of it

there are many possible reasons, you might want to run session.save before you start rendering to free the memory and not afterwards using "defer".

can only help if i have a reproducible scenario that i can anal

[2021-02-22 18:15] ReneWerner87 commented on #1185
[code]

you can do something like this,

the next function will not work, because it will first check if there is a cache entry and if not the other function will be executed, maybe this is wrong, that could be discussed @hi019 @kiyonlin

[2021-02-22 19:14] ReneWerner87 commented on #1183
i know what you mean, the example for the guide is badly chosen, it should actually only show that you can register middlewares directly with and there we directly write a response body, we should replace the writing of the response body there with a task that middlewares map, like setting headers or something similar

with the grouping, only middleware handler should be used, since it is identica

[2021-02-22 19:30] ReneWerner87 commented on #1183
https://github.com/gofiber/docs/pull/155
is the PR change

[2021-02-22 23:22] lycano commented on #1183
First of all thanks for your reply! I see there the examples are already going to be updated! Nice =)

@hi019 Yes, as @ReneWerner87 picked up i found it confusing to see c.JSON there which i assumed at first - as a newbee to the project - it would print out the json when finishing that func. I was assuming later - since this was not the case - its not ment to be used that way. This was also clarif

[2021-02-22 23:25] #1183 closed

[2021-02-23 09:05] vietlib opened #1188 "🐛 Session Middlware get problem when add multi key"
**Fiber version**
v2
**Issue description**
I using session middleware with Redis, it seem work well when add one key-value to session (need to add Session.RegisterType("") if not you will get ```[session] Register this type first with the `RegisterType` method.```

But when add more key-value (also added Session.RegisterType("") and Session.RegisterType(1)) , script not work correctly and ```[sess

[2021-02-23 11:03] hugmouse commented on #1185
![image](https://user-images.githubusercontent.com/44648612/108834955-c19ce400-7609-11eb-878c-7a55a82aaa73.png)

This implementation seems to be working fine. Thank you for providing the code ^^

I will close this issue for now. But if there are any additions, I would be happy to see them.

[2021-02-23 11:03] #1185 closed

[2021-02-23 16:13] hsluoyz commented on #1138
@vietlibads can you post the casbin integration code?

[2021-02-23 16:33] Koredeoluwafemi commented on #1181
Thanks ReneWerner87,

I have investigated, I have a middleware that is attached to the secured routes, on removal of this middleware, the problem vanishes.

I'll share my middleware code with you here and see why this happens

func AdminSession(c *fiber.Ctx) error {

	session, err := sess.Store.Get(c) // get/create new session
	defer session.Save()
	if err != nil {
		_ = c.Redirect("/login")
	}
	d

[2021-02-23 17:08] ReneWerner87 commented on #1181
I see the problem, its because of the "defer" save

"defer" run the command after the last function execution, but the ctx.Next method execute the code of the other routes

Please remove the "defer" and place the save, shortly before the ctx.Next is called

[2021-02-24 03:04] vietlib commented on #1138
I have also removed casbin MW, but it still the same error ```[session] Register this type first with the `RegisterType` method.```
I use Redis Session, here is my Redis Middleware code:

[code]

[2021-02-24 08:22] Koredeoluwafemi commented on #1181
Thanks, you fixed it, really appreciate this.

[2021-02-24 08:22] #1181 closed

[2021-02-24 08:57] ReneWerner87 commented on #1184
@chinaapus could you give feedback

[2021-02-25 04:02] chinaapus commented on #1184
@ReneWerner87
It’s still an old problem, the first time I can’t store them at the same time

![x](https://user-images.githubusercontent.com/46473093/109100815-9082f780-7760-11eb-9332-a29e26db86f1.gif)

[2021-02-25 11:41] ReneWerner87 commented on #1184
OK, I have looked again and now I know what the reason is.

in the first middleware, if a session id does not yet exist in the request cookies, one is generated and packed into the response cookies when saving.
https://github.com/gofiber/fiber/blob/master/middleware/session/store.go#L41

with the second call via get using the context, the request cookies are checked again to see if a session exist

[2021-02-25 11:46] ReneWerner87 commented on #1188
@vietlib please provide a short example to reproduce

[2021-02-25 12:30] #1188 closed

[2021-02-25 12:33] vietlib commented on #1188
The error appears when restart server , you should restart session server and clear browser history , it will work again :)

[2021-02-25 14:50] svera opened #1190 "Static routers should support Go 1.16 fs.FS"
**Is your feature request related to a problem?**
I wanted to use `Static` routes with embedded FS. Right now, `app.Static()` just accept `string`s with path to folders

**Describe the solution you'd like**
Add a new method that allow passing of `fs.FS` when creating static routes.

**Describe alternatives you've considered**

**Additional context**

[2021-02-25 16:41] dechristopher commented on #1190
@svera fiber targets go 1.14 but it doesn't specifically need to have any direct embed.FS support since it still implements regular fs.FS. I have a PR open (#1189) to add FS support to the favicon middleware. I can take a stab at this if you aren't already on it.

[2021-02-25 16:51] dechristopher commented on #1190
It's also worth noting that the `filesystem` middleware can handle this use case similarly and already supports providing your own http.Filesystem implementation which can be obtained by wrapping an `embed.FS` in the `http.FS(fsys fs.FS)` function as of go 1.16:
[code]

[2021-02-25 22:19] Fenny commented on #1190
Thanks for pointing this out, we were waiting to add native support for the new filesystem. However, we do want to support the last 2 versions of Go. So we have to wait until 1.18 before we can add this to `Static`. At that time we might be releasing Fiber v3.

Regarding your favicon PR, I'm currently on holiday so we have to wait until one of the other maintainers pick it up.

To be continued..

[2021-02-26 06:10] chinaapus commented on #1184
@ReneWerner87
Thanks for finding out the cause and looking forward to repairing. Since I am a golang beginner, I cannot submit a PR yet

[2021-02-26 06:44] neerajbg commented on #1182
I tried to update my fiber lib with the command

[code]
Can you please help me get your changes applied to my local fiber lib. It would have been great if the documentation would have a complete working example.

Also is there any way to uninstall the lib and re install.

I checked the Golang doc and couldnt find a way to completely uninstall a package lib and  re install a fresh copy.

Thanks
Nee

[2021-02-26 10:23] sixcolors commented on #1182
The PR is approved but hasn’t been merged yet.. the Docs PR is also waiting for a merge.

...

[2021-02-26 10:25] ReneWerner87 commented on #1182
we will merge it at the weekend

[2021-02-26 11:19] tianjipeng commented on #1184
I will submit a pr this weekend

[2021-03-01 16:26] ReneWerner87 commented on #1184
fix will come with the next fiber version (thx to @tianjipeng )

[2021-03-01 16:45] ReneWerner87 commented on #1182
Merged:
https://github.com/gofiber/fiber/pull/1180
https://github.com/gofiber/docs/pull/154

fix is in the next fiber version(@sixcolors thanks for the effort)

[2021-03-01 17:54] anthonycook opened #1193 "🤗 Retrieving a CSRF value with CSRF middleware"
I can't seem to find any obvious method in the docs for retrieving a CSRF token value, I want to pass the value to my templates so it can be included in my HTML forms.

### Fiber route
[code]

### HTML form
[code]

[2021-03-01 19:58] bannedev commented on #1193
Well there are two " hacky " ways through which you can do this.

- Define your own configs and use a custom key generator ( as in [here](https://github.com/gofiber/fiber/tree/master/middleware/csrf#custom-config))

- Use `c.Response().Header.Peek("Set-Cookie")` to get the Header and parse it accordingly.

Consider the fact that I just started working with Fiber too in this 🙈

[2021-03-01 19:59] crossphoton commented on #1193
Well there are two " hacky " ways through which you can do this.

- Define your own configs and use a custom key generator ( as in [here](https://github.com/gofiber/fiber/tree/master/middleware/csrf#custom-config))

- Use `c.Response().Header.Peek("Set-Cookie")` to get the Header and parse it accordingly.

Consider the fact that I just started working with Fiber too in this 🙈

[2021-03-01 20:40] hi019 commented on #1193
A GET request should associate a CSRF token with the request. Does that fit your usecase? Ex `GET /signup`

[2021-03-01 22:11] MehranGhamaty opened #1195 "Use internal UUID function outside of Fiber"
**Question description**

Use of internal package not allowed. for the internal version of uuid. I'm trying to consolidate needs to import UUID for other parts of my library with the internal services of Fiber having their own UUID. What are my options?

I almost feel like the most appropriate actions would be to remove it as an internal package or just use external package as for the framework. I

[2021-03-01 22:46] ReneWerner87 commented on #1195
Use this exported function

https://github.com/gofiber/fiber/blob/master/utils/common.go#L32

[code]

[2021-03-01 23:13] MehranGhamaty commented on #1195
I need to use it as a type not for a separate package. I need the exposed UUID object. There are some performance problems with just using it as string. Is there a way to expose the actual type?

[2021-03-01 23:57] anthonycook commented on #1193
I do make a GET request to /signup which renders my signup page and sets the CSRF token in a cookie, but my understanding is that the CSRF token needs to be submitted with my signup HTML form for the CSRF check to pass (double submit method).

Similar to your Laravel example, in packages like [github.com/gorilla/csrf](https://github.com/gorilla/csrf) you'd just pass the csrf.Token method to your H

[2021-03-02 00:33] MehranGhamaty commented on #1195
I guess the external packages have the same representation so it doesn't really make a difference.

[2021-03-02 00:33] #1195 closed

[2021-03-02 01:22] hi019 commented on #1193
Yep you're right, we do require a double confirmation. Going to see what the other maintainers are thinking.

[2021-03-02 01:29] hi019 commented on #1193
Whoops, it's accessible via c.Locals. https://github.com/gofiber/fiber/tree/master/middleware/csrf#config - see ContextKey. `c.Locals(contextKey)`

Will add to docs

[2021-03-02 09:01] guaychou opened #1198 "🐛 in Banner we it always show 127.0.0.1"
**Fiber version**
V2.5.0
**Issue description**
banner fiber always show 127.0.0.1, i want to show it as 0.0.0.0 / or any ip that i want to listen it for
**Picture**
![image](https://user-images.githubusercontent.com/29087469/109624150-72f2cb00-7b70-11eb-8252-7f297d19114c.png)

**Code**
i use this . . .
[code]

Can you help me ? is this expected ?

[2021-03-02 10:20] ReneWerner87 commented on #1198
https://github.com/gofiber/fiber/blob/master/app.go#L889

It is currently intended that if the host is empty or the 0.0.0.0 host is, this address is shown.

[2021-03-02 10:22] andrei-dascalu opened #1199 "🤗 Should BodyParser pick up form files for multipart forms?"
**Question description**

I am submitting a form (multipart/formdata) that consists of a regular form field and an uploaded file. I am trying to use BodyParser to read the form data into a struct as follows

**Code snippet**

[code]

then read it as such

[code]

However, while the "languageCode" field will be correctly read, the file information always appears as empty (empty filename, content, e

[2021-03-02 12:41] tianjipeng commented on #1199
``BodyParser`` only parse text field of form data, not including file field

[2021-03-03 03:00] Nick2324 opened #1200 "Handlers pre and post execution of a method"
I was wondering if there was any possibility to give some difference between handlers that get executed before and after a response is generated

I suppose it's possible to do this if the handler is set directly in the app.Get/Post/etc... method, but it means it is repeated in every route if it's required in all of the routes

So that I would like to add any differentiation factor to a Handler pre

[2021-03-03 13:19] ReneWerner87 commented on #1200
https://docs.gofiber.io/api/app#route-handlers
https://docs.gofiber.io/api/middleware

If I understand correctly, you are referring to the concept of middlewares, which enables fiber

you can create handlers that run before or after each route for all request methods or individual request methods

or create multiple handlers when defining the route.
[code]
perhaps i misunderstood your request ?

[2021-03-03 23:34] Fenny commented on #1198
[code]

[2021-03-04 10:55] andrei-dascalu commented on #1199
@tianjipeng thanks for the fconfirmation, indeed, that's what it does. I'm just wondering whether it shouldn't also handle file fields? If that's not possible/desirable it might be good to clarify this as part of the documentation. Regular form fields can be read with either FormValue or BodyParser, but for files you can use FormFile only.

[2021-03-05 08:14] neerajbg commented on #1182
I tried to implement csrf middleware again with the updated code and still problem persists.

However I am able to access csrf cookie via contextKey successfully, but the problem is as below.

1. I am using fiber package as a full fledged web application with traditional html templates. Thus I am setting csrf token to be accessible via form body.
2. When I submit the form, it works fine, no issues

[2021-03-05 08:53] svera opened #1202 "Custom template function not working under certain circumstances"
**Question description**
I would like to have each route in its own go file, instead of having all controllers in a big, single file. In my application, I also add a template function, called `t()`,  to translate text to another language. The following code works:

[code]

but extracting the route code to a function make the application fail with a `template: layout:9:13: executing "layout" at <t

[2021-03-05 10:00] ReneWerner87 commented on #1202
could you share the template code

Looks like something you used in the template and this point has already been released.

as you probably know, fasthttp and fiber works with the principle of zero allocations, i.e. it resets variables and reuses them, that may have something to do with it, so we need to find out what is used in the template

of course, it could be that the problem is simply the i

[2021-03-05 10:01] ReneWerner87 commented on #1198
so as we said before this is not a bug but an expected behaviour

[2021-03-05 10:01] #1198 closed

[2021-03-05 11:15] svera commented on #1202
Hi @ReneWerner87 , sure, here's a snippet of the template

[code]
the offending code is in the `<title>` tag

[2021-03-05 11:20] ReneWerner87 commented on #1202
thank you,
at first glance i could not find any errors unfortunately

I would like to debug the whole thing, unfortunately I don't have all the resources you use there.

can you(@svera ) give me a minimal example where everything unnecessary is removed that has nothing to do with the problem, so clean up the template and all structs that are not needed

[2021-03-05 11:45] svera commented on #1202
@ReneWerner87 sure, here the fat-free code

[code]

[code]

Thank you

[2021-03-05 12:07] ReneWerner87 commented on #1202
Okay, I have found the error

you set the printer new inside the function, therefore the chain outside is broken and on the variable outside that you also use in the custom function, the old printer object can no longer be accessed.

[code]

so you have to set the printer outside the handler helper function, but i wouldn't advise you to set the variable every time someone comes with a different la

[2021-03-05 13:50] #1202 closed

[2021-03-05 13:51] svera commented on #1202
Thank you very much for your assistance @ReneWerner87, I'll try what you suggest, closing the issue.

[2021-03-05 16:55] JonasDoe opened #1203 "🚀 Middleware CORS: allow custom logger"
It would be nice if one could inject a custom logger to the cors middleware. There's not much to be logged yet, but it's still a bit off-putting that this middleware causes my logs to be mixed with defaults log entries stemming from the `log` package, especially because I want to tag the logs and monitor them externally.

**Is your feature request related to a problem?**
Nope.

**Describe the solu

[2021-03-05 18:10] JonasDoe commented on #1203
Nevermind, I've mixed things up.

[2021-03-05 18:10] #1203 closed

[2021-03-05 19:07] drafu opened #1204 "app.Use and app.Group consumes partially matched routes"
**Fiber version**
v2.5.0

**Issue description**

**Current behaviour:**
In the below case `docHandler` intercepts before `/docs/meta` could be executed
[code]
In the below example both queries succeed
[code]
Exact same behaviour happens when using `app.Group` instead of `app.Use`

**Expected behaviour:**
Using `app.Use` or at least `app.Group` should not consume partially matched queries.

I under

[2021-03-05 20:34] ReneWerner87 commented on #1204
Should be an expected behavior, middleware always match partial, so at startup with the route

[2021-03-05 20:35] ReneWerner87 commented on #1204
![Screenshot_20210305-213019.jpg](https://user-images.githubusercontent.com/7063188/110170545-a6488a80-7dfa-11eb-9308-66da8b3f593f.jpg)

[2021-03-05 21:12] drafu commented on #1204
@ReneWerner87 I already acknowledged exaclty that in initial issue, and considered it may be expected behaviour even though it is counterintuitive for this exact example, but nothing states the same for Group.

[2021-03-05 21:56] chovy opened #1205 "how do i serve an rss feed? 🤗"
It seems I can only use .html extension on templates. I want an rss.xml file to be used.

` <?xml version="1.0" encoding="UTF-8"?>`

This piece gets entity encode and it shouldn't be when I use rss.html

[2021-03-05 22:42] IGLOU-EU commented on #1205
You're probably speaking about
github.com/gofiber/template/html
And I don't know it.

But Gofiber support more than a simple HTML template engines.
https://docs.gofiber.io/guide/templates

With the standard Go HTML or TEXT engines, you can probably achieve what you want.
https://golang.org/pkg/html/template/ (Auto escape and HTML encode)
https://golang.org/pkg/text/template/ (Need to trust the con

[2021-03-06 00:18] sixcolors commented on #1182
The PR was merged but there hasn’t been a new release yet. So updating the go package wouldn’t get it yet.

[2021-03-06 00:27] kiyonlin commented on #1182
@neerajbg You can use `go get -u github.com/gofiber/fiber/v2@master` for test.

[2021-03-06 05:43] chovy commented on #1205
I don't see how to create more than one view.

[code]

I need an xml template.

[2021-03-06 11:24] ReneWerner87 commented on #1204
If you need a way to check an exact route with your middleware, use router.All()
https://docs.gofiber.io/api/app#route-handlers

// All will register the route on all HTTP methods
// Almost the same as app.Use but not bound to prefixes
func (app *App) All(path string, handlers ...Handler) Router

As you already mentioned, with group only the prefix you specify is automatically added to the other s

[2021-03-06 11:24] #1204 closed

[2021-03-06 11:51] ReneWerner87 commented on #1205
Currently it is only possible to register one render engine in the app, but if you need more than one you can easily do it manually

main.go
[code]
views/example.html
[code]
views/example.html
[code]

![image](https://user-images.githubusercontent.com/7063188/110205744-2cf07c80-7e7a-11eb-8d14-6441de491a54.png)

Using several template engines is therefore very simple.

Maybe later we will change th

[2021-03-06 11:58] ReneWerner87 commented on #1205
Oh you can also use other template engines from our repository, the only thing you have to do is to execute the engine.Load method and inside the handler the engine.Render method.

[2021-03-07 04:20] chovy commented on #1205
I still get this in the output:

`&lt;?xml version="1.0" encoding="UTF-8"?>`

[2021-03-07 04:27] chovy commented on #1205
https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fstartworkingremotely.com%2Fjobs%2Frss%3Fq%3DPhp%2520USA%2520

[2021-03-07 07:09] ReneWerner87 commented on #1205
Please don't use the html engine for the xml, there is a auto encoding activated.

I use the mustache engine in my example.

[2021-03-07 07:48] chovy commented on #1205
you updated it thanks. works now.

[2021-03-07 08:34] #1205 closed

[2021-03-07 11:36] byronwilliams commented on #429
This is actually possible - take a look at this Gist - https://gist.github.com/dudochkin-victor/ae59ac05efef78f1a0250de69ca08300

[code]

[2021-03-08 01:47] gregchalmers opened #1207 "binding to "0.0.0.0" startupMessage reports "127.0.0.1" 🐛"
**Fiber version**
v2.5.0

**Issue description**
If I bind Listen to "0.0.0.0" startupMessage reports "127.0.0.1", but OS says it's bound to "0.0.0.0".

**Code snippet**

[code]
netstat
[code]
output
[code]
code responsible in fiber/app.go
[code]

[2021-03-08 03:27] kiyonlin commented on #1207
You want to see `0.0.0.0` in banner like #1198 do?

[2021-03-08 07:17] ReneWerner87 commented on #1200
hope we were able to help you,
if you have further questions or want to get at something else here, please feel free to reopen the issue.

[2021-03-08 07:17] #1200 closed

[2021-03-08 07:25] ReneWerner87 opened #1208 "🐛 Prefork is not working as expected"
**Fiber version**
v2.5.0

**Issue description**
In the prefork concept, one child process is started for each cpu core and the work of the handlers is divided between these processes, so when you output the process number of the child process in the handler, different ids should appear, which is not the case here.

The goal of the ticket is to check where the problem is, because with fasthttp it w

[2021-03-08 07:42] ReneWerner87 commented on #1208
$shell: docker run --rm -p 3000:3000 -it -v ${PWD}:/usr/app/src -w /usr/app/src golang:alpine sh
![image](https://user-images.githubusercontent.com/7063188/110289745-2719a900-7fea-11eb-84d7-7e08c53bbca3.png)

The same code base works in the linux container, i.e. it should be a problem specific to the operating system.

[2021-03-08 08:25] guaychou commented on #1208
Thank you for creating my issue

[2021-03-08 20:52] pde-rent commented on #1142
Hi all, I'm facing the exact same issue with v2.5.0 (only tried on windows)

[2021-03-08 22:25] renanbastos93 commented on #1208
@Fenny I have macOS, do you need help? Can I investigate too?

[2021-03-08 23:09] gregchalmers commented on #1207
ah right sorry yes same as [#1198](https://github.com/gofiber/fiber/issues/1198), sorry I didn't find the other one I should have searched the closed bugs as well.

I cannot really see how printing `127.0.0.1` when it's bound to `0.0.0.0` is valid.
`127.0.0.1` == bind to the loopback device, i.e. gofiber is only accessible by processes on the same machine.
`0.0.0.0` == bind to all network cards on

[2021-03-09 00:44] kiyonlin commented on #1207
The reason of why we use `127.0.0.1`, is that `0.0.0.0` can't be clicked on the terminal to open the address on a browser. I think we should treat them as two address (bound address and visit address) if necessary.

[2021-03-09 04:49] pjebs opened #1209 "Support Chunked Encoding🚀"
I need to create an endpoint that supports `chunked encoding`: https://www.tradingview.com/rest-api-spec/#operation/streaming

On `net/http` you can implement it like this: https://stackoverflow.com/questions/26769626/send-a-chunked-http-response-from-a-go-server

But on fiber, it doesn't seem to work if I try and copy the general approach.

This person also tried but failed: https://groups.google

[2021-03-09 05:33] pjebs commented on #1209
Can I use SendStream for this process?

[code]

[2021-03-09 06:33] gregchalmers commented on #1207
Hi @kiyonlin thanks for explaining to me why. I did what you suggested, [[here]](https://github.com/gregchalmers/fiber/commit/cc262daae31f0449cae282750cb1c133ac1b6bbb) I've only coded in Go for a week so you might want to check if it looks OK, and then I'll submit a PR.

Thanks

[2021-03-09 06:48] kiyonlin commented on #1209
Maybe this valyala/fasthttp#840 can help you.

[2021-03-09 10:29] pjebs commented on #1209
@kiyonlin its unrelated

[2021-03-09 10:36] kiyonlin commented on #1209
Your process won't stop if no error occurs, right?

[2021-03-09 10:41] pjebs commented on #1209
yes
but I actually can't get anything to work.

[2021-03-09 10:45] kiyonlin commented on #1209
Have you tried `Ctx.Response().SetBodyStreamWriter`?

[2021-03-09 14:43] #1207 closed

[2021-03-10 00:45] kiyonlin commented on #1209
It's not commonly used, so we don't wrap it in fiber.

Once client closes connection, write action in SetBodyStreamWriter should get error.

[2021-03-10 01:21] pjebs commented on #1209
@kiyonlin Thanks for the tip. It appears to work.
But in my case, I need to continually push (i.e. with the timer in the above snippet). I can't see a way to detect when the client closes the connection.

[2021-03-10 01:29] pjebs commented on #1209
That snippet is fine. But I need to continually push. I need a way to stop the push (i.e. stop the timer, and allow the goroutine to return) when the client closes the connection.

[2021-03-10 01:33] pjebs commented on #1209
I opened an issue here: https://github.com/valyala/fasthttp/issues/993

[2021-03-10 01:35] kiyonlin commented on #1209
If you got error there(no matter what happened), you can do what you want(stop the timer, and allow the goroutine to return)

[2021-03-10 01:46] pjebs commented on #1209
That approach doesn't seem to work at all. Clients can't even connect to it:

[code]

[2021-03-10 01:51] kiyonlin commented on #1209
I don't understand what you do. If you get error, the function in `SetBodyStreamWriter` will return and the ticker will stop.

[2021-03-10 01:52] pjebs commented on #1209
Okay. I understand what you are saying.

[2021-03-10 01:52] #1209 closed

[2021-03-10 01:54] pjebs commented on #1209
@kiyonlin thanks

[2021-03-10 16:30] iltish opened #1214 "Memory corruption in internal/memory/memory.go"
**Fiber version**
2.5.0
**Issue description**
There seems to be some kind of memory corruption happening when using cache middleware without specifying storage that defaults to using https://github.com/gofiber/fiber/blob/master/internal/memory/memory.go

Initially it was noticed that after making many parallel requests to cached endpoints application keeps on having high CPU usage (despite cache b

[2021-03-10 17:30] iltish commented on #1214
Looks like I found the issue - default key generator for cache middleware is not safe to use directly as the content of the string it returns seems to get modified later.

When using cache middleware in the following way, the issue also disappears:
[code]

[2021-03-11 07:26] ReneWerner87 commented on #1214
yes due to our reuse of the memory areas, this is a conceivable error if you adjust the path inside and use the cache middleware around the outside

it is also possible to switch the app back to immutable string, then everything is a bit slower, but you don't run into such errors
https://docs.gofiber.io/api/fiber#config
fiberConfig{Immutable: true}

would close the issue, if you have any comments

[2021-03-11 07:26] #1214 closed

[2021-03-11 07:27] ReneWerner87 commented on #1214
[code]
by the way, you can also use our copy string function

[2021-03-11 07:58] kiyonlin commented on #1127
We'll figure this out in a long term. Close it for now.

[2021-03-11 07:58] #1127 closed

[2021-03-11 07:59] #920 closed

[2021-03-11 08:01] #1114 closed

[2021-03-12 00:23] #1173 closed

[2021-03-12 03:51] bogdanciuca opened #1216 "API Key & Key=Val middleware"
**Question description**

Hi, I've recently written 2 `fiber` middlewares:
- one that checks the `API Key` extracted from the request against a cache and can accept / block the request, perform some custom action, etc.
- the other is a more generic `Key=Val` approach, in which data can be extracted from various sources like headers, query params, form data, etc and can also be used to accept / blo

[2021-03-12 04:12] bogdanciuca opened #1217 "JSON Decoder/Encoder - Segment vs goccy/go-json"
**segmentio vs go-json**

Hi, I saw you guys recently switched to `segmentio`. I was wondering if you considered [go-json](https://github.com/goccy/go-json)? Its benchmarks look pretty amazing.

Also, congrats on the latest round of `TechEmpower` benchmarks 🥳

[2021-03-12 09:22] artjoma opened #1219 "🤗 Request/response interceptor"
**Request/response interceptor**

Any code examples ? Similar to: https://tomcat.apache.org/tomcat-9.0-doc/servletapi/javax/servlet/Filter.html Servlet API specification.

[2021-03-12 10:02] kiyonlin commented on #1219
Is this what you want?
https://docs.gofiber.io/api/ctx#next

[2021-03-12 10:11] artjoma commented on #1219
Not, I want to have an interceptor(function or method) that called before and after call of each handler. I want to include elapsed time to every response for all my url handlers.

[2021-03-12 10:14] kiyonlin commented on #1219
It's called [middleware](https://docs.gofiber.io/api/middleware) in fiber.

[2021-03-12 10:42] artjoma commented on #1219
Thank you!

[2021-03-12 10:42] #1219 closed

[2021-03-12 21:35] hi019 commented on #1217
Hello! For now you can look at https://github.com/goccy/go-json/issues/149 if you want to use go-json with Fiber. As for making it the default, the other maintainers can chime in.

[2021-03-12 22:14] GarryGaller opened #1220 "🤗 Static vs filesystem"
**Question description**
Is there any difference between using the Static method and middleware filesystem?
**Code snippet** _Optional_

[code]
vs
[code]
I will add that in both cases I have a problem with the availability of css and js resources along this route.
And, interestingly, when using the route via nginx, there is no problem.

[code]

But I would like to understand why there is a problem

[2021-03-13 00:16] kiyonlin commented on #1217
Thanks for the suggestion! We've noticed it last year. It looks promising in benchmarks. But it's younger and less stable. Maybe we can wait a little longer. And you can use it as your json decoder by setting `Config.JSONEncoder`(I think you know it).

[2021-03-13 00:20] kiyonlin commented on #1216
Hey thank you for your work! But I don't know if you've noticed we already have [keyauth](https://github.com/gofiber/keyauth), is this similar to what you said?

[2021-03-13 02:03] bogdanciuca commented on #1217
Yes, I noticed the JSON Encoder is now configurable, was a bit curious on your assessment of it. Seeing the recurring issue cleared things up. Thanks!

[2021-03-13 02:05] #1217 closed

[2021-03-13 02:34] bogdanciuca commented on #1216
Yep, pretty much, so It appears that I haven't 😞  I went through `fiber/middleware` mostly. Thanks, `userauth` looks great, you can close this.

[2021-03-13 02:39] kiyonlin commented on #1216
We also have some [external middlewares](https://github.com/gofiber/fiber#-external-middleware) which may depend on other 3rd packages, so we didn't put them into fiber core repo.

[2021-03-13 02:39] #1216 closed

[2021-03-13 11:01] ReneWerner87 commented on #1220
Thank you for your report

Both functionalities work a bit differently and the filesystem middleware is rather meant for embedded files, if you want to deliver pure static files that are located next to the golang code or binary, I would recommend app.Static

Unfortunately i can't reproduce the error you describe there without a reproducible setup.
Can you(@GarryGaller ) provide me with a minimal

[2021-03-13 11:02] #1190 closed

[2021-03-13 14:09] GarryGaller commented on #1220
Here is a partial structure of the project.
The bin directory contains the binary file of the compiled application.
The app runs on heroku via procfile:
bin/myapp

Application directory on heroku (app):
├───assets
│   ├───css
│   ├───errors
│   ├───fonts
│   ├───js
│   └───templates
│       ├───css
│       └───js
├───bin
│   └───logs
│       └───tr
├───cli
├───config
├───doc
│   ├───css
│   ├───fo

[2021-03-13 15:53] ReneWerner87 commented on #1220
[code]
![image](https://user-images.githubusercontent.com/7063188/111035457-f76c0600-841a-11eb-8502-75b5604a4988.png)

![image](https://user-images.githubusercontent.com/7063188/111035491-1ff40000-841b-11eb-9aae-2b45ed370672.png)
![image](https://user-images.githubusercontent.com/7063188/111035501-27b3a480-841b-11eb-9bd1-268f2f0d19fe.png)

I have started up the bootstrap starter as a test,
unfortu

[2021-03-13 16:52] greeeg opened #1223 "🐛 JSON body & FormFile are not captured properly using Lambda Fiber adapter"
**Fiber version**
v2.5.0

**Issue description**
Hello fellow contributors, first thanks for your amazing work on Fiber, it's a joy to use 🤗

I'm having trouble using Fiber with [AWS Lambda Go proxy for fiber](https://github.com/awslabs/aws-lambda-go-api-proxy/tree/master/fiber) when sending POST requests with JSON or multipart/form-data.

Indeed, using `c.BodyParser()` or `c.FormFile()`, I'm getti

[2021-03-13 18:26] Foosec opened #1224 "Using context.Render() to render a template with html not being escaped🤗"
**Question description**
Ive got some markdown, which i parse into HTML.
I would now like to render that HTML with context.Render() into my template

[code]

where PostText is HTML that i would like to not be escaped.
It seems that by default it escapes the HTML and it doesn't get rendered by the browser.
How can i work around this?

[2021-03-13 18:35] ReneWerner87 commented on #1224
Use the same solution as in https://medium.com/@arvindsris/how-did-i-unescape-values-in-a-template-using-go-lang-8ce987e8d1f7

[2021-03-13 18:43] Foosec commented on #1224
Thank you for the superbly quick response!

[2021-03-13 18:43] #1224 closed

[2021-03-13 20:45] GarryGaller commented on #1220
I don't quite understand what other settings to show you.
I have a huge application (microservice) and it is difficult to give some code.

The problem, as I have already pointed out, is only available from the app/doc documentation directory: more precisely, the app/doc/vendor subdirectory. Resources are extracted from the remaining subdirectories.

![vendor](https://user-images.githubusercontent.

[2021-03-13 20:53] ReneWerner87 commented on #1220
Please use a slash at the end of your route

http://localhost:3001/api/

And give me feedback

[2021-03-13 21:02] GarryGaller commented on #1220
![api](https://user-images.githubusercontent.com/20813879/111044239-5a2fc280-8458-11eb-93f5-aa13f34cd286.jpg)
-----------------
![api2](https://user-images.githubusercontent.com/20813879/111044242-5dc34980-8458-11eb-96ff-3befbf9a6e60.jpg)
-------------------
![api3](https://user-images.githubusercontent.com/20813879/111044247-6582ee00-8458-11eb-8f17-86459e2796a0.jpg)

[2021-03-13 21:08] ReneWerner87 commented on #1220
Meant the static settings, there in your information you have referred to other variables, but I do not know what is behind the variables, the same with the golang code for the paths, there are variables used that are not known.

Sure you have a big microservice, but to find the error it is sometimes better to cut down the setup to a minimum to find the error, this helps most of the time, this is

[2021-03-13 21:10] ReneWerner87 commented on #1220
Leave the settings in the golang code as before, just add the slash to the end in the browser url

So use
 app.Static("/api".....

[2021-03-13 21:11] GarryGaller commented on #1220
[code]

this  this is the setting from the config
[use.static.api]
 index = "index.html"

[2021-03-13 21:17] GarryGaller commented on #1220
Exact same browser response:
Cannot GET /api/

[2021-03-14 10:13] ReneWerner87 commented on #1220
[code]

currently don't know why the index is not loaded if you only store the static url, but this way it should fit for now

if your problem is solved, feel free to close the issue

[2021-03-14 10:24] ReneWerner87 commented on #1220
or leave it as it is and just place a base tag in the head at the top position
![image](https://user-images.githubusercontent.com/7063188/111065007-b2e27800-84b7-11eb-9618-e6ebec539308.png)

![image](https://user-images.githubusercontent.com/7063188/111065003-acec9700-84b7-11eb-85aa-40e1d00dcdd6.png)

[2021-03-14 11:25] ReneWerner87 commented on #1223
thanks for the report, we will test it later

Note for me to test:
https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-using-start-api.html

[2021-03-14 11:51] GarryGaller commented on #1220
1)  Yes, that is how it works.

[code]
But shouldn't it work even without sending the file?

2) Rearranging the positions of the routes did not give any positive result.

[2021-03-14 11:51] #1220 closed

[2021-03-14 17:23] #1184 closed

[2021-03-14 17:23] #1182 closed

[2021-03-15 13:04] SoftExpert opened #1225 "🐛 Streaming with SetBodyStreamWriter results in deadlock"
**Fiber version**
2.6.0
**Issue description**
Using **SetBodyStreamWriter** leads to a deadlock: only 5 items are being generated, but the client which makes the call does not receive anything; trying to gracefully shutdown the application does not work either - it waits indefinitely for the connections to be closed; **ReadTimeout** does not seem to have any effect.
I included the full code of a s

[2021-03-15 15:38] tianjipeng commented on #1225
You should return ``nil`` instead of ``return <-q``，otherwise it will block. Why is it always 5 items?  For ``streamWriter`` fasthttp  will create ``PipeConns`` like this:
[code]

[2021-03-15 16:31] SoftExpert commented on #1225
Well, the idea was to continuously generate data, every 1.5 sec ...

[2021-03-15 17:11] SoftExpert commented on #1225
You are right, should use `return nil ` to have the process close.
But ... this is still not working.
With the following handler the content is still not sent and the connection never closes.
Still have to kill the app ...

[code]

[2021-03-15 22:05] kiyonlin commented on #1225
Why do you set DisableKeepalive to true?

[2021-03-15 22:47] SoftExpert commented on #1225
To be able to stop the application; otherwise it will never close.

[2021-03-15 22:52] kiyonlin commented on #1225
I don't follow this. If you disable keep alive, once you sent response, the connection was closed. So you can not send data again through the connection.

[2021-03-15 22:58] SoftExpert commented on #1225
I see... But the streaming is supposed to keep the connection open, right ?
In my understanding, the stream keeps on writing data, so the connection is kept alive.
`Disable keep-alive connections, the server will close incoming connections after sending the first response to the client`
Have I misunderstood ?

[2021-03-15 23:11] kiyonlin commented on #1225
stream relies on tcp connection but you close it via `DisableKeepAlive = true`

[2021-03-15 23:25] SoftExpert commented on #1225
Ok, I tried with DisableKeepalive: false.
With the first handler (StreamingHandler) the request does not receive data and does not close; I cannot close the app.
With the second handler (StreamingHandler2) the request does not receive data, but when the loop ends the stream closes and I get `Cannot GET /v2/streaming` on the client side.

[2021-03-16 05:21] tianjipeng commented on #1225
@SoftExpert Try ``return nil`` instead of ``return c.Next()``. When use ``c.Next()``, fiber  will look up handler, but there is no other handler except ``StreamingHandler2``.

[2021-03-16 07:29] SoftExpert commented on #1225
That did it! Thank you - I really have to brush up my documentation reading !

[2021-03-16 16:07] joeky888 opened #1227 "🐛 cache middleware: panic: websocket: bad handshake"
**Fiber version**

v2.6.0

**Issue description**

The cache middleware causes websocket handshake error when multiple clients connected to the server, remove the middleware solved the problem.

[code]

**Code snippet**

[code]

[2021-03-16 16:21] kiyonlin commented on #1227
Do not cache ws. Please use `Next` to skip ws path.

[2021-03-16 16:39] joeky888 commented on #1227
Hello, Thank you for your reply.
It took me a couple of hours to spot the problem :(

Can the cache middleware just skips all websocket requests automatically?
Can it be documented somewhere in the readme in case someone run into it in the future?

[2021-03-17 06:35] SoftExpert commented on #1225
Seems to be related to https://github.com/gofiber/websocket/issues/36
Is this a bug in fasthttp or quirk in fiber ?
If this makes sense, it would be interesting to be able to close connection for http requests as soon as the response is sent, but have the websockets persist.
Is this possible currently ?

[2021-03-17 09:20] Fenny commented on #1227
@joeky888, thanks for your report. Could you make a PR for the readme?

[2021-03-17 09:40] joeky888 commented on #1227
Okay.

[2021-03-17 10:00] joeky888 commented on #1227
Here it is.

https://github.com/gofiber/websocket/pull/41

Thank you all!

[2021-03-17 10:00] #1227 closed

[2021-03-17 12:11] goldalworming opened #1230 "🤗 rerender all views without restart apps"
Hello, Thank you for awesome framework.

But how do I rerender all views when I make changes without reload apps.
for now I use this code to set Reload to true in view engine

    app.Get("/rerender", func(c *fiber.Ctx) error {
        engine.Reload(true)
        return c.Redirect("/")
    })
    app.Get("/fix", func(c *fiber.Ctx) error {
        engine.Reload(false)
        return c.Redirect("/")

[2021-03-17 14:20] jjude opened #1231 "Flash Messages"
**Describe the solution you'd like**

When we develop web applications, we have to flash messages (your action is not successful...) between requests. Beego has flash messages: https://beego.me/docs/mvc/controller/flash.md. Something similar in Fiber would be helpful.

**Describe alternatives you've considered**

This can be implemented via session cookies. But having this as an explicit middlewar