[2022-03-25 16:54] ReneWerner87 commented on #726
Hmm maybe we have to support other suffixes for other encodings
https://github.com/valyala/fasthttp/blob/master/fs.go#L320

[2022-03-25 17:53] hi019 commented on #1820
As a workaround, you can set `JSONEncoder` in `fiber.Config` to `json.Marshal` from the stdlib.

[2022-03-25 18:45] ltns35 commented on #1354
Enable by default security best practices when protecting against common attacks that an API server could receive.

[2022-03-25 20:07] jonathanch7 commented on #1835
Thanks, I reordered my routes and it worked.
As a suggestion, this should be clarified in the fiber documentation, since there are people who do not know express.

[2022-03-25 20:07] #1835 closed

[2022-03-25 20:10] shahriar350 commented on #1820
Same problem i already faced in my project and change gofiber default json to ffjson.

[2022-03-25 21:28] ltns35 commented on #1354
Maybe with a list of best practices which we should apply, so that it is clearly defined and you can start with the implementation.

@ReneWerner87 I'll look into it when I get back from vacation (next week) and do a feature request with its implementation.

[2022-03-25 21:41] ReneWerner87 commented on #1835
You are welcome to help us and prepare a well understandable part for the documentation.

Help is always welcome.

[2022-03-28 06:09] luisgarciaalanis commented on #1820
fiber.New(fiber.Config{
		JSONEncoder: json.Marshal,
	})

Tried this and still crashes

[2022-03-28 07:22] ReneWerner87 commented on #1835
https://docs.gofiber.io/guide/routing#paths

![image](https://user-images.githubusercontent.com/7063188/160346799-93072ceb-5720-4663-bda5-c8813bef6eb8.png)

i added some additional information

[2022-03-29 02:51] alfaex opened #1838 "🐛 Fiber Panic when trying to stream multipart/form-data body with RequestBodyStream"
**Fiber version**
v2.30.0

**Issue description**
While studying stream upload multipart/form-data, for multiple large files, (2GB) in a small container with low memory.

I managed to do this with net/http with a docker container running with limited memory (32MB) and it worked, idle was using 5MB and while uploading 3GB files went to 10mb (limited chuncks to 1MB)

On Fiber it kept cashing the cont

[2022-03-29 05:39] h4ckedneko opened #1839 "🐛 Sub fiber's error handlers not working"
**Fiber version**
v2.30.0

**Issue description**
In v2.24.0, custom error handler in fiber sub apps is captured by the main fiber app when you mounted them (#1560). But this doesn't work anymore with the recent version.

**Code snippet**

[code]

[2022-03-29 16:19] ReneWerner87 commented on #1837
any news ?

[2022-03-29 16:32] ReneWerner87 commented on #1839
[code]

[code]

can not reproduce, need more information on this

for me it works as seen in the screenshot
![image](https://user-images.githubusercontent.com/7063188/160660673-e4d15f31-df39-4851-b6c1-e2bf21da1b9e.png)

can you refine your example or describe the error in more detail ?

[2022-03-29 16:35] ReneWerner87 commented on #1838
thanks for the report

i think we need a little time for this, as currently many of us are busy with other tasks

but we will take it into account and look at it, just want to say that it may take longer

[2022-03-30 07:52] gozeloglu commented on #1354
I would like to add retry mechanism. It seems that nobody has been started to implement it. If you accept to add this feature to v3, I can start to implement.

[2022-03-30 07:59] ReneWerner87 commented on #1354
Sounds good, can you first create a feature report for it

unfortunately we have currently a little start issues

we first have to create the base for the start -> when this is done we will inform in the feature reports, so you can start then

[2022-03-30 09:16] gozeloglu opened #1840 "🚀 v3 Request: Retry Mechanism"
**Is your feature request related to a problem?**

**Describe the solution you'd like**
I am planning to add the exponential backoff algorithm. It is a widely used retry policy. Basically, there will be 2 different functions. One is `Retry()` (or `Do()` ) method and `NextBackoff()`(or `NextTime()`) methods. Of course, there will be some helper methods like `NewBackoff()`, `Reset()`. This feature w

[2022-03-31 12:33] kaykhancheckpoint commented on #737
DId this ever get implemented, cant seem to use this structure in v2

[2022-03-31 12:51] lotryas opened #1842 "🐛 Mount sub fiber app on "/""
**Fiber version**
2.31.0

**Issue description**
I can access http://localhost:3000/hello but I can't access http://localhost:3000/ for some reason. I get a 404 response from the last handler

**Code snippet**

[code]

[code]

[2022-03-31 12:51] ReneWerner87 commented on #737
should be mounting or grouping

https://docs.gofiber.io/api/app#mount
https://docs.gofiber.io/api/app#group

[2022-03-31 13:00] kaykhancheckpoint commented on #737
thanks, mount is what i was looking for.

[2022-04-01 04:20] alphonso06 opened #1843 "HCaptcha Implementation in Fiber?🤗"
**Question description**
I'm trying to figure out how to properly implement server-side validation with hCaptcha. The only package I could find in Go that does hCaptcha validation is [this one.](https://github.com/kataras/hcaptcha)

`hcaptcha.Get()` is unfortunately looking for a type of `*http.Request`, which I believe requires `net/http`. My app is already quite large and I was tasked to add a n

[2022-04-01 07:45] qmdx opened #1844 "🐛 JSON parsing exception contains an array at the end"
**Fiber version**

v2.31.0

**Issue description**

JSON parsing exception .  `Skus` Unrecognized

**Code snippet**

[code]

Normal   JSON

[code]

Unrecognized  JSON

[code]

[2022-04-01 09:17] sujit-baniya commented on #1843
@alphonso06 I've created hcaptcha middleware https://github.com/sujit-baniya/hcaptcha. Check the example https://github.com/sujit-baniya/hcaptcha/blob/master/examples/main.go

[2022-04-01 10:18] #1843 closed

[2022-04-01 12:42] ReneWerner87 commented on #1844
Can you please provide all structs so we can analyze this behavior?

[2022-04-01 13:35] ReneWerner87 commented on #1844
Without having made the first analysis, I think the problem is struct inheritance

What is not processed by the schema parser as you think

Your warehouse id should be under

root.PurchaseOrder.warehouseId

Please test the whole thing without inherited structs

[2022-04-01 14:08] ericreis opened #1845 "🤗 Retrieve app stack trace in error handling middleware"
**Question description**
Hello, I'm having trouble trying to retrieve my application's stacktrace, but when calling the `debug.Stack()` method it seems that the context has already changed and the stacktrace doesn't show the location where my application panicked or raised an error:

[code]

I tried using the `StackTraceHandler` feature to correctly retrieve it and the stacktrace there looks good:

[2022-04-01 18:34] bigflood commented on #1838
@alfaex

you should set `DisablePreParseMultipartForm` to true

by default, server reads the entire multipart message before calling the handler.

https://github.com/gofiber/fiber/blob/a7032b7a175a5f909413dc43600a8e505dca322e/app_test.go#L1558

`Pre-read multipart form data of known length`
https://github.com/valyala/fasthttp/blob/7a5afddf5b805a022f8e81281c772c11600da2f4/http.go#L1214

[2022-04-02 06:41] ReneWerner87 commented on #1844
@qmdx

[2022-04-02 16:01] Royal-Rich opened #1846 "🚀"
**Is your feature request related to a problem?**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-04-02 16:15] #1846 closed

[2022-04-04 04:41] h4ckedneko commented on #1839
Hello, I created a git repo to reproduce this bug:
https://github.com/h4ckedneko/fiber-bug

[2022-04-04 04:49] h4ckedneko commented on #1839
Both v2.25.0 and v2.31.0 have the same fiber setup. But if you run them, the recent version doesn't print "custom error handler called" meaning the custom error handler is not being registered.

[2022-04-04 04:53] h4ckedneko commented on #1839
![image](https://user-images.githubusercontent.com/25201563/161476118-3a7457e9-712b-47df-88a1-fcf63c79441d.png)
![image](https://user-images.githubusercontent.com/25201563/161476175-7a522758-1ec6-418a-b5af-f822fa312838.png)

[2022-04-04 06:56] ReneWerner87 commented on #1839
okay found the error, it only occurs when you root mounted apps from other fiber instances

we will fix it, thanks for the info

related to the refactoring from :
https://github.com/gofiber/fiber/pull/1749/files

[2022-04-04 10:54] h4ckedneko commented on #1839
Thanks Fiber team! 🥳

[2022-04-05 06:40] #1839 closed

[2022-04-05 06:50] ReneWerner87 commented on #1842
![image](https://user-images.githubusercontent.com/7063188/161695478-dddcc58e-236a-4d11-a40c-06dc4fdb0442.png)

its fixed with the last commit
require github.com/gofiber/fiber/v2 v2.31.1-0.20220405064022-a8f9d4acfb2c

https://github.com/gofiber/fiber/commit/a8f9d4acfb2ccd533a458415ac0cffec62af0fda

[2022-04-05 06:50] #1842 closed

[2022-04-05 06:55] ReneWerner87 commented on #1842
Reason for the bugs:
problem was solved by optimizing the mounting
there the functionality for the root path was broken, because there a trimRight with "/" was used
https://github.com/gofiber/fiber/pull/1749/files

[2022-04-05 06:57] ReneWerner87 commented on #1820
@luisgarciaalanis can you test it with the version 2.31.0 or the current master commit
[code]

[2022-04-05 06:59] ReneWerner87 commented on #1816
@long2ice perhaps a new method in context worth ?

[2022-04-05 15:33] #1837 closed

[2022-04-06 13:30] laeo opened #1850 "🚀 Append queries to RedirectToRoute"
**Is your feature request related to a problem?**

I would like to call `c.RedirectToRoute("login", fiber.Map{"code": state})`, `code` is not a route parameter, i want it will be passed as an GET query parameter.

**Describe the solution you'd like**

Let the second param is passed as queries to redirection.

**Describe alternatives you've considered**

Use `c.Redirect()` and create direction URL

[2022-04-08 13:12] ReneWerner87 commented on #1845
@ericreis am not quite sure how to help yet,
can you please create a small executable example for visualization and research

[2022-04-08 15:58] efectn commented on #1773
duplicate of https://github.com/gofiber/template/issues/164

[2022-04-08 15:58] #1773 closed

[2022-04-08 18:00] #1795 closed

[2022-04-09 02:54] alfaex commented on #1838
@bigflood it worked amazingly well

Problem solved.

Thanks.

[2022-04-09 04:43] #1838 closed

[2022-04-09 20:17] darkweak opened #1854 "🚀 HTTP cache implementation as middleware"
**Is your feature request related to a problem?**
Not really

**Describe the solution you'd like**
An HTTP cache system would be great in fiber to avoid the execution of unchanged response.
I can implement [Souin](https://github.com/darkweak/souin) as the HTTP cache middleware. With that it will support the CDN validation/invalidation too, set default cache-control header, store in a distributed s

[2022-04-09 20:21] efectn commented on #1854
You can also add implementation to https://github.com/gofiber/awesome-fiber after merging the PR.

[2022-04-10 02:23] Hevienz opened #1855 "🐛 When i use proxy middleware and the target url is begin with https, I got an error."
**Fiber version**
v2.31.0

**Issue description**
When i use proxy middleware and the target url is begin with https, I got "HostClient can't follow redirects to a different protocol, please use Client instead".

**Code snippet**

[code]

[2022-04-10 11:08] bigflood commented on #1855
@Hevienz
Currently, `proxy.Balancer` works only for `http -> http`.
(you can work around the error by using `proxy.Do` or `Proxy.Forward` instead of `proxy.Balancer`)

@ReneWerner87
May I work on this issue?

[2022-04-11 02:11] Hevienz commented on #1855
@bigflood
I have tried proxy.Forward, just like below.
[code]
I got this error, "x509: cannot validate certificate for 127.0.0.1 because it doesn't contain any IP SANs".

So I try to skip verify, just like below.

[code]
This time I got 404.

Do you have any suggestions?

[2022-04-11 14:16] bigflood commented on #1855
@Hevienz
LGTM

there is also test code:
https://github.com/gofiber/fiber/blob/728e9231deef7cd3c8365575f6a35726c33506e4/middleware/proxy/proxy_test.go#L203

it is possible that the admin API server responding with 404

[2022-04-12 09:20] Hevienz commented on #1855
@bigflood
Yeah, you are right! The backend return 404.

[2022-04-12 09:20] #1855 closed

[2022-04-12 16:18] sman-cn opened #1856 "middleware monitor question."
**Question description**
On my first fiber site,
I added client-side cache headers for every get request, and the monitor middleware didn't work properly. It seems to be cached.
Maybe it's better to use post request? .
Thank you!
**Code snippet**
[code]

[2022-04-13 08:45] #1708 closed

[2022-04-13 08:45] #1820 closed

[2022-04-13 17:36] efectn commented on #1856
You can skip monitor middleware by using `c.Path()` @sman-cn

[2022-04-13 22:08] AntonFridlund opened #1857 "Different status codes in logger middleware compared to Chrome dev tools"
**Question description**
Hello.
I am using the etag and logger middleware.
My goal is to create a client side cache for my web application.
Chrome seems to like the solution and responds with a `304` status code. But the logger middleware responds with a `200` status code.
Is this normal? The behavior in other servers such as Expressjs shows the `304` status code in the logger middleware.

Here ar

[2022-04-14 01:31] tristanisham commented on #1354
Add built-in type references for `func(c *fiber.CTX) error` called `Route` for clarity.

[2022-04-14 08:24] ReneWerner87 commented on #1857
Should be due to the order of the declarations, the etag middleware wants to start after the business run with the logic of the middleware and the logging for the response works similarly

Probably the logging is executed first and then the process of the etag middleware for changing the status code is executed

Please try to swap the logging middleware and the position of the etag middleware and

[2022-04-14 08:48] #1816 closed

[2022-04-14 08:49] #1785 closed

[2022-04-14 11:04] AntonFridlund commented on #1857
Swapping the logging middleware and the etag middleware worked!
I now get the `304` status code in the logger.
👍 Now I can continue working on my awesome application.

Thank you for the help!

[2022-04-14 11:06] #1857 closed

[2022-04-14 16:09] darkweak commented on #1854
Merged and available using the `github.com/darkweak/souin/plugins/fiber` dependency. You can find the related documentation here [https://github.com/darkweak/souin/tree/master/plugins/fiber](https://github.com/darkweak/souin/tree/master/plugins/fiber). ✌️

[2022-04-14 16:11] efectn commented on #1854
Thanks. Don't forget sending PR to awesome-fiber repo.

[2022-04-14 17:00] sman-cn commented on #1856
Thank you, I didn't use c.Path(), it seems better code like this？
[code]
So it looks better if this middleware changed to POST method?😃

[2022-04-14 17:05] efectn commented on #1856
Yeah it would be better if we use API section of middleware as POST but it can be breaking-change🤔🤔

https://github.com/gofiber/fiber/blob/master/middleware/monitor/monitor.go#L84

[2022-04-14 17:07] efectn commented on #1845
@ericreis

[2022-04-14 17:11] darkweak commented on #1856
The monitor middleware could return a `Cache-Control: no-store, no-cache` HTTP header directive to fix that.

[2022-04-14 18:09] sman-cn commented on #1856
好主意！👍

[2022-04-14 18:24] #1856 closed

[2022-04-15 00:34] cw-20020752 commented on #1816
Thanks for your kind replies!

[2022-04-15 13:37] #1850 closed

[2022-04-17 00:15] coreybutler commented on #1820
I ran into this issue using 2.30.0. Upgrading to 2.31.0 resolved the issue.

[2022-04-17 02:15] laeo commented on #1850
Wow its a really good news to me, but this impl isn't looks very well. The `queries` field uses `url.Values` may better than `map`, it gives more compatibility to other libs.

And, in my other frameworks' exp, `RedirectToRoute` is better to handle all params which not defined as path param to be normal queries in URL, and this action may not break backward-compatibility if we give users a option t

[2022-04-17 02:39] #1844 closed

[2022-04-17 08:50] efectn commented on #1850
It makes really much allocs.

[2022-04-17 11:10] efectn commented on #1327
Can you give more reproducible example? This is unexcepted result @pnunn

[2022-04-18 11:16] JuzioMiecio520 opened #1864 "🤗 socket.io + Fiber compatibility"
**Question description**
Hi,
I have a question regarding Fibers compatibility with socket.io. I've seen #1126, but it's from a year ago, so I'd like to know if there's been any development towards resolving that issue. If not, is there any simillar custom protocol like socket.io?

Thanks in advance!

[2022-04-18 11:37] efectn commented on #1864
Maybe this middleware can be helpful for you. https://github.com/antoniodipinto/ikisocket

It was inspired by Socket.io

[2022-04-18 11:42] JuzioMiecio520 commented on #1864
Oh, that's awesome, thanks. It doesn't seem to support rooms, like socket.io did (only send to lists of UUIDs), but that's great anyways, thanks!

[2022-04-19 15:21] MaxTCodes opened #1865 "🐛 Cookie not setting for correct date"
**Fiber version**
Fiber v2.31.0
**Issue description**
Cookie not setting for more than a year.
**Code snippet**

[code]

[2022-04-19 16:27] renanbastos93 commented on #1865
I tested here and it worked

I added two years to expire. `expires=Thu, 18 Apr 2024 16:25:34 GMT;`
[code]

[2022-04-19 16:59] MaxTCodes commented on #1865
Hi,

In my usage of gofiber, it seems that it doesn't set for 2 years, it's expiration gets set to 2022-04-20.
![image](https://user-images.githubusercontent.com/25856189/164056096-8421110c-d141-4191-aefb-7a334e44f58e.png)

[2022-04-19 17:15] ReneWerner87 commented on #1865
Can you please print out which system time in golang is the current one

Maybe we can find the cause

[2022-04-19 17:33] MaxTCodes commented on #1865
The system time according to golang is `2023-04-19 20:13:02.6663192 -0400 EDT m=+31560000.005763401`, is that what you were looking for? Or are you looking for something else?

[2022-04-19 17:46] ReneWerner87 commented on #1865
Yeah just time.Now()

[2022-04-19 17:47] MaxTCodes commented on #1865
Oh it's, `2022-04-19 13:46:57.1392545 -0400 EDT m=+0.005657601`

[2022-04-20 10:20] ReneWerner87 commented on #1865
![image](https://user-images.githubusercontent.com/7063188/164207079-2f89ac92-5a80-48a2-97c6-017b06f18a57.png)
can also not detect any error, with me it runs

as long as we do not get a reproducible case, we can not help unfortunately

[2022-04-20 11:50] MaxTCodes commented on #1865
Okay!

[2022-04-20 11:51] #1865 closed

[2022-04-20 12:19] PringlePot opened #1866 "🐛 ctx.Body not working in middleware"
**Fiber version**
Latest
**Issue description**
When I was working I found out that ctx.Body() doesn't work when the request is using ctx.JSON(). Which means you have to use ctx.Context.Response.Body() instead

**Code snippet**

[code]

[2022-04-20 12:53] renanbastos93 commented on #1866
@PringlePot Does it just not work? Or throw an error?

[2022-04-20 12:54] PringlePot commented on #1866
it just returns null while I do send a response

[2022-04-20 13:05] PringlePot commented on #1866
hi let me show you what I mean

[code]

[2022-04-20 13:17] renanbastos93 commented on #1866
of course, this behavior is right because `c.Body()` returns a `[]byte` then contract middleware Fiber is returning an error.

here not compile:
[code]

[2022-04-20 13:32] PringlePot commented on #1866
That's not the point, if you print out both, the ctx.body will be null

[2022-04-20 13:52] #1864 closed

[2022-04-20 14:05] PringlePot commented on #1866
🤦‍♂️I just noticed, sorry for wasting your time

[2022-04-20 14:05] #1866 closed

[2022-04-20 14:06] renanbastos93 commented on #1866
relax man. Thanks a lot for talking with us.

[2022-04-20 17:11] webdevium opened #1867 "🤗 curl upload files without headers"
**Question description**
I'm beginner in fiber and golang. And sorry if question is stupid.

How can I get all uploaded files which I upload using
[code]

Every time I receive **request has no multipart/form-data Content-Type**

And this is reasonable: there are no headers :)

Is there any method to avoid headers checking and collect all uploaded files?

**Code snippet**

[code]

[2022-04-20 17:38] ChandanChainani opened #1868 "How to bind array of query params to slice of struct"
**Question description**
How to bind array of query params to slice of struct
[code]

**Code snippet**

[code]

[2022-04-20 17:50] ReneWerner87 commented on #1867
Unfortunately no.

In most frameworks/programing languages it is important to send the content type with the upload of files or also with the post body(form, xml, json...) , so that the framework knows how to interpret the content of the request body and how this can be done best.

Since we build on fasthttp and this is a requirement in any case, you have to send it in the case.

Didn't check the

[2022-04-20 18:17] ReneWerner87 commented on #1868
In your example you have exactly one person in the query parameters, but a list of persons in the code.

Which side is wrong, do you expect more than one person? Then you have to structure the parameters differently.
Or only one person? Then you have to adapt the passing to the queryparser method.
By the way, for the first levels where person appears you also need eib struct, so that the key can b

[2022-04-20 18:42] webdevium commented on #1867
@ReneWerner87
Tnx!

[2022-04-20 18:42] #1867 closed

[2022-04-20 20:55] breakbuidl opened #1869 "🤗 How to correctly configure custom ExpirationGenerator in cache middleware"
**Question description**
How to correctly configure custom ExpirationGenerator in cache middleware? My config is show below. (I am using Redis for storage with package `github.com/gofiber/storage/redis`

**Code snippet**

[code]
I have not done anything fancy here, its the exact same `ExpirationGenerator` func mentioned in the docs. But, for some reason, key's expiration is always set to the defau

[2022-04-21 00:33] Nightmaire012 opened #1870 "🐛 global bug"
**Fiber version**

**Issue description**

**Code snippet**

[code]

[2022-04-21 00:34] Nightmaire012 opened #1871 "🚀 hacking"
**Is your feature request related to a problem?**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-04-21 01:53] #1871 closed

[2022-04-21 02:08] #1870 closed

[2022-04-21 03:30] ChandanChainani commented on #1868
@ReneWerner87 For example I just created single person but I want it to process as many person are passed in query parameters either it would be one person or many persons.

[2022-04-21 06:23] ReneWerner87 commented on #1868
then you should just always use the pattern for the more number of people, because then it is possible to transfer one or more

[code]
![image](https://user-images.githubusercontent.com/7063188/164387491-22862455-52b9-43e9-b614-e7fdc0a4d5e4.png)

![image](https://user-images.githubusercontent.com/7063188/164387468-8416fd16-462d-41bb-8024-6237ea445796.png)

[2022-04-21 07:44] ReneWerner87 commented on #1868
@ChandanChainani

[2022-04-21 10:11] dorneanu commented on #299
Hi,

is it "safe"/production-ready to use [adaptor](https://github.com/gofiber/adaptor)?

Cheers,
Victor

[2022-04-21 10:37] ReneWerner87 commented on #299
yes

[2022-04-21 18:31] efectn commented on #1781
You should check the usage of JWT middleware.
https://github.com/gofiber/jwt#hs256-example

Also we need to look at all code related JWT to reproduce issue. If your problem not resolved, feel free to re-open the issue.

[2022-04-21 18:31] #1781 closed

[2022-04-21 19:39] ChandanChainani commented on #1868
@ReneWerner87
Thank you very much  :clap: :clap: :clap:

Is it possible to with only 1 struct instead of maintaining 2 struct?

[2022-04-21 19:52] ReneWerner87 commented on #1868
Not sure, but I think no.

[2022-04-21 21:00] efectn commented on #1223
Fixed by https://github.com/awslabs/aws-lambda-go-api-proxy/pull/115. Thanks to @drakejin

[2022-04-21 21:00] #1223 closed

[2022-04-22 05:10] #1868 closed

[2022-04-22 05:46] ChandanChainani opened #1872 "🐛 Cannot process array of key value in `application/x-www-form-urlencoded` request"
**Fiber version**
v2.32.0
**Issue description**
Array of key value are parsed through `QueryParser` in GET Request but Not through `BodyParser` in `application/x-www-form-urlencoded` form in POST request

**Curl request**

###### GET REQUEST
[code]
###### POST REQUEST
[code]

**Code snippet**

[code]

[2022-04-22 12:28] webdevium opened #1874 "🚀 Human readable BodyLimit"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**

What about make ability to set body size limit as human readable string?
Say we have environment variable `BODY_SIZE=42MB`
Then we read and set it to the fiber configuration.

Lets imagine **BodyLimitString** property in the fiber.Config
[code]
And this property automatic parsed into bytes size

[2022-04-22 13:31] ReneWerner87 commented on #1874
would treat the outside

integer numbers are perfect for config, everything else must be converted from outside

i.e. best you build a function that parses this or we could provide something in the utils, but in the config i wouldn't anchor it additionally

[2022-04-22 13:37] webdevium commented on #1874
@ReneWerner87  Fine. Maybe we can provide some function into Config, like ParseBodyLimit() as utility?

Sorry for my persistence. I'm just starting my journey into golang development.
I want to get it right :)

[2022-04-22 13:39] webdevium commented on #1874
Or you mean utils package?

[2022-04-22 13:42] ReneWerner87 commented on #1874
converting does not really have anything to do with the bodylimit

we could provide a function in the utils called "ConvertToBits".
[code]

maybe here https://github.com/gofiber/fiber/blob/master/utils/common.go

[2022-04-22 13:44] webdevium commented on #1874
Sounds good!
Can I try to make this function?

[2022-04-22 13:45] ReneWerner87 commented on #1874
[code]

[2022-04-22 13:46] ReneWerner87 commented on #1874
sure, but don´t forget
unittests, documentation, benchmark method

[2022-04-22 15:43] ReneWerner87 commented on #1874
Looks good, will merge it soon

[2022-04-22 15:45] webdevium commented on #1874
Tnx!

Maybe I will be a good golang developer :)

[2022-04-24 03:53] FlandiaYingman opened #1876 "🐛 ctx.SendFile returns 404 not found if hash sign is in filename"
**Fiber version**
`github.com/gofiber/fiber/v2 v2.24.0`

**Issue description**
If a hash sign is in the filename, `ctx.SendFile` returns 404.

**Code snippet**

[code]

[2022-04-24 04:02] FlandiaYingman commented on #1876
The problem happened here, `ctx.go:1382`:

[code]

The variable `file` wasn't escaped before it got passed into `SetRequestURI`. So `file` got parsed into several part - part after `#`  was omitted.

Because we can ensure when someone calls `ctx.SendFile`, they definitely don't want the path to contain a URI fragment (the part after hash sign) or a query string (after question mark, though most of

[2022-04-24 04:03] FlandiaYingman commented on #1876
If you are happy with this solution, then I'll be glad to create a PR for this. XD

[2022-04-24 10:16] ReneWerner87 commented on #1876
normally i am in favor of such a customization, but unfortunately this makes the function slower for everyone else who does not have such characters in their file, so i would like to check other solutions

what happens if you use this function outside and then just use the escaped string in the sendFile method ? we could put a hint in the comment of the function if this works

[2022-04-24 10:17] #1874 closed

[2022-04-24 10:25] #1872 closed

[2022-04-24 11:05] FlandiaYingman commented on #1876
@ReneWerner87

Good idea! I didn't even think of passing escaped string directly to `ctx.SendFile`. I tried and it worked.

Just add a hint in comment to let everyone know that the filepath would get parsed as URL.

[2022-04-24 14:07] alexohneander opened #1878 "Should the Context.Hostname reflect the port?"
I am trying to check the hostname with my database via middleware. For testing purposes, I have directed a few domains to `127.0.0.1` via `/etc/hosts`.

The test is running on port **8080**.
But shouldn't the function only reflect the hostname?

**Code snippet**
[code]

[code]

[2022-04-25 06:53] ReneWerner87 commented on #1869
https://github.com/gofiber/fiber/blob/901492a78485b9c3e8378b8039f9e2b23a42bce6/middleware/cache/cache.go#L183

we have found that we use the expiration generator to write the expiration time to the item we are storing, but not if for the parameter which is to be set directly in the cache.

also better tests should be generated for the case

[2022-04-25 06:55] ReneWerner87 commented on #1869
we could fix
https://github.com/gofiber/fiber/blob/901492a78485b9c3e8378b8039f9e2b23a42bce6/middleware/cache/cache.go#L170-L188
with
[code]

[2022-04-25 07:14] breakbuidl commented on #1869
I would like to take this up.

[2022-04-25 07:15] ReneWerner87 commented on #1869
jo sure

[2022-04-25 11:33] DinYehoshua opened #1879 "JSON getting into loop for some struct🐛"
v2.27.0

Hi,
I try to use c.JSON(data) for converting my struct into json and i'm getting into loop for some of the calls. (depends on the data on the struct)

My struct is a little complex and it had nested structs in it.

[code]

for some cases when data is with Policies2 = nil, the JSON function getting into infinity loop.
But in other cases when all fields aren't nil, everything work as expect

[2022-04-25 12:00] ReneWerner87 commented on #1879
@DinYehoshua please use the latest version v2.32.0 , there are some fixes for json included in the version from 2.27.0-2.32.0

[2022-04-25 22:56] ericreis commented on #1845
Sorry for the delay guys, I was totally overwhelmed with other priorities. Here is the example:

[code]

And here the log that is printed when calling the API:

[code]

As it can be seen, the stacktrace does not refer to the `panic`. How can I achieve that? I already tried with a custom recover handler, but have not been successful with it.

[2022-04-26 10:40] DinYehoshua commented on #1879
Update my version fixed the problem,
Thanks!

[2022-04-26 10:40] #1879 closed

[2022-04-27 01:24] hi019 commented on #1878
`ctx.Hostname()` just returns the `Host` request header (or the `X-Forwarded-Host` if you're using a proxy in the Fiber config).

`Host` may include a port number:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/host

[2022-04-27 01:25] #1327 closed

[2022-04-27 07:21] #1878 closed

[2022-05-01 02:22] calvarado2004 opened #1884 "🐛 Static files using Prefix are not working on Fiber v2"
**Fiber version**
2.4
**Issue description**

Static files using prefix are not working
**Code snippet**

[code]

[2022-05-01 07:38] ReneWerner87 commented on #1884
@calvarado2004
i think the problem is that your static files are missing in the dockerfile
https://github.com/calvarado2004/golang-app-ci/blob/main/Dockerfile#L12

you only copy the view files and the static files are not embeded or copied.

[2022-05-01 09:43] #1869 closed

[2022-05-01 09:51] ReneWerner87 commented on #1208
pls check https://github.com/kavu/go_reuseport

[2022-05-01 10:04] ReneWerner87 commented on #1876
https://github.com/gofiber/docs/commit/c0318bfe1ce3cecc348b4b48f8c5d2ee24f7dbf0

https://docs.gofiber.io/api/ctx#sendfile

[2022-05-01 10:04] #1876 closed

[2022-05-01 10:38] kuchaguangjie opened #1890 "🐛 The text color is too dark on linux terminal."
**Fiber version**
v2.32.0

**Issue description**
The text color is too dark on linux terminal.
![c](https://user-images.githubusercontent.com/4230959/166142254-a8e601e2-49a5-40b5-a0bf-c06d61d80719.jpg)

It's almost unreadable when there is a white background:
![a](https://user-images.githubusercontent.com/4230959/166142280-b57642ff-d907-433a-b9f4-f14d0fe1d2aa.jpg)

[2022-05-01 10:57] ReneWerner87 commented on #1890
unfortunately we can not prevent this

depending on what you have configured it can always lead to problems

maybe we should allow different themes for this
https://github.com/gofiber/fiber/blob/master/app.go#L1140-L1149

same with this
https://github.com/gofiber/fiber/blob/master/app.go#L1348-L1358

@hi019 @efectn what do you think ?

[2022-05-01 10:57] efectn commented on #1890
I think it's related of your color scheme. What's your color scheme?

[2022-05-01 11:01] kuchaguangjie commented on #1890
Mint mate 20, which is based on ubuntu. I didn't change the color scheme.

[2022-05-01 11:03] efectn commented on #1890
Allowing different themes looks like the best solution.

[2022-05-01 11:05] kuchaguangjie commented on #1890
I think make the text white (or similar) is safe for most terminals.

[2022-05-02 10:57] #1884 closed

[2022-05-02 11:20] efectn commented on #1884
Seems fixed by https://github.com/calvarado2004/golang-app-ci/commit/69951d6b60b8aeb7684f173b0ba985416733559e

[2022-05-02 17:59] dranikpg commented on #1799
I sadly doubt there is much left to imoprove in fiber. I've runned all examples on latest fiber on ubuntu and all large allocations are made either by the runtime or fasthttp. However, there are some interesting details about fasthttp.

Fasthttp tries to keep zero allocations on hot paths, so it does some things ahead. For example, wrapped functions for parallel usage are created for its gzip/defl

[2022-05-02 20:30] ReneWerner87 commented on #1799
Thx for our insides and tests.

[2022-05-04 11:40] ozkansen commented on #180
When fiber prefork is active, database automigrate works in every process, how can I make it work only once?

[2022-05-04 12:02] ReneWerner87 commented on #180
https://docs.gofiber.io/api/fiber#ischild
[code]

[2022-05-04 17:43] ozkansen commented on #180
Thanks @ReneWerner87

[2022-05-05 03:05] gaby opened #1894 "🤗 Error when running sample code: unknown field 'AppName' in struct literal of type fiber.Config"
**Question description**
I'm trying to run several of the examples in combination with code from the documentation and just ran into this weird bug.

**Code snippet** _Optional_

[code]

**Go Version/OS:**
* Ubuntu 20.04.4 LTS
* go1.18.1 linux/amd64

**Error:**

[code]

[2022-05-05 03:25] gaby commented on #1874
@VanoDevium How do you use this function? There's no documentation about it. I tried:

[code]

They all return function is "undefined"

[2022-05-05 03:35] gaby commented on #1894
Nevermind... The recepy repo is using older versions of `Fiber` which don't have this field.

This can be seen here: https://github.com/gofiber/recipes/blob/master/upload-file/go.mod

[2022-05-05 03:35] #1894 closed

[2022-05-05 05:33] ReneWerner87 commented on #1874
It's not released yet

But it's coming in the next days.

[2022-05-05 11:32] gaby commented on #1874
Thank you! 👍🏻

[2022-05-05 13:33] #1822 closed

[2022-05-05 17:31] bofeng opened #1895 "🤗 Can I use value from c.Locals in a go-routine after handler returns?"
From the documentation:

I understand that if I have a value from like `c.FormValue` or `c.Query`, I can't use that value directly (unless make a copy) into another go routine after the handler ends, but I am not sure how fiber handle values from c.Locals that I saved in a middleware.

For example, if I have a middleware that read some data from database, then save that data to `c.Locals("username

[2022-05-05 18:18] ReneWerner87 commented on #1895
Not sure, but I think fasthttp takes the object for the locals after the end of the request response and puts it back into a synpool so that the next request can use it without generating allocations.

If in doubt I would rather copy the values

[2022-05-07 03:49] dmskys opened #1899 "🤔 how to Graceful restart in Fiber?"
how to Graceful restart in Fiber ？Hope to receive the signal, shut down gracefully, and restart the process, how to use this https://github.com/cloudflare/tableflip Graceful restart & zero downtime deploy for Go servers.

like gin graceful restart https://gin-gonic.com/docs/examples/graceful-restart-or-stop/

[2022-05-08 05:02] quarkcms commented on #705
Although it can solve this problem, but it is not the best solution

[2022-05-08 07:39] pgshow opened #1900 "🤗 Hi , How to use HTTPS"
**Question description**
Hi, everyone, how to use HTTPS, I didn't find any instructions.

**Code snippet** _Optional_

[code]

[2022-05-08 09:00] ReneWerner87 commented on #1900
Please check the listen* methods and the description https://docs.gofiber.io/api/app

[2022-05-08 12:18] pgshow commented on #1900
@ReneWerner87 thanks, I got it from the Doc.
For test, I need to make a certificate first by using OpenSSL.

[code]

Then the code could work:

[code]

[2022-05-08 16:08] alextr98 opened #1901 "🤗 How can I access context from Authorizer function in BasicAuth middleware?"
**Question description**
I am using basicAuth, need to access context from Login function
**Code snippet** _Optional_
func Login(user, password string bool {
 //  how to access context here?
}

[2022-05-08 17:50] grishy opened #1902 "🐛 panic: workerpool index out of range"
**Fiber version**
Fiber v2.30.0

**Issue description**
Hi, I was making a plug and decided to test it with **k6**. I attach the code of the application and the script for testing. While running, the application ended up panicking.

**Code snippet**

[code]
**k6**

[code]
**output**

[code]

[2022-05-08 17:52] grishy commented on #1902
This also happens on Fiber v2.32.0

[2022-05-08 17:53] grishy commented on #1902
I didn't notice my code in the callstack. The problem is on my side :)

[2022-05-08 17:53] #1902 closed

[2022-05-08 19:47] #1900 closed

[2022-05-08 19:54] ReneWerner87 commented on #1901
Why do you want to access the context from this function?
https://github.com/gofiber/fiber/blob/master/middleware/basicauth/basicauth.go

It is not possible and also not intended to make this possible.

[2022-05-08 19:57] alextr98 commented on #1901
I need extra parameter for Login - user name and password is not enough for authentication.
I wish to have signature like this: func Login(user,password,domain string) bool {
}

[2022-05-08 20:44] CerealKiller97 opened #1903 "🚀 Request: Route Constraints"
Route constraints execute when a match has occurred to the incoming URL and the URL path is tokenized into route values. I found this very useful when defining routes. ASP NET Core was inspiration for this feature.

# Example

[code]

Proposed constraints:

| Constraint  | Example           | Example matches              |
| ----------- | --------------  | ------------------------- |
| int

[2022-05-09 13:13] MohabMohamed commented on #1903
hello @CerealKiller97, are you working on this feature?
if not, can you or @efectn assign it to me, I would love to work on it

[2022-05-09 13:21] efectn commented on #1903
Assigned. If @CerealKiller97 isn't working on this, you can start working 🚀🚀

[2022-05-09 13:23] balcieren commented on #1903
It is looking good. This feature can open from fiber.Config for v2.
Example:
[code]
What do you think about it ?

[2022-05-09 13:34] efectn commented on #1903
I think something like this can be done too instead of adding extra config var:

[code]

[2022-05-09 13:37] balcieren commented on #1903
I think it is not understandable.

[2022-05-09 14:02] ReneWerner87 commented on #1903
My thought was to do it also without config switches and really use the same syntax as in the table, as alternative

Important is the speed, there should be hardly any time added when analyzing the route (so string based detection, except for the part with regexes)

[2022-05-09 18:14] fabiobulgarella opened #1905 "🐛 Requests from Google Chrome get stuck on Read call"
**Fiber version**
2.33.0

**Issue description**
When requests come from Google Chrome, after being served, they get stuck on Read call.
To reproduce the problem use the below "Graceful Shutdown Example".
When ReadTimeout is set in FiberConfig, requests from Chrome get stuck on Read until timeout expires, producing a Request Timeout error.
When ReadTimeout is set to 0, no error is thrown but Fiber

[2022-05-10 07:04] #1136 closed

[2022-05-10 07:13] efectn opened #1906 "🚀 v3 Request: Refactor Client"
I think current client Implementation is very complex and limited. I think we should do these tasks to solve it:
- Move client.go to `client/`. Project structure will be more tidy by splitting the client.
- Re-create client by inspiring by [go-resty/resty](https://github.com/go-resty/resty)

[2022-05-10 10:06] MohabMohamed commented on #1903
Thank you @CerealKiller97

I think we can do something like this to differentiate between the param name and its type, and without changing unconstrained params:

[code]

what do you think?

[2022-05-10 10:10] ReneWerner87 commented on #1903
would also be possible

[2022-05-10 10:12] ReneWerner87 commented on #1903
but it would be good if we use patterns that are already used in other frameworks/languages

maybe someone can do some research

the goal is to provide people with familiar structures that they have already been exposed to in order to promote acceptance and knowledge sharing

[2022-05-10 10:16] efectn commented on #1903
I think this is the best way because of fiber router doesn't have adding parameters by {}

[2022-05-10 10:22] ReneWerner87 commented on #1903
well, that would not be too complex to provide this possibility as an alternative syntax

because this "{" is a fixed character you can use it as a delimiter and mark it in the segments of the routes

which has to happen anyway for the contrains

[2022-05-10 10:24] efectn commented on #1903
Yes but Fiber is Express inspired framework. Wouldn't adding {}, make Fiber more complex?

[2022-05-10 10:32] MohabMohamed commented on #1903
I think if we want to add it with { } we could do this in V3 and change the params without constraints to follow this pattern too,
but we can't do this with the already in use version,and I think the constrained parameters should be derived from the regular params

and the only constrained params shape I know is flask it like this:

`/users/<int:id>`

[2022-05-10 10:34] ReneWerner87 commented on #1903
maybe but since express does not offer this feature we have to choose a structure

would ask for research
a small list of frameworks/languages that offer this feature and their structure, i think this can only be beneficial and we might find some more additional constrains

[2022-05-10 10:35] ReneWerner87 commented on #1903
but we can't do this with the already in use version,and I think the constrained parameters should be derived from the regular params

think we can do this in version 2 as well since we still support the old notation we don't change anything just add functionality

[2022-05-10 10:43] ReneWerner87 commented on #1903
https://laravel.com/docs/9.x/routing#parameters-regular-expression-constraints
![image](https://user-images.githubusercontent.com/7063188/167611169-7db4e28f-ebd8-461f-9dc5-8e2ef6b1b7d2.png)

https://www.c-sharpcorner.com/blogs/asp-net-core-route-constraints

![image](https://user-images.githubusercontent.com/7063188/167611107-bd437ce4-e5b7-4c6c-b579-072ece5c1b7a.png)

... maybe some more research

[2022-05-10 10:47] ReneWerner87 commented on #1903
we could also leave this declaration completely out of the url and provide a method in the context which receives and validates an object with the constrains for a possible validation

[2022-05-10 10:57] efectn commented on #1903
We can also do it by using latestRoute var of App struct -similar to usage of Name()-

[code]

However, `id<int>` way sounds better.

[2022-05-10 15:17] ReneWerner87 commented on #1903
The route syntax is okay for me.

[2022-05-10 15:21] ReneWerner87 commented on #1903
Just know that later there will be questions or feature requests if the error messages we generate due to a mismatch are customizable.

So we should create formatted strings for this, which are customizable from outside (please not via config -> already quite a lot of settings)

[2022-05-10 15:26] ReneWerner87 commented on #1903
Or ask if we can customize the structure (json, xml, html) and the status code

If a mismatch is detected, we should pass the error message which is composed of the type and the parameter name as a string into a generator function, which then generates the response.

so that we can make it overloadable and give the user all possibilities

[2022-05-11 12:12] MohabMohamed commented on #1903
I think we should just return 404 as not matching the type of the param should be the same behavior as not matching any route.
 and if the user wants to create a custom response when matching, he could use `:id` notation after the specific type one. so fiber while skipping the constrained routes and then match the generic one and the user can do what ever he wants in this route.

or do you have an

[2022-05-11 12:38] ReneWerner87 commented on #1903
yes would go, but would not be quite optimal

users will think that there is already a detection of which parameters do not match and expect this information to be returned to the consumer of the api with the exact instructions about the error

don't think users will be happy if a route constrains feature exists and because they want to customize the response in case it doesn't match, they have to

[2022-05-11 12:49] MohabMohamed commented on #1903
if a mismatch happened we can include this data in the `ctx` and we can implement a standard middleware to return these errors and run it after the route. so the user can use it if he wants or implement his own. I think that would be a clean solution.

[2022-05-11 15:35] balcieren commented on #1906
What do you think about node.js axios ? It's looking pretty for client.

[2022-05-11 15:42] efectn commented on #1906
I don't have any experience with Node.js but it looks like nice. [Guzzle](https://docs.guzzlephp.org/en/stable/) is also good and clean client.

[2022-05-11 20:04] ivankprod commented on #1895
I have the following:
[code]
And below I run a goroutine and sometimes auth was nil, then I make a copy:
[code]

[2022-05-11 20:18] ivankprod commented on #1899
First create a App struct:
[code]
Initialize your App and DB connection:
[code]
Then write this BEFORE your listener:
[code]
And finally write this method for App struct to gracefully shutdown the server:
[code]

[2022-05-11 21:06] bofeng commented on #1895
Thank you for the example. Can you also share the `service.IsAuthenticated` code? also, are you putting the `auth` object in the `c.Locals`, then fetch it before the goroutine?

[2022-05-12 10:53] ivankprod commented on #1895
@bofeng Shure, you'll find the server code at:
https://github.com/ivankprod/ivankprod.ru/tree/main/src/server/internal
Code in previous comment is in the auth package :)

[2022-05-12 10:59] ivankprod commented on #1895
@bofeng In this middleware I put the `auth` into the `c.locals`, and then in the handlers I don't pass it into the goroutines, but if I would like to pass it to some goroutine, I would make a copy for confidence :)

[2022-05-12 11:01] martinwang2002 opened #1907 "🤗 Case sensitivity for parameters in GetRouteURL"
**Question description**

When using capitalized letters in `fiber.Map{}` with `GetRouteURL`, the case sensitivity of the keys is ignored.

**Code snippet**

[code]
For example, GET `/`, you will receive `/ABC/ABC/other_paths`. The case sensitivity for GetRouteURL is ignored

On the other hand, c.Params can tell the difference between `testid` and `testId`.

I think that `Params` and `GetRouteURL`

[2022-05-12 11:10] ReneWerner87 commented on #1907
code is developed by sujit-baniya -> https://github.com/gofiber/fiber/pull/1831
@sujit-baniya can you check this

[2022-05-12 14:21] martinwang2002 commented on #1907
I agree with you.

Could you also please check this part?
[code]
with url: http://127.0.0.1:3001/first/second/other_paths

In this part of code, you will find that `testid` and `testId` are different.

---

That's why I have this confustion. We can get parameters with case sensitivity, but we cannot set proper keys via GetRouteURL with `CaseSensitive = false`. Is this expected?

[2022-05-12 14:31] bofeng commented on #1895
@ivankprod thank you for sharing the code! In your last comment you mentioned that:

So in this middleware function, https://github.com/ivankprod/ivankprod.ru/blob/main/src/server/internal/auth/middleware.go#L32
It seems the `auth` variable is read from database, but I didn't see anywhere in that function you made a copy of the `auth`. You do have the a copy of `auth.ID` by passing it as parameter

[2022-05-12 15:15] ReneWerner87 commented on #1907
But please still take a look at the performance after these changes

i expect only a slight increase if the value could not be found by the first check

https://github.com/gofiber/fiber/blob/aa229287cfeeb2002534cb6145b50f7798f76b3e/utils/strings.go#L65
or maybe a check with equalFolds, as this is even faster than converting to lowercase

ToLower -> 50ns
EqualFold -> 32ns

[2022-05-13 05:35] umardev500 opened #1908 "how to get http.ResponseWriter in *fiber.Ctx params 🤗"
**Question description**

**Code snippet** _Optional_

[code]

[2022-05-13 06:25] ReneWerner87 commented on #1908
Hi, can you please describe more the purpose of the report.

[2022-05-13 08:51] ivankprod commented on #1895
@bofeng I just make a copy of the `auth.ID` instead of entire `auth` struct, because I need only `ID` field. So don't passing entire `auth` object to goroutine, and passing only the needed fields is much better for memory optimization (the `auth` struct is small, but still).
If I didn't the copy, the `s.UpdateLastAccessTime(id)` long-running function couldn't take `auth.ID` sometimes, because afte

[2022-05-13 13:41] bofeng commented on #1895
@ivankprod got it, thank you again for the example, appreciate your explanation!

[2022-05-13 17:10] #1908 closed

[2022-05-14 04:37] #1895 closed

[2022-05-17 05:06] ryan-yalo opened #1910 "🐛 Early in the middleware chain `ctx.Route().Path` is empty"
**Fiber version**

`v2.33.0`

**Issue description**

When trying to author a middleware that needs access to the routed path, `ctx.Route().Path` is empty until `ctx.Next()` has completed. I first noticed this bug when I realized the path label for all prometheus metrics generated by [fiberprometheus](https://github.com/ansrivas/fiberprometheus) was `/`, regardless of the route that requests were c

[2022-05-17 06:08] ReneWerner87 commented on #1910
hi thanks for the report

ctx.Route().Path gives you the current path for the currently active route

this is in case of app.Use() the empty path or route path

after next is called, the next handler middleware is made with the second declared route and set as current route

as described here
https://docs.gofiber.io/api/ctx#route

please tell me again exactly what you need, so i can help you best

[2022-05-17 17:07] ryan-yalo commented on #1910
What I was specifically hoping to get working for the project I'm working on currently is to fix the bug in [fiberprometheus](https://github.com/ansrivas/fiberprometheus) where the path in reported metrics is always `/` but after reading the documentation at the link you shared, I don't believe that's going to be possible unfortunately. The behavior on the fiber side is correct. The issue is just

[2022-05-17 17:07] #1910 closed

[2022-05-18 06:18] ReneWerner87 commented on #1901
is it solved on your side ?
otherwise just copy this short middleware code
https://github.com/gofiber/fiber/blob/master/middleware/basicauth/basicauth.go
and change it to your need.

[2022-05-18 06:20] ReneWerner87 commented on #1899
example:
https://github.com/gofiber/recipes/tree/master/tableflip

do you need something more ?

[2022-05-18 06:22] ReneWerner87 commented on #1685
@ansrivas
is the question answered, do you need more information?

[2022-05-18 08:25] dmskys commented on #1899
thanks ,if I need this, i  will contact with you

[2022-05-18 13:48] alextr98 commented on #1901
I resolved it this way - made user name Windows-style - "DOMAIN\USER", then in authenticator split it into domain and user.
Not 100% good, but works for me ok.
I appreciate your suggestion, I will consider it.
Thanks a lot!
Alex

[2022-05-18 13:48] #1901 closed

[2022-05-18 22:24] ansrivas commented on #1685
H @ReneWerner87 thanks for your reply. This issue can be closed.

But it would be great to also have your feedback on an ongoing issue with metrics collection in fiber.
@ryan-yalo has already performed an in-depth investigation and has some recommendations, feel free to have a look and chime in https://github.com/ansrivas/fiberprometheus/issues/127

[2022-05-19 05:40] #1685 closed

[2022-05-21 17:16] daison12006013 commented on #1903
Does adding too much option makes fiber more complex in terms of developer's perspective? or compilation time? Silly question, why can't we just use regex?

In gorilla/mux we do it this way `/users/{id:[0-9]+}` it means we want to disregard `/users/whatever` in the routing and only accept int/numeric value.

This is standard in laravel/expressjs too, this is even notable part of expressjs where th

[2022-05-23 13:41] lucasoares commented on #899
Correct. You may also use a WaitGroup to wait for the shutdown.

About the second part I honestly don't know if the keepalive connection will force shutdown to wait indefinately. We should test it.

[2022-05-23 16:14] tahadostifam opened #1912 "403 Forbidden"
Please let the all developers around the world use the Fiber!

[2022-05-23 18:12] ReneWerner87 commented on #1912
How can we help?

[2022-05-24 03:20] tahadostifam commented on #1912
I get 403 Forbidden error sometimes just in getting Fiber package...
First i thought maybe Fiber's-Repo served on Google-Web-Servers.
I dont know why.
But probably this is a problem on my part.

Thanks for your fast answer

[2022-05-24 05:39] ReneWerner87 commented on #1912
Do not think I can do anything.

[2022-05-24 05:40] #1912 closed

[2022-05-25 15:00] qmdx opened #1914 "🤗 go get -u all . error"
**Question description**

Execute command ：  go get -u all

Exception：

go: all: module github.com/gofiber/fiber/v2@upgrade found (v2.34.0), but does not contain package github.com/gofiber/fiber/v2/internal/go-json

How to solve it ？ thanks

[2022-05-25 20:24] SpySnail opened #1915 "🤗 Using fiber with Unix sockets"
**Question description**
I'm familiar with Unix sockets but I'm new to fiber and go. How can I start a fiber server listening on a UDS? Can I still use the core functionalities like `app.Get()` and `fiber.Ctx`, let's say if the request has been proxied from nginx?

[2022-05-27 07:02] sheldondz opened #1916 "Go fiber client example"
**Fiber Client example**

Is there an example on how to use the fiber ```*Client``` ``` *Agent``` to make an external https api call?

[2022-05-27 10:17] ly020044 opened #1917 "🤗 How to automatically update session data expiration time ?"
**Question description**
The expiration time of the data is updated when using `session.Save`, can the expiration time of the data be automatically updated when I visit any page ?

**how about this plan**

[code]

[2022-05-27 10:20] kuchaguangjie commented on #205
So, what's the solution now ?

[2022-05-27 12:59] kuchaguangjie commented on #205
Seems just use conn.Locals().

[2022-05-27 13:33] 01epa opened #1918 "🚀 Optional mTLS"
**Is your feature request related to a problem?**
It is not possible to configure fiber app with optional mTLS. Sometime clients may have no its own certificates, sometimes they may have certificates. Fiber allow to have either TLS or mTLS. I would like to have mTLS as optional. Golnag has a special constants for that - [common.go](https://github.com/golang/go/blob/master/src/crypto/tls/common.go#

[2022-05-28 10:17] Trim21 opened #1920 "🤗 a not intuitive router matching problem"
**Question description**
I'm using `App.Group()` with middleware but I found a middleware add in group A may match request to group B.

This may not be a bug because prefix `/p` indeed should match path `/page`, bug it would be more intuitive is these middleware are only group-wide.

**Code snippet** _Optional_

[code]

[2022-05-28 14:11] ReneWerner87 commented on #1920
Yes right
Group with a handler is working like the app.Use method

https://github.com/gofiber/fiber/blob/master/group.go#L179

I think express is working like the same or?
What's you improvement suggestion?
Behavior change or additional documentation?

[2022-05-28 14:13] ReneWerner87 commented on #1920
Concept of real groups does not exist in express, they are just grouped paths that are checked in the order they are declared.
We do the same in fiber.

[2022-05-28 18:01] martinwang2002 opened #1921 "🐛 Unexpected GetRouteURL with param "*""
**Fiber version**
v2.34.0

**Issue description**
Unexpected other parameters in the result when using `*` in one of the parameters.

**Code snippet**

[code]

In this example, when getting `/`, the expected result should be `/ABC/def/hij/klm`, while fiber returns `/ABC/ABCdef/hij/klm` or `/ABC/def/hij/klmABC`.  Fiber may prepend or append **all** other parameters when using `"*"` as one of the par

[2022-05-28 19:19] Trim21 commented on #1920
Just for me, I think it would be more intuitive if group is working like this:

[code]

is actually:

[code]

[2022-05-28 19:35] ReneWerner87 commented on #1921
@sujit-baniya can you check this

[2022-05-28 19:38] ReneWerner87 commented on #1920
We will think about it.

[2022-05-29 14:35] sujit-baniya commented on #1921
@ReneWerner87 Checking

[2022-05-30 07:23] ReneWerner87 commented on #1916
yes in the documentation
https://docs.gofiber.io/api/client

[2022-05-30 07:54] sheldondz commented on #1916
got this working for was confused between ``` *Client ``` and ``` *Agent ``` actually ``` *Agent ``` does all the work.
i get this message "[Warning] client is still in beta, API might change in the future!" is this safe to use in production?

[2022-05-30 09:33] ReaperMaga commented on #1916
I think its not recommended to use it in production, since the API might change. You can use it in small projects.

I also actually wanted to know is it possible to disable this warning?

[2022-05-30 09:37] ReneWerner87 commented on #1916
unfortunately the client was not developed further

you can also check how much work is needed to stabilize it or add an option to turn off the warning

but i prefer stabilization with more unittests and stresstests

[2022-05-30 09:42] sheldondz commented on #1916
Thanks for the info, will stick to using the default  go ```net/http``` library for calling external api's for now.

[2022-05-30 09:42] #1916 closed

[2022-05-30 09:58] ReaperMaga opened #1923 "🤗 Disable warning message when using fiber client"
Is there a way to disable the "[Warning] client is still in beta, API might change in the future!" message when using fiber client?

[2022-05-30 16:12] ReaperMaga commented on #1923
Will there be more work on the client in the future or will it remain in beta?

I mean you could remove the message completely and move the beta message to the docs.

I'm not confident enough to write a PR to make it optional since I'm pretty new to go

[2022-05-30 23:19] ad3n commented on #1914
@qmdx: that error from your app or fiber it self?

[2022-05-31 09:18] qmdx commented on #1914
Thank you very much. This order has solved my problem

[2022-05-31 10:00] efectn commented on #1918
I think you can use Listener instead of adding new param or method @01epa

[2022-05-31 10:43] efectn commented on #1918
It may be more shortened by https://github.com/gofiber/fiber/issues/1826 on v3

[2022-05-31 11:15] ReneWerner87 commented on #1918
sounds good
big improvement for v3

[2022-05-31 11:15] #1918 closed

[2022-05-31 11:58] #1921 closed

[2022-06-01 09:27] MohabMohamed commented on #1903
@efectn sorry I was busy  the last period but working on it currently

[2022-06-01 11:16] hakoptak opened #1926 "🤗 Is 3% cpu usage normal for a gofiber tls-app?"
Hi all,

I am running my gofiber app (ListenTLS) with no handlers and it still consumes about 3% cpu. I ran the app on my Macbook and on an Alpine Linux server and get similar results when using `top`. Is this normal behaviour? And where is the 3% cpu spent?

For comparison: I am also running a c++ https-server and it uses 0.01 % cpu at most.

Thanks for thinking along!

[2022-06-01 11:59] hakoptak commented on #1926
@ReneWerner87 Thanks for the link.

Strangely enough I have exactly the opposite situation: relatively low memory footprint (around 6 mb), high cpu usage (3%)

[2022-06-02 10:43] abusessender opened #1927 "🚀 v3 Request: tls.ClientHelloInfo in handlers"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
I need tls.ClientHelloInfo in route handlers, can it be made in fiber v3?

[2022-06-03 05:46] dominicfollett opened #1929 "🤗 Testing a gofiber proxy handler"
**Question description**
Hi there, thank you for the awesome Gofiber package. I have a question about testing Gofiber as a proxy. Small caveat: I am somewhat new to Go and Gofiber.

I have implemented a small proxy service using Gofiber, and I used your tests [here](https://github.com/gofiber/fiber/blob/master/middleware/proxy/proxy_test.go) as reference for writing my own tests.

I'd like to know

[2022-06-06 04:01] phoxwupsh commented on #1369
I'm using this example

but it shows
`panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x18 pc=0x2ac1b1]`
Is this expected or I did something wrong?

[2022-06-06 08:45] efectn commented on #1927
Can you give an example about this feature? @abusessender

[2022-06-06 14:38] abusessender commented on #1927
It does not released in other libraries, it will be good, if you release it first :D

[2022-06-06 14:38] AlexGustafsson commented on #1369
@phoxwupsh Could you post the entire stack trace? It's probably a better fit for a separate issue in the recipes repository, though.

[2022-06-07 14:49] phoxwupsh commented on #1369
@AlexGustafsson here is the entire stack:
`panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x18 pc=0x8ac1b1]

goroutine 18 [running]:
io.ReadAtLeast({0x0, 0x0}, {0xc000300000, 0x100000, 0x100000}, 0x100000)
        C:/Program Files/Go/src/io/io.go:331 +0x71
io.ReadFull(...)
        C:/Program Files/Go/src/io/io.go:350
main.main.func1(0xb08d0

[2022-06-09 01:18] GotaX opened #1931 "🤗 How to get path param before a custom verb?"
**Question description**

The http request is `GET http://localhost:3000/resources/123:verb`

How to get `123` from request path? I tried `\\:customVerb` as the document said but `c.Params("id")` return nothing.

**Version**

v2.34.0

**Code snippet**
[code]

[2022-06-09 13:51] suttapak commented on #1931
Can you change verb to query string?
Sorry if is wrong,i am new githuber ;-)

[2022-06-09 14:43] GotaX commented on #1931
@suttapak Thank you for reply. Our API follow the [Google API Design](https://cloud.google.com/apis/design/custom_methods), so it's not easy to replace custom verb with query string.

[2022-06-09 18:29] ReneWerner87 commented on #1931
Will check it more closely at the weekend

Think the problem is that the end of the parameter name can not be determined by our logic

[2022-06-10 10:53] Hamzsd commented on #393
Adaptor middleware doesn't supports graphql subscription. Any workaround for this?

[2022-06-10 12:40] Hamzsd commented on #393
@ReneWerner87 I am using in the following manner
[code]
and I get this error when using subscriptions
`unable to upgrade *fasthttpadaptor.netHTTPResponseWriter to websocket websocket: response does not implement http.Hijacker`

[2022-06-10 12:43] ReneWerner87 commented on #393
can you try https://github.com/arsmn/fastgql#using-with-fiber

[2022-06-10 12:55] Hamzsd commented on #393
Thanks for the response. I already tried it, it has this error during auto generation.
`graph/prelude.resolvers.go:19:44: __DirectiveResolver not exported by package generated`

Moreover, `fastgql` doesn't seems to be production ready. Is there any other way around this?

[2022-06-10 12:58] ReneWerner87 commented on #393
@arsmn can you help here?

[2022-06-12 13:30] gaby commented on #1369
I'm also interested in streaming the body, given that we are trying to use Fiber for uploading big files (2GB+ in size)

[2022-06-12 13:35] gaby commented on #1369
@phoxwupsh I haven't tried the recipe yet, but one thing I noticed is that most of them are using a very old go.mod file which installs older versions of Fiber/FastHTTP, maybe your issue is related to that.

[2022-06-12 16:04] gaby commented on #1369
I'm also getting SEGFAULTS like @phoxwupsh

Code:

[code]

Generate file:

[code]

Output:

[code]

[2022-06-12 16:39] #1825 closed

[2022-06-12 21:34] gaby commented on #1369
I just tested with gofiber 2.34.0 and the recipe works correctly.

[2022-06-13 22:48] RabeeaAli opened #1932 "🤗 get prams from header"
I stored the id of the user in header and tried to get it to throw GET but I got nothing even the user_id is existed in the header ( checked it from postman)
my code:
[code]

the output is :
[code]

[2022-06-14 05:59] ReneWerner87 commented on #1932
![image](https://user-images.githubusercontent.com/7063188/173503917-d01c33b4-0054-45f6-bb8c-d56acf73fc4a.png)
[code]

curl --location --request GET 'localhost:3000/' \
--header 'User_id: testABC' \
--header 'Content-Type: application/json'

Hi, its working for me

[2022-06-14 10:49] ReneWerner87 commented on #1932
https://docs.gofiber.io/api/ctx#append)](https://docs.gofiber.io/api/ctx#append

"append" adds the value to the response headers?

as you also see in postman

ctx.Get works only with the request headers, as noted in the documentation
https://docs.gofiber.io/api/ctx#get

you should use ctx.Locals if you want to exchange data between middlewares
https://docs.gofiber.io/api/ctx#locals

[2022-06-14 11:42] RabeeaAli commented on #1932
@ReneWerner87 So, How can I get the use_id by using `ctx.Locals`?

in middleware now :

[code]

[2022-06-14 12:05] RabeeaAli commented on #1932
@ReneWerner87

I got `Invalid operation: "id is: " + c.Locals("user_id") (mismatched types string and interface{})`

[2022-06-14 12:16] RabeeaAli commented on #1932
@ReneWerner87  Thanks

[2022-06-14 12:16] #1932 closed

[2022-06-14 19:31] sdima75 opened #1933 "🤗 Windows Defender - your main.exe file is a virus."
Hello.
Forgive me for my bad English.
I had Debian 9 and NOD32 antivirus for a long time and everything worked fine.
Now I have Windows 10 and Windows Defender. I run - "go build" and Windows Defender tells me that my main.exe file is Trojan:Win32/Bearfoos.A!ml (https://www.microsoft.com/en-us/wdsi/threats/malware-encyclopedia-description?name=Trojan%3aWin32%2fBearfoos.A!ml)

Can you please tell m

[2022-06-14 22:46] Itshardtopickanusername opened #1934 "🤗 Using *fiber.Ctx in another function"
**Question description**
Is it okay to pass around *fiber.Ctx to other functions that are called from handlers?
without keeping any references. does this affect anything? I'm guessing not, but just want to confirm, since the docs state:

**Code snippet** _Optional_

[code]

[2022-06-15 05:17] KawaCode opened #1935 "🚀 Limit a Basicauth User by Concurrency"
Hey, i am new to Fiber, is there a way to limit a Basicauth user by Concurrency? If no, it would be nice to add it.
Thanks!

[2022-06-15 05:39] ReneWerner87 commented on #1934
That's okay.

[2022-06-15 05:39] #1934 closed

[2022-06-15 05:41] ReneWerner87 commented on #1935
Use the limiter middleware https://docs.gofiber.io/api/middleware/limiter additionally to the basic auth middleware.

[2022-06-15 06:49] ReneWerner87 commented on #1933
thank you for the report.

can someone with windows check if they can observe the same thing?

[2022-06-15 06:49] ReneWerner87 commented on #1931
sorry had no time until now, will look at it in the next few days

[2022-06-15 06:51] ReneWerner87 commented on #1926
i think its normal
fasthttp is doing the magic behind this request and response flow

maybe you can test the behaviour with plain fasthttp code ?

[2022-06-15 08:01] GotaX commented on #1931
@ReneWerner87 No problem. I'm not in a hurry.

[2022-06-15 14:41] KawaCode commented on #1935
1. It doesn't limit user.
2. The limit is based on how many requests a user can do per an amount of time.
3. I want a limit that doesn't allow more than 200 connections per user.

[2022-06-15 14:55] KawaCode commented on #1933
Try to update your Windows, in my windows there was not any problems with my .exe. Could be something else in your code, that your defender detects as virus.

[2022-06-15 15:09] RabeeaAli commented on #1932
@ReneWerner87  Hello

I have a question: How can I get `user_id` from anywhere I need it in the project?

I'm using Gorm with fiber and in the Post model, I'm using `BeforeCreate` like this:

[code]

In helpers.go I have `GetUserID()` function

[code]

[2022-06-15 21:49] Trim21 commented on #1824
I have a question about this, what stop users doing the same thing if `Ctx` is a struct?

[code]

[2022-06-17 11:26] sdima75 commented on #1933
Hello .
Forgive me for my poor English.
There was a Windows update on June 15.  It did not help.
Then the "virus" started to appear on my other projects where I use other packages.
On June 16th I still couldn't figure out what was causing it.
This morning I copied the project folder where I have "fiber" to another place. I built this package and there is no "virus". The same thing happened with my

[2022-06-17 11:33] #1933 closed

[2022-06-17 16:39] efectn commented on #1824
Yes it works. However, interfaces give us more extendable and readability. I support using interface as Ctx type because of its.

[2022-06-17 16:44] Trim21 commented on #1824
It doesn't have any difference with your example in PR, is there something I missed?

[2022-06-17 18:08] hi019 opened #1936 "🚀 Monitor middleware doesn't work in offline environments, requires CDN-hosted resources"
**Is your feature request related to a problem?**
The monitor middleware can't be used on offline hosts, because it relies on external CDN's: https://github.com/gofiber/fiber/blob/master/middleware/monitor/index.go#L35-L36

**Describe the solution you'd like**
Monitor resources should be served by Fiber

[2022-06-17 18:10] gaby commented on #1936
👍🏻 Thanks for reporting this. We ran into this small issue today while deploying a Fiber powered service in an offline environment.

[2022-06-17 21:56] RabieAli95 opened #1937 "🤗 Automatically parse the body ?"
Hi there,
Is there any way to parse the body of the request automatically, instead of doing this `if` in each handler!

[code]

[2022-06-18 10:07] ReneWerner87 commented on #1937
Because golang is a strongly typed language and you should create a struct for better use in the following processes I would not recommend this.

There are possibilities, you could e.g. make a middleware with app.Use with the filter criterion on an existing body and in there, parse the body on a fiber.Map, put it in the locals and use it later or just use the ctx.Body method, but then you have no

[2022-06-19 21:51] efectn commented on #1824
If context is an interface, we can use type casting:
[code]

But usages like `return cc.SendString("")` gives an segmentation error. I should find a solution for this problem

[2022-06-21 17:52] Trim21 opened #1938 "🤗 re-write the example of ErrorHandler from type assertion to `errors.As`"
This is more a suggestion than a question.

https://github.com/gofiber/fiber/blob/43aa457b979ec833cdd0098dc47c9964788dd19c/app.go#L75-L85

this would be better to use `errors.As` to fit go error handling style

[code]

[2022-06-22 12:15] Fonnte opened #1939 "🤗 get encrypted cookie"
**Question description**
Is there a way to pass the encrypted cookie as json response for my api? i want to pass the encrypted cookie to frontend.
or if any, please suggest me a better approach
**Code snippet** _Optional_

[code]

[2022-06-22 13:07] Fonnte commented on #1939
yes @ReneWerner87 , but i can't get the encrypted cookies

fmt.Println(value) //something
fmt.Println(c.Cookies(value)) //something

both result the actual value, not the encrypted one. i got the encrypted only on postman cookies

[2022-06-22 14:16] #1939 closed

[2022-06-23 15:30] rngallen opened #1940 "🐛 Connection was forcibly closed by a peer instead of 413(Request Entity Too Large) when uploading Large Files"
**Fiber version v2.34.1**

**I have modified BodyLimit to 5Mb
When I upload a file having more than specified bodyLimit instead of getting status 413, I receive connection is closed  **

**Code snippet**
![image](https://user-images.githubusercontent.com/47332486/175336989-e45cde2b-a513-4c27-8efc-ea1b4781dcff.png)

[code]

[2022-06-23 18:36] rngallen commented on #1935
You can limit per IP assumming user will use the same ip as below
Otherwise you can modify it from request check ip and user if the user is the same autoincrement ip if ip is different from the previous one.

[code]

[2022-06-23 20:37] KawaCode commented on #1935
Thanks to @rngallen, everthing is working now.

[2022-06-23 20:37] KawaCode commented on #1935
Fixed

[2022-06-23 20:39] #1937 closed

[2022-06-26 11:12] mo7cc opened #1942 "proxy websocket is status err 426"
**Fiber version**
github.com/gofiber/fiber/v2 v2.34.1

**Issue description**

proxy  websocket  is  status err  426

HTTP is normal

**Code snippet**

[code]
![image](https://user-images.githubusercontent.com/24769632/175813478-0f82f4bb-98fa-41d7-ad03-0e07ab489032.png)

[2022-06-26 11:30] efectn commented on #1942
Please write issue with English

[2022-06-26 11:50] mo7cc commented on #1942
Excuse me , The question is actually proxy .
The websocket  proxy will appear 426 .

[2022-06-26 11:51] mo7cc commented on #1942
I'm sorry
Excuse me , The question is actually proxy .
The websocket proxy will appear 426 .

[2022-06-26 14:43] mo7cc commented on #1942
Problem solved

[code]

采用 github.com/yeqown/fasthttp-reverse-proxy 即可

[2022-06-26 14:47] #1942 closed

[2022-06-27 15:17] MHM98 opened #1944 "🤗 Is it possible to read streaming response body using fiber?"
**Question description**
Is it possible to read streaming response body using fiber?
**Code snippet** _Optional_

[code]
Hello,

I have a streaming server(ffmpeg) that send data through HTTP.
I sent the stream to my fiber backend but I only have access to c.body  when the stream server(ffmpeg) is terminated.
Is there any way to capture streamed data in real-time in fiber?
Any help will be much app

[2022-06-28 04:15] jsdkarn opened #1946 "🤗 How to delete file after ctx.Sendfile success ?"
I try to remove the file after sending the file but I can't.

this is an error return.

`remove./tmp/\Temp-1111-2022-05.xlsx: The process cannot access the file because it is being used by another process.`

[code]

[2022-06-28 12:50] lucasoares commented on #1459
Any change to reopen this issue? @ReneWerner87

In my case, I have a middleware that needs to get the request templated handler.

My middleware will filter specific handlers and call `c.Next()` only if it matches specific conditions using the route Method and the templated handler, otherwise it will return an internal error. It's a security middleware.

Any workaround on this? I can't call `c.Next

[2022-06-28 18:41] #1915 closed

[2022-06-28 18:57] efectn commented on #1946
Can you send full code?

[2022-06-29 02:05] #1946 closed

[2022-06-29 05:45] ITheCorgi opened #1952 "Issue while routing🐛"
**Fiber version**
v2.34.1
**Issue description**
I have an a router definition (see code snippet).  I faced an issue that I cannot call a method by uri `GET "/api/v1/somethings/check"`, because fiber routes it at `GET "/api/v1/somethings/:id"`
The only one solution in this case is to pop up check method in a stack right before get by id method, like:
[code]
Fiber server configuration uses default c

[2022-06-29 06:02] ReneWerner87 commented on #1952
https://docs.gofiber.io/guide/routing#paths

![image](https://user-images.githubusercontent.com/7063188/176362512-abc94e92-800b-4c0a-b537-917ee5f02f43.png)

this is not a mistake but expected behavior

as in expressjs the order of route declarations matters and the less specific route will always match before the specific route

https://github.com/gofiber/fiber/issues/1090#issuecomment-751335790
h

[2022-06-29 06:02] #1952 closed

[2022-06-29 09:43] akshaybabloo opened #1955 "🐛 Integer 0 never shows up in JSON response"
**Fiber version**

2.34.1

**Issue description**

I am trying to return an array of key-value pairs, the integer 0 is never returned and the output is not correcte

**Code snippet**

[code]

The above code returns

[code]

From the above return `{"id": 1}` is missing. No idea why.

[2022-06-29 09:46] efectn commented on #1955
This not bug. This is just behavior JSON library. If you wanna use 0 with omitempty, you can follow these:
- https://pkg.go.dev/encoding/json#Number
- Use `*int` instead of `int `.

[2022-06-29 14:56] #1955 closed

[2022-06-30 05:39] kstieger commented on #1826
Hi,
I know this is maybe an additional FRQ, but an option for Listener on a unix socket (/var/run/example.sock) as alternative to the IP/TCP socket would be fine. Or is this already possible?

[2022-06-30 09:26] kevin-you2 commented on #1496
When will this issue be resolved and released?

[2022-06-30 10:16] taheri24 opened #1958 "🚀 Static File Deploy Middleware for SPA , put files to public(wwwroot) directory"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**

Easily and instant sync the public(www-root) folder with FE output
- Put File via Blob ContentType
- It must be secure (with SECRET_KEY)
- Compress Extract Feature
- Patching Mechanism

**Describe alternatives you've considered**
- Inspired by FTP
**Additional context**

Also, We need a CLI tool for using F

[2022-06-30 20:38] baldanca opened #1959 "🐛 Not Found Handler wih subgroup middleware"
**Fiber version**
v2.33.0

**Issue description**
We are having one situation that the Fiber isn't detecting the not found routes.
If a middleware is applied to a subgroup like a authentication middleware the not found handler is not called.

**Code snippet**

[code]

If we call a route not defined like `/api/foo` will return 401 - Not authenticated instead of 404 - Not found

[2022-07-02 09:07] rngallen opened #1962 "How to Update Session expiration ?"
I have created custom AuthMiddleware for sessions. But I would like make sure that on each request I update session expiration time by 5 minutes from the time user accessed a handle. How can I made this possible?
Store

[code]

Middleware
[code]

[2022-07-02 12:27] #1917 closed

[2022-07-02 14:58] YuilTripathee commented on #1906
Axios is a good one!

[2022-07-02 21:34] SharkFourSix opened #1963 "🚀 Ability to set request attributes on context"
**Is your feature request related to a problem?**
Sort of. It would be nice to be able to set request attributes to the context. i.e

[code]

**Describe the solution you'd like**
Add method to allow adding objects to requests to the context.

**Describe alternatives you've considered**
Using the session middleware

**Additional context**

[2022-07-02 22:17] efectn commented on #1963
Doesn't `Locals` do the same thing?
https://github.com/gofiber/fiber/blob/master/ctx.go#L759

[2022-07-02 22:23] SharkFourSix commented on #1963
Ahh. Yes. Thank you very much 😄 . I had actually missed this. https://docs.gofiber.io/api/ctx#locals

I was looking for the language "attribute".

[2022-07-02 22:26] #1963 closed

[2022-07-03 17:56] balcieren commented on #1959
@ReneWerner87 it looks like bug

[2022-07-03 18:04] balcieren commented on #1940
I think c.Formfile() is returning bodyLimti error but you probably did not check it

[2022-07-04 05:50] #1923 closed

[2022-07-04 07:15] #1938 closed

[2022-07-04 07:16] ReneWerner87 commented on #1962
fixed is marked for the next release

[2022-07-04 07:16] #1962 closed

[2022-07-04 10:38] taheri24 commented on #1958
Is there someone here?

[2022-07-05 21:41] SharkFourSix opened #1965 "🤗 [Question]: How do you configer the recover middleware not to display panic error messages to the client?"
### Question Description

When using the recover, it returns the error message back to the client, which is a very very bad idea because it can reveal sensitive information, and in my case it's messing up my data structure.

How do I disable this behavior so that instead it only returns a 500 back to the client?

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's

[2022-07-06 02:47] liaohongxing commented on #1965
recover returns an error to global error handling

you only need to handle errors global

https://docs.gofiber.io/guide/error-handling#custom-error-handler

[2022-07-06 04:54] hotrungnhan opened #1966 "🚀 [Feature]: validator tag, default tag in body parse"
### Feature Description

Validator body or params in controller is a bit lazzy and make a bunch of duplicated code.
We can put an optional validator or dèault function in fiber config and recall it in very single parser ?

### Additional Context (optional)

_No response_

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](../CODE_OF_CONDUCT.md).

[2022-07-06 04:56] hotrungnhan opened #1967 "🚀 [Feature]: dataform file bind"
### Feature Description

Currently in v2. Dataform file is not be bind  in query or body parser.
i currently version , i need to extract it from body myself. so i hope it will binding by parse will be cleaner

### Additional Context (optional)

_No response_

### Code Snippet (optional)

[code]

### Checklist:

- [x] I agree to follow Fiber's [Code of Conduct](../CODE_OF_CONDUCT.md).
- [X] I have

[2022-07-06 07:52] ReneWerner87 commented on #1965
@SharkFourSix

[2022-07-06 07:54] ReneWerner87 commented on #1959
@baldanca
but you have added your auth middleware with ".Use" for the complete group "/api

clear that this then catches the route which is under api

[2022-07-06 07:55] ReneWerner87 commented on #1959
for me its expected behaviour

[2022-07-06 14:14] baldanca commented on #1959
But why run a middleware to a not found route? Not makes sense to me.
The expected for me it's verify if the route exist and after run the stack.

[2022-07-06 14:51] ReneWerner87 commented on #1959
Let me put it another way, the middleware error has more prio than the error of the not found mechanism.

[2022-07-06 14:57] baldanca commented on #1959
In this way if I use a middleware auth in a group and call a not found route will return 401. But I think that need to return 404 but not makes sense verify the authorization.

[2022-07-06 15:00] efectn commented on #1821
Yes

[2022-07-06 15:06] ReneWerner87 commented on #1959
Authentication without a real route doesn't make sense either, why don't you put it directly as middleware to the routes that exist?

[2022-07-06 15:09] baldanca commented on #1959
Because I have several routes in this group and all needs authentication. Don't make sense to me apply this middleware in one by one. It's more simple if I apply the middleware in the group.

[2022-07-06 15:19] ReneWerner87 commented on #1959
Due to the limitation that we process the routes just like express in a row and we handle the middleware for "Use" or "Group" and the rest of the request methods middlewares identically and additionally the logic of the error handling works like this, the usecase with the defined handler on the group so that the not found error comes is unfortunately not possible.

Can only try to build you later

[2022-07-07 07:06] SoftExpert opened #1969 "🚀 [Feature]: Resumable uploads"
### Feature Description

Hello,

Could (and should) a resumable upload protocol be implemented as a middleware?
I found the following [protocol](https://github.com/tus/tus-resumable-upload-protocol) that has a reference [implementation](https://github.com/tus/tusd).
Is there a need for it ?

Cheers!

### Additional Context (optional)

https://github.com/tus/tus-resumable-upload-protocol
https://gi

[2022-07-08 00:06] vishjain commented on #1840
Can I contribute to this issue? Thanks!

[2022-07-08 05:32] ReneWerner87 commented on #1840
Sure

[2022-07-08 06:43] gozeloglu commented on #1840
I was expecting to implement this. I mentioned that wanted to implemenet it in discussion section and proposed above solutions. As I remember @ReneWerner87 told me that v3 implementations hasn't been started yet when I asked it.

[2022-07-08 06:52] ReneWerner87 commented on #1840
there is the https://github.com/gofiber/fiber/tree/v3-beta branch
you can fork another branch from it and create a pull request for it on the beta branch

Sorry @vishjain  gozeloglu has the prerogative and if he has time and desire he should start with it

[2022-07-08 15:18] vishjain commented on #1829
@ReneWerner87 Can I work on this feature?

[2022-07-08 16:37] aligoren opened #1970 "🤗 [Question]: Why does the New function expect the Config more than once?"
### Question Description

I was looking for the source code of Fiber to understand how it works. I found `New` function and saw it expects Config as a parameter more than once. I don't know why. Is there any reason?

Because even If there are Config params, this function always uses only the first one.

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of C

[2022-07-08 16:42] efectn commented on #1970
Because of Go doesn't have optional parameter feature, we're using variadic parameters to make behavior like optional on Fiber codebase. User-defined config is not necessary to start app. If config not given, we pass default variables as config.

[2022-07-08 16:50] aligoren commented on #1970
Oh thanks ^^

[2022-07-08 16:52] #1970 closed

[2022-07-08 16:58] efectn commented on #1969
Looks like Tus just supports net/http https://github.com/tus/tusd/blob/master/pkg/handler/handler.go.
If you port it into the Fasthttp you can send a PR for https://github.com/gofiber/contrib.

**Note:** You can also try to use it with [adaptor](https://github.com/gofiber/adaptor) but pure implementation is always better and faster. Feel free to contribute :smiley_cat: :smiley_cat: :smiley_cat:

[2022-07-08 16:58] #1969 closed

[2022-07-08 17:01] #1965 closed

[2022-07-08 17:02] #1936 closed

[2022-07-08 17:05] efectn commented on #1903
Hi @MohabMohamed. if you didn't start working for this feature, i can look at the feature if you're OK.

[2022-07-08 22:42] dominicfollett opened #1971 "🤗 [Question]: Gofiber Streaming with Proxy Middleware"
### Question Description

I'd like to ask if it is at all possible to support streaming with Gofiber middleware, and additionally read that stream and make changes to it before passing on to the client?

I've included a snippet of what I'm kind of hoping to do, although I acknowledge I may be hopelessly off course.

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber

[2022-07-09 20:57] hotrungnhan commented on #1821
hope it release soon

[2022-07-10 05:36] tohutohu opened #1973 "🚀 [Feature]: Allow to get the PID of child processes in Prefork"
### Feature Description

Get the PID of child processes of Prefork from the master process so that it can be used for CPU Affinity settings, etc.

### Additional Context (optional)

_No response_

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](../CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that describe my suggestion

[2022-07-10 08:01] tohutohu commented on #1973
I submitted a PoC PR for this feature in #1974.

[2022-07-12 05:03] JonZhang3 opened #1975 "🤗 [Question]: How do I set and get a parameter from the context"
### Question Description

Like the code, I didn't find a similar interface

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](../CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that describe my questions prior to opening this one.
- [X] I understand that improperly formatted questions may be closed without explanation.

[2022-07-12 05:50] rngallen commented on #1975
You can user [ `Locals`](https://docs.gofiber.io/api/ctx#locals) from context as follows
Key must always be a string

[code]

[2022-07-12 06:39] JonZhang3 commented on #1975
@rngallen Thanks

[2022-07-12 06:39] #1975 closed

[2022-07-12 08:37] petuxodev opened #1976 "🚀 [Feature]: WebSocket (Socket.io) support in proxy middleware"
### Feature Description

Support of websockets in proxy middleware.

### Additional Context (optional)

_No response_

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](../CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that describe my suggestion prior to opening this one.
- [X] I understand that improperly formatted feature reque

[2022-07-12 10:09] ReneWerner87 commented on #1976
https://github.com/googollee/go-socket.io/issues/127

[2022-07-12 11:28] petuxodev commented on #1976
I'm about proxying of websockets.

[2022-07-12 19:25] MohabMohamed commented on #1903
Hello @efectn. I already did the segmentation and determined which constraint type parts. but I'm a little lost in the code base so I would love some support, so do you mind if I can ask you on discord?

and really sorry for being late

[2022-07-12 19:28] efectn commented on #1903
My discord is EfeCTN#8109, you can send a message.

[2022-07-13 07:54] #1824 closed

[2022-07-13 12:01] efectn commented on #1821
Hi. I'll start implementing this after closing some PRs for v3. https://github.com/orgs/gofiber/projects/1

[2022-07-14 22:52] SharkFourSix opened #1978 "🤗 [Question]: How to render templates from standard library embed?"
### Question Description

Almost all examples on this topic do not work the way I want and there aren't really similar examples anyway.

Please look at the code below

### Code Snippet (optional)

[code]

EDIT:

On further inispection, the following lines are causing the issue.

https://github.com/Fenny/template/blob/45e77be49336c1f95167b93962090bebd340e8fe/django/django.go#L23

Because this here

[2022-07-18 19:42] efectn commented on #1827
With https://github.com/gofiber/fiber/issues/1903, we won't need this feature.
We can add custom MatchString into the config like https://github.com/gofiber/fiber/blob/master/app.go#L327. It's more easy and cleaner than this way. So i close the issue.

[2022-07-18 19:42] #1827 closed

[2022-07-20 19:49] thomasdseao commented on #1927
Hi @efectn , Can I work on this ?

[2022-07-20 19:52] efectn commented on #1927
Of course

[2022-07-22 12:26] thomasdseao commented on #1927
Cool!
I will be back from my holiday on the 15 august. So if it can wait until the 15, that's perfect for me.
If not don't hesitate to assign it to someone else 🙂

[2022-07-26 18:45] derkan opened #1984 "🐛 [Bug]: Cross compile to FreeBSD fails for internal/gopsutil"
### Bug Description

Cross compiling to FreeBSD on debian&darwin fails with:

[code]

### How to Reproduce

Steps to reproduce the behavior:
1. Run `GOOS=freebsd GOARCH=amd64 go build -o app` on macOS

### Expected Behavior

Should compile successfully but fails.

### Fiber Version

 v2.35.0

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](../

[2022-07-26 18:55] ReneWerner87 commented on #1920
have tested this and it does not fix the problem

[code]
otherwise i would have put this kind of solution in the group method

[2022-07-26 19:00] Trim21 commented on #1920
by “fix” I mean all router with `/p/` or `/page` prefix are added by `g1` or `g2`, not means that it won't mess up the routers add by `app.Add(method, "/p/a-router")` or `app.Add(method, "/page/a-router")`

[2022-07-26 19:21] Trim21 commented on #1920
and as for document, I mean that mention group middleware is `App.Use(` in fact and may match another group, adding slash can aviod some unexpected matches (not a real fix).

[2022-07-26 22:35] Trim21 commented on #1971
Did a little digging, it's not possible currently.

https://github.com/valyala/fasthttp/issues/99

`fasthttp.Client` will read the whole body.

So, to stream response, you will need create a new fasthttp Response and pass it to `fasthttp.Client` in in the `proxy` middleware and pipe new reponse's body to fiber.Ctx's response (`newResponse.BodyWriteTo(*fiber.Ctx)`).

But currently, proxy middleware

[2022-07-26 22:51] Trim21 commented on #1845
the traceback will be the err if the handle panic and panic value is not an error.

[2022-07-27 04:58] #1971 closed

[2022-07-27 06:37] #1931 closed

[2022-07-27 08:36] wangjq4214 commented on #1906
I think `axios` has good UX. And maybe I can work for this feature, which branch should I start my work?

[2022-07-27 08:42] efectn commented on #1906
You can fork Fiber and work on `v3-beta` branch. I assign you to this issue.

[2022-07-28 08:45] ssharish opened #1988 "🤗 [Question]: How to change limiter's Max value dynamically?"
### Question Description

I have a situation where in I need to change the limiter's Max value dynamically.  This needs to happen during runtime.  Is there a way to accomplish that.  From the code what I understood so far is, once, the App is created pretty much the configs for middleware remain immutable.  This is because `handlers` are stored as a list instead of hash, so they don't get replaced

[2022-07-28 09:02] ReneWerner87 commented on #1988
its not possible with our core middleware

if you want that you have to create a custom variant of it

[2022-07-28 09:03] ssharish commented on #1988
Thank you very much for the quick reply

[2022-07-28 09:03] #1988 closed

[2022-07-28 10:05] ssharish opened #1989 "🚀 [Feature]: Change middleware config dynamically"
### Feature Description

There are situations where one needs to change the middleware's configuration values dynamically.  For e.g. a limiter's Max value can be ballooned dynamically based on other driving factors (metering).  Currently there is no mechanism to do that, which automatically enforces admin to restart the webserver.  Restart of webserver comes with a cost associated during productio

[2022-07-28 10:22] ReneWerner87 commented on #1989
in your description there is not really a configuration change, you want to replace the whole middleware after you initialize the server

would advise against this for performance reasons

please adjust the example how it should look like later in case the config should be changed dynamically or the handler of the route should be changed

[2022-07-28 10:50] ssharish commented on #1989
Hi Rene,

Thanks for your explanation.  Yes it would be replacement of the entire middleware itself.  I realise there is a performance implication to this, however, this is a rare event and performance penalty offsets the benefits in the production.  Since I don't have the in-depth understanding the middleware code I'm presenting a simpler way to change the values.

I don't think I'm qualified eno

[2022-07-29 06:43] luthfimasruri opened #1990 "🐛 [Bug]: ctx.QueryParser() didn't work when I use query with square bracket"
### Bug Description

`ctx.QueryParser()` didn't work when I use query with square bracket eg. `query:"page[number]"`

### How to Reproduce

Steps to reproduce the behavior

**Request:**
`GET http://localhost:9090/api/products?page[number]=2&page[size]=5`

**Handler:**
[code]

**Result:** `&{0 0}`

### Expected Behavior

**Expected Result:** `&{2 5}`

### Fiber Version

v2.35.0

### Code Snippet (o

[2022-07-29 06:47] ReneWerner87 commented on #1990
please change
[code]
to
[code]

[2022-07-29 06:50] ReneWerner87 commented on #1990
![image](https://user-images.githubusercontent.com/7063188/181700159-e1e99800-d33a-46e9-906c-2093317c0c79.png)

[code]

[2022-07-29 06:51] #1990 closed

[2022-07-30 12:53] smalloff opened #1991 "How to remove an item from the cache?"
### Question Description

How to remove an item from the cache or update item?
[From fiber cache middleware](https://github.com/gofiber/fiber/tree/master/middleware/cache)

This function does not allow getting into the cache. If the element is already in the cache, then it doesn't work.

[code]

[2022-07-31 05:40] smalloff commented on #1991
The solution I found. Maybe someone will come in handy.

[code]

usage - 127.0.0.1:3000/api/cache/refresh/?url=my_url.html

[2022-07-31 11:17] ReneWerner87 commented on #1991
Use the skip middleware https://docs.gofiber.io/api/middleware/skip

[2022-07-31 11:39] wejectchen opened #1992 "🤗 [Question]: how to set release mode like gin in fiber?"
### Question Description

my question is how to set release mode like gin in fiber?

like be:
[code]

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](../CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that describe my questions prior to opening this one.
- [X] I understand that improperly formatted questions may be closed without

[2022-07-31 13:57] smalloff commented on #1991
Thanks, great!

[2022-07-31 14:06] #1991 closed

[2022-07-31 14:09] efectn commented on #1992
Fiber doesn't have builtin logger and mode options.

[2022-07-31 14:09] #1992 closed

[2022-07-31 14:23] #1845 closed

[2022-08-01 06:24] #1890 closed

[2022-08-01 16:20] #1973 closed

[2022-08-02 10:47] efectn commented on #1829
Hi @vishjain. Are there any progress?

[2022-08-02 16:08] vishjain commented on #1829
Working on it right now. Thanks!

[2022-08-03 14:03] #1984 closed

[2022-08-03 14:35] derkan commented on #1984
@efectn  @ReneWerner87  thanks!

[2022-08-03 15:06] wangjq4214 commented on #1959
Again, I think a 404 error should be returned instead of a 401 error, and a more convenient API is needed.

Perhaps we could provide an API as follows, `Apply` will add a middleware for each endpoint that actually exists:

[code]

Maybe I can work for it after I finish the client refactor.

[2022-08-04 05:01] #1978 closed

[2022-08-04 21:14] SharkFourSix commented on #1978
FYI, this was addressed here https://github.com/gofiber/template/pull/187

[2022-08-06 02:00] Trim21 opened #1996 "🤗 [Question]: `app.Test` may hang infinitely with handler calling `runtime.Goexit`"
### Question Description

I'm using `github.com/stretchr/testify/mock` to create a mock, and this library may call `t.FailNow()` if caller try to do a unexpected method call.

But `(*testing.T).FailNow()` will only call `runtime.Goexit` but not `panic`.

Therefore, the handler can't panic if the test fail. and I can only get a timeout error instead of panic error.

and, if `app.Test` is called wit

[2022-08-06 02:26] Trim21 commented on #1996
There is a workaround, add a test-only middleware to handle this:

[code]

`runtime.Goexit()` will call all `defer`, so in this way fiber can get the control flow.

[2022-08-06 04:24] wangjq4214 commented on #1996
`runtime.Goexit()` will call all `unexecuted defer` functions and **exit the current goroutine**, causing the error channel in Test function to not receive any messages.

And I think it's important to check the parameters at the controller level and make sure that the mock covers these test cases, rather than making the mock function call t.FailNow.

Changing app.Test will introduce unnecessary co

[2022-08-06 04:55] Trim21 commented on #1996
this is more a developer experience question.

Mocks may call `t.FailNow` when it can't find matched called, usually happens when writing tests and mock are not properly set. `t.FailNow` is not a expected behavior.

[2022-08-06 05:06] Trim21 commented on #1996
And after read source of `app.Test`, I think it's not too complex to handle this, just add a defer in the goroutine
[code]

[code]

[2022-08-06 08:32] wangjq4214 commented on #1996
I get your mean, the long hang-up is indeed unexpected behavior.

[2022-08-06 08:36] Trim21 commented on #1989
you can just wrap your config with `sync.RWMutex` and add a router (or in the middleware ) to update it.

[2022-08-06 14:02] ssharish commented on #1989
Hi Trim,

Thanks for your reply, could you please elaborate a little bit on "use another way to update it".  Most methods I have tried didn't work as values are copied by the middleware.

[2022-08-06 15:04] Trim21 commented on #1989
[code]

[2022-08-06 15:05] Trim21 commented on #1989
use a pointer receiver

[2022-08-06 15:06] Trim21 commented on #1989
And you can also use "sync/atomic" to avoid the `sync.RWMutex`, I'm not sure which one has the better performance.

[2022-08-06 16:16] levniko commented on #158
I am new in fiber. How can we reach claims im 4th line

[code]

[2022-08-06 16:53] ssharish commented on #1989
Hi Trim,

Thanks a ton the code, this makes it easy.

[2022-08-06 16:58] Trim21 commented on #1989
I guess this issue can be closed now?

[2022-08-06 17:17] #1989 closed

[2022-08-06 17:17] efectn commented on #1958
@taheri24

[2022-08-06 17:20] efectn commented on #1354
Open issues for new suggestions/features about v3.

[2022-08-06 17:20] #1354 closed

[2022-08-06 19:35] #1926 closed

[2022-08-06 19:35] #1799 closed

[2022-08-06 20:00] rngallen opened #1999 "How to return xml to some endpoint and json to others."
### Question Description

I want some routers to return json( used internally)
Other routers to return xml ( to be used by external app)

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that describe my questions prior to opening

[2022-08-06 20:47] efectn commented on #1999
You can use JSON() context method to return JSON body.
To return XML body, you can set content type and send xml body

[2022-08-07 16:32] rngallen commented on #1999
Do you mean something like this?

[code]

[2022-08-07 16:35] efectn commented on #1999
Yes

[2022-08-07 16:55] #1999 closed

[2022-08-07 17:10] bofeng opened #2001 "🐛 [Bug]: Middleware proxy.Do overwrote the wrong scheme"
### Bug Description

I am making a simple proxy that you can append the proxied url after /, for example, you can request http://localhost:3333/http://ip-api.com/json/1.1.1.1 , which will proxy request to http://ip-api.com/json/1.1.1.1.

Here is my code:

[code]

When I request the url like: http://localhost:3333/http://ip-api.com/json/1.1.1.1 , it will show this error:

By debugging and following

[2022-08-08 06:18] #1996 closed

[2022-08-08 07:06] ReneWerner87 commented on #2001
thanks we will look at the problem, unfortunately everyone is pretty busy right now with version 3 and other old content

[2022-08-08 07:17] #1821 closed

[2022-08-08 07:37] efectn opened #2002 "🚀 v3 Request: Add Support for `*multipart.FileHeader` fields to Multipart Binder"
### Feature Description

Currently, Fiber binding uses gorilla/schema and it's very slow and doesn't support multipart files (https://github.com/gofiber/fiber/issues/1967, https://github.com/gofiber/fiber/issues/3286#issuecomment-2603881190).

We should write more performant, powerful parser acording to the needs of Fiber.

- [ ] support multipart files

**Check:** https://github.com/gofiber/fiber

[2022-08-08 07:37] #1967 closed

[2022-08-08 14:01] Trim21 commented on #2002
I'd like to add another context about this impl.

Key point here is not to use methods of `fiber.Ctx`, but to build a decoder for a Request struct and reuse it in the future.

with a function decorator, the decoder are pre-compiled and cached by nature. and this cached don't have overhead like map access.

If the decoder is not pre-compiled, it's not that fast and low alloc:

[code]

[code]

[2022-08-08 14:41] Trim21 commented on #2002
I'll send a PR later

[2022-08-08 14:56] efectn opened #2005 "🚀 v3 Request: Better Redirection Methods"
### Feature Description

At the moment, there're 3 methods to redirect: Redirect(), RedirectToRoute(), RedirectBack(). They're useful methods but they make Ctx more mess. To solve this, we should combine them into the one main method as `Redirect()`

Also, we can add flash messages to make redirection more efficent like Laravel: https://laravel.com/docs/9.x/redirects#redirecting-with-flashed-sessi

[2022-08-08 22:10] ShivanshVij opened #2007 "🚀 [Feature]: `ctx.Error()` helper function to quickly return an error with a response string"
### Feature Description

The `fasthttp.RequestCtx` object contains an `Error()` helper function that allows you to quickly specify the status code and error reason by calling `ctx.Error("reason", statusCode)`.

Having this method available in fiber should be straight forward to do and it would make error responses much easier to send.

### Checklist:

- [X] I agree to follow Fiber's [Code of Condu

[2022-08-08 23:50] wangjq4214 commented on #2002
I want to know if the minimum go version that will be supported in the next release will be 1.18?

[2022-08-08 23:55] Trim21 commented on #2002
I guess yes https://github.com/gofiber/fiber/blob/v3-beta/go.mod#L3 , and my pr need new generic support .

[2022-08-09 03:24] Trim21 commented on #2007
you can use fiber.NewError, default error handler will convert it to a HTTP error response

[2022-08-09 06:10] balanikaran opened #2008 "🤗 [Question]: How to skip a handler function if the auth middleware fails and directly skip to response handler?"
### Question Description

I'm having the code structure like this below:
[code]

What I want is, if my Auth Middleware fails for some reason, my `SomeEndpointHandler` should not run, and it should directly skip to the `GenericJSONResponseHandler` with the set status code.

Is that even possible? Or is my approach of code design is correct or not?

### Code Snippet (optional)

_No response_

### Ch

[2022-08-09 06:27] ReneWerner87 commented on #2008
fail with "panic" or error?

if you want your handlers to continue, you would have to catch these errors, react to them and ignore them in the flow and put some information in the locals that you can use later for skipping

[2022-08-09 06:54] balanikaran commented on #2008
Yeah, I'm just setting the relevant `status_code` in the locals and then skipping the handlers by checking in the very beginning of the following handlers. I just wanted to know if there is any short-circuiting kind of pattern available.

[2022-08-09 07:47] wavemoroc001 opened #2009 "🤗 [Question]: Can not pass query params in group prefix"
### Question Description

Hi there, I try to pass query params in nested url prefix like this

`http://localhost:8585/classroom-service/account/submit-otp-link?test=testMessage`

 **Router**

[code]

**Handler**
[code]

But it throw this  **Response**
[code]

Cloud you advice how to fix this errors ?

Fiber version : `2.36.0`

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I agr

[2022-08-09 07:48] efectn commented on #2002
Yes. v3 will supoort last 2 major versions of Go

[2022-08-09 09:11] ReneWerner87 commented on #2009
[code]

![image](https://user-images.githubusercontent.com/7063188/183611021-88c67dfd-85f7-4b5c-b36b-e4522ee08818.png)
![image](https://user-images.githubusercontent.com/7063188/183611114-ac0393f8-cbd6-4e7d-9bfb-131c4b9ee21d.png)

@wavemoroc001 i cannot reproduce ?
can't find "strconv.ParseUint" anywhere in our code, so must be the processes you didn't specify in the example

[2022-08-09 09:17] ReneWerner87 commented on #2008
no i think not
@efectn @Trim21  any other ideas ?

[2022-08-09 09:49] wavemoroc001 commented on #2009
@ReneWerner87  Thank you for you kindness
I found root cause, I think that might match  route to getAccountByID that i use `strconv` before go to `submit-otp-link` endpoint

[code]

[2022-08-09 10:13] ReneWerner87 commented on #2009
![image](https://user-images.githubusercontent.com/7063188/183623622-4d56c53a-2649-449f-96d0-650bd906e79a.png)
https://docs.gofiber.io/guide/routing

yes please swap the route with the variable part with the route with the fixed part, otherwise the variable part will always be used before the other route, because with us the order plays a role just like with express

[2022-08-09 10:20] wavemoroc001 commented on #2009
Thank you so much !

[2022-08-09 10:20] #2009 closed

[2022-08-09 10:20] #2007 closed

[2022-08-09 14:14] #2001 closed

[2022-08-09 16:39] Trim21 commented on #2008
So if I understand correctly, you want `GenericJSONResponseHandler` to be executed
but not `SomeEndpointHandler` when `SomeAuthMiddleware` failed to authorized current request.

Common case for this is to just response (or return a error) in the `SomeAuthMiddleware`
and don't' call `c.Next()`, so the middleware and handler after this middleware won't be executed by nature.

Guessing from your hand

[2022-08-11 10:50] balanikaran commented on #2008
Hey, thanks for the solution here, let me evaluate if we can use it in our code.

This was really helpful. :)

[2022-08-11 12:12] #2008 closed

[2022-08-11 12:13] efectn commented on #2008
If you have some questions more, feel free to reopen the issue.

[2022-08-12 21:48] thomasdseao commented on #1927
Hi @efectn

I made the small changes to get ClientHelloInfo in handlers in this PR : https://github.com/gofiber/fiber/pull/2011
Let me know if you want me to change some things or maybe where the code is located. (This is my first PR on fiber)

[2022-08-13 17:36] DhivakarK-git opened #2012 "🤗 [Question]: Filesystem middleware: Handle when file name has spaces"
### Question Description

We are trying to serve video files on a local server(intranet). FileNames with spaces in them with URLs being delimited using(%20). What's the solution for the same?

### Code Snippet (optional)

[code]

### Checklist:

- [x] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for exist

[2022-08-13 17:45] ReneWerner87 commented on #2012
Can you give an example?
You know the app.Static function?
https://docs.gofiber.io/api/app#static

[2022-08-13 17:54] #2012 closed

[2022-08-13 18:52] ReneWerner87 commented on #2012
You have found a solution?

[2022-08-15 16:41] gbolo opened #2016 "🐛 [Bug]: `IP()` function does not return client IP reliably"
### Bug Description

According to documentation for `func (c *Ctx) IP() string`:

However, the logic in this function is too basic and cannot be trusted. Here are some issues for example:

- when setting `ProxyHeader: "X-Forwarded-For"` (or any other value), if this header is missing or empty then fiber will return an empty value for `c.IP()`. I think it would be better if the value defaulted to `

[2022-08-15 18:58] ReneWerner87 commented on #2016
okay what would be your recommended change without causing a breaking change ?

[2022-08-16 06:05] #1903 closed

[2022-08-16 13:27] gbolo commented on #2016
what do you mean by breaking? I think this is already broken right? I recommend that we do our best to match the function description. I don't see any value in keeping the function as-is.

Lets take a look at how some other web servers and reverse http proxies handle determining client IP:

- gin: https://github.com/gin-gonic/gin/blob/v1.8.1/gin.go#L454
- echo: https://github.com/labstack/echo/blo

[2022-08-16 19:19] smalloff opened #2018 "🚀 Documentation improvement (BodyParser section):"
### Feature Description

Hello!
In the documentation, incomplete information about the [request body parser](https://docs.gofiber.io/api/ctx#bodyparser). It took a long time to find a way to send arrays in parameters. I suggest adding an example to the documentation.

// curl -X POST -H "Content-Type: application/x-www-form-urlencoded" --data "**users.0.name**=john&**users.1.name**=jack" localhost

[2022-08-16 19:19] smalloff opened #2535 "🚀 Documentation improvement (BodyParser section):"
Hi!
In the documentation, incomplete information about the [request body parser](https://docs.gofiber.io/api/ctx#bodyparser). It took a long time to find a way to send arrays in parameters. I suggest adding an example to the documentation.

// curl -X POST -H "Content-Type: application/x-www-form-urlencoded" --data "**users.0.name**=john&**users.1.name**=jack" localhost:3000

[code]

[2022-08-17 09:23] efectn commented on #2018
They're both supported

[2022-08-17 11:10] smalloff commented on #2018
this one can be added too. The fiber tests have several options.

[2022-08-17 13:32] gaby opened #2019 "🐛 [Bug]: Monitor middleware ignores custom settings if default title is used."
### Bug Description

When using the monitor middleware I noticed that if I don't change the title or refresh rate the other custom settings don't get applied.

The bug is on this line: https://github.com/gofiber/fiber/blob/master/middleware/monitor/config.go#L99

Where if title or refresh rate are the `Default Values` everything else gets ignored in the `else`.

### How to Reproduce

Run code

###

[2022-08-17 14:44] gbolo commented on #2016
@ReneWerner87 please review PR #2020

[2022-08-17 15:43] ReneWerner87 commented on #2016
Sure, in the next days

[2022-08-17 16:26] gbolo commented on #2016
Thanks, no rush

[2022-08-18 08:26] ReneWerner87 commented on #2019
@jfcg can you support here
initial code is comming from https://github.com/gofiber/fiber/pull/1898

[2022-08-19 06:19] #1927 closed

[2022-08-19 08:39] #1840 closed

[2022-08-19 11:56] wireguard-dev opened #2025 "🤗 [Problem]: tls.Config in ListenTLS"
### Question Description

Can do you, please, set NextProto: []string{"h2"} in tls.Config of ListenTLS?
Without that I can't use dgrr/http2 :(

Fiber version is v2.37.0-rc.1

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that de

[2022-08-19 12:00] efectn commented on #2025
I think we don't need it because of Fiber doesn't have default HTTP/2 support. You can use Listener to pass custom TLS config.

[2022-08-19 12:11] dmlambea opened #2026 "🐛 [Bug]: head requests work differently depending on the register order"
### Bug Description

When registering the same route for GET and also HEAD requests, the behavior of the HEAD's route depends on the order in the registering process:
* If the HEAD is registered prior to the GET route, then a bad Content-Length header is sent.
* If the GET is registered before the HEAD route, then the HEAD's function is not executed, but GET's one.

I've manifested the bug using g

[2022-08-19 12:18] wireguard-dev commented on #2025
In my opinion, this might kill the ClientHelloInfo feature, because I don't have access to the non-exported fields in fiber.

[2022-08-19 12:56] ReneWerner87 commented on #2026
https://docs.gofiber.io/api/app#route-handlers

maybe we have to mention it here, but you don't have to specify the head method yourself

when you set the GET method, HEAD is automatically set as well
https://github.com/gofiber/fiber/blob/master/app.go#L661

this is supposed to be a service

if you don't want this you can use the add method

[2022-08-19 13:09] #2019 closed

[2022-08-19 13:10] jfcg commented on #2019
I was just coding a cleaner solution to this :D

[2022-08-19 13:13] gaby commented on #2019
One thing I wish it supported is passing files paths instead of urls.

Right now I have copies of the js/css files in my container and I expose them via app.Static('/static', './static').

Ideally the monitor config supported file based resources and used those in the html imports.

[2022-08-19 14:17] #1828 closed

[2022-08-19 14:39] efectn commented on #2025
Right. We may need to get TLS from https://github.com/gofiber/fiber/blob/master/listen.go#L31 and pass it to CHI to resolve this.

[2022-08-19 14:58] efectn opened #2031 "🚀 v3 Request: Merge `static` and `filesystem` middleware as `static` middleware"
### Feature Description

I think we should merge static and filesystem to make Fiber core simple in v3. Also there's no performance problem when we compare fasthttp.FS static and io/fs filesystem middleware. (https://github.com/gofiber/fiber/pull/2027)

### Additional Context (optional)

[code]

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](

[2022-08-19 15:05] efectn opened #2032 "🚀 v3 Request: Revamp Startup Message"
### Feature Description

I think we should revamp Fiber's startup message in v3 with more beautiful one. If you have some ideas please share them :smile:  :smile:  :smile:

### Additional Context (optional)

_No response_

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).

[2022-08-20 02:05] Trim21 opened #2035 "🚀 v3 Request: use https://github.com/stretchr/testify for testing"
### Feature Description

remove current `utils.AssertEqual` and use https://github.com/stretchr/testify for testing assertion

### Additional Context (optional)

_No response_

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issue

[2022-08-20 06:51] wangjq4214 commented on #2035
Good idea! Probably needs large work, if it's not a simple replacement.

[2022-08-20 07:05] Trim21 commented on #2035
just use `gofmt -r` and `goimports`

[2022-08-20 08:06] wangjq4214 commented on #2035
What I mean is to use different assertions for different judgments.

[2022-08-20 08:08] Trim21 commented on #2035
[code]

😀

[2022-08-20 08:09] efectn commented on #2035
gofmt is really epic tool :D

[2022-08-20 08:11] wangjq4214 commented on #2035
cool

[2022-08-21 02:22] sujit-baniya opened #2038 "🚀 v3 Request: Add Throttle and Timeout with retry in client"
### Feature Description

While making requests with client, it might be essential to throttle the request based on the API Server bandwidth. So adding throttle Per Host.

Also API Server might take more time for request to complete. So timeout is required in this case. Since Retry is already implemented, timeout can be used with Retry

### Additional Context (optional)

_No response_

### Code Sni

[2022-08-21 10:33] wangjq4214 commented on #2038
I have some other work to do this week, and I will finish these features next week.

[2022-08-22 15:37] #2035 closed

[2022-08-23 06:32] #2016 closed

[2022-08-23 13:38] rrandall91 commented on #899
This is exactly what I needed. Thanks!

[2022-08-23 21:28] gozeloglu commented on #2032
Hi @efectn. I checked the current startup message and it seems that it is a normal informative text.

![Screen Shot 2022-08-24 at 00 25 29](https://user-images.githubusercontent.com/33967642/186269206-91e73ae6-c5aa-44eb-87fd-a7d24125231b.png)

I am OK with this informative text, but I think we can add fancy text like the one below. It is widely used in CLI messages. What do you think?

[code]

Als

[2022-08-23 22:06] efectn commented on #2032
I agree. We can add informations to near/under the ASCII art. It would be more beautiful than making it table.

[2022-08-24 05:47] gozeloglu commented on #2032
Should I create the PR from the master branch?

[2022-08-24 05:59] ReneWerner87 commented on #2032
no, from v3-beta branch

[2022-08-24 07:16] #1907 closed

[2022-08-24 07:35] gozeloglu commented on #2032
Should I replace the table with something different? Like the plain text?

[2022-08-24 07:47] #2025 closed

[2022-08-25 08:24] jney opened #2044 "🐛 [Bug]: Group route `/` isn't handled properly in StrictRouting mode"
### Bug Description

route `/` isn't handled properly with `StrictRouting` option

### How to Reproduce

[code]

then request it:

[code]

### Expected Behavior

[code]

should respond to `0.0.0.0:8888/test/`

### Fiber Version

v2.36.0

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github

[2022-08-25 08:29] demget opened #2045 "🐛 [Bug]: Strange CSRF middleware behavior with header KeyLookup configuration"
### Bug Description

The middleware randomly starts responding with **403 Forbidden** if it's configured to look up for `header:X-Csrf-Token`. I found that the storage's map keys are messing up with random header values, so possibly this has something to do with unsafe magic.

One moment you have a map entry with a valid key which is actually a recently added CSRF token, a couple of requests ago y

[2022-08-25 08:31] demget commented on #2045
René in our Discord [discussion](https://discord.com/channels/704680098577514527/704682020990746624/1011972988083634246) advised to:

here https://github.com/gofiber/fiber/blob/master/middleware/csrf/csrf.go#L42 and here https://github.com/gofiber/fiber/blob/master/middleware/csrf/csrf.go#L37

[2022-08-25 09:09] ReneWerner87 commented on #2045
we will look at this and develop a fix in a timely manner

[2022-08-25 16:11] mpv945 opened #2046 "🤗 [Question]: How to start fiber in another port with grpc"
### Question Description

I want to start the grpc service in the fiber service at the same time, and the ports will be occupied at the same time.

I specified grpc port as 9000 and http port as 9001. After starting the 9000 port of the grpc service, the http port will also use the 9000 port to start? I don't know how I need to adjust the two ports to start at the same time as a service?

### Code

[2022-08-25 19:56] balcieren commented on #2046
@mpv945 You should use `app.Listen` inside of `go func(){}`

[2022-08-26 09:48] #2046 closed

[2022-08-26 15:19] sixcolors opened #2051 "🚀 [Feature]: Custom extractor option for middleware/csrf"
### Feature Description

Custom extractor option for middleware/csrf

my specific use case is for a session based server and I'd like to support using the same CSRF token in an OAuth 2.0 authorization code flow with Microsot identity platform (https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow).

Basically my thought was to set scope to the CSRF token in the r

[2022-08-26 15:34] ReneWerner87 commented on #2044
yes think you found a bug, we need more tests with the strict mode

https://github.com/gofiber/fiber/blob/b86f79eca4325c90aded51ec220e8e551420491d/helpers.go#L225-L227

probably it would be enough to remove the second part of the conditional, then it should go into the lower return branch and it should work

[2022-08-26 19:09] efectn commented on #1254
I think this is a bug that's related to https://github.com/gofiber/fiber/blob/master/helpers.go#L29.

[2022-08-26 23:52] mstrYoda opened #2053 "🚀 [Feature]: adding Environment Variable expose middleware"
### Feature Description

It is a common requirement while debugging/viewing environmental informations of our apps, so it would be nice to have an env var expose middleware like expvar.

### Additional Context (optional)

_No response_

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF

[2022-08-27 01:44] omarcosr commented on #1099
Any update on this bug?

[2022-08-27 02:11] wangjq4214 commented on #2044
I also think this is the problem and there is very little testing about strictmode. Can I add the relevant content to router_test.go please?

[2022-08-27 13:07] mpv945 commented on #2046
不行，无法启动http端口

[2022-08-28 16:57] #2051 closed

[2022-08-28 19:07] harsh-98 opened #2057 "🐛 [Bug]: Cache mutex will blocks other requests if any of the cached API is slow."
### Bug Description

https://github.com/gofiber/fiber/blob/master/middleware/cache/cache.go#L57 The refactored mutex logic in the cache still blocks other requests. The same mutex is used for retrieving cached values and saving the response of cached API. So, if a slow API is cached, it will block the retrieval of cached values for other APIs.

I don't think the mutex is required here. The memory

[2022-08-29 13:10] ReneWerner87 commented on #2045
does anyone have any idea how i can reproduce the case in the test? can't get the reused headers to have effect on memory
https://github.com/gofiber/fiber/blob/466d6b199575f4487b06762a4a3f9fef86631f47/middleware/csrf/csrf_test.go#L346-L394
@demget @efectn @GalvinGao

![image](https://user-images.githubusercontent.com/7063188/187208014-b41d1efe-682b-4f2d-a6a5-0b04e1d330d8.png)

would like to produc

[2022-08-29 13:18] GalvinGao commented on #2045
I think sequentially call `app.Test` won't trigger this as I suspect such issue would only occur in race conditions specifically, if I correctly understand the mechanism of `fasthttp`.

[2022-08-29 13:34] ReneWerner87 commented on #2045
not really, it's just about putting the request and response objects back into the pool and reusing them later on.

but due to the unsafe there is still a link to the header value of the previous process

thought you can reproduce it like this

[2022-08-30 06:26] bimbimprasetyoafif opened #2062 "🐛 [Bug]: config DisableHeaderNormalizing not seem to be work with fiber Test()"
### Bug Description

I found that configuration DisableHeaderNormalizing didn't work on unit testing.

### How to Reproduce

1. Create fiber instance with config `DisableHeaderNormalizing: true`
2. Register the route and handler with header checking. Let say:
[code]
4. Create `req := httptest.NewRequest(...` and register header to it with `req.Header.Set("key", "value")`
5. run Test() function on

[2022-08-30 06:30] #2053 closed

[2022-08-30 06:31] bimbimprasetyoafif commented on #2062
It suddenly work on my snippet, maybe i will reopen this issue if this bug occure

[2022-08-30 06:49] ReneWerner87 commented on #2062
![image](https://user-images.githubusercontent.com/7063188/187368933-c55119b9-e9db-47b3-9d9b-1f00dd93697d.png)
httptest changes the header

in fasthttp the option is processed correctly, just checked

[2022-08-30 06:57] ReneWerner87 commented on #2062
the headers generated via httptest in the request cannot be lower case, so you have to look for a solution there

[2022-08-30 06:57] #2062 closed

[2022-08-30 07:03] ReneWerner87 commented on #2062
try this
[code]

[2022-08-30 07:06] ReneWerner87 commented on #2057
https://github.com/gofiber/fiber/commit/b9efc76722f9ff2e0a7d52d9f98116f4eb635674

@apoq can you help here ?

[2022-08-30 07:07] ReneWerner87 commented on #2057
can you provide a pull request with some tests that will solve the problem

[2022-08-30 10:07] demget commented on #2045
I remember I couldn't reproduce this through go tests and postman, only together with the frontend part, which uses my API. I don't understand why is it working like so, but anyway I'm going to prepare a JS code snippet for you guys to produce this bug.

[2022-08-30 10:38] ReneWerner87 commented on #2045
yes that would be good

try to fix it this time not test driven and hopefully will make that reproducible with your snippet then later in a test

[2022-08-30 11:01] #1254 closed

[2022-08-30 12:48] #2045 closed

[2022-08-30 18:04] balcieren opened #2066 "🐛 [Bug]: Mounting does not work if you use it before declaring the route"
### Bug Description

I found critical bugs about mount.

1.  If app's router codes (Get, Post, ...) write after `app.Use()`, app wouldn't register route stack.
[code]
2. Sub in sub mounting does not work
[code]

### Expected Behavior

Application should register sub app's stack in `app.Listen()`  (`startupProcess()`)

need good refactor and fix bugs

### Fiber Version

v2.37.0

### Code Snippet (o

[2022-08-30 19:34] apoq commented on #2057
@ReneWerner87 @harsh-98 this been manually tested, after #1764 MR the problematic lock has been fixed, please see below:

[code]

Also did an automated test with this:

[code]
Good point about redundant use of mutex here, that's true, when actual manager does it on it's own, but there's no mentioned bug here (ie slow routes when cached, do not affect other routes). That was the point of #1764

I'l

[2022-08-31 05:54] #2026 closed

[2022-08-31 06:25] ReneWerner87 commented on #2066
[code]
the current implementation takes the route at the time of the mount command and transfers it to the parent app

just as the order of routes is important in the declaration of routes, it is also important here

probably we could also change this and only pull the routes from the sub app in the startup process
(but would remove the "critical" part of the bug, as it is a known intentional beha

[2022-08-31 07:21] ben-swit opened #2067 "🤗 [Question]: evictCount relate by fiber or fasthttp?"
### Question Description

i writen here https://github.com/valyala/fasthttp/issues/1368

is relate by fiber??

when i remove fiber and convert gin  then not rise this issue

if any relate fiber??

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for e

[2022-08-31 07:26] ReneWerner87 commented on #2067
very hard to assess without seeing a piece of code or knowing what you are doing

can you provide a small example running locally that causes this error

please keep it as small as possible and don't include any security or other information in it

[2022-08-31 07:38] ben-swit commented on #2067
write some code
[code]

[code]

this is small sample when i do stress test  1min 200 count  then after a few seconds rise this

and i want to know fiber is fast but is it fit file server??

in my case fiber use file server i know fasthttp use bytes bufferpool  but so many use memory over 4GB

[2022-08-31 09:08] ben-swit commented on #2067
[sample.log](https://github.com/gofiber/fiber/files/9460197/sample.log)

 this is my full trace debug

[2022-08-31 09:18] efectn commented on #2067
It's probably related to grpc library, not Fiber

[2022-08-31 09:25] ben-swit commented on #2067
but when i convert fiber to gin not happen this panic

is not relate fiber? or fasthttp?

[2022-08-31 15:44] fufuok opened #2068 "🐛 [Bug]: EnvVar middleware parsing error"
### Bug Description

[code]

[code]

### How to Reproduce

Run the above test case.

### Expected Behavior

PASS

### Fiber Version

v2.37.0

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that describe my problem prior to

[2022-08-31 15:57] fufuok commented on #2068
After:

[code]

[2022-08-31 21:48] m13t commented on #1829
I'm quite keen to see if this would support my use case as I was surprised it doesn't work in v2. I'm essentially dynamically constructing an additional router in a piece of middleware and then handing off to that router. This is something I've done similar in express for complex dynamic multi-tenanted apps but short of creating it all in a `fiber.Handler` and branching that in the middleware I'm

[2022-09-01 09:12] efectn commented on #2067
Please share full code as repository. I can't see anything related to Fiber in panic message.

[2022-09-01 09:12] #1958 closed

[2022-09-02 10:00] balcieren opened #2072 "🚀v3 Request: shorter hooks naming and remove unnecessary returned error types"
### Feature Description

1. I think `app.Hooks().OnName` is long naming. Actually `On` keyword refers to the event. So I think `app.OnName` is gonna be better.
2. Hooks return error but what will we do this error ? Where will we use this ? I think we should use `panic` in there.

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.

[2022-09-03 11:38] mstrYoda commented on #2068
Thank you, I was about to send a commit for multiple "=" characters and just wanted to check issues before and saw your PR 👍

[2022-09-03 17:03] #2068 closed

[2022-09-05 10:24] dmlambea commented on #2026
Hi, @ReneWerner87, sorry for not writing before, I was AKF for a couple of weeks.

Thank you very much for your clarification!  I will proceed as you say and use `Add` for my case.

Just to leave my two cents for the sake of better Fiber, let me note that even wanting "Get" to be a service, the resulting behavior is still wrong, according to RFC 9110. Please read my comments in the "Expected behav

[2022-09-05 11:22] ReneWerner87 commented on #2026
Ok good points, we will change the behavior in v3.

[2022-09-05 14:43] efectn commented on #2026
Done with https://github.com/gofiber/fiber/commit/78c6197430a8ac5ceff51edde102a14c2c6681a3. Thanks for feedback :100:

[2022-09-06 12:54] ReneWerner87 commented on #2026
Would be great with a new example in a new report.

[2022-09-07 09:05] #2044 closed

[2022-09-07 09:24] OK93-01-18 opened #2076 "🐛 [Bug]: Multiple constraints does not work in routes"
### Bug Description

I found bug with constraints in routes.

### How to Reproduce

 I was trying add route like that:
[code]

### Expected Behavior

When i sent:
`GET /es/videos/22/`
i received:
`Cannot GET /es/videos/22/`
But should get:
`es_22`

### Fiber Version

v2.37.0

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/g

[2022-09-07 09:31] efectn commented on #2076
Thanks for the feedback. Will check it today or tomorrow

[2022-09-08 05:29] #2076 closed

[2022-09-08 06:38] #1826 closed

[2022-09-08 10:17] Nghiait123456 opened #2078 "🤗 [Question]: Don't have fuc get value param in post request with Content-Type: application/json"
### Question Description

i have reques to server:
[code]

I want get value of name, pass, i don't find any function support. If in fast http, it's is same PostArgs().Peek()
in Fiber, i only one way:
[code]

please help me this problem?

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github

[2022-09-08 10:17] Nghiait123456 opened #2079 "🤗 [Question]: Don't have fuc get value param in post request with Content-Type: application/json"
### Question Description

i have reques to server:
[code]
type User struct {
	Name interface{} `json:"name" xml:"name" form:"name"`
	Pass interface{} `json:"pass" xml:"pass" form:"pass"`
}

user  := User{}
if err := c.BodyParser(&user); err != nil {
	fmt.Println(fmt.Sprintf("have error %s", err.Error()))
} else {
	fmt.Printf("success %v %v %v \n", persons, reflect.TypeOf(user.Name), reflect.TypeOf

[2022-09-08 10:30] ReneWerner87 commented on #2078
[code]

lets check my code

[2022-09-08 10:39] Nghiait123456 commented on #2078
@ReneWerner87  oh, it run success, but it's not way i want

I want only get "pass" or "name",  i don't want create struct. In fastHttp, this fc is : "PostArgs().Peek()"

[2022-09-08 10:50] ReneWerner87 commented on #2079
duplicated to https://github.com/gofiber/fiber/issues/2078

[2022-09-08 10:50] #2079 closed

[2022-09-08 10:53] ReneWerner87 commented on #2078
https://github.com/gofiber/fiber/blob/012a2b16a5a391f76701431027224d69897e7fb2/ctx.go#L549
->
https://github.com/valyala/fasthttp/blob/2f1e949d91d0ba1817afd80d7c981fafe7154774/server.go#L1097-L1114

[2022-09-08 11:02] Nghiait123456 commented on #2078
oh, some thing went wrong, this code not run succes with application json:
try
[code]
package main

import (
	"fmt"
	"log"
	"reflect"

	"github.com/gofiber/fiber/v2"
)

type User struct {
	Name interface{} `json:"name" xml:"name" form:"name"`
	Pass interface{} `json:"pass" xml:"pass" form:"pass"`
}

func main() {
	app := fiber.New()

	app.Post("/", func(ctx *fiber.Ctx) error {

                //

[2022-09-08 11:12] ReneWerner87 commented on #2078
It's only working with
application/x-www-form-urlencoded

[2022-09-08 11:18] ReneWerner87 commented on #2078
PostArgs().Peek() and formValue will not work with json form data

[2022-09-08 11:50] dmlambea opened #2080 "🐛 [Bug]: HEAD routes improperly overwrite the Content-Length header"
### Bug Description

The header `Content-Length` explicitly sent in HEAD routes is ignored in lieu of another value sent by Go-Fiber. HEAD routes should never add a default `Content-Length` nor overwrite the user-given one, if any.

I've manifested the bug using gofiber v2.5.0 and v2.36.0, both with Go v1.17 and v1.18

### How to Reproduce

Steps to reproduce the behavior:

* Build and run the sam

[2022-09-08 11:51] dmlambea commented on #2026
@ReneWerner87, I've created #2080 with a new, specific example.

Thank you for your support!

[2022-09-08 11:52] ReneWerner87 commented on #2080
ah okay now i understand, problem is that fasthttp sets the length itself at the end, don't know if you can override that right now

[2022-09-08 11:56] ReneWerner87 commented on #2080
@dmlambea
have you ever tested something like this ? i think fasthttp ignores the normal header for this completely
[code]

[2022-09-08 12:03] ReneWerner87 commented on #2080
[code]
problem is the SendStatus method -> it set the body and then it recalculate the content-length

[2022-09-08 12:38] Nghiait123456 commented on #2078
@ReneWerner87  it's my problem in first Q/A
i don't find fc work on application - json

i don't want create new struct and pass to body ctx.BodyParser(), i only want get one param
please suggest me ?

[2022-09-08 12:52] ReneWerner87 commented on #2078
unfortunately not possible without parsing the json you can not get the individual values for this structure

[2022-09-08 13:30] Nghiait123456 commented on #2078
thank you @ReneWerner87

[2022-09-08 13:30] #2078 closed

[2022-09-11 11:09] ReneWerner87 commented on #2066
@wangjq4214

-> if for example a sub app is mounted in the app and in this app already a hook is defined on a route of the sub app, but this route is not yet transferred, because we move this process to start

what do you think about this problem ?

[2022-09-11 11:52] balcieren commented on #2066
@ReneWerner87 and @wangjq4214 , this problem was resolved on v3-alpha branch. Solution: Router stacks should be registered on startupProcess. [see also](https://github.com/gofiber/fiber/blob/v3-alpha/core.go#L379)

[2022-09-11 11:59] ReneWerner87 commented on #2066
good to know, but we are still quite a way away from version3 and maybe wanted to solve it already in version2

[2022-09-11 12:02] balcieren commented on #2066
we can do this for v2, [see also](https://github.com/gofiber/fiber/blob/master/app.go#L593-L598) we should write this lines on buildTree

[2022-09-11 12:07] ReneWerner87 commented on #2066
Yes of course but that does not help me answer my question

If you add the routes later and then add hooks that work when the route is registered, it can be quite unexpected for the user.

[2022-09-11 15:23] smalloff opened #2084 "🤗 [Question]: How to get the hash of the URL?"
### Question Description

example url with hash - https://docs.gofiber.io/api/ctx#new

Tried the following functions. They do not work. What am I doing wrong?

[code]

[2022-09-11 16:18] #2084 closed

[2022-09-13 05:01] ben-swit commented on #2067
sorry @efectn  repo is private repo but i solved remove fiber so close issue

[2022-09-13 05:01] #2067 closed

[2022-09-13 06:23] ReneWerner87 commented on #2067
@ben-swit what was the cause that others who find the error there may also have a clue

[2022-09-13 10:33] alanhe opened #2085 "🤗 [Question]: How to get the RAW body?"
### Question Description

I want to support multi- `Content-Encoding`.

I find the method `Body()` that is supposed to give me the **raw** body. But when I check the source code, it seems to decompress some encodings by default.

For example, when it is `gzip`, I can call `Body()` to get the decompressed body, while it is `snappy`, I will have to handle the decompression logic myself.

Could you t

[2022-09-13 10:42] ReneWerner87 commented on #2085
just use `c.fasthttp.Request.Body() ` like we do

[2022-09-14 00:39] alanhe commented on #2085
Thank you very much for the tip! `c.Request().Body()`

[2022-09-14 00:39] #2085 closed

[2022-09-14 10:55] mybigman opened #2086 "🐛 [Bug]: No 413 response sent to firefox"
### Bug Description

Fiber doesnt send 413 response to firefox, however under chrome or safari it does.

Firefox inspector - v104.0.2
<img width="491" alt="image" src="https://user-images.githubusercontent.com/1289916/190134601-bc66d508-c4df-4a1f-8bb9-6866e3f1d823.png">

Chrome inspector
<img width="701" alt="image" src="https://user-images.githubusercontent.com/1289916/190134870-a90c99e2-a582-40b

[2022-09-14 11:25] efectn commented on #2086
Probably same as https://github.com/gofiber/fiber/issues/1940. Will check it as soon as possible

[2022-09-14 14:12] pjebs opened #2087 "🚀 [Feature]: Shutdown() add optional timeout"
### Feature Description

Currently when I call `Shutdown()`, it seems to wait a long time (many minutes).

It would be good for it to pass in an optional **ctx** or a **max wait time**. If it hasn't gracefully shutdown by the max wait time, it hard kills the server connections etc.

### Additional Context (optional)

_No response_

### Code Snippet (optional)

_No response_

### Checklist:

- [X]

[2022-09-14 14:49] hakankutluay opened #2088 "🚀 [Feature]: Middleware with context withTimeout"
### Feature Description

Need timeout support on long-running operations like Db, HTTP calls, etc. [timeout](https://github.com/gofiber/fiber/tree/master/middleware/timeout) middleware does not support cancellation with context and also has race conditions.

### Additional Context (optional)

Let's think about a situation, a DB operation may take a long time.  When we limit a timeout, It should al

[2022-09-14 14:57] efectn commented on #2087
As different as Shutdown(), we can add ShutdownWithContext(ctx) that checks ctx before shutdowning

[2022-09-15 05:21] ReneWerner87 commented on #2080
@dmlambea

[2022-09-15 06:15] ReneWerner87 commented on #2086
yes it is exactly this problem
https://github.com/valyala/fasthttp/issues/1348#issuecomment-1200122542

[2022-09-15 06:56] efectn commented on #2086
Closing this due to duplication. You can follow the issue from https://github.com/gofiber/fiber/issues/1940

[2022-09-15 06:56] #2086 closed

[2022-09-15 07:36] mybigman opened #2093 "🤗 [Question]: How can use named routes in the template"
### Question Description

All my `GET` endpoints use named routes. How I can I utilize this inside HTML templates?

I would like not having to hardcode these if possible?

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that descr

[2022-09-15 08:08] #2032 closed

[2022-09-15 15:56] Koredeoluwafemi opened #2094 "🤗 [Question]: Logging to Custom File on GoFiber"
### Question Description

I will like to log to a custom file using the golang package log library.

I am currently using this code below, but its not working on a gofiber app

	// open log file
	logFile, err := os.OpenFile("/assets/log.txt", os.O_APPEND|os.O_RDWR|os.O_CREATE, 0644)
	if err != nil {
		log.Panic(err)
	}
	defer logFile.Close()

	log.SetOutput(logFile)

	log.Println("Custom File Log"

[2022-09-16 02:07] li-jin-gou commented on #2094
Hello @Koredeoluwafemi  Is it possible to use https://github.com/gofiber/fiber/tree/master/middleware/logger ? It can set the [OutPut](https://github.com/gofiber/fiber/blob/master/middleware/logger/config.go#L42)

[2022-09-16 06:37] ReneWerner87 commented on #2094
its working on my machine
[code]

![image](https://user-images.githubusercontent.com/7063188/190572648-78092012-93d3-4f1f-8129-230cbb1b1ff3.png)

[2022-09-16 06:38] ReneWerner87 commented on #2094
pls check your permissions and the path
maybe you miss the relative part in your path

[2022-09-16 10:53] Koredeoluwafemi commented on #2094
Thanks @ReneWerner87 for the example, it works now.

[2022-09-16 10:53] #2094 closed

[2022-09-16 11:27] ReneWerner87 commented on #2093
inject the router (the app or group) in the template system and use this method https://docs.gofiber.io/api/app#getroute

[2022-09-16 11:31] #2093 closed

[2022-09-16 14:03] #1496 closed

[2022-09-17 06:32] pjebs opened #2096 "🐛 [Bug]: panic: add: invalid http method LOAD"
### Bug Description

I want to create a handler with a custom http method called "LOAD".

[code]

It crashes the application:

`panic: add: invalid http method LOAD`

### How to Reproduce

app.Add("LOAD", "/hello", func(c *fiber.Ctx) error {
	return c.SendString("Hello, World 👋!")
})

### Expected Behavior

It should allow for custom http methods

### Fiber Version

 Fiber v2.37.1

### Code Snippe

[2022-09-17 07:02] mybigman commented on #2093
@ReneWerner87 thanks, however I am not seeing how since the `AddFunc` has to come before the `app`

I dont really want to have to inject the `app` on every endpoint.

[code]

[2022-09-17 07:02] ReneWerner87 commented on #2096
Not really a bug, until now our methodic does not allow custom methods

[2022-09-17 07:04] ReneWerner87 commented on #2093
Can try to provide an example later

[2022-09-17 07:07] ReneWerner87 commented on #2096
Maybe we can provide a method where you can register the custom request methods

[2022-09-17 10:47] pjebs opened #2097 "🤗 [Question]: func (app *App) Patch(path string, handlers ...Handler) Router"
### Question Description

I understand why `Router` is returned by `.Group(...)` and `.Use()`.

Why does `*App.Get` etc return `Router`? What is the use-case? Am I doing something wrong.

No example in the docs ever uses the return value.

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.gith

[2022-09-17 11:10] li-jin-gou commented on #2097
This should be `Method Chaining`.

such as
[code]

[2022-09-17 11:14] ReneWerner87 commented on #2097
Yes exactly we want to support the concept of method chaining https://en.wikipedia.org/wiki/Method_chaining#%3A%7E%3Atext%3DMethod_chaining%2C_also_known_as%2Cto_store_the_intermediate_results.?wprov=sfla1

[2022-09-17 11:18] pjebs commented on #2097
@li-jin-gou I don't understand what your example code is trying to achieve in a real-world scenario?

[2022-09-17 11:26] li-jin-gou commented on #2097
:sob: refer to :point_up_2:

[2022-09-17 11:29] ReneWerner87 commented on #2097
Since no error or other important return value is needed in this logic, we decided to return the router instead of a void value that nobody can use.
whereby the concept of method chaining can be used

some developers don't like this and just use the app or group instance from before other developers like this concept

in the examples we tried to explain as simple as possible, so we don't show this

[2022-09-17 11:30] #2097 closed

[2022-09-17 11:52] pjebs opened #2098 "🤗 [Question]: Documentation should address this:"
### Question Description

Is there a difference in these 2 approaches in the documentation:

[code]

vs

[code]

What are the advantages and disadvantages of either approach?

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues

[2022-09-17 14:48] ReneWerner87 commented on #2098
The first handler matched only GET request methods.

The second matched all request methods.

The advantages or disadvantages are the same as with the other rest frameworks or expressjs.

In the case the route detections behave the same nothing more.

[2022-09-17 21:22] #2098 closed

[2022-09-18 12:43] N1cOs opened #2100 "🐛 [Bug]: unstable behaviour of ReqHeaderParser/QueryParser methods"
### Bug Description

Recently we started to use fiber in our new service. After a while we encountered a problem in production that `ReqHeaderParser` didn't parse some headers of client identifiers. This behaviour starts at arbitrary point of time and if it happens, then all future requests face that problem. For now only restarting the application fix it.

I added log wrapper to inspect incoming

[2022-09-18 13:05] N1cOs commented on #2100
Also during development we encountered a problem with order of calling methods `QueryParser` and `ReqHeaderParser`. I didn't find comments about it in docs, but if we change order in above snippet, then we return error on each request:
[code]

[2022-09-18 14:59] ReneWerner87 commented on #2100
yes you are right, there is something strange

this error occurs in any case because you use the same struct, which we have not tested yet

i also did some troubleshooting and it seems like the gorilla schema parser cache is messing something up

[2022-09-18 15:34] li-jin-gou commented on #2100
in this case, filed cache key equal to Variable Name，causes judgment failure

[2022-09-18 16:31] ReneWerner87 commented on #2093
Solution 1:
[code]
[code]

maybe we should do the initialization of the template system only when listing
just before we issue the start message to allow for better addition of the app

we will consider this for version 3

[2022-09-19 00:40] pjebs opened #2104 "🚀 [Feature]: fiber/middleware/filesystem/ support for templating"
### Feature Description

I am embedding a html file using the filesystem middleware.

There is currently no support to add some templating.
It would be good to just add some simple variables into the html file.

### Additional Context (optional)

_No response_

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/f

[2022-09-19 02:47] pjebs opened #2105 "🐛 [Bug]: file not closed in filesystem middleware"
### Bug Description

I believe file should be closed to avoid memory leak:

https://github.com/gofiber/fiber/blob/master/middleware/filesystem/filesystem.go#L258

Similar to here: https://github.com/gofiber/fiber/blob/master/middleware/filesystem/filesystem.go#L266

### How to Reproduce

Just run middleware

### Expected Behavior

[code]

### Fiber Version

 Fiber v2.37.1

### Code Snippet (option

[2022-09-19 02:48] pjebs commented on #2105
My mistake.

[2022-09-19 02:48] #2105 closed

[2022-09-19 03:16] mybigman commented on #2093
@ReneWerner87 thanks mate much appreciated... I will work on that tonight. I like the sound of your proposed solution.

[2022-09-19 08:58] #2100 closed

[2022-09-19 09:22] N1cOs commented on #2100
@li-jin-gou thanks for PR! However, does #2101 fix unstable behaviour of `ReqHeaderParser`? From changes in PR, for me, it seems that it only fixes problem with parsing query/header/body params into single struct

[2022-09-19 12:40] ReneWerner87 commented on #2104
what about this https://github.com/gofiber/template/tree/master/html#example-with-embedfs ?

[2022-09-19 15:37] rafimuhammad01 commented on #2096
hi @ReneWerner87 my first approach for this issue is to make a new function called `AddMethod` that adding new method to the list of registered method

[code]

Then add new validation on `app.register(...)` method, such that:

[code]

With this implementation we can add new method but I'm kinda confuse since this implementation doesn't have any functionality except to passed the validation. Let me

[2022-09-19 16:08] efectn commented on #2096
I think it's good idea to add custom method registration method to app. Maybe it would be more efficent with improving method int for custom methods. We use it in most places

[2022-09-19 16:11] leopku commented on #2031
How to deal with `embed.FS` after merging?

[2022-09-19 16:26] rafimuhammad01 commented on #2096
Well I think we can use `map[string]int` for registeredMethods instead of `[]string`. So, in method int we can check the if the new method is exist and return the int value.

But I think we need a validation on this function to check if the number assigned to the new method won’t be duplicated with existing method.

What do you think about this? @efectn

[2022-09-19 16:28] efectn commented on #2096
Agree. We should check duplications

[2022-09-20 03:20] leopku commented on #2031
Got it.
Thank you @efectn .

[2022-09-20 07:28] rafimuhammad01 commented on #2096
@efectn I submitted PR for this issue, please kindly review it. Thank you 🍺

[2022-09-20 16:31] N1cOs commented on #2100
@ReneWerner87 up above question) Today we faced the problem again. If you think, that PR fix initial problem with unstable behaviour, then we can update version and monitor situation.

And what did you mean in that message? Were you able to reproduce the problem in your environment?

[2022-09-20 16:43] ReneWerner87 commented on #2100
Yes, i was able and the PR was fixing the problem which i described before(with the caching)

Can you try the master version in your go.mod file?

May plan is to release the stuff on the weekend.

[2022-09-20 16:51] ReneWerner87 commented on #2100
https://stackoverflow.com/questions/53682247/how-to-point-go-module-dependency-in-go-mod-to-a-latest-commit-in-a-repo/53682399#53682399

[2022-09-20 16:53] li-jin-gou commented on #2100
you are so thoughtful :stuck_out_tongue:

[2022-09-21 02:45] acidjazz commented on #158
This is an awesome feature in the Context - might want to list it as a feature elsewhere so this isn't the route to find it!

[2022-09-21 06:07] ReneWerner87 commented on #158
https://docs.gofiber.io/api/ctx#locals

[2022-09-21 09:02] dmlambea commented on #2080
This last snippet worked fine, thanks!  :-)

I can use the workaround but I guess FastHTTP should be fixed in order to remove workaround code everywhere.

Great support, thank you very much!

[2022-09-21 09:57] #2080 closed

[2022-09-21 13:57] gaby opened #2109 "🚀 [Feature]: Document usage of Fiber Utils"
### Feature Description

I have been using Fiber for over 2 months now, and everyday I find myself re-inventing the wheel because I didnt know Fiber had a Util function for doing X task.

It would be very beneficial if basic documentation could be added to document all the very useful Fiber Utils.

### Additional Context (optional)

_No response_

### Code Snippet (optional)

_No response_

### Ch

[2022-09-21 17:28] N1cOs commented on #2100
Thanks guys! I updated module to master version. If encounter problem again, I'll write :)

[2022-09-22 03:51] acidjazz opened #2111 "🤗 [Question]: Is it possible to get a current list of all of the routes?"
### Question Description

for dev purposes I like to have an endpoint showing a nice HTML table of my routes - I need a way to get a list of them for this

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that describe my questions prior to opening this one.
- [X] I u

[2022-09-22 04:31] li-jin-gou commented on #2111
Maybe add an `App.GetRoutes`

[2022-09-22 05:17] li-jin-gou commented on #2111
I see that `App.Stack()` can also get all the routers, but It can modify the app's route information.

[2022-09-22 05:40] acidjazz opened #2113 "🐛 [Bug]: Custom Middleware creating routes"
### Bug Description

I wrote a simple middleware to see benchmarks of my endpoints:

[code]
I use it like this:

[code]

Since I've added this - I'm noticing tons of new routes when i enable `EnablePrintRoutes` ->

[code]

I also see a ton of new routes using the CORS middleware - is this ok? it's really hard to filter these vs my real routes.

### How to Reproduce

try my middleware out

### Expe

[2022-09-22 05:52] acidjazz commented on #2111
thank you @li-jin-gou - i was able to use that to get my list going:

[code]

I wonder if an easier methodology is worth adding as a feature? maybe `c.App().RouteList()` ?

I can attempt a PR but I'm still somewhat new with Go

[2022-09-22 06:18] #2111 closed

[2022-09-22 06:27] ReneWerner87 commented on #2113
Hi
there is no difference between the middlewares and the routes

each handler is a middleware for us and is defined for a certain type of route

the print route feature should show all routes as described in the description without any restriction

yes

[2022-09-22 06:27] #2113 closed

[2022-09-22 06:35] li-jin-gou commented on #2113
refer to https://github.com/gofiber/fiber/pull/2112

[2022-09-23 06:22] #2005 closed

[2022-09-23 18:46] Vovcharaa opened #2116 "🚀 [Feature]: Add ability to configure client for proxy.Do"
### Feature Description

Add ability to provide custom client configuration to client that used inside proxy.Do, or make client from proxy package public.

### Additional Context (optional)

Right now i faced issue where i was out of free connections (ErrNoFreeConns) and couldn`t provide custom number of connection per host or wait for connection timeout and was forced to copy-paste proxy implemen

[2022-09-24 18:21] li-jin-gou commented on #2116
Referring to the proxy usage scenario of the `Hertz` , I found it useful to set the client.

[2022-09-24 20:24] efectn commented on #2104
Can you provide an example/code snippet

[2022-09-24 21:15] pjebs commented on #2104
https://github.com/gofiber/fiber/blob/master/middleware/filesystem/filesystem.go#L38

[2022-09-24 21:42] efectn commented on #2104
Why to want filesystem middleware for templating? It's just for serving files

[2022-09-24 22:19] pjebs commented on #2104
The files I want to serve are mostly html files with some placeholders inside for a templating engine to substitute.

[2022-09-25 00:49] pjebs opened #2118 "🚀 [Feature]: Expose Ctx.values"
### Feature Description

It would be good to expose `values` in `Context`.

I need to intercept the request and modify the parameter values in a middleware.
The end route handler uses `c.Params(key)`. This method uses `values` and `c.route.Params`.

I can already modify `c.route.Params` but I'm stuck due to `values`.

https://github.com/gofiber/fiber/blob/v2.37.1/ctx.go#L65

### Additional Context

[2022-09-25 01:03] pjebs commented on #2118
Alternatively, is there a way to provide to the `Context` (in middleware, after the routing has already been done and arrived at the middleware) a brand new route path (i.e. `/user/:name/books/:title`) and then have the route params + values regenerated?

[2022-09-25 01:35] li-jin-gou commented on #2118
Hello @pjebs  I noticed that the populating logic of Ctx.values is done when the route is matched in https://github.com/gofiber/fiber/blob/master/path.go#L438 and because the param of the route have changed, is it possible to use Internal redirect here?

[2022-09-25 01:45] pjebs commented on #2118
@li-jin-gou No because I need to do it from a middlware that has already been reached. After the middleware, another endpoint handler will handler the request.

I need to modify the values before it reaches the eventual endpoint handler.

If I do an internal redirect, the routing process will have to be done again.

[2022-09-26 01:41] kuchaguangjie opened #2121 "🤗 [Question]: When got 2 fields of the same name (and type) via embedding, neither will receive the param?"
### Question Description

[code]

Try to receive param `id = 1`:
[code]

Then c's id is zero value `0`, removing one of the id from A or B, then could receive id as `1`.

I did this by mistake in the first place, but wondering is it golang's feature or fiber's feature that: when got 2 fields of the same name (and type), neither will receive the param, and there is no error at all?

### Code Snippe

[2022-09-26 03:29] li-jin-gou commented on #2121
Hello @kuchaguangjie you can refer to https://github.com/golang/go/issues/19194

[2022-09-26 03:33] kuchaguangjie commented on #2121
Ok

[2022-09-26 03:33] #2121 closed

[2022-09-26 06:17] #1479 closed

[2022-09-27 05:09] fufuok opened #2122 "🚀 [Feature]: Global or group use timeout middleware"
### Feature Description

In practice, the timeout middleware is more used globally or in groups. Expected usage:

[code]

### Additional Context (optional)

The current timeout middleware is more suitable for use in Handle.

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_COND

[2022-09-27 11:37] #2122 closed

[2022-09-27 11:53] fufuok opened #2124 "🤗 [Question]: Timeout middleware typos"
### Question Description

**Current**

When using with custom error:

[code]

**Probably should be**

[code]

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that describe my questions prior to opening this one.
- [X] I und

[2022-09-27 11:54] fufuok commented on #2124
`func sleepWithContextWithCustomError` and `timeout.New(h, 2*time.Second, ErrFooTimeOut)`

[2022-09-27 12:37] mybigman opened #2125 "🐛 [Bug]: csrf cookie middleware encryption"
### Bug Description

When using the csrf middleware without changing the cookie name the cookie value is in plain text.

When you change the cookie name the value becomes encrypted.

<img width="731" alt="image" src="https://user-images.githubusercontent.com/1289916/192527998-92d14508-ece8-44d1-89aa-ea76c50c0ee0.png">

### How to Reproduce

see code below...

### Expected Behavior

I expect to see

[2022-09-27 12:44] ReneWerner87 commented on #2125
we skip some of the cookies in the encryption https://github.com/gofiber/fiber/blob/master/middleware/encryptcookie/config.go#L37
otherwise it is hard to know if the cookie value in the crsf middleware is encrypted or not

implemented in https://github.com/gofiber/fiber/commit/bff8843abd95b2fad8eb0fc421f0612da582db52
@amir9480 can you help here with some explaintions

[2022-09-27 13:19] jonatan5524 commented on #2072
I'm new to this repo, I would like to work on this issue.

[2022-09-27 13:31] jonatan5524 commented on #2072
By that logic we should change all the access to hooks methods as follow:
```app.Hooks().OnRoute``` to ```app.OnRoute```
```app.Hooks().OnFork``` to ```app.OnFork``` and so on...

[2022-09-27 14:50] balcieren commented on #2072
it's just possible on v3

[2022-09-27 14:54] jonatan5524 commented on #2072
I am new to open source, this is mean that I can't yet work on this issue? I saw there are PRs on v3 to v3-beta branch.

[2022-09-27 15:11] goldwind-ting opened #2126 "🤗 [Question]: Will support generic in next version?"
### Question Description

The `golang` had supported generic, so will fiber support generic in next version?

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that describe my questions prior to opening this one.
- [X] I und

[2022-09-27 15:25] ReneWerner87 commented on #2126
We are currently heavily dependent on your help (community) in the development of the new version. Since we use golang 1.18 we can of course avert this, the question is only with which functions.

So if you have ideas or suggestions feel free to create a comment or pull request and we will decide in the group.

[2022-09-27 16:10] ReneWerner87 commented on #2072
am not really convinced of the change

the encapsulation under hooks i find better because then it is clear that they are hooks, they are better separated in the golang and gitbook docs and hopefully easier found and understood

[2022-09-28 04:05] #2126 closed

[2022-09-28 05:55] #2124 closed

[2022-09-28 12:27] #2116 closed

[2022-09-28 20:11] levniko opened #2129 "🤗 [Question]: How can I clear the Cache ?"
### Question Description

I'm using the Cache middleware for some endpoints. This is my config for cache:
[code]
And this is my endpoint:
[code]
My question is that how can I clear the cache when products table updated ?

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issu

[2022-09-29 06:19] li-jin-gou commented on #2129
Default cache Storage is a  memory store. You can use redis cache store  to instead of it and when products table updated, you also update redis cache. refer to https://github.com/gofiber/storage

[2022-09-29 06:25] ReneWerner87 commented on #2129
think that is currently not easily possible

you could inject a storage and then empty it
![image](https://user-images.githubusercontent.com/7063188/192955059-2053450b-2f26-4f8e-9941-302bd392b565.png)

[2022-09-29 08:33] levniko commented on #2129
thank you so much @ReneWerner87 @li-jin-gou

[2022-09-29 08:33] #2129 closed

[2022-10-03 08:57] teemukataja opened #2134 "🐛 [Bug]: agent.Struct fails to unmarshal response since 2.33.0"
### Bug Description

- `agent.Struct()` raises a null pointer exception.
- `agent.Struct()` works in `2.32.0`, but stopped working after `2.33.0`, including the latest release `2.38.1`.

### How to Reproduce

#### Working version with 2.32.0
1. set fiber version to `2.32.0` in `go.mod`
2. run `go mod tidy`
3. run script
4. response is successfully parsed

#### Broken version 2.33.0-2.38.1
1. set f

[2022-10-03 11:09] li-jin-gou commented on #2134
use `a.JSONDecoder(json.Unmarshal).Struct(&r)`

[2022-10-04 00:55] supaplextor opened #2135 "🤗 [Question]: install: How to remedy "cannot find package .... gofiber/fiber/v2 in any of ...""
### Question Description

Just trying to fire up a test, but I might not be catching on how go handles imports vs local/shared file locations.

<code><pre><font color="#4E9A06"><b>supaplex@supaplex-HP-EliteDesk-800-G1-SFF</b></font>:<font color="#3465A4"><b>~/usr/src/github-by-user</b></font>$ cd gofiber/
<font color="#4E9A06"><b>supaplex@supaplex-HP-EliteDesk-800-G1-SFF</b></font>:<font color="#3

[2022-10-04 04:12] supaplextor commented on #2135
I fixed it over at https://github.com/supaplextor/fiber-myfiberapp1/actions/runs/3179356422/jobs/5181761039

[2022-10-04 04:12] #2135 closed

[2022-10-04 09:16] ben-swit commented on #2067
@ReneWerner87 i don't know specifically, i solved change fiber to gin

[2022-10-04 11:46] gaby commented on #2067
@ReneWerner87 This was caused because gprc defaults to using HTTP/2 which is not supported by fasthttp/fiber. The solution is to disable the http2 transport. Fix is here: https://github.com/golang/go/issues/43051#issuecomment-878092933

[2022-10-04 11:55] ReneWerner87 commented on #2067
Ok thx

[2022-10-04 13:34] nathanfaucett opened #2136 "🚀 [Feature]: Add config option to Static config to disabled cache on Index routes"
### Feature Description

Add config option to Static config to disabled cache on Index routes, use case is single page apps that need the index.html files to use `no-cache, no-store, must-revalidate` or add a func to the Static config that allows the header to be customized based on the file or path.

### Additional Context (optional)

_No response_

### Code Snippet (optional)

[code]

### Checkl

[2022-10-04 18:10] pjebs commented on #2087
@li-jin-gou https://github.com/valyala/fasthttp/issues/1389#issuecomment-1267351046

[2022-10-04 18:16] efectn commented on #2087
You can access fasthttp.Server with https://github.com/gofiber/fiber/blob/master/app.go#L852. But it's also OK to me add Close() method to Fiber.

[2022-10-05 07:04] #2134 closed

[2022-10-05 07:05] ReneWerner87 commented on #2134
@teemukataja thanks for the hint, fixed it in the pull request #2137

will be in the next release

until then you have to set the default decoder by hand
https://github.com/gofiber/fiber/issues/2134#issuecomment-1265283424

[2022-10-05 08:27] pjebs opened #2138 "🚀 [Feature]: Export matching function"
### Feature Description

Let say I have a route path like this: `"/user/:name/books/:title"`.

I need **_the_** function used by fiber's router to check if a url matches that path.

Perhaps:

[code]

I believe the matching is done here: https://github.com/gofiber/fiber/blob/master/router.go#L64 (unexported)

### Additional Context (optional)

Currently I am doing it like this as a workaround:

[co

[2022-10-05 08:33] ReneWerner87 commented on #2138
we can make
I also had the thought

but is not so simple
and also not only the match function

before you can match this route you have to create a route first

for this there is an analysis function which is not really optimized because it was only used for the declaration of the routes so far

we would have to optimize this and then provide both functionalities and document how this can be used

[2022-10-05 08:40] pjebs commented on #2138
I'm only interested in simpler functionality than what you envision.

[2022-10-05 09:25] ReneWerner87 commented on #2138
Since I am essentially building middleware, I don't want it to appear as route(s).

sorry had overlooked the sentence

so you just don't want them to show up in stack ?

why not solve it differently by making this functionality filterable or overwriteable ?

[2022-10-05 09:31] pjebs commented on #2138
I can't tell which paths are actual routes and which are from the "middleware" (`app.All()`). They both end up in the stack are indistinguishable. They are also provided from outside my package.

[2022-10-05 09:37] ReneWerner87 commented on #2138
ok

[2022-10-05 16:14] #2136 closed

[2022-10-05 22:16] pjebs commented on #2118
Any feedback on this issue. Is there any harm in exporting `Values`, given `Params` is already exported?

[2022-10-05 22:17] pjebs commented on #2118
Perhaps a function for making a copy of the context with the ability of changing `values` is another possibility?

[2022-10-06 05:54] #2125 closed

[2022-10-06 20:08] pjebs opened #2143 "🚀 [Feature]: locals accepts interface{} for key"
### Feature Description

Currently Locals accepts only a string for key.

Fasthttp has merged my PR to change uservalues  to accept Interface{} for key:  https://github.com/valyala/fasthttp/pull/1387#issuecomment-1270152231

### Additional Context (optional)

See https://github.com/valyala/fasthttp/issues/1385#issue-1384870001

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I ag

[2022-10-07 01:40] pjebs commented on #2138
Let me know what you think of this PR

[2022-10-08 12:32] pjebs opened #2145 "🚀 [Feature]: missing session SessionOnly (cookie)"
### Feature Description

See: https://pkg.go.dev/github.com/gofiber/fiber/v2@v2.38.1/middleware/session#Config

There seems to be no option to set SessionOnly.

See: https://pkg.go.dev/github.com/gofiber/fiber/v2#Cookie

SessionOnly deletes the cookies when the user closes the browser window.

If you set Expiration to 0, it deletes it immediately.

There is also ambiguity: Does `Expiration` refer

[2022-10-09 11:46] li-jin-gou commented on #2145
Refer to https://stackoverflow.com/questions/14196671/session-only-cookies-with-javascript

[2022-10-09 12:31] pjebs commented on #2145
No, it can be done via backend.
You have to omit expiry value. Prob is you can't omit because a value of 0 ( the "zero value") means something else i.e. Delete session immediately.

[2022-10-09 12:47] li-jin-gou commented on #2145
![image](https://user-images.githubusercontent.com/97824201/194757621-2902bfbc-9225-454e-8f9d-e2b0361d8943.png)
It also seems to be fine without setting.

[2022-10-09 13:35] pjebs commented on #2145
You can't unset it. A value of zero is not the same

[2022-10-10 09:09] piyongcai commented on #2031
how to suppport Compress option?

[code]

[2022-10-10 09:22] piyongcai opened #2147 "🐛 [Bug]: multi-byte AppName displays confusion"
### Bug Description

if you set multi-byte text for AppName， AppName displays confusion.

[code]

### How to Reproduce

Steps to reproduce the behavior:
1. Go to '....'
2. Click on '....'
3. Do '....'
4. See '....'

### Expected Behavior

Friendly display of multi-byte text

### Fiber Version

V0 - V2.38.1

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code

[2022-10-10 09:29] efectn commented on #2031
Probably we will remove filesystem middleware after fasthttp FS gets `fs.FS` support. (For v3) https://github.com/valyala/fasthttp/pull/1374

Don't have much knowledge about PR at the moment. Not reviewed yet

[2022-10-10 12:15] pjebs opened #2149 "🐛 [Bug]: Potential memory leak in Data map in session middleware"
### Bug Description

The session middleware contains a Data struct which contains a map.

I suspect it may leak according to this article: https://teivah.medium.com/maps-and-memory-leaks-in-go-a85ebe6e7e69

### How to Reproduce

Just a suspicion

### Expected Behavior

Just a suspicion

### Fiber Version

All

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I agree to follow Fibe

[2022-10-10 12:18] pjebs commented on #2149
[code]

Perhaps the better solution is just to replace the map rather than delete each key.

[2022-10-10 13:31] li-jin-gou commented on #2149
refer to https://github.com/golang/go/issues/20135

[2022-10-12 04:47] supakornbabe opened #2151 "🐛 [Bug]: X-Forwarded-Host, X-Forwarded-Proto, X-Forwarded-Protocol can have a comma-separated list"
### Bug Description

The implement of [c.Protocol()](https://github.com/gofiber/fiber/blob/9a6002056c4c1e76a44f0c68a0d7c27c39e09507/ctx.go#L1017) and [c.Hostname()](https://github.com/gofiber/fiber/blob/9a6002056c4c1e76a44f0c68a0d7c27c39e09507/ctx.go#L663) is wrong and the problem is happen when request is go through more than 1 proxies.

Reference: https://httpd.apache.org/docs/2.2/mod/mod_proxy.

[2022-10-12 21:44] efectn commented on #2145
Sure. You can create a PR

[2022-10-13 09:52] Destreyf commented on #1127
I just ran into this, and fenny is right about this issue also existing on express.

I'm just chiming in with what my solution was as I think it can be useful to others.

[code]

At login I then call my function as
[code]
and to clear it's just
[code]

This obviously locks the calls to a single endpoint/domain but for my use case (HTTP Only refresh tokens) it works great, my functions are named mo

[2022-10-16 08:51] amir9480 commented on #2125
@mybigman
Encrypting the csrf cookie value can cause issues for your app. You should add your csrf key (csrf_1) in encryptcookie `Except`  configuration.
[code]
Please check #1631.

[2022-10-17 08:12] marcmartin13 opened #2155 "🚀 [Feature]: Cache-Control: no-cache"
### Feature Description

Allow force validation in the cache middleware. So when the request header contains a no-cache directive it will skip the check/get cached entry.

### Additional Context (optional)

![image](https://user-images.githubusercontent.com/87841930/196122444-ee0cafd9-1181-4fd4-bc56-dab3b66a234d.png)

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#:~:text=

[2022-10-17 14:30] #2149 closed

[2022-10-18 03:33] #2155 closed

[2022-10-18 04:34] pjebs opened #2160 "🚀 [Feature]: v3 Router interface change"
### Feature Description

**v2 definition:**
[code]

**v3 definition:**

It would be good if the signature could be changed for these:
[code]

**Secondly,**

[code]
OR alternatively,

`method string` interprets methods with pipes: eg. `"GET|POST"`

### Additional Context (optional)

It will be operationally equivalent to (but cleaner):
[code]

### Code Snippet (optional)

_No response_

### Checkli

[2022-10-18 05:35] efectn commented on #2160
I think current interface is simple and cleaner. We also aim to be compatible with Express.js in most cases. What do you think @ReneWerner87

[2022-10-18 06:03] pjebs commented on #2160
I think the proposed interface is clearer in terms of what the user's trying to achieve.
@Fenny What do you think?

[2022-10-18 06:29] li-jin-gou commented on #2160
I have observed that other frameworks such as Gin and Hertz have similar routing interface with Fiber. What are the key reasons to think the proposed interface is clearer for developer?

[2022-10-18 06:45] pjebs commented on #2160
Let's say you have a handler. A handler's job is to produce a response.
The middleware's job is to modify the request/response in someway and/or create some kind of side-effect.

The current interface is a bit confusing in terms of what is happening behind the scenes.

1. We know that a `Get` **must** have a handler.

Therefore, `app.Get("/", handler)`.

2. If we want to add middleware, we need to

[2022-10-18 06:47] varunkrishnaibm opened #2161 "🤗 [Question]: How to proxy for websocket using go fiber ?"
### Question Description

Hi, I am new to go lang and I am using go fiber to do the proxy to the backend server. All other api calls working fine with proxy.do but for the websocket it keeps failing. Any help is appreciated. Feel free to point out the mistake if you find any. Thanks.

Additional info is I am seeing the 101 status but after that I see that on the client side it says bad hand shake.

[2022-10-18 06:55] li-jin-gou commented on #2161
refer to https://github.com/gofiber/fiber/issues/1976

[2022-10-18 07:04] varunkrishnaibm commented on #2161
@li-jin-gou  I had gone through that ticket. But my issue is similar to this ticket https://github.com/gofiber/fiber/issues/1942#issuecomment-1166507499. The ticket author found out a workaround in the end but now the one of the package is not available. Also I cannot use the packages which is not from trusted sources or not actively supported. Hence I was looking for different solution.

[2022-10-18 09:23] #2151 closed

[2022-10-18 09:36] ReneWerner87 commented on #2160
i like some parts of the idea

changing the parameter structure, so that for the methods where a handler is really always needed, there is also a fixed handler in the method declaration I find very good

also the idea with the add with multiple methods
maybe we can implement this with generics so that we allow single and lists

otherwise i miss some methods in the router interface for the new vers

[2022-10-19 02:23] mirusky commented on #2160
Personal thoughts:

With the proposed change it will be strange to figure out how to migrate to fiber. Imagine comming from gin, echo or another one (express maybe) with `Use` and `Group` and suddenly it don't have these methods. As a developer I probably will give up.

-----

Real Discussion:

I think currently interface is good, simple and easy to understand. The current interface has same metho

[2022-10-19 02:32] pjebs commented on #2160
Use and Group will still exist and operate as per v2

[2022-10-19 05:42] efectn commented on #2160
I think it's better idea to do it slice. It may increase `ns/op` to split string like `GET|HEAD`

[2022-10-19 11:43] li-jin-gou commented on #2161
I think maybe we can support the websocket proxy and what do you think? @ReneWerner87  @efectn

[2022-10-19 13:39] efectn commented on #2161
Agree

[2022-10-19 14:03] ReneWerner87 commented on #2161
yes sure, just am not a websocket specialist need support for this

[2022-10-19 14:18] bigdududu commented on #1946
are you fixed this issue, I met the same problem recently. Any way to work it out?

[2022-10-19 17:14] GalvinGao opened #2163 "🚀 [Feature]: Idempotency Middleware"
### Feature Description

Idempotency is a guarantee that enables the client to have safe retries if no response (or a 500 response) is received from the server, by using an "idempotency key" that is supplied by client to denote the initial request and its retry requests as a singular set of intention (instead of multiple intentions).

Production examples of idempotency:
- [Stripe](https://stripe.c

[2022-10-19 17:58] efectn commented on #2160
Hi. You can create a PR on `v3-beta` for these update. If someone wants to apply these changes, i can assign them  to this issue.

[2022-10-19 19:54] pjebs commented on #2160
Assign to me

[2022-10-19 19:57] GalvinGao commented on #2163
PS: I'm happy to contribute a PR if this is something we want to add to the core fiber middlewares library :D

[2022-10-19 20:04] efectn commented on #2163
I think core is good place because of there're no need to any other external deps.

[2022-10-19 20:04] efectn commented on #2160
Done

[2022-10-20 05:00] varunkrishnaibm commented on #2161
Also along with Websocket we use Server side events, I know the go fiber does not support proxy to SSE also (if it supports let me know). But you guys can think of it.

We made a decision to migrate from nginx to go fiber for building a middleware and reverse proxy, the first package suggested was Go fiber. When I read documents I was only looking for proxy and I got it but after majority of devel

[2022-10-20 13:16] mirusky commented on #2160
Idk, **MIDDLE**ware is something in the middle, how that semantics are better than the actual one?

Just because the php framework does, doesn't means thats better. As I said before:

Is cleaner to read and figure out the flow path using `app.Get("/", mw1, mw2, handler)` than `app.Get("/", handler, mw1, mw2)`

Imagine a novice reading and thinking that handler is executed before the mw1 and mw2. I

[2022-10-20 14:48] bigdududu opened #2165 "🤗 [Question]: delete the file, but shows me The process cannot access the file because it is being used by another process"
### Question Description

First, thanks very much to the fiber team. It's really an awesome framework.
I'm trying to move my personal project to fiber, but I met an issue, when I'm trying to delete the files, got
_**The process cannot access the file because it is being used by another process**_
here is my code:

[code]

but it works in my current web framework, is there anything I did wrong with

[2022-10-20 14:53] ReneWerner87 commented on #2165
do you also have a stacktrace ? who throws this error ?

[2022-10-20 16:13] bigdududu commented on #2165
I‘m not familiar with the trace, but it shows me something like this. something wrong I did?  I really want to solve this problem, and move my project to fiber.

`
error(*io/fs.PathError) *{Op: "remove", Path: "./sources/media/18007 LS3872W.jpg", Err: error(syscall.Errno) golang.org/x/sys/windows.ERROR_SHARING_VIOLATION (32)}
`

[2022-10-21 06:30] #2147 closed

[2022-10-21 06:47] ReneWerner87 commented on #2165
well the error says in any case that the file is still open somewhere

i.e. you should see if you edit it in the other places we don't see here now, but don't create it closed

another assumption is that you deliver the file by static middleware and it is still open by fasthttp, but this is unlikely

if the 2 assumptions were checked and you couldn't find anything then please find all places where

[2022-10-21 10:54] bigdududu commented on #2165
Thanks very much, I'll check all your mentioned and see if I can solve this issue, Thanks again

Thanks very much, I'll check all your mentioned and see if I can work it out. Thanks again

[2022-10-22 19:45] pjebs opened #2166 "🤗 [Question]: use vs group"
### Question Description

Is there any practical difference between `app.Use(prefix, MW1).Get(...)` and `app.Group(prefix, MW1).Get(...)`?

### Code Snippet (optional)

_No response_

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that describe my questions prior to

[2022-10-23 01:24] ReneWerner87 commented on #2166
Yes, group returns an instance containing the prefix for all routes bound to that instance

[2022-10-23 01:37] #2166 closed

[2022-10-23 14:12] rngallen opened #2167 "Go fiber as a windows services does not log requests 🤗 [Question]:"
### Question Description

Am supposed to create go fiber as a windows service
Service is working but system does not log requests as expected
Is there something am missing

Create a service
`sc.exe create <service name> binPath="d://projects//stock//stock.exe"`

### Code Snippet (optional)

[code]
[code]

[2022-10-23 14:32] li-jin-gou commented on #2167
use `file, err := os.OpenFile("stok.log", os.O_APPEND|os.O_CREATE|os.O_WRONLY, 0644)`  try it?

[2022-10-23 14:43] rngallen commented on #2167
problem persist

[2022-10-23 19:13] ReneWerner87 commented on #2167
Can you share your observations with us?
Have you tried to write the file without using our software? To make sure that the permissions fit and the opened file is writable with the configuration

[2022-10-23 20:08] efectn commented on #2167
Did you try to enter absolute path instead of relative path? Talking about `stok.log`

[2022-10-24 19:56] devbrisk opened #2170 "🤗 [Question]: route get parameter"
### Question Description

Is there a way to include the get parameter with type and optional character?
this way does not work
`:offset<int>?`

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that describe my questions prior to op

[2022-10-25 05:44] ReneWerner87 commented on #2170
think the combination of optional parameters and contrains is currently not covered

@efectn can you confirm this ? can we add the functionality ?

[2022-10-25 05:51] #2066 closed

[2022-10-25 08:44] ReneWerner87 commented on #2165
@bigdududu any progress on the topic?

[2022-10-25 08:45] ReneWerner87 commented on #2167
@rngallen any progress on the topic?

[2022-10-25 08:46] ReneWerner87 commented on #2072
feature is not wanted for the time being and is therefore temporarily closed until another decision is made.

[2022-10-25 08:46] #2072 closed

[2022-10-25 08:49] rngallen commented on #2167
When I run it form terminal `go run .` everything work perfect but when I compile it `go build .` and install it as a windows service is where logger stop working

[2022-10-25 08:56] rngallen commented on #2167
Thanks it working as expected

[2022-10-25 08:56] #2167 closed

[2022-10-25 09:46] bigdududu commented on #2165
still not,  this is my first module, no middleware, so there are no other places to use it.
but I use this to serve my uploaded images， is this the problem with the media file?
`
app.Static("/", "./public")
`
and I'm trying to see if fasthttp uses it when deleting the image, whatever, I will find it, and move my project to fiber, I love this framework very much. There are lots of modules I could u

[2022-10-26 22:10] pjebs commented on #2160
Just some points:

1. No-one needs the "text" to be ordered to be graphically continually reminded how the flow path works.

2. Unless you are using a text-based editor like Vim, all modern IDE's will inform the developer of the function's signature.

`Get(path string, handler Handler, middleware ...Handler) Router`

When the coder sees the parameter name: `hander`, they know where it belongs in t

[2022-10-27 01:00] mdaliyan commented on #899
This one might freeze in case the server can't start (i.e. the port is already in use).

[2022-10-27 05:51] #2143 closed

[2022-10-27 10:23] jub0bs commented on #1441
@sidmohanty11 About https://github.com/gofiber/fiber/issues/1441#issuecomment-885013511: a Web origin does not contain a path. Dropping that trailing slash should solve your issue.

[2022-10-27 10:36] codemicro commented on #899
If people are going to keep quote replying to this, _please_ remove the @mention of me.

[2022-10-27 12:38] axrav opened #2174 "🐛 [Bug]: ctx.BodyParser isnt' working as expected"
### Bug Description

According to docs, Ctx.BodyParser binds the request body to a struct,the behavior is not upto the mark when it is used,

- When the request body does'nt has the specific data, which is a member of struct
- When the request body has unknown members
in both above cases the expected behavior of BodyParser should be throwing an error, but it works normally without errors
![image](

[2022-10-27 12:55] ReneWerner87 commented on #2174
where does it say that the body parser does validation ?

the default configuration for our parser is that it reads empty records and ignores unknown keys and maps only the known ones
https://github.com/gofiber/fiber/blob/ff4602980a2a88b4a543641714716e7a348b3007/ctx.go#L59-L60

you are welcome to change the behavior by changing the parser options
https://docs.gofiber.io/api/ctx#setparserdecoder

i

[2022-10-27 13:13] axrav commented on #2174
Even on changing behavior of parser, the outcome is same, it doesnt throws an error,

Here's my main function,
according to it, sending unknown keys should throw an error

`func main() {
	app := fiber.New()
	fiber.SetParserDecoder(
		fiber.ParserConfig{
			IgnoreUnknownKeys: false,
			ZeroEmpty:         true,
		},
	)
	app.Post("/", Testfxn)
	app.Listen(":3000")

}`

[2022-10-27 13:27] ReneWerner87 commented on #2174
ok

only now seen that you use json
this feature for setting is only for our parser which is used for form and multiform data

with json there is no configuration possibility

there is only the validation to use

[2022-10-27 13:50] gandaldf opened #2177 "🤗 [Question]: Expose Fiber on the Internet"
### Question Description

Regarding this old article by Filippo Valsorda: https://blog.cloudflare.com/exposing-go-on-the-internet/ I wonder if there is a way to apply these tips and settings to Fiber and if they make sense for it.
Sometimes I am asked to expose small / medium services directly on the internet so I wondered what were the best precautions to take.

### Checklist:

- [X] I agree to f

[2022-10-27 14:34] ReneWerner87 commented on #2177
the clear recommendation is to expose the services via nginx or cloudflare, there are many examples for this in articles and the recipes

exposing the service would of course also work, but then you can't use the advantages of the http2/3 protocol, because fasthttp is not ready for them

[2022-10-27 14:36] ReneWerner87 commented on #2174
it is not planned
pull requests with suggestions are of course welcome, as long as they are interesting for the whole community and fit the framework idea.

[2022-10-27 16:18] gandaldf commented on #2177
Thank you, I am aware of the examples and the best practises but sometimes a company with small or no infrastructures at all asks you to put your software on their public server (with all due respect to http2/3).
So I'm asking if I can do something for this specific edge case.

[2022-10-27 20:58] #2174 closed

[2022-10-29 08:56] bigdududu commented on #2165
Hi,

I'm trying to work it out by myself, but it seems I can't. attach all my code below: it still shows me  _**The process cannot access the file because it is being used by another process.**_, when trying to remove the image. but a similar code can run in my current framework, but I want to move to fiber. This issue confuse me for many days, could you please help me see if is there something wr

[2022-10-31 05:52] pjebs opened #2180 "🐛 [Bug]: unsafeString2Bytes may not be future proof"
### Bug Description

https://github.com/gofiber/fiber/blob/master/utils/convert.go#L24
https://github.com/gofiber/fiber/blob/master/internal/fasttemplate/unsafe.go#L15

See: https://stackoverflow.com/questions/59209493/how-to-use-unsafe-get-a-byte-slice-from-a-string-without-memory-copy

The current implementations may not be as future proof as it could be according to the discussion in the link a

[2022-10-31 06:21] Skyenought opened #2181 "🚀 [Feature]: Improve the translation quality of README_zh-CN.md"
### Feature Description

I noticed that some of the contents of [README_zh-CN.md](https://github.com/gofiber/fiber/blob/master/.github/README_zh-CN.md) are not translated accurately, and the text layout is not very standard.

So I hope I can make some changes to the content of the document to improve its accuracy and aesthetics.

### Additional Context (optional)

_No response_

### Code Snippet (

[2022-10-31 10:47] efectn commented on #2180
Agree with you. I think we should use recommend solution.

[2022-10-31 12:51] demming opened #2182 "🐛 [Bug]: Cache stampede with caching middleware"
### Bug Description

I've come across several instances of the so-called [cache stampede](https://en.wikipedia.org/wiki/Cache_stampede) in a variety of web app frameworks. Here are the issues I opened in the respective GitHub repos:

- [ASP.NET Core](https://github.com/dotnet/aspnetcore/issues/44696) (only Response Caching affected, performance issue remaining),
- [Quarkus](https://github.com/quar

[2022-10-31 14:04] ReneWerner87 commented on #2180
The initial functions were copies of the fasthttp functions, we should open a topic there too

Furthermore we should comment the line with the magic limit and determine this number outside on a constant one

[2022-10-31 21:36] antoniomralmeida opened #2185 "🐛 [Bug]: Error in Render long html template"
### Bug Description
[code]
//
In browser
template: :327:82: executing "" at <.smal>: can't evaluate field smal in type web.Context

### How to Reproduce

Steps to reproduce the behavior:
1. Go to '....'
2. Click on '....'
3. Do '....'
4. See '....'

### Expected Behavior

apparently there is some bug in render that replaces the {{.}} parameter in the wrong place of html

### Fiber Version

github.

[2022-11-01 07:10] ReneWerner87 commented on #2185
hi, what exactly is the problem?

if you get an error, can you share the code places with the line number?

with the current code snippet I can't do much, because I don't know what the template file should be, what should mean "in browser", if we are talking about the creation of a webserver here and the line numbers are unfortunately also not assignable from the error

[2022-11-01 07:49] #2170 closed

[2022-11-01 08:04] #2160 closed

[2022-11-01 11:57] Skyenought opened #2187 "🚀 [Feature]: Add custom tags to logger middleware"
### Feature Description

I want to replace `switch` matching `tag` with `map[string]func()` matching `tag` before processing. This adds custom `tag` functionality.

This allows us to add custom tags,  but it is not thread-safe.

### Additional Context (optional)

[Source code](https://github.com/gofiber/fiber/blob/master/middleware/logger/logger.go#L196)

Pseudocode:
[code]

### Code Snippet (opti

[2022-11-01 12:06] ReneWerner87 commented on #2187
Okay, good idea
then please make it configurable in the configuration

thread safe it will be if we allow it only at initialization or add other mechanisms

[2022-11-01 12:10] Skyenought commented on #2187
ok, I will submit the code shortly, hopefully you can help me check for potential problems.

[2022-11-01 22:44] pjebs commented on #2160
Awesome survey:

This comment was one of the reasons for my proposal: https://www.reddit.com/r/golang/comments/yj9ah8/comment/iuopr8w/?utm_source=reddit&utm_medium=web2x&context=3

[2022-11-02 02:05] ultperf opened #2189 "🤗 [Question]: in prefork mode, can i remove all mutexes for memory access?"
### Question Description

just curious, and to confirm. for prefork mode it is in single thread per process, so mutex is totally unnecessary right since memory cannot be shared.

is there any circumstances that i'm not foreseeing that mutex will be needed in prefork mode ( in regards with memory access and nothing over database etc )

### Code Snippet (optional)

_No response_

### Checklist:

- [

[2022-11-02 12:06] mirusky commented on #2160
Yeah, there's misunderstanding about it. Of course it's not clear for someone who doesn't use the fiber.

But as someone said, our codebase may have a different experience and understanding about it.

[2022-11-02 12:11] efectn commented on #2160
We created voting in Fiber's discord server https://discord.com/channels/704680098577514527/848707314180423750/1037295391336583220

[2022-11-02 13:33] nimit2801 commented on #750
Hey there a minor change
[code]

- Not using type `error` to the handler
- and not using `return`

I hope this works for everyone :)

[2022-11-02 17:23] acidjazz opened #2190 "🚀 [v3 Request]: v3 Router ideas"
### Feature Description

Here are some code samples from discord to keep track of our ideas for the new router:

* Chained separated Middleware with routes

[code]

* Multiple methods in a single call

[code]

* Grouping makes more sense as Prefix - since that is reuqired https://docs.gofiber.io/guide/grouping

[code]

* Maybe a group can be a callback

[code]

### Additional Context (optional)

_

[2022-11-02 18:47] ReneWerner87 commented on #2190
Can you provide examples with expressjs code showing this feature there
so that we can match the naming accordingly

important for me is not to deviate far from the wordings and structure of express in the router, so that we are still close to the expressjs code and thus make it easier to get started for everyone

[2022-11-03 14:05] Baldomo opened #2191 "🐛 [Bug]: When multiple files use the same layout and define the same template, the last file is rendered on any request (Go templates)"
### Bug Description

I have to say this is a weird one. When using Go's template engine, only the last file in `views/` get rendered. The file structure is as follows:

[code]

where `main.html` contains the following (note that the bug arises even when not using `{{ embed }}`, but including the layout template with `{{ template "views/layouts/main" }}` in the index template):

[code]

while `inde

[2022-11-03 14:56] ReneWerner87 commented on #2191
This is known and an expected behavior

For performance reasons we parse all templates in the folder which would be specified in the view engine

So you should avoid creating definitions with the same names and use the embed tag

[2022-11-03 15:18] Baldomo commented on #2191
Thanks for the quick response! If it's for performance then I suppose I get it, but it should be documented because it's a project-specific decision and can generate a lot of confusion, not to add that it makes templates quite redundant because of the "same name renders the last one" thing. Thank you for your time anyways.

[2022-11-03 15:18] #2191 closed

[2022-11-04 10:02] hagbei opened #2192 "document error"
[https://docs.gofiber.io/api/ctx#isfromlocal](url)

[code]

[2022-11-04 10:17] #2192 closed

[2022-11-04 10:18] ReneWerner87 commented on #2192
issue was closed because it does not comply with the guidelines and contains too little information

[2022-11-04 10:22] ReneWerner87 commented on #2192
Thanks for the hint, I think you meant that the signature in the documentation is wrong
https://github.com/gofiber/docs/commit/a52cd0ce4bd8b0b3b2ba77a730e3e07d61de77f7

but please next time just write, otherwise I have to interpret things that sometimes do not correspond to the thoughts of the creator

[2022-11-04 10:27] hiqsociety opened #2193 "🚀 [Feature]: cluster aware / enabled / resilient HA web servers"
### Feature Description

is there a cluster aware / enabled, resilient HA web server example?

### Additional Context (optional)

_No response_

### Code Snippet (optional)

[code]

### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that describe my suggestion prior to

[2022-11-04 10:35] ReneWerner87 commented on #2193
@hiqsociety can you please link more media on the topic and also give examples from other frameworks to increase the understanding of the question/feature

[2022-11-04 14:40] efectn commented on #1829
I'm going to start implementing router in the next weeks :rocket: