[2020-01-21 06:59] cheft opened #1 "[1.0.0-pre-release] c.SaveFile undefined"
c.SaveFile undefined (type *fiber.Ctx has no field or method SaveFile)

[2020-01-21 07:07] cheft opened #2 "[1.0.0-pre-release]c.Attachment download file is 0 byte"
Use `c.Attachment("./test.txt")`, the download file is 0 bytes.

The source file has content, but the download does not

[code]

[2020-01-21 07:49] Fenny commented on #2
Hi @cheft

[Attachment](https://gofiber.github.io/fiber/#/context?id=attachment) only sets the `Content-Disposition` header.

I think you are after [SendFile](https://gofiber.github.io/fiber/#/context?id=sendfile)
[code]

[2020-01-21 07:52] Fenny commented on #1
Hi @cheft ,

Could you share the source code?

SaveFile is used for MultipartForm uploads, you can see that in [this example](https://gofiber.github.io/fiber/#/examples?id=multiple-file-upload)

[2020-01-21 08:11] cheft commented on #2
sorry, I understand wrong. thx!

[2020-01-21 08:11] #2 closed

[2020-01-21 08:16] cheft commented on #1
Resolved on `v1.0.1-beta`. Thx !

[2020-01-21 08:16] #1 closed

[2020-01-25 15:04] hyingreborn opened #3 "Add a default document names for the static method"
Add a default document names for the static method plz : "index.html"、"index.htm"、"default.html"、"default.htm"

server.go
[code]

when i visit http://127.0.0.1:8080/static，Instead of 404, the contents of index.html are displayed by default

[2020-01-25 20:53] Fenny commented on #3
Hi @hyingreborn ,

I was planning to add some settings on the Static method so you can disable the default index.html or gzipping. If I understand you correctly, you would like to disable the default index.html route or rename it to "default.html" instead?

Thanks for your feedback btw :+1:

[2020-01-26 07:43] #3 closed

[2020-01-28 06:37] hyingreborn commented on #3
@Fenny tks for your reply！
The static method is quite different from other frameworks，like gin or echo，The path rules for the files are not as expected，Can you refer to gin or echo?

[2020-01-28 10:57] Fenny commented on #3
Hi @hyingreborn ,
I checked out the static method details from thr  echo documention and it's almost identical.
https://echo.labstack.com/guide/static-files

The only difference with the static method from fiber is that the `virtual path prefix` is optional. If you don't use a prefix, it defaults to `/`.

The following examples achieve the same results:
[code]

[2020-01-29 05:17] hyingreborn commented on #3
Hi @Fenny ，
I built a SPA using Vuejs，then try to add it to Fiber's project，directory structure like this:
[code]
I hope that through http://127.0.0.1:8080/app to access the directory/public/app, so I this configuration：
[code]
The result is that i can only access index.html as the default document, and no other static files are not accessible，my vue's spa already config public path to "./"，It wor

[2020-02-02 10:01] koddr opened #5 "[🐞] Found 3 gosec issues: CWE-78 and CWE-242"
**Your environment:**

- Fiber Web Framework [e.g. `1.2.3`]: `1.2.3`
- OS [e.g. `macOS 10.14.6`]: `macOS 10.14.6`
- Golang [e.g. `1.13.7`]: `1.13.7`

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

1. Install [securego/gosec](https://github.com/securego/gosec)
2. Run `$ gosec ./...`
3. See security report:

Issue _G204 (C

[2020-02-03 06:54] koddr commented on #5
OK, issue closed, but what's decision do you have? 😉

I mean, it's normal to have this issues now (Fiber is too young), but if we can use external tools (like [gosec](https://github.com/securego/gosec)) for checking security (an not so) issues at code and save our users — let's do it! 😀

This is some info about G103 (CWE-242) issue:

1. https://securego.io/docs/rules/g103.html
2. https://go101.org

[2020-02-03 12:44] Fenny commented on #5
@koddr Thanks for your contribution!
I merged your [pull request](https://github.com/gofiber/fiber/pull/4) and addressed your gosec report in the source.

`unsafe.Pointer()` is used to convert a byte slice to a string without memory allocation.

[2020-02-03 13:00] koddr commented on #5
@Fenny thx for awesome framework, btw 😃

Potentially, how we can solve this? Or not any other ways to do this (so easy as unsafe)?
I will go deep to this issue 👌

[2020-02-03 13:03] Fenny commented on #5
@koddr , `Fiber` is build on `Fasthttp` and they use the same method to convert bytes to strings and vice-versa. https://github.com/valyala/fasthttp/blob/master/bytesconv.go#L332

So changing this won't matter since it's still being used by the `fasthttp` engine. I think adding the `// #nosec G103` and a description should be fine :+1:

[2020-02-03 13:03] #5 closed

[2020-02-03 19:14] koddr opened #27 "🔥 Fast logger middleware"
**Is your feature request related to a problem? Please describe.**

I'm not sure if there were any plans to write your own `logger` (as middleware?), but it would be very cool to add a logger from Uber — [zap](https://github.com/uber-go/zap). It's blazing fast, structured, leveled logging system.

- [Benchmarks](https://github.com/uber-go/zap/tree/master/benchmarks) for reproduce

**Describe the s

[2020-02-03 20:14] Fenny commented on #27
@koddr, great suggestion. I'm not home right now but I want to finish the middleware structure tomorrow so we can start writing many midware apps.

Regarding the logger idea, it looks like a good tool. I would like a [morgan](https://github.com/expressjs/morgan) like system for fiber.

I will continue tonight to get the middleware package ready for development.

[2020-02-04 23:49] Fenny commented on #27
I have created a simple logger https://github.com/gofiber/fiber/blob/master/middleware/morgan.go, this is just an example on how internal middlewares are build up.

[code]

![](https://i.imgur.com/SiqirpB.png)

[2020-02-05 01:07] schweigert opened #41 "🔥 Add support or documentation for unit tests"
I loved the framework. Simple and straightforward. Excellent for making microservices. However, I didn't find any support to create unit tests :(

The use of the gin framework is precisely because it allows the use of httptest as a standard, which is already well documented.

Maybe it would be nice to make a mock of the context to test the behaviors, and be able to access all the registered routes

[2020-02-05 01:55] Fenny commented on #41
Thanks for your kind words @schweigert, welcome!

This is exactly what we were planning to do asap, I will keep this issue open to provide updates.

[2020-02-05 07:03] koddr commented on #27
@Fenny wow, it's good point 👍

One little question about naming of logger: _can we change/symlinked it?_ I mean, `Morgan` for logger it's okay, but not really (for some people, who doesn't know Node.js ecosystem).

Would be great and more understandable — re-name `Morgan` to `Logger` and hide info (like _easter egg_) about it to comments into middleware file `./middleware/logger.go` OR create _sym

[2020-02-05 10:56] Fenny commented on #27
Agreed :+1:

[2020-02-05 10:56] #27 closed

[2020-02-05 17:04] Fenny commented on #41
Did this help you out @schweigert? If so, let us know so we can close this issue :+1:

[2020-02-06 15:10] schweigert commented on #41
This looks good, but I still can't test the status code of the request. I believe that the return should not be a string, but a response, from the http package.

[2020-02-06 17:28] Fenny commented on #41
Maybe we should drop the `raw http string` and only work with `http.Request` & `http.Response`.
@koddr, what do you think?

[2020-02-06 19:52] koddr commented on #41
@Fenny I think, we can do this, if it's solve this issue 👍
@schweigert can you send PR for this fix?

[2020-02-06 20:05] Fenny commented on #41
@koddr I will make a PR, thnx for the feedback

[2020-02-06 20:44] #41 closed

[2020-02-07 02:30] cheft opened #70 "🔥 Support form validation"
Support form data is serialized into struct and integration https://github.com/go-playground/validator as validation ?

[2020-02-07 02:36] Fenny commented on #70
Hi @cheft, could you provide a code example how it should be integrated with fiber?

[2020-02-07 06:24] zhongwei opened #71 "🐞 static.go path wildcard support"
**Fiber version/commit**
v1.4.0
**Issue description**
static.go  line 36 can't support "/static/*"
**Expected behavior**

**Steps to reproduce**

**Code snippet**
	// Check if wildcard for single files
	if prefix == "*" || prefix == "/*" {
		wildcard = true
	}

       // line 76
      //  if prefix is "/*"  and in windows then generate \*\xxx\a.js
[code]

[2020-02-07 09:34] koddr commented on #71
@zhongwei thx for reporting! 👍

Can you please send PR for fix this?

[2020-02-07 16:31] rhodee opened #74 "🤔 Trailer Headers?"
**Question description**

👋 I was pleasantly surprised by this library and wanted to learn about adding (advocating?) for HTTP Trailer support.

I would like to try this library out with a problem that requires streaming and trailers are very helpful in this case.

Further reading: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Trailer

I reviewed the documentation for Fiber to learn if

[2020-02-07 16:38] Fenny commented on #74
@rhodee, I will leave this issue open for now. I will take a look at the [RFC 7230](https://tools.ietf.org/html/rfc7230#section-4.4)

[2020-02-07 16:52] rhodee commented on #74
I will do just that @Fenny thank you for giving this a look!

[2020-02-07 17:08] erikdubbelboer commented on #74
@rhodee I'm guessing we are talking about receiving Trailers here or responding with Trailers? At least not sending them in an outgoing request right?

[2020-02-07 17:36] rhodee commented on #74
Hi @erikdubbelboer I am seeking an approach where I can define Trailer Headers, then set them after writing the chunk response. I think the semantics which best capture my intent are in this URL:

https://golang.org/pkg/net/http/#example_ResponseWriter_trailers

Does that make sense? If not I can try to explain further.

[2020-02-07 18:11] erikdubbelboer commented on #74
The problem I'm having with this is that fasthttp will always wait with sending a response until the handler function has returned. The only ways to send the response body after the handler has returned are [`SetBodyStream()`](https://godoc.org/github.com/valyala/fasthttp#RequestCtx.SetBodyStream) and [`SetBodyStreamWriter()`](https://godoc.org/github.com/valyala/fasthttp#RequestCtx.SetBodyStreamW

[2020-02-07 18:26] rhodee commented on #74
@erikdubbelboer this is a very helpful discussion. I am starting the `fiber` project from scratch (moving away from a gRPC implementation) and wanted to use Trailers (which I have in my gRPC implementation). So it is a clean slate 😄

[2020-02-07 18:28] erikdubbelboer commented on #74
What will the trailers be used for? Is your response body so big that you can't wait with returning the initial headers until it is completely generated? I'm curious as I have never seen a use case for trailers before.

[2020-02-07 18:37] rhodee commented on #74
They will not be. I use the trailer for timings or arbitrary messages, however it is trivial to meet my needs without `Trailers`.

[2020-02-07 18:49] rhodee commented on #74
I @Fenny @erikdubbelboer I really appreciate your attention to my question. I believe we can close this issue because there is an alternative.

[2020-02-07 21:01] Fenny commented on #74
Thabks @erikdubbelboer for jumping in :+1:

[2020-02-07 21:02] Fenny commented on #70
@cheft you could use this package outside of fiber, we have no plans to implement this yet.

Closing this for now.

[2020-02-07 21:02] #70 closed

[2020-02-08 06:15] #74 closed

[2020-02-08 12:02] tredoe opened #80 "Congratulations!"
This is the first web framework/library at Go that really like to me.

[2020-02-08 12:07] tredoe opened #81 "🔥 Router chi"
I know that you have designed the router but, if you know about chi, it has been designed to be simple, robust, without external dependencies and it's being used at sites like CloudFlare or Heroku.

https://github.com/go-chi/chi

[2020-02-08 12:51] koddr commented on #80
@tredoe you're welcome! 👍

Please, read [docs](https://fiber.wiki) and explore [recipes](https://github.com/gofiber/recipes) to be more productivity with Fiber 😉

[2020-02-08 12:52] cgiacomi opened #82 "🔥 Consider adding support for custom Context"
**Is your feature request related to a problem?**
I find myself in need to instantiate a validator and pass it to all the routes. I don't want to have any singletons in the application and so I am looking for a way to extend fiber.Context.

**Describe the solution you'd like**
I would like to be able to extend the Context with my own custom Context which contains a 'Validator' property which I can

[2020-02-08 15:57] #81 closed

[2020-02-08 15:57] #80 closed

[2020-02-08 16:31] Fenny commented on #82
Hey @cgiacomi, could you show me an example on how you initiate your validater?

[2020-02-09 02:35] ansarizafar commented on #82
Here is an example how echo framework allow to customize context and validator
https://echo.labstack.com/guide/context
https://echo.labstack.com/guide/request

[2020-02-09 08:14] cgiacomi commented on #82
@Fenny tnx and sorry for the late reply, I saw the Locals method, but wasn't sure what the intended use was. I will try to see how it works out with that.

By the way great work with the framework... I usually use Echo, but looking at Fiber it feels more like what I like. Again tnx for the great work!

[2020-02-10 02:19] Fenny commented on #82
I'm closing this issue, if you got further questions feel free to re-open!

[2020-02-10 02:19] #82 closed

[2020-02-10 02:40] Fenny opened #90 "🌟 Congratulations - Update"
Poll got stuck, need to create a new issue :disappointed:

[2020-02-10 05:21] Fenny opened #92 "🎉 Fiber Updates"
<img src="https://user-images.githubusercontent.com/25108519/74117516-37c5d880-4bb8-11ea-8ddd-82eaf64cd102.gif" height="100">**Fiber reached** `2k` **stars in only [3 weeks](https://starchart.cc/gofiber/fiber)!** 🌟

We want to thank everybody for supporting this young ( but ambitious ) project!

**Fiber v2.0.0-pre-release**
Add multiple handlers inside routes & groups.
[code]
Pass optional setting

[2020-02-10 05:22] #90 closed

[2020-02-10 17:26] izacximenes commented on #92
I was testing it and i did create my own group-prefix system based on function. what do you think about that?

![image](https://user-images.githubusercontent.com/33349688/74173217-7b4c3100-4c10-11ea-96f6-e49e30008344.png)

[2020-02-10 17:29] EdneyMesquita commented on #92
Do you have some picture?

[2020-02-10 17:35] Fenny commented on #92
@izacximenes thats an interesting way to go about it, thanks for your idea!

[2020-02-11 03:51] keob opened #109 "🐞 Color residue"
**Fiber version/commit**
v1.4.2

**Issue description**
When I run the build binary and exit color residue.(cmd, powershell,powershell core)

**Expected behavior**
no color residue

**Steps to reproduce**
In windows: run binary

**Code snippet**

[code]

![image](https://user-images.githubusercontent.com/25259671/74209979-e48d7c00-4cc4-11ea-9e1a-21df3fcca4b7.png)

[2020-02-11 05:40] Fenny commented on #109
At least the important parts are visible :smile:
But jokes aside, we might change the dark gray to `default` color.

[2020-02-11 05:43] keob commented on #109
Adding a sex line can solve it。
you can see this https://github.com/gofiber/fiber/pull/110/files file changed

[2020-02-11 05:55] Fenny commented on #109
@keob, that didn't do the trick for me.
I reset the gray to default in this PR: https://github.com/gofiber/fiber/pull/115
![](https://i.imgur.com/ErW8Osg.png)

Should be fine now

[2020-02-11 05:55] keob commented on #109
Ok🤞😊

[2020-02-11 05:55] #109 closed

[2020-02-11 09:44] cheft opened #117 "🔥 Consider supporting shouldBind API like gin ?"
[code]

[2020-02-11 09:48] Fenny commented on #117
We are working on something similar, it only supports `xml` & `json` bodies for now.
`BodyParser`: https://github.com/gofiber/fiber/blob/master/request.go#L200

It's not released in the documentation because we also want to support `form-data` like you requested :smile_cat:

-Coming soon-

[2020-02-11 22:51] MarvinJWendt opened #119 "🤔 Travis test for Windows is commented out, but used in the badge"
Hi, the `README.md` states that the Windows build is passing:
![image](https://user-images.githubusercontent.com/31022056/74286946-25b77780-4d29-11ea-8dfe-d6344bc2bfe7.png)
But windows isn't tested, as it's commented out on the Travis config file:
https://github.com/gofiber/fiber/blob/7946333133c51485fc50dedd42f6d7687574e96b/.travis.yml#L5

So technically Windows builds are never tested, and the b

[2020-02-11 22:58] Fenny commented on #119
`Fiber` works on windows, but I commented it out because this issue is still open https://github.com/gofiber/fiber/issues/71.
I'm working on a fix right now, I will keep this open until fixed.

[2020-02-12 00:08] Fenny commented on #119
https://github.com/gofiber/fiber/issues/71 is fixed, and windows https://github.com/gofiber/fiber/pull/121 is enabled in travis again.

[2020-02-12 00:09] Fenny commented on #71
https://github.com/gofiber/fiber/pull/121 fixed absolute paths on windows
[code]

[2020-02-12 01:06] #71 closed

[2020-02-12 01:07] #119 closed

[2020-02-12 06:26] 1995parham opened #126 "🤔 Is there any way for handling JSON error?"
**Question description**
I have used `gofiber` for creating a REST API with JSON. The `JSON` function returns error so I must handle it every time in responses. Is there any better way of doing this?

**Code snippet (optional)**

[code]

[2020-02-12 06:36] 1995parham commented on #92
I have implemented a simple URL shortener with `gofiber` and it was an awesome experience for me. `gofiber` is simple and yet powerful. I am writing tests and more documentation for my project that is available [here](https://github.com/1995parham/koochooloo).

[2020-02-12 07:48] koddr commented on #126
@1995parham thx for issue.

We're working around easy way to error handling right now on Fiber. Stay tuned! 😉

[2020-02-12 07:57] 1995parham commented on #126
@koddr Thanks for your response 🙌 I will wait.

[2020-02-12 08:09] Fenny commented on #126
@1995parham, thanks for submitting your issue.
`JSON` sets the body to `""` and `Content-Type: application/json` by default.
The status code is always 200 by default unless you set it. ( less code :) )
[code]
We are working on a better way to handle global errors.

[2020-02-12 09:14] 1995parham commented on #126
@Fenny I agree with your solution, we can return an error from the handler. If you want, I can create a PR for it.

[2020-02-12 09:16] Fenny commented on #126
@1995parham, PR's are always welcome :+1:
I have time to work in the afternoon :+1:

[2020-02-12 09:21] 1995parham commented on #126
I will create PR so we can work on it 🙌

[2020-02-12 10:02] Fenny commented on #126
@1995parham, me and @koddr are actually discussing some kind of `recover` feature.
This has nothing to do with the `c.Next(err)`, but we would like to hear your thoughts on this.

[code]

[2020-02-12 11:44] 1995parham commented on #126
@Fenny I think to recover from panic in handlers is an excellent feature, and it would be useful in long-running applications. The proposed syntax is simple and useful.

[2020-02-12 12:49] Fenny commented on #126
@1995parham 'v1.5.0' is released, docs coming soon.

[2020-02-12 12:49] #126 closed

[2020-02-12 13:02] mauricionr opened #129 "🔥 template engines"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
Template engines like in express
https://expressjs.com/en/guide/using-template-engines.html

**Describe alternatives you've considered**
No ideia

**Additional context**
Not only static files but also template engine to also support pass data to template and render it

[2020-02-12 14:26] Aguezz opened #130 "c.Body() can't read raw data"
I don't get data from c.Body ("email") when I request via postman with Raw Body

**Raw Data**
[code]

**Code snippet**

[code]

[2020-02-12 14:27] MarvinJWendt commented on #130
Hi, you have created an empty issue<sup>1</sup> in the bug-tracker of this repository<sup>2</sup>.

The `Issue` tab of repositories on [GitHub](https://github.com) is meant to report problems with the repository or to discuss features of the project. If you have an actual issue with the repository, please [open a new issue](../issues/new) with a decent description.

Have fun exploring this reposit

[2020-02-12 14:45] MarvinJWendt commented on #130
Hi @Aguezz,
If you format your data in this way: `key=value`, it works :)

![image](https://user-images.githubusercontent.com/31022056/74345632-aa98a480-4dae-11ea-8995-4499c3f10a25.png)

[2020-02-12 15:37] #130 closed

[2020-02-12 15:38] Aguezz commented on #130
@MarvinJWendt
Thank you... That works 🥳

[2020-02-12 16:32] 5paceToast opened #132 "Add a License"
**Is your feature request related to a problem?**
By default in most jurisdictions, any creative endeavor is copyrighted ("all rights reserved").
This makes using the project difficult, legally speaking, especially in environments where that's a concern (even if no one has the intention of starting a legal action).

**Describe the solution you'd like**
Add a LICENSE file.
Optionally, also have som

[2020-02-12 16:39] MarvinJWendt commented on #132
Hi @5paceToast, the license file is located here: https://github.com/gofiber/fiber/blob/master/.github/LICENSE (`.github/LICENSE`)

@Fenny I think this should be moved to the root of the project, so that GitHub can display it here:
![image](https://user-images.githubusercontent.com/31022056/74356318-73ca8a80-4dbe-11ea-96b4-ed319d26c362.png)

[2020-02-12 16:42] 5paceToast commented on #132
definitely, especially since the license doesn't *just* apply to github users, and isn't really meaningless metadata (forks will need to include and modify it as well)

[2020-02-12 16:57] #132 closed

[2020-02-13 01:18] MarvinJWendt opened #136 "🐞 Color output problem on Windows"
**Fiber version**
`1.5.0`

Hi, this problem occurs if you use Windows CMD to run fiber:
![image](https://user-images.githubusercontent.com/31022056/74392150-836dc180-4e06-11ea-9f48-e5c9fb9d036d.png)

Full Windows color support could possibly be accomplished by using the "Windows Way" of the [fathi/color](https://github.com/fatih/color) package:
![image](https://user-images.githubusercontent.com/31

[2020-02-13 01:22] MarvinJWendt commented on #136
Should I try to solve that via [fathi/color](https://github.com/fatih/color)?

[2020-02-13 05:49] Fenny commented on #117
https://fiber.wiki/context#bodyparser

[code]

[2020-02-13 05:59] Fenny commented on #129
@mauricionr, we just released `v1.6.0`
- https://fiber.wiki/context#bodyparser
- https://fiber.wiki/application#recover
- https://fiber.wiki/context#error
- https://fiber.wiki/context#next

Template rendering is our no.1 priority :+1:, I will keep this issue open until we got more updates.

[2020-02-13 06:10] #117 closed

[2020-02-13 06:13] Fenny commented on #136
@MarvinJWendt, If it's possible, we should try to fix it without a third party library.
I do not have access to a `Windows` OS or VM, could you try to fix it without  [fathi/color](https://github.com/fatih/color)?

[2020-02-13 06:40] 1995parham opened #138 "🔥 Request Validation"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
Fiber has `BodyParser` function to parse request into the given interface. We can check that the interface has the `Validation` method and call it to see the parsed request is valid or not.

**Describe alternatives you've considered**
Validation may seem like an overkill feature, but I think it can reduce th

[2020-02-13 06:48] 1995parham commented on #126
@Fenny, sorry for bothering you again. I have checked the new API, and it was good. But is there any way to return an error from the handler, and it automatically passed to the `Next` method? Like handlers of [echo](https://github.com/labstack/echo).

[2020-02-13 07:06] Fenny commented on #138
@1995parham, we think that validation us up to the user. There are a 1000 ways to validate data, you could write your own middleware for it. `Fiber` is designed to be minimal but flexible.

[code]

[2020-02-13 07:57] #138 closed

[2020-02-13 12:28] Fenny commented on #129
`Render` is available on the `master` branch for testing, 6 template engines are available:

- [.template](https://golang.org/pkg/text/template/)
- [.ace](https://github.com/yosssi/ace)
- [.amber](https://github.com/eknkc/amber)
- [.jet](https://github.com/CloudyKit/jet)
- [.mustache](github.com/cbroglie/mustache)
- [.raymond](https://github.com/aymerick/raymond)

The function uses the correct eng

[2020-02-13 12:31] mauricionr commented on #129
json could be added as a template? like in phoenix :see_no_evil: :thinking:

[2020-02-13 12:34] Fenny commented on #129
@mauricionr, feel free to suggest go template engines ( a link would be nice :smile: )

[2020-02-13 12:43] mauricionr commented on #129
https://hexdocs.pm/phoenix/views.html

sorry i forgot to put the link

[2020-02-13 12:45] Fenny commented on #129
We only support Go engines for now, maybe we write our own in the far future.

[2020-02-13 13:21] simoneromano96 commented on #92
Hello, I am interested in using this HTTP framework, as a prerequisite I need Redis based session, I saw that the session middleware is empty so I get that sessions are not yet implemented, where could I start in implementing them?

[2020-02-13 14:17] Fenny commented on #92
@simoneromano96, I do not have time until next week to work on a session middleware. But you can start here if you want https://github.com/gofiber/middlewares/blob/master/session.go
https://fiber.wiki/context#locals

[2020-02-13 14:38] MarvinJWendt commented on #136
This would be really hard, we would have to create a handler which knows what shell is used and on which operating system the shell is running.
Windows colors are a real pain, because every shell treats them differently.

This is an example of how much source code is needed to create such a handler:
https://github.com/mattn/go-colorable

Even this scripts, which should contain the windows color co

[2020-02-13 23:20] dechristopher opened #141 "🔥 Add Websocket Support"
**Is your feature request related to a problem?** No

**Describe the solution you'd like:** I'd like to see the ability to promote a request to a websocket connection and handle pub-sub messaging therein. This is a big feature present in other libraries like gorilla and it would make fiber more competitive.

**Describe alternatives you've considered:** Use a different web library.

**Additional co

[2020-02-14 12:16] #129 closed

[2020-02-16 18:54] Fenny commented on #141
This is already supported by fasthttp, but we are discussing if we should add it within fiber.
https://github.com/fasthttp/websocket
[code]

[2020-02-17 08:47] chocovish opened #151 "🤔 Does Fiber support Hot reload ?"
Just tried fiber. and the very first thing i feel missing was the hot reload.
I'm coming from a python background where Flask has a feature like **development=True** parameter to enable hot reload (reflect result in server instantly after changing the code).

[2020-02-17 09:36] Fenny commented on #151
We were planning to add this to `Fiber`, we are just not sure about the name yet.
Do you have any suggestions, and why we should name it `x`.
`app.Settings.HotReload = true`
`app.Settings.AutoRefresh = true`
`app.Settings.RestartOnChange = true`
`app.Settings.AutoReload = true`
`app.Settings.AutoRefresh = true`

[2020-02-17 10:14] ThisIsMissEm opened #152 "🤔 How to modify fiber.Ctx?"
**Question description**

In Express, it's possible to dangle any sort of custom methods or properties from the request/response objects via middleware. I can't see anything in the documentation of how to do this in Fiber.

For instance, I want to write middleware that deals with some authentication that gives me an API in my route handlers that allows me to check for permissions or call an upstre

[2020-02-17 10:28] Fenny commented on #152
@ThisIsMissEm, we are planning to add a possibility to extend the Ctx struct for v2.
We do have a function called 'Locals' that you can use to pass data between middlewares.

https://github.com/gofiber/fiber/issues/82, does this help?

[2020-02-17 10:31] Fenny commented on #136
We are removing the ANSI banner in v2, closing this issue.

[2020-02-17 10:31] #136 closed

[2020-02-18 03:13] hyingreborn opened #153 "🔥 Add a shortcut for map like gin.H"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**

[code]

[code]

**Describe alternatives you've considered**

**Additional context**

[2020-02-18 06:51] hyingreborn opened #154 "🔥 Add some middleware"
**Is your feature request related to a problem?**

**Describe the solution you'd like**
Looger、Recovery(is necessary in the development)
Ggzip(Currently Static() provides compression, but cannot be customized)
CORS、CSRF、JWT Auth etc...

**Describe alternatives you've considered**
Are there plans for these middleware?

**Additional context**

[2020-02-18 08:44] Fenny commented on #153
This can be added in v2, what about naming it `Map` ?
[code]

[2020-02-18 10:17] hyingreborn commented on #153
that's well

[2020-02-18 15:29] hyingreborn opened #155 "🔥 app.Group seems impossible to nest multiple layers"
**Is your feature request related to a problem?**
app.Group seems impossible to nest multiple layers like gin

**Describe the solution you'd like**
[code]
**Describe alternatives you've considered**

**Additional context**

[2020-02-18 16:05] #153 closed

[2020-02-18 16:05] #152 closed

[2020-02-19 06:39] cheft commented on #151
[code]

[2020-02-19 12:59] Fenny commented on #155
Group chaining will be available in v2 https://github.com/gofiber/fiber/issues/92
[code]

[2020-02-20 04:00] hyingreborn opened #158 "🤔 How do I Set/Get data in context?"
**Question description**
I want save the user information in JWT middleware and get it in the routing handler

**Code snippet (optional)**
In gin，i'll do it like this:
### main.go
[code]
### middleware/jwt.go
[code]
### api/v1/manager.go
[code]

[2020-02-20 04:07] Fenny commented on #158
We use `Locals`, you can find a lot of information in our [documentation](https://fiber.wiki/context#locals)

[code]

[2020-02-20 04:13] #151 closed

[2020-02-20 04:20] Fenny commented on #154
We are focusing on v2 at the moment, when this is released we have more time to work on the middleware repository. Until then, PR's are more than welcome!

[2020-02-20 04:20] #154 closed

[2020-02-20 09:01] dominicqi opened #159 "How do i use other flag parse tools ,like kingpin🤔"
**Question description**
`fiber.New()` calls `flag.Parse` 。but when i use `kingpin`,they are in conflict.
i think the `fiber.New()` may should not call  `flag.Parse()` . What do you think？
Could there be another solution?Sorry, I'm new to golang.
**Code snippet (optional)**

[code]

[2020-02-20 11:47] Fenny commented on #159
Interesting, thnx for the bug report. I will look into it asap.

[2020-02-20 13:54] spf13 opened #160 "🐞 Logo is not compliant with Go brand guidelines"
Please revise the logo to follow the guidelines in the Go brand book https://golang.org/s/brandbook.

Specifically, the Go logo should not be a part of your project logo. This is to avoid any implication that it is an official Go project.

[2020-02-20 16:23] #158 closed

[2020-02-20 16:23] #155 closed

[2020-02-20 16:23] #141 closed

[2020-02-20 16:26] Fenny commented on #160
We will change the logo along with v2, thanks for the brandbook reference.

[2020-02-20 22:17] #160 closed

[2020-02-21 03:36] dominicqi commented on #159
I edit the code snippet. if no flag set  the server start success.  but if i start with flag
`
./test --test=kingpin
flag provided but not defined: -test
Usage of ./test:
  -child
        is child process
  -prefork
        use prefork
`

[2020-02-21 03:47] dominicqi commented on #159
I'm a little confused why `prefork` and `child` setting by flag?  why not like other  parameters  like 'Banner' or 'Engine.xxx'.  If someone use `fiber` , they have to  set the flags,if they want change .It sounds a little strange.

[2020-02-21 03:50] Fenny commented on #159
This is what I found regarding your issue: https://stackoverflow.com/questions/29699982/go-test-flag-flag-provided-but-not-defined

Did you try https://github.com/golang/go/issues/31859#issuecomment-489889428https://github.com/golang/go/issues/31859#issuecomment-489889428
[code]

Fiber uses flags to control child processes https://github.com/gofiber/fiber/blob/master/app.go#L301
And one of our fea

[2020-02-21 05:57] dominicqi commented on #159
It not work.
`if flag.Lookup(name) == nil ` always be true.
`Lookup` find flag reg by `flag.Var`。
Could we simple remove this two flag ?

[2020-02-21 13:17] washanhanzi opened #164 "🤔 always get empty JSON response"
**Question description**

- I always got empty `{}` from JSON response.
- no error is returned from the `c.JSON()` method.
- I tested in Postman, the response is always an empty object like `{}`. with `JSONP` method, the response is always `callback{}`.
- I don't know what happened or how to dig into this problem.
- version: 1.7.0

**Code snippet (optional)**

[code]

[2020-02-21 13:25] Fenny commented on #164
@washanhanzi, could you try the latest version 2?

[2020-02-21 13:50] Fenny commented on #164
Make sure that your property keys are exported and accessible from the JSON parser:
[code]

[2020-02-21 13:54] washanhanzi commented on #164
I hate to ask this, but I am really new to golang. Fiber is my first framework to try out.

How to get v2.0.0?

I use:
[code]
the go mod report:
[code]

I also tried the `github.com/gofiber/fiber@2.0.0`, but when I run `go get -u`, the import package automatic truncated the version.

I read in the [blog](https://blog.golang.org/publishing-go-modules), the pre-release version must contain a hyphen

[2020-02-21 13:55] washanhanzi commented on #164
It worked after I change to Uppercase. Thank you for the reply.

[2020-02-21 13:58] Fenny commented on #164
@washanhanzi, try to run `go get -u github.com/gofiber/fiber`
To see what version you are using, try to print:
[code]

If this doesn't work, delete the fiber folder `~/go/src/github.com/gofiber/fiber` and run:
`go get -u github.com/gofiber/fiber` again

[2020-02-21 14:13] washanhanzi commented on #164
In the `go.mod` file, it says  `v1.7.0`, but the `fiber.Version` command and the logo output in the console both say `v1.6.1`.

T_T

Also got `v1.7.0` in the go mod cache file,  `$GOPATH/pkg/mod/github.com/gofiber/fiber@v1.7.0`.

[2020-02-21 14:20] washanhanzi commented on #164
I found the `Version` in 33th line in `application.go` maybe inconsistent with the `1.7.0` release version.

[2020-02-21 14:24] washanhanzi commented on #164
I'm closing the issue.

I will try to figure out the go mod. T_T

Thank you for the great framework.

[2020-02-21 14:24] #164 closed

[2020-02-21 17:19] #92 closed

[2020-02-21 17:24] Fenny opened #165 "🎉 v1.0.0 release notes!"
<img src="https://user-images.githubusercontent.com/25108519/74117516-37c5d880-4bb8-11ea-8ddd-82eaf64cd102.gif" height="100"/>  **Fiber is officially out of beta, welcome `v1.0.0`!** 🌟

`go get -u github.com/gofiber/fiber`

**[NEW]** ctx.BodyParser / https://fiber.wiki/context#bodyparser
**[NEW]** ctx.Error / https://fiber.wiki/context#error
**[NEW]** ctx.Next / https://fiber.wiki/context#next
**[

[2020-02-21 17:31] ganglio opened #166 "🤔 How to register a Prometheus handler"
I'm trying to register the Prometheus handler to track some metrics from the application I'm writing but I cannot find a way. I managed to to the following:

[code]

And it does respond to the requests on `/metrics` with some data that seems reasonable. Only problem it doesn't seem to count the responses correctly.

(the two endpoints `/` and `/404` are there exactly to try it).

[2020-02-21 17:31] ganglio commented on #166
ps: Brilliant work, BTW 😄

[2020-02-21 17:53] Fenny commented on #166
@ganglio, could you try updating fiber to official `v1.0.0` `go get -u github.com/gofiber/fiber`
Could you tell me what variable is missing/incorrect?
[code]
http://localhost:3000/metrics
[code]

[2020-02-21 18:22] Fenny commented on #159
@dominicqi, we fixed this issue in `v1.0.1`
https://github.com/gofiber/fiber/releases/tag/v1.0.1

Could you update to latest version and tell me if it works?

[2020-02-21 20:32] renanbastos93 opened #168 "🤔 G104 (CWE-703): Errors unhandled. (Confidence: HIGH, Severity: LOW)"
Based on new pipeline security, we need to treat errors

[code]

I saw this message then we need to treat possible error returns method close.
https://github.com/gofiber/fiber/blob/master/context.go#L107

Suggestion
[code]

[2020-02-22 03:21] renanbastos93 opened #170 "🐞 go get not resolve package"
Well, I were to try using a new version this lib but when executing `go get github.com/gofiber/fiber` it goes to get the old beta version but I need the latest version ~~`v1.0.0`~~ `v1.7.1`

[2020-02-22 03:31] hyingreborn opened #171 "🐞 App instance haven't Recover() method"
**Fiber version/commit**
v1.0.1

**Issue description**

**Expected behavior**

**Steps to reproduce**

**Code snippet**

[code]

[2020-02-22 03:34] hyingreborn commented on #170
Change 1.7.0 to 1.0.1 in go.mod file，then...
[code]

[2020-02-22 03:40] Fenny commented on #171
@hyingreborn, nice catch. It got lost in v0.7.0.
I added Recover on both App & Group in `v1.0.0` +

[2020-02-22 03:40] #171 closed

[2020-02-22 03:42] Fenny commented on #170
[code]

[2020-02-22 03:43] #159 closed

[2020-02-22 03:45] Fenny commented on #168
We can remove `conn.Close()` since `releaseConn` is only called when the connection already has ended. PR's are welcome!

[2020-02-22 03:55] #165 closed

[2020-02-22 03:57] renanbastos93 commented on #170
this approach doesn't work, I test all suggest from you
I made go get -u github.com/gofiber/fiber@v1.0.1 and was success

[2020-02-22 04:05] #168 closed

[2020-02-22 15:44] Fenny opened #176 "🎉 v1.7.x release notes!"
<img src="https://user-images.githubusercontent.com/25108519/74117516-37c5d880-4bb8-11ea-8ddd-82eaf64cd102.gif" height="100"/>  **Fiber `v1.7.1`**

`go get -u github.com/gofiber/fiber`

**[NEW]** ctx.BodyParser / https://fiber.wiki/context#bodyparser
**[NEW]** ctx.Error / https://fiber.wiki/context#error
**[NEW]** ctx.Next / https://fiber.wiki/context#next
**[NEW]** ctx.Render / https://fiber.wiki

[2020-02-22 15:44] #176 closed

[2020-02-22 15:49] #170 closed

[2020-02-22 17:12] alex-shpak opened #178 "🔥 Consider strong typing for API"
**Is your feature request related to a problem?**
Hi!

In Go (IMO) it is considered bad practice to use `interface{}` if strongly typed API can be implemented.
I understand that idea is to have similarity with the `expressjs` library, but now developer has to visit documentation/source to identify what are proper params types for the routing function.

Also I think strongly typed API is one of thi

[2020-02-22 17:45] alex-shpak opened #179 "🤔 Question on versioning"
Hi!

I thought to give a try to `fiber` and make small app, and at this point I'm confused about versioning. Seems like there was versions prior `1.0.0` and between `1.0.0` and `1.7`, like in TechEmpower benchmarks mentioned [`0.8.0`](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Go/fiber#version-tested), and also for example [`1.0.1`](https://github.com/gofiber/fiber/i

[2020-02-22 17:59] Fenny commented on #179
Fiber was in `beta` for a while and when we decided to come with an official release we didn't want to jump to v2. Resetting to `v1.0.0` without pre-release didn't workout because like you said, GOPROXY cached all other releases. This forced us to continue with `1.7.x`+ for versioning.

All older versions are still available via `go get github.com/gofiber/fiber@v.v.v`

[2020-02-22 18:05] Fenny commented on #178
Fiber started as a personal project (coming from node) to rewrite all my web apps into Go.
I tried to stick to the same workflow as Express by using interfaces, this is indeed not the Go standard.

I do not want to break the current API by changing this, it could be possible for `v2` and I would love to hear your thoughts on this.

[2020-02-22 18:37] alex-shpak commented on #179
Good to know! Thank you for your reply.

[2020-02-22 18:37] #179 closed

[2020-02-22 21:03] alex-shpak commented on #178
I see.
Well, it is up to library maintainers to decide. I feel like having non strongly typed API can turn off some Go developers. Would be nice to have `¯\_(ツ)_/¯`.

In my case I added `fiber` to dependencies, started to write `main` function to try around and hit `app.` autocompletion, saw `args ...interface{}` and was like: damn... now I need to go find docs.

And not to mention I'm a member of

[2020-02-22 23:32] peterbourgon opened #180 "🤔 What is the purpose of prefork?"
**Question description**

What is the intent behind the prefork option?

[2020-02-22 23:39] Fenny commented on #180
Prefork enables use of the SO_REUSEPORT socket option, which is available in newer versions of many operating systems, including DragonFly BSD and Linux (kernel version 3.9 and later). This socket option allows multiple sockets to listen on the same IP address and port combination. The kernel then load balances incoming connections across the sockets. SO_REUSEPORT scales perfectly when a lot of co

[2020-02-22 23:54] peterbourgon commented on #180
Thanks for that explanation. Do you have evidence to suggest a single Go process cannot support "[thousands] of concurrent client connections" without SO_REUSEPORT?

[2020-02-23 00:34] Fenny commented on #180
I did not suggest that a single go process cannot support thousands of concurrent connections. Preforking actually starts single go processes but will share the same port, the balancing of connections is done on OS level. It's up to you if preforking has an advantage for your web app, we only provide the option to enable it.

[2020-02-23 00:56] #166 closed

[2020-02-23 04:17] hyingreborn commented on #178
agree，Fiber made it easy for me to migrate from nodejs to Go。
The reason I chose to learn Go instead of TypeScript:
- A strong typed language can reduce errors and catch exceptions more easily
- Moderate development efficiency and adequate operational performance
- Cross-compile into binaries for easy distribution and deployment

Now, it's true that docs are often needed

[2020-02-23 04:52] hyingreborn opened #181 "🔥 Support GZip / Deflate"
**Is your feature request related to a problem?**
Now, the gzip is built in Static()，so I can't customize which paths to open gzip and which file sizes to open gzip

**Describe the solution you'd like**
In my project，i need open gzip for staticfiles，at the same time, i want open gzip for restful api module(when the response is bigger than 4kb)

**Describe alternatives you've considered**
gzip be r

[2020-02-23 14:33] Fenny commented on #178
I have discussed this with @koddr, and we want to share our conclusion on this matter.

Most methods that use the `...interface{}` argument are used for `app.METHOD` to register routes.
We think that this is straightforward because this is the first thing you learn visiting Fiber or coming from Express.

Now there are some `*Ctx` methods that also accept `interface{}` as an argument:
`func (ctx *C

[2020-02-23 17:08] Terisback opened #182 "🤔 How do I register partials for handlebars?"
**Question description**
How do I can register partials like {{> myPartial}} through fiber?

[2020-02-23 20:26] #180 closed

[2020-02-23 20:33] Fenny commented on #182
@Terisback, thanks for trying out Fiber!

Our `Render` function is currently designed to perform basic templating, you can see how it works here: https://fiber.wiki/context#render
We would love to improve our render function to register partials or add custom functions.

If you have suggestions or ideas on how we should implement that in the Fiber API, feel free to let us know. There is always roo

[2020-02-23 20:38] Fenny commented on #181
@hyingreborn, we have to option to enable gzipping for the `Static` files and `c.SendFile` method. If I'm correct you would like to have an option to enable gzipping for any kind of response besides files?

[2020-02-23 21:01] Terisback commented on #182
Thank you, I am a beginner programmer, and for the first time I am writing a web application, but I find this package the most convenient of all.
I will do my best to make this package better.  I will try, despite my level of knowledge ☺️

[2020-02-24 10:39] ganglio commented on #166
@Fenny if you keep requesting `/metrics` you'll see the `promhttp_metric_handler_requests_total{code="200"}` increase.
It doesn't happen if you query `/` or `/404` (do it a number of times as the metric increase by 1 every time you request the `/metrics` endpoint.

From what I understand, the `promhttp` is used as a wrapper around a router. In the case of Fiber it's only added as a single route th

[2020-02-24 11:37] ganglio commented on #166
Ok, I managed to make it work 😄

[code]

Only caveat is that all the routes must have a `defer c.Next()` and the config looks like this:

[code]

It would be amazing to have support for "afterwares" that are always executed after everything.

[2020-02-24 14:12] Fenny commented on #166
We have to think about that, but maybe its better to fix this in a wrapper for Prometheus.

PS: You have a bug in your code: `🐝`

[2020-02-24 20:48] yossizahn opened #185 "🐞 Document clearly that properties of the request ctx are invalid after the handler returns"
**Fiber version/commit:** Latest
**Issue description**
Not sure if this is intentional or somewhat of a bug.
Currently, many properties of the request context are returned as strings but are unsafe to persist after the handler has returned (due to unsafe conversion [here](https://github.com/gofiber/fiber/blob/efe89d243de6d8cf964581f5832b4341e2baa427/utils.go#L128-L130)).

**Expected behavior**
It

[2020-02-24 23:14] Fenny commented on #185
Interesting, I will take a closer look when I get home.

To be continued...

[2020-02-25 02:29] hyingreborn commented on #181
I want gzip to work in my custom path，not only static files，for example
[code]

[2020-02-25 05:49] koddr commented on #181
@hyingreborn after Fiber `v1.7.0`, we can use multiple middlewares at `app.Method` and `app.Group`. You can write your own midware func and use it.

@Fenny good idea to exclude `gzip` feature to `github.com/gofiber/middlewares` for easy use on everywhere in app code.

[2020-02-25 08:24] hyingreborn commented on #181
I will use these two middleware when developing with gin, hoping to provide you with inspiration
github.com/gin-contrib/static
github.com/nanmu42/gzip

[2020-02-25 08:45] yossizahn commented on #185
It is true that it is possible to reproduce the same behavior in Fasthttp, but in Fasthttp it is more forgivable since a) it is [clearly documented](https://godoc.org/github.com/valyala/fasthttp#RequestCtx.Path) and b) there is no implicit contract in returning a `[]byte` saying that it won't change under your feet.
It would seem to me that returning a `string` constitutes an implicit contract tha

[2020-02-25 14:50] Fenny commented on #185
@yossizahn, you have a good point and we could do three things.
1. We can provide an option `Settings.Immutable = true` to use string conversion that is immutable and thus valid even if you return from the `Ctx handler`.
[code]
2. Update all docs that all string values are valid until Ctx return.
3. Make all return values immutable by default, but this means no more `zero memory allocation` conver

[2020-02-25 20:22] koddr opened #186 "🌐 Translate Fiber (i18n)"
## 💡 Translation status

**Fiber** [README](https://github.com/gofiber/fiber/blob/master/.github/README.md) is already translated into **9** languages:

- [x] 🇷🇺 Russian (RU)
- [x] 🇪🇸 Spanish (ES)
- [x] 🇨🇳 Chinese (ZH_CH)
- [x] 🇯🇵 Japanese (JA)
- [x] 🇵🇹 Portuguese (PT)
- [x] 🇩🇪 German (DE)
- [x] 🇰🇷 South Korean (KO)
- [x] 🇫🇷 French (FR)
- [x] 🇹🇷 Turkish (TR)

**Fiber** [official documentation](htt

[2020-02-25 20:23] #186 closed

[2020-02-25 21:35] alex-shpak commented on #178
I like that 👍
I guess `Static` method would be `Static(string, ...string)`. Also for method functions something like this might be good: `Get(path string, handler func(*Ctx), handlers ...func(*Ctx)` so it requires to have at least one handler, or more.

I think having strong typing could cleanup [`router.go@register`](https://github.com/gofiber/fiber/blob/master/router.go#L138) function and make i

[2020-02-25 21:48] #182 closed

[2020-02-26 00:56] hyingreborn commented on #186
official documentation can't see any language for a few days，only english as default

[2020-02-26 02:57] keob commented on #186
ok

[2020-02-26 06:28] koddr commented on #186
Yes, it's because we're preparing to re-write English docs after release Fiber `v1.8`. This section of translations on hold and hidden now.

[2020-02-26 07:06] keob commented on #186
I translate chinese docs  now😊

[2020-02-26 07:07] keob commented on #186
Many places in the document are not the same

[2020-02-26 12:17] Ynniss commented on #186
ok, i'm gonna wait for the "new" english docs, to then translate it to french

[2020-02-26 13:59] cyolosec opened #188 "🔥 add an interface for serving a custom net.Listener"
**Is your feature request related to a problem?**
no
**Describe the solution you'd like**
something along the lines of
[code]
**Describe alternatives you've considered**
editing the source code to add this functionality directly
**Additional context**

[2020-02-26 17:14] Fenny commented on #186
@keob, please wait for new documentation before you translate.
The English docs will be updated upon the next Fiber release.

[2020-02-26 22:40] s0kil opened #190 "🔥 Support/Integrate quicktemplate"
Could you provide an example on how to integrate with [quicktemplate](https://github.com/valyala/quicktemplate) ?

[2020-02-27 00:53] keob commented on #186
@Fenny ok😊😊

[2020-02-27 03:23] Fenny commented on #190
Hi @s0kil, quicktemplate needs to be compiled and therefor is hard to integrate with a web framework.
I use this library myself for some web apps, the way I make it work with fiber is straightforward:

[code]

**./templates/hello.qtpl**
[code]

**Generate templates**
[code]

**./server.go**
[code]

[2020-02-27 03:37] Fenny commented on #188
@cyolosec, thanks for your first feature request!
Could you tell us a use-case example on why this could be a good feature for Fiber?

[2020-02-27 03:38] Fenny commented on #185
I'm closing this issue because it will be addressed in v1.8.0, feel free to re-open!

[2020-02-27 03:38] #185 closed

[2020-02-27 03:42] Fenny commented on #178
Thanks @alex-shpak for your input, all suggestions will be addressed in v1.8.0.

PS: We went with `Get(path string, handlers ...func(*Ctx))` because we don't want to confuse people with the order of where to place middleware.

[code]

I'm closing this issue because `v1.8.0` will be released soon, feel free to re-open for more ideas/suggestions!

[2020-02-27 03:42] #178 closed

[2020-02-27 03:44] Fenny commented on #181
Thanks @hyingreborn for your suggestion, we will release a middleware folder soon and I will take a look if a gzipping middleware is possible with fasthttp!

[2020-02-27 04:32] Fenny opened #191 "🥳 v1.8.x release notes!"
<img src="https://user-images.githubusercontent.com/25108519/74117516-37c5d880-4bb8-11ea-8ddd-82eaf64cd102.gif" height="100"/>  **Fiber `v1.8.0`** https://github.com/gofiber/fiber/pull/189

`go get -u github.com/gofiber/fiber`

**[NEW]** app.Settings.Immutable / https://fiber.wiki/application#settings

**[RENAME]** Settings.ViewFolder -> Settings.TemplateFolder https://fiber.wiki/context#render
**

[2020-02-27 04:33] #191 closed

[2020-02-27 05:26] s0kil commented on #190
Thank You @Fenny . Do you plan to document this?

[2020-02-27 13:40] Ivan-Feofanov opened #193 "🔥 Query params"
I can't find any normal way to get a query string params without using raw fasthttp queryString
Something like that can be very useful:
[code]
Thanx!

[2020-02-27 13:42] koddr commented on #193
@Ivan-Feofanov hi!

Do you use `Query()` method? https://fiber.wiki/context#query

[2020-02-27 20:33] renanbastos93 commented on #181
Hi guys

Can I help you? I wish this challenge.

For context about it.
`Do we you wishing implement GZIP in all routes don't just files, right?`
Using according to example

[code]

See ya

[2020-02-28 04:34] renanbastos93 commented on #181
I saw now and FastHTTP have a compress gzip
https://github.com/valyala/fasthttp/blob/32793db72d04141d333eb04ce60170db6e79e6d2/compress.go

So, we should use `Content-Encoding` how gzip.
example:
[code]

Well, I believe that is possible using gzip on Fiber then I liked this approach to create a package for our middlewares.

Can we create a todo list to implement these middlewares?

I can't test thi

[2020-02-28 04:43] Fenny commented on #181
I'm working on implementing Compression, It's really simple and I got a working version.
I created an context method called `Compress()` that will gzip / deflate the response at the end.
My proposition is to use the `ctx.Compress()` to enable compression per route.
And 'app.Settings.Compression = true'  for all routes, let me know what you think.

[code]
[code]
[code]

[2020-02-28 05:11] Fenny commented on #190
@s0kil, I have no plans to document this because it's not a part of our framework.
But since there is an example in this issue, it should be no problem to find for other users.

I'm closing this issue, feel free to re-open if you have questions/suggestions!

[2020-02-28 05:11] #190 closed

[2020-02-28 17:46] Fenny commented on #193
@Ivan-Feofanov, did this solve your problem? Feel free to re-open this issue :+1:

[2020-02-28 17:46] #193 closed

[2020-02-28 17:47] Fenny commented on #188
@cyolosec, i'm closing this issue. Feel free to re-open :+1:

[2020-02-28 17:47] #188 closed

[2020-03-01 08:25] Fenny opened #197 "🧬 v1.8.1 Middleware!"
<img src="https://user-images.githubusercontent.com/25108519/74117516-37c5d880-4bb8-11ea-8ddd-82eaf64cd102.gif" height="100"/>  **Fiber `v1.8.1`**

```go get -u github.com/gofiber/fiber/...```

**[NEW]** app.Settings.Immutable / https://fiber.wiki/application#settings
**[NEW]** app.Settings.Compression / https://fiber.wiki/application#settings

**[NEW]** Ctx.Compress / https://fiber.wiki/context#c

[2020-03-01 08:27] #197 closed

[2020-03-01 20:01] Fenny commented on #181
Added in `v1.8.1`

[2020-03-01 20:01] #181 closed

[2020-03-02 02:17] sachinbhutani opened #199 "🐞 bodyparser error when using with javascript fetch"
**Fiber version/commit**
Fiber v1.8.0
**Issue description**
I get this error when trying to use body-parser with content-type: "application/json"
Error on /login:  schema: invalid path "{\"username\":\"test\",\"password\":\"test\"}"
**Expected behavior**

**Steps to reproduce**
JS fetch with gofiber api

**Code snippet**
Javascript:
[code]
GO/Fiber:
[code]

[2020-03-02 03:14] Fenny commented on #199
Try to separate your struct field tags with a space and not a comma.
The following code works for me:
[code]
[code]

[2020-03-02 04:27] #199 closed

[2020-03-02 19:04] Terisback opened #200 "🤔 Ability to use tls through autocert?"
**Question description**

I do not have certificate files, but have Let's Encrypt
What I need to host on https with tls?

[2020-03-02 19:07] renanbastos93 commented on #200
I saw this two examples:
https://github.com/valyala/fasthttp/issues/167
https://github.com/valyala/fasthttp/issues/431

[2020-03-02 19:13] Terisback commented on #200
Tnx, I'll see tomorrow morning

[2020-03-02 19:16] Fenny commented on #200
Hi @Terisback, our TLS config is currently private within `Listen`, we do support a cert and key conf.
[code]
We cab enable a TLS config or add a `Serve` method on `v1.8.2`

[2020-03-03 06:56] sachinbhutani opened #201 "Any recommended package to manage sessions with fiber ?"
**Question description**
Any recommended package to manage sessions with fiber ?

[2020-03-03 09:36] Fenny commented on #201
Hi @sachinbhutani, `middleware/session.go` is on our TODO list.
It should be available for `v1.8.2` or `v1.8.3`

[2020-03-04 13:06] Fenny opened #203 "🏎️ v1.8.2 release notes!"
<img src="https://user-images.githubusercontent.com/25108519/74117516-37c5d880-4bb8-11ea-8ddd-82eaf64cd102.gif" height="25"/>  **Fiber `v1.8.2`**

```go get -u github.com/gofiber/fiber/...```

**[NEW]** app.Settings.BodyLimit https://fiber.wiki/application#settings
**[NEW]** middleware.Recover(handle ...func(*Ctx, error)) https://fiber.wiki/middleware#recover

**[UPDATED]** app.Static(prefix, root

[2020-03-04 13:06] #203 closed

[2020-03-04 13:50] #200 closed

[2020-03-04 14:31] soonoo opened #204 "🤔logger is not logging route that is registered later than logger"
Hi there.

[code]
Is this intended to selectively applying middlewares?

[2020-03-04 14:46] Fenny commented on #204
Hi @soonoo, **all routes** are appended to the so called `route []stack` that are executed (if matched) in order. So if you want to log all matching routes, make sure you place it at the top, I hope this explains how our routing mechanism works.

[2020-03-04 14:50] soonoo commented on #204
@Fenny routers, middlewares, same stack. Thank you for your reply!

[2020-03-04 14:50] #204 closed

[2020-03-05 05:33] hyingreborn opened #205 "🤔 Use Context in websocket Conn?"
**Question description**

**Code snippet (optional)**
main.go
[code]
wsHandler
[code]

[2020-03-05 11:29] Fenny commented on #205
This is something that was on my mind, we might move the Conn inside the Ctx. I will do some testing this weekend. I will keep you updated :+1:

[2020-03-05 13:52] hyingreborn opened #207 "🤔 Middleware seems to run earlier than wildcard routing"
**Question description**
Middleware seems to run earlier than wildcard routing，I use a custom middleware in router.Group，finally register a Not found route。

when i visit the "http://127.0.0.1:8080/api/v1/anyPathNotExist"，server still exec the JWTAuth() first，But my expectation is that the return route doesn't exist

**Code snippet (optional)**

[code]

[2020-03-05 13:53] hyingreborn commented on #205
@Fenny Thanks a lot!

[2020-03-05 22:18] Shareed2k opened #209 "🔥 Serve assets files from embedded resources"
**Is your feature request related to a problem?**
there is no options to create one binary file with all assets

**Describe the solution you'd like**
i want to use something like http.FileServer, to use libs like [go.rice, pkger...]

[2020-03-06 05:45] ekaputra07 opened #210 "Unable to test POST request using app.Test"
**Question description**
I tried to test my POST request handler, if I didn't specify the request body its just fine but when I set the body it returns an error, and I need to test my handler for a different data in body.

The error message though is not coming from **Fiber** but from **fasthttp**. Not sure if I missed something when using the `app.Test(req)` or its a bug.

**Code snippet (optiona

[2020-03-06 06:52] koddr commented on #209
@Shareed2k hi!

Try to use https://github.com/markbates/pkger by Mark Bates

[2020-03-06 08:12] Shareed2k commented on #209
I know this is cool lib, can you show example how to use with fiber ?

On Fri, Mar 6, 2020, 08:52 Vic Shóstak <notifications@github.com> wrote:

[2020-03-06 08:36] Fenny commented on #210
Hi @ekaputra07, when you make a post request you need add the `Content-Length` header.

[code]

[2020-03-06 08:53] ekaputra07 commented on #210
@Fenny great! thanks so much. Will close this issue.

[2020-03-06 08:53] #210 closed

[2020-03-06 14:32] Fenny commented on #207
[code]
This means that every route starting with `/api` will execute that handler.

If I'm correct, you only want to execute the middleware handler if the child route exists?

[2020-03-06 15:49] aventurella-honey opened #211 "🤔 How to set the connection timeout?"
**Question description**
How can we go about setting the connection timeout, for example, HTTP 1.1 will attempt to have a persistent connection. That's fine, but in my use case: using Fiber as a utility proxy for Insomnia and Postman for some internal things, those clients will keep their connections open. I'd like to just tell Fiber to kill all it's connections (Force Shutdown instead of Graceful

[2020-03-06 16:00] aventurella-honey commented on #211
I think I answered my own question.. When I app.Shutdown() from the main thread, things works as expected. I was on some background go routine doing it earlier.

[2020-03-06 16:00] #211 closed

[2020-03-06 18:19] hyingreborn commented on #207
@Fenny Yes ! Since child route doesn't exist, my expectation is not to execute any middleware, but to use a generic route to return 404 directly。
Although I registered the "/api" route group, it was not explicit to register a nonexistent child route such as "/api/notexist"

[2020-03-06 20:36] Shareed2k commented on #209
ok i found some agly way to work with pkger and fiber...

[code]

[2020-03-07 11:54] Fenny commented on #207
Our routing logic is based on the express framework, you will get the same results using express.
[code]
[code]

If you really want to execute the middleware only when a route is found, I suggest attaching the middleware to the route directly.

[code]

[2020-03-07 17:53] hyingreborn commented on #207
Thanks! It seems to be a feature rather than a problem

[2020-03-07 18:27] #207 closed

[2020-03-08 09:35] Fenny commented on #209
We could create a middleware for pkger, I will take a closer look next week.

[2020-03-08 20:52] sachinbhutani opened #213 "🐞 cannot convert type string to type fiber.Group"
**Fiber version/commit**
v1.8.2
**Issue description**
get this error on build
[code]
**Expected behavior**
no error
**Steps to reproduce**
run the below code
**Code snippet**

[code]

[2020-03-08 21:04] Fenny commented on #213
`fiber.Group` is a struct, you need to use the method `app.Group`
[code]

[2020-03-08 21:09] #213 closed

[2020-03-09 17:48] soonoo opened #214 "🐞 caseSensitive option affects params"
[code]
I'm not sure whether this is a bug but it is weird that `caseSensitive` is changing parameter names as well.
I wanted to open a PR but I'm not sure if that's OK.

[2020-03-09 18:17] Fenny commented on #214
Nice catch, I will fix this asap

[2020-03-11 03:00] faultable opened #216 "🐞 C.Set duplicate header"
**Fiber version/commit**
v1.8.2

**Issue description**
Just playing around with Fiber, and I have some problem here. In my case, I need to set custom headers dynamically. For example, I need to set `content-type` taken from database.

The code:

[code]

Let's say one of key from `responseHeader.key` is `content-type` and the value is `application/json`, the result is like this:

[code]

Probably w

[2020-03-11 10:41] alinnert opened #218 "🔥 Support returning response from handler"
**Is your feature request related to a problem?**

It's a very common pattern while building an API to call a function, check the `err` and send a response to the client. At this point the handler should also end executing. Normally this looks like following:

[code]

For demonstration: [in this example](https://github.com/dominikbraun/foodunit/blob/5af5f5a9c226de2c5bb7c9e1bd248303f8c7dd67/control

[2020-03-11 11:55] Fenny commented on #216
I changed two things regarding this problem for `v1.8.3`

- `c.Set()` uses fasthttp `SetCanonical` method to set headers, but assuming that key is in canonical form. `coNteNt-tyPe` will not be `normalized` into `Content-Type`  and caused duplicate problems.
- Currently `app.Get` routes are not trigger by `HEAD` requests ( your example `--head` ) and the default content-type is used.

Both these pr

[2020-03-11 13:29] faultable commented on #216
Thank you for confirming, can't wait!

[2020-03-11 14:19] Fenny commented on #218
I do agree that appending a `return` within `if` statements can be tedious.
However, Fiber is designed to have no return value for simplicity.

Your example can be written in different ways to avoid using `return`

[code]

If we want to implement a `return` one liner we need to add a return value to the handlers.
[code]
This also means that we have to document which Context functions support an er

[2020-03-11 15:13] alinnert commented on #218
Oh, right. So `return` also turns into `return nil`, right? Then this would be a breaking change. This changes quite a bit.

`if { ... } else { ... }` would be fine for one error check, but it turns into a deeply nested `if else` tree for more complex handlers - which isn't really uncommon. So, that's not a very usable alternative.

But, the repetition isn't really an issue for me. It's mainly a s

[2020-03-11 19:14] Fenny commented on #205
Locals will be added to the `Conn` struct in `v1.8.3`

[2020-03-11 23:49] coderbuzz commented on #205
Just landed here, so Fiber has websockets support already? What ws lib is used? Most performed Gobwas/ws?

[2020-03-12 07:29] koddr commented on #205
@coderbuzz hi!

Fiber use [Fasthttp Websocket](https://github.com/fasthttp/websocket) lib via middleware https://github.com/gofiber/websocket

[2020-03-12 09:00] coderbuzz commented on #205
@koddr hi,

Comes from NodeJS, in Node there is uWebSockets library which very perform.

[http benchmark](https://github.com/uNetworking/uWebSockets/blob/master/misc/bigshot_lineup.png)

[WS](https://github.com/uNetworking/uWebSockets/blob/master/misc/websocket_lineup.png)

Sadly the author won't make the library available in Go. Based on benchmark above; Gobwas/ws seems most performed.

Curious a

[2020-03-12 16:36] Ynniss opened #219 "🤔 Implement golang-security-action (action running gosec)"
**Is your feature request related to a problem?**
nope

**Describe the solution you'd like**
I'm actually working on a tiny github action named [golang-security-action](https://github.com/marketplace/actions/golang-security-action), which is basically running gosec.

I know that you already have a workflow file that use gosec, but i think using my "external" action is easier and more maintainable,

[2020-03-12 16:47] renanbastos93 commented on #219
hey dude, already we have an action to run GoSec
https://github.com/gofiber/fiber/blob/master/.github/workflows/security.yml

[2020-03-12 16:50] Ynniss commented on #219
Hi !

[2020-03-12 17:02] renanbastos93 commented on #219
Hi, my English is so so

Well, I think interesting about your approach. But I don't see gain with your approach to me are will the same benefits.

I believe that we should set a badge in readme.md info about workflow.

[2020-03-12 17:14] Lol3rrr opened #220 "🐞 app.Test not working properly"
**Fiber version/commit**
Latest/current Version [077b34b](https://github.com/gofiber/fiber/commit/077b34b47af5989edeff05dd7213b056c9d7bc73)

**Issue description**
When using gofiber for testing, the Test function throws an error even though it should not and says that it could not read the headers but when using the route in a normal setup where the app is actually bound to a port everything works

[2020-03-12 18:59] Ynniss commented on #219
Indeed, the purpose is the same. For me, benefits are more on the "practical", "easy to use", "more maintainable" sides.

I'm not really familiar with badges, but i assume it indicates that the action succeeded ?

[2020-03-12 19:07] renanbastos93 commented on #219
Yes, the badges are to indicate the status of the action. Ok, it is "easy to use" I believe you but who maintenance from this [golang-security-action](https://github.com/marketplace/actions/golang-security-action) this action is very recent and it worries me a little. I prefer we maintenance will be made for community with contributors and members of fiber.

So, I believe you made a good work I wi

[2020-03-12 20:49] Ynniss commented on #219
Ok, i see.
That's true it's recent and i can understand your worries :)

Thanks. Btw I made some stable releases during the last hour, you should be able to use the action without any problem.  Also feel free to contribute :+1:  .

[2020-03-12 21:22] renanbastos93 commented on #219
How nice, sorry but what is btw?

[2020-03-13 07:15] Lol3rrr commented on #220
Nevermind, the problem was fixed by adding the Content-Length Header to the request manually.
Although this seems pretty obvious, I think this should be mentioned somewhere in the docs or the docs should at least include an example for the Test function where a Request-Body is used.

Working test code now looks like this:
[code]

[2020-03-13 07:15] #220 closed

[2020-03-13 08:51] Ynniss commented on #219
btw mean By the way :)

[2020-03-13 09:14] hyingreborn opened #221 "🐞 Unable to access uploaded files while running fiber"
**Fiber version/commit**
1.8.2

**Issue description**
Unable to access static folder uploaded files before restarting fiber

**Expected behavior**
I upload some static files to static folder，then unable to access these files, until restart the fiber server

**Steps to reproduce**

**Code snippet**

[code]

[2020-03-13 10:02] hyingreborn commented on #221
By the way, I'm also using minio for storage, and its method requires providing a path to the file. C.formfile () doesn't seem to have a temporary path to the file

[2020-03-13 16:03] hyingreborn opened #222 "🔥 This Static and Gzip makes me desperate"
This Static and Gzip makes me desperate，They always don't work as I expect them to. How can I use them in real projects?

First, Nginx is definitely the best choice！But...For small and medium-sized projects, most people still deploy the front end and back end together to simplify deployment.

1、Static
I want to put the front-end project I built with VueJS into the "./public" directory and then acc

[2020-03-14 11:43] #216 closed

[2020-03-14 11:47] Fenny commented on #205
@coderbuzz, In my opinion uWebSockets is currently only useful for route levels. When we talk about proper concurrency inside the request handler, the benchmarks don't lie:
[code]
**uWebsocketjs**
[code]

**Fiber**
[code]

[2020-03-14 11:51] Fenny commented on #205
@hyingreborn `Locals` are fixed in https://github.com/gofiber/fiber/pull/224 using https://github.com/gofiber/websocket

[2020-03-14 11:51] #205 closed

[2020-03-14 11:51] #214 closed

[2020-03-14 11:52] Fenny commented on #222
@hyingreborn, we moved compression to a middleware package: https://github.com/gofiber/compression, does this help for you? By default it gzips/deflates ( depending on request header ) above 4kb.

[2020-03-14 11:54] Fenny commented on #219
Hi @Ynniss, it looks promising. But I think it needs a bit more testing and time before we will use it in production. Sounds good?

[2020-03-14 11:56] Fenny commented on #218
@alinnert, the only solution I see is to create an middleware for this because we don't want to break any code. Maybe we can call it "github.com/gofiber/return" 😄 ?

[2020-03-14 11:57] #218 closed

[2020-03-14 12:07] Fenny opened #225 "🏃 v1.8.3 changelog"
<img src="https://user-images.githubusercontent.com/25108519/74117516-37c5d880-4bb8-11ea-8ddd-82eaf64cd102.gif" height="25"/>  **Fiber `v1.8.3`**

[code]

All future middleware will be external so we can update/add features without updating the main version.

**[NEW]** https://github.com/gofiber/basicauth
**[NEW]** https://github.com/gofiber/compression https://github.com/gofiber/fiber/issues/222

[2020-03-14 12:07] #225 closed

[2020-03-14 12:57] Fenny commented on #221
I tried to re-produce your issue:
[code]
[code]
Run:
[code]
Writing or accessing copy_main.go seems to work fine?

[2020-03-14 13:53] hyingreborn commented on #221
[code]
Then visit : http://localhost:3000/upload/filename.extname

Try uploading an image to the Static directory? @Fenny

[2020-03-14 14:16] hyingreborn commented on #222
@Fenny iconfont files still Unable to load properly

[2020-03-14 14:36] Fenny commented on #221
The following code works for me, could you try it?
Assuming you have a folder name `upload` inside the `public` directory.
[code]
Curl commmand
[code]

[2020-03-14 16:17] y21 opened #227 "🐞 static files with uppercase letters in filename are not served"
**Fiber version/commit**
v1.8.31

**Issue description**
Files that have an uppercase letter in their filename are not served. My file structure:
[code]
![image](https://user-images.githubusercontent.com/30553356/76685809-d8c00d00-6616-11ea-85cd-563fa9678718.png)

**Expected behavior**
The file should be sent to the client

**Steps to reproduce**
1.) Create a file with an uppercase letter in its fi

[2020-03-15 11:53] #219 closed

[2020-03-15 14:06] Ynniss commented on #219
Hi ! Thanks for your feedback.

Yeah, i might re-open it, in the future ;)

[2020-03-15 14:26] Fenny commented on #227
This should be fixed in `v1.8.32` https://github.com/gofiber/fiber/releases/tag/v1.8.32
Feel free to re-open this issue if you still have problems regarding this issue.

[2020-03-15 14:26] #227 closed

[2020-03-15 14:26] Fenny commented on #222
This should be fixed in `v1.8.32` https://github.com/gofiber/fiber/releases/tag/v1.8.32
Feel free to re-open this issue if you still have problems regarding this issue.

[2020-03-15 14:26] #222 closed

[2020-03-15 14:26] Fenny commented on #221
This should be fixed in `v1.8.32` https://github.com/gofiber/fiber/releases/tag/v1.8.32
Feel free to re-open this issue if you still have problems regarding this issue.

[2020-03-15 14:26] #221 closed

[2020-03-15 15:53] hyingreborn commented on #221
Thanks! The problem was fixed

[2020-03-16 18:12] anton7r opened #231 "🤔 Static files and Router interference bug"
## Static files - Shows page and sends 404 (Version 1.8.32)

## Description
On 1.8.2 `app.Static(...)` used to work before `app.Get(...)` routes. But now doing it this way you cannot get the page from `Get("/")`. And `Get("/other")` shows the page normally but will send status 404 to the client.

**Expected behavior**
`Get("/")` - should show the page and not show `Directory index is forbidden`
`G

[2020-03-16 18:43] Fenny commented on #231
Hi @anton7r this has to do because an `index.html` is served before hitting your second `/` route.

A simple fix would be to disable the default `index.html` being served by passing the `Index` setting.

[code]

[2020-03-16 18:53] anton7r commented on #231
ok, thanks!

[2020-03-16 18:53] #231 closed

[2020-03-18 13:54] EdneyMesquita opened #232 "🤔 Cors middleware error"
Basic exemple that I found in documentation always throws that error. When I remove cors it works, but if I enable cors, it breaks.

![Captura de Tela 2020-03-18 às 10 45 58](https://user-images.githubusercontent.com/13970098/76967315-069e9d80-6906-11ea-96e1-cc730cc18c49.png)

[2020-03-18 15:04] Fenny commented on #232
@EdneyMesquita, make sure you use the release version.
```go get -u github.com/gofiber/cors```

[2020-03-18 15:46] EdneyMesquita commented on #232
I'm already using the latest version of this package. I updated the packages version today

[2020-03-18 17:17] EdneyMesquita commented on #232
Problem solved! Thank you.

[2020-03-18 17:17] #232 closed

[2020-03-18 17:20] renanbastos93 commented on #232
Share with us, how to solve this problem?

[2020-03-18 20:09] Lol3rrr opened #233 "🤔 Wondering if "SameSite" is supported"
**Question description**
As far as I can see the Cookie-Struct does not have a "SameSite" field or something similiar and now I'm wondering if I just missed something in the documentation or if there is nothing for it.

If there is nothing to support this, are there any plans to add it?

This seems kind of important, especially as Chrome and other browser are now moving over to forcing Cookies to

[2020-03-19 04:16] Frankcarvajal opened #234 "🤔 Does fiber have support for live reload, like Gin?"
**Question description**
I'm a newer gopher coming from the JS ecosystem. I'm used to nodemon for live reload of the server on code changes, I think this exists in the gin web framework, but does Fiber have this? or what would be recommended?

[2020-03-19 13:11] renanbastos93 commented on #234
Hello man,

I using this lib to use live reload -> github.com/githubnemo/CompileDaemon

see ya

[2020-03-20 15:20] Fenny commented on #233
This will be available in the next patch `v1.8.34` 👍

[2020-03-21 17:21] kokizzu commented on #234
Also graceful restart, previously i used https://github.com/jpillora/overseer

[2020-03-22 13:36] Trim21 opened #236 "🔥 disable time limit in app.Test"
**Is your feature request related to a problem?**

No

**Describe the solution you'd like**

A options to disable time limit in `app.Test`

**Describe alternatives you've considered**

Supply another alternate function to check execution time.

**Additional context**

I'm writing a handler may be slow.
When I'm testing it, I always got a `errors.errorString{s:"timeout"}`.
I found that there is a t

[2020-03-22 16:31] Fenny commented on #236
We could add an ms timeout `Test(request *http.Request, msTimeout ...int)` for `v1.8.4`?

[2020-03-22 22:07] Trim21 commented on #236
Great!
So could I use 0 er -1 to disabled it then it ?

[2020-03-22 22:38] Fenny commented on #236
Correct!

[2020-03-23 02:51] Fenny opened #237 "🧹 v1.8.4 changelog"
<img src="https://user-images.githubusercontent.com/25108519/74117516-37c5d880-4bb8-11ea-8ddd-82eaf64cd102.gif" height="25"/>  **Fiber `v1.8.4`**

[code]

Some old deprecated functions are now removed and template engines are moved to a separate middleware .

**[UPDATE]** [`TemplateEngine`](https://fiber.wiki/application#settings) now takes in `func(raw string, bind interface{}) (string, error)` f

[2020-03-23 02:52] #237 closed

[2020-03-23 02:53] #236 closed

[2020-03-23 02:53] talgat-ruby opened #238 "🤔 Server settings like IdleTimeout, ReadTimeout, WriteTimeout"
**Question description**
Since was removed from settings the IdleTimeout, ReadTimeout, WriteTimeout params. How to set them now?

[v1.8.2 changelog](https://github.com/gofiber/fiber/issues/203)

[2020-03-23 02:53] Fenny commented on #233
Closing issue, `v1.8.4` now supports `SameSite` https://fiber.wiki/context#cookie

[2020-03-23 02:53] #233 closed

[2020-03-23 02:58] Fenny commented on #238
@talgat-ruby, thanks for submitting your first issue!
We removed most of the settings to keep it more in-lined with `expressjs` and keep it simple.
If you have a good use case for `IdleTimeout`, `ReadTimeout` or `WriteTimeout ` I would love to know and we could consider to re-add these in `v1.8.41`

[code]

[2020-03-23 03:26] renanbastos93 commented on #234
Should we implement a live reload on Fiber?

[2020-03-23 03:48] talgat-ruby commented on #238
@Fenny thanks.

I am newb in go and was learning through book [Let's Go](https://lets-go.alexedwards.net/). Where author sets up server and adds IdleTimeout, ReadTimeout, WriteTimeout. It just seems good idea to have flexibility, because both go's native http server and fasthttp have those options.

[2020-03-23 03:48] Frankcarvajal commented on #234
Using nodemon when developing Node/Express applications is super useful. But, it's not in express itself. But, that's because installing the nodemon dependency & using it appears far easier to set up & quickly use than CompileDaemon or overseer, from what I can see.

[2020-03-23 04:21] Fenny commented on #238
Oh I wasn't aware that the native http server got these options too, I will add these back in `v1.8.41 today` 👍

[2020-03-23 04:32] Fenny commented on #238
Closing this issue since `v1.8.41` got merged 🍾

[2020-03-23 04:32] #238 closed

[2020-03-23 05:02] talgat-ruby commented on #238
@Fenny thanks. The fiber is awesome.

[2020-03-23 14:02] waghanza opened #242 "[1.8.33] Broken version"
Hi @Fenny,

Our bot track `fiber` and show that **modules** defined for `1.8.33` is not well define

The version `1.0.0` of `template` does not exists in https://github.com/gofiber/fiber/blob/ed2db21172895fa67dab18131aeca9fd21812a04/go.mod#L7

Regards,

PS : If you can update `fiber` in https://github.com/the-benchmarker/web-frameworks in the same time it will be :heart:

[2020-03-23 16:46] Fenny commented on #242
Thanks @waghanz, I created a PR https://github.com/the-benchmarker/web-frameworks/pull/2383/

[2020-03-23 16:46] #242 closed

[2020-03-24 06:57] Fenny commented on #234
I love nodemon when I work with node, the big difference is that Go is not a scripting language. I'm not sure if we should implement this in Fiber, the best option would be to find a good live reload package and promote it in our docs.

Does anyone has an example on how to use one, so I could pin it?

[2020-03-24 07:17] WLun001 commented on #234
Haven't tried modd, but air works good to me

https://github.com/cosmtrek/air

[2020-03-24 23:44] Fenny commented on #234
I'm closing this issue because there are no plans to implement this directly in Fiber, this issue should have enough keywords to be found for other users asking the same thing.

Thank you all for thinking out loud and providing sources 👍

[2020-03-24 23:44] #234 closed

[2020-03-25 01:12] WLun001 commented on #234
@Fenny Should we add to the docs and provide example?

[2020-03-25 05:35] Fenny commented on #201
@sachinbhutani, @koddr, @rezam90, @samuel-a-cooper I have been working on this for a while but I could use some feedback regarding the syntax.

[code]

[2020-03-25 17:13] sachinbhutani commented on #201
awesome! is there's a way to extend the functionality to use a redis or other k/v stores ? or you recommend I write a new middleware module for you like "session-redis" like yours ?

[2020-03-26 05:04] Fenny commented on #201
I'm adding support for memcache, mysql, postgres, redis, sqlite3 👍

[2020-03-29 00:11] ekaputra07 opened #248 "🤔 Set Content-Type charset"
**Question description**

I'm using `c.JSON()` to return json response. But it only set response headers "Content-Type" to `application/json`. Is there a way I can set the charset as well?

I'm expecting the content-type would be: `application/json; charset=utf-8`. If its only `application/json` my client app rendering some strange chars, adding utf-8 charset fix it.

Thanks

[2020-03-29 00:24] ekaputra07 commented on #248
Of course I can just do this:
[code]

but `c.JSON()` is much more convenient :)

[2020-03-29 09:13] WLun001 opened #249 "🤔 How to serve Single page application"
**Question description**
How to serve javascript single app application?

**Code snippet (optional)**

[code]

This only works for the client root routes. It won't work if the client has navigate to different route.
eg, /page1

[2020-03-29 11:19] y21 opened #250 "🐞 routes that match a previously registered static file handler return a status code of 404"
**Fiber version/commit**
Fiber v1.8.42

**Issue description**
I'm not sure if this is a bug or intended behavior, but routes that match a previously registered static file handler will 404 (unless `ctx.Status` is explicitly called). I am aware that this can easily be avoided by simply registering a handler before registering static file handlers, but I don't think it should set a status code of 40

[2020-03-29 11:38] y21 commented on #249
I had the same "problem" a while ago and ended up registering multiple static file handlers as it didn't work with just one handler, though I'm not sure if this is the optimal way to approach that and it seems rather annoying if you have a lot of directories.

[code]

[2020-03-29 11:50] Fenny commented on #248
Hi @ekaputra07, we can set the default charset to `utf-8` for `JSON`, `JSONP` & `Render`.
I will make a PR for `v1.8.43` thanks!

[2020-03-29 12:20] Fenny commented on #250
@y21, will be fixed in `v1.8.43`!

[2020-03-29 12:55] WLun001 commented on #249
@y21 yeah I know using web server will be better sense. I just wanted to run simple full stack app in one service.

[2020-03-29 13:53] Fenny commented on #249
[code]

[2020-03-29 14:01] Fenny commented on #250
https://github.com/gofiber/fiber/releases/tag/v1.8.43

[2020-03-29 14:01] #250 closed

[2020-03-29 15:06] WLun001 commented on #249
@Fenny thanks! This is my final code, SPA serves under `web` because I still want to serve `api`

[code]

[2020-03-29 15:06] #249 closed

[2020-03-29 15:10] Fenny commented on #249
I will add an example to https://github.com/gofiber/recipes

[2020-03-29 21:56] ekaputra07 commented on #248
Thanks @Fenny, setting the header after the `c.JSON()` call did it. 👍
Previously I set it before the JSON() and JSON() overrode it :)

[2020-03-29 21:56] #248 closed

[2020-03-30 10:46] Fenny commented on #248
@ekaputra07 the best practise would be to utf8 encode the json instead, I might add a boolean parameter to JSON to utf8 encode input.

[2020-03-31 06:03] Trim21 opened #251 "🐞 fiber.App is an exported type and should not be renamed in patch version bump"
**Fiber version/commit**

v1.8.41 -> v1.8.43

**Issue description**

I upgrade my fiber version from `v1.8.41` to `v1.8.43`, and this is part of my code:

[code]

But I can't compile it any more because `fiber.App` become `undefined`

**Expected behavior**

`fiber.App` should still be available until a major version bump, it's a breaking change.

[2020-03-31 08:08] Fenny commented on #251
@Trim21, `v1.8.43` caused this issue. I re-created this version with a fix. If you having cache problems, the latest version should also fix this issue `v1.8.431`.

[2020-03-31 09:15] #251 closed

[2020-04-01 12:10] xpopit opened #253 "🤔 Need help with mp4 pseudo-streaming"
**Question description**

**Code snippet (optional)**

[code]

[2020-04-01 12:11] xpopit commented on #253
not work
curl --head http://localhost:8000/mp4
HTTP/1.1 200 OK
Date: Wed, 01 Apr 2020 11:30:13 GMT
Content-Type: video/mp4
Content-Length: 1303341816
Transfer-Encoding: chunked
Accept-Ranges: bytes
Content-Range: bytes 0-1303341815/1303341816

[2020-04-01 13:27] Fenny commented on #253
Does this solve your problem?
[code]

[2020-04-01 15:17] xpopit commented on #253
OMG! ok thank

![image](https://user-images.githubusercontent.com/17220015/78154104-0e158900-7466-11ea-8dfc-23ea312a9b79.png)

One more question?
I will use dynamic Params

example
[code]

[2020-04-01 17:12] Trim21 commented on #251
Version of fiber is very confusing.

1.8.431 should be considered newer than 1.8.5.

I got confused once when I upgrade form 1.8.32 to 1.8.4.

[2020-04-02 06:16] Trim21 opened #254 "🤔 confusing version"
**Question description**

The versions of `fiber` is very confusing.

1.8.431 should be considered newer than 1.8.5.

I got confused once when I upgrade form 1.8.32 to 1.8.4.

as a result:
https://pkg.go.dev/mod/github.com/gofiber/fiber@v1.8.431?tab=versions
![image](https://user-images.githubusercontent.com/13553903/78216395-51b2d600-74ec-11ea-807c-09fc4c934a78.png)

[2020-04-02 10:14] Fenny commented on #254
Hey @Trim21, I understand it is confusing but we didn't want to jump to `v2` yet.
The current versioning is implemented as `#major.#minor.#micro#nano#pico`.

It could look like we skipped `388` micro versions since `v1.8.43` but its actually a pico upgrade.

We might ditch this versioning method after `v1.9`, sorry for the confusion.

[2020-04-02 17:13] Trim21 commented on #254
Thanks for your explanation.

[2020-04-02 17:13] #254 closed

[2020-04-03 04:29] #253 closed

[2020-04-03 12:56] Fenny commented on #253
@xpopit, sorry I didn't had time to create an example.
You could create a normal `app.Get` handler with params and try to get the ranges using `c.Range(file.length)` and stream the specific range requested.

If I have some time left this weekend I will try to make a working example!

[2020-04-03 13:26] Shareed2k opened #255 "fiber_limiter using redis as store for rate limit with two algorithms for choosing simple, gcra leaky bucket"
**Question description**
i don't know where can i write it , guide me if this is wrong place
i prepared rate limit middleware using redis as a store if someone need you can use it
https://github.com/Shareed2k/fiber_limiter

[code]

[2020-04-03 13:29] Fenny commented on #255
Awesome @Shareed2k, I will add this repo to the description of https://github.com/gofiber/limiter

[2020-04-03 14:22] Shareed2k commented on #255
thanks :)

[2020-04-03 14:31] #255 closed

[2020-04-03 17:04] Wenangsani opened #257 "🤔 how to use fiber on serverless?"
like aws lambda, thanks.

[2020-04-03 18:10] Fenny commented on #257
I don't have experience with serverless, maybe this article could help you out? https://serverless.com/blog/framework-example-golang-lambda-support/

[2020-04-03 19:34] jeyraj commented on #234
The following is my solution, which I am currently using.

[](https://medium.com/@jeyraj/live-reload-for-go-afef9c25420a)

[2020-04-03 19:45] chrisbirster commented on #234
@jeyraj FYI it appears that link is to an invalid url on git. But after copy and paste into browser I'm able to see the article.

[2020-04-03 19:50] jeyraj commented on #234
Sorry for the inconvenience. I am not able share the Medium article directly. There is no option available.

[2020-04-03 19:51] chrisbirster commented on #234
Oh nevermind then. I didn't know that was restricted.

[2020-04-03 21:03] jeyraj opened #258 "🔥 Boilerplate Project Example"
**Is your feature request related to a problem?**
NO

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

Excellent job team.. I love ExpressJS, Now the similar features on golang.. Simply WOW...
Many of here are from Nodejs. So to kick start the FIBER to production level, Please provide some expressjs style "**Boilerplate Project**".

Like :

[2020-04-04 01:20] Fenny commented on #258
@jeyraj, welcome! This is a great suggestion, I will create a `boilerplate` repo tomorrow!

[2020-04-07 01:11] shiftrtech opened #262 "HTTP/2 support 🤔"
Does fiber support http 2 or are there any plans to.

Thanks.

[2020-04-07 03:31] renanbastos93 commented on #262
Hello, we use the lib FastHTTP as our HTTP server, and it doesn't implement yet supported to http2.

TODO:
[- HTTP/2.0. See https://tools.ietf.org/html/rfc7540 .](https://github.com/valyala/fasthttp/blob/a1cfe58ca86648c6701f1cb7e8b1587348dd5b9f/TODO#L4)

But it being implemented support the HTTP2 in this link
https://github.com/fasthttp/http2

Well, coming soon we have support in Fiber.

[2020-04-07 07:57] wilsonwu opened #264 "Does Fiber has a default project structure as same as the Expressjs provided?"
I think it is better to has a default/common project structure, like Expressjs, we can use the command line to create a very clear and useful project structure, or Fiber could just provide a git repo for users.

[2020-04-07 08:20] UJPrasad commented on #264
@wilsonwu I guess this is what you are looking for? https://github.com/gofiber/boilerplate

[2020-04-07 12:19] Fenny commented on #262
@shiftrtech thanks for opening your first issue, welcome!

Like @renanbastos93 mentioned, we run on the [Fasthttp)(https://github.com/valyala/fasthttp) engine and currently has no support for `HTTP/2.0`.

Keep in mind that `HTTP/2.0` is often taken care off by any load balancer / proxy like [NGINX](https://www.nginx.com/), [Cloudflare](https://www.cloudflare.com/), [Akamai](https://www.akamai.com/

[2020-04-07 12:23] Fenny commented on #264
Hey @wilsonwu, welcome!

We created a [boilerplate](https://github.com/gofiber/boilerplate) but is not finished yet, PR's are welcome!

[2020-04-07 12:24] Fenny commented on #257
I'm closing this, if you have information or another question regarding serverless feel free to re-open this issue!

[2020-04-07 12:24] #257 closed

[2020-04-07 12:25] #264 closed

[2020-04-07 13:01] encendre opened #265 "Allow to serve a custom listener🔥"
**Is your feature request related to a problem?**
Hi, I'd like to use fiber on a unix socket.

**Describe the solution you'd like**
The most natural way to do this is to add `(app *App) Serve(ln net.Listener)` function.

**Describe alternatives you've considered**
Also an alternative could be to expose the `app.newServer()` and then use `app.NewServer().Serve(ln)` on the listener.

[2020-04-07 15:28] wilsonwu commented on #264
@UJPrasad @Fenny thanks for your answer, I will follow the project.

[2020-04-07 15:42] Fenny commented on #265
We could add this for `v1.9.0` 👍
[code]

[2020-04-07 16:27] renanbastos93 commented on #262
At my work, we give support to http/2.0 too. We have a CDN and working with Edge Computing. www.azion.com
@aziontech

[2020-04-07 17:46] Fenny commented on #262
@shiftrtech I hope this answers your question, feel free to re-open :+1:

[2020-04-07 17:46] #262 closed

[2020-04-07 19:15] encendre commented on #265
Both are okay, but I think it's better to have a separate method.

[2020-04-08 13:13] mthli commented on #265
`app.Serve(ln net.Listener)` is better, I think it should be the method that allow users custom what they want as much as possible.

But I'm interested in how to combine fiber's listener which created from `app.prefork()` or `net.Listen()`  and user's custom listener, since `tls.NewListener()` only allow nest (or wrap) listener?

[2020-04-09 08:54] Fenny commented on #265
@mthli , good point. I think `app.Serve(ln net.Listener)` cannot support the `preforking` feature. If we add this to the docs, it should be no problem.

[2020-04-12 21:12] monzarrugh opened #270 "🤔 How can I structure my routes into seperate files?"
Right now all of my routes are in the main function.

What is the correct way to structure my application so that I can separate routes into multiple files the same way as with express?

I want to handle the GET, POST etc. of each route in a separate file for that route

[2020-04-12 21:55] renanbastos93 commented on #270
Hey @monzarrugh

If I understood you, I suggest you use a design pattern in your project, I am using currently `clean architecture`

https://blog.cleancoder.com/uncle-bob/2012/08/13/the-clean-architecture.html

[2020-04-13 03:25] mthli commented on #270
Structure routes into seperate files may caused routes conflict 🤔

[2020-04-13 04:42] Fenny commented on #270
@monzarrugh, does this help https://github.com/gofiber/boilerplate?
Or are you looking to move whole groups into separate files?

[2020-04-14 20:30] #265 closed

[2020-04-14 21:57] Jayden000 opened #272 "Uploading 500MB File"
**Question description**
When using the [upload-single file recipe](https://github.com/gofiber/recipes/blob/master/upload-file/single/main.go) I am trying to upload a 500MB file just to test Go's performance compared to node in a file upload sense and it says 413 Request Entity Too Large. I was wondering if this was a Fiber limitation and if I can change that somewhere

[2020-04-15 00:15] monzarrugh commented on #270
Yes I'd like to handle a group requests in a separate file

[2020-04-15 00:56] Fenny commented on #272
Hi @Jayden000, did you try changing the [BodyLimit](https://fiber.wiki/application#settings)?

[2020-04-19 07:17] mehmetuken opened #276 "🔥 Auto Swagger Api Documantion"
**Describe the solution you'd like**
New middleware for auto generate swagger endpoint.

**Describe alternatives you've considered**
https://github.com/swaggo/swag
https://github.com/swaggo/echo-swagger
https://github.com/swaggo/gin-swagger

[2020-04-19 09:37] mehmetuken commented on #258
boilerplate can be gorm based.

[2020-04-19 11:59] pharrisee opened #277 "💡 Template / View / Render enhancement"
Loving fiber so far, but I have one issue with the way that templating is done.

The current templating functionality is passing the raw contents of the template.

I generally use https://github.com/unrolled/render for template management, and it works really well in other Go web frameworks/routers.  However it requires the template name and not the contents to be passed to it.

I wrote a middlewa

[2020-04-19 13:49] Fenny commented on #277
Hey @pharrisee, our templating middleware was a `quick-fix` solution. You could play with the [template](https://github.com/gofiber/template) repo and submit a PR.

Or leave a code suggestion regarding our template middleware here.

[2020-04-19 13:51] Fenny commented on #276
Thanks for your suggestion @mehmetuken, personally I don't have experience with swagger. But I will ask around in our Telegram group if someone can take a look at it.

[Join Fiber on Telegram](https://t.me/gofiber)

[2020-04-19 13:51] #272 closed

[2020-04-19 13:53] Fenny commented on #201
@thomasvvugt created a experimental storage provider
https://github.com/thomasvvugt/fiber-session

Not fully tested yet, feedback is welcome.

[2020-04-19 13:56] WLun001 opened #279 "🤔 Possible for server streaming"
**Question description**
Is it possible to perform Http/2 server streaming like the snippet below?
**Code snippet (optional)**
from Echo
[code]

[2020-04-20 06:52] accyourate opened #281 "🤔 Fiber object not found in versione 1.9.0"
**Question description**

**Code snippet (optional)**

[code]
I get a compile error "undefined: fiber.Fiber"

[2020-04-20 06:54] koddr commented on #281
@accyourate hi!

What's your Go version and OS?

[2020-04-20 07:44] accyourate commented on #281
Go 1.14 with Mac OS Catalina.
I solved changing Fiber with App.
In version 1.8.x I was using *Fiber, but in 1.9.0 I need *App

[2020-04-20 11:42] #281 closed

[2020-04-20 12:34] Fenny commented on #281
@accyourate this was a mistake in `v1.8.432` because of a missing test case that was up for several hours, this version has been removed and a test case has been added.

[2020-04-20 14:25] Fenny commented on #270
@monzarrugh you could pass `app` to a custom function to register routes from a separate file.
[code]

[2020-04-20 14:29] Fenny commented on #279
@WLun001 Fiber does not support http/2 see https://github.com/gofiber/fiber/issues/262#issuecomment-610353479

We run on fasthttp that waits for a handler to return before sending the response, something like `Flush()` is not possible.

[2020-04-20 16:09] #270 closed

[2020-04-20 16:11] Fenny commented on #258
@mehmetuken PR's are welcome ofcourse. I'm closing this issue on this repo. You can open one at any time [boilerplate one](https://github.com/gofiber/boilerplate) repo.

[2020-04-20 16:11] #258 closed

[2020-04-20 21:17] Fenny commented on #209
@Shareed2k https://github.com/gofiber/embed

Special thanks to @arsmn

[2020-04-20 21:17] #209 closed

[2020-04-21 23:26] Fenny commented on #276
@mehmetuken @arsmn is working on it -> https://github.com/arsmn/fiber-swagger

[2020-04-22 04:32] WLun001 commented on #279
@Fenny actually what I wanted to achieve is realtime update on web. As far as I know currently only can do with websocket, (short/long) polling. Looking at http/2 streaming/server push solution

[2020-04-23 19:21] PranjalAgni opened #287 "🤔 I'm having issues with go get / git on Windows"
## Description
I am trying to install fiber using `go get -u github.com/gofiber/fiber` but its throwing me error I have attached below:

![image](https://user-images.githubusercontent.com/26196076/80140076-11171b80-85c5-11ea-8363-e77fc3889298.png)

Here is what `go env` commands prints
[code]

I wanted to play and learn fiber but unable to fix this issue for quite some time.

## Version
Golang 1.1

[2020-04-23 20:33] Fenny commented on #287
Do you get the same error when trying to get other Go packages?

[2020-04-23 21:07] renanbastos93 opened #289 "💡 Add Pull Request templates with code reviews"
According to talk us in Telegram, we need to implement a new process to define one flow easily to merge new features/fixes etc on Fiber.

PR == `pull request`

Suggestion:
- Title in PR using prefix (fix, feat, refactor, chore)
- Description with details
- minimal 1 approve in members from the organization to merge PR

e.g.

PR1: (CHORE)
[code]

PR2: (REFACTOR)

[code]

P3: (FEAT)

[code]

PR4: (F

[2020-04-23 21:12] PranjalAgni commented on #287
Yes got same error.

[2020-04-23 21:40] thomasvvugt commented on #279
Hi @WLun001,
Thanks for your question. I would recommend implementing real-time updates on the web using Fiber's websocket middleware. See Fenny's comment on issue #262 about missing HTTP/2 support.
Thanks!

[2020-04-23 21:40] #279 closed

[2020-04-23 22:36] thomasvvugt commented on #287
Hi @PranjalAgni

Thanks for creating this issue. However, your issue is probably regarding a problem with your Git and/or Go environment or installation. If possible, please try to re-install Git and Go on your Windows machine after resetting your environment variables as well.
https://git-scm.com/download/win
https://golang.org/doc/install

Let us know if that helped you out!

[2020-04-23 22:51] Fenny commented on #289
@renanbastos93 we could start with adding PR's templates like we do with ISSUE's
https://github.com/gofiber/fiber/tree/master/.github/ISSUE_TEMPLATE

Feature, Refactor, Fix

[2020-04-23 22:55] thomasvvugt commented on #289
Also, here is a nice guideline with PR template examples.
https://github.com/stevemao/github-issue-templates

Keep in mind; We just need more emojis! 😎

Let me know if you need any help!

[2020-04-24 03:15] Fenny commented on #287
@PranjalAgni your Go environment looks normal, you should try to re-install git & golang like @thomasvvugt suggested. But before you do that, try to add `C:\Program Files\Git\cmd` / `C:\Program Files\Git\mingw64\bin` to your PATH environment.

[2020-04-24 08:23] PranjalAgni commented on #287
@thomasvvugt @Fenny I reinstalled Git and Go again but it's still throwing me the same error. I have tried to run this in admin terminal but its same.

Attaching screenshot for my git version:
![image](https://user-images.githubusercontent.com/26196076/80190768-6d645480-8632-11ea-99e0-09e3157c5492.png)

Having hard time, I want to play around with fiber but this is blocking me.

[2020-04-24 14:20] renanbastos93 commented on #287
Do you use terminal windows or bash from git?

[2020-04-24 15:06] PranjalAgni commented on #287
I am using windows new terminal to use git. Its present as Windows Terminal(Preview) in Microsoft store. Though I also tried once in Windows command prompt (cmd) it was showing the same error

![image](https://user-images.githubusercontent.com/26196076/80226517-18dccb80-866a-11ea-9762-3a26c8d55b21.png)

[2020-04-24 15:10] renanbastos93 commented on #287
I will try in my windows later I comment here

[2020-04-24 15:30] renanbastos93 commented on #287
Wow, in my windows not so good. When I use or bash git it works, but in the native windows terminal, it doesn't.

[code]

[2020-04-24 15:59] Shareed2k opened #292 "🔥 OAuth Multi-Provider Authentication"
**Question description**
Is wrapper for [goth library](https://github.com/markbates/goth) to use with fiber Framework, provides a simple, clean, and idiomatic way to write authentication packages for Go web applications.

`go get github.com/shareed2k/goth_fiber`

**Code snippet (optional)**

[code]

[2020-04-24 15:59] CommoDor64 opened #293 "💡 Functional settings for config of App"
## Current state:
Setting default configurations and addition new ones is kinda clunky.
[code]
## Proposal
I propose to follow the methodology of Dave Cheney  https://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis
[code]

It allows extending and changing any settings related matters very easily, I personally think it is a fantastic way that should be used whenever possible. This i

[2020-04-24 16:00] CommoDor64 commented on #293
In case you find it useful I will hop on to work on a PR

[2020-04-24 16:27] Fenny commented on #293
Looks interesting, I will definitively take a look at the article

[2020-04-24 16:34] Fenny commented on #287
I tried to reproduce this issue in powershell, cmd, vscode, sublime terminal and the new windows terminal. But everything worked fine, here is my output.
![](https://i.imgur.com/gz27hIJ.png)
![](https://i.imgur.com/Fuhr3bQ.png)
![](https://i.imgur.com/NpHox4T.png)

[2020-04-24 17:24] PranjalAgni commented on #287
@Fenny  Yes I use vscode IDE. Attaching a screenshot below

![image](https://user-images.githubusercontent.com/26196076/80239656-40d62a00-867e-11ea-9566-da0a352e899a.png)

Can you tell what Git version are you using and did you choose some custom options(other than default) while installing Git?

[2020-04-24 18:20] Fenny commented on #287
@PranjalAgni are your environment variables correct?

![](https://i.imgur.com/AA6bS4y.png)

[2020-04-24 23:59] rafamttz opened #298 "🔥 Portuguese translating API docs"
**Is your feature request related to a problem?**
No.

**Describe the solution you'd like**
Translate the Fiber documentation to brazilian portuguese.

**Additional context**
The brazilian Go community is huge and Fiber is a great framework so I want bring knowledge about Fiber to people from Brazil.

[2020-04-25 01:05] Fenny commented on #298
@rafamttz, our API documentation is almost ready for translations. I will keep everyone posted when translations are accepted. Should be within 10 days 👍

[2020-04-25 01:07] rafamttz commented on #298
Okay @Fenny I'll be waiting for it!

[2020-04-25 04:36] alvarowolfx opened #299 "🤔 Converts net/http request handlers to fiber request?"
**Question description**

My use case is to user Fiber inside Google Cloud Functions or other places that enforce us to use the go `http.Handler` interface.

The code snippet below is an example using `functions-framework-go`. I know that I can probably go ahead and use App Engine or Cloud Run, but would be interesting to support also Cloud Functions.

Sorry if this is a silly question, I'm not th

[2020-04-25 08:17] Shareed2k commented on #299
yes you can try like this

[code]

[2020-04-25 12:12] CommoDor64 opened #301 "change from os.Args scan to flags"
## Current state
Command line flags are being scanned explicitly, this reduces readability, can introduce bugs and make future changes more difficult

## Proposal
Delegating this responsibility to [https://golang.org/pkg/flag/](url), as it is 1st party, idiomatic and very easy to use with little chances to introduce any issues.

It will also allow to delegate all flag parsing to a dedicate file or

[2020-04-25 12:13] CommoDor64 commented on #301
Not a bug, but not a feature either.

[2020-04-25 13:00] PranjalAgni commented on #287
@Fenny  Yes my environment variables are pointed correctly.
![image](https://user-images.githubusercontent.com/26196076/80280579-82b8ac00-8722-11ea-9d54-1dbc3d982806.png)

![image](https://user-images.githubusercontent.com/26196076/80280585-8d734100-8722-11ea-9f74-706a98ea621b.png)

[2020-04-25 13:49] thomasvvugt commented on #301
Hi @CommoDor64 , thanks for creating this issue!
I also prefer using Go's default flag package to parse any program arguments.
However, I doubt if @Fenny had any design choices for using `os.Args` back when he created the application.
If you like, you can submit a pull request for this change.

If you have any questions, please let me know!

[2020-04-25 13:55] thomasvvugt commented on #292
Hi @Shareed2k !
Thanks for creating this issue. I think the Goth package is very usefull when one is willing to use a thrid-party authentication provider using OAuth2 for example.
It supports a lot of providers and to me it seems worth to be taking a look at!

@Fenny Maybe we can create an addition middleware package for third-party authentication providers along with the session provider update?

[2020-04-25 13:56] CommoDor64 commented on #301
Sounds great.
I will work on it, is it possible to assign it to me?

[2020-04-25 14:10] jozsefsallai commented on #287
While this seems like a `git` issue, I'd recommend that you set your `GOROOT` to the folder where your Go installation is located, and `GOPATH` to the same drive (not `E:\`). Try updating it to `%USERPROFILE%\go`.

Also, remember to restart your terminal and/or vscode every time you update your environment variables, as they don't update automatically like in UNIX environments.

[2020-04-25 14:14] thomasvvugt commented on #301
Great, I assigned you to this issue as well.
Thanks for your commitment so far!

[2020-04-25 18:43] Fenny commented on #301
@CommoDor64 thanks for your commitment! The reason we switched to reading the `os.Args` was because of https://github.com/gofiber/fiber/issues/159 it created conflicts with other libraries who use the same arguments. `flag.Parse` also crashed our benchmarks running on docker at https://github.com/TechEmpower/FrameworkBenchmarks. Fasthttp had the same issues when used with different libraries and t

[2020-04-25 18:52] Fenny commented on #299
@Shareed2k is right, the `fasthttpadaptor` converts net/http request handlers to fasthttp request handlers. But keep in mind that this function may be used for easy switching from net/http to fasthttp, it has the following drawbacks comparing to using manually written fasthttp request handler:
- A lot of useful functionality provided by fasthttp is missing
  from net/http handler.
- net/http -> fa

[2020-04-25 18:57] CommoDor64 commented on #301
I suspected there was a valid reason for it.
But since there are only two flags so far, I think we can close it for now if you want (:

[2020-04-25 19:05] Fenny commented on #292
@Shareed2k awesome work, we will keep this issue open until our session middleware is finished. Me and @thomasvvugt are currently working on it. Will keep you updated.

[2020-04-25 19:07] Fenny commented on #301
@CommoDor64 thanks for your feedback, I do agree that using the default functions is the best practice. We might come back to this in the future 👍

[2020-04-25 19:07] #301 closed

[2020-04-25 19:08] Fenny commented on #293
@CommoDor64 could you show us an real-world example on how the api/syntax would look like for the end-user?

[2020-04-25 21:15] CommoDor64 commented on #293
Sure,
*main.go*
[code]

#### The main sell-points for me are two things
1) No cumbersome conditionals when setting default values, such as in New() in app.go
2) You don't expose the Settings struct and "trust" the user to set it up correctly

[2020-04-25 21:54] PranjalAgni commented on #287
I wanted to keep my go workspace at `E:\Golang` that's why I kept there, also I have tried the path suggested by you previously but it was the same error.

Yes I am using new Windows Terminal it has WSL support, also I have enabled WSL support in my Windows machine through management window.

Yup I am not using network drives.

[2020-04-26 00:07] alvarowolfx commented on #299
Hey, thanks for the support. What I wanted to do was the opposite of that. I was able to do that by using an HTTP client calling the internal Fiber app.

It's super cumbersome but solves the problem on the Cloud Functions case that strictly requires us to use `http.HandlerFunc`. For Cloud Run and App Engine that will not be required. I'll try to wrap up some basic examples for each Serverless plat

[2020-04-26 01:10] Fenny commented on #298
@rafamttz, translations are now possible!

Please visit -> https://crowdin.com/project/gofiber

[2020-04-26 01:18] rafamttz commented on #298
Ok, I'll fork the project and then open PR...

[2020-04-26 02:22] Fenny commented on #298
@rafamttz translations can be done via the crowdin interface.
![](https://i.imgur.com/cwMlpdP.png)

[2020-04-26 02:31] Fenny commented on #287
@PranjalAgni could you join us on Telegram? https://t.me/gofiber maybr I could help you out remotely.

[2020-04-26 07:09] Fenny opened #309 "📙 Help Translating API Docs"
It's now possible to submit translations online for our API documentation.

**1)** Visit [https://crowdin.com/project/gofiber](https://crowdin.com/project/gofiber), and click on the language you want to translate.
![](https://i.imgur.com/AM9hRCq.png)

**2)** Click on the file that is not yet `100%` translated.
![](https://i.imgur.com/C2X9SuK.png)

**3)** Click on the text related blocks that are n

[2020-04-26 07:10] #309 closed

[2020-04-26 08:48] gocs commented on #299
Is there any way to prevent that pprof dependency?

[2020-04-26 09:18] PranjalAgni commented on #287
@Fenny Sure I will join on Telegram.

[2020-04-26 09:29] #287 closed

[2020-04-26 10:05] thomasvvugt commented on #293
I don't agree with the fact that trusting the user to set up a Fiber application correctly is a selling point. I like the way that the Settings struct provides an overview of all the settings for the application, however I am waiting response from the other maintainers as well.
Thanks for your comment on the syntax!

[2020-04-26 10:06] thomasvvugt commented on #298
Please see the above comment for contributing translations.

[2020-04-26 10:06] #298 closed

[2020-04-26 10:08] thomasvvugt commented on #289
@Fenny , I'll leave this issue open for future work on improving our pull request templates.

[2020-04-26 10:16] CommoDor64 commented on #293
I meant the other way around, you don't trust the user.
It creates a limited functional API to work upon.

If the user wants to see what options are available for the settings he can either take a look at the **public functional options** or take a look inside the package to examine the **not-longer-public settings struct**, the latter should not be needed unless the user wants to alter the fiber

[2020-04-26 10:23] thomasvvugt commented on #201
@Fenny and I are working a fresh version of the session middleware. Spoiler: We are providing the ability to implement multiple third party session providers! 🎉

[2020-04-26 10:53] Fenny opened #311 "💡 ETag header / ctx.Fresh"
This is a proposal to finish the [ctx.Fresh()](https://github.com/gofiber/fiber/blob/master/ctx.go#L411) method along with [ETag header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag) support.

- The `Fresh` method originates from [expressjs/req.fresh](https://expressjs.com/en/4x/api.html#req.fresh) but we never finished it [context#fresh](https://docs.gofiber.io/context#fresh
)

[2020-04-26 11:27] Shareed2k commented on #299
pprof is just example

[2020-04-26 12:50] Shareed2k commented on #201
can it be easy to implement just store interface, and we can implement store methods and use it with others stores without make pr to the repo and hard code it...

[2020-04-26 21:13] thomasvvugt commented on #201
Hi @Shareed2k , thanks for your comment. We stuck with the interface option for now, we keep you all posted about our progress in the coming days!

[2020-04-26 21:26] alvarowolfx commented on #299
Just submitted the PR adding the Google Cloud examples https://github.com/gofiber/recipes/pull/16

[2020-04-26 21:43] djui opened #313 "🐞 Test duration -1 does not disable the timeout"
https://github.com/gofiber/fiber/blob/101e1cce98bb20fd72b32d40dc7dc0e3f176e305/app.go#L400-L409

[2020-04-27 01:45] asad-awadia commented on #166
@Fenny any updates on this?

[2020-04-27 07:20] Fenny commented on #313
@djui, welcome and thank you for your contribution.

This issue has been addressed in https://github.com/gofiber/fiber/pull/314 👍

[2020-04-27 07:20] #313 closed

[2020-04-28 04:19] WLun001 opened #319 "🤔How to add server timing header"
**Question description**
How to attach [server timing](https://w3c.github.io/server-timing/) at response? Need a custom middleware for that?

[2020-04-28 20:03] Fenny opened #323 "🔥 v1.9.3 changelog"
**🚀 Fiber `v1.9.3`**
[code]

Special thanks to @monzarrugh, @renanbastos93, @glaucia86, @bestgopher, @ofirrock, @jozsefsallai, @thomasvvugt, @elliotforbes, @khaibin, @tianhongw, @arsmn, @da-z   and everyone else who helped contribute to make this tag possible.

**🔥 New**
- API Documentation is translatable here https://crowdin.com/project/gofiber https://github.com/gofiber/fiber/issues/309
- `c.Fr

[2020-04-28 20:03] #323 closed

[2020-04-28 20:11] #311 closed

[2020-04-28 20:11] #276 closed

[2020-04-28 20:12] #289 closed

[2020-04-29 03:02] Fenny commented on #319
You mean you want to record the latency / duration / timing of a request?
[code]
`2020/04/29 05:01:13 Request took  2.0000487s`

[2020-04-29 03:29] Fenny commented on #293
Hi @CommoDor64, we appreciate your suggestion! I do understand where you're coming from, but I tend to agree with @thomasvvugt. All possible settings are exposed on purpose to give users the complete freedom and flexibility for their web app.

Everything is well [documented](https://docs.gofiber.io/application#settings) including the default values. With the current setup it's easy to explore the

[2020-04-29 03:29] #293 closed

[2020-04-29 03:46] Fenny commented on #299
@alvarowolfx, I'm happy you got this working. Too bad Google Cloud forces you to use a `http.HandlerFunc` instead of a fixed port.

I will work on a simple [adapter middleware](https://github.com/gofiber/adaptor) for fiber when I have some spare time left. Thanks for sharing your problem and solution, I will mention this issue in an upcoming `TODO` issue.

[2020-04-29 03:46] #299 closed

[2020-04-29 04:11] alvarowolfx commented on #299
I'll take a look on starting it on a separated port and proxying the request, but I think the current workaround that I sent do almost that.

But at least this is only required on Cloud functions, maybe on the recipes repo we encourage people to use app engine or cloud run for now, as this is not needed on those environments.

[2020-04-29 05:58] WLun001 commented on #319
@Fenny , yes something like this. But want it to be attached to return response header. Not sure that's possible

[2020-04-29 13:57] #319 closed

[2020-04-29 14:34] Fenny commented on #319
Awesome! I suggest using the `c.Set` method
[code]

[2020-04-29 14:46] WLun001 commented on #319
@Fenny any reason use `c.Set` over `c.Append` ?

[2020-04-29 16:03] datvt9312 opened #326 "🤔 Chain middlewares possible?"
In express.js, I can chain middlewares for a single route, ie. adding middleware 1, middleware 2, and cors, by doing this:

app.get("/greeting", middleware1, middleware2, cors, (req, res, next) => {
  res.send({
        success: true
    })
});

can we implement this feature in fiber?

[2020-04-29 17:10] Fenny commented on #319
@WLun001
https://docs.gofiber.io/context#append
Appends the specified value to the HTTP response header field.

https://docs.gofiber.io/context#set
Sets the response’s HTTP header field to the specified key, value.

[2020-04-29 17:20] Fenny commented on #326
@datvt9312, this is already implemented :smile:
[code]

[2020-04-30 00:00] rebootcode opened #327 "🐞 Multiple Bugs"
### **Fiber version/commit**
1.9.3

### **Issue description**

**Bug 1:**

- ./main.go:8:33: cannot use fiber.Settings literal (type fiber.Settings) as type *fiber.Settings in argument to fiber.New

Code was taken from here - https://docs.gofiber.io/application#settings

[code]

===================

**Bug 2: Directory Index is Forbidden**
**Bug 3: "bind variable is empty in template -- {{ .bind.Ti

[2020-04-30 00:11] rebootcode commented on #327
But, the Directory index issue is gone, When I use "Static" function at end of the file like below:

[code]

[2020-04-30 04:38] FriendlyUser opened #328 "🤔 ctx.QueryMulti"
**Fiber version/commit**
v1.9.3
**Issue description**
Can't use ctx.QueryMulti to get an query parameter array as a list of strings.

When copying the code over from the PR #288 in my local project, it worked fine.
**Expected behavior**

ctx.QueryMulti should exist on v1.9.3
**Steps to reproduce**
Try adding ctx.QueryMulti, this function was not available at

Do not see ctx.QueryMulti in the sourc

[2020-04-30 06:45] PranjalAgni commented on #287
So I installed [Ubuntu Terminal](https://www.microsoft.com/en-us/p/ubuntu/9nblggh4msv6) for Windows, and it solved all my problem. Now I just type `bash` when I want to open Ubuntu terminal from cmd and directly install any packages I need.

[2020-04-30 11:45] Fenny commented on #328
Hi @FriendlyUser, welcome to Fiber. We didn't merge `ctx.QueryMulti`, explained [here](https://github.com/gofiber/fiber/pull/288#issuecomment-618739905). The [latest master commit](https://github.com/gofiber/fiber/blob/27a7b21716154e0c3fd4afbf1a31896994fec4f5/ctx.go#L658) points to the [ctx.Query](https://docs.gofiber.io/context#query) function.

[2020-04-30 11:46] #326 closed

[2020-04-30 12:20] Fenny commented on #327
Hi @rebootcode, thanks for opening your first issue on fiber.
I fixed the following things:
- The [API Docs](https://docs.gofiber.io/application) had a wrong example, it should have been `fiber.New(&fiber.Settings{})`
- The `Directory Index is Forbidden` error will be fixed in this PR https://github.com/gofiber/fiber/pull/329 (nice catch)
- Regarding the missing variable in the render function, it

[2020-04-30 12:20] #327 closed

[2020-04-30 13:31] #328 closed

[2020-04-30 18:07] datvt9312 opened #330 "🐞 Error when parsing .jade template layout"
**Fiber version/commit**
v1.9.3
**Issue description**
Error when parsing .jade template layout
**Expected behavior**
Can parse .jade template to HTML and return correctly to client
**Steps to reproduce**
1. Config application with Pug as HTML template
[code]
2. Create a .jade file
[code]
3. Go to the page -> Error announce that ```golang template: :1: function "title" not defined```

**Code snippe

[2020-04-30 19:54] Fenny opened #331 "💡 Changing the Template system"
I'm writing this issue publicly so that everyone using Fiber can share their opinion regarding this matter. The way it currently works is very limited, outdated and not stable (https://github.com/gofiber/fiber/issues/277, https://github.com/gofiber/fiber/issues/330, https://github.com/gofiber/fiber/pull/320, https://github.com/gofiber/fiber/issues/190, https://github.com/gofiber/fiber/issues/182)

[2020-04-30 19:55] Fenny commented on #277
@pharrisee We are going to change the way we render templates in Fiber. I opened an discussion that relates to multiple issues including this one, if you have any ideas or feedback please post them here https://github.com/gofiber/fiber/issues/331

[2020-04-30 19:55] #277 closed

[2020-04-30 19:56] Fenny commented on #330
@datvt9312 thanks for submitting a detailed bug report. I can confirm that Jade is indeed broken 😢 We are going to change the way we render templates in Fiber. I opened an discussion that relates to multiple issues including this one, if you have any ideas or feedback please post them here https://github.com/gofiber/fiber/issues/331

[2020-04-30 19:56] #330 closed

[2020-04-30 20:34] thomasvvugt commented on #331
I really much like the way Laravel implemented their Laravel Blade templating system. It allows code executing in a template, as well as escaping HTML characters to reduce injection attack-surface and has zero overhead to the application.
It's written in PHP, but I like their approach to templating. Personally, I do use Mustache for templating but also miss some features Laravel Blade offers. I'll

[2020-04-30 21:06] rebootcode commented on #327
Great!

- Bug 1 is gone
- Bug 2 not yet tested - Is there going to be any new Patch version released to pull via go.mod?
- Bug 3 - Found out - It maps directly to the template without variable name.

[code]

In Template - `{{ .Title }}` is available with the value `{{ .bind.Title }}` is not.

[2020-04-30 22:00] Fenny commented on #327
@rebootcode you are correct regarding point 3. Bind should not be in the variable namespace.

Regarding point 2, expect a new release within the next 2-3 days.

[2020-04-30 22:11] rebootcode commented on #327
Ok. Great!

Thanks

[2020-04-30 23:40] Nifty255 opened #332 "🔥 Pass data to next handler."
**Is your feature request related to a problem?**
No.

**Describe the solution you'd like**
Implement a lazily-allocated map into Ctx, which can be given data via a `Pass` function or retrieved from via `Retrieve` function. There may be a better idea, though. If there is, go for it.

**Describe alternatives you've considered**
I've considered writing a global map for the passing of data, but it wo

[2020-05-01 06:31] harikt commented on #331
Hey,

In expressive now [mezzio](https://docs.mezzio.dev/mezzio/v3/features/template/interface/) it tries to bring multiple template engines. The way you mentioned in the fiber template is what it also does behind the scenes. But it also add another feature like namespace and adding multiple paths.

So if you add a path `$renderer->addPath('templates/error/', 'error');` then `error` namespace get

[2020-05-01 08:11] thomasvvugt commented on #331
Mainly, in-line functions using templating in Go is a difficult job to do just right. Therefore, just like Node, templating commonly has the ability to add [Template Functions](https://expressjs.com/en/guide/using-template-engines.html) to a specific template.
I like you approach on having a seperate template directory for server-side errors, I also do this when creating applications as well as a

[2020-05-01 08:18] thomasvvugt commented on #332
Duplicate of #158

[2020-05-01 08:18] #332 closed

[2020-05-01 08:20] Nifty255 commented on #332
Perhaps a more present example in the readme or documentation would be helpful?

[2020-05-01 08:24] thomasvvugt commented on #332
Hi @Nifty255 ,
You can create a PR in [gofiber/recipes](https://github.com/gofiber/recipes) if you like.
Documentation for Locals can be found [here](https://docs.gofiber.io/context#locals).
Thanks for bringing this up!

[2020-05-01 21:18] huzeyfecoskun opened #334 "ctx.JSON is not returning data"
Here is the code. Fiber returns nothing. whats the error ?

[code]

[2020-05-02 00:01] pharrisee commented on #331
I would think that the renderer should be an interface, take a look at the way [Echo](https://github.com/labstack/echo/blob/2207c37bf875b40f2f7b14c587c1c3de7581340e/echo.go#L124) and [Ship](https://github.com/xgfone/ship/blob/master/render/render.go#L27) do it for instance.

This would mean that the fiber team can implement out-of-the-box template systems which match the interface, and end users c

[2020-05-02 02:00] #334 closed

[2020-05-02 02:00] huzeyfecoskun commented on #334
its my fault sorry i set variable private because i am newbie on go

[2020-05-03 23:56] Fenny commented on #292
Our session middleware is updated to `v1.0.0` I saw you also updated this in your mw. We will add your repo to our official third party middlewares.

[2020-05-03 23:56] #292 closed

[2020-05-05 10:50] ssimk0 opened #338 "🔥 Guidelines for creating Middleware"
**Is your feature request related to a problem?**
I want create some custom middleware, I try recreated it by look at the existing middleware but it's little bit hard and I don't found any docs around that how it works.

**Describe the solution you'd like**
I would like see small docs section around the middleware and also usage only for one route only

[2020-05-09 23:14] fhammoud opened #352 "🤔 app.Static serving JS as text/plain"
**Question description**
I'm not sure if this is a bug or if I'm doing this wrong, but I created an Angular 9 app to be served by my Fiber app. The Angular app compiles the output to /public. When I add the app.Static middleware I can see that all my angular files have been sent but the JS files have the mime-type text/plain instead of application/javascript, and so the browser is throwing an erro

[2020-05-10 11:37] Fenny commented on #352
What OS are you using and do the javascript files have the `.js` extension?

[2020-05-10 17:05] fhammoud commented on #352
I'm on Windows 10, and yes they do have .js extension. They're the typical Angular app files if you're familiar with Angular.
![image](https://user-images.githubusercontent.com/10720157/81505654-b6104480-92a5-11ea-9de3-27a31aa2bd68.png)

[2020-05-10 17:41] fhammoud commented on #352
@thomasvvugt Helped me with this. The issue was wrong `Content Type` defined for `.js` in the Windows registry.
In case anyone else sees this, open regedit, go to HKEY_LOCAL_MACHINE > SOFTWARE > Classes > .js (or any other file extension you need). Then modify the Content Type field.

[2020-05-10 17:42] #352 closed

[2020-05-10 22:12] cgiacomi opened #354 "🐞 Nested routing not working, id interpolated incorrectly"
**Fiber version/commit**
1.9.5

**Issue description**
Nested routes not called, id interpolated incorrectly

**Expected behavior**
Nested route called correctly

**Steps to reproduce**

go run server.go
(snippet below)

curl --request GET --url http://localhost:1500/resource
(this route called correctly)

curl --request GET --url http://localhost:1500/resource/12345
(this route will work, and resp

[2020-05-11 02:38] Fenny commented on #354
cc @ReneWerner87
[code]
@cgiacomi, thanks for your bug report, I can confirm that this is unwanted behavior and will be fixed asap.

[2020-05-11 05:59] ReneWerner87 commented on #354
![image](https://user-images.githubusercontent.com/7063188/81528431-f4b50600-935c-11ea-981e-08c8e4562f6e.png)
![image](https://user-images.githubusercontent.com/7063188/81528463-08606c80-935d-11ea-8e34-48adc20bbfd3.png)
![image](https://user-images.githubusercontent.com/7063188/81528473-12826b00-935d-11ea-9336-ecbc80e98b01.png)

![image](https://user-images.githubusercontent.com/7063188/81528485-1

[2020-05-11 06:19] cgiacomi commented on #354
Hi ReneWerner87,

looking at the output from your tests you should see the response

 "NEVER CALLED BUG id: 12345" and "NEVER CALLED BUG bid: 999" returned...

but it doesn't seem to me that it's the case, which means that you just
reproduced the bug.

kind regards,

Chris

On Mon, May 11, 2020 at 7:59 AM ReneWerner87 <notifications@github.com>
wrote:

[2020-05-11 06:20] ReneWerner87 commented on #354
found the bug in the meantime, I'm working on a fix

[2020-05-11 06:21] cgiacomi commented on #354
@ReneWerner87 @Fenny thank you for your time.

[2020-05-11 06:46] ReneWerner87 commented on #354
fixed in PR:
https://github.com/gofiber/fiber/pull/356
fix in fastpath:
https://github.com/renanbastos93/fastpath/pull/6

@cgiacomi thanks for the bug report

[2020-05-11 09:18] pot-code opened #357 "🔥 Middleware execution order"
**Is your feature request related to a problem?**
I know that the execution priority of middleware is the same with normal route, but I have used a dependency injection tool and I have to register controller routes before  middlewares, thus all of the middlewares will be useless.

**Describe the solution you'd like**
increase the priority of middleware

**Describe alternatives you've considered**

[2020-05-11 09:44] thomasvvugt opened #358 "🔥 Live-reloading (and hot-deploy) for Fiber"
**Describe the solution you'd like**
Live-reloading utility for Go applications in development such as [cosmtrek/air](https://github.com/cosmtrek/air), we also might want to take a look at solutions for hot-deployment for production environments.

**Alternatives**
Live reloading alternatives:
[oxequa/realize](https://github.com/oxequa/realize)
[qrtz/livedev](https://github.com/qrtz/livedev)
[devlo

[2020-05-11 09:52] thomasvvugt opened #359 "🔥 Command-line-interface"
Related issue: #358

**Describe the solution you'd like**
A CLI to create a new Fiber application such as `fiber new`, deployment using `fiber deploy` and modifying the MVC design pattern for example, using `fiber make:controller UserController`.

**Alternatives**
[spf13/cobra](https://github.com/spf13/cobra)

**Additional context**
As discussed in #off-topic, I put this here to store this idea to

[2020-05-11 10:51] koddr commented on #359
We can improve my project to only Fiber: https://github.com/create-go-app/cli

[2020-05-11 11:13] jozsefsallai commented on #359
Like I said in the chat, this looks like something we should implement in v2 maybe

[2020-05-11 11:44] Fenny commented on #354
Thanks @ReneWerner87!
@cgiacomi thnx for your report, hotfix is tagged in [v1.9.6](https://github.com/gofiber/fiber/releases/tag/v1.9.6)

[2020-05-11 11:44] #354 closed

[2020-05-11 12:17] koddr commented on #359
...if `v2` is happen :D bcs, I and @Fenny would be stay on `github.com/gofiber/fiber` without `v2` folder on project. Okay, I understand you.

We could aggregate some feature, what `github.com/gofiber/cli` may to do for users. For ex., we can use @thomasvvugt boilerplate template as basic project and generate a new project from CLI.

Like, `fiber-cli create <app name> -t <template name or link to

[2020-05-11 17:42] amjadniazi48 commented on #331
In think if fiber use twig, it will be great.I am new in fiber,I want to render a template without mustache and with native go "html/template" package is there any example , how to do that?

[2020-05-11 20:42] thomasvvugt commented on #352
Issue is open on Go itself as well.
See https://github.com/golang/go/issues/32350

[2020-05-12 10:09] zone1996 opened #362 "🐞"
[code]
when i visit 127.0.0.1:8001/tt,
it only print "exec h1"
so i read the source code, may be this is a bug.
otherwise, why the register method using variable handlers parameters?

[2020-05-12 10:20] zone1996 commented on #362
found the problem:i should call c.Next() at the end of every handler.

[2020-05-12 10:20] #362 closed

[2020-05-12 13:06] Fenny commented on #357
Thank your for your detailed issues @pot-code.
We cannot change the priority due to design, it would break compatibility.

Every route could be considered as a "Middleware" but using the "Use" method allows you to match path prefixes and any HTTP method. Maybe you could assign the path prefixes to your middleware to the routes it should apply too.

[code]

[2020-05-12 17:55] CommoDor64 commented on #359
A small note regarding this feature.

Keep in mind that the go community is relatively rigid, and dislikes "magic framework". As a prove you can see the adoption of [buffalo](https://github.com/gobuffalo/buffalo) compared to  [go-kit](https://github.com/go-kit/kit).

Projects like Buffalo never got the massive adoption like Rails in the ruby community, and I foresee failure for any project that wi

[2020-05-13 06:14] phtdacosta opened #371 "🤔 How to use BodyParser with multiple structs?"

[2020-05-13 06:29] UJPrasad commented on #371
Create a new struct that holds your incoming JSON format with all those structs used?

Example:

[code]

[2020-05-13 07:15] phtdacosta commented on #371
So it means that BodyParser can only dump the body into one and just one struct, then? I need to decompose it manually, right?

[2020-05-13 08:08] pot-code commented on #357
Better go change my code, close the issue

[2020-05-13 08:08] #357 closed

[2020-05-13 11:07] rebootcode opened #372 "🐞 Fiber app Crashed ~ "Limiter Middleware""
**Fiber version/commit**
v1.9.5

**Issue description**

App Crash Below is the log, most probably "limiter" middleware is the reason of crash.

**Expected behavior**
No crash

**Code snippet**

[code]

[2020-05-13 12:29] thomasvvugt commented on #372
Hi @rebootcode ,
Could you try updating Fiber to v1.9.6 and the Limiter Middleware to v0.0.4?
Let me know if the issue still persist!

[2020-05-13 12:32] thomasvvugt commented on #371
Hi @phtdacosta ,
Could you explain what exactly you mean by multiple structs a little further?
Do you mean nested structs, or different structs next to each other from a JSON dictionary?

[2020-05-13 12:50] rebootcode commented on #372
My Limiter Middleware was already to v0.0.4, I updated my Fiber to 1.9.6 and I believe error is gone.

So, any guess on what made that to throw an error?

[2020-05-13 13:02] #372 closed

[2020-05-13 14:43] Lol3rrr commented on #359
While this is true @CommoDor64 I think this could still fit this project, because Fiber already "wants to be" like express and could act as an entry point for people, coming from JS/Node, it could serve as a help to them and would also be more familiar as more and more JS applications have this.

But yeah I think this would rather be for people that are new to Go with a JS or Ruby background and n

[2020-05-13 15:03] UJPrasad commented on #371
@phtdacosta

You can even unmarshal the contents into different structs using pointers in go?

[code]

[2020-05-13 16:56] itsursujit opened #375 "🤔 How to embed static files, assets and templates in compiled binary?"
I'm trying to use Fiber for my next project and I'm new to Fiber. Please let me know how can I include css,js,images, fints, templates, etc in compiled binary?

[2020-05-13 16:59] Fenny commented on #375
Welcome @itsursujit, please take a look at our embed middleware
https://github.com/gofiber/embed

[2020-05-13 21:04] thomasvvugt commented on #359
In my opinion, the proposed CLI should be nothing more than a wrapper to generate code based of specified parameters. Simple tasks such as creating a new Fiber application and creating new classes such as Models/Views/Controllers as shown in the example can be automated and can also save developers some time! ☕
@koddr I looked at your repo, it looks fancy. If you agree, we might use this as a prot

[2020-05-13 21:50] koddr commented on #359
Yep, sure! 👍

[2020-05-14 08:37] #375 closed

[2020-05-14 09:02] itsursujit opened #378 "🔥 Support Message Broker, Scheduler Tasks and Background Jobs"
I love the performance of fiber. It would be even best if fiber also provide support for Message Brokers like Redis, RabbitMQ, SQS,  Kafka, ASync.

Also tasks scheduler in fiber would also be a great feature.

With above solution, we could implement and long processing tasks in background while serving the response to user without any delay and wait for the background tasks to be completed.

Use C

[2020-05-14 10:07] st-wong opened #379 "🐞 Similar routes execute wrong handlers"
**Fiber version/commit**
Version 1.9.5

**Issue description**
Route of a similar path structure doesn't call the right handler. I have 2 routes which have same methods (PATCH), 1st route `/projects/:id` and 2nd route `/projects/:id/metadata`. So PATCH on the 1st route has no issue, however, when performing a PATCH on the 2nd route, it calls the handler for the 1st route and on checking the `Params

[2020-05-14 13:54] Fenny commented on #379
Welcome @st-wong, this bug has been fixed in `v1.9.6`.

[2020-05-15 04:17] #379 closed

[2020-05-15 11:54] felixwan-git opened #381 "🔥 Support third-party json components"
**Is your feature request related to a problem?**
1. Can not tolerate conversion between string and number types
like Id value always is 0
[code]
2. Cannot support ignore json tag for temporary situation
3. May be third-party json components has Better performance. like jsoniter  [https://github.com/json-iterator/go](url)

**Describe alternatives you've considered**
  Use jsoniter component to res

[2020-05-15 16:30] Fenny commented on #381
Welcome @felixwan-git, it might be an option to provide a custom JSON engine in the future.
But this won't be added in `v1.9.x` anytime soon, we use json-niter as our default JSON parser until Go`v1.14` was released and had better performance.
[code]

To answer your second question, to ignore fields wile marshaling you can use:
[code]

[2020-05-15 17:06] Lol3rrr commented on #381
Im not sure how exactly the json engine is used/called, but wouldn't it be possible to use an interface?
This interface would then just specify a marshal/unmarshal function that will be used.

Or you could have two functions, marshal and unmarshal which are by default the ones that are used right now.

You could then have a simple option or setter to provide your own engine or functions.

[2020-05-15 23:30] boolooper opened #382 "🤔 Any way to set header instead of appending to existing value?"
Is there any way to completely vanish previous values of a header and set a completely new value?

[code]

will result `Foo: bar, jar`

But I want the output as `Foo: jar`.

Any way?

[2020-05-15 23:51] boolooper commented on #382
`ctx.Set` is the solution. But it should be in documentation. Closing....

[2020-05-15 23:51] #382 closed

[2020-05-15 23:52] Fenny commented on #382
Welcome @boolooper! Sure thing, remember we almost have a 1:1 API like [expressjs](https://expressjs.com/en/4x/api.html)

Fiber uses the `ctx.Set(key, val)` method, which is documented under the context section https://docs.gofiber.io/context#set

[2020-05-15 23:54] boolooper commented on #382
Got it. Btw off-topic,  any work on implementing `context.Context` in `ctx`?

[2020-05-15 23:56] Fenny commented on #378
Hi @itsursujit, Fiber is a minimal framework. One of the key features is simplicity, therefor we made a design choice to separate all middlewares and not extend the API further than expressjs.

We give the user the possibility to create middlewares for Fiber. The examples you named are very use-case specific, and it would be better if you create your own middleware for it.

[2020-05-16 00:26] #371 closed

[2020-05-16 00:26] Fenny commented on #371
I'm closing this issue since the question has been answered.

[2020-05-16 00:32] #378 closed

[2020-05-16 00:39] Fenny commented on #338
Hi @ssimk0, sorry for the late reply. I think this is a great idea!

Having documented guidelines for creating middleware packages ensures that all third-party contributions are consistent.

Guidelines:
- Third party repo's should start with `fiber-` i.e.: `fiber-session`
- It must contain a [Config](https://github.com/gofiber/requestid/blob/master/main.go#L15)
- Initialization should always be na

[2020-05-16 02:30] felixwan-git commented on #381
Hi @Fenny
usually we can use json tag to complete. But in some cases, especially when the json tag cannot be changed, some special settings are needed to achieve the expectations. For example, the pb.go structure generated by protobuf cannot be used with the default encoding / json library because we cannot change the json tag, but the third-party library can do it. This saves us a lot of developm

[2020-05-16 04:58] ssimk0 commented on #338
Hi, @Fenny thanks for your answer I will look at it :), only my question is should I use `Filter func(*fiber.Ctx) bool` for example to filter HTTP methods on which should middleware apply? I use for example JWT middleware but all get requests should be public and you can post/put/delete only with token then I use:
[code]

This is how you think about these ?

[2020-05-16 08:04] thomasvvugt commented on #338
You can use the Filter function to skip a middleware from being executed. It has `fiber.Ctx` as a parameter to do logic with.
Fiber uses the `Filter` func in the following way;
[code]
So, in your example this would mean that the specified middleware would skip all requests with the HTTP Method `GET` as the `Filter` func would return `true`.
Let me know if that helps you out!

[2020-05-16 08:12] koddr commented on #338
⭐ Wish: try to cover the code with 100% tests at once.

[2020-05-16 17:49] koungkub opened #389 "🤔 Pass *sql.DB as arugement but got sql: database is closed"
**Question description**
fiber v1.9.6

If I send the first request, it will accept 200. However, In the same condition.If I send the second request, I will get 500. So I don't know what wrong with this code and how can I fix it?

**Code snippet (optional)**

[code]

[code]

[code]

[2020-05-16 23:45] Fenny commented on #338
@ssimk0, I hope @thomasvvugt answered your question.
We could also discuss to use `cfg.Before` & `cfg.After` where `Before` will have the same behaviour like the current `Filter` and `After` will execute after all routes are handled ( end of the request ).

[2020-05-17 06:03] ssimk0 commented on #338
@Fenny @thatzacdavis yours answers help a lot. Thank you :)

[2020-05-17 08:47] thomasvvugt commented on #389
Hi @koungkub ,
This issue is not related to Fiber in any way, but rather to go-sql-driver or incorrect error handling.
However, you might want to print your error in your `main` package like this.
[code]

[2020-05-17 08:47] #389 closed

[2020-05-17 14:22] koungkub commented on #389
hi @thomasvvugt sorry in above code snippet is my mistake

can you review this code snipper below

[code]

[code]
When I pass db via `c.Locals("db", db)`  and  I send the first request I got 200 response but I send second request i got 500 response and this is log `sql: database is closed`

thank you

[2020-05-17 21:46] securisec opened #391 "🐞 Status code is not being set in a middleware function"
**Fiber version/commit**
1.9.6

**Issue description**
When setting `Status` in conjunction with `SendFile` in a middleware function, in my case, the last handler for a catchall for nonexistent routes, the status is not being set, but instead defaulting to 200 which is default for `SendFile`. This is slightly different behavior from what is expected based on a different example from the [docs](http

[2020-05-17 23:13] boolooper opened #392 "🐞 Ctx.Params() always returns lower case string."
**Issue description**

[code]

**Expected behavior**

[code]

[2020-05-18 00:37] Fenny commented on #391
Welcome @securisec, thank you for your detailed bug report!

I reproduced the same result using `SendFile()`, this is because Fasthttp overwrites the status code. I applied a fix and this will ship with the next release in `v1.10`.

For the time being, you could use the following snippet:

[code]

I will leave this issue open until we tag `v1.10` 👍

[2020-05-18 21:28] roger-king opened #393 "How can I implement a graphql endpoint that uses HandlerFunc?"
**Question description**

A lot of the Graphql libraries out there (gqlgen) use HandlerFuncs which does not align with FastHTTP. I see FastHTTP has a function called `NewFastHTTPHandler` that I thought I would be able to use in hopes of passing that as the method for the HTTP request. Any ideas on how I would be able to implement this?

**Code snippet (optional)**

[code]

[2020-05-19 02:24] Fenny commented on #393
We created an [adaptor](https://github.com/gofiber/adaptor) middleware that supports converting `http.Handler` & `http.HandlerFunc` to a `func(*fiber.Ctx)` handler.

[2020-05-19 09:47] jos- opened #394 "🐞 Group middleware does not work when route has parameters"
Thanks for the great framework. However, I encountered the following bug:

**Fiber version/commit**
v1.9.6

**Issue description**
Group middleware is not executed when the group route has parameters.

**Steps to reproduce**
See code below and compare http://localhost:8080/a with http://localhost:8080/b
`myMiddlewareA` is called, but `myMiddlewareB` not.

**Code snippet**

[code]

[2020-05-19 14:26] Fenny commented on #392
This fix will be shipped in the next release `v1.10` I will keep this issue until it's tagged.
To bypass this issue you could set the `CaseSensitive` param to true for now.

[code]

[2020-05-19 15:17] roger-king commented on #393
Thank you! I knew I was missing something!

[2020-05-19 15:17] #393 closed

[2020-05-19 18:20] jos- commented on #394
This was just an example. If the group doesn't start with a parameter, but is e.g. `/v1/users/:id`, the same problem occurs.

Starting a group with a parameter can be useful if it's not a root-level group.

[2020-05-19 18:34] jos- opened #395 "🤔 Router group matches partial path, is this intended?"
**Question description**

If I have a router group `/a`,  it matches all requests starting with `a`, e.g. not only `/a/b`, but also `/api`, `/abc`, etc.
I think this is different from how most other routers work, and can be confusing. Is this a bug, or is this intended?

Possibly related: #394

**Code snippet**

Try running the snippet below and visiting http://localhost:8080/api

[code]

[2020-05-19 18:45] rof20004 commented on #394
@jos-

I disagree, I think a group need a name to identify it, than it needs to be a static name. In my opinion.

[2020-05-19 18:56] jos- commented on #394
Consider part of the GitHub api (https://developer.github.com/v3/repos/branches/) as an example. It has the following routes:

[code]

Here it can be very useful to have a route group for `/repos/:owner` or `/repos/:owner/:repo` with middleware that checks if the current user is authorized to access these routes.

[2020-05-19 19:31] rof20004 commented on #394
Like I said, this is a design. What are you doing is a code design, not a rest application design. The Github example is a rest uri design, not a code application design.

https://restfulapi.net/rest-api-design-tutorial-with-example/#model-uris

Your code is this:

[code]
If you analize, /:somerouteparameter can be /a, ok? But /a is your first group, your rest uri design is confused.

[2020-05-19 19:43] rof20004 commented on #394
I code like this, using your example:

[code]

[2020-05-20 07:48] jos- commented on #394
My point was:

1. Parameters in route groups already work, no need to fix this. Removing this possibility would be a bad idea IMO, since many other frameworks support this.
2. I gave a minimal code example to show the issue. Of course this was not according to rest practices. If you want a more restful example from the GitHub api:

[code]

You can see here that:
1. Parameters in route groups can s

[2020-05-20 15:17] Fenny commented on #394
Currently `app.Group` equals `app.Use` but it returns a `*Group` struct instead for chaining the prefix.
In the new update `v1.10` both `app.Group` & `app.Use` will support `:params` & `:optionals`

[2020-05-20 15:38] Fenny commented on #395
Hi @jos-, related to https://github.com/gofiber/fiber/issues/394#issuecomment-631540930

[2020-05-20 15:38] #395 closed

[2020-05-20 17:06] jos- commented on #394
Great, many thanks!

[2020-05-20 17:06] #394 closed

[2020-05-22 03:43] securisec opened #396 "🐞 Cors plugin behaves oddly"
**Fiber version/commit**
0.9.6
cors version: 0.0.3

This bug could be a user error. I cannot replicate this issue in the example code, which is a very small app, but in my project app, which is bigger, with an spa, I am running into the issue.

**Issue description**
The cors plugin does not seem to propagate throughout the app instance. But if i set the cors header inside the `another.go` file, th

[2020-05-22 20:14] Lol3rrr opened #397 "🔥 Docker-Image for static websites"
**Is your feature request related to a problem?**
Not really

**Describe the solution you'd like**
A simple docker image which is just a simple webserver, that serves static files located in some directory (maybe '/website/' but that is not the point right now).

**Describe alternatives you've considered**
I first thought about creating it myself in a seperate repository, but this would just add m

[2020-05-22 23:46] Lol3rrr commented on #397
When publishing the Docker-Image should it be published to Dockerhub or to Github's docker repository?
I would personally prefer Dockerhub, as it's kind of the default place to look for docker images

[2020-05-23 08:07] thomasvvugt commented on #397
Hi @Lol3rrr please see my comment at #398
Feel free to post a PR in [gofiber/boilerplate](https://github.com/gofiber/boilerplate)!

[2020-05-23 12:45] Fenny commented on #397
Merged in [gofiber/boilerplate](https://github.com/gofiber/boilerplate!) 👍

[2020-05-23 12:45] #397 closed

[2020-05-23 15:05] numToStr opened #403 "🔥 Official Graphql support"
**Is your feature request related to a problem?**
Thanks for your all effort for making this 🔥 and ♥️ framework. This is my goto framework when I work with go ✌🏻. And I also work extensively with graphql and It would be cool to have a official graphql plugin 🔥.

**Describe the solution you'd like**
An official graphql plugin.

**Additional context**
Official Javascript implemetation: https://githu

[2020-05-23 19:08] thomasvvugt commented on #358
Added a Live Reloading recipe for [Air](https://github.com/cosmtrek/air) https://github.com/gofiber/recipes/pull/19/files
I am keeping this issue open once I figured out how to do hot-deployment as well 🎉

[2020-05-23 19:23] thomasvvugt commented on #403
Hi @numToStr , thanks for bringing up this issue!

We have however discussed this feature request in the past, however we do not think a GraphQL library should be official but rather something the end-user can import into their application.

I do recommend checking out https://github.com/arsmn/gqlgen and https://github.com/Just4Ease/fiber-gqlgen for importing GraphQL with Fiber.

Thank you for ope

[2020-05-23 19:23] #403 closed

[2020-05-23 19:49] pavel1337 opened #405 "🐞 "/:param" -> "/:param" doesn't return param"
**Fiber version/commit**
v1.10.0 (Master branch)

**Issue description**
Server panics on ":param" GET value if ":param" is set in route. Error is below.
[code]

**Steps to reproduce**
[code]

**Code snippet**

[code]

[2020-05-23 21:10] thomasvvugt commented on #405
Hi @pavel1337 ,

Thanks for creating this issue.
I have two questions before moving this issue to a high priority.
Have you tried renaming the parameter to something else like `/:foo` ?

Also, do you use Go Modules or `go get` to import Fiber as a package?
If you use Go Modules, could you send me the exact Fiber line version from your `go.sum` file?
This should look something like this:
[code]

Th

[2020-05-23 22:46] Fenny commented on #405
This is a rare user case but I can confirm that this is indeed a bug that shouldn't happen when passing a `:` semi column as request path, a hot fix has been applied but expect a real fix soon.

@ReneWerner87 please take a look if you have a minute <3

[2020-05-24 06:49] ReneWerner87 commented on #405
fix in PR
https://github.com/gofiber/fiber/pull/407/files

[2020-05-24 11:42] pavel1337 commented on #405
Hi guys, thank you for incredibly fast reaction!
@thomasvvugt, sorry for incomplete description, I hope @Fenny's reply answers your questions.

@Fenny I would not even call it "rare use" it s more like possible "misuse" or even "attack vector".

I can confirm that after ```go get -u github.com/gofiber/fiber``` app is not panicing anymore. That's the behavior I see now:
[code]
with the code as foll

[2020-05-24 11:53] Fenny commented on #405
@ReneWerner87 and I are working on a fix, this happens because of our router logic. It will always check for exact matches first `/:param` == `/:param` before it tries to parse parameters.

Expect a fix today.

[2020-05-25 08:24] panda8z opened #411 "🤔 Routing example in readme does not work?"
**Issue description**
![image](https://user-images.githubusercontent.com/24646937/82793757-04c3fe00-9ea4-11ea-8078-20c1f9127c00.png)

[2020-05-25 08:52] Fenny commented on #411
Hi @panda8z, thank you for opening your first issue here!

This is expected behaviour because it will stop at the first match `/api/register` will match `/:name/:age?`. You can continue the stack by calling `c.Next()`

[code]

Maybe the example is unclear, and we should edit it :-)

[2020-05-25 09:27] panda8z commented on #411
I got it. I’m so thankful for your reply.  New code is right.

And I found another error in **Static Example**

Original:
![image](https://user-images.githubusercontent.com/24646937/82799310-70aa6480-9eac-11ea-903d-8055c7e86dc0.png)

I think here should be reletive path, but every `/public` is point to the [root]/public.

It should be below：
[code]

[2020-05-26 00:06] git001 opened #414 "🤔 Equivalent to $body_bytes_sent from nginx or %B of apache mod_log"
**Question description**

I try to create a "combined" Logformat with "github.com/gofiber/logger" and I asked my self exists in fiber a variable which have this value which I can use in the logger module?

http://nginx.org/en/docs/http/ngx_http_core_module.html#var_body_bytes_sent
[code]
http://httpd.apache.org/docs/2.4/mod/mod_log_config.html
[code]
**Code snippet (optional)**

[code]

[2020-05-27 08:15] Fenny commented on #411
Nice catch, fixed this in <https://github.com/gofiber/fiber/pull/415/commits/8303ce88734b6eb34bf08d5bb8d9cbfbbe87fe3f>

[2020-05-27 08:25] #405 closed

[2020-05-27 08:25] #392 closed

[2020-05-27 08:25] #391 closed

[2020-05-27 08:26] #411 closed

[2020-05-27 09:07] Fenny commented on #414
This could be added to the logger, we could name it `bytesSent` using `len(c.Fasthttp.Response.Body())`
PR's are welcome https://github.com/gofiber/logger/blob/master/main.go

[2020-05-27 09:41] Fenny opened #416 "☄️ v1.10.0 Changelog"
Dear 🐻 Gophers,

Fiber `v1.10.0` is finally released and it has some **important** changes we would like to share with you.
<br>

⚠️ **Breaking Changes**
-
- All routes will return the registered [`Route`](https://pkg.go.dev/github.com/gofiber/fiber?tab=doc#Route) metadata instead of `App`, chaining won't be possible anymore.
- ~~`ctx.Settings.TemplateEngine`~~
- ~~`ctx.Settings.TemplateFolder`~~

[2020-05-27 09:41] #416 closed

[2020-05-27 09:47] #414 closed

[2020-05-27 09:49] Fenny commented on #331
`v1.10.0` contains the new `Templates` interface, see https://github.com/gofiber/template for examples.

[2020-05-27 09:49] #331 closed

[2020-05-27 09:51] Fenny commented on #381
@Lol3rrr, this is definitely possible. I'm only wondering what JSON engines are available out there other than `jsoniter`.

[2020-05-29 00:09] soulchainer opened #420 "🐞 app.Static serving `index.html` as text/plain"
Using Fiber v1.10.1

**Question description**

I'm not sure if this is a bug or I understood it wrong.
It seems the root route must be defined first of all routes, otherwise its content will be rendered as plain text.

**Code snippet (optional)**

This will result in `index.html`, at `/`, being rendered as text/plain:

[code]

This will result in `index.html`, at `/`, being rendered as text/html:

[2020-05-29 06:59] Fenny commented on #420
@soulchainer I couldn't produce the same result, by any chance you are using Windows?

[2020-05-29 07:01] Fenny commented on #396
You need to add the `Origin` header.
[code]

[2020-05-29 08:29] #381 closed

[2020-05-29 08:32] Fenny commented on #338
I think that people can create their own middleware design because Fiber is really flexible, in my opinion, diversity could lead to better design. Therefore we could always correct/review third-party middleware applications.

I'm closing this issue for now but feel free to re-open! Thanks @ssimk0

[2020-05-29 08:32] #338 closed

[2020-05-29 08:35] soulchainer commented on #420
@Fenny No, I'm using Arch Linux.
And is neither a browser issue (checked in Firefox/Firefox developer edition/Chromium, the browsers I usually use).

Fiber v1.10.1
go version go1.14.3 linux/amd64
Linux 5.6.4-arch1-1

[2020-05-29 08:39] Fenny commented on #420
Could you try to run this test on your machine https://github.com/gofiber/fiber/blob/master/app_test.go#L208

[2020-05-29 09:45] Fenny commented on #359
I'm closing this issue due to inactivity, feel free to re-open if someone wants to develop or discuss the CLI feature.

[2020-05-29 09:45] #359 closed

[2020-05-29 09:49] soulchainer commented on #420
@Fenny That test runs OK, because it doesn't cover this case, but only the case where it already works.

As I said, if you have `app.Static("/", "./.github")` appearing first in your code, it works fine (the case you're checking in your test).

If you edit that test adding the extra line that I add below, which covers this error case:

[code]

It fails like this:

[code]

Which is what I said is h

[2020-05-29 09:51] Fenny commented on #420
Thank you for your detailed bug report, I will debug this today. I will keep you posted 👍

[2020-05-29 09:55] thomasvvugt commented on #358
Since hot-deployment is kind of the same as live-reloading but requires some sort of FTP/SFTP connection for you to upload files, we are closing this issue for now.
Keep in mind that Air is just an example repository on how you could implement Live Reloading to your Go application.

[2020-05-29 09:55] #358 closed

[2020-05-29 11:27] JohannesKaufmann opened #422 "🔥 RENDER template files from embedded resources"
**Is your feature request related to a problem?**
I want to **render templates** on the server, using embedded files from `pkger`.

**Describe the solution you'd like**
It would be great if one could pass in a `http.FileSystem` instead of the `string`.

[code]

**Additional context**

I am already using [embed](https://github.com/gofiber/embed) to **serve** static files (like css) and it works gre

[2020-05-29 11:50] Fenny commented on #422
Hi @JohannesKaufmann, this should be more than possible.

`<engine>.NewEmbed` is good name, or maybe `<engine>.Embed`.

I will experience with this today, I will keep you posted 👍

[2020-05-29 13:20] JohannesKaufmann opened #423 "🔥 Docs: Error handling"
## Echo
I really like echos way of [returning an error from your handler](https://echo.labstack.com/guide/error-handling), even though I was sceptical at first. What I liked was:

- that it **got rid of** the case where an endpoint **just returning nothing** because I just logged the error and was to lazy to return an error message.
- forced to handle all error messages, even for `c.JSON` or `c.Re

[2020-05-29 22:27] ReneWerner87 commented on #420
am also interested in this bug as I noticed the same behavior in one of our microservices, had debugged it before and was able to trace it back to fasthttp, where the default content type is used

Take a closer look tomorrow

[2020-05-29 23:31] ViRb3 opened #426 "🐞 Param string data buffer is reused, causing unexpected side effects"
### Fiber version/commit
v1.10.1

### Issue description
The method `fiber.Ctx.Params(key string) string` returns strings that share the same data buffer. This means that once a new string is returned, all previously returned strings will be changed to the new string's content, no matter how much they have been copied and passed around, since their data buffer is the same. This behavior is clearly

[2020-05-29 23:32] ViRb3 commented on #426
@qaisjp

[2020-05-30 00:29] Fenny commented on #426
Maybe we could document it better but we have a [Immutable](https://docs.gofiber.io/application#settings) setting that will allocate the strings without using unsafe (https://github.com/gofiber/fiber/issues/185).

[code]

[2020-05-30 10:54] ViRb3 commented on #426
Oh, I was not aware of the immutable setting. I wouldn't mind keeping the current behavior, but there should be clear documentation that states such side effects - perhaps a general warning in the start of the project, so people are aware that this is even a possible side effect, and maybe note down the scope of returned variables on each method's documentation, like fasthttp does it. It took me a

[2020-05-30 11:05] Fenny commented on #426
You are right regarding the documentation, we could add some sort of warning/disclaimer regarding this issue and explain how it would be solvable using the `Immutable` setting or allocate specific operations by using the default `string` or `[]byte` types.

If you have any suggestion how we could phrase/summary this behaviour, I will add it to all README's and API Docs right away.

[2020-05-30 13:34] ViRb3 commented on #426
My recommendation would be to make two changes.

First, add a dedicated section in the beginning of the docs that outlines this concept as a whole. I created a PR for that, mentioned above. Any feedback is very welcome.

Second, for each method that returns a non-immutable value, like the `Params` method discussed in this issue, add a warning to its docs, like the one you proposed. I allowed mysel

[2020-05-30 22:06] Fenny commented on #426
Awesome work @ViRb3, I merged your PR in the docs. I will add your short phrase to each non-immutable method this weekend.

Feel free to join us on [Discord](https://gofiber.io/discord) to have a chat!

[2020-05-30 22:23] #426 closed

[2020-05-31 16:05] WLun001 opened #429 "🤔 SSE with Fiber"
**Question description**
Possible to do server sent events (SSE) with Fiber?

[2020-06-01 02:21] mewben opened #430 "🐞 Route with no match returns 200"
**Fiber version/commit**
v1.10.1

**Issue description**
Please see sample code below. It returns 200 for any route. I tried removing all the middleware, it now correctly returns 404. Perhaps there's a breaking change in the way middleware is implemented?

**Expected behavior**
Should it return 404 instead? or is this the intended behaviour?

**Steps to reproduce**
Any path e.g. localhost:3000/any-

[2020-06-01 11:27] pharrisee commented on #423
@JohannesKaufmann I've been playing with the error handling and in lieu of official documentation just thought I'd air some of my findings.  The major point of which is that any ErrorHandler you may have must be Use'd last.

So, my app goes in this direction:
1. Define App
1. Add global middleware
1. Define routes
1. Add error handler
1. Start server

My ErrorHandler is a fiber middleware, with a

[2020-06-01 11:33] Fenny commented on #430
Hi @mewben, thanks for your detailed report.

Your first `app.Use` theoretically matches the `/match-anything` path and therefore it defaults to `200`.
I had a discussion with the Team and we might change this behaviour to see if `c.Next()` will match the next route, and return a `404` if there is no match.

We are currently adding good tests cases to make sure we won't break anything when we chan

[2020-06-01 11:51] Fenny commented on #420
This bug is fixed in the master, it will be tagged next week under `v1.10.2` 👍

[2020-06-01 11:51] #420 closed

[2020-06-01 14:00] Fenny commented on #430
@mewben the `c.Next()` behaviour has been adjusted in [v1.10.2](https://github.com/gofiber/fiber/releases/tag/v1.10.2) so that a proper `404` is set when no match is found in the chain. Thank you for your issue 👍

[2020-06-01 14:00] #430 closed

[2020-06-01 14:01] Fenny commented on #396
@securisec, the content-type issue has been fixed in [v1.10.2](https://github.com/gofiber/fiber/releases/tag/v1.10.2)

Thank you for your issue 👍

[2020-06-01 14:01] #396 closed

[2020-06-01 14:05] securisec commented on #396
Thanks @Fenny . What exactly was the issue? I tried upgrading to 1.10, and it broke many things, so I had to downgrade back to 0.9.6. I had read through the changelogs, and didnt really see what I changed that could have caused things to break, but before I start a big refactor, maybe I can try to see what actually caused the cors plugin to misbehave....

[2020-06-01 14:06] Fenny commented on #429
Fasthttp does not support response flushing, therefore I don't think `SSE` will be possible.
Personally I don't have experience with `SSE`, so I'm not sure if it's required to have open connections ( see [sse.go#L231](https://github.com/julienschmidt/sse/blob/master/sse.go#L231).

[2020-06-01 14:09] Fenny commented on #396
Hi @securisec, I placed the wrong comment on the wrong issue ( my bad ).

Regarding the Cors issue, it's still a mystery why it doesn't work correctly on your end.
Did you try adding the `Origin` header in the request?

[code]

[2020-06-01 14:11] securisec commented on #396
Yes, you were right about the way I was making the curl request, but how about the propagation of the plugin? I guess if I could replicate the behavior in a bigger project, I will post it for you here. Thanks!

[2020-06-01 14:13] Fenny commented on #396
Please re-open if you could replicate the issue, that would be great to find the exact problem 👍

[2020-06-01 14:23] Fenny commented on #423
@pharrisee I like your idea to add an `ErrorHandler` setting / method to be called when an error is passed via `c.Next()`

I don't like the current way how `c.Next(err)` behaves, it still executes all handlers that match the current route before it hits your custom _error handler_.

Another way would be to create a simple error handler function that is called when needed
[code]

[2020-06-01 14:30] pharrisee commented on #423
If there was a ErrorHandler method on the application, with a default value, then could the .Next method shortcut the rest of the handlers, and also call the ErrorHandler?

https://github.com/gofiber/fiber/blob/master/ctx.go#L588 seems to already do a check if the caller passed in an error, maybe that could do something to shortcut the rest of the handlers?

[2020-06-01 14:46] Fenny commented on #429
Fasthttp by design only builds the response when you return from the handler, so I'm afraid `SSE` won't be possible. In case you really need this, you could open an issue on the Fasthttp repo.

I'm closing this, for now, feel free to re-open 👍

[2020-06-01 14:46] #429 closed

[2020-06-02 01:22] leopku opened #433 "🤔 Is there anyway to disable template engine?"
**Question description**
My app only served as an api server.
How can I disable template engine?

[2020-06-02 09:44] Fenny commented on #433
Hello @leopku, the template engine is `nil` by default. So if you do not set an engine, it will not be used.

[2020-06-02 10:25] pharrisee commented on #423
Another thought, Gin has a different approach to error handling.  It allows multiple errors to be collected in a slice as the handlers proceed.  It then has a few methods that shortcut the handlers in different ways, see this issue thread for more info:

https://github.com/gin-gonic/gin/issues/274#issuecomment-99897388

I'm not advocating fiber do the same, it's just a different way of doing thing

[2020-06-02 10:46] #433 closed

[2020-06-02 10:53] Fenny commented on #423
That looks interesting but maybe we should adopt the [express error handling](https://expressjs.com/en/guide/error-handling.html#the-default-error-handler) method and use an `ErrorHandler` that is triggered when calling `c.Next(err)`

[code]

[2020-06-02 12:20] itsursujit commented on #423
@Fenny I think the name

[code]
makes sense??

[2020-06-02 14:30] hendratommy commented on #423
I was thinking this ErrorHandler should have recover functionality by default since it's really crucial for production, below is taken from `recover` middleware, maybe something like:

[code]

Notice that panic will call the ErrorHandler since user might want to have _standardized_ response.
Also we might want to introduce Logger so this logger might be reused across middleware.

[2020-06-02 14:54] leopku commented on #433
Got it. Thanks.

[2020-06-03 10:32] Fenny commented on #423
I think we don't need the _http_ prefix since Fiber is an _http framework_ and it would speak for itself.

This is a good point, and I actually had this in mind weeks ago. I will do some testing with @ReneWerner87 to see what the overhead would be if we add this functionality to the router core.

[2020-06-03 13:43] hendratommy commented on #423
Cool! Btw, are we going to have some custom errors? Like to differentiate between `not found` error with any other error?

[2020-06-04 01:56] suntong opened #438 "🤔 Relative path for Static() files"
**Question description**

Please take a look at the following **Code snippet** which serve files via `Static()` function.

https://github.com/suntong/fiber_demo/blob/master/app/static1.go

The result is much different than them being serving from normal http server or as plain `file://`.

How can I make relative paths work for `Static()` files? Thx

[2020-06-04 08:22] pharrisee commented on #423
I'm not sure that the recover mechanism should be in the error handler.  Since the errorhandler can be overidden by developers that recover functionality would/could be lost?

A separate recover functionality would probably be better?

[2020-06-04 12:46] Fenny commented on #423
We came to the same conclusion, in `v1.11` we will have some popular middleware embed within Fiber core. `github.com/gofiber/fiber/middleware` so it would be easy to enable `app.Use(middleware.Recover())`. We do like the idea of the `ErrorHandler` but it won't be triggered on a 404 not found, this can be handled by placing a catch-all handler at the end of all routes.
I will keep you updated on th

[2020-06-04 13:01] Fenny commented on #438
Hello @suntong, thank you for opening your first issue 🥳!

I tried to re-produce your described problem, but it seems to work on my end ( windows ).

[code]

Could you show me what kind of files you are serving?

[2020-06-04 14:04] suntong commented on #438
Oh, they're at
https://github.com/suntong/fiber_demo/tree/master/web/sample0

My fiber was lastest I got yesterday.

[2020-06-04 14:18] Fenny commented on #438
I used your static files using the code snippet you linked, and I got valid results.
Did you try to clear your browser cache, or use incognito mode?

![](https://i.imgur.com/CbZ6Um5.png)
![](https://i.imgur.com/XjLLmoP.png)

[code]

[2020-06-05 01:11] suntong commented on #438
OK. It turns out that I was using a method that you haven't covered/tested before.

So I've made mine working, by visiting http://localhost:3000/sample0/index.html
However, if I go back to my old visiting method, i.e., merely http://localhost:3000/sample0, then all those should be found are not found.

Please double check. thx.

[2020-06-05 01:15] suntong commented on #438
Oh, looking at your example again, I realized that you might never duplicate what I found unless you *use prefix*, instead just plain root `/`. I.e., use

 `app.Static("/prefix", "./public")`

instead of just

 `app.Static("/", "./public")`

[2020-06-05 02:53] bdtomlin opened #441 "🔥 Render with layout"
**UPDATE** Please see my second comment for an improvement on this request as well as a concrete example. I have a workaround for this in my app, but I think it would be a great feature and it would have not cause any breaking changes.

--- below left for reference ---

**Is your feature request related to a problem?** No

**Describe the solution you'd like**
I would like to be able to access temp

[2020-06-05 03:47] bdtomlin commented on #441
After a little more thinking, I think I have a better idea for this feature. I would love to get anyone's thoughts.

I would like to have a `RenderWithLayout` function. It would be similar to the `Render` function, but it would allow a great way to specify layouts.

As long as you set up your layout templates correctly it would make it really easy to use, swap, and turn off layouts dynamically.

A

[2020-06-05 05:52] koddr commented on #441
@bdtomlin hi! 👋

Please, add more understandable title to this issue.

[2020-06-05 06:03] ReneWerner87 commented on #441
Already in advance, in the next version the access to app with the context will be possible
https://github.com/Fenny/fiber/blob/master/ctx.go#L162

[2020-06-05 06:14] Tantatorn-dev opened #442 "🤔 I cannot upload large file via form file"
**Question description**
I used a form file for uploading file. But when I attached a large file, it responded with
"412 Request Entity Too Large"
**Code snippet**

[code]

[2020-06-05 13:40] Fenny commented on #438
Hi @suntong, I double checked our tests and even added more to see if this was a internal bug.
But my conclusion is that it isn't, I forgot to tell you that this is the correct browser behaviour.

When you add a `prefix` to your static files it's basically a fake URL, therefor you need to add the `prefix` to your `external files`

[code]
becomes
[code]

I hope this solves your problem :)

[2020-06-05 13:46] Fenny commented on #442
Try to increase the `BodyLimit` it defaults to `4MB +/-` (_4 * 1024 * 1024_)
[code]

[2020-06-05 13:48] suntong commented on #438
ok, give me some time to test on real HTTP servers, then I'll close it.

[2020-06-05 13:52] suntong opened #443 "🤔 Serving directly from compressed files with Static()"
**Question description**

How to serve directly from already-compressed files with the `Static()` function. Details at

https://github.com/gofiber/compression/issues/2

[2020-06-05 14:25] Fenny commented on #443
[code]
[code]

[2020-06-05 14:25] Tantatorn-dev commented on #442
It works perfectly. Thank you very much.

[2020-06-05 14:25] #442 closed

[2020-06-05 20:31] bdtomlin commented on #441
Sorry for the poor title initially, I should have waited to open this when I had clarified it more in my own mind.

If everyone thinks this is a good feature, and is ok with the proposed API let me know. I would be glad to create a PR.

[2020-06-06 04:06] #438 closed

[2020-06-06 04:24] Fenny commented on #441
@bdtomlin, feel free to join us on [Discord](https://gofiber.io/discord) if you want to chat about the Template engine.

[2020-06-06 13:31] suntong commented on #438
Hi Fenny, I tested on my real HTTP servers, and was able to get correct view no matter what:

![image](https://user-images.githubusercontent.com/422244/83945255-8df9ff80-a7d7-11ea-95db-f0772cb0f7bf.png)

I know using absolute path will absolutely work, but the question is using and making relative paths work. Since real HTTP servers work, I think so should fiber be. Don't worry, the fix is easy --

[2020-06-06 13:42] suntong commented on #443
Thanks please take a look at
https://github.com/suntong/fiber_demo/commit/434ea4b5aa0cbd7337048952b00dc46c0c53d16e

and this is what I got:

![image](https://user-images.githubusercontent.com/422244/83945639-09f54700-a7da-11ea-887a-71f01bf3d058.png)

[2020-06-06 17:18] Fenny commented on #423
@pharrisee, @hendratommy, @itsursujit, @JohannesKaufmann, thank you guys for participating in this discussion. With the feedback in this issue and on [discord](https://gofiber.io/discord) we have the following solution regarding error handling for `v1.11.x`.

We will have a centralized error handler under `App.Settings` ([app.go#L61](https://github.com/Fenny/fiber/blob/master/app.go#L61)) much lik

[2020-06-07 20:52] StarMonk opened #456 "🚀 pion webrtc middleware"
**Is your feature request related to a problem?**
Webrtc feature

**Describe the solution you'd like**
Gofiber middleware of pion/webrtc module - https://github.com/pion/webrtc

**Describe alternatives you've considered**
Not any at the moment

[2020-06-07 21:57] Fenny commented on #456
Hi @StarMonk, thank you for opening your first issue! Could you elaborate a little bit more on what you expect from a `webrtc` middleware for fiber?

[2020-06-08 10:54] Fenny commented on #423
I'm closing this issue because I just tagged `v1.11.x` that contains our new [ErrorHandler](https://docs.gofiber.io/error-handling) 👍

[2020-06-08 10:54] #423 closed

[2020-06-08 12:40] StarMonk commented on #456
Just a native package like "gofiber/websocket" which supports "fasthttp/websocket"

[2020-06-08 18:53] ReneWerner87 commented on #443
@suntong check out release 1.11.0, you can specify the CompressedFileSuffix in the app settings with ".gz"

[2020-06-08 23:18] suntong commented on #443
thanks @ReneWerner87, I'll try it out this weekend.

[2020-06-09 05:54] hugmouse opened #461 "🤔 Empty middleware guide"
**Question description**

Is there a manual on how to make middleware for Fiber?

https://docs.gofiber.io/middleware#guidelines

[2020-06-09 05:55] Fenny commented on #461
Hey @hugmouse, we currently have not documented that yet. But you could get some inspiration from the existing middleware packages https://docs.gofiber.io/middleware#fiber-middleware

[2020-06-09 06:00] #461 closed

[2020-06-10 06:04] Fenny commented on #456
I don't see the benefit to make a separate repo for webrtc, you could use the official repo along with fiber if that's what you are looking for. It's a different protocol.

[2020-06-10 07:05] maplerichie opened #462 "🚀 Add Fiber to the roadmap"
**Question description**
Create a PR at https://github.com/Alikhll/golang-developer-roadmap

[2020-06-10 08:10] Fenny commented on #462
Hi @maplerichie, good idea! Would you like to create a PR?

[2020-06-12 06:44] Fenny commented on #462
@maplerichie thank you for the suggestion, I'm closing this because it got merged 👍 https://github.com/Alikhll/golang-developer-roadmap

[2020-06-12 06:44] #462 closed

[2020-06-12 06:50] Fenny commented on #443
@suntong any luck with the `CompressedFileSuffix` feature?

[2020-06-12 06:52] Fenny commented on #456
@StarMonk thank you for opening this issue, ideas are more than welcome but we think that the webrtc repo would have no benefit to be hosted on the gofiber organization.

Feel free to re-open, but for the time being, this will be tagged as #wontfix

[2020-06-12 06:52] #456 closed

[2020-06-12 10:57] Fenny commented on #441
Thank you @bdtomlin, https://github.com/gofiber/fiber/releases/tag/v1.11.1
https://github.com/gofiber/template

[2020-06-12 10:57] #441 closed

[2020-06-12 11:59] suntong commented on #443
Sorry @Fenny  I don't have much free time to test it during the work days this week, give me two more days, I'll try it out this weekend.

[2020-06-13 03:08] suntong commented on #443
I'm still unable even to get `Compress: true` work yet.

This after I've done `go get -u github.com/gofiber/fiber` just now.
The error is exactly as above, and also,

![image](https://user-images.githubusercontent.com/422244/84558524-6b994200-ad01-11ea-9b63-48320f63597f.png)

Can someone give me a full working code please?

Again, my code is at
https://github.com/suntong/fiber_demo/blob/master/app

[2020-06-13 03:10] ameenpv commented on #234
Second that. I spend sometime on docs and an hour outside looking for the common practice. Hope it will be helpful for someone who's new to go and coming from node background.

[2020-06-13 09:36] Fenny commented on #443
I see the issue now, fasthttp file server requires you to have the original filename along with the compressed files. You can test this out by placing an empty `index.html` in the `sample2` folder and it serve the compressed file.

[2020-06-13 11:26] Fenny commented on #422
@JohannesKaufmann, we are currently adding `http.FileSystem` support.
[code]
Thanks to @arsmn we got a neat walk function for embedded file systems.

We are 50% done https://github.com/Fenny/template/blob/master/html/html_test.go#L103 and I will notify you when we tag a release 👍

[2020-06-13 13:01] suntong commented on #443
Thanks @Fenny, I now get it working.

No @ReneWerner87, specifying the CompressedFileSuffix in the app settings with `".gz"` does not work for me, again, after I've done go get -u github.com/gofiber/fiber --

https://github.com/suntong/fiber_demo/blob/master/app/static-gz.go

A full working code appreciated. My fiber_demo repo is super small and can be a great start for you.

[2020-06-13 13:07] Fenny commented on #443
@suntong, I tested `CompressedFileSuffix` with your code and it works fine. You just forgot to put the `index.html.fiber.gz` into the `sample-gz` folder and rename it to `index.html.gz`

There is also a minimum size that is required before a file gets compressed:
https://github.com/valyala/fasthttp/blob/master/compress.go#L406

[2020-06-13 13:16] suntong commented on #443
Ops, sorry, my bad, don't know how `index.html.gz` was missed as I do them all together.

Yep, now it is fully working.
Thanks a lot for your helps, @Fenny & @ReneWerner87 !

[2020-06-13 13:16] #443 closed

[2020-06-14 08:30] Fenny commented on #422
@JohannesKaufmann if you update https://github.com/gofiber/template to the latest version, you can use the `NewFileSystem` method that allows you to pass in an `http.FileServer` interface.

#### pkger
https://github.com/markbates/pkger

[code]
#### packr
https://github.com/gobuffalo/packr

[code]
#### go.rice
https://github.com/GeertJohan/go.rice

[code]
#### fileb0x
https://github.com/UnnoTed/fil

[2020-06-14 08:39] #422 closed

[2020-06-14 09:50] JohannesKaufmann commented on #422
@Fenny great, that new _engine_ looks amazing.

 This also solves some problems that I encountered in the meantime with the views. But this is now solved with `Reload(true)` 🎉

P.S.: I'm currently evaluating different strategies for **hot reloading html, css and js files** for rendered websites. That makes the feedback loop **alot** faster and plays nicely with _air_. I will let you know in the co

[2020-06-14 19:49] enBonnet opened #467 "Did you have a list of example projects? 🤔"
**Question description**
I be learning Golang, in this way found Fiber and totally love it. 😍
Already made two repository, i think would help some others on they learning path, so there is any official way to share it?

[API Fiber with Gorm](https://github.com/enBonnet/api-fiber-gorm)
[API Fiber with Gorm and JWT](https://github.com/enBonnet/fiber-jwt)

[2020-06-14 20:39] Fenny commented on #467
Hi @enBonnet, welcome to the Fiber! We do have a [recipes](https://github.com/gofiber/recipes) repo where you could create a PR to add your examples. Other than that, we promote [third party middleware](https://github.com/gofiber/fiber#-third-party-middlewares) and [media articles](https://github.com/gofiber/fiber#-media) on our main readme.

Thank you for creating these awesome repositories, I'm

[2020-06-14 21:45] enBonnet commented on #467
Thanks @Fenny, then i will do some PR to [recipes](https://github.com/gofiber/recipes).

My question was successfully answered

[2020-06-14 21:45] #467 closed

[2020-06-15 08:46] itsursujit opened #469 "🐛 flag.Parse not working when using Prefork on Fiber"
**Fiber version**
1.11.x
**Issue description**
flag.Parse not working when using Prefork on Fiber
**Code snippet**

This piece of code is throwing error:
[code]
Error:
[code]

[2020-06-16 08:52] hugmouse opened #473 "🐛 Strange autocert bug"
**Fiber version**

`v1.11.1`

**Golang version**

`go version go1.13.8 linux/amd64`

**Issue description**

For reasons that I do not know, the code below has different behavior depending on where it is placed.

`Strace -f` logs:

[borked.txt](https://github.com/gofiber/fiber/files/4785403/borked.txt)
[working.txt](https://github.com/gofiber/fiber/files/4785404/working.txt)

`Borked` variant is pl

[2020-06-16 16:13] hugmouse commented on #473
## Additional CentOS 8 info

`strace -f go run main.go`  - [centos.txt](https://github.com/gofiber/fiber/files/4787707/centos.txt)

OpenSSL (first time) log:
[code]

OpenSSL second time log:
[code]

-----
Curl -v:

[code]

[2020-06-16 16:51] hugmouse commented on #473
_I'm desperate and I don't understand where a mistake could have sneaked in._

[2020-06-16 19:16] Fenny commented on #469
@itsursujit this should be fixed, you can try the alpha version here
<https://github.com/gofiber/fiber/releases/tag/v1.12.0-alpha>

[2020-06-16 19:17] #469 closed

[2020-06-17 02:41] kiyonlin opened #474 "🤔 Integrating verification feature"
**Question description**
Request body or query should be validated sometimes.

So maybe integrating a request verification feature is indeed helpful!

**Code snippet** _Optional_

[code]

[2020-06-17 02:56] enBonnet commented on #474
I'm interested on this feature but could be over engineering, because validations attends some needs of specify user cases...

Just an opinion

[2020-06-17 05:55] hugmouse commented on #473
Especially for this issue registered domain gofiber.ru and rented a new VPS-server and after that autocert started working.

Still not working for my old domains and cannot find origin of this problem

## OpenSSL log
`openssl s_client -connect gofiber.ru:443`

[code]

## Curl log

[code]

[2020-06-17 10:16] hugmouse commented on #473
Just found out that I hit letsencrypt ratelimit on the domain ipv4ex.ru because I tried to make a certificate too many times, heh.

I'll close this issue for now and get back to it in a week to try again and report the results.

[2020-06-17 10:16] #473 closed

[2020-06-18 14:08] hendratommy opened #479 "🚀 Session Interface"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
Right now the `gofiber/session` is more like a store than a middleware.
In every handlers that need session, we need to get the `sessions`, `session.Get(c)`, then save it.
It became very repetitive tasks, became dependent to the session store implementation, and if we have handlers in separate package then w

[2020-06-18 14:19] enBonnet commented on #479
This feature looks great! Can improve use of sessions

[2020-06-18 18:34] humaidq opened #481 "Security Disclosure Policy?"
Hello.

While trying out the project, I discovered a bug in regards to routing which may be a security issue.

I am creating this issue since I couldn't find a way to report this issue safely, and nothing regarding disclosure can be found in the "Security" tab or the website.

[2020-06-18 19:03] renanbastos93 commented on #481
Wow, please tell us more details about it

[2020-06-18 19:21] humaidq commented on #481
I'd rather email the issue privately to a maintainer of the project.

[2020-06-18 19:47] renanbastos93 commented on #481
Why?
this project is open source, I am using it on production so I do wish to know about it, can you send an email for me too?

[2020-06-18 20:00] Fenny commented on #481
@humaidq are you able to join us on [Discord](https://gofiber.io/discord)?

[2020-06-18 22:36] Fenny commented on #481
https://github.com/gofiber/fiber/pull/482#merged-event

[2020-06-18 22:36] #481 closed

[2020-06-19 04:07] kiyonlin opened #485 "🚀 How about compatibling with httpexpect"
**Is your feature request related to a problem?**
 No

**Describe the solution you'd like**
[httpexpect](https://github.com/gavv/httpexpect) already supports [fasthttp binder](https://github.com/gavv/httpexpect/blob/master/binder.go#L101-L102).

The only thing to do is making `app.handler` accessable.

Simple example:
[code]

[2020-06-19 06:37] kiyonlin opened #486 "🤔 A rate limiter implemented with delay calculate of token bucket algorithm."
**Question description**
Here is my [rate limiter](https://github.com/kiyonlin/fiber_limiter) middleware for fiber:
- no timer
- no extra background gorouting
- support burst
- custom limiter for different keys

**Code snippet** _Optional_

[code]

[2020-06-19 19:55] doingodswork opened #489 "🐛 WriteTimeout behavior"
**Fiber version**

v1.12.0

**Issue description**

When a client makes a request and is slow in reading the response I want the connection to be closed. In the stdlib's `http.Server` there's a field called `WriteTimeout` and it says:

And it does the trick:

[code]

Test:

[code]

Now, Fiber has the same field and description in its `fiber.Settings`. *But it doesn't work*.

[code]

Test:

[code]

[2020-06-19 20:26] Fenny commented on #489
Hi @doingodswork, Fiber basically forwards the settings to Fasthttp and I tested it with the following snippet:
[code]

And I got the same behaviour, @ReneWerner87 and I will take a closer look tomorrow, could have to do with the `updateTimer` fn in Fasthttp. Will keep you posted, thanks for reporting 👍

[2020-06-19 22:41] Fenny commented on #486
Awesome work @kiyonlin, I'm willing to accept a PR to add this to the _Third-Party Middleware_ list in all README's 👍

[2020-06-19 23:19] Fenny commented on #474
After some discussions with the @gofiber/maintainers we came to the conclusion that providing a validator within the web framework would over-complicate the core API. Our opinion is that it's up to the user how to validate data within the app. Here is a simple example of how to validate a post request using [go-playground/validator](https://github.com/go-playground/validator)

[code]

I hope this

[2020-06-19 23:19] #474 closed

[2020-06-19 23:20] #486 closed

[2020-06-20 00:00] kiyonlin commented on #474
Thank you for your jobs. I think you are right, there are other way to do the validation job. And the example is helpful!

[2020-06-20 08:58] kiyonlin opened #492 "🚀 add 405 method not allowed handler"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
Assuming that we have code like:
[code]

and when we use the wrong method:
[code]

**Additional context**
- This feature will not bring breaking changes
- More friendlier to users
- Users can provide custom handler to handle 405

[2020-06-20 12:30] Fenny commented on #492
We could add a boolean option in Settings named `MethodNotAllowed` `bool` and if set to true, instead of sending a 404 it will check the stack of it matches a different method and returns a `405 Method Not Allowed` with the correct `Allow` header <https://tools.ietf.org/html/rfc2616#section-10.4.6>

[2020-06-20 12:52] kiyonlin commented on #492
Yes, that’s my intention:smile:

[2020-06-20 17:43] jkuri opened #494 "🤔 Is it possible to proxy connection without being closed right afterwards?"
Hi, I am trying to use [gobwas/ws](https://github.com/gobwas/ws) WebSocket server with `fiber`. I need to proxy connection to the websocket server running on `localhost:7100`. If you check code snippet below, it actually works but connection get closed right after it is established. Is it possible for this connection to remain open? Thanks.

[code]

[2020-06-20 22:40] saul-gush opened #495 "It is possible to send logger Output to a database 🤔"
**Question description**
I have been looking to try intercept the Output of the logger, instead of recording to io.Writer and avoid writing logs to disk, I would like to capture that in a database.

What is the best way to do that?

[2020-06-21 08:25] Fenny commented on #495
This is easily doable, because the [io.Writer](https://golang.org/src/io/io.go?s=3794:3855#L80) interface contains a single `Write` method.

So basically you just need to create a type that implements io.Writer, and whose Write() method inserts the log into your database.

Here's a simple implementation which demonstrates that:
[code]

[2020-06-21 09:09] saul-gush commented on #495
This is perfect, thank you!

On Sun, 21 Jun 2020 at 09:25, fenny <notifications@github.com> wrote:

[2020-06-21 09:14] #495 closed

[2020-06-21 10:32] Fenny commented on #494
Remove the `c.Fasthttp.Conn().Close()`

[code]
![](https://i.imgur.com/LrhTVHa.png)

[2020-06-21 11:37] jkuri commented on #494
Hi @Fenny, thanks alot for your answer. I tried with that and it gets connected, but I have issues when refreshing the browser websocket hits `GET /` but I never set url without `/ws` path. If I close the connection with `c.Fasthttp.Conn().Close()` then this does not happen.
I extracted parts from my project, if you have time to check this would awesome.

[fiber-example.zip](https://github.com/gof

[2020-06-21 15:19] itsursujit opened #498 "🚀 Signed and Temporary Routes"
**Is your feature request related to a problem?**
No
**Describe the solution you'd like**
Most of the 2FA or verification process required to have one time access to specific URL. If Fiber could provide interface to define Temporary Routes or Signed Routes.

Possible Interface:

[code]

[code]
And we could generate Temporary or Signed Routes via
`url.SignedRoute` or `url.TemporaryRoute`

[2020-06-21 15:25] Fenny commented on #498
I'm not sure if this logic belongs within a _Web Framework_. I think it's up to the user to handle specific tasks/logic within the routes. Correct me if I'm wrong, but you are trying to remove the specific route if after _x_ amount of time from the stack?

[2020-06-21 15:37] itsursujit commented on #498
I mean something like this:
https://www.atyantik.com/signed-url-signed-routes-laravel-5-6/
https://medium.com/@DarkGhostHunter/laravel-combining-signed-routes-with-temporal-tokens-c5177769b432

system would not remove the route but invalidate the route based on configurations we set for the route
It does not actually fall under Web Framework. I'm assuming it to be middleware.

[2020-06-21 15:51] Fenny commented on #498
Thanks for the links, this could be a possible feature as a third-party middleware.
Fiber tries to simulate the same API/behavior as expressjs, and personally I think that signed/expiring routes should be handled by the user.

I'm willing to add a third-party middleware it to the official list, please re-open this issue if you have further questions/remarks. Thank you 👍

[2020-06-21 15:51] #498 closed

[2020-06-21 15:54] Fenny commented on #492
Fiber will respond with a 405 by default if another method is available on the same path.
This feature will be shipped in `v1.12.1` next week, thank you for your suggestion 🥳

[2020-06-21 16:06] Fenny commented on #489
There is a difference between the fasthttp and net/http `WriteTimout` that is a design decision by the author of fasthttp.

_For net/http the WriteTimeout includes the time for the handler to process the request. For fasthttp this is not the case. For fasthttp it is really only a timeout for writing the response to the client._

I updated the comments to clarify this https://github.com/gofiber/fib

[2020-06-22 05:12] kiyonlin opened #501 "🤔 kill prefork master"
**Question description**
When using prefork mode, and i kill master process manually, but all the children processes are alive.

And when I killed nginx master process, all the processes were terminated.

So is it possible for Fiber to manage all processes?

[2020-06-22 09:12] ReneWerner87 commented on #501
@Fenny i think we need this logic https://github.com/valyala/fasthttp/blob/master/prefork/prefork.go#L186

[2020-06-22 12:52] Fenny commented on #501
Working on it, next tag will also support Prefork for windows using `REUSEADDR` instead of `REUSEPORT` 👍

[2020-06-23 18:18] itsursujit opened #503 "🐛 c.Locals not working between the routes"
**Fiber version**
1.12.0

**Issue description**
`c.Locals("key", "value")` set on one route is not accessible on other route

**Code snippet**

[code]

Another Example:
[code]

[2020-06-23 18:25] thomasvvugt commented on #503
I have tested this issue as well, it seems c.Locals is broken.
@Fenny maybe this is a fasthttp issue?

[2020-06-23 19:01] Fenny commented on #503
https://docs.gofiber.io/ctx#locals
_stores variables scoped to the request and, therefore, are available only to the routes that match the request.

[code]

[2020-06-23 19:19] #503 closed

[2020-06-23 22:50] Fenny commented on #494
I'm not sure what you mean, I run your example and everything seems to work correctly. Could you try to be more specific what you mean with:

[2020-06-23 23:03] jkuri commented on #494
Try refreshing browser couple of times, error happens randomly.
This is my log:
[code]

sometimes requests `GET /` and not `GET /ws` as expected.

[2020-06-23 23:10] Fenny commented on #494
I tried it again but everything seems to work fine.
`/` results in a 404
`/ws` in the browser results in a 400 bad handshake
`/ws` using the WebSocket protocol works fine

So everything works accordingly, could be on your end ( browser plugins? ).
I even tried it using curl in cmd, same results.

[code]

[2020-06-23 23:24] jkuri commented on #494
its not a problem on frontend side, I just use rxjs to autoreconnect if connection fails. but its true this issue seems like more related to the fasthttp directly than fiber. I can close the issue and ask there if you'd like.

[2020-06-24 00:30] Fenny commented on #494
Yeah, that might be a better option, sorry I cannot help you :(

[2020-06-24 00:30] #494 closed

[2020-06-24 00:40] jkuri commented on #494
no problem, I can still use gofiber/websocket package.

[2020-06-24 19:38] ReneWerner87 commented on #485
https://github.com/gofiber/fiber/pull/504
added the possibility to access the handler

[2020-06-24 20:13] GrigoriyMikhalkin opened #505 "🚀 Use middleware for all paths except starting with the prefix"
I have a situation when i need to use authorization middleware for all paths, except ones that start with `/internal-api` prefix. But currently, `Use` method doesn't implement such functionality.

What i propose is if `Use` is called with prefix and prefix is starting with `^` symbol -- consider that middleware should be applied to all paths except ones that start with prefix. Another option would

[2020-06-25 01:33] Fenny commented on #485
Will be tagged in `v1.12.1` :+1:

[2020-06-25 12:57] Fenny commented on #505
Hi @GrigoriyMikhalkin, thanks for opening your first issue here!

Since we want to replicate expressjs behavior regarding routing, your suggestion will probably not be an ideal solution.
Here are some examples that could solve your issue using order or some small middleware checks.

**Order is a thing**
[code]

**Check the prefix within the middleware**
[code]

I hope this answered your question.

[2020-06-25 14:45] GrigoriyMikhalkin commented on #505
@Fenny Thanks for answer! I currently use second approach. First approach also looks nice, would be good to document it in docs(at least i didn't saw it anywhere before)

[2020-06-25 15:59] Fenny commented on #505
Yeah, it would be a good idea to document that order matters like in expresses. I'm closing this issue, for now, feel free to re-open if you have any further questions 👍