[2021-08-18 15:51] nikandlv commented on #1495
@ReneWerner87 I see thanks for the clarification

[2021-08-18 15:51] #1495 closed

[2021-08-18 17:02] Spedoske commented on #1492
I am wondering which is a more proper solution for the circumstance when we can not find a session in the store.
+ regenerating the session_id, ignoring the session_id that is not found in the storage
  + pros: The session_id will follow the format of KeyGenerator.
  + cons: we will need to set the session in the user's browser, especially when we use `KeyLookup` since we should manually tell the

[2021-08-18 20:07] igleson opened #1496 "🐛 Timeout middleware is ignoring errors returned by the handler"
**Fiber version**

**Issue description**

**Code snippet**

[code]

The timeout middleware for timeout has this code snippet, and as shown it is ignoring errors returned by the handler
[code]

[2021-08-19 21:36] G2G2G2G opened #1497 "2 users got the same session? 🤗"
I can't think of how else this happened:
one user today had their name switching in the logs, randomly it'd be them, then the other person. is it possible both got signed the same UUID?

What is the correct way to set a session, is this wrong?
**Do I need to check every other session to make sure it isn't the same as someone else?**
Do I need to have more than 1 cookie set to check against? 2 sess

[2021-08-19 23:55] sub-mersion opened #1498 "🤗 Are structs binded with BodyParser() safe to store outside handlers ?"
Methods that return unsafe values are marked in the docs, such as [`Ctx.Params()`](https://docs.gofiber.io/api/ctx#params).
`Ctx.BodyParser()` is not marked as such. So, is it safe to write the following ? :

[code]

If not, how can one store safely a struct parsed from request body in the memory?

I have encountered rewriting of string fields in a more complex case using BodyParser, but cannot re

[2021-08-20 00:52] Trim21 opened #1499 "🐛 `c.OriginalURL()` changed after `SendFile`"
**Fiber version**

github.com/gofiber/fiber/v2 v2.17.0

**Issue description**

## `c.OriginalURL()` changed after `c.SendFile`

**Code snippet**

[code]

[2021-08-20 05:47] ReneWerner87 commented on #1498
would say it is not safe, inside we use a buffer which is reused, so you should make a copy if you want to put the data in memory

[2021-08-20 05:50] ReneWerner87 commented on #1499
https://github.com/gofiber/fiber/blob/master/ctx.go#L1053-L1075

right , we change the original url so we can use the fasthttp internal functionality

probably we should change this back

maybe you can support us with a pull request and a unittest for it

[2021-08-20 12:38] G2G2G2G commented on #1354
"Suggestions for next update"
The "caching properties of cookie so it's user friendly" suggested here:
https://github.com/gofiber/fiber/issues/1127

[2021-08-20 13:58] Trim21 commented on #1499
I found that there is an extra bug here, even default config `KeyGenerator: func(c *fiber.Ctx) string {	return c.Path() }` will make cache confused.

[2021-08-20 14:03] Trim21 commented on #1499
this should be separated into 2 issues maybe.

[2021-08-20 14:07] ReneWerner87 commented on #1499
feel free to create a pull request with the solution for both things

[2021-08-21 01:13] Trim21 commented on #1499
I'm not sure what kind of fix do you expected for this cache issues.

Is it ok to make a copy string of generated key as real cache key?

[2021-08-21 04:35] micross commented on #1354
I want to be able to disable global layout in special handlers.
For e.g.

[code]

[2021-08-21 08:00] pckhoi commented on #74
In my case I'm using trailer headers to notify a down stream proxy to purge session since it is expensive to find out whether the session is done unless the body is completely generated. It is not a deal breaker to not support trailer but it still would be nice to have.

[2021-08-21 08:19] sub-mersion commented on #1498
Thanks for your response.
I suggest adding the warning note about mutability to the documentation of `Ctx.BodyParser()`, see gofiber/docs#194.

[2021-08-21 15:33] #1498 closed

[2021-08-21 15:33] hotrungnhan opened #1500 "🐛 ipv6 loopback"
**Fiber version**
v2.17.0
**Issue description**
i findout a little UI isuee with ipv6, that the console not giving me rightaway loopback ip. It must be [::1]:port not [::]
 ┌───────────────────────────────────────────────────┐
 │                     trueIPV6                      │
 │                   Fiber v2.17.0                   │
 │                 http://[::]:8000                  │
 │

[2021-08-21 15:33] ReneWerner87 commented on #1498
Thx for the PR

[2021-08-21 15:47] hotrungnhan commented on #1354
im suggest that we can
- Specific quaranty of process instead of max cpucore

[2021-08-21 16:10] sujit-baniya commented on #1354
@micross Isn't it working with empty string in `c.Render("login", fiber.Map{}, "")`. I checked the current logic and it seems it works as expected i.e. it will disable global layout by passing "" to 3rd param

https://github.com/gofiber/fiber/blob/master/ctx.go#L958-L962

[2021-08-21 16:44] hi019 commented on #1497
It looks fine. Can you provide a minimal reproduction of the issue?

[2021-08-21 17:03] kobenauf commented on #1439
This seems possibly related to #1490.

The workaround above wouldn't work for this situation:

[code]
Fiber looks for \orgs\index.html, but if it's not there, does not find orgs.html, and instead says reading the directory is Forbidden.

[2021-08-22 04:35] micross commented on #1354
@sujit-baniya yeah, you are right. maybe is a bug in jet template engine. is says 'template / could not be found'.

_**./views/index.jet**_
[code]

_**./views/layouts/main.jet**_
[code]

[code]

[https://github.com/gofiber/template/blob/master/jet/jet.go#L220-L229](https://github.com/gofiber/template/blob/master/jet/jet.go#L220-L229)

[2021-08-22 05:49] imraan-go commented on #1439
If that's the case, you can overwrite index file with `fiber.Static{}`.

[2021-08-22 08:28] #1487 closed

[2021-08-22 11:26] shirshendubhowmick opened #1505 "🐛 Possible issue with BodyParser's MIME type determination logic"
**Fiber version**: 2.17.0

**Issue description**: As per current logic in `BodyParser` it checks if content type is starting with `application/json` to parse JSON accordingly. The problem is when client sends a content type of `application/vnd.api+json; version=1` it fails and returns an error `Unprocessable Entity` even though the content type is valid of type `application/json`

**Code snippet**

[2021-08-22 11:49] shirshendubhowmick commented on #1505
@ReneWerner87 Can I work on this and send PR ?

[2021-08-22 12:00] ReneWerner87 commented on #1505
Sure

[2021-08-22 13:39] shirshendubhowmick commented on #1505
@ReneWerner87 Raised #1506 for this fix

[2021-08-22 13:49] G2G2G2G commented on #1497
I don't think so. As I said I think it generated the same UUID for 2 users, the chances of that aren't even possible to reproduce?

I did a few things to hopefully help this:
- made my key 80 characters long instead of the uuid (with https://golang.org/pkg/crypto/rand/ )
- I change the key every time page is refreshed
- I set a second cookie with their logged in name, and match that to the session

[2021-08-22 18:07] shirshendubhowmick commented on #1505
@ReneWerner87 Any ETA when this new version will be released ?

[2021-08-22 18:25] ReneWerner87 commented on #1505
Until the end of this week at the most, I want to collect more pull-requests first and then the release will come (we actually release every 14 days at the most).

[2021-08-22 18:29] ReneWerner87 commented on #1505
As long as you could test the commit from the master in your go mod

https://golang.org/ref/mod#pseudo-versions

[2021-08-23 01:39] hi019 commented on #1497
Sorry I missed your questions. You shouldn't need to check every session, or have more than one. Assuming the problem is with our [UUID generator](https://github.com/gofiber/fiber/blob/861e5d21fbdfcf1759a274a3becfa5d9cf9a173c/utils/common.go#L70), using crypto/rand will suffice. But we still need to make sure your code is OK. Are you using the session instance after you call session.Save?

[2021-08-23 06:22] #1494 closed

[2021-08-23 06:23] #1488 closed

[2021-08-23 06:32] #1492 closed

[2021-08-23 06:33] #1505 closed

[2021-08-23 06:34] ReneWerner87 commented on #1473
@whoiscarlo can you give us an example ?

[2021-08-23 06:36] ReneWerner87 commented on #1416
@WLun001 can you update the pull request again and make sure that all annotations are resolved, if necessary also ping the reviewers to speed up the whole process?

[2021-08-23 06:48] WLun001 commented on #1416
@ReneWerner87 I have resolved all comments, will ping the reviewers

[2021-08-23 06:55] ReneWerner87 commented on #1416
thx

[2021-08-23 07:39] sujit-baniya commented on #1354
@micross Yes it's a bug, I added a PR for above: https://github.com/gofiber/template/pull/135/files

[2021-08-23 07:58] ReneWerner87 commented on #1497
i tested the UUID && UUID_v4 generation with 10000000 ids in parallel goroutines and with random delay, none of the generated ids was identical

![image](https://user-images.githubusercontent.com/7063188/130410668-77d6f5e7-21c9-417d-9646-7873b7a58d76.png)

have tested both functions in other constellations, unparallel for example

don't think it's possible that the uuid is identical, with several

[2021-08-23 12:19] G2G2G2G commented on #1497
@hi019 I read from the session if that's what you mean by using the session instance?
I read from it many times, here is my login function:
[code]
All of the "sess.Set" stuff I use on various pages

The COOKIE above is new, I have this upon loading the page:
[code]
Which is a method I've read about, to kick users out even if the session gets hijacked, the hijacker would need to copy both cookies..

[2021-08-23 13:03] G2G2G2G commented on #1497
Other than their phone stuff which shows the user change, here is what are in my logs with some info, so you can see what I see which.. is weird I don't know how it can happen as I said many times, it is really confusing:

Trying to be as confidential here as possible sorry, removed the IP except last octet etc
no logout and then login was involved, between when they switched users, it was complet

[2021-08-23 14:17] ReneWerner87 commented on #1497
Okay thanks for this information, if it were a bug it would occur more than once a year and also with others

Since you don't know for sure if it's the session logic and here is a complex extension for the login, the whole problem could be there as well

I guess there is only someone logged out within the 3 days where the cookie runs and logged in with another user login or changed the user direct

[2021-08-23 15:22] G2G2G2G commented on #1497
Yea I ran into this many months ago which was fixed by you or hi019's (I forgot) help via:
[code]
(you can see it in my login function) without regenning it, as you said, the cookie stays the same and did cause the same issue. But that was fixed (maybe even last year? I forgot, but I know I asked for help there too)

I'll close it, it's good to know that what I have seems correct at least, If it e

[2021-08-23 15:22] #1497 closed

[2021-08-23 17:15] techytoes commented on #1500
@ReneWerner87 can I work on this issue? Thanks!

[2021-08-23 18:56] ReneWerner87 commented on #1500
Sure

[2021-08-26 15:46] FranciscoMendes10866 opened #1507 "How to get the file buffer using c.FormFile 🤗"
Hi! Recently, I was curious to try to upload an image with Fiber and then I visited the recipes repository and made an application like the `upload-file` example.

But I would like to know if there is a way to have the Image Buffer via `c.FormFile()`.

This is my code:

[code]
Instead of getting the image from the uploads folder and then getting that image's buffer. What I wanted is for the `file`

[2021-08-27 08:24] #1507 closed, assigned to nobody

[2021-08-28 04:51] techytoes commented on #1500
@ReneWerner87 can you please help me with documentation for testing locally? 🙇🏼

[2021-08-29 22:29] hi019 commented on #1500
@techytoes I can help. What issue are you facing?

[2021-08-30 04:42] techytoes commented on #1500
@hi019 I have made the changes. Just wanted to test these locally. Couldn't find any supporting documentation. Can you please help me with this?

[2021-08-30 17:32] pateljoel opened #1512 "Feature Request 🚀: Skip successful requests option for ratelimit middleware"
It would be nice if it is possible for an option to skip successful requests much like the express rate limit library for node:

[express-rate-limit#skipsuccessfulrequests](https://github.com/nfriedly/express-rate-limit#skipsuccessfulrequests)

Thanks.

[2021-08-30 18:31] ReneWerner87 commented on #1512
Please check https://docs.gofiber.io/api/middleware/limiter

And we are working also on https://github.com/gofiber/fiber/pull/1247

[2021-08-31 10:43] amalshaji commented on #1467
The current configuration only enables colors if the format is not provided.

[code]
replace the empty check by checking for variables that require color.
[code]

thoughts?

[2021-08-31 10:49] ReneWerner87 commented on #1467
create a pull request and check the output in the unittest and as long as it's just cost of initialization and not on the normal performance of the requests, we can take care of it

[2021-08-31 12:13] ReneWerner87 commented on #1467
will you create a pull request ? then i will assign the issue to you

[2021-08-31 14:18] amalshaji commented on #1467
yes

[2021-08-31 22:26] MagnifiGo opened #1514 "Fiber performance vs gRPC performance ?"
Has anybody performed any Fiber vs gRPC benchmarking? I am curious if Fiber outperforms gRPC or the other way around.

[2021-09-01 06:39] ReneWerner87 commented on #1514
No, but you are welcome to create a benchmark and share your findings with us here

[2021-09-01 06:40] ReneWerner87 commented on #1136
@si3nloong any update to the issue ?

[2021-09-02 13:57] superdolt opened #1515 "anyone writing any cms written using gofiber?"
anyone writing any cms written using gofiber?

[2021-09-02 13:58] ReneWerner87 commented on #1515
please ask this short questions in our community chat

[2021-09-02 13:58] #1515 closed

[2021-09-02 13:59] ReneWerner87 commented on #1515
https://discord.com/invite/bSnH7db

[2021-09-02 17:59] hi019 commented on #1500
@techytoes you should be able to just run `go test`

[2021-09-02 22:41] levg62 opened #1516 "🐛 Memory Leak in c.BodyParser - issues seems to be in jsonDecoder.decodeMapStringInterface and/or jsonDecoder.decodeInterface"
**Fiber version**
2.18 + go 1.17 running on redhat linux (16gb ram + 4 cpus)
**Issue description**
🐛 Memory Leak in c.BodyParser.  See attachment for heap pprof. The issue comes after running  a load test with 50+ concurrent requests for 2+ hours.  After a while, decodeMapStringInterface ends up holding 5+ GB of data.    The memory is never released (hours or days after the test is complete)

The

[2021-09-02 22:41] levg62 commented on #1516
[pprof.go4abl.alloc_objects.alloc_space.inuse_objects.inuse_space.024.pb.gz](https://github.com/gofiber/fiber/files/7102169/pprof.go4abl.alloc_objects.alloc_space.inuse_objects.inuse_space.024.pb.gz)

[2021-09-03 10:13] ReneWerner87 commented on #1516
https://github.com/segmentio/encoding

can you do me a favor and load the latest version in your app and take the decoder and encoder in the app config from the latest release of the library and then test it
-> please give me feedback after that

we may have to update our copy

if the whole thing doesn't work you could then take the json and use the library directly and maybe create a reproducible

[2021-09-03 12:23] #1500 closed

[2021-09-03 15:39] Thammachart opened #1518 "🐛 UserContext & SetUserContext suffer from Mutability of fiber.Ctx"
**Fiber version**
v2.18.0

**Issue description**
Method `UserContext()` and `SetUserContext()` of `fiber.Ctx` suffer from mutability (regardless of `Immutable` config flag),
meaning that `context.Context` stored in `fiber.Ctx` via those methods is, most of the time, changing below our feet or being reused between across requests

**Code snippet**

[code]
One-line shell script to help squeeze out t

[2021-09-03 21:09] jeremy-chua opened #1519 "🚀 feature to disable logging for certain route"
I'm using both the monitor and logger middleware.

The monitor refreshes every second, hence the log file will be fill up fast. Moreover, most file the log entry will belong to monitor which is not useful inho
Will be great to have a feature in logger to disable certain route from logging

Thanks

[2021-09-03 21:13] jeremy-chua opened #1520 "feature to support Server Side Event (SSE) and client EventSource"
I'm working on a project to stream and subscribe to eventssource on client.

https://en.wikipedia.org/wiki/Server-sent_events

Will be great to have this supported.
Thanks
:)

[2021-09-03 21:41] hi019 commented on #1519
You should be able to use the Next config entry. Something like this (untested, let me know if it wrosk):

[code]

[2021-09-04 03:25] tablecell opened #1521 "🐛 url with trailing slack /hello/name/ match "/hello/:name" should return 404 but return 200"
**Fiber version**
v2
**Issue description**
url with trailing slack /hello/name/  match "/hello/:name" should return 404 but return 200
**Code snippet**

[code]
$ curl http://localhost:3000/hello/fiber/
hello fiber

[code]

[2021-09-04 05:42] ReneWerner87 commented on #1521
https://docs.gofiber.io/api/fiber

If you don't want to do that, you can enable strict routing if you like

[2021-09-04 05:57] #1521 closed

[2021-09-04 09:27] jeremy-chua commented on #1519
Thanks got it!!!

[2021-09-04 09:27] #1519 closed

[2021-09-05 19:45] Far1za commented on #1451
has anyone had a chance to look at this if I'm doing something wrong ?

[2021-09-05 20:31] ReneWerner87 commented on #1451
Yes just, you can try instead of using defer on the save

after you set the values, use the save method without defer

I think it's because the defer with save is not executed until the next handler has already been executed by the ctx.next

[2021-09-08 07:52] ReneWerner87 commented on #1516
@levg62

[2021-09-08 07:53] ReneWerner87 commented on #1512
feel free to create a pull request containing the new option at the limiter middleware

[2021-09-08 07:54] ReneWerner87 commented on #1514
closed since we currently have no benchmark, if someone has a benchmark with results, he can deposit it here with pleasure

[2021-09-08 07:54] #1514 closed

[2021-09-08 11:06] big-town opened #1524 "🐛 Why method c.Params() doesn't work in a middleware? However method work fine in handler."
**v0.0.0-20210906170528-6f6e22806c34**

**Method c.Params() doesn't work in a middleware? However method work fine in handler.**

**Request GET http://127.0.0.1:9998/api/company/user_id/23?page=111**

[code]

[2021-09-08 11:44] ReneWerner87 commented on #1524
the params method can only determine the parameters if you specify these parameters in the route for the handler/middleware

since this middleware runs on route "/", if ma does not specify anything, no parameter can be determined here, if you position the mw under the route for your handler you will also get the parameters

for example:
[code]
or
[code]

[2021-09-08 12:41] levg62 commented on #1516
@ReneWerner87 after further investigation it turned out to be an issue with how json.Marshal was used and c.BodyParser was exhibiting the same symptoms.   I was handing off the object created by the json.marshal or c.bodyparser methods to a goroutine that held onto the object for a while..possibly preventing the GC from reclaiming memory.   The issue has been resolved after moving the marshaling t

[2021-09-08 12:41] #1516 closed

[2021-09-08 12:43] ReneWerner87 commented on #1516
ok thx for the information

[2021-09-08 12:43] ReneWerner87 commented on #1524
@big-town

[2021-09-08 13:47] #1524 closed

[2021-09-09 06:11] #1518 closed

[2021-09-09 15:24] xdorro commented on #1354
v3 need to support gqlgen and jwt for gqlgen :D

[2021-09-12 09:54] efectn opened #1526 "🚀 Next for Monitor Middleware"
**Is your feature request related to a problem?**
Some.
**Describe the solution you'd like**
It seems there is no Next for Monitor middleware. Also, we need next for some cases. If you're thinking to add this feature, i can open PR.

[2021-09-12 13:34] ReneWerner87 commented on #1526
You can also use our new skip middleware.

[2021-09-12 18:35] Far1za commented on #1451
@ReneWerner87 thank you for your input . I did update the example as suggested replacing
`defer s.Save()` with `s.Save()` before executing `return` and it works as expected.
I would like to suggest a small update in the documentation that would give some hint at the expected behavior.

[2021-09-12 19:02] ReneWerner87 commented on #1451
Ok, just create a pull request.

[2021-09-13 06:51] #1526 closed

[2021-09-13 08:22] himanshupal opened #1528 "🤗 How to early return html template"
Hi, I'm trying to early return a template if errors are found on user entered data on POST request else the same template is to be rendered without errors on GET request. I can see errors being logged in console but for some reason it's not rendering the template returned in next line, instead it always returns the template at the end of function.
What am I doing wrong here ?

![image](https://use

[2021-09-13 10:53] reloadzz opened #1529 "🐛 Get unexpected results from cache"
**Fiber version**
github.com/gofiber/fiber/v2 v2.18.0
**Issue description**
Get unexpected results from cache
**Code snippet**

[code]

[2021-09-14 03:24] goliatone commented on #1439
I ran into this issue today, what I saw is the same behavior @wirepair described, the `Open` fails due to `PathPrefix` having a `/` suffix.
If your `PathPrefix` is `testdata` then this check fails:

[code]

We could add an extra check after we add the prefix:

[code]

[2021-09-15 06:40] himanshupal commented on #1528
NVM it was redirecting the page to fetch it again using GET request, that's why it showing any errors. Issue is solved now.

[2021-09-15 06:40] #1528 closed

[2021-09-15 11:03] reloadzz commented on #1529
[code]
this works well,but don't know why

[2021-09-15 12:20] ReneWerner87 commented on #1529
in the example you use the memory as storage for the cache, there the path from the context is used directly, because we have a reference here to save allocations in the next request, this memory area is linked and the cache key changes

as you rightly noticed, we should make a copy of the string, this will slow down the middleware a bit, but should be ok

[2021-09-15 12:20] #1529 closed

[2021-09-15 12:28] reloadzz commented on #1529
ok,thank you

[2021-09-16 07:01] mckingho opened #1532 "🚀 Log request headers in logger middleware"
**Is your feature request related to a problem?**
Yes. I want to log whole request headers using `logger` middleware.

**Describe the solution you'd like**
A new template tag could be added and support the feature logging all request headers.
[code]

**Additional context**
According to #1148, I can only get all headers using fasthttp's functions. Maybe it is also good to add a function for fiber c

[2021-09-17 20:31] challmand opened #1533 "Ctx.Render FuncMap templating"
**Question description**
Is it possible to pass template functions with the Ctx.Render?

I am currently using html/template to pass a template.FuncMap to the template I am using, but want to convert to gofiber.

Thank you.

[2021-09-18 14:48] ReneWerner87 commented on #1533
Please check https://github.com/gofiber/template/tree/master/html

[2021-09-18 17:00] cdunn2001 commented on #41
I wish the wiki were in GitHub. https://fiber.wiki is currently unavailable.

[2021-09-18 18:15] challmand commented on #1533
thank you, that is exactly what i was looking for, didnt see it  initially on gofiber.io docs

[2021-09-18 18:15] #1533 closed

[2021-09-18 19:30] challmand opened #1534 "Seperating routes into different files 🤗"
**Question description**
Currently i have a main.go file with my app.Get routes, but how could I separate my routes into different files and the main.go file will include them all?

Essentially would like to have multiple files with app.Get and app.Post and my main.go would have something like app.Routes which would be able to get the other routes from the files.

Or does it not matter and I can h

[2021-09-19 11:53] AAlvarez90 opened #1535 "HOT Reload🚀"
**Is your feature request related to a problem?**
No, but I think it could be a great improvement.

**Describe the solution you'd like**
I would love, and I think many would love this feature if the app watched for changes in the source code and hot-reloaded itself. They got it done in this go framework: https://go-zepto.com/

**Describe alternatives you've considered**
The only alternative is to

[2021-09-19 17:20] aztecrabbit opened #1536 "🚀 Add Bind method to fiber.Ctx for adding var map for binding to template engine"
**Is your feature request related to a problem?**
Yes, I want add var map for template engine from middleware.

**Describe the solution you'd like**
[code]
[code]
Optional
[code]
[code]

[2021-09-19 20:10] gitMitos commented on #1536
c.Context().SetUserValue("IP",  c.IP() ) in middleware
then
app.Get("/", func(c *fiber.Ctx) error {
  val:=c.Context().Value("IP") // plus maybe some wrap functions if needed
  return c.Render("index", fiber.Map{
    "IP": val,
  })
})

these are not droids you're looking for? or you want better "sugar" with specifically "PutBind" and "GetBind"?

[2021-09-20 05:45] aztecrabbit commented on #1536
No. `c.Context().SetUserValue` and `c.Context().Value` is same like `c.Locals` do. https://docs.gofiber.io/api/ctx#locals.

[2021-09-20 07:14] ReneWerner87 commented on #1535
please check https://github.com/gofiber/recipes/tree/master/air

for hot load we recommend air
https://github.com/cosmtrek/air

[2021-09-20 07:14] #1535 closed

[2021-09-20 07:16] ReneWerner87 commented on #1536
Exactly, please use the locals to populate a map and then when rendering you use the values set via the locals

[2021-09-20 07:47] shytikov commented on #1534
You may not even need to declare it as a Global (with first capital letter), as a file in the same folder treated as part of the same module, that will work.

However... it could be achieved by creating a function that will accept the reference to the app and perform configuration.

I guess.

[2021-09-20 08:04] aztecrabbit commented on #1536
Like this?
[code]
Or maybe like this
[code]
Why should i do that? I believe this is not [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself)

[2021-09-20 09:04] shytikov commented on #1532
I think that makes sense if the default logging format would be JSON, not plain text as it is right now. Frankly, I don't know how to implement that in a readable manner in plain text, or how to enforce the JSON in the current implementation...

Am I wrong about that?

[2021-09-21 04:00] mckingho commented on #1532
I think there is no standard for logging format, but I prefer single-line json string for request logging.
Here is a snippet in my workaround:
[code]

[2021-09-21 06:29] ReneWerner87 commented on #1536
yes this
[code]
or like this
[code]

[2021-09-21 07:10] aztecrabbit commented on #1536
Okay. Let say some guy building debugtoolbarpanel middleware. Which mean they sould be bind html for that panel. How they sould bind that panel? Store html panel in `c.Locals`? And everytime i need to show that panel, i need to call `c.Locals` in every route? Thats not DRY at all.

Like in csrf milddeware. Why `ContextKey` stored in `c.Locals`? I think the best option is to store that in `c.Bind`

[2021-09-22 15:45] hi019 commented on #1534
There is an example of that here: https://github.com/gofiber/recipes/tree/master/clean-architecture%2Fapi

[2021-09-22 15:46] #1534 closed

[2021-09-22 15:46] #1225 closed

[2021-09-24 14:26] fufuok opened #1537 "🐛 Static file routing returns parent directory error"
**Fiber version**
v2.19.0

**Issue description**

Error when returning to the parent directory: `Cannot GET /static/`

Ref:

![bug](https://user-images.githubusercontent.com/4979407/134686111-2dc1525a-2450-4fac-8c0c-d161910ff013.gif)

**Code snippet**

[code]

[code]

[2021-09-24 14:33] fufuok commented on #1537
I fixed it through the following code, the test is correct, if possible, I will PR.

**Code:**

![code](https://user-images.githubusercontent.com/4979407/134691777-6024458c-2c3a-4317-b661-6dd07591c268.png)

**Ref:**

![fixed](https://user-images.githubusercontent.com/4979407/134691844-c775d2c3-ea66-4545-abee-a5a6e7a6fd76.gif)

**Test Code:**

[static_test_code.210924.zip](https://github.com/gofibe

[2021-09-24 16:22] blessedvictim opened #1539 "Update readme with new third party middleware 📒"
Recently appeared module for support Fiber in [apm go agent](https://www.elastic.co/guide/en/apm/agent/go/current/supported-tech.html#_fiber).
I suggest to add that module in "[Third Party Middlewares](https://github.com/gofiber/fiber#-third-party-middlewares)" part of readme.md

[2021-09-24 22:58] wedobetter commented on #1439
this is doing for me, while I wait for a proper fix.

`
//go:embed dist/bws/*
var angular embed.FS
.
.
.
app.Use("/", filesystem.New(filesystem.Config{
    Root: http.FS(angular),
    Browse:       true,
    PathPrefix: "/dist/bws",
    Index:        "/index.html",
    NotFoundFile: "/dist/bws/index.html",
  }))
`

[2021-09-25 21:14] efectn opened #1541 "🚀 HTTP/2 Support"
**Is your feature request related to a problem?**
No.
**Describe the solution you'd like**
@dgrr says https://github.com/dgrr/http2 is production-ready. I think you should add initial support for HTTP/2 with config. I know we can add HTTP/2 after fiber.New() but default support would not come amiss.

[2021-09-26 01:01] bengarrett opened #1543 "🐛 template/html layout"
**Fiber version**
v2.19 on Go 1.71.

**Issue description**
Hi, I am new to Fiber but I cannot seem to get the basic HTML layouts working as expected.

A copy and paste of the [HTML Basic example](https://github.com/gofiber/template/tree/master/html#basic-example) fails to produce a layout for the index. I don't know if this is a bug or simply a documentation error?

http://localhost:3000/ results

[2021-09-26 11:30] gitMitos commented on #1541
is there any performance\rps data about http1/fasthttp vs dgrr/http2/fasthttp?

[2021-09-26 12:01] dgrr commented on #1541
I just made a small benchmark:
[code]

But that means nothing, tbh. The main difference is latency. Instead of having to setup a single connection for N requests, with HTTP/2 you can just setup one connection and do all the requests you want. The connection can be kept alive as long as you want.

[2021-09-26 12:26] gitMitos commented on #1541
Thank you. I was worried it may cause some big (noticeable) drop in single requests (like if you add csrf middleware to fiber). Happy to see that all good in that front.

[2021-09-26 17:38] dgrr commented on #1541
[Here](https://http2.gofiber.io/) I have a testing site for http2 and websocket. (Don't click on the HTTP/1.1 because it doesn't work yet).

[2021-09-26 17:43] efectn commented on #1541
Does websocket middleware have support for HTTP/2 clients?

[2021-09-26 22:58] lerichardson opened #1544 "🤗 Cannot get routes created in separate functions"
**Question description**
I'm trying to clean up my code a bit by placing my routes in external go files. It seems, however, that fiber cannot create routes sent in other functions? When I try the code below, it results in a "Cannot GET /demo". What's going on?
**Code snippet**
[code]

[2021-09-26 23:02] #1544 closed

[2021-09-26 23:04] hi019 commented on #1544
Fiber instances created with fiber.New do not contain the routes of other instances. Try passing `app` from `main` into `DemoPage`:

[code]

Or you can just make DemoPage a Fiber handler and do `app.Get("/demo", DemoPage)` in main

[2021-09-27 09:18] 1534854467 opened #1545 "🚀 support message queue"
hope to support requests that from rest api and message queue(like. nsq, nats, kafka ...)

Or have any other ways to achieve ？

[2021-09-28 08:11] #1467 closed

[2021-09-28 08:24] ReneWerner87 commented on #1545
you can use message queues by using clients from other libraries

but I don't see a packet for fiber here, what benefit should that have ?

just use the connectors that are available for golang

[2021-09-28 08:29] ReneWerner87 commented on #1543
next time please open an issue report in the template repository

the output is expected

the first route does not use a layout, so it only outputs the content of the file with the title variable

the 2nd route uses the layout and puts the content of the file to be rendered into the layout file where the {{embed}} tag is located

any other questions ?

[2021-09-28 16:28] fufuok opened #1546 "🐛 Questions and fixes about filesystem middleware"
**Fiber version**

v2.19.0

**Issue description**

didn't make it today unfortunately, try to provide a fix on the weekend, if you have time before and find a solution, then feel free to create a pull request

_Originally posted by @ReneWerner87 in https://github.com/gofiber/fiber/issues/1439#issuecomment-881627537_

Hi, Great fiber.

A few days ago, I raised the bug and PR of app.Static. #1538

A

[2021-09-28 16:34] fufuok commented on #1546
Run *_fixed in the code package above to get the correct result below.

**tmp_filesystem_fixed:**

`1.`

![image](https://user-images.githubusercontent.com/4979407/135128190-c89b6f38-2527-4ee4-9677-cf26db8dd69b.png)

**tmp_filesystem_embed_fixed:**

`1.`

![image](https://user-images.githubusercontent.com/4979407/135128227-d7a305d2-46fc-4e54-9793-6db442797923.png)

`2.`

![image](https://user-imag

[2021-09-29 02:34] bengarrett commented on #1543
That is great, thanks for the clarification René and sorry about the misplacement of the issue.

For a suggestion, it might be clearer if the "Render index" example comment is updated to state `// Render index with no layout`?

Having the ./views/layouts/main.html layout documentation, where the first example is root, but it doesn't render with the layout is a bit confusing. I thought I was doing

[2021-09-29 03:54] 1534854467 commented on #1545
I try to use fiber to develop a project, and it contains many microservice applications.
some requests almost need call many other microservice at the same time and response merged result；

l learn about event-driven(https://medium.com/trendyol-tech/event-driven-microservice-architecture-91f80ceaa21e) and try it, but I don't know how to accept a request from the message queue and how to response d

[2021-09-29 05:57] #1543 closed

[2021-09-29 06:06] superdolt opened #1548 "🚀 Can someone provide the configuration of nginx equivalent for fiber for wordpress?"
"reverse proxy" script for things similar as the below for reference?

https://github.com/deliciousbrains/wordpress-nginx/blob/develop/sites-available/multisite-subdomain.com

[2021-09-29 06:13] ReneWerner87 commented on #1548
for some things you should use nginx, there it does not offer to switch to fiber

[2021-09-29 06:21] ReneWerner87 commented on #1545
please check
https://github.com/gofiber/recipes/tree/master/rabbitmq

probably you misunderstand the event driven stuff a little bit, there you don't talk about message queue in requests, but you create a consumer or worker for the queue, you can see that in the example project, in the folder worker

and by response data you probably mean placing a message on that queue based on a user request, wh

[2021-09-29 06:22] #1539 closed

[2021-09-29 08:03] 1534854467 commented on #1545
thanks for your reply!

For example rabbitmq ,it has to call API `/send?msg=text` to trigger router handler and get and publish msg to message queue in handler func

so  must has an another process or goroutine do this flow:
subscribe message queue-> get a message from channel -> call API `/send?msg=message` -> get response or error  -> publish response to message queue

has problems with this app

[2021-09-29 09:22] ReneWerner87 commented on #1545
do not quite understand

the fiber route only receives the action and then creates a message on the queue by publishing the message

at the same time you need a consumer somewhere for the queue, usually called a worker, which receives the message and then does your action

depending on that a service per rest can happen in the action again, even itself if you use 127.0.0.1 as address
or a database

[2021-09-29 09:41] 1534854467 commented on #1545
can I push/get message to fiber ctx queue without call rest api？

I will create a goroutine to subscribe/publish rabbitmq message queue,  then push/get message to fiber ctx queue instead of  call api(127.0.0.1:3000/send).

has any guide？

[2021-09-29 10:45] superdolt commented on #1548
i dont want to route using nginx and then fiber then php etc. just use fiber to replace nginx. possible to provide the instructions? it's almost what everyone wants.

[2021-09-29 11:10] morrakan opened #1549 "(c *Ctx) JSON(data interface{}) error does not respect standard json annotations ( omitempty, inline) in nested structs"
**Fiber version**
v2.19.0
**Issue description**
context Json method ignores annotation hints like `json:"token,omitempty"`, `json:",inline"` in nested structs
**Code snippet**

[code]
**Bug**
code snipped returns json:
[code]
Expected:
[code]

[2021-09-29 11:39] IGLOU-EU commented on #1549
Hi,

I think `omitempty` is for unmarshal only.

Because, `myvar int` == 0, but can you trust this affirmation `0 == empty` ? No you can't
Or we need to replace `omitempty`by a `notomitempty` flag, which I would find weird.

I'm wrong ? 🤔

[2021-09-29 14:44] morrakan commented on #1549
Hi, It is a part of the spec [https://pkg.go.dev/encoding/json#Marshal](https://pkg.go.dev/encoding/json#Marshal)

[2021-09-29 15:32] sebastiannm opened #1550 "🐛 Can't register a custom converter"
**Fiber version**
2.19.0

**Issue description**
Hi, I'm using the Mongodb Driver and when using QueryParser, I get an error saying that the type "primitive.ObjectID" is unknown. This is not specific to Fiber because others frameworks have the same problem, but other frameworks allow to register a custom Converter to fix the issue.
Ex: https://githubmemory.com/repo/kataras/iris/issues/1671

But in

[2021-09-29 15:42] aliereno commented on #1549
Hi, I just tried your code and it gives your expected response. Am I missing something?

![image](https://user-images.githubusercontent.com/36535188/135299441-bae15a5e-ce74-4318-8829-e4e8fa86eea8.png)

[code]

[2021-09-29 17:53] #1546 closed

[2021-09-29 17:55] morrakan commented on #1549
Thank you you are right! Bug reproduced in nested structs only.
Updated description and title

[2021-09-30 06:33] liaohongxing commented on #1549
internal encoding/json needs to be updated

[2021-10-01 02:22] kallydev commented on #1549
Hello @ReneWerner87, I've done some troubleshooting on this issue.

When using nested struct with pointer type, the pointer is a wild pointer due to some incorrect code, so `f.empty(v)` will return true or false at random.

https://github.com/gofiber/fiber/blob/89b85c2684b498d4ae9f3d2d617a9b5e79400b4b/internal/encoding/json/encode.go#L769-L771

I noticed that upstream https://github.com/segmentio/

[2021-10-01 03:38] melvinodsa commented on #1473
@whoiscarlo `sessionName` is an unexported field in the same package. That is why it is accessible inside the package, but not outside. You can use `Get`, `Set` receiver functions of Store to store values in sessions

[2021-10-01 06:17] ReneWerner87 commented on #1536
possible, feel free to create a pull request in the template repository and make it possible in any engine

[2021-10-01 06:17] #1536 closed

[2021-10-01 06:30] #1499 closed

[2021-10-01 06:32] #1426 closed

[2021-10-01 06:36] ReneWerner87 commented on #1550
with https://github.com/gofiber/fiber/pull/1100 you can define custom converters

[2021-10-01 06:37] ReneWerner87 commented on #1550
its in the next release

[2021-10-01 10:51] #1537 closed

[2021-10-01 12:29] efectn commented on #1549
I think using https://github.com/goccy/go-json or https://github.com/json-iterator/go good idea. We can do benchmark to compare performance.

[2021-10-01 12:50] fufuok commented on #1490
May be fixed by #1538

[2021-10-01 13:08] fufuok commented on #1490
![image](https://user-images.githubusercontent.com/4979407/135624471-ffcf15c1-8c88-40d9-8d0a-b5177af5954c.png)

![image](https://user-images.githubusercontent.com/4979407/135624511-eb4bf1a9-a6fd-45e1-8a8e-75b8c7d035b0.png)

![image](https://user-images.githubusercontent.com/4979407/135624547-cd06b451-f3b7-40ba-9131-b51a5a859d3d.png)

[code]

**go.mod**
[code]

[tmp_static_web.211001.zip](https://g

[2021-10-01 15:18] fufuok commented on #1490
If you want to use trailing slash to register static file routing, then you may need such modification.

@ReneWerner87 if necessary, I can PR.

![image](https://user-images.githubusercontent.com/4979407/135636776-9a55200e-9337-4468-b3b2-5a3cf0aee188.png)

**demo**

[code]

**go.mod**

[code]

You can visit the following URL:
- http://127.0.0.1:3000/static
- http://127.0.0.1:3000/static/
- http://1

[2021-10-01 18:01] Quanare commented on #1532
What about the `Authorization` header and maybe some other secret data? There should be a way to specify secret headers that should not be logged

[2021-10-01 21:02] pcen opened #1558 "🚀 Add Configurable Default `ExternalStorage` for `Ctx.SaveFile`"
Add the ability to specify and configure an external cloud storage to save files to via the `Ctx.SaveFile` function.

Change in gofiber/fiber https://github.com/gofiber/fiber/pull/1557
Change in gofiber/storage https://github.com/gofiber/storage/pull/227

[2021-10-02 02:00] hi019 commented on #1549
Looks like it's related to this

https://github.com/segmentio/encoding/issues/63

[2021-10-02 20:11] josebalius commented on #1438
I've opened a PR #1560 to solve this.

[2021-10-03 17:03] hotrungnhan opened #1561 "🐛 body parser wont parse json tag of struct in x-www-urlencoded , or formdata"
**Fiber version**
v.2.19
**GO VERSION** 1.17.1
**Issue description**
Bodyparser cant unmashal json tag , throw err.
But it can work when post with property name as key ( still throw error but  you can skip), althought i already tag .
**Code snippet**

[code]

[2021-10-03 19:45] shahriar350 commented on #1561
[code]
Try it

[2021-10-04 00:49] hotrungnhan commented on #1561
im sorry,  there was a bit mistake when i forgot check nill of err.
but after fix that now i findout that when you post with raw json > work ! , but the other form  url encode or formdata isn't reconize  type_type tag

[2021-10-04 01:57] hotrungnhan commented on #1561
oh no, i did't read document carefully for form data, url encode , use "form" tag instead "json"

[2021-10-04 01:57] #1561 closed

[2021-10-04 07:10] ReneWerner87 commented on #1549
you are welcome to test other json libraries, if the benchmarks look good, we can also switch to them

after the benchmarks, of course, we need to shed some light on how trustworthy the source is

[2021-10-04 21:35] efectn commented on #1549
Benchmark results: https://termbin.com/j4j19

Also, go-json seems has good compatibility with encoding/json stds.

[2021-10-05 08:55] #1490 closed

[2021-10-05 09:11] ReneWerner87 commented on #1549
ok thx,
we have taken a look at it and also at the github pages and internally allow the switch to go-json as there is more activity here as well
https://github.com/goccy/go-json

would be cool if someone can provide a pull request for it, please in the way the other library was already added, so a copy with comments and without the unittests of the library itself, as these were already checked in

[2021-10-05 10:20] efectn commented on #1549
What should we do iso8601 and ascii dirs? Should we change json dir only?

[2021-10-05 12:03] #1438 closed

[2021-10-05 14:31] WLun001 commented on #1416
@ReneWerner87 the PR will not be accepted, see https://github.com/open-telemetry/opentelemetry-go-contrib/issues/1100

[2021-10-06 07:14] ReneWerner87 commented on #1550
https://github.com/gofiber/fiber/releases/tag/v2.20.0
you can use
https://docs.gofiber.io/api/ctx#setparserdecoder

[2021-10-06 07:14] #1550 closed

[2021-10-06 07:15] #1512 closed

[2021-10-06 07:17] ReneWerner87 commented on #1439
fixed with https://github.com/gofiber/fiber/pull/1547

release https://github.com/gofiber/fiber/releases/tag/v2.20.0

[2021-10-06 07:17] #1439 closed

[2021-10-06 07:26] ReneWerner87 commented on #1378
@gopkg-dev check https://docs.gofiber.io/api/ctx#setparserdecoder

[2021-10-06 07:26] ReneWerner87 commented on #1378
its in the newest release https://github.com/gofiber/fiber/releases/tag/v2.20.0

[2021-10-06 18:00] sixcolors opened #1565 "🐛 fiber release v2.20.0 has a bug preventing it working on darwin in darwin_loader.go"
**Fiber version**
v2.20.0

**Issue description**
``github.com/gofiber/fiber/v2/internal/gopsutil/load
../go/pkg/mod/github.com/gofiber/fiber/v2@v2.20.0/internal/gopsutil/load/load_darwin.go:54:14: undefined: invoke``

**Code snippet**
line 54``out, err := invoke.CommandWithContext(ctx, bin, "axo", "state")``

missing

``var invoke common.Invoker = common.Invoke{}``

pr #1564

[2021-10-06 18:34] jeanali opened #1566 "Handle spreate route in multi files"
I have  this structure :

[code]

in `api.go`:

[code]

in `auth.go`

[code]

I go error `Cannot use 'api' (type Router) as the type *fiber.Group`

[2021-10-07 14:57] DomiM94 opened #1567 "🐛 Limiter Middleware behaves wrongly after latest changes"
**Fiber version**
v 2.20+ (Limiter Middleware Commit #1542 )

**Issue description**
Since the new attributes for skip options were implemented the limiter does not work as expected anymore.
When I don't set any of the two new attributes the request will be forwarded to the upstream server even in case if this request will hit the limit. Therefore I end up with executing a successful request and re

[2021-10-07 15:01] ReneWerner87 commented on #1567
@aliereno could you check this

[2021-10-07 16:30] aliereno commented on #1567
Hi, I tried to solve it with this pr https://github.com/gofiber/fiber/pull/1568.
This solution
1-  doesn't forward the request before the limit reached calculations.
2- doesn't returns 429 on successful requests and doesn't overwrite the actual statuscode.

But there is a problem that I can't solve. I need some help.
When remaining number is 1 and next request should be skipped, this code will ret

[2021-10-07 17:32] #1566 closed, assigned to nobody

[2021-10-10 12:22] AliYusuf95 opened #1571 "🐛 warning: 'TARGET_OS_MAC' is not defined, evaluates to 0 [-Wundef-prefix=TARGET_OS_]"
**Fiber version**
v2.20.1

**Issue description**
If I use monitor middleware and try to build my project on macOS using [LLVM/Clang 11.0](https://en.wikipedia.org/wiki/Xcode#Xcode_11.x_-_13.x_(since_SwiftUI_framework)_2) or higher (in my case 12.0.0), I get the following error:
[code]

**Code snippet**

[code]

**Proposed Solution**
Based on this [issue](https://github.com/shirou/gopsutil/issues/9

[2021-10-10 15:06] #1571 closed

[2021-10-11 06:28] #1549 closed

[2021-10-11 12:43] efectn commented on #1276
I'm interested in this issue. Probably i'll create PR on weekend. Can you assigne me @ReneWerner87?

[2021-10-11 16:31] #1567 closed

[2021-10-11 21:18] Fenny commented on #1354
Quick update:

We decided to wait with v3 until Go1.18 is released in early 2022 along with generics 🥳

Keep you updated!

[2021-10-12 18:24] nilopaim opened #1573 "🤗 Can fiber works with RTMP?"
Can fiber works with RTMP?

And how, if possible?

[2021-10-13 02:11] #1573 closed

[2021-10-14 06:27] fiecato opened #1574 "Why net.Addr is fiber.testAddr, not *net.TCPAddr?🤗"
**Question description**
I use app.Test for unit testing, but `panic: interface conversion: net.Addr is fiber.testAddr, not *net.TCPAddr` is reported

**Code snippet** _Optional_

`initialize.go of InitTrancer`
[code]

`router.go`
[code]
`middlerware.go`
[code]

[code]
How should I deal with this situation?

[2021-10-14 09:53] efectn commented on #1354
Split fasthttp methods as engines/fasthttp. Community can create own engine bindings like net/http. Similar to https://github.com/labstack/echo/tree/v2.2.0/engine but only fasthttp supported as builtin in fiber repo.

[2021-10-16 17:53] frederikhors commented on #403
https://github.com/99designs/gqlgen/issues/1664

[2021-10-16 18:35] abhijitgujar86 opened #1578 "How to set up reverse proxy 🤗"
**Question description**
I saw in proxy middle ware of version 1 there is some feature for reverse proxy. But I am not able to figure out the same for v2 do we have it ? if yes how to configure it ?

I was hoping to reverse proxy based on condition such as path, like if the request path have some keyword say /keyword/* then reverse proxy it to 127.0.0.3 server

[2021-10-16 18:41] abhijitgujar86 commented on #1578
upon digging little deep i think reverse proxy is not supported . if that's case please confirm and close this issue. thanks.

[2021-10-16 20:22] c1moore commented on #1532
Is this still applicable?  Looks like there's already a `TagReqHeaders` tag.

[2021-10-17 02:21] z-ab opened #1579 "🐛 runtime: out of memory"
go version 1.17
fiber 2.20

# github.com/gofiber/fiber/v2/internal/go-json/encoder/vm
fatal error: runtime: out of memory

runtime stack:
runtime.throw({0xcf51e2, 0x6800000})
	/usr/local/go/src/runtime/panic.go:1198 +0x71
runtime.sysMap(0xc021800000, 0x429960, 0x7ffc82a6ceb8)
	/usr/local/go/src/runtime/mem_linux.go:169 +0x96
runtime.(*mheap).grow(0x1387460, 0x3289)
	/usr/local/go/src/runtime/mheap

[2021-10-17 04:07] liaohongxing commented on #1579
question info ?

[2021-10-17 15:00] #1565 closed

[2021-10-17 15:02] #1473 closed

[2021-10-18 10:28] Sc97-create opened #1581 "can we integrate socket.io with fiber🤗"
**Question description**

**Code snippet** _Optional_

[code]

[2021-10-18 11:23] #1581 closed, assigned to nobody

[2021-10-18 23:31] damianham opened #1582 "ParseVendorSpecificContentType unable to parse Dart http Content-Type boundaries"
Given a Content-Type of
multipart/form-data; boundary=dart-http-boundary-ZnVy.ICWq+7HOdsHqWxCFa8g3D.KAhy+Y0sYJ_lBADypu8po3_X

utils.ParseVendorSpecificContentType determines
plusIndex+1 == 59
semiColonIndex == 19

thus
`parsableType = cType[plusIndex+1 : semiColonIndex]`  // (utils/http.go:#41)

 panics with a runtime error: slice bounds out of range

[2021-10-19 08:58] nassirdreffy opened #1583 "🤗"
**I tried to pass the config into the etag middleware function like in the documentation, but i got an error message, does anyone may help ?**

**Code snippet**

[code]
Error => etagConfig
cannot use etagConfig (variable of type Config) as etag.Config value in argument to etag.New

[2021-10-19 09:14] #1583 closed, assigned to nobody

[2021-10-19 14:20] chr1sto14 opened #1585 "🐛 Session Id used outside of handler"
**Fiber version**
v2.20.2

**Issue description**
The parsed session id is not copied.

When parsing a session id in [getSessionID](https://github.com/gofiber/fiber/blob/master/middleware/session/store.go#L94) and [responseCookies](https://github.com/gofiber/fiber/blob/master/middleware/session/store.go#L117), the resulting id is not immutable. The resulting session.Save() uses a Session.id that po

[2021-10-19 16:58] sujit-baniya opened #1586 "🤗 How to Use group of functions that returns handler?"
**Question description**
I have some handlers that are wrapped within paramterized function. I wanted to pass such function as a slice so that `fiber.Router` could use them. I tried with following function

[code]

and wanted to pass above function as

[code]

Place that would use such function

[code]

When I run above code, I expected to get redirected when trying to access `/restricted` route.

[2021-10-19 17:07] #1586 closed

[2021-10-19 19:33] ibrahimnoorz opened #1587 "Will this not panic on an empty param?"
https://github.com/gofiber/fiber/blob/ff38081eb906e763a48a53a5e42856f8010ed7c0/path.go#L353

I was just browsing through the implementation of fiber and noticed this line. Did I misread this code or there should be a length check before indexing the `param`.

Test against `param = ""`

[2021-10-20 08:53] sokryptk opened #1588 "Wildcards preferred over static path"
Hi, I have such a config on my webserver. Whenever I try to request to /info/112/download, the /info/:id/:chapter endpoint is the one that's getting matched. I have tried reordering them and I have failed to do it successfully. Is this by design and if so, how would I overcome this rather than changing the endpoint path.

[code]

[2021-10-20 09:49] krypticallusion commented on #1588
Oh, okay. Thanks for the help!

[2021-10-20 09:49] #1588 closed, assigned to nobody

[2021-10-21 02:48] silver-brother opened #1589 "🤗 How to get params in header"
**Question description**
I want to get token in header,use logger TagReqHeader tag，but the result is null

**Code snippet** _Optional_

[code]

[2021-10-22 06:15] ManojKumarChauhan opened #1591 "How to access headers and cookies 🤗"
**Question description**
How to access headers and cookies from fiber's request and response.
**Code snippet** _Optional_

[code]

I have following function where fiber context is passed
func handle(c *fiber.Ctx) {
}

I can access request headers using following code
req := c.Request()
headerString := req.Header.GetHeaders()

But I didn't find the code to access response header.

Also I didn't fin

[2021-10-23 03:42] #1578 closed, assigned to nobody

[2021-10-23 12:35] RabieAli95 opened #1592 "Push rejected, failed to compile Go app."
I just deploy my go with fiber to Heroku and while deploying I got this error:

[code]

my project structure:

[code]
`main.go` contains:

[code]

`api.go` contains :

[code]

`fiber_middleware.go` contains:

[code]

The project is working in local!

[2021-10-23 16:53] #1592 closed, assigned to nobody

[2021-10-25 05:13] #1582 closed, assigned to ReneWerner87

[2021-10-25 05:25] #1587 closed, assigned to ReneWerner87

[2021-10-25 05:43] alanhe opened #1596 "🤗 Is square bracket parameter supported?"
**Question description**
Hi, when a query parameter is encoded in the square bracket form, e.g. `?foo[]=bar1&foo[]=bar2`

Calling `c.Query("foo", "")` gives me an empty value.

I can get "bar" when I modified the call to `c.Query("foo[]", "")`.  However, what I actually want is `["bar1", "bar2"]`.

It there a way to achieve this?

PS: I'm cannot control the input URL because it is called by extern

[2021-10-25 07:57] #1591 closed, assigned to nobody

[2021-10-25 08:01] #1596 closed, assigned to nobody

[2021-10-25 08:01] #1589 closed, assigned to nobody

[2021-10-25 17:08] wireguardo opened #1598 "🤗 Fiber Proxy dynamically change servers"
Hello! I need to change servers when the condition is true. for ex

`
host := ctx.Get("Host") == "mywebsite.com"

if host {
   change servers list in proxy.Balancer ....
}
`

Help me please <3

[2021-10-26 09:14] 0xberkay opened #1599 "🐛 Render Bug not return value"
**Fiber version**

**Issue description**

I return some values in c.Render but some values not return

**Code snippet**

[code]

[code]

error</br>
![error](https://user-images.githubusercontent.com/70816926/138848448-981cbb96-24a3-4ead-865b-4ab98eecff36.png)

[2021-10-26 09:32] #1599 closed, assigned to nobody

[2021-10-26 18:38] sadfun opened #1600 "🚀 Add IP ranges support to config.TrustedProxies"
**Is your feature request related to a problem?**
Yes. When you proxy your site with, for example, Cloudflare, you have to compare request IP with IP ranges, not IPs one by one.

**Describe the solution you'd like**
If it was possible in `fiber.Config`, we would do something like this:
[code]
But now we can specify only individual IPs. Let's change it!

[2021-10-27 22:46] #1600 closed, assigned to nobody

[2021-10-28 06:23] #1585 closed, assigned to nobody

[2021-10-29 16:39] boreek opened #1605 "🐛 Why path always start with a '/' ?"
Fiber v2.20.2

I am making modules,
each module has its own prefix

Example
**module**: `crm`, **prefix:** `crm`, **path**: `getContacts`

Expected Result: `crm.getContacts`
Actual result: `/crm./getContacts`

[code]

[2021-10-30 08:45] sadfun opened #1607 "🐛 Fiber will never start with big IP networks in config.TrustedProxies"
**Fiber version**
2.21.0

**Issue description**
Recently I asked for a feature: #1600. Next day it was implemented by #1602. Thanks, but I think this solution is very dangerous.

Let's see how current solution works:

[code]

Actually, this solution just adds all IP adresses that networks contains in trustedProxiesMap, one by one.

Look at Cloudflare – most popular proxy for websites and, I think,

[2021-10-30 14:08] ZQun commented on #1354
@efectn
hi,
Will the V3 version support http2?

[2021-10-30 14:23] Rayan1159 commented on #1354
Fiber is built on fasthttp, so ask there.

[2021-10-30 15:45] efectn commented on #1354
I don't know but i hope. That's maintainers' decision.

[2021-10-31 14:22] balcieren opened #1608 "🚀 Run multiple auth functions by relation"
I have an idea for middleware relation. I have thought like that

[code]

If user is not admin but if user is moderator, GetMe handler is going to work.

[2021-10-31 16:40] balcieren commented on #1608
Hi again, I made that's idea.
[fiber-relation](https://github.com/balcieren/fiber-relation)

[2021-10-31 16:43] mihailstefanov opened #1609 "🤗 Strange behaviour of the logger when adding tag "method" TagMethod into formatting string"
v 2.21.0

Adding  tag "method" TagMethod in custom format, force using of the default formatting and completely ignoring custom one

Magic  is in a function https://github.com/gofiber/fiber/blob/85591e8b45fb406fb79104402cb6b7f72ec284c0/middleware/logger/config.go#L61
checking for 2 keywords one of them is "method", used in configDefault https://github.com/gofiber/fiber/blob/85591e8b45fb406fb791044

[2021-10-31 17:51] mikeychowy commented on #1545
It seems you're still misunderstanding event-driven concept.
Let's not talk about edge cases and talk about how most applications will implement this first. (yes, even in java/php/lua/c++ or any other languages, for the most part).

In most cases, the "event " that is referred to by event-driven is actually just a message to a queue forwarded by a HTTP call.
For example, you have an e-commerce sit

[2021-10-31 21:15] #1545 closed

[2021-10-31 21:18] ReneWerner87 commented on #1609
Related to https://github.com/gofiber/fiber/pull/1513/files

@amalshaji

[2021-10-31 21:20] ReneWerner87 commented on #1608
Ok thx, you can add yourself to the list https://github.com/gofiber/fiber#-third-party-middlewares

[2021-11-01 08:22] #1451 closed

[2021-11-01 13:19] amalshaji commented on #1609
interesting. I will look into it.

[2021-11-01 15:11] Makemanback opened #1610 "🤗 why it's not possible to set cookie for CSRF middleware expire date to session?"
Hello. Why in  https://docs.gofiber.io/api/middleware/csrf middleware impossible to set session cookie? In secure context from XXS/CSRF attacks session cookies are more secure.

Or is it possible to set cookies as session in this middleware?

If I set Expiration as 0, Expiration field goes to header, but if I want to make cookies as session I should not set headers Max-Age and Expires.

Session co

[2021-11-01 16:42] balcieren commented on #1608
@ReneWerner87 [Fastify Auth](https://github.com/fastify/fastify-auth) this package ispired to me. But I can not do like that. I have tried but i didn't get positive result from [fiber-relation](https://github.com/balcieren/fiber-relation). I hope , your team will do that idea.

[2021-11-03 12:30] ayamzh opened #1611 "how can i use zap to instead of fiber.log🤗"
**Question description**

**Code snippet** _Optional_

[code]

[2021-11-03 12:31] efectn commented on #1611
https://github.com/gofiber/contrib/tree/main/fiberzap

[2021-11-04 07:47] amalshaji commented on #1609
Previous solution to fixing the custom color issue was okay, but did not take into account how the coloring was done in the background. [Here](https://github.com/gofiber/fiber/blob/a6aea1cdc5caf8d45d18041f25877d0811feeec6/middleware/logger/logger.go#L177), if colors are enabled, it colors the default format. Because the previous fix did not account for the custom template.

Solution is to make cha

[2021-11-04 09:11] mihailstefanov commented on #1609
Probably question is not for me, but I think that flag cfg.enableColors has no place in configuration and the way it is tested (cfg.Format == "" && cfg.Output == nil) does not correspond to it's name. May need some more deep refactoring.

[2021-11-05 07:00] #1611 closed

[2021-11-08 22:22] withernet opened #1615 "Rendering text/plain templates"
What is the proper way to render `text/plain` templates? I haven't been able to find out how to override such functionality with the code below.

[code]

[2021-11-08 22:28] withernet commented on #1615
Looks like I was able to do this like so:

[code]

While this does work, it doesn't seem correct?

[2021-11-09 04:45] G2G2G2G commented on #1548
yes as eisen said, fiber isn't for that.

Normally in your case superdolt you are going to run nginx in front of both wordpress AND fiber, and it'll reverse proxy to both of them

[2021-11-09 10:02] ReneWerner87 commented on #1615
the solution is okay and I would have suggested it too

you can also use the shortcut method
https://docs.gofiber.io/api/ctx#type

c.Type("text")

[2021-11-09 10:02] #1615 closed

[2021-11-09 10:06] xmlnz opened #1617 "🐛"
**Fiber version**
v2.21.0
**Issue description**
When i started the fiber app, when app try to connect to db, the whole  app like freezes
**Code snippet**

[code]
Im added screenshot
![image](https://user-images.githubusercontent.com/63904972/140904260-5fe1ca6d-318f-46e9-bd2c-b23c98a65f5e.png)

[2021-11-09 10:20] ReneWerner87 commented on #1617
since the problem is establishing the connection to the postgres database and it is waiting, i close the issue since there is no bug in fiber and support via direct message

[2021-11-09 11:13] ReneWerner87 commented on #1617
after direct communication it came out that the wrong port was used, the other one that was used was open but gave a format that postgres could not work with(because it was the http port)

[2021-11-10 09:43] idc77 opened #1619 "🤗 Question: what is a greedy parameter"
If you invent new language, describe what this new language means.

What is a "greedy parameter"?

[2021-11-10 09:43] idc77 commented on #1619
Your stupid discord bot doesn't recognize reactions

[2021-11-10 10:03] ReneWerner87 commented on #1619
greedy parameters are
![image](https://user-images.githubusercontent.com/7063188/141092190-958963d2-2f56-4a38-9be7-a84c50b3b963.png)
https://docs.gofiber.io/guide/routing#parameters

we have taken this wording out of the world of regular expressions and actually thought it should be clear from the examples and this understanding how the behavior is
https://developpaper.com/the-greedy-and-non-greed

[2021-11-10 10:57] ReneWerner87 commented on #1619
Btw what is your discord name? (maybe i can help you there)

[2021-11-11 14:39] #1619 closed

[2021-11-12 06:10] alanhe commented on #1520
I want SSE too.

[2021-11-12 20:15] withernet commented on #1615
`c.Type("text")` doesn't work, it changes the type to `Content-Type: application/octet-stream`. `c.Set("Content-type", "text/plain")` does work however.

[2021-11-12 20:23] ReneWerner87 commented on #1615
Yes you are right

https://github.com/gofiber/fiber/blob/master/utils/http.go#L149

Should be c.Type("txt") without the "e"

[2021-11-12 20:24] withernet commented on #1615
Ah, there's the list, thanks :)

[2021-11-13 03:16] li1234yun commented on #1354
Explore more effective and efficient development mode, such as: support generic, more convenient tools, built-in OpenAPI doc etc.

[2021-11-14 11:57] ayatkyo opened #1622 "🚀 Access current `*fiber.Ctx` from template engine"
**Is your feature request related to a problem?**
I want access `*fiber.Ctx` from Template Engine so i can make template function that depend on context like `c.BaseURL()`, `c.Locals()` etc

**Describe the solution you'd like**
Add `fiber.ctx` as `Views.Render` argument

[code]
So we can access context from Template Engine.

For example i add some change to https://github.com/gofiber/template/blob

[2021-11-15 01:53] da4z commented on #1622
I agree, it is necessary

[2021-11-15 08:30] xushuhui opened #1624 "🤗 How to extend fiber Router"
**Question description**
Hi，I want add feature in route，But it must return interface fiber.Router

**Code snippet**
I implement like this,But it not work
[code]
In a word, I cant handle custom route，because  fiber.Router interface limit
How can I do ?
Thank your work

[2021-11-15 08:34] #1598 closed

[2021-11-15 14:41] liaohongxing commented on #1624
this example :

[code]

[2021-11-16 01:29] xushuhui commented on #1624
@liaohongxing   I  use middleware and   work it ,thanks

[2021-11-16 01:48] #1624 closed

[2021-11-16 21:41] husanu opened #1625 "🐛 logger custom formatting is ignored"
**Fiber version**
github.com/gofiber/fiber/v2 v2.22.0

**Issue description**

because of https://github.com/gofiber/fiber/blob/master/middleware/logger/config.go#L85 if Output == nil and Format contains `${status}` and `${method}"` then cfg.enableColors is set to true, which will force the code for no custom format to run:
[code]

**Code snippet**

[code]

[2021-11-17 08:33] ReneWerner87 commented on #1625
https://github.com/gofiber/fiber/issues/1609

[2021-11-17 09:23] husanu commented on #1625
same buggy code... different side effect :)

[2021-11-17 11:49] nicufk opened #1626 "🐛 Getting param when question mark is escaped the param will contain the query as well."
**Fiber version**
v2.22.0

**Issue description**
If the request is of form ```http://localhost:8088/v1/scripts/script-name%3Fnamespace=testkube``` when getting the script-name using [Params()](https://pkg.go.dev/github.com/gofiber/fiber/v2@v2.22.0#Ctx.Params) function the script name is "script-name%3Fnamespace=testkube"

**Code snippet**

[code]

[2021-11-17 11:55] ReneWerner87 commented on #1626
I don't understand the problem, how should it behave? If the control characters separating the url and the query parameters are not marked as such, then the separation does not work either

[2021-11-17 12:00] ReneWerner87 commented on #1626
The control characters #, & and ?
Should not be coded if they are supposed to control something

If you have e.g. a parameter which contains a url with query parameters, this url can be encoded completely, so that the parameter is decoded again at the receiver and can be used completely, but this concept is only valid for the parameters and url parts which you want to pass on.

[2021-11-17 12:01] #1626 closed

[2021-11-17 12:05] Jictyvoo commented on #1354
Maybe we can add the possibility to create hooks to fiber app to everytime a new handler is registered. So in this way the user can make a way to generate a documenting page for their api

[2021-11-18 08:50] liaohongxing opened #1627 "🐛 Why custom format show default template"
**Fiber version**
v2.22.0
**Issue description**

custom format show default template

**Code snippet**

[code]

console output:

16:35:54 | 200 |      0s |    192.168.1.42 | GET     | /api

[2021-11-18 09:10] ReneWerner87 commented on #1627
Duplicate of #1625
Duplicate of #1609

[2021-11-18 09:10] #1627 closed

[2021-11-18 09:10] #1625 closed

[2021-11-22 08:52] SaltFishPr opened #1628 "🐛 c.JSON() panic"
**Fiber version**
github.com/gofiber/fiber/v2 v2.22.0
**Issue description**
c.JSON() panic but encoding/json.Marshal  works well.
**Code snippet**

model.User:

[code]

service.GetUserInfo:

[code]

`user` data at breakpoint:

[code]

user.Hubs:

[code]

user.Friends:

[code]

json encode works well until marshal user.Friends

[code]

then panic happen

[code]

[2021-11-22 17:49] GarryGaller opened #1629 "🚀 Function to check if request came from localhost"
Could you build into the library a simple function that guarantees that the request came from a local host?
That would be handy than writing your own bike every time, which often isn't quite right enough yet.
Let's say this option doesn't work correctly.
[code]

This one's better:
[code]

[2021-11-23 01:24] SaltFishPr commented on #1628
I write a test to replicate the problem.

[code]

Output:

[code]

[2021-11-23 04:31] jinhongguo opened #1630 "🤗 Why is the return type of each handler is error?"
**Question description**

**Code snippet** _Optional_

[code]

[2021-11-25 20:16] sevaho opened #1631 "🐛 Request Header Fields Too Large when running CSRF and encrypt cookie middleware"
**Fiber version** 2

**Issue description**

When running following script in a browser you will notice that the cookie value is growing by continuous encrypting the value. The browser will respond with `Request Header Fields Too Large` when cookie is too big.

**Code snippet**

[code]

[2021-11-26 05:14] hi019 commented on #1607
I've been busy recently so my work on #1614 has stagnated. I'll finish it in the next few days, but someone else is welcome to jump into.

[2021-11-27 04:17] lucaskatayama opened #1632 "🐛 Default error handler for mounted app"
**Fiber version**
v2.22.0
**Issue description**

If you mount an router in a group, the default error handler is not triggered.

**Code snippet**

Given router:

**Router **
[code]

The following code does not trigger the default error handler inside `v1.Router()` or `v2.Router()`

Main
[code]

BUT if you do the following it works:

Main
[code]

And the specific router error handler is called corr

[2021-11-27 09:29] inemtsev opened #1633 "Has anyone tried running Fiber on Apple Silicon? 🤗"
Hi,

I seem to have problems running the basic hello world app on my Apple Silicon Mac. When I run in Goland I get the following result:

<img width="1620" alt="Screen Shot 2564-11-27 at 16 22 13" src="https://user-images.githubusercontent.com/15311236/143675832-5cf9d651-cd88-4cde-b169-43925c7b9301.png">

[code]

No errors or anything, just doesn't run.

[2021-11-27 10:00] inemtsev commented on #1633
Never-mind, I found the issue by adding log.Fatal() around app.Listen()
The issue was that port 3000 was already being used. Still feel like there should have been some kind of error without it.

[2021-11-28 07:35] r6c opened #1634 "🐛 ctx.Params() can't Parse correctly"
**Fiber version**
Fiber v2.22.0
**Issue description**
When i try `curl http://127.0.0.1:3000/api/domains/http://google.com/`. ` ctx.Params("domain")` can't parse `http://google.com/`
**Code snippet**

[code]

[2021-11-29 07:33] #1633 closed

[2021-11-29 07:45] ReneWerner87 commented on #1634
correct the parameter can't be found like this, because this parameter contains the important separator for separating the url parts and therefore you should encode this parameter url and decode it again when you receive it

request with url encoded parameter:
http://localhost:3000/api/domains/http%3A%2F%2Fgoogle.com%2F

or you can use the wildcard parameter, which looks for the first part and the

[2021-11-30 06:29] Macrow opened #1635 "🤗 can I add custom tcp listener or handler ?"
**How can I add custom tcp connection listener or handler?**

1. If I could add custom tcp connection listener or handler, how can I do ?

2. If not, I added a tcp listener in another port
[code]
Everything works fine if prefork mode is ```false```.

if prefork mode is ```true```, it failed with ```bind: address already in use```

What is the right solution for handling tcp connection?

Start my c

[2021-11-30 11:01] ReneWerner87 commented on #1634
@r6c

[2021-11-30 18:44] itziklavon opened #1636 "🤗 Multipart files handling"
Hi,
i wrote some app which reads CSV file which it gets via http call.
having few issues (memory management)

1. even if i'm not reading the file, memory consumption goes up signficantly, my regular app takes around 30MB memory, when uploading 5MB file, it reaches 80MB, when just sending requests without any files, it does not go pass 35MB (under heavy load)
2. unless i stricly "release" the body,

[2021-12-01 05:53] itziklavon commented on #1636
closing the issue, seems like for some reason it was reading the body multiple times in my code

[2021-12-01 05:53] #1636 closed

[2021-12-01 06:12] r6c commented on #1634
thanks for reply. Now I use `ctx.Query()` instead of `ctx.Params()` to resolve that.

[2021-12-01 06:12] #1634 closed

[2021-12-01 13:49] sixcolors opened #1637 "🐛 error(middleware/session): CookieSameSite default is not 'false'"
the default for CookieSameSite on middleware/session is Lax not false.

[2021-12-01 14:26] sixcolors opened #1639 "🐛 error(middleware/csrf): CookieSameSite default should be "Lax""
Default is "Strict", it should be "Lax"

Browser defaults are Lax. Fiber using a default of "Strict" is unadvisable as it will cause unexpected behavior. Strict requires HTTP first-party context and disregards requests initiated by third parties. So after navigating to the site from a third party site the safe HTTP methods (GET, HEAD, or OPTIONS) will not set the cookie. For example, a login page

[2021-12-01 14:47] ReneWerner87 commented on #1639
https://github.com/gofiber/fiber/issues/825

it was lax before and was changed here to strict

[2021-12-01 14:50] sixcolors commented on #1639
Ack prior; argument still applies. Further default for other mw using CookieSameSite, session, which is Lax.

[2021-12-02 06:41] #1639 closed

[2021-12-02 06:44] #1637 closed

[2021-12-02 10:29] fengnex opened #1641 "How to set Nginx‘s location to proxy fiber service?"
**Question description**
Nginx cannot work when there are paramters in the url, and how to fix it?

**Code snippet** _Optional_

[code]

[2021-12-02 11:39] ReneWerner87 commented on #1641
please check our recipes:
https://github.com/gofiber/recipes/blob/master/docker-nginx-loadbalancer/nginx/nginx.conf#L14
https://github.com/gofiber/recipes/blob/master/docker-nginx-loadbalancer/api/api.go#L28-L36

or check
https://www.nginx.com/blog/deploying-nginx-plus-as-an-api-gateway-part-1/

furthermore the question is what is the error

would recommend to look at the url which arrives in the

[2021-12-02 13:46] fengnex commented on #1641
Thanks a lot for so quick response!
Your kind tips are definitely appreciated@ReneWerner87
I'm just curious why Nginx cannot pass parameters in the url to fiber service and will check it tomorrow.

[2021-12-02 14:40] kiyonlin commented on #1208
`preforkServer.Reuseport = true` makes `fasthttp` demo get the same issue.

[2021-12-03 08:36] MichailVestnik opened #1642 "🚀 Middleware logger change stream"
Hi!

I write logs to files and use this command:
`go run app.go >> logs/messages.log 2>> logs/errors.log`

As we know 0 is stdin, 1 is stdout and 2 is stderr.
https://en.wikipedia.org/wiki/Standard_streams

2>> means that only errors will be written to this file.

But all logs from the logger end up in the stderr stream.
Maybe it is correct to send logs to stdout?

Спасибо!

[2021-12-03 09:12] fengnex commented on #1641
Thank you @ReneWerner87! Your reply was very helpful and I finally figured out one way for the problem.
Thank you very much again!

[2021-12-03 09:13] #1641 closed

[2021-12-03 10:24] ReneWerner87 commented on #1642
https://github.com/gofiber/fiber/blob/master/middleware/logger/config.go#L56

yes right

[2021-12-03 15:26] ansidev commented on #1354
How about a CLI command to list all routes?
Many web frameworks support this one.

For example: `buffalo routes` (https://gobuffalo.io/en/docs/helpers/)

[2021-12-04 01:45] Nebulizer1213 opened #1643 "🤗"
**Question description**

Is there something similar to gin's multitemplate in fiber?

[2021-12-04 07:47] ReneWerner87 commented on #1643
https://github.com/gofiber/template

[2021-12-04 13:07] generalworksinc commented on #1628
@ReneWerner87 @SaltFishPr
I had same problem. It occured on v2.20.2, but not on v2.20.1.

Isn't it the cause of this change on v2.20.2?
https://github.com/gofiber/fiber/pull/1563

[2021-12-04 13:10] ReneWerner87 commented on #1628
@efectn  please check this

[2021-12-04 13:14] ReneWerner87 commented on #1628
thanks for the information, we will try to get to the bottom of this problem

to fix this problem you can set another encoder and decoder in the config of fiber and use for example the one of the standard library
[code]

[2021-12-04 15:31] efectn commented on #1628
I'll look at this problem. Also we can open issue in https://github.com/goccy/go-json

[2021-12-04 15:39] ReneWerner87 commented on #1628
Ok thank, you are welcome to open an issue there as well

[2021-12-05 23:52] #1643 closed

[2021-12-06 07:21] #1609 closed

[2021-12-06 07:21] #1642 closed

[2021-12-06 07:24] #1628 closed

[2021-12-06 08:49] regnaio commented on #200
Can I please ask if this is still a valid way to use a custom `tls.Config` in the current fiber v2.22.0?

[2021-12-06 19:07] efectn commented on #1354
- Hooks like https://www.fastify.io/docs/latest/Hooks/

[2021-12-07 19:44] Ojagh opened #1647 "Bb"

[2021-12-07 20:09] #1647 closed

[2021-12-09 00:05] muratmirgun commented on #1629
Maybe I can take this issue

[2021-12-09 01:54] hi019 commented on #1629
Sure @muratmirgun

[2021-12-11 08:53] cnp96 opened #1651 "🐛 ctx.Logger().Printf(...) is not working"
**Fiber version**
github.com/gofiber/fiber/v2 v2.23.0

**Issue description**
Request logger is not printing any messages

**Code snippet**

[code]

[2021-12-11 09:07] ReneWerner87 commented on #1651
There is no method with the name
Logger() in the context.

Do not mix, the logging middleware is a middleware for logging the request and the response.

For any logging operation you can use any other packet or even the standard logger.

[2021-12-11 09:08] ReneWerner87 commented on #1651
https://pkg.go.dev/log

[2021-12-11 09:22] #1651 closed

[2021-12-12 08:10] fearofcode commented on #1631
I can reproduce this on the latest fiber release.

If you run the above code and keep refreshing, the `_csrf` cookie value eventually becomes too large.

[2021-12-12 10:54] bitdom8 opened #1652 "🐛 invalid memory address or nil pointer dereference"
Hİ using last Fiber, Fiber v2.2.0.

Got an error:
 | /be/api/getproductpostofuser/617a4d7fe0d35fb350c99f17
panic: runtime error: invalid memory address or nil pointer dereference
        panic: runtime error: invalid memory address or nil pointer dereference
        panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x40 pc=0x13a2f94]

Using th

[2021-12-12 11:29] bitdom8 commented on #1652
I think I have fixed it, works like a charm. However, an advice would be great
[code]

[2021-12-12 21:43] bokunodev opened #1654 "Absolute route should be prefered over route with parameter."
**Fiber version**
 Fiber v2.23.0

**Issue description**
I have code below, if route `/docs` comes after `/:name`, route `/docs` can not be accesed, because `/:name` always catch it.
But, since `/docs` is explecitly defined and does not have any parameter, it ***must*** be prefered.
and route order **must** not matter.

**Code snippet**

[code]

[2021-12-13 03:07] ansidev commented on #1199
https://docs.gofiber.io/api/ctx#multipartform

[2021-12-13 10:56] gedw99 commented on #429
I need SSE also.

[2021-12-13 14:03] ly020044 opened #1655 "🤗 About fiber.App.Shutdown"
**Question description**
Run the code and access to http://localhost:3000, Run command `Ctrl+C`. But fiber app is not shutdown,
`Server exiting`  after access to http://localhost:3000 twice.

Shouldn't the Shutdown method shut down the app? Why can I continue to visit?

**Code snippet**
[code]

[2021-12-13 18:16] ReneWerner87 commented on #1654
Yes, this behavior is expected and the same as in expressjs, because the order of the routes is respected.

[2021-12-13 18:19] ReneWerner87 commented on #1655
Thanks for the report, we will check.

[2021-12-13 18:26] hi019 commented on #1654
More info on how Express does it: https://stackoverflow.com/questions/32603818/order-of-router-precedence-in-express-js

And gorilla/mux does it in a similar way, too: http://jijeshmohan.github.io/post/gorilla-mux/

[2021-12-13 20:02] bokunodev commented on #1654
so its workig as intended and i can use third party router on top of fiber anyway.

[2021-12-13 20:02] #1654 closed

[2021-12-14 16:39] morigs commented on #832
@Fenny Good use case IMO: creating a middleware for OpenTelemetry integration. OpenTelemetry creates new context when starting span and extracting context using propagator. This context should be passed down in order to provide tracing

[2021-12-14 16:44] morigs commented on #832
I just found out about `SetUserContext`. It seems this is what had been requested

[2021-12-15 10:58] esmupamungkas commented on #1354
Automatic swagger documentation could be helpful for my case.

[2021-12-15 18:27] juliankoehn commented on #899
@mdaliyan guess that's why we could use https://github.com/gofiber/fiber/tree/master/middleware/timeout 🍡

[2021-12-17 03:22] limjinyung opened #1657 "Is it possible to encrypt the whole cookie? Not just the cookie value 🤗"
**Question description**
Is it possible to encrypt the whole cookie into something like JWE? I want to encrypt the whole cookie including the domain, path, etc, so I can ensure the cookie integrity when I want to assign a new refresh token thru looking at the domain and path, not just the value in cookies. Thanks

[2021-12-17 03:50] iredmail opened #1658 "🐛 `ctx.JSON()` Panic with Go 1.18 beta1"
**Fiber version**
2.23.0
**Issue description**
Same code running fine with Go 1.17.x, but panic with Go 1.18 beta1.

I don't have a working code snippet to reproduce the issue yet, sorry.
Program panic when it calls `ctx.Next()`, and the final line is:
https://github.com/gofiber/fiber/blob/master/ctx.go#L744

[2021-12-17 04:03] limjinyung commented on #1657
I have figured out to place all the checkings that I want into JSON and assign it into value. Thanks. 🤗

[2021-12-17 04:03] #1657 closed

[2021-12-17 15:54] YankeeTube opened #1659 "🐛 cookie not in request header"
**Fiber version**
v2.22.0

**Issue description**
cookie not in request header.
The request was made in a browser, but cookie is not included even when checked on the network tab.
So I tried to add Cookie by force with JS, but it was impossible.
We tested it with net/http, but there was no problem with the client code.

**Code snippet**

[code]

[2021-12-17 16:57] arif2009 opened #1660 "Submitted files does not map automatically using GoLang fiber BodyParser 🤗"
**Client-side code to post FormData:**
[code]

**Server-side code(GoLang) to receive data:**
[code]

It automatically maps all data except **imageFiles**. Can anybody knows how can I map file data?

[2021-12-18 15:16] YankeeTube commented on #1659
Sorry... This is obviously my mistake.
Wasm sent me a request, js.It was needed by fetch:credentiles.

[2021-12-18 15:16] #1659 closed

[2021-12-18 19:12] vinay03 commented on #1631
For time being, changing the order of registering middlewares seems to be avoiding the issue.

[code]

[2021-12-19 10:36] ReneWerner87 commented on #1660
https://docs.gofiber.io/api/ctx#bodyparser
the annotation for the bodyParser to bind form values to the struct is "form".

please use this one then it will work

![image](https://user-images.githubusercontent.com/7063188/146671693-b4a354f4-b1c8-4824-8d9d-addbf7d94c21.png)

content-type: application/json
-> annotation alias: json

content-type: application/x-www-form-urlencoded
-> annotation alias:

[2021-12-19 14:10] EmreSURK opened #1661 "🐛 panic: interface conversion: interface {} is *websocket.Conn, not *websocket.Conn (types from different packages)"
Fiber version: 2.23.0

I am building a backend, that except socket connection and send message to them by triggering with a get request. Apparently I have type conflict.

I added two different imports with alias but that didn't solve the problem. Please see the minimal working example and error message below.

I am using a global sync.Map variable to store connections.

[code]

[code]

[2021-12-19 14:56] renanbastos93 commented on #1658
Can you to put on here more details?

[2021-12-19 15:06] renanbastos93 commented on #1661
You need to treat these 2 lines
[code]
In golang is very important you treatment all errors.

you can try it
[code]

[2021-12-19 16:20] EmreSURK commented on #1661
@renanbastos93 Your advise is correct but does not solves the problem, only hides it.

[2021-12-19 20:03] EnsPzr opened #1662 "schema: interface must be a pointer to struct🤗"
**Question description**
Hello. I want to post the data in the form using fiber template and capture it with bodyparser. But I am getting the error I wrote in the title.

[code]

[2021-12-20 02:57] arif2009 commented on #1660
@ReneWerner87 Thank you very much 🙏. I really appreciate your helping mind 👍

Not changing the `BodyParser` function, for now, I just fixed it like this:
[code]

[2021-12-20 09:26] mhafizhrh commented on #1662
try remove pointer to bodyparser. `err := c.BodyParser(&vm)` to `err := c.BodyParser(vm)`

[2021-12-20 10:07] EnsPzr commented on #1662
![Ekran Resmi 2021-12-20 13 07 26](https://user-images.githubusercontent.com/18161640/146750128-6665e62b-8d78-47ff-ad33-0c125c70b452.png)

The result is still the same :|
By the way, I updated the form a bit.
[code]

[2021-12-20 10:56] mhafizhrh commented on #1662
i'm new to golang, so i don;t know why,
maybe using slice of fields (not slice of struct) will help you get the body request

[code]

[code]

[2021-12-20 11:48] renanbastos93 commented on #1661
I change your code with all validates.
[code]

Now it not break again, but I'm trying understand with break line 65.

[2021-12-20 13:38] GalvinGao opened #1663 "🚀 Split app.Listen() into separated Listen() & Serve() methods for better error handling"
**Is your feature request related to a problem?**
No.

**Describe the solution you'd like**
Separate effects that has currently bundled with `app.Listen()` into separated `Listen()` and `Serve()` methods for better error handling, since `app.Listen()` will simply block if there's no error, and return one if there's one. This is not quite easy for handling the error for strict lifecycle handling ap

[2021-12-20 18:23] Trim21 opened #1664 "🤗 Is there a way to unmarshal struct from request info"
**Question description**

I'm try to validation request, but I'm using both query and path and some other way like header and body.

**Code snippet**
[code]

It would be very convenient that I can unmarshal request info and use the same struct to validate it.

[2021-12-20 21:31] bokunodev opened #1665 "🐛 ErrorHandler is not working as expected"
**Question description**
`404` should be catched and return a json response

**Code snippet** _Optional_
[code]

[2021-12-20 21:32] bokunodev commented on #1665
i think this is a bug, but i dont want to make

[2021-12-20 21:33] bokunodev commented on #1665
i accidentally close it.

[2021-12-21 06:48] mdaliyan commented on #899
That solves the problem in one way and adds another one in the other way. This way we define the timeout to the routes, possibly with different values set for different routes. So, to understand there is a timeout in work, we need to read the code and realize there is a timeout defined somewhere.

What I mean is it's not just obvious with one glance, which I personally don't like it that much.

[2021-12-21 09:34] EnsPzr commented on #1662
Unfortunately it didn't. What am I doing wrong?
![Ekran Resmi 2021-12-21 12 32 55](https://user-images.githubusercontent.com/18161640/146906389-eda638eb-74ac-4d21-bacf-f886bd1b54f9.png)
[code]

[2021-12-21 09:50] mhafizhrh commented on #1662
remove the slice assigned to new()
b := new(viewmodel.Test)

[2021-12-21 11:00] fabienbellanger commented on #1665
I asked a similar question in this issue [#748 ](https://github.com/gofiber/fiber/issues/748)

[2021-12-21 11:51] ReneWerner87 commented on #1665
@bokunodev https://github.com/gofiber/fiber/issues/748#issuecomment-687521205

[2021-12-21 12:01] renanbastos93 commented on #1661
Can you try another implements it?

[2021-12-21 12:32] bokunodev commented on #1665
it solve the problem, but i cant use it.
i ended up following express docs since what i'm trying to do is registering `app.mount` from other modules, much like how `database/sql` works.
[code]

[2021-12-21 12:32] #1665 closed

[2021-12-22 08:11] EnsPzr commented on #1662
I solved it. I had to specify the index using a dot. For example content.[{{$index}}].activity_id.

i did the following
ViewModel:
[code]

HTML
[code]

handler
[code]

[2021-12-22 08:11] #1662 closed

[2021-12-23 20:24] sixcolors opened #1666 "🐛 bug(middleware/csrf): unmatched token returns nil error"
**Fiber version**
v2.23.0
**Issue description**
middleware/csrf: unmatched token returns nil error

[2021-12-24 11:09] iredmail commented on #1658
How to reproduce the panic:

- Create an empty directory and save code below to `main.go` under the directory.
- Run commands below:

[code]
- Visit the app from another terminal with `curl` command or a GUI web browser:
[code]

Code to reproduce the panic:

[code]

[2021-12-25 05:33] iredmail commented on #1658
Seems it's caused by the underlying json package: https://github.com/goccy/go-json
I created an issue there too: goccy/go-json#308

[2021-12-27 04:05] luyouxin84 opened #1668 "🐛 websocket close fail"
**Fiber version**
        "github.com/gofiber/fiber/v2"
	"github.com/gofiber/websocket/v2"

**Issue description**
   c := *websocket.Conn
   c.Close() do not close connect and has not error return

**Code snippet**
[code]

this is code from your example: https://github.com/gofiber/recipes/blob/master/websocket-chat/main.go..
u can call c.Close() immediately but websocket still alive

[2021-12-27 10:19] jzyzxx opened #1669 "🤗 No required module provides package github.com/gofiber/fiber/v2/middleware/crsf"
**Question description**
`No required module provides package github.com/gofiber/fiber/v2/middleware/crsf`
**Code snippet** _Optional_

`package main

import (
	"fmt"
	"github.com/gofiber/fiber/v2"
	"github.com/gofiber/fiber/v2/middleware/limiter"
	"github.com/gofiber/fiber/v2/middleware/compress"
	"github.com/gofiber/fiber/v2/middleware/crsf"
	// "gorm.io/gorm"
	"gowork/goadmin/services/controlle

[2021-12-27 12:10] fraviofii opened #1670 "Problem in BodyParser call when running in test mode"
**Question description**

I am trying to implement an integration test for my backend using gofiber framework. I'm using VSCode and debug tools, so I could stop where the problem is happening.

**Test procedure** _Optional_

[code]

The `app` is initialized in TestMain() function, together with the router setup. In the handler call, I have the following:

**Handler code** _Optional_

[code]

When

[2021-12-27 12:48] iredmail commented on #1658
This issue should be fixed by upstream, but i don't have time to verify it yet:
https://github.com/goccy/go-json/pull/310

By the way, any plan to rely on https://github.com/goccy/go-json package directly (add it in `go.mod`) instead of `internal/go-json/`?

[2021-12-27 13:08] ReneWerner87 commented on #1670
Default timeout of the test method is 1 second, as if you are debugging you should set this to -1 to disable the timeout.

Decoder is setup in a sync pool
https://github.com/gofiber/fiber/blob/master/ctx.go#L289

https://github.com/gofiber/fiber/blob/master/ctx.go#L322

And reused between several requests.

[2021-12-27 13:19] ReneWerner87 commented on #1670
Here some examples https://github.com/gofiber/recipes/blob/master/unit-test/main_test.go

https://github.com/gofiber/fiber/blob/7b7dcf29f79f185416325b62fad8cedf0b800b07/ctx_test.go#L848

https://github.com/gofiber/fiber/blob/7b7dcf29f79f185416325b62fad8cedf0b800b07/ctx_test.go#L823

[2021-12-27 13:21] efectn commented on #1658
I'll check it

[2021-12-27 13:22] fraviofii commented on #1670
Thank you @ReneWerner87 .

In this case, I replaced the timeout to -1 and everything started to work.

[2021-12-27 13:24] #1670 closed

[2021-12-27 14:30] vecpeng commented on #1629
Are you still working on it?
If you are busy, maybe I can take it.

[2021-12-27 14:32] hi019 commented on #1669
It should be "github.com/gofiber/fiber/v2/middleware/csrf"

[2021-12-27 15:34] ReneWerner87 commented on #1669
Thx @hi019 , he is right, there is a typo in the import

[2021-12-27 17:41] #1669 closed

[2021-12-27 18:02] muratmirgun commented on #1629
@vecpeng Yes I am still busy you can take this 👍

[2021-12-28 13:05] #1632 closed

[2021-12-28 13:40] ReneWerner87 commented on #1668
![image](https://user-images.githubusercontent.com/7063188/147571955-b6b362a4-dd82-486c-a8db-487c705b3db2.png)

but i think you are right, there is one more line missing in the example in the part where we do the close
[code]
the connection must receive the message that it is closed

the net.connection probably does not do that

maybe this is also something for the fasthttp packet

[2021-12-28 13:41] ReneWerner87 commented on #1668
can you ask in https://github.com/fasthttp/websocket for the right behaviour

[2021-12-28 13:50] ReneWerner87 commented on #1664
there is the queryParser and the bodyParser, you can use both and validate them afterwards, this should also work with the same object, the parsers only need the anotation with the names at the propertie of the structs

the resource parameter is not taken into account, you would have to transfer it manually

i can't think of a way to write a function that could merge the resource parameters and th

[2021-12-28 13:51] ReneWerner87 commented on #1663
@GalvinGao you are welcome to prepare a pull request, but please try to stay as downward compatible as possible

[2021-12-28 14:00] ReneWerner87 commented on #1661
@EmreSURK next time please use this space for the issue
https://github.com/gofiber/websocket/issues
proper assignment of problems is extremely important to maintain focus, channel and prioritize work on them

@EmreSURK wich golang version do you use ?
https://go-review.googlesource.com/c/go/+/123395/

do you also use go modules right ? and not gopath

could be a mixture of the packages from the go

[2021-12-28 14:01] #1660 closed

[2021-12-28 14:10] ReneWerner87 commented on #1652
@bitdom8
can you please share the query parameters with us ?

also would not recommend you to ignore the error parameter which can help you to find the issue by converting the string value to the number

would also create a new variable for the page, since the query parameter is a string value and you can't assign a number to this variable then

[2021-12-28 14:20] ReneWerner87 commented on #1622
but you could just put the context in the bindings ? currently the render method or template packet is nice and granular and can maybe be used in other contexts without fiber

only dependency that currently exists is the fiber map which is identical to the normal map

since everything is possible with the current variant simple, I see no reason to customize it

[2021-12-28 14:21] ReneWerner87 commented on #1622
next problem is that this change is a breaking change that is not downward compatible

maybe we could provide further methods to add globals which is always present, but i think the bindings are enough

[2021-12-28 14:26] ReneWerner87 commented on #1610
https://github.com/gofiber/fiber/blob/master/middleware/csrf/csrf.go#L73
@Makemanback
yes i see that should be added if necessary, not a bad idea, if we can make the configuration understandable for this setting, then happy to do so

pull requests are welcome

[2021-12-28 14:27] ReneWerner87 commented on #1608
@balcieren can you add your package to the list ?

[2021-12-28 14:54] luyouxin84 commented on #1668
ok

[2021-12-28 15:01] ReneWerner87 commented on #1655
@ly020044
[code]
problem was that you did not specify the length of the channel, you should only wait for the first sigterm for the channel

the way you wrote it without the number, the channel waits for more signals, so the whole thing is pending

[2021-12-28 15:02] #1629 closed

[2021-12-28 15:16] ReneWerner87 commented on #1630
https://go.dev/blog/error-handling-and-go
https://go.dev/doc/tutorial/handle-errors

@jinhongguo this is a standard concept in golang

the benefit is that we can abort the chain of middlewares if the return value is an error and not nil

[2021-12-28 15:18] #1668 closed

[2021-12-28 15:21] ReneWerner87 commented on #1631
https://github.com/gofiber/fiber/pull/1343
@amir9480 can you help us with this problem

[2021-12-28 15:22] #1431 closed

[2021-12-28 15:23] #1416 closed

[2021-12-28 16:27] bitdom8 commented on #1652
Page=0, then this gives error as query parameter

[2021-12-29 01:12] #1658 closed

[2021-12-29 01:13] #1666 closed

[2021-12-29 03:53] ayatkyo commented on #1622
Yes that right, this will be huge breaking change and we should avoid that. I have solved this problem using `ctx.locals` based on the answer you gave in https://github.com/gofiber/fiber/issues/1536#issuecomment-922686519

So this issue can be closed.

For those wanting to know the solution, here's what I did.
First we make a Middleware to provide default view data something like this:

[code]

Th

[2021-12-29 03:53] #1622 closed

[2021-12-29 12:06] vecpeng opened #1675 "🚀 List all routes when server starts"
**Is your feature request related to a problem?**
Is there any way to list all routes when server starts, like this:
![image](https://user-images.githubusercontent.com/56476336/147659983-661cc80e-34d5-4252-8afd-92f12797f6a3.png)
**Describe the solution you'd like**
**Describe alternatives you've considered**
**Additional context**
I think it is useful and maybe I can give a pull request for it if

[2021-12-29 12:17] solo-xwz opened #1676 "🤗 How to execute the middleware only once？"
**Question description**
I want to set up a jwt middleware, but when the check succeeds and returns c.NEXT(), the middleware will be executed again after the response. How to avoid it?

[2021-12-29 12:22] ReneWerner87 commented on #1676
The middleware should be executed only once per request if you have registered it once

[2021-12-29 12:25] ReneWerner87 commented on #1675
Can you provide this in the form of a middleware or features flag in config so that it is optimal

[2021-12-29 12:32] vecpeng commented on #1675
Ok, I will add a flag in config.

[2021-12-29 13:02] solo-xwz commented on #1676
When I use it in app.Use, it will only be executed once ,but executed after response:
`app.Use(middlewares.CheckAccessToken())

func CheckAccessToken() func(*fiber.Ctx) error {
	return jwtware.New(jwtware.Config{
		SigningKey:    pubKey,
		SigningMethod: "HS256",
		ContextKey:    "token",
		ErrorHandler:  jwtError,
		SuccessHandler: func(c *fiber.Ctx) error {
			token := c.Locals("token").(*jwt.To

[2021-12-29 13:35] ReneWerner87 commented on #1676
So you register it in the group and with app.use? Or was that an either or?

[2021-12-29 13:36] solo-xwz commented on #1676
These are two situations, and two results were got

[2021-12-29 13:38] ReneWerner87 commented on #1676
Ok, have you tested this behavior with a self written dummy middleware? Is it the same?

[2021-12-29 13:45] solo-xwz commented on #1676
yes, it's the same

[2021-12-29 13:49] ReneWerner87 commented on #1676
Ok interesting, can you post a complete example for me (single main.go with everything)

[2021-12-30 01:27] solo-xwz commented on #1676
I found the problem.
Because I registered the middleware after initializing the route, it was normal after adjusting the order.
Thanks!

[2021-12-30 01:49] #1676 closed

[2021-12-30 02:30] ly020044 commented on #1655
I have gotten the sign to quit and print `Shutting down server...` in terminal, But you can still visit `http://127.0.0.1:3000`, Print the `Server exiting` to the terminal after accessing twice.

[2021-12-30 13:13] #1675 closed

[2021-12-31 05:49] vecpeng commented on #1655
@ly020044
May be the annotation of App.Shutdown() helps you:

Make sure the program doesn't exit and waits instead for Shutdown to return.
Shutdown does not close keepalive connections so its recommended to set ReadTimeout to something else than 0.

I guess when you access to http://localhost:3000, the connection from client to server carried a header of connection: keep-alive, so the Shutdown met

[2021-12-31 09:26] rapita commented on #1655
You can try using ReadTimeout.

Example:
[code]

Then termination will be forced after 5 seconds.

[2021-12-31 11:28] ly020044 commented on #1655
@ReneWerner87 @vecpeng @rapita Thanks for reply, Maybe i can force the end.

[2021-12-31 11:28] #1655 closed

[2021-12-31 12:03] #1532 closed

[2021-12-31 17:32] #1607 closed

[2022-01-01 06:47] #1630 closed

[2022-01-01 21:49] balcieren opened #1683 "🚀 Early Access For HTTP2"
Example :
[code]
 HTTP2 should be openable for early access. This feature probably will improve process.
PR : #1688

[2022-01-02 02:39] silviucm commented on #1631
To what @vinay03 mentioned, I would like to add that technically, the encryptcookie middleware already supports skipping cookies by name via the **Except** field at config time. So for csrf, one could just skip it, since it has its own generation ops (assuming below that the codebase keeps the default csrf cookie name as **csrf_** )

[code]
With that added, you can use csrf independently positione

[2022-01-02 06:19] silviucm commented on #1371
@ReneWerner87  @hi019  Please note that the line
[https://github.com/gofiber/fiber/blob/master/internal/memory/memory.go#L26](https://github.com/gofiber/fiber/blob/master/internal/memory/memory.go#L26)

`go store.gc(10 * time.Millisecond)`

Appears to be brutally skew against high performance. At least in my profiling the culprit seems to be the gc fellow method being invoked way too often for its

[2022-01-02 19:24] balcieren commented on #1608
I have tried something but i didn't take good results so i have removed package.

[2022-01-02 19:25] balcieren commented on #1608
I have tried something but i didn't take good results so i have removed package.

[2022-01-02 22:23] ansrivas opened #1685 "🐛 After the execution of the handler, the status code in the middleware is not being set properly ( if fiber.Err* are used )"
**Fiber version**
Fiber v2.24.0

**Issue description**
The error status code is not being set in the middleware properly after the call to `c.Next()`.

**Code snippet**

[code]
![image](https://user-images.githubusercontent.com/1695056/147890906-e73e2d2a-8854-4a70-8954-4f6a756e2303.png)

[2022-01-03 07:06] vecpeng commented on #1685
I maybe find the reason.
In fiber, the error handler will handle error after all middlewares have finished their tasks.
Here is an example to verify it:
[code]
So it will prints:
![image](https://user-images.githubusercontent.com/56476336/147906183-b2490c50-4f55-4b38-aa74-b721748c5c54.png)

[2022-01-03 07:22] ReneWerner87 commented on #1685
exactly just came across the same answer,
for me there is okay, the behavior is not really bad, so you have in the next middleware the possibility to make processes based on the error and possibly change the status code itself

[2022-01-03 12:48] brnskn opened #1686 "🐛 Custom Unix Socket Listeners Don't Work With Prefork"
**Fiber version**
v2.23.0

**Issue description**
When I use http over unix socket with custom listener prefork throws error:
[code]

**Code snippet**

[code]

[2022-01-03 16:09] #1608 closed

[2022-01-03 16:22] efectn commented on #1683
@ReneWerner87 If you're OK, i can send PR. Also should we add dgrr/http2 to go.mod or internal dir?

[2022-01-03 16:34] ReneWerner87 commented on #1683
Yes, iam ok with a PR

Add it to the go.mod

[2022-01-03 21:13] ReneWerner87 commented on #1683
@balcieren and @efectn
You both worked on a pull request at the same time, would be cool if you could coordinate (maybe via discord) and both work on it together.

[2022-01-03 22:56] balcieren commented on #1683
Ok @ReneWerner87  . We are going to work together. Also we are going to work on same pull request.

[2022-01-05 08:23] vecpeng commented on #1683
Maybe there should be a new branch for this feature.

[2022-01-05 13:51] ReneWerner87 commented on #1686
okay, thank you for examining

[2022-01-06 19:26] itzikiusa commented on #1683
Hi,
Will this prevent server failures when using http client to send requests via http 2?

[2022-01-06 22:43] balcieren commented on #1683
We need to http2 transport for http client.

[2022-01-07 12:43] mdanialr opened #1692 "🤗 Change ip in log without touching default config"
**Question description**
The default log format is like this:
19:27:44 | 200 |     7ms |       127.0.0.1 | GET     | /the/url
I just wanna change the '127.0.0.1' with the real ip that comes from Nginx, how to do that?

[code]
I already set this in my .conf but it seems nothing has changed.

Thanks.

[2022-01-07 20:20] balcieren opened #1695 "fiber.NewError()'s message should be interface{}"
If I want to return multiple validation errors in array, it is not possible with fiber.NewError(). Because NewError() only support string type.

We should be able to do

Example:

[code]

[2022-01-08 13:15] mdanialr commented on #1692
I've fixed this.
in nginx virtual host:
[code]
in fiber.Config:
[code]

[2022-01-08 13:15] #1692 closed

[2022-01-08 13:57] skadiD opened #1696 "🤗 Prefork question when using mysql pool"
**Question description**
I'm trying to use gorm mysql pool while `prefork ` is active , then i find `fiber.isChild()` and write my init code in master process. But it doesn't work
What should i do next ?
**Code snippet** _Optional_

[code]

[2022-01-08 21:36] Akaike opened #1697 "🐛 UUID in a struct being returned in wrong format"
**Fiber version**
v2.24.0
**Issue description**
When returning an object which has an ID with type uuid.UUID (google/uuid), ctx.JSON returns the ID completely wrong.

![image](https://user-images.githubusercontent.com/2933354/148660682-78455cfd-882f-4871-876c-47ce30d84a05.png)

As you can see it should return 09b9aa47-3f7d-4f07-a3ee-c2ebc0aeca80 but instead it is just something else.

If I convert

[2022-01-08 22:59] hi019 commented on #1697
Hey. I'm not able to reproduce this:

[code]

[2022-01-08 23:21] Akaike commented on #1697
@hi019 ,
Hm, yeah. I can't reproduce it too with your code. It must have something to do with entgo then. I will close the ticket then for now until I figure out what is exactly the issue.

Thank you

[2022-01-09 14:08] balcieren commented on #1683
#1688

[2022-01-09 15:06] sevaho commented on #1631
Thanks @silviucm I'll close the issue, as it not an issue anymore but a small bug.

[2022-01-09 15:06] #1631 closed

[2022-01-09 17:52] amir9480 commented on #1631
@ReneWerner87
Sorry for the late response, I made a PR to fix this issue

[2022-01-09 23:54] Akaike commented on #1697
@hi019
Can you try to reproduce the error with this code, I think I found the problem. It is entgo, it creates entity structs with some  extra properties, but I could imagine that someone could also create something similar without entgo:
[code]

[2022-01-10 00:22] hi019 commented on #1697
Looks like an issue with our upstream JSON marshaller. I've filed https://github.com/goccy/go-json/issues/318

[2022-01-10 00:28] hi019 commented on #1697
In the meantime, you can set `JSONEncoder` in fiber.Config to `json.Marshal` from `encoding/json`

[2022-01-10 00:37] Akaike commented on #1697
Thank you a lot! :)

[2022-01-10 08:11] ReneWerner87 commented on #1696
what do you want to achieve and what do you expect?

don't think you need the check, all child processes also need a database connection if they are to process data.

[2022-01-10 08:13] ReneWerner87 commented on #1695
maybe a function that is called "fiber.NewError**s**("

[2022-01-10 08:13] #1686 closed

[2022-01-10 08:18] skadiD commented on #1696
yep,i move child check and it works right

[2022-01-10 08:19] #1696 closed

[2022-01-10 08:24] ReneWerner87 commented on #1664
@Trim21

[2022-01-10 09:34] goofcc opened #1699 "🤗 Error loading template in official example (Template Engines)"
**Question description**
error: cannot use engine (variable of type *"github.com/gofiber/template/html".Engine) as fiber.Views value in struct literal: missing method LoadcompilerInvalidIfaceAssign

**Code snippet** _Optional_

[code]

[2022-01-10 09:37] ReneWerner87 commented on #1699
@goofcc
![image](https://user-images.githubusercontent.com/7063188/148744609-6dab3b16-9afc-4be2-9a06-87d021c58f2c.png)
its working on my machine

[2022-01-10 09:38] ReneWerner87 commented on #1699
![image](https://user-images.githubusercontent.com/7063188/148744801-68fb1f71-34ab-42ed-88e7-d9603bb6dcb8.png)

[2022-01-10 09:40] ReneWerner87 commented on #1699
please try

`go clean --modcache`

and
`go mod vendor && go mod download && go mod tidy`
on your shell

[2022-01-10 10:10] goofcc commented on #1699
@ReneWerner87 Hello, thank you very much for your help, it is true that my library is relatively old, and it can run correctly after the update, thank you.

[2022-01-10 10:11] #1699 closed

[2022-01-10 10:23] Trim21 commented on #1664
Thank you

[2022-01-10 10:23] #1664 closed

[2022-01-10 13:05] vecpeng commented on #1697
Add omitempty in the config `json: -` seems works.

[2022-01-10 13:22] #1695 closed

[2022-01-10 18:30] joey00072 opened #1703 "🤗 Why gofiber.io is banned in india?"
**Question description**
![image](https://user-images.githubusercontent.com/35176826/148819143-967c485b-3e0e-457f-a14d-84512b82ff82.png)

23:58 10 jan 2022 UTC+5:30

[2022-01-10 18:50] hi019 commented on #1703
What about https://docs.gofiber.io ?

[2022-01-10 18:56] joey00072 commented on #1703
![Screenshot (19)](https://user-images.githubusercontent.com/35176826/148822894-341a8ffd-2dd9-4666-81c9-01e01641162d.png)
 Working

[2022-01-11 04:10] fanybook opened #1704 "🚀 404 should be handled by ErrorHandler"
**Is your feature request related to a problem?**
[code]
**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**

**Additional context**

[2022-01-11 05:32] G2G2G2G commented on #1541
What do you mean? Web socket is a.. socket it's entirely different from http a different connection method.

[2022-01-11 06:13] hi019 commented on #1704
Hi. Does this help? https://github.com/gofiber/fiber/issues/748#issuecomment-687521205

[2022-01-11 07:49] venkatesh-nagineni commented on #1703
I can access both https://gofiber.io/ and https://docs.gofiber.io/

[2022-01-11 07:56] ReneWerner87 commented on #1703
thanks for checking, since you are also in india, it means it is not blocked for all of india

@joey00072 unfortunately we can not do anything if the government of your country partially blocks these urls

since it is only the start page and not the documentation page i don't see this as too critical either

other possible solutions would be to try another dns or vpn

[2022-01-11 07:56] #1703 closed

[2022-01-11 07:57] ReneWerner87 commented on #1703
similar issue: https://github.com/gofiber/fiber/issues/1483

[2022-01-11 08:44] fncolon opened #1705 "🐛 Can't retrieve underscore/snakecase json key in bodyParser"
I was not able to use `password_confirmation` as one of multipart form body using snake_case.

[code]

[2022-01-11 08:46] ReneWerner87 commented on #1705
for

please use the annotation "form"

type request struct {
  Fullname             string `json:"fullname" form:"fullname" validate:"required"`
  Email                string `json:"email" form:"email" validate:"required,email"`
  Password             string `json:"password" form:"password" validate:"required"`
  PasswordConfirmation string `json:"password_confirmation" form:"password_confirmation

[2022-01-11 08:48] fncolon commented on #1705
Email, fullname and password is working without `form` but this answer solve my problem, big thanks!

[2022-01-11 08:48] #1705 closed

[2022-01-11 08:50] ReneWerner87 commented on #1705
content-type: application/json
-> annotation alias: json

content-type: application/x-www-form-urlencoded
-> annotation alias: form

content-type: multipart/form-data
-> annotation alias: form

content-type: text/xml || application/xml
-> annotation alias: xml

[2022-01-11 09:19] goofcc commented on #1354
1. Routing mapping function to organize code structure in a more elegant way.
2. Command line scaffolding, for example, it is convenient for newbies to create an app faster.

[2022-01-11 09:41] yellowmarlboro opened #1706 "🤗 how to get context.Content() and context.Body() when after connection return ?"
**Question description**
my handle start a goroutine and then return 200. how to get context in the goroutine ?
**Code snippet** _Optional_

[code]
i tried use context in **ErrorHandle** , and in the function i use **c.Content()** and **c.Body**, then panic cause **invalid memory address or nil pointer dereference**, i found a lot of info lost in context.

have a good way to do that ? thanks~

[2022-01-11 09:44] dgrr commented on #1541
So... The HTTP/2 library does not support [fasthttp's Hijack](https://pkg.go.dev/github.com/valyala/fasthttp#RequestCtx.Hijack), that means, if an HTTP/2 request tries to upgrade to the WebSocket protocol, it won't be able. Normally, WebSocket connections use HTTP/1.1 to upgrade. But who knows, maybe chrome decides to upgrade over HTTP/2 too. I'll see.

Short answer: No, it doesn't support WebSock

[2022-01-11 09:47] ReneWerner87 commented on #1706
yes, that is right, because when the response has been sent, the memory areas of the request and the response are released again.

if you need data of the request inside your go function, you have to create a copy of the data

to provide tremendous performance, fasthttp uses under the hood the concept of reusing memory from previously created objects

[2022-01-11 09:53] yellowmarlboro commented on #1706
got it. i'll create a copy of the data, thank you very much !

[2022-01-11 09:53] #1706 closed

[2022-01-11 10:35] jzyzxx opened #1707 "How to use the "dchest/captcha" in fiber?"
I am a green hand about the fiber framework,is there any demos?Thanks alot.

[2022-01-11 10:42] jzyzxx commented on #1707
The "dchest/captcha" is a good captcha framework,but i do not know haw to use it in fiber

[2022-01-11 10:44] ReneWerner87 commented on #1707
boilderplate:
https://github.com/gofiber/boilerplate/

recipes:
https://github.com/gofiber/recipes
![image](https://user-images.githubusercontent.com/7063188/148928003-d9233695-90f7-4f85-8e2b-184afbf800f1.png)

some third party repositories:
https://github.com/gofiber/fiber#-third-party-middlewares
-> boilerplate
https://github.com/thomasvvugt/fiber-boilerplate
https://github.com/sujit-baniya/fibe

[2022-01-11 10:50] ReneWerner87 commented on #1707
if you need help with the captcha repository, i can't help you because i don't have any experience with it.

if the solution can only work with the native http packet, i would say you should use the adapter packet from us
https://github.com/gofiber/adaptor

[2022-01-11 10:52] jzyzxx commented on #1707
Thank you,i would have a try

[2022-01-11 11:01] #1707 closed

[2022-01-11 11:47] shahriar350 opened #1708 "🐛 c.JSON() takes much time to serialize data and response."
[code]
Here the result:
[code]
But @ReneWerner87 gives a solution to add this to my code
[code]
now It takes:
[code]
c.JSON() works faster than before.

[2022-01-11 11:53] ReneWerner87 commented on #1708
initial implementation in https://github.com/gofiber/fiber/pull/1563
we use https://github.com/goccy/go-json as the default encoder and decode

[2022-01-11 14:23] #1697 closed

[2022-01-12 03:00] jzyzxx commented on #1707
There are my captcha package,it works.
`package captcha

import (
	"bytes"
	"fmt"
	"path"
	"strings"
	"github.com/gofiber/fiber/v2"
	"github.com/dchest/captcha"
)

type CaptchaResponse struct {
	CaptchaId string `json:"captchaId"` //验证码Id
	ImageUrl  string `json:"imageUrl"`  //验证码图片url
}

func Captcha(c *fiber.Ctx) error{
	length := captcha.DefaultLen
	captchaId := captcha.NewLen(length)
	var capt

[2022-01-12 04:42] hi019 commented on #1708
What is `shopCategories` and `shopTrashCategories`? Can you put together a small reproduction encoding them (just define them in a variable, no need to do any actual data fetching)?

[2022-01-12 07:43] ReneWerner87 commented on #1708
he sent me the data, but could not yet prepare and test it
[data+structs.zip](https://github.com/gofiber/fiber/files/7852625/data%2Bstructs.zip)

they are in the zip

[2022-01-12 09:35] #1548 closed

[2022-01-12 12:26] junaidy-johm opened #1710 "Csrf via header"
Can csrf middleware via header not pass cookies, 🚀 can you explain it?

[2022-01-12 12:37] ReneWerner87 commented on #1710
https://docs.gofiber.io/api/middleware/csrf

What do you mean exactly?

[2022-01-12 21:08] EmreSURK commented on #1661
Hi, it is not crashing because it does not do anything :) It just skips the code.

[2022-01-12 21:11] EmreSURK commented on #1661
So, you are considering that is not a bug, right?
That issue does not contain anything except code example on README.

Yes, I am using go modules. I downloaded the official golang container from docker.com to be sure.

[2022-01-12 21:19] EmreSURK commented on #1661
To be sure about using the same package around the code I changed the alias of the library:

[code]

[2022-01-12 21:27] junaidy-johm commented on #1710
sorry, not so

[2022-01-12 21:27] #1710 closed

[2022-01-12 22:28] junaidy-johm opened #1711 "Proxy error🤗"
Is it true?
but error:
`./main.go:39:3: unknown field 'Hosts' in struct literal of type proxy.Config`
[code]

[2022-01-12 22:41] junaidy-johm commented on #1711
found the answer
[code]

[2022-01-12 22:41] #1711 closed

[2022-01-12 23:41] ReneWerner87 commented on #1661
Instead of
[code]
use
[code]

Otherwise you save the connection of the connection and this is from the fasthttp websocket packet, so it reports a mismatch

Because the conn from the fasthttp/websocket packet is not the same as the conn from the fiber/websocket packet. (unfortunately the packet names and struct names are the same in this case, so it's hard to notice.

[2022-01-13 04:08] wurikiji commented on #292
@Fenny When will this be documented? Or where can I find other useful official middlewares in addition to [official site](docs.gofiber.io)?

[2022-01-13 16:24] balcieren opened #1712 "🚀 c.Scheme() and c.Protocol()"
### Feature 1
[code]
`c.Scheme()` is going to return fasthttp request uri's scheme.

---
### Feature 2 (Actually Update)
[code]
`c.Protocol()` return `http` or `https` normally. I think, c.Protocol should return `HTTP/1.1` or `HTTP/2.0`. Because fasthttp request header's protocol return `HTTP/1.1.` or `HTTP/2.0`.

If you think like me, I can help for PR.

[2022-01-14 00:32] EmreSURK commented on #1661
@ReneWerner87 Thank you but I already tried it, the same thing happens.

[2022-01-14 02:58] fanybook commented on #1704
@hi019

I've seen [#748 (comment)](https://github.com/gofiber/fiber/issues/748), it means `404 Not Found is not an error according to the RFC`

but, how to custom 404 handler when undefined a uri in route

gin has a "NoRoute" func

[code]

[2022-01-14 03:22] fanybook commented on #1704
@hi019

like this, use a custom 404 handler at router tail
[code]

[2022-01-14 03:47] hi019 commented on #1704
Yes that should work, did you try it?

[2022-01-14 06:10] fanybook commented on #1704
@hi019  i tried it, it can work

but, 405 is a err,  404 isn't a err, is that reasonable?

if use a custom 404 handler  at router tail, there are other hanlders behind it?

[2022-01-14 08:41] WLun001 commented on #1704
40x should not consider as error. it should place at the last, below all other functions

We have it on the docs https://docs.gofiber.io/extra/faq#how-do-i-handle-custom-404-responses

[2022-01-14 09:26] ReneWerner87 commented on #1661
with you origin code:
![image](https://user-images.githubusercontent.com/7063188/149491290-939692c5-a864-4c76-99d6-f3d736aba0a9.png)

with the adjustment i had suggested:
![image](https://user-images.githubusercontent.com/7063188/149491502-edcfda4f-6f31-4b07-983f-e85b5cb1e4fa.png)

@EmreSURK to me it looks like you are simply storing away the wrong part of the connection inside

if you need the ot

[2022-01-15 10:39] ltns35 opened #1715 "🚀 Add mTLS and fix deprecation in TLS config"
**Is your feature request related to a problem?**
Yes, when starting the app with ListenTLS it has the following default configuration where **PreferServerCipherSuites** is deprecated by the Go team.
[code]

It could be interesting to allow mTLS in the configuration because many times we have to use certificate authorization for our microservices.

**Describe the solution you'd like**
We should up

[2022-01-15 13:18] ad3n commented on #1371
Sorry, any update here?

[2022-01-15 13:27] ad3n commented on #1354
1. Support HTTP/2
2. Support HTTP/3
3. Automatic Swagger Documentation

[2022-01-15 16:45] efectn commented on #1683
closed by https://github.com/gofiber/fiber/pull/1688#issuecomment-1013701045

[2022-01-15 16:45] #1683 closed

[2022-01-15 16:45] #1541 closed

[2022-01-16 06:54] MichailVestnik opened #1716 "Support text/plain MIME-type for GLSL shaders"
Hi !

# Issue
Some JS libraries and WebGL use GLSL shaders. Most often they are imported as a module.

[code]

The Fiber doesn't understand shaders MIME-type!

спасибо!

[2022-01-16 17:04] shubhamdixit863 commented on #158
[code]

[2022-01-17 02:44] hi019 commented on #1716
Hi, can't you just set the content type to text/plain? `ctx.Set(fiber.HeaderContentType, fiber.MIMETextPlain)`

[2022-01-17 04:43] MichailVestnik commented on #1716
Hi. GLSL shaders are static content, like CSS, so I don't know how to make the right mime-type...
This code returns an html page that contains js working with WebGL shaders.

[code]

I think that support in Fiber correct processing of shaders still does not hurt!

[2022-01-17 17:49] bofeng opened #1718 "🤗 Which context to use to detect client disconnected?"
**Question description**

I have a demo handler like below, and used `curl` to send the request. If in the process I press ctrl-c to quit the curl (client disconnected), the server will still print "ticker", the "client quit" case will never be triggered:

**Code snippet** _Optional_

[code]

I thought that use the `c.Context().Done()` in `fiber` could listen on the "client disconnect" case, but i

[2022-01-18 09:51] fncolon opened #1720 "🤗 How Can I Get Origin?"
**Question description**

<img width="220" alt="Capture" src="https://user-images.githubusercontent.com/50759463/149913435-b9c74031-3f6e-4ff7-a0eb-e7fb8965cdaa.PNG">

How can i get origin in fiber?

[2022-01-18 09:57] ReneWerner87 commented on #1720
just use https://docs.gofiber.io/api/ctx#get

[code]

[2022-01-18 09:59] ReneWerner87 commented on #1720
@fncolon  can also ask such simple questions in our "discord" chat
https://gofiber.io/discord

[2022-01-18 09:59] fncolon commented on #1720
I forgot about `express-like` 😄

[2022-01-18 10:00] fncolon commented on #1720
Aaaa okay I'm discord guy

[2022-01-18 10:00] #1720 closed

[2022-01-18 10:00] fncolon commented on #1720
Thanks!

[2022-01-20 03:45] Anthonyhawkins opened #1722 "🤗 Usage Example using Session within multiple handler files"
**Question description**
The documentation isn't too clear on how to set up the `store` variable when dealing with handlers within multiple files.  Given the following structure
[code]
[code]
[code]
Where should store be declared?
How would I make the store available to all handles regardless of the file?

The example shows a very basic all-in-one approach but I'm curious how to manage the session

[2022-01-20 08:31] jzyzxx opened #1723 "🐛 Cors plugin dit not work for the post crossOrigin request"
**Fiber version**
v2.23.0
**Issue description**
Cors plugin dit not work for the post crossOrigin request,no 'Access-Control-Allow-Origin: *' shows on the chrome devtool panel
**Code snippet**

[code]

[2022-01-20 08:36] jzyzxx commented on #1723
The cors plugin had worked for the get cosssorigin request,but dit not work for the post cosssorigin  request,

[2022-01-20 08:50] ReneWerner87 commented on #1723
Cannot reproduce
![image](https://user-images.githubusercontent.com/7063188/150304827-be975688-16cb-42ad-bc47-6e9e02b667e5.png)

[2022-01-20 08:57] ReneWerner87 commented on #1722
here we have an example, just search for the variable sessionStore, maybe this will help you to understand the whole thing
https://github.com/gofiber/recipes/blob/master/csrf/routes/mainServer.go#L31

[2022-01-20 10:58] ReneWerner87 commented on #1723
@jzyzxx

[2022-01-20 11:03] ReneWerner87 commented on #1716
the type should be text or ? have you tried something like this ? @MichailVestnik
[code]

[2022-01-20 11:04] jzyzxx commented on #1723
I

maybe it is related about my js code:
[code]

[2022-01-20 11:08] ReneWerner87 commented on #1723
@jzyzxx can you tell what headers your javascript framework sends?

the origin header is important

https://github.com/gofiber/fiber/blob/master/middleware/cors/cors.go#L111

[2022-01-20 11:10] ReneWerner87 commented on #1723
see no error in the fiber, so I close the issue, so as not to unsettle other users

feel free to send me a [direct discord message](https://gofiber.io/discord) with the header or other findings

[2022-01-20 11:10] #1723 closed

[2022-01-20 15:41] 547372621 opened #1724 "🐛 memory leak"
**Fiber version**
use v2.24.0

**Issue description**
memory leak

**Code snippet**

start server
[code]

run client 5 seconds , after 60 seconds , run pprof

the memory has not been released

[code]

[code]

![image](https://user-images.githubusercontent.com/19144018/150370996-5cba9674-dd5a-474d-a944-9d990d931cff.png)

[2022-01-20 17:18] ReneWerner87 commented on #1724
what do you expect ? @547372621

isn't the problem that you only load one byte at a time from the enormous response and then always wait a second and then the process starts over again? should the server already release the memory?

if you really found a memory leak here, then please create the report in the fasthttp project, because we use the core without any customizations for this behavior
htt

[2022-01-20 19:59] Anthonyhawkins commented on #1722
That doesn't quite help me.  That's another example of the session and handlers being in the same file.  My question if what if my handlers are in different packages/files than main.go where the app is created and started.

Going back to my example, if session is declared in `main.go` how would my handlers defined within `controllers/foo.go` `controllers/bar.go` get access to it?

[2022-01-21 00:53] Anthonyhawkins commented on #1722
I ended up solving this by doing the following.  Open to other ideas as well, otherwise I'll close this tomorrow.

[code]
[code]

[code]

[2022-01-21 01:01] hi019 commented on #1722
Hey. This situation isn't really unique to the session middleware -- it applies to any variable you want to share with all handlers. One common pattern is to have all the handlers be methods on a struct, and then put the variables inside the struct. See [here](https://drstearns.github.io/tutorials/gohandlerctx/#sechttphandlerimplementations)

[2022-01-21 01:28] #1704 closed

[2022-01-21 01:28] #1605 closed

[2022-01-21 05:31] 547372621 commented on #1724
The problem is that after I close the client process, the server memory is still not released

[2022-01-21 07:59] ReneWerner87 commented on #1724
@547372621 can you create an issue at fasthttp, with the fasthttp equivalent of the code from fiber for this example

i think this should be doable, otherwise let me know and i will try to help

not 100% sure yet if this is really a problem or the connection is not closed properly clean according to the standard workflow and therefore fasthttp is still holding the data for a short time

[2022-01-21 08:26] jzyzxx commented on #1723
I have upload my test demo to gitee,the responsitory address  is [https://gitee.com/git.oschinajzy.net/gowork.git]

[2022-01-21 08:39] ReneWerner87 commented on #1723
@jzyzxx please try
axios.defaults.withCredentials = true

found many issues for axios
https://github.com/axios/axios/issues/853
https://github.com/axios/axios/issues/191

[2022-01-21 10:50] jzyzxx commented on #1411
@ap6108 I have met the the problem,how do you deal with it?

[2022-01-21 19:21] WilliamSilveiraF commented on #1411
me too

[2022-01-21 19:26] WilliamSilveiraF commented on #1441
@sidmohanty11 Where did you deploy the backend application? I have the same error

https://github.com/sidmohanty11/gradbook-api/

[2022-01-21 19:38] balcieren opened #1727 "🐛 NewErrrors() returns error array"
@vecpeng did you really test it ? Fiber's router's handler returns just error not []error.

[2022-01-22 04:48] vecpeng commented on #1727
Sorry, maybe there is a misunderstanding about #1695.

I just thought that it maybe not a good idea to use interface{} instead of string to represent an error because the [error](https://pkg.go.dev/builtin#error) in go, indeed, is a string. Moreover, it might introduce backward compatibility issues if someone uses `e.Message`.
So I just want to add a way to deal with multiple errors in array but i

[2022-01-22 05:40] sidmohanty11 commented on #1441
@WilliamSilveiraF I deployed it on heroku, try using wildcard or the default config

[2022-01-22 05:58] MichailVestnik commented on #1716
I'll try to explain in steps:

## 1: handler
[code]

 ## 2: HTML.
On line 16 I load JavaScript with the type of module.

![Снимок экрана от 2022-01-22 14-36-35](https://user-images.githubusercontent.com/87961969/150626450-3ca4f3d5-1e24-4e1e-b376-099e4e2d09f2.png)

## 3: JS
![Снимок экрана от 2022-01-22 14-37-47](https://user-images.githubusercontent.com/87961969/150626534-91c77985-6328-4d10-8748-3

[2022-01-22 09:28] balcieren commented on #1727
@vecpeng if you want to examine and support you can look PR #1728

[2022-01-24 01:08] jzyzxx commented on #1411
It only works in the development enviroment

[2022-01-24 01:10] jzyzxx commented on #1411
It only works in the development enviroment,if cors problem exists in the production enviroment,the problem still repeated

[2022-01-24 01:15] mtneug opened #1731 "🐛 Internal redirect does not reset route and handler index"
**Fiber version**

v2.25.0

**Issue description**

I found this issue while searching for a way to do internal redirects. #1398 seems to suggest that this is not supported, however, there is the out-of-tree [rewrite middleware](https://github.com/gofiber/rewrite) that is exactly doing that. It essentially uses the `c.Path()` method to set a new path. The code below shows a simplified example.

As

[2022-01-24 01:41] jzyzxx commented on #1723
Maybe cors isn 't the real problem here, the cors middleware works fine, a problem cause 500 error,but chrome thinks it is cors

[2022-01-24 06:11] jzyzxx commented on #1723
When i shield the csrf plugin,the code runs well

[2022-01-25 22:51] efectn commented on #1354
split context into the req, resp and others (like next)
[code]

[2022-01-25 22:57] balcieren commented on #1354
Should write with net/http for catching innovations. (While I writing this comment, my hands trembled but I am ready for lynch.)

[2022-01-26 00:01] fishnux opened #1732 "🤗 Why does c.Query accepts a variadic parameter for the default value?"
[code]
defaultValue is a variadic parameter, so it's a []string. But then, see the definition of defaultString:
[code]
It returns defaultValue[0]

Why does it have a variadic parameter in first place if it always returns the first element of the string slice? And why defaultString accepts a []string instead of just string?

[2022-01-26 00:04] fishnux commented on #1732
Oh, I just understood this now. The variadic parameter is there to make it work with optional parameters (i.e. you can optionally set a default value string), the rest of the parameters are discarded

[2022-01-26 00:04] #1732 closed

[2022-01-26 03:04] #1722 closed

[2022-01-28 08:33] red010182 opened #1734 "Why is fiber slower than gin when include validation"
I am making a simple benchmark for some performance-oriented web frameworks like gin, fiber, actix, axum. fiber is undoubtedly an awesome framework which is probably the fatest in golang and is super fast before I add query parse and validation code.

However, after I add query parse and validation code, fiber is both slower and consumes larger memory than gin. Here's the numbers:

Before:
fiber:

[2022-01-28 09:14] balcieren commented on #1734
@red010182 may you try with github.com/go-playground/validator/v10 for fiber.

[2022-01-28 09:17] balcieren commented on #1734
@red010182 versions are low. I think you should try with lastest versions.

[2022-01-29 02:54] red010182 commented on #1734
@balcieren I've tried, but still slow(20k req/s) and memory almost doubled.

But, if use shared validator, it speeds up to 29k req/s and memory is 35MB. What I mean is all requests shared the same validator. Like this:

[code]

However, I'm not sure if it's a good idea to use a single validator for all requests.

[2022-01-29 11:41] balcieren commented on #1734
Validator should be created once.

[2022-01-29 11:53] mikeychowy commented on #1734
Correct, why would you want different instances of validator for each request? Of course if you need to make an instance of a heavy object each request it's going to be slow and resource heavy.

Gin also instantiate it only once, hell, take any web framework of any language, like spring boot, and they will instantiate it only once

[2022-01-29 11:54] balcieren commented on #1734
Yes that's right, I agree you.

[2022-01-29 12:02] balcieren commented on #1734
Maybe can develop custom validator for fiber like Gin's custom validator. It can access from fiber.Ctx like c.Validate().

[2022-01-29 12:13] mikeychowy commented on #1734
If it's plug and play like how gin's works so i can easily bring my own implementations then I'm 100% on board

[2022-01-29 12:46] toannguyen3105 commented on #153
Thank you

[2022-01-30 14:29] red010182 commented on #1734
Because I was guided by the official tutorial https://docs.gofiber.io/guide/validation, in which a new validator is created in each request handler.

Thanks a lot. I didn't know Gin implement it only once.

[2022-01-30 14:29] #1734 closed

[2022-01-30 14:37] mikeychowy commented on #1734
Hmmm, maybe should have a disclaimer that those code examples are for demonstration purposes only.

If you want better examples of real usages, maybe go through the boilerplates [listed here](https://github.com/gofiber/fiber#-third-party-middlewares)

[2022-01-30 17:26] OneSeven opened #1738 "🚀 Mention BodyParser error again ⚡️"
**Is your feature request related to a problem?**
Yes
**Describe the solution you'd like**
Would like to be able to implement the UnmarshalTypeError struct from the standard library
**Describe alternatives you've considered**
no
**Additional context**
I need to know where the parsed fit error is in that field, and the value of the information
I'm turning from echo, I might give up on fiber because

[2022-01-31 08:00] #1727 closed

[2022-01-31 08:01] ReneWerner87 commented on #1724
@547372621 any progress ?

[2022-01-31 08:24] ReneWerner87 commented on #1716
okay, beginning to understand the problem

until now you only sent us the snippet for the rendering of the html file, where you then included the main.js

can you please send us the snippet where you deliver the static files ? probably with app.Static, but there are several possibilities

probably the problem is in the core, because we use the fs.handler for static files from fasthttp
-> but i hav

[2022-01-31 09:10] ReneWerner87 commented on #1738
thanks for the report @OneSeven

above i can see that you have probably mentioned this before, can you link the pre-report here as well.

if not already present in the pre-report, can you create an example with the specific case ?

in my test i can see the field that led to the problem
![image](https://user-images.githubusercontent.com/7063188/151766249-fb273b90-4fdd-4e6d-9fe2-2aecb00fcb1b.png)

w

[2022-01-31 09:43] ReneWerner87 commented on #1734
my code:
[code]
tool + request code:
[code]

case 1 - "request without any additional process"
![image](https://user-images.githubusercontent.com/7063188/151770325-fd913735-2460-4121-8369-977f08dcb273.png)

case 2 - "validator initialized every request"
![image](https://user-images.githubusercontent.com/7063188/151770510-5adfeda0-05c2-4703-96cc-c6f34ccb3bc0.png)

case 3 - "validator initialized on

[2022-01-31 09:43] OneSeven commented on #1738
@ReneWerner87

For details, see this issue https://github.com/gofiber/fiber/issues/1010

[2022-01-31 09:44] ReneWerner87 commented on #1734
@red010182 thank you for the report and to all involved for the hints

[2022-01-31 09:46] ReneWerner87 commented on #1738
am curious how the pull request looks like, feel free to prepare something

pull requests are always welcome

[2022-01-31 09:51] OneSeven commented on #1738
I'm very sorry, my level is not enough, I hope the official can achieve

[2022-01-31 10:23] ReneWerner87 commented on #1738
ok, let's see if a contributor will take care of that, otherwise we will tackle that, but there is quite a lot on the table at the moment and few people are available

[2022-01-31 11:52] DarthBenro008 commented on #1663
@GalvinGao, there is already an function for that, and you can find the below snippet for your usecase

[code]
The relevant codebase is present here:
https://github.com/gofiber/fiber/blob/5766feef29be223835cb8bb31ea6ad497afd47cd/app.go#L745-L764

With this we do not have to split `Listen()` and `Serve()`, you can create your own listener and pass that later onto `App`

[2022-01-31 11:55] GalvinGao commented on #1663
Ohhh I see. That's very helpful then and I sure think it suits my needs. Thanks for posting this comment!

Closing issue as this is already resolved :D

[2022-01-31 11:55] #1663 closed

[2022-01-31 12:16] DarthBenro008 commented on #1731
@mtneug , can you please provide a use-case for this feature? i don't see any benefits of adding a `c.Reset()` because GoFiber is highly inspired by Express and top to bottom middleware registrations in the tree is what it follows.

In your given example, even if we add a `c.Reset()`, you will never reach `NotFound` page, instead why not register a route late like below?

[code]

I believe its mor

[2022-01-31 12:38] DarthBenro008 commented on #1718
@bofeng , Unfortunately, `fasthttp` does not determine or support the detection of client connection as mentioned here:
https://github.com/valyala/fasthttp/issues/468#issuecomment-439665014

Naturally, GoFiber won't have such context support because the Context of GoFiber is wrapped around fasthttp.

Hope this answers your query, closing this issue, if you still have doubts, feel free to re-open t

[2022-01-31 12:38] #1718 closed

[2022-01-31 13:20] mtneug commented on #1731
@DarthBenro008: my point with `NotFound` in the example above is that it _is_ executed when routes are not registered in the correct order. I don't want it to be executed so basically making your code and mine functionally identical.

The use case can be a simple one as with the [rewrite middleware](https://github.com/gofiber/rewrite). Without restarting route handling, it is not guaranteed that h

[2022-02-01 06:27] OneSeven commented on #1738
The implementation is suitable, can it be like echo and put its error inside
https://github.com/labstack/echo/blob/master/echo.go#L107

[2022-02-01 06:52] OneSeven commented on #1738
For formData, XML's error hope is the same, not limited to json

[2022-02-01 09:20] MichailVestnik commented on #1716
@ReneWerner87
I create repository with simple example (fake 3D with GLSL shaders).
https://github.com/MichailVestnik/GLSL-with-Fiber-Example

There are two files in the js folder - main.js and fiber.js
Only main.js is included in HTML because it includes shaders as constants.
To work properly, you can include shaders as js modules, as shown in fiber.js

[2022-02-01 10:03] ReneWerner87 commented on #1716
thank you

of course "text/plain" is the current content type, but what is the expected one ? which content type should be played after the fix ?(unfortunately i am not an expert in connection with glsl, therefore the question)

[2022-02-01 15:00] khrome83 opened #1740 "🤗 How to prevent cache in remote storage for non matching routes (404)"
**Question description**

How to prevent cache in remote storage for nonmatching routes (404)?

**Code snippet** _Optional_

[code]

I am seeing a lot of things added to my cache in redis that would be better left out. In other words, how can I prevent caching 404 responses or non-matched routes. Basically, the generic sniffers that look for php-my-admin and wp nonsense cause my redis to bloat.

O

[2022-02-01 15:07] red010182 commented on #1734
@ReneWerner87 It's my honor to contribute a little bit to the community.

[2022-02-01 15:28] ReneWerner87 commented on #1740
use the skip middleware or the next method to skip unwanted actions.

https://docs.gofiber.io/api/middleware/skip

![image](https://user-images.githubusercontent.com/7063188/151998042-4cbfbc4d-8452-42ee-94fb-c2fe28ecc539.png)
https://docs.gofiber.io/api/middleware/cache#config

[2022-02-01 15:31] khrome83 commented on #1740
@ReneWerner87 my first thought was using the next middleware. I guess I am confused on the lifecycle.

I assume the middleware is handled before it gets to a route handler/matcher. So how would I know within `Next` function that downstream it would result in a 404, non matched route.

Or does the cache process post route handler. If so how can I read the status in the context to see its a missed r

[2022-02-01 15:46] ReneWerner87 commented on #1740
yes good point, how to know beforehand that nothing matched

https://github.com/gofiber/fiber/blob/5766feef29be223835cb8bb31ea6ad497afd47cd/middleware/cache/cache.go#L117
it looks like the next method is executed afterwards, so you might actually know if it matched or not

you could e.g. set locals which contain "cache" true, if this is set and other conditions like your query parameters apply
htt

[2022-02-01 17:54] khrome83 commented on #1740
@ReneWerner87 that worked wonderful.

I used this -
[code]

In the handlers that should be cached I added `c.Locals("use-cache", true)`

[2022-02-01 18:09] #1740 closed

[2022-02-03 06:32] #1661 closed

[2022-02-03 06:32] #1652 closed

[2022-02-03 12:12] mstrYoda opened #1745 "🚀 support explicit allowed paths in basic auth config middleware"
**Is your feature request related to a problem?**
No.

**Describe the solution you'd like**
I know that there is already Next function in basicauth.Config but it would be nice to support basicauth.Allowed to disable basic auth for certain paths.

Current Next function will grow if we have different skip conditions. We can reduce it by writing a boiler plate Allowed/Skip paths in basic auth config.

[2022-02-03 12:40] ReneWerner87 commented on #1745
https://docs.gofiber.io/api/middleware/skip

why don't you just use the skip middleware ?

[2022-02-03 13:09] #1558 closed

[2022-02-03 13:28] abhi12299 commented on #1712
If no one is assigned to this, I can take this up.

[2022-02-03 13:44] ReneWerner87 commented on #1745
@mstrYoda

[2022-02-03 14:04] abhi12299 commented on #1712
@ReneWerner87 just to reconfirm, the `Protocol` method currently returns http/https and changing it for a differently named method `Scheme` will be a major change in the public API. Is that what is expected from this PR?

[2022-02-03 14:08] balcieren commented on #1712
I think this should wait to v3

[2022-02-03 14:09] ReneWerner87 commented on #1712
can also inform in the next release version, think so many do not use these methods

[2022-02-03 14:09] #1731 closed

[2022-02-03 16:21] NorbertHauriel opened #1747 "🤗 Source file name typo in limiter package?"
The following source files are named with a prefix 'limited' in package **limiter**:
- limited_fixed.go
- limited_sliding.go

I would expect 'limiter', just like the package's name, and the already existing **limiter.go** and **limiter_test.go**.
Is this a typo? Seems like it, but I'm not sure.

[2022-02-03 16:48] NorbertHauriel commented on #1354
An official implementation of burst limiter would be nice in v3, similar to this #486.
As a separate middleware, or including it in the window limiters.

[2022-02-03 16:57] hi019 commented on #1747
Yep, it's a typo

[2022-02-03 17:59] #1747 closed

[2022-02-03 21:11] mstrYoda commented on #1745
Is not that would be nicer to write this:

[code]

instead of this:

[code]

or this:

[code]

[2022-02-04 05:04] abhi12299 commented on #1712
@ReneWerner87 I made a PR. Can you review it?

[2022-02-04 09:17] ReneWerner87 commented on #1745
this feature looks to me more like it is interesting for all middlewares and you can actually cover it already

therefore I would advise against this feature

below some other possibilities

the question is also, why you use a middleware on all paths, which is not needed there at all
-> we have so many possibilities with the router to structure these middlewares, that a whitelist is not needed the

[2022-02-04 12:20] abedshouman commented on #371
Hello, Im trying to convert my current Rest API from nodejs to go using fiber, so i am a bit new to golang, i tried the two posted solution to parse nested json to nested structures, i even tried the same examples you already posted, but i am getting the same error **"schema: converter not found for User"**

[2022-02-04 18:33] kivox opened #1751 "🐛 Unable to parse JSON Decoder Error"
**Fiber version**
Fiber v2.25.0

**Issue description**
Usually, you can unmarshal the error returned by a function into the struct it was declared as. Now the issue here is this struct is set as an internal property of the Fiber library, therefore, making it inaccessible to the project where Fiber is used in.

Location of the decoder's Error struct: `github.com/gofiber/fiber/v2/internal/go-json/er

[2022-02-05 00:10] #1745 closed

[2022-02-05 07:36] MichailVestnik commented on #1716
I researched this topic and it turns out that mime-types for shaders have the status of experimental.
The only correct method at the moment is to embed shaders as strings directly in JS.
I apologize for taking up your time

[2022-02-05 07:36] #1716 closed

[2022-02-06 04:48] abhi12299 commented on #1610
@ReneWerner87 we could have a field named `SessionOnly` or something similar which if true will ignore max age and expires header. How does that sound? I could work on this.

[2022-02-06 07:55] ReneWerner87 commented on #1610
Sounds okay.

[2022-02-06 11:45] MichailVestnik opened #1753 "🤗 Conflict router and context.Render"
Hi!

### I had a case like this:

[code]

In this example, I take a query parameter and give it to the HTML page.

Suppose there are three files in the articles folder - 1.html, 2.html and 3.html. If I add another 4.html file to this folder in running server mode, everything works correctly. I will see the page at mysite.com/articles/4.

### A case of the problem:

[code]

If I add 4.html in this

[2022-02-06 13:58] #1276 closed

[2022-02-06 15:03] efectn commented on #1520
Look at here https://github.com/gofiber/recipes/pull/151.

[2022-02-06 15:03] #1520 closed

[2022-02-06 19:55] lonnietc opened #1757 "🤗 dynamically changing routes?"
Hello,

I have a few web games in a subdirectory

/games/game1
/games/game2
.
.
/games/gameN

I need to be able to read the "games" directory and choose a random game path which I can do.

My questions is to how Fiber can dynamically set that path as needed since each time a user comes to the website, I want a randomly chosen game to be registered for that user which will change on the next browse

[2022-02-06 20:25] ReneWerner87 commented on #1753
For that you would have to re-read the templates with the load function.

[2022-02-06 20:28] ReneWerner87 commented on #1751
Should be fixed by #1755

[2022-02-06 20:28] #1751 closed

[2022-02-06 20:30] ReneWerner87 commented on #1738
Please check it after rhe next release again( #1755)

[2022-02-06 21:12] efectn opened #1758 "🚀 Feature Request: Hooks Support"
I think hook support would be great and useful for Fiber. Example we can use hooks to define auto-swagger middleware etc.

**Simple Proposal Example:**
[code]

Example Hooks:
- onRoute
- onShutdown
- onReady
- onRequest
- onResponse

Reference: https://www.fastify.io/docs/latest/Reference/Hooks

**->** _If you are OK, i can create PR in the next days._

[2022-02-06 22:16] ReneWerner87 commented on #1758
We need a good document for the hooks

"When they are executed?"
Furthermore, they should have meaningful names

Maybe post and pre prefixes and some examples.

[2022-02-07 04:42] MichailVestnik commented on #1753
OK! Thanks!

[2022-02-07 04:42] #1753 closed

[2022-02-07 07:43] ReneWerner87 commented on #1757
@lonnietc There are many ways
The games are also delivered with app.static or? Would create an index html in each directory and define the base href in it and load your general static files(css and js) relative from the root.

The redirection, can happen via javascript(location.href = "...") in the main directory on the index html, you only need to load the information via ajax, which games or fol

[2022-02-07 07:43] ReneWerner87 commented on #1708
@shahriar350 is it still a problem or had you found the cause ?

[2022-02-07 10:57] shahriar350 commented on #1708
not really. I use [ffjson](https://github.com/pquerna/ffjson) instant of [go-json](https://github.com/goccy/go-json). I check my code manually but always go-json failed to Marshal/Unmarshal my struct. but other package like fastjson/std json/ffjson works fine. As you recommend me to use this
[code]
i use this to my code and code works fine. Otherwise it send me some error like this:
[code]

[2022-02-07 12:35] #1610 closed

[2022-02-07 12:42] #1371 closed

[2022-02-07 13:21] efectn commented on #1281
Can you try to run your app with latest versions of Fiber? I tried to run with pwsh on linux and worked.

[2022-02-07 13:25] efectn commented on #1708
@shahriar350
Can you send this to goccy/go-json as an issue?

[2022-02-07 13:56] shahriar350 commented on #1708
I've already send them as a issue but they tell me to make a pprof measurement. They tell me that might be a environment issues. Because i dont know about pprof, that's why i cannot measure that. [Here is my code](https://github.com/shahriar350/eCommerceGolangNuxt-backend) Could anyone please check?

[2022-02-07 13:59] ReneWerner87 commented on #1708
we will check it out, may take a little while as there are many issues on the table at the moment

unfortunately you will have to be patient for a while
in the meantime you can set the json encoder and decoder to another engine or to the default engine

[2022-02-07 14:13] shahriar350 commented on #1708
Yes. that's why i normally use ffjson for json encoder and decoder and waiting for your future response.

[2022-02-07 15:05] efectn commented on #1708
I'll look on weekend

[2022-02-07 21:29] PringlePot opened #1759 "🤔 Limiter headers not working as expected"
**Fiber version**
Latest version

**Issue description**
When using multiple instances of limiter, the headers might not show the correct headers.

![image](https://user-images.githubusercontent.com/80323633/152874867-cc662f95-667d-4ec3-b3cc-1798a62f292d.png)

**Code snippet**
https://gist.github.com/PringlePot/e28d90dab317c11736738e7f89af1480

[2022-02-07 22:12] mstrYoda commented on #1745
All of them are good examples, thank you for the discussion.

[2022-02-07 22:52] ReneWerner87 commented on #1759
In your example 2 limiter middlewares are used at the same time

By mounting the sub app that has the limiter middleware in the root on the path

Please try to reproduce it without mounting or with only one limiter middleware in a simple example

[2022-02-08 14:20] tiojevero opened #1760 "GRPC Server in fiber🤗"
**Question description**

Is it possible to make grpc server in go-fiber?

[2022-02-08 14:45] ReneWerner87 commented on #1760
http and grpc are different things, we only provide an http framework

[2022-02-08 20:34] efectn commented on #1281
@nicolasvac

[2022-02-09 07:27] PringlePot commented on #1759
Can't you check if the headers are already set, and dont overwrite them then?

[2022-02-09 07:41] ReneWerner87 commented on #1759
No, using this middleware 2 times on the same route is just wrong

if i would do this in this middleware, you would have to do this in every other middleware (cors, etag, compress, csrf, .....)

[2022-02-09 07:46] PringlePot commented on #1759
Okay, I will just add the middleware seperately for the routes then

[2022-02-09 07:46] #1759 closed

[2022-02-09 14:06] bigflood commented on #1635
You can use custom listener.
[code]

[2022-02-10 07:13] sagadsalem commented on #151
Does fiber has it's own Hot reload @Fenny

[2022-02-10 07:18] sagadsalem commented on #1354
- CLI command helper to help you create a new app with a simple project structure or check routes list
- Add support for hot reload
- fiber ORM

[2022-02-10 07:39] efectn commented on #151
Yes, https://github.com/gofiber/cli

[2022-02-10 09:45] koreaidi0t opened #1762 "🤗 How can I DO reverseproxy http(other server) to https(gofiber)?"
**Question description**
 How can DO reverseproxy?

[code]

When running this code, I got following error.
`panic: tls: first record does not look like a TLS handshake`

Thanks for reading.

[2022-02-10 14:55] ReneWerner87 commented on #1762
@koreaidi0t
have you tested the server and the tls configuration without the proxy middleware ? do you get the same error ?

[2022-02-10 15:11] ReneWerner87 commented on #1762
ok, you(@koreaidi0t ) opened it again ?
anything else I can help ?

[2022-02-10 15:47] ReneWerner87 commented on #1762
![image](https://user-images.githubusercontent.com/7063188/153443685-e9b90582-e767-4534-94ad-9211f267cadd.png)
https://github.com/gofiber/fiber/tree/master/middleware/proxy

have you tried this from the readme ?

[2022-02-10 16:00] bigflood commented on #1762
My guess is that the proxy middleware is doing https to the http target.

[2022-02-10 16:13] koreaidi0t commented on #1762
@bigflood
Thanks.
I found that if I change the scheme to 'http', it overwrited to 'https' due to isTls variable in req is set true.
What can I do?

[2022-02-10 16:24] bigflood commented on #1762
It doesn't seem possible.

[2022-02-10 16:39] koreaidi0t commented on #1762
@bigflood
It seems hard to change isTls var in req though. 😢

BTW thanks for your comments!

[2022-02-10 19:17] 34205037 opened #1763 "🐛Expected a JavaScript module script but the server responded with a MIME type of "text/plain""
**Fiber version**
v2.26.0
**Windows version**
Windows 10 21H2(19044.1526)

**Issue description**
Failed to load module script: Expected a JavaScript module script but the server responded with a MIME type of "text/plain". Strict MIME type checking is enforced for module scripts per HTML spec.

[mime: incorrect mime-type for .js files on windows 10 (text/plain instead of application/javascript) #32

[2022-02-11 09:53] sagadsalem commented on #151
@efectn fiber hot reload is not working properly with Goland
I think it's because the AutoSave in Goland
when I use sublime text everything works properly

[2022-02-11 14:52] bigflood commented on #1762
@ReneWerner87
May I work on this issue?

[2022-02-11 14:59] ReneWerner87 commented on #1762
Sure

[2022-02-11 17:39] balcieren commented on #1734
https://github.com/gofiber/fiber/pull/1766

[2022-02-11 18:59] golangaddict opened #1767 "🐛Backwards Incompatible Change to fiber.Error"
**Fiber version**
2.26.0

**Issue description**
The change referenced here [CLICK HERE](https://github.com/gofiber/fiber/commit/7cf1886df5f6041449ca082701c05bb5eb13100e#r66439045) in #1728 which was applied to a MINOR update is backwards incompatible. This change will break underlying structures that reference fiber.Error.Message using the concrete type "string".

One cannot simply imply that alth

[2022-02-11 19:11] balcieren commented on #1767
thanks for issue, I have thought. Message is going to be string and I will add new property for Error struct. It is going to be interface so you can use if you want string or interface.

[2022-02-11 19:12] golangaddict commented on #1767
That sounds like a much better approach, thank you.

[2022-02-11 20:22] balcieren commented on #1767
@golangaddict https://github.com/gofiber/fiber/pull/1768

[2022-02-12 18:06] Cubxity opened #1770 "🐛 Client .Struct() SIGSEGV"
**Fiber version**
`v2.25.0`

**Issue description**

Under unknown circumstances, calling `Struct` will cause a SIGSEGV. It is unclear how this happened, my assumption is that the connection got terminated in an unexpected way.

[code]

**Code snippet**

[code]

[2022-02-12 18:43] #1762 closed

[2022-02-12 19:10] #1712 closed

[2022-02-12 19:10] ReneWerner87 commented on #1770
![image](https://user-images.githubusercontent.com/7063188/153724911-c65b33d1-4e39-48f7-9646-c1da7317e2c7.png)
can not reproduce this unfortunately

can you add another example that leads directly to this error

[2022-02-12 21:09] Koredeoluwafemi opened #1772 "🐛 Named routed"
**Fiber version**
2.26.0
**Issue description**
I assign a name to a route but I am unable to access the name in the middleware
**Code snippet**

[code]

[2022-02-13 05:49] SowinskiBraeden opened #1773 "🚀 EJS template renderer"
Enabling fiber to use a renderer such as EJS, for example:

[code]

enabling the ability to serve a .ejs file and pass variables

[2022-02-13 18:21] Trim21 opened #1774 "🐛 `utils.Trim` wrong result if it should return a empty string"
**Fiber version**

`v2.26.0`

**Issue description**

`utils.Trim(" ", ' ')` got  `" "` instead of `""`

**Code snippet**

[code]

fix:
[code]

[2022-02-14 07:01] #1774 closed

[2022-02-14 07:17] #1767 closed

[2022-02-14 17:38] efectn commented on #1772
[code]

This code is working fine. And i can get route name when i send request to /add/user. Can you send here your handler to reproduce issue rightly?

[2022-02-14 21:50] balcieren commented on #1354
1. `fiber.Ctx` should be `interface` (for customize)
2. `fiber.Error`'s message should be `interface` (for multiple error messages)
3. Renaming functions names
   ##### `fiber.App`
   * `Listen()` --> `Start()`
   * `ListenTLS` --> `StartTLS()`
   *  ....
   ##### `fiber.Ctx`
    * `Query()` --> `QueryParam()`
    * `Param()` --> `PathParam()`
    * `Get() `--> `GetReqHeader()` // `GetRequestHeade

[2022-02-15 02:08] fufuok opened #1778 "🐛 utils.TrimBytes wrong result if it should return a empty bytes"
**Fiber version**

`v2.27.0`

**Issue description**

follow-up questions: #1774

`utils.TrimBytes([]byte(" "), ' ')` got `[]byte(" ")` instead of `[]byte("")`

**Code snippet**

[code]

[2022-02-15 06:57] #1778 closed

[2022-02-15 07:11] efectn commented on #1772
@Koredeoluwafemi

[2022-02-15 10:05] ReneWerner87 commented on #1770
@Cubxity

[2022-02-15 10:05] #1757 closed

[2022-02-15 10:06] ReneWerner87 commented on #1223
@greeeg does the error still occur ?

[2022-02-15 10:39] Cubxity commented on #1770
I am not quite sure how to reproduce this, although this has happened several times. The API I am using is private, so unfortunately I can't give you the endpoint. Although I believe the issue to come from the body not being read properly before deserialization.

[2022-02-15 10:45] ReneWerner87 commented on #1770
hmm we use our internal json encoder "[goccy/go-json](https://github.com/goccy/go-json)" maybe there is a bug with your structure

can you test the response together with this packet separately

as a quick fix you can set the json decode to default
https://github.com/gofiber/fiber/blob/7b1a7a9513026a014e0e9f8487fb738a83f20cbe/client.go#L79

[2022-02-16 10:42] Koredeoluwafemi commented on #1772
Yes, it works, must be a mix up from me. Thanks for the clarification

[2022-02-16 10:42] #1772 closed

[2022-02-16 10:51] Koredeoluwafemi opened #1781 "🐛 Unable to Pull JWT Token from C.Locals("user")"
**Fiber version**
2.27.0
**Issue description**
In my previous version, I am able to get my jwt token in the Header with c.Locals("user"),

right now its returning nil in the new version
**Code snippet**

[code]

[2022-02-16 11:02] ReneWerner87 commented on #1781
we also need the jwt middleware version, as i suspect this is where the error lies

[2022-02-16 11:44] Koredeoluwafemi commented on #1781
I am using github.com/golang-jwt/jwt/v4

[2022-02-16 11:58] ReneWerner87 commented on #1781
okay interesting, but how can we help there now ?

don't see any place where the locals are written ? expected that you use our middleware for jwt and have a problem with that

[2022-02-16 12:08] adnan-kamili opened #1782 "The compiled binary contains lot of test data from github.com/klauspost/compress package🐛"
**Fiber version**

v2.9.0

**Issue description**

On static analysis of the binary, generated after compiling our go fiber app we found out a lot of text and links in the final binary, which turned out to be test data in the

github.com/klauspost/compress

package.

Here is how it looks in the hex editor:
<img width="1067" alt="Screenshot 2022-02-16 at 5 35 37 PM" src="https://user-images.githubus

[2022-02-16 12:33] ReneWerner87 commented on #1782
can you see how it behaves in the new version and prepare a small reproducible example

[2022-02-16 12:38] ReneWerner87 commented on #1782
interesting find, think this should be created in the github repository of the package
https://github.com/klauspost/compress

think the test data should be in another folder which is not part of the package

[2022-02-16 12:45] Martyhacker opened #1783 "x509: certificate signed by unknown authority"
**Question description**
Hello. I can't get fiber/v2. My go version is 1.16.4. Error is x509: certificate signed by unknown authority.
This is output when I entered <code>go get github.com/gofiber/fiber/v2</code> command on cmd.

github.com/gofiber/fiber/v2 imports
        github.com/valyala/fasthttp imports
        github.com/klauspost/compress/flate: github.com/klauspost/compress@v1.14.1: Get "h

[2022-02-16 12:50] ReneWerner87 commented on #1783
do you have the same problems with "go mod" which you should use ?

https://go.dev/blog/using-go-modules

[2022-02-16 12:54] Martyhacker commented on #1783
I don't understand to go modules very well. But before getting fiber I just typed these commands
<code>go mod init backend-sample</code>

[2022-02-16 20:40] Cubxity commented on #1770
Got the same exact issue using the Go's json package

[2022-02-17 02:02] Mattioli commented on #899
@codemicro sorry for bringing this up after a long time, but I was reading on how to make a shutdown using fiber and reading `Shutdown`'s documentation I had a doubt. The documentation says:

[code]

As I understood, `Shutdown` will, in that order: (1) close all open listeners and then (2) wait for all connections to return and then (3) shut down. Which means that it will make `Listen` return `nil

[2022-02-17 09:02] klauspost commented on #1782
The text is from `lcet10.txt` - a common benchmark file for compression. Used by snappy and my package.

It does not exist directly in the repo. Running tests will attempt to download it from `https://raw.githubusercontent.com/google/snappy/master/testdata/`. Do you invoke tests on third party packages?

I don't see this package having references to wither snappy nor my package. So how it ends up

[2022-02-17 09:46] adnan-kamili commented on #1782
Do you invoke tests on third party packages?

No we don't.

[2022-02-17 10:11] klauspost commented on #1782
This is the [brotli dictionary](https://github.com/nishemon/get-brotli-dictionary). From github.com/andybalholm/brotli

Seems like it has text from common benchmarks. Cheaters.

[2022-02-17 10:18] ahmad-kemsan commented on #1782
Here is our go.mod file:

[code]

[2022-02-17 10:23] klauspost commented on #1782
[fasthttp](https://github.com/valyala/fasthttp/blob/master/go.mod#L6) imports it.

[2022-02-17 10:24] ahmad-kemsan commented on #1782
@klauspost thanks a lot for finding this.

@ReneWerner87 can you please look into this?

[2022-02-17 10:30] ReneWerner87 commented on #1782
yes right the packages are packages from fasthttp

think in the issue section of fasthttp or the brotli repository you should create a report with the findings

best with a small example to reproduce (without fiber, just with the information of the repository itself, so you can see that it is a real problem from their package)

[2022-02-17 10:31] ReneWerner87 commented on #1782
@ahmad-kemsan thx for https://github.com/valyala/fasthttp/issues/1220 but we should maybe also create a report in the brotli repo -> fasthttp will not be able to do much there either

[2022-02-17 10:36] klauspost commented on #1782
The best the brotli package can do is obfuscate it. It needs the data to operate. Maybe a simple xor could be done, but since it is a cgo package they would probably prefer it to be done upstream.

Another alternative, is to build with [garble](https://github.com/burrowers/garble) which obfuscates static data. I use this for some of my binary releases to avoid (bad) AV software triggering on commo

[2022-02-17 10:41] ReneWerner87 commented on #1782
you mean the data is not only used for test or benchmark purposes ?

if not i don't understand why you can't just move them into the folder and leave them out of the consumer package ?

[2022-02-17 10:43] ReneWerner87 commented on #1782
we also have various test data which we need -> these are simply hidden in the .github folder and are therefore not pulled into the package for the release

[2022-02-17 10:43] klauspost commented on #1782
@ReneWerner87 It is required to decompress and usually (but not required) for compression. It is a dictionary used to reference common words, reducing the size of compressed data.

[2022-02-17 10:43] ReneWerner87 commented on #1782
ahh ok

but then there is also no possibility to let them out

[2022-02-17 15:09] tomaswarynyca commented on #1782
@ahmad-kemsan the issues on fasthttp were closed
You have to open it in [brotli](https://github.com/andybalholm/brotli)

[2022-02-17 16:45] Vytek commented on #1574
Hello, I have the same error. How can I fix it??

[2022-02-18 07:32] ReneWerner87 commented on #1574
@Vytek  @fiecato
this error is not easy to recreate

have tried it with the code snippets, however, I see no error

would it be possible for someone to provide a minimal main and test file where this problem occurs?

with all the resources that are needed

[2022-02-18 07:34] ReneWerner87 commented on #1770
@Cubxity i need an example to follow

can you provide me with a minimal example where this problem occurs

otherwise it will be difficult to solve this problem

[2022-02-18 09:17] Vytek commented on #1574
Hi @ReneWerner87,
I recreate the error and develop a little repo with all.

This is the repo qwith all the code:

[2022-02-18 10:29] ReneWerner87 commented on #1574
thanks for the example, now i see the problem and will work on a fix

[2022-02-18 12:36] codemicro commented on #899
I don't remember - it's been a long time since I looked at this, and I'm also no longer on the maintainers team. I don't have the time to look at this, I'm afraid.

[2022-02-18 15:31] hakoptak opened #1785 "🚀 A custom setting for the CacheDuration in SendFile()?"
**Is your feature request related to a problem?**
I have a use case where I have to peform some actions before sending out a static html file:

[code]
Currently, the `SendFile()` method accepts a compress flag and internally the `CacheDuration` is set to a fixed 10 seconds. But since the `home.html` is static by nature, I would like to define a `CacheDuration` beyond 10 seconds (like in `Static()`

[2022-02-18 22:13] tomaswarynyca commented on #1738
@OneSeven v2.27.0 solved this problem?

[2022-02-19 01:08] #1574 closed

[2022-02-19 02:40] #1738 closed

[2022-02-19 10:40] geet opened #1786 "🐛 proxy.Do is changing the originalURL() and not restoring it to the originalURL of the handler"
**Fiber version**
github.com/gofiber/fiber/v2 v2.27.0
**Issue description**
I am invoking proxy.Do(c,proxy_url) inside a fiber handler. Inside the handler,
[code]
returns a non-immutable string due to zero allocation in fiber.
Now, when i pass the fiber context to the proxy.Do(ctx,addr), the originalURL is modified due to the [setRequestURI](https://github.com/gofiber/fiber/blob/master/middleware/

[2022-02-19 23:54] jack5341 commented on #1773
I would like to take this issue, I can gladly develop this feature.

[2022-02-20 00:07] SowinskiBraeden commented on #1773
I know there is the html renderer, but I really like using .ejs
I use it often and really like the simplicity of it compared to html conditional statements. So I just thought it would be great to see EJS compatibility within one of my projects.

[2022-02-20 07:30] ReneWerner87 commented on #1773
Ok, you are welcome to create a pull request

Please create the feature report in the template repository next time

[2022-02-20 14:21] geet commented on #1786
There was a similar issue [raised](https://github.com/gofiber/fiber/issues/1499) and a fix was provided. However, I find that the fix provided won't work and the test is missing the essential edge case.
I think the methods proxy.Do() and sendFile() should restore the orginalURL() to avoid side effects which maybe caused in the original Handler.

[2022-02-20 14:28] geet commented on #1499
@ReneWerner87  I think we need to reopen this issue. If I try  the code snippet mentioned in the [comment](https://github.com/gofiber/fiber/issues/1499#issue-975160251) , I can still reproduce the bug. Try hitting the `/index` endpoint twice.
i gave a fix for this in the [PR](https://github.com/gofiber/fiber/pull/1788)

[2022-02-20 15:38] qracer opened #1789 "📚 A mistake in the limiter middleware source code comment"
There is the *config.go* file in the limiter package. The file contains definition of config for limiter middleware. It has a field `Max` which sets maximum amount of requests. According to the comment beside it implies number of connections during `Duration` seconds, but `Duration` field is deprecated and `Expiration` field to be used instead. The comment is also confusing because the [doc page](

[2022-02-20 16:01] #1789 closed

[2022-02-21 07:25] #1786 closed

[2022-02-22 05:06] dhruvkb opened #1791 "🐛 Console output unreadable"
**Fiber version**

v2.27.0

**Issue description**

When the server starts, the output is unreadable on the console. This happens when using the Solarized Dark color theme.
<img width="512" alt="Screenshot 2022-02-22 at 9 12 29 AM" src="https://user-images.githubusercontent.com/16580576/155067213-9cee3296-7e7c-4513-a73e-a46c819f43db.png">

The text is still being rendered, as it becomes readable up

[2022-02-22 07:10] #1406 closed

[2022-02-23 03:03] xdorro commented on #1354
Support gRPC (gRPC Gateway)

[2022-02-23 09:43] itzikiusa opened #1792 "fasthttp v1.33.0 panic when closing context🐛"
**Fiber version**
v2.27.0
**Issue description**
every few minutes due to race condition panic occurs and program exists, issue is caused by fasthttp library, v1.33.0

this is more a warning then a bug, as a PR exists on fasthttp, but fiber also affected by this issue

[2022-02-23 10:09] ReneWerner87 commented on #1792
@itzikiusa could you link this PR ?

[2022-02-23 10:11] ReneWerner87 commented on #1792
you mean ?
https://github.com/valyala/fasthttp/issues/1205
https://github.com/valyala/fasthttp/pull/1206

[2022-02-24 01:56] dn-l commented on #1579
Got same error:
[code]

[2022-02-24 02:43] hi019 commented on #1579
@dn-l Hey. You should create a new issue for the error so that it's easier to track

[2022-02-24 04:14] dn-l commented on #1579
I will! As soon as I figure out why it's happening

[2022-02-25 12:22] Mahi commented on #756
Looking at the example provided by @Fenny, why are we defining a new route handler in our test case?
[code]
I would like to test the existing routes from my main application, not rewrite all my routes in my test cases. How would I go about doing this?

[2022-02-26 02:51] suntong opened #1793 "🤗 What happened to discord channel?"
What happened to the discord channel?
Is it empty to anyone else as well?

I used to be able to ask questions there before.

[2022-02-26 02:58] hi019 commented on #1793
Did you click the checkbox in #rules?

[2022-02-26 05:30] suntong commented on #1793
Aha! THX!

[2022-02-28 07:33] #1715 closed

[2022-02-28 10:27] msrexe opened #1795 "🚀 Protobuf support for response and request body"
**Is your feature request related to a problem?**
The codes written for marshall/unmarshall increase complexity when communicating with proto over REST.

**Describe the solution you'd like**
Reaching the desired result in a single line with a function.

**Describe alternatives you've considered**
When returning the response, the SendProto function can be added like the SendJSON, SendFile function.

[2022-03-01 18:37] rushkii opened #1797 "🤗 Does gofiber runs asynchronously?"
I'm new using Go, it''s kinda hard to learn goroutine, is there an example using gofiber asynchronously?

[2022-03-01 18:45] ReneWerner87 commented on #1797
https://medium.com/@gauravsingharoy/asynchronous-programming-with-go-546b96cd50c1

https://gobyexample.com/goroutines
https://gobyexample.com/channels
https://gobyexample.com/waitgroups

[2022-03-02 07:38] ReneWerner87 opened #1799 "🚀 Reduce memory footprint"
this issue is about collecting and implementing ideas for reducing the initial memory footprint.

Example app:
[code]

Monitor:
![image](https://user-images.githubusercontent.com/7063188/156313890-3862e990-167b-4676-8d4c-706b00519954.png)
12.5 MB
---
Example app 2:
[code]

![image](https://user-images.githubusercontent.com/7063188/156314792-032350a8-dfc5-47b5-a4bb-85ffd68c86f5.png)

Activity monit

[2022-03-02 08:16] ReneWerner87 commented on #1799
![profile001](https://user-images.githubusercontent.com/7063188/156322115-02c06ad8-ffc4-4ae1-a83e-bde41b2e1e7b.png)

[2022-03-02 14:40] xponrails opened #1801 "Rate Limiter doesn't block the execution of the next handler🤗"
Hi, I'm going to add the rate limiter to our APIs, but I've noted that when I reach the limit, the execution of the next handler isn't blocked. You just add the status 429 header as result of the call.

In fact the LimitReached func is performed AFTER the next handler:

[code]
Is this the right behavior?

What you think on adding a new parameter in the Config, like "BlockNextIfMaxReached"?

Let me

[2022-03-03 07:41] xponrails commented on #1801
Hi @ReneWerner87 I've updated fiber from v2.20.1 to v2.28.0 and now it works as expected. Maybe it was a bug in the previous version. Thanks for you time!

[2022-03-03 07:41] #1801 closed

[2022-03-03 08:02] ReneWerner87 commented on #1797
@rushkii  does my comment help you ?

[2022-03-03 10:38] ChotiwatMajor opened #1802 "Using square brackets in query parameters"
Fiber version

`v2.24.0`

I have an issue trying to use square brackets in query parameters on query parser
my struct & query parameters look like this

[code]

[code]

Thank you to @ReneWerner87
As he said the problem is the gorilla parser only accept "." as a separator
https://github.com/gorilla/schema/blob/master/cache.go#L53

So now I change my query parameters to

[code]

and now it works!

[2022-03-03 11:03] ReneWerner87 commented on #1802
would be cool if we allow the more common form of query parameters to be enabled

i.e.
param[][bar]=foo
param[0][bar]=foo
param.0.bar=foo

all should work

for this we can extend the gorilla schema parser or before putting the information into it, change the keys to the understandable "." paths

https://github.com/gofiber/fiber/blob/8b0170c0f4738ca2699f94a18c76afc92f0a2ef5/ctx.go#L911

@gofiber/co

[2022-03-03 19:26] hi019 commented on #1792
There is some activity on a new PR: https://github.com/valyala/fasthttp/pull/1234

[2022-03-03 19:28] hi019 commented on #1791
As a temporary fix, you could use add `DisableStartupMessage` to your config and print out the statistics manually

[2022-03-04 05:03] dhruvkb commented on #1791
The `sed` command in the issue is the current temporary fix I'm using. It just strips out the colors and makes the output readable.

[2022-03-04 07:19] dhruvkb commented on #1791
It seems this is an issue with Solarized Dark (https://github.com/altercation/solarized/issues/220) and not Fiber so I'm going to close this issue. Sorry for the trouble it might have caused.

[2022-03-04 07:19] #1791 closed

[2022-03-04 07:57] #1797 closed

[2022-03-04 07:59] ReneWerner87 commented on #1782
brotli ticket is also closed
can we close this ? its not really related to fiber
the issue is in the named repositories

[2022-03-04 08:01] ReneWerner87 commented on #1635
@Macrow did the comment help you ? can we close the issue ?

[2022-03-04 08:06] ReneWerner87 commented on #1781
@Koredeoluwafemi
unfortunately the example is still incomplete and i don't know the usage of your jwt middleware

the fetch with the locals i can see, but nowhere a point where it could be written

can you provide a standalone minimal runnable example that includes the misbehavior

only then i can quickly investigate and fix the problem

[2022-03-04 08:08] ReneWerner87 commented on #1785
@hi019 @efectn what do you mean ?
I prefer the 2nd method

1st method is not possible, because 2 times rest parameters can not come after each other

the 3rd method breaks the api

[2022-03-04 08:09] ReneWerner87 commented on #1281
@nicolasvac

[2022-03-04 08:35] Macrow commented on #1635
@bigflood @ReneWerner87 Thanks for your response.

Sorry for my unclear description.

I'v build a IM server handling websocket connection, at the same time, I want to handle raw tcp connection for tcp connection clients.

**My question: Can I setup raw tcp connection handler on same port which used by the normal http(websocket) handler ?**

For now, I used two different ports for http and raw tcp

[2022-03-04 11:25] efectn commented on #1785
Me too. I think we can do 3. one on v3.

[2022-03-04 14:59] joyride9999 commented on #1161
Also have the same problem:
using ubuntu 20.04.2 LTS in vbox on host win10
go 1.17
fiber 2.20.1

[2022-03-04 15:30] nicolasvac commented on #1281
Hello everyone, it was a problem of goland terminal.

Sorry for the late answer,
and thank you.

[2022-03-04 15:32] #1281 closed

[2022-03-04 18:15] abhishekk5 opened #1803 "🐛 (value of type func(c *fiber.Ctx)) as func(*fiber.Ctx) error value in argument to app.Post"
**Fiber version**

**Issue description**

**Code snippet**

[code]

[2022-03-04 18:24] ReneWerner87 commented on #1803
No issue description, closed

[2022-03-04 18:24] #1803 closed

[2022-03-05 10:54] faryoo opened #1805 "Please tell me how to get a 302 redirect link 🤗."
**Question description**

**Code snippet** _Optional_

[code]

[2022-03-05 12:53] ReneWerner87 commented on #1805
https://docs.gofiber.io/api/ctx#redirect

Please always read the documentation first before opening an issue

The description and headline please always in English, otherwise we can not help you

You can also use translators
https://www.deepl.com/translator

[2022-03-05 12:54] #1805 closed

[2022-03-06 01:22] tonyhart7 commented on #1781
I ecounter the same issue to fix this You must use middleware protected(auth) like in the recipe project
therefore you can claim token on c.local(user)

[2022-03-06 01:24] tonyhart7 commented on #1781
middleware auth
[code]

route
[code]

[2022-03-06 04:20] tonyhart7 commented on #1781
[code]

[2022-03-06 23:16] gregg-cbs opened #1810 "🤗 Html layouts and views, having difficulties and I need help"
**Question description**
Can I please have an example of how views and layouts are supposed to interact with each other in Fiber?

At the moment i have set up layouts and views but if I use the layout in more than one view it seems to bug out.

**I have initialised views like so**
_In  my html folder is both my views and layouts_
[code]

**I made a base layout and in it i define base (as per some

[2022-03-07 06:55] ReneWerner87 commented on #1810
Hi, please move this report in our template repository

[2022-03-07 06:55] #1810 closed

[2022-03-07 07:20] #1782 closed

[2022-03-07 16:06] kei-adpopcorn commented on #1354
override fiber.Ctx

[2022-03-07 17:34] itzikiusa commented on #1792
@ReneWerner87
seems like new version has been release for fasthttp v1.34.0

[2022-03-07 17:47] ReneWerner87 commented on #1792
Dependabot is working https://github.com/gofiber/fiber/pull/1811

[2022-03-07 17:51] qracer opened #1812 "🐛 Limiter middleware works improperly with any database"
Limiter middleware works fine with default in-memory storage. The same for db storage but only if `SkipSuccessfulRequests` and `SkipFailedRequests` set to `false`.

If, for example, `SkipSuccessfulRequests` set to `true`, the middleware will still ban a user for specified amount of requests even if they have status codes less than 400.

The bug caused by the `set` method in [manager.go](https://gi

[2022-03-07 18:02] ReneWerner87 commented on #1812
We will check this, thx for the hint

[2022-03-08 01:41] rushkii opened #1814 "🐛 ctx.BaseURL only return IP address"
**Fiber version**
v2

**Issue description**
based on [this docs](https://docs.gofiber.io/api/ctx#baseurl), it states that BaseURL returns protocol + host value, but when run on local it only returns localhost IP (127.0.0.1) and no port and protocol provided.

**Code snippet**
[code]

[2022-03-08 02:23] tomaswarynyca commented on #1814
I cannot reproduce the error :thinking:

![image](https://user-images.githubusercontent.com/41587659/157153563-14f4c774-a949-4e11-9aa8-77ba39ad2913.png) ![image](https://user-images.githubusercontent.com/41587659/157153516-00d7a67a-772b-4375-976d-974f23774a72.png)

[2022-03-08 04:11] hi019 commented on #1785
Yeah we can do 2, Or `SendFileWithDuration`

[2022-03-08 04:12] hi019 commented on #1785
2 sounds good

[2022-03-08 04:20] cw-20020752 opened #1816 "How can I get all param variables?"
For example, if my url is /test/:param1/test2/:param2
Isn't there a function that returns all path variables including param1 and param2 in middleware?
(like url.Query())

What I expect is this.
-->
url : test/1/test2/2
function returns: param1:1, param2:2

[2022-03-08 07:16] ReneWerner87 commented on #1814
@rushkii

[2022-03-08 07:23] ReneWerner87 commented on #1785
@hakoptak

[2022-03-08 10:41] ReneWerner87 commented on #1816
we do not have such a method, since we assumed that if the route itself is defined, you know the parameters

you can still get the route from the context and there is a parameters node which contains all parameters in a slice

[2022-03-08 12:45] FlandiaYingman commented on #1792
Could we release a patch version to fix this?

[2022-03-08 12:55] ReneWerner87 commented on #1792
sure give me some minutes

[2022-03-08 13:03] ReneWerner87 commented on #1792
https://github.com/gofiber/fiber/releases

[2022-03-08 13:03] #1792 closed

[2022-03-08 16:29] itzikiusa commented on #1792
thanks!

[2022-03-09 02:52] AmyYummy opened #1817 "🤗 How about this FIber picture as my head picture?"
Hi friends!
I found an amazing [fiber](https://www.baudcom.cn) picture from the net? How about use it as my headpicture ?
![image](https://user-images.githubusercontent.com/97929262/157363422-ec1c752d-59a5-4155-a3bd-d286e7e99841.png)

[2022-03-09 03:09] hi019 commented on #1817
Headpicture?

[2022-03-09 05:27] ClaudiaChan1996 commented on #1817
Look my headpicture, If you use it, we will be the same, kkkkk

[2022-03-09 07:30] #1817 closed

[2022-03-09 07:30] ReneWerner87 commented on #1816
@cw-20020752

[2022-03-09 17:47] #1724 closed

[2022-03-09 21:19] hakoptak commented on #1785
Hi @ReneWerner87, I am looking into it. I guess that solution 2 has its troubles: the `static` struct contains fields that do not apply to the send function (as far as I understand it). It concerns `ByteRange, Browse, Download, Index, Next()`

As always: the devil is in the details...

To be honest: I misunderstood the meaning of `CacheDuration` (thought it was the duration of the cached file, but

[2022-03-10 07:35] #1758 closed

[2022-03-10 13:16] cindRoberta commented on #1354
HTTP/2:
- https://github.com/gofiber/fiber/issues/262
- https://github.com/valyala/fasthttp/issues/144
- https://github.com/fasthttp/http2
- https://github.com/dgrr/http2

HTTP/3:
- https://github.com/lucas-clemente/quic-go

[2022-03-11 00:49] Macrow commented on #1635
@bigflood thanks for that, It helps a lot!

[2022-03-11 00:49] #1635 closed

[2022-03-13 11:35] efectn commented on #1354
- One Listen method and StartConfig instead of Listen, ListenTLS, ListenMutualTLS.
- Make own binding instead of Gorilla Schema. Like Echo and escpecially Gin.

[2022-03-13 21:02] ninadingole commented on #1802
@ReneWerner87 could you please review the PR for this please :)

[2022-03-13 21:08] ninadingole commented on #1814
Even I tried to reproduce it, the code is returning both the host and port
<img width="234" alt="Screenshot 2022-03-13 at 10 08 12 PM" src="https://user-images.githubusercontent.com/1947050/158079317-e201d31c-3b48-485b-baf8-5df13ae1015b.png">

[2022-03-15 11:00] ogost commented on #756
Having same question as @Mahi above: I would like to test existing routes in my main application. Any good resource on this?

[2022-03-15 11:25] ReneWerner87 commented on #756
what fenny wanted to show here is how easy it is to test the routes

of course you should not define the routes and the app in the tests

This is defined outside in the main and used in the tests(he just put it in a script for understanding)

it is actually described here in the recipe
https://github.com/gofiber/recipes/blob/c512a21fb05cace6ba104f38c295d9d105c5332c/unit-test/main_test.go#L43

this

[2022-03-15 11:32] ogost commented on #756
Ooh, I see, thank you.
Second week on go, coming from Java/Python, sorry for asking stupid questions.

[2022-03-15 11:41] #1812 closed

[2022-03-15 13:27] Cubxity commented on #1770
I totally forgot about this, my bad. I will attempt to create a http server that produces this error once I got the time to do so.

[2022-03-16 01:15] long2ice commented on #1816
Current I do like this:
[code]

[2022-03-17 06:34] luyouxin84 opened #1820 "C.JSON not work on go 1.18"
in go 1.17.8 c.json work fine,but after i upgrade go version , c.json not work report "runtime error empty pointer"

[2022-03-17 09:10] efectn commented on #1820
Can you send issue to https://github.com/goccy/go-json

[2022-03-17 09:12] limjinyung commented on #1820
same here, but I get `unexpected fault address` instead

[2022-03-17 13:05] efectn commented on #1820
Sorry 😅😅

[2022-03-18 10:20] efectn commented on #1820
@luyouxin84 @limjinyung What version of fiber are you using?

[2022-03-18 10:32] luyouxin84 commented on #1820
github.com/gofiber/fiber/v2 v2.23.0

[2022-03-18 10:40] efectn commented on #1820
Update version. It will be solved probably. Also i recommend you use latest version of Fiber. They include most bug fixes and features.

[2022-03-18 16:12] efectn opened #1821 "🚀 v3 Request: Detailed Binding for Query, Form, Headers, Params..."
Fiber already has QueryParser, BodyParser and ReqHeadersParser but they're really limited and not extendable. Also i think we don't need gorilla/schema.

I think creating binding sub-directory will solve this problem. https://github.com/gin-gonic/gin/tree/master/binding. It'll provide more more detailed binding specs. (without default validator, maybe custom validator function can be added, https:

[2022-03-18 19:16] efectn opened #1822 "🚀 DisableReusePort Option for Prefork"
Sometimes, reuse port may working improperly (https://github.com/gofiber/fiber/issues/1208). We should add disable reuse port option because of these errors. It would make prefork more stable and errorless. Also fasthttp has this option too.

https://github.com/valyala/fasthttp/blob/master/prefork/prefork.go#L108

[2022-03-19 16:48] Joris1Jansen opened #1823 "🤗 How to manage translations/i18n"
**Trying to manage translation**

There is a tutorial that I've found about translations in Go: https://www.alexedwards.net/blog/i18n-managing-translations

I was trying to follow this tutorial (within a Fiber app), but things didn't work out very well.

I created a Stack over flow (https://stackoverflow.com/questions/71539948/go-fiber-i18n-gotext-translations-exit-status-2) for the problem I'm bu

[2022-03-20 09:36] Joris1Jansen commented on #1823
I found the problem, when I downgraded my go version back to 1.17.8, everything worked the way it should work.

I've opend an issue here: https://github.com/golang/go/issues/51822

Cheers

[2022-03-20 12:49] #1823 closed

[2022-03-20 14:14] ReneWerner87 commented on #1354
Here you can create the feature request for your ideas
https://github.com/gofiber/fiber/milestone/1

Preferably one report per feature or if they go in the same direction, then also grouped together.
And please provide a code example for the usage in the report(not the implementation).

We will then review them and decide which ones will make it into the core and start with the implementation.

Yo

[2022-03-20 14:29] balcieren opened #1824 "🚀 v3 Request: fiber.Ctx type of interface"
If fiber.Ctx will be interface , we can customize it.

Example

[code]

[2022-03-20 14:39] balcieren opened #1825 "🚀 v3 Request: fiber.Error's message type of interface{}"
If fiber.Error's message's type will be interface{}, we can return multiple error messages etc.

Example

[code]

[2022-03-20 21:03] efectn commented on #1824
Similar to:
- https://github.com/labstack/echo/blob/master/context.go#L19
-  https://echo.labstack.com/guide/context/

[2022-03-20 21:05] efectn commented on #1825
Same as https://github.com/gofiber/fiber/pull/1728

[2022-03-21 06:52] kokizzu commented on #1820
<img width="640" alt="image" src="https://user-images.githubusercontent.com/1061610/159216122-0535aded-58c0-43e8-8af9-5e36376a6444.png">

[2022-03-21 07:09] efectn commented on #1820
I'm closing the issue because of this. If you problem not solved, re-open the issue.

[2022-03-21 08:52] efectn opened #1826 "🚀 v3 Request: Remove Listener, ListenTLS, ListenMutualTLS"
[code]

I think this way is more useful than creating more methods.

Reference: https://github.com/labstack/echo/blob/v5_alpha/server.go

[2022-03-21 09:00] efectn opened #1827 "🚀 v3 Request: Optional PCRE Support for Routing"
Regex would be really useful and powerful for Fiber routing. But Go's native regex library is really slow and not compatible with PCRE %100.

So; what about adding pcre library with cgo? Also we can enable it by custom build tag. Users need regex can enable it easily.

Library: https://github.com/scorpionknifes/go-pcre

[2022-03-21 09:05] liaohongxing commented on #1827
It is not recommended to use cgo, it seems better to make a community package

[2022-03-21 09:07] efectn commented on #1827
But it will be slow if we don't build it with C.

[2022-03-21 09:16] efectn opened #1828 "🚀 v3 Request: Numerous Minor Enchancements"
- [x] go1.16 io/fs implementation for filesystem middleware.
- [x] Make Render:
`func (c *Ctx) Render(name string, bind Map layouts ...string) error `
- [x] Extend logger middleware like https://github.com/labstack/echo/blob/master/middleware/request_logger.go.
- [x] Add helmet, keyauth, redirect, rewrite, adopter to fiber repository.
- [x] Rename function names.
    - fiber.App
[code]
    - fiber

[2022-03-21 13:03] balcieren opened #1829 "🚀 v3 Request: New ideas for routing and mounting"
New Router instead of `Group` , `Route` and `Mount` (should be deprecate)

[Express Router](https://expressjs.com/en/5x/api.html#express.router)

### Routing
[code]
### RouterConfig can contain
![router-config](https://user-images.githubusercontent.com/46889813/159263046-53081a3d-30cc-4298-8123-0c16ad8369db.jpg)

---

### Mounting (https://github.com/gofiber/fiber/pull/2022)
[Express Mount](http:/

[2022-03-21 14:13] oeaniz opened #1830 "🤗 How can I resolve a named route with params to an actual url."
** resolving named route with params.**

Given the snippet below, In my view, I want to create a link to some user 'foo" in my view. I can't seem to find a way to do that.
I know how to redirect using a route and paramers, but it uses an internal method ```Ctx.getLocationFromRoute``` that's not available otherwise.
Is there something I'm missing, or should I make a feature request to make the getL

[2022-03-21 14:30] efectn commented on #1830
Do you want to change params of route? Like Laravel's route() method.

[2022-03-21 14:42] oeaniz commented on #1830
I have never used Laravel. But yes, from the looks of it, this snippet from the laravel docs (https://laravel.com/docs/9.x/routing#generating-urls-to-named-routes) is exaclty what i'm looking for in fiber:

[code]

[2022-03-21 14:44] efectn commented on #1830
Yeah, it would be nice feature. What do you think @ReneWerner87

[2022-03-21 15:07] ReneWerner87 commented on #1830
Jo sounds good

[2022-03-21 15:39] sujit-baniya commented on #1830
Just FYI, there's already a function doing this stuff. https://github.com/gofiber/fiber/blob/master/ctx.go#L1083

Just need to give it a name and export

[2022-03-22 08:13] #1830 closed

[2022-03-22 08:13] #1802 closed

[2022-03-22 14:07] #1763 closed, assigned to nobody

[2022-03-22 14:29] #1783 closed

[2022-03-22 15:18] taichi1024 commented on #1354
**suggest：**
1. Use Go1.18+【generics】refactoring
2. Manage versions like Django [https://static.djangoproject.com/img/release-roadmap.3c7ece4f31b3.png](url)
3. Support microservice features

[2022-03-23 16:34] jonathanch7 opened #1835 "the route analyzer works as expected?"
**the route analyzer works as expected?**

I am defining a group of routes as follows:

[code]

When making a request to the "/test/decisions-catalogs/decisions" endpoint, it executes the _getDecisionByIdWithAggregates_ function.
When the _getAllDecisions_ function is expected to be called.

[code]

is this the desired behavior?

It would be more convenient for the full path to have priority over

[2022-03-23 18:41] ReneWerner87 commented on #1835
It's not expected, we will check this

Thx for the report

[2022-03-24 06:38] luisgarciaalanis commented on #1820
I  am seeing this crash on v2.30.0

the JSON encoder is crashing.
github.com/gofiber/fiber/v2/internal/go-json/encoder.copyOpcode(0x0)
        /Users/luis/go/pkg/mod/github.com/gofiber/fiber/v2@v2.30.0/internal/go-json/encoder/opcode.go:322 +0x33
github.com/gofiber/fiber/v2/internal/go-json/encoder.(*Compiler).linkRecursiveCode(0xc00016f3b0?, 0xc0002cb950)
        /Users/luis/go/pkg/mod/github.com

[2022-03-24 07:10] kokizzu commented on #1820
what's the payload that causes that?

[2022-03-24 11:09] xiayulu opened #1836 "🚀 Can I register filters when using django template engine?"
**Is your feature request related to a problem?**
Yes.

**Describe the solution you'd like**
I want build some custom Django template filters like `get_dict_item`.

Can django template engine expose the filters `Registers` API?

Thanks ❤.

**Describe alternatives you've considered**
I do not find alternative solution.

**Additional context**

[2022-03-24 11:22] xiayulu commented on #1354
Suggest：
1. `Login User` is a very common pattern when build a web app.

I think web developers never say no to this feature.

[2022-03-24 12:20] hakangs opened #1837 "🤗 Requests from newly created pods get timeout from Fiber server"
**Question description**
We have a server with Fiber, that is serving requests from a service.
When this service make deployment in Kubernetes, newly created pods are getting timeout for a small amount of time.
All server side Fiber configs are default and not set with custom values, etc.

What can be the possible problem with this newly created pods timeout? What is the best ways & points to debu

[2022-03-24 12:56] ReneWerner87 commented on #1837
we also have fiber services in kubernetes

do you use the live and readiness probe ?

[2022-03-24 12:59] ReneWerner87 commented on #1837
you should have a health endpoint
![image](https://user-images.githubusercontent.com/7063188/159921204-64acc285-7672-41cc-8c0a-4221ef98b06a.png)

and a liveness and readiness probe on your deployment
![image](https://user-images.githubusercontent.com/7063188/159921335-1c9bd40b-275b-4021-97a4-44b0bc540c73.png)

and i would recommend the rollingUpdate stragtegy
![image](https://user-images.githubuse

[2022-03-24 13:02] hakangs commented on #1837
@ReneWerner87 thanks for answer. Yes we have both RollingUpdate and live/readiness probes for Fiber server app.
But the timeouts are happening when client app is making a new deployment.

[2022-03-24 13:07] ReneWerner87 commented on #1835
[code]

[code]
My test:
![image](https://user-images.githubusercontent.com/7063188/159922464-94c3abc0-e894-4c26-9bec-9f99d4042ae2.png)

@jonathanch7 is currently not reproducible for me, maybe you can adjust my setup a little more so i can get the error behavior

[2022-03-24 13:10] ReneWerner87 commented on #1837
i can't really relate, as it is almost impossible for the fiber server not to be ready when it comes into distribution

since the health endpoint has been called beforehand to confirm that everything is ready

[2022-03-24 13:11] ReneWerner87 commented on #1837
need more information to help you with this

a setup where i can understand what the problem is

did I understand correctly that it is about the timeouts of the clients to the fiber server ?

[2022-03-24 13:14] ReneWerner87 commented on #1837
perhaps there are problems because the other service which is shut down is no longer responding properly

i think we also had such a problem, so we added a 5 second delay on stop

![image](https://user-images.githubusercontent.com/7063188/159923612-a3df0472-1c4c-44d2-b867-19194232e391.png)
this should help the old service to shut down properly

[2022-03-24 13:21] ReneWerner87 commented on #1837
also think there was a problem with the rollingUpdate, that didn't work 100% yet -> that's why we added the sleep at podStop

would try it in your place, maybe it fixes the cause, until kubernetes fixes the internal error

[2022-03-24 13:34] hakangs commented on #1837
thanks for the suggestions, but timeouts are coming from newly created pods (not from stopping ones). I do not know if it can be related with preStop, will try, thanks.

[2022-03-24 13:37] ReneWerner87 commented on #1837
please try, there was a problem in the rolling update feature from kubernetes

[2022-03-24 20:10] jonathanch7 commented on #1835
@ReneWerner87 this is a more real example of my routes in which the error persists:

[code]

![image](https://user-images.githubusercontent.com/32622475/160001218-bccd1dd3-71ae-4b7b-b0d6-c798112f251a.png)

[2022-03-24 21:01] ReneWerner87 commented on #1835
Please swap the routes so that the routes with dynamic parts are in the back

Otherwise they also match for the routes which are only static

[2022-03-24 21:02] ReneWerner87 commented on #1835
[code]

[2022-03-24 21:05] ReneWerner87 commented on #1835
[code]

[2022-03-25 05:25] kokizzu commented on #1820
confirmed
[code]

[2022-03-25 05:29] kokizzu commented on #1820
anonymous struct is the culprit
https://github.com/goccy/go-json/issues/339

[2022-03-25 15:06] rkakrik commented on #726
Same problem with pre-compressed files. Is there some way to do this?

[2022-03-25 16:51] ReneWerner87 commented on #726
Maybe with the file suffix
https://github.com/gofiber/fiber/blob/master/app.go#L233

If you create the files with the correct names, these should be used