[2021-03-17 23:11] FedorLap2006 opened #1232 "Custom marshalers 🚀"
**Is your feature request related to a problem?**

Yes, it kinda is. In my case, internal marshalers is not the best ones, so I went into docs trying to find some configuration for those, but I couldn't, that's why I went here.

**Describe the solution you'd like**

An ability to switch marshalers for MIME types. See `grpc-gateway`'s API, it's very comfortable one.

**Describe alternatives you've

[2021-03-18 03:23] ReneWerner87 commented on #1232
Thx for the report,

You mean something like that?
https://github.com/gofiber/fiber/blob/master/app.go#L281

[2021-03-18 04:24] pjebs opened #1233 "remove endpoint 🚀"
It would be good to be able to remove an endpoint from *App completely at some point after adding it.

i.e. unregister a route

The use case is for testing purposes so it doesn't have to worry about mutexes.

[2021-03-18 04:26] kiyonlin commented on #1233
It's better to test your route with an independent app instance.

[2021-03-18 06:24] pjebs commented on #1233
not for purpose. it would be nice to add and remove routes even if it's not wise to remove routes generally.

[2021-03-18 06:38] kiyonlin commented on #1233
Please see #735 and #600

[2021-03-18 06:48] pjebs commented on #1233
Yeah that is very disappointing because the creator is thinking about it from a production point of view. I agree routes should not be changed in production.

But for other purposes there are use cases.

[2021-03-18 08:23] kiyonlin commented on #1233
Like what?

[2021-03-18 23:31] kiyonlin commented on #1233
I'll close it first. Feel free to re-open it if you have any idea.

[2021-03-18 23:31] #1233 closed

[2021-03-19 18:11] ReneWerner87 commented on #1232
@FedorLap2006

[2021-03-21 13:03] iredmail opened #1236 "🤗 How to get "home path" in fiber.Ctx?"
Dear all, how can i get the homepath of URL in fiber.Ctx? I checked `baseURL`, `Path`, `OriginalURL`, none of them matches my need.

For example, if i run the Go fiber app directly without a Nginx proxy, the URL is `http://server:8080`, the `homepath` should be set to `/`.

If fiber app is running behind a Nginx proxy, and the base url in Nginx for rewritten is `https://server/sub/myapp`, then the

[2021-03-21 13:20] ReneWerner87 commented on #1236
Hope this helps, i subtracted the base url and the route path from the url, so this should be the home url

Go code:
[code]
Request:
GET http://localhost:3000/test/foo/bar

Output:
[code]

[2021-03-21 13:22] iredmail commented on #1236
Dear @ReneWerner87

Thank you for the reply.
Can we add a new method for `fiber.Ctx`  to get this path? It will be a lot easier for fiber users.

[2021-03-21 13:28] ReneWerner87 commented on #1236
don't know yet if this is necessary,
but you can create a pull request for it, with unittests, documentation etc. and then we can take it over(if the other maintainers agree)

[2021-03-21 13:32] iredmail commented on #1236
Can i simply add a new method in `ctx.go` like below?
[code]

unitests and documents are on the way?

[2021-03-21 14:23] iredmail commented on #1236
The sample code doesn't seem right.

Sample Nginx settings (FYI: http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_pass).
Note: the only difference is prepended URI in `proxy_pass` directive.

[code]

Now run `curl -k https://localhost/sub/myapp/test/abc`, output:

- Sample 1
[code]

- Sample 2
[code]

In sample 2, homePath should be `/sub/myapp`.

[2021-03-21 14:37] ReneWerner87 commented on #1236
oh okay, so the golang service doesn't have the information about the path because it is proxied

so how should we display the information? can you(@iredmail ) find out in the python app how they did it there ?
---
will be hard if we don't have the information in the request, then you would have to inject the information via an environment variable

[2021-03-21 14:52] iredmail commented on #1236
Check this in web.py source code: https://github.com/webpy/webpy/blob/master/web/application.py#L449
It checks environment variable `REAL_SCRIPT_NAME` first, if not present, checks `SCRIPT_NAME`.

With `proxy_pass`, seems it's ok to set the `[REAL_]SCRIPT_NAME` variable like below:
[code]
But i failed to get its value in Go code with `os.Getenv("SCRIPT_NAME")`.

[2021-03-21 15:26] ReneWerner87 commented on #1236
proxy_**set_header**
i think you should ask the headers, not the env

[2021-03-21 18:11] GarryGaller opened #1237 "🤗 I don't understand how to use middleware csrf"
If I do it like this
[code]
then I get forbidden for all requests.

If like this
[code]

then I can safely make an authorization request from the script and I am not hindered by the lack of a token

[2021-03-21 20:40] GarryGaller commented on #1237
OK. I did this: the csrf token is written to the hidden field of the login form.
And the authorization handler checks:

[code]

But what protection does this provide if the token can be easily parsed from html code?

[2021-03-22 02:09] iredmail commented on #1236
Using `c.Get("SCRIPT_NAME")` is ok in this case. Thanks for helping. :)

[2021-03-22 02:09] #1236 closed

[2021-03-22 16:02] tomaswarynyca opened #1239 "🤗 why fiber.Map alters the order ?"
Hi, why when I do `fiber.Map{}` it does not return in the same order that I passed things to it?

[2021-03-22 17:37] ReneWerner87 commented on #1239
Hi, thanks for your first post

We use a standard map here, so this behavior you observed is quite normal and golang specific.

If you want to keep the sorting, you have to use other datatypes

Little bit background information about the map order:
https://www.google.com/amp/s/bitfieldconsulting.com/golang/map-iteration%3fformat=amp

[2021-03-22 21:02] tomaswarynyca opened #1240 "🤗 How to implement i18n?"
Hi, would you be so kind to provide a template with i18n to answer a request identifying the language of the client and also be able to use in .html views?

[2021-03-22 21:09] tomaswarynyca commented on #1239
Hi, @ReneWerner87
Ohh now I understand by default it is sorted alphabetically.

[2021-03-22 21:18] #1239 closed

[2021-03-23 02:20] hi019 commented on #1240
What about https://github.com/nicksnyder/go-i18n ? It seems to be web framework agnostic and has a built in cli as well as TOML parsing

[2021-03-23 02:59] tomaswarynyca commented on #1240
I have been doing some research and the one that convinces me the most is this one that works in `.ini`
https://github.com/unknwon/i18n

As we talked on discord it would be nice to have native support.
It would have to be implemented to look for all the `.ini` in a folder and add them as supported language, in the case of the one that passes it is done in the following way `i18n.SetMessage(lang, f

[2021-03-23 04:45] si3nloong opened #1241 "🐛 Incorrect query parsing when using slice data type"
**Fiber version**
v2.6.0

**Issue description**
Currently, when we pass something like below, property `FavourDrinks` value will be `[]string{"coke,pepsi"}` which is incorrect, it should be `[]string{"coke","pepsi"}`

**Code snippet**
Example URL : http://example.com?name=myName&favourDrinks=coke,pepsi
[code]

PR included #1238

[2021-03-23 22:01] ReneWerner87 commented on #1237
Hi, everything can be read from the browser if it has become a security risk due to other vulnerabilities

To provide protection against csrf, another information should be sent for confirmation by a hidden field

This method only helps with this type of security vulnerability, if the browser has already been attacked by xss vulnerabilities, this of course does not help anymore.

Here a really goo

[2021-03-23 22:11] ReneWerner87 commented on #1240
You are welcome to provide such a middleware, we also link to external solutions that work with fiber

Currently there is no native implementation planned, we want to keep fiber as lean and general as possible, only the basic middlewares that everyone uses made it into the core, everything else will be added via extra repository in form of middlewares

Since i18n does not play a role in every serv

[2021-03-24 07:39] koddr commented on #1240
Hey, @tomaswarynyca

I add a new Fiber's recipe with [nicksnyder/go-i18n](https://github.com/nicksnyder/go-i18n) package [here](https://github.com/gofiber/recipes/tree/master/i18n).

Hope, this helps 👍

[2021-03-24 14:30] atkisai opened #1242 "Remove Error Handling"
Tell me how can I remove the interface error in function becose Gorm API Error does not work.

db.Model(&p1).Association("Friends").Find(&p2).Error <= This NOT work
db.Model(&p1).Association("Friends").Error <= This work

[2021-03-24 15:07] ReneWerner87 commented on #1242
Hi, gorm is not a product that comes from the fiber community, you should ask your question there in the github project, at the same time I would recommend you to formulate it a bit more concrete and with more example code, because I just do not understand the core of the problem, but as I also mentioned, we are not experts in this.

I close this issue here, because there is no connection to the p

[2021-03-24 15:07] #1242 closed

[2021-03-24 15:08] hi019 commented on #1242
This is an issue tracker for Fiber bugs, this sound likes it is an issue with GORM. You would be better off asking in [GORM issues](https://github.com/go-gorm/gorm/issues)

[2021-03-24 19:12] #1241 closed

[2021-03-25 06:37] koddr commented on #1230
@goldalworming hi!

As far as I understand, you can add some query to URL with dumpy data and redirect to it.

For route this query doesn't make any effect:

[code]

[2021-03-26 10:24] #1138 closed

[2021-03-26 14:16] GarryGaller commented on #1237
Can you tell me if I used your middleware correctly in my example?
You just don't have a single real life example for a real application in your documentation. And so questions arise.

[2021-03-27 03:13] Refuel-ZL opened #1244 "🐛 middleware compress error"
**Fiber version**
v2.6.0
**Issue description**
Level: compress.LevelBestSpeed
panic: runtime error: index out of range [512] with length 512

compress.LevelBestCompression、compress.LevelDefault  No problem

**Code snippet**

[code]
![image](https://user-images.githubusercontent.com/22957560/112708403-d3192a80-8eec-11eb-9dc6-5edbb6e03f60.png)

[2021-03-27 18:33] #1240 closed

[2021-03-28 12:52] ReneWerner87 commented on #1244
Thanks for the report

Unfortunately the setup to reproduce is broken, because the statusDir as important information as well as the config is missing

Also the route and if necessary examples of the file structure are missing

Furthermore i wonder why embed filesystem is mined, but nowhere used in the example

As i don't have the complete example, but see the section with the embed filesystem, i

[2021-03-28 13:08] ReneWerner87 commented on #1237
Okay we will provide an example in the recipe repository, thanks for the hint

Unfortunately i didn't write the middleware and i never used it myself,

after the code research i would say, you don't have to do anything, because the cookie is set in the HEAD, GET, OPTIONS, TRACE request and if one of the other request methods is used, it will be evaluated in the next request, depending on what you

[2021-03-30 06:51] adnan-kamili opened #1245 "Start gofiber with https on localhost/lan 🤗"
Is there a simple way to run gofiber using HTTPS and HTTP both inside LAN/localhost by automatically creating the self-signed certificates on startup? Something similar to what .net core does. It always listens on two ports by default 5000 and 5001 where the other one uses HTTPS using auto-generated self-signed certificates.

[2021-03-30 09:30] koddr commented on #1245
@adnan-kamili hi!

You can try [this](https://github.com/gofiber/recipes/tree/master/autocert) Fiber's recipe to solve this.

[2021-03-30 09:56] adnan-kamili commented on #1245
Hi @koddr

Thanks but this solution is meant for real domains, not the localhost/lan. We want to use self signed certificates because the server will run in an offline environment.

[2021-03-30 12:25] koddr commented on #1245
Have you tried creating a self-signed SSL certificate like [this](https://www.digitalocean.com/community/tutorials/how-to-create-a-self-signed-ssl-certificate-for-apache-in-ubuntu-18-04) way? Please try it and then just use the standard `app.ListenTLS()` method (from [Fiber docs](https://docs.gofiber.io/api/app#listentls)).

[2021-03-30 20:12] adrianliechti opened #1249 "🤗 Context Propagation"
We are currently implementing OpenTelemetry in a huge application. Fiber is our last missing part :)

OpenTelemetry and similar frameworks make use of go's Context propagation. Basically you do something like this:

[code]

invoked sub-systems (think about databases, gprc clients etc), do the same over again and extend the Context with more and more info - or even serialize it to other microservce

[2021-03-30 20:35] ReneWerner87 commented on #1249
Maybe this will help you

https://github.com/gofiber/recipes/tree/master/fiber-opentelemetry

[2021-03-30 21:08] adrianliechti commented on #1249
thanks for pointing me out to that and your super responsiveness!
I see that this receipt has a similar idea and therefore need to lookup the context to via locals.

A problem with that approach is that it is kind of proprietary to the app and would not scale over the fiber community. As an example your super handy adapter middleware would ignore it that way, and would not propagate it into the re

[2021-03-30 21:28] ReneWerner87 commented on #1244
@Refuel-ZL

[2021-03-30 23:30] adrianliechti commented on #1249
For this evening we end with this quick workaround, to leverage the official opentelemetry net/http instrumentation and keep having fun with fiber.

We (probably) prefer this over maintaining an own implementation - and benefit from their community too.
(the one referenced in the receipt is currently outdated because of smaller updates of the sdk; and seems to lack some important features like pro

[2021-03-31 05:26] pjebs opened #1250 "Middleware not processing route params 🐛"
**Fiber version**
v2.2.5
**Issue description**

I have a middleware that is being applied generally:

[code]

This middleware attempts to access: `c.Params("accountID")`.

For some reason it doesn't have access to it when it should.

If I move it do this instead, it works:

[code]

Since the route is known from the very beginning, why can't it access the route param?

[2021-03-31 05:31] ReneWerner87 commented on #1250
The routing parameters are only valid for the specific route, if you define a middleware without routing parameters, the parameters can not be accessed, this scope is important and can not be moved.

This behavior should be identical in all web frameworks i know.

[2021-03-31 05:33] #1250 closed

[2021-03-31 05:33] pjebs commented on #1250
thanks

[2021-03-31 05:34] ReneWerner87 commented on #1250
no problem 👯

[2021-03-31 06:42] ReneWerner87 commented on #1244
if the problem persists, then reopen the issue, at the current time we can not do without an example to reproduce

[2021-03-31 06:42] #1244 closed

[2021-03-31 09:34] maronghe opened #1253 "Some links had gone"
Some links had gone
--
For README.md of [the summary page](https://github.com/gofiber/fiber#-internal-middleware) ,
Recover middleware recovers from panics anywhere in the stack chain and handles the control to the centralized ErrorHandler.

The `ErrorHandler` 's link was gone, please change it to `https://github.com/gofiber/fiber/blob/master/middleware/recover/README.md`.
Could you fix it when yo

[2021-03-31 14:40] ReneWerner87 commented on #1208
Should not be related

[2021-03-31 14:58] SoftExpert commented on #1208
This means opening a separate issue, right ?

[2021-03-31 17:43] ReneWerner87 commented on #1208
Depends on whether you take the adapter package, then you make there an issue on

The error message says in any case, that somehow the port is already occupied, you must look at your implemtation, maybe this is not possible in the aws

[2021-03-31 20:22] SoftExpert opened #1254 "🐛 Prefork bails out with panic message "listen tcp bind: address already in use""
**Fiber version**
2.7.1

**Issue description**
On my Linux laptop and also on another Linux VM server, if I enable the Prefork flag,  I get the following panic message
`panic: listen tcp :7777: bind: address already in use`

Here is the code to reproduce the issue:

**Code snippet**

[code]

[2021-03-31 20:58] SoftExpert commented on #1254
Replacing
[code]
with
[code]
The error messages become a little richer :
`panic: panic: listener: 0.0.0.0:7777: Only one usage of each socket address (protocol/network address/port) is normally permitted.listener: 0.0.0.0:7777: Only one usage of each socket address (protocol/network address/port) is normally permitted.`

[2021-04-01 03:00] iredmail opened #1255 "❓Specify parameter length and type in URL?"
Does fiber support specifying parameter length and type in URL?

For example:

[code]

How can i specify the type to int and length to 4?
Didn't find this info on document page: https://docs.gofiber.io/guide/routing

[2021-04-01 05:08] #1245 closed

[2021-04-01 05:55] sagar23sj commented on #1253
If anyone is not working on this, can I fix this issue?

[2021-04-01 07:56] ReneWerner87 commented on #1253
would be cool

[2021-04-01 07:58] sagar23sj commented on #1253
Just wanted to confirm one more thing @ReneWerner87
We want ErrorStruct hyper-link to redirect to **https://docs.gofiber.io/guide/error-handling** or **https://github.com/gofiber/fiber/blob/master/middleware/recover/README.md**.
Thanks

[2021-04-01 08:03] ReneWerner87 commented on #1253
you mean
![image](https://user-images.githubusercontent.com/7063188/113262970-827d4500-92d1-11eb-9cd7-7e20fe3d6958.png)
![image](https://user-images.githubusercontent.com/7063188/113262995-890bbc80-92d1-11eb-985a-95e087736da4.png)

this link is working on my machine

[2021-04-01 08:10] sagar23sj commented on #1253
The issue is in READMEs at project root located in /.github.

https://github.com/gofiber/fiber#-internal-middleware,
ErrorHandler mentioned in description for **Middleware** : recover

[2021-04-01 08:16] sagar23sj commented on #1253
Actually, in the issue description,
This Link - > **https://github.com/gofiber/fiber/blob/master/middleware/recover/README.md**
is suggested as a fix, but I looked around, and it seems like
This Link -> **https://docs.gofiber.io/guide/error-handling**
is the right link for the fix.

So just wanted to confirm with you first @ReneWerner87 .
Thanks

[2021-04-01 08:36] ReneWerner87 commented on #1253
yes i think that is correct, in the markdown of the github the links of the github should be deposited, because this information can also change in the branches

about the background process for the docs i don't know unfortunately

[2021-04-01 09:33] ReneWerner87 commented on #1245
Side note:
Starting a server listening on both ports may not be currently possible, but you can start the server binary 2 times with different parameters (--http and --https) and based on that, listen once on the port for 443 and in the other server start the port 80, from a theoretical point of view there should be nothing against it.

[2021-04-01 16:44] sagar23sj commented on #1253
#1256

[2021-04-01 22:55] #1255 closed

[2021-04-02 13:40] hugmouse opened #1258 "🐛 [Sessions] pq: invalid byte sequence for encoding "UTF8": 0xff"
**Fiber version**

`Fiber v2.7.1`

**Postgres version**
`PostgreSQL 13.2`

**Issue description**

For some reason, when I try to save data to middleware, there is an error related to UTF8.

**Code snippet**

[code]

[2021-04-02 15:57] Koredeoluwafemi opened #1259 "🐛 Redirection fails after upgrading to v2.7.1"
**Fiber version**
2.7.1

**Issue description**
Redirection no longer works after upgrading to v2.7.1, the page keeps on reloading.

Login and redirection was working fine before the upgrade

**Code snippet**

[code]

[2021-04-02 16:09] Koredeoluwafemi opened #1260 "🤗How to unroll back to a previous version"
**Question description**
On upgrading to v2.7.1, session seems to no longer working and also redirection, how can I roll back my fiber version from 2.7.1 to 2.5.0

[2021-04-02 16:48] hi019 commented on #1259
Please fill in the code snippet showing your problem

[2021-04-02 16:53] Koredeoluwafemi commented on #1259
@hi019 I have updated my question with the snippet

[2021-04-02 23:28] hi019 commented on #1259
I cannot run your example, but I ran the code below with 2.7.1 and it worked. So it is likely something with your code. If you could make a reproducible snippet with only necessary parts that would be ideal and we could help you better.

[code]

[2021-04-02 23:34] hi019 commented on #1260
You can use `go get -u github.com/gofiber/fiber/v2@v2.5.0` to install Fiber v2.5.0

[2021-04-02 23:34] #1260 closed

[2021-04-03 05:37] ReneWerner87 commented on #1258
Your report is very unusual, usually you create an issie first when you are sure and can give others the possibility to work on the bug.

Please add a reproducible example and/or information about the bug, otherwise this offers no possibility to do anything here and we have to close it.

[2021-04-03 12:51] Koredeoluwafemi commented on #1259
I am unable to trace where the problem is coming from also, but I noticed after logging in successfully, the page keeps refreshing/loading. The problem stopped when I rolled back to the version(2.5.0). Here is my routing function below.

[code]

[2021-04-03 21:10] bofeng opened #1261 "🚀 Add `app.Serve` function which takes net.Listener parameter"
**Is your feature request related to a problem?**

I was trying to use fiber with [overseer](https://github.com/jpillora/overseer) to support graceful restart. My code is like this:

[code]

But currently there is no API for fiber app to take a listener directly.

**Describe the solution you'd like**

The case for `Prefork=true` may need to be handled separately, but the bare bone of the `Serve` f

[2021-04-04 05:35] ReneWerner87 commented on #1258
As I mentioned, we are closing the ticket, if you have a reproducible example and an error message, feel free to open it again

[2021-04-04 08:42] hugmouse commented on #1258
Okay, the server started up after I deleted the table with the sessions, which is created by Fiber middleware package that uses Postgres.

But now a new error: `pq: invalid byte sequence for encoding "UTF8": 0xff`. haha. I'm going to keep digging, so far I haven't been able to make a repeatable error.

[2021-04-04 09:15] hugmouse commented on #1258
Okay I was finally able to make a somewhat reproducible example!

**How to**
Use this code snippet and replace `postgres.Config` with your postgres database details.
Then `go run` this snippet and go to `http://localhost:3000/set`

**Code snippet**:
[code]

**Log**:

[code]

[2021-04-04 09:17] hugmouse commented on #1258
btw can't reopen the Issue myself, @ReneWerner87

[2021-04-04 11:27] mlukasik-dev opened #1262 "Using colon as normal character instead of route param 🚀"
### Problem
We can't create routes that follow _custom http methods_ convention (more about this at [Google API Design Guide](https://cloud.google.com/apis/design/custom_methods)):
- `/updates:watch`
- `/users/:id:undelete` (`/users/132:undelete`)
- `/events:clear`
All of this route paths don't work as desired.

### Possible solutions
1. `/users/:id\\:undelete` - escaping colon.
2. `/users/:id::un

[2021-04-04 14:04] AliYusuf95 opened #1263 "🐛 QueryParser incorrectly parses parameter with multiple values for capital letters keys"
**Fiber version**
v2.5.0

**Issue description**
Based on a previuos issue https://github.com/gofiber/fiber/issues/782 `QueryParser` should parse array. But it's not the case if the key of the param contains a capital letter.

The issue is in this line:
https://github.com/gofiber/fiber/blob/c71da35ddbf6e3a15e65d0b341bba83464a19771/ctx.go#L791

I'm not sure why the `inputFieldName` is converted to l

[2021-04-04 15:19] hi019 commented on #1258
I've ran your code with my database credentials and I got the `ok` response. What if you create a new database instead of using the default one, `postgres`?

[2021-04-04 16:27] ReneWerner87 commented on #1262
Thanks for the report, I will create the week a pull request for the variant with the escaping

[2021-04-04 20:48] subzero911 commented on #492
Trying to create a simple API, got 405 error on DELETE request:
![image](https://user-images.githubusercontent.com/12999702/113521149-3fa4c100-95a0-11eb-83a0-ba64b7069e99.png)

[2021-04-04 21:05] subzero911 opened #1264 "🐛 405 error on DELETE request:"
**Fiber version 2.7.1**
Trying to create a simple API, got 405 error on DELETE request:
![image](https://user-images.githubusercontent.com/12999702/113521509-901d1e00-95a2-11eb-9748-0980ef3b286d.png)
![image](https://user-images.githubusercontent.com/12999702/113521465-46ccce80-95a2-11eb-8697-9a7ef64a3114.png)
How to fix it? Seems like DELETE method not allowed, and it is an issue with Fiber serve

[2021-04-04 21:59] ReneWerner87 commented on #1264
Thanks for the report

Can you send me an excerpt about the registration of the route

[2021-04-04 22:09] ReneWerner87 commented on #1259
Please remove unnecessary components so that we have a complete reproducible example and can help you.

[2021-04-04 22:20] ReneWerner87 commented on #1263
Thanks for the report

Good point, think we should change the comparison

If you want you are welcome to create a pill request.

[2021-04-05 01:52] kiyonlin commented on #1261
Hey, we do have [Listener](https://docs.gofiber.io/api/app#listener)
[code]

[2021-04-05 02:08] hugmouse commented on #1258
Made a new db, ran the same code and I got the same error. Also tried another machine -- Windows + Postgres, I got the same result.

I wonder what might be different between our configurations that we get different results :thinking:

[2021-04-05 02:28] bofeng commented on #1261
It works perfectly, thank you 👍

[2021-04-05 02:28] #1261 closed

[2021-04-05 02:50] kiyonlin commented on #1225
May I ask why do you set `DisableKeepalive` to true?

[2021-04-05 03:06] hugmouse commented on #1258
Tried renting a VPS. Took Debian 10.9.0, installed Postgres, then Golang and tried to use my code. Got the same error.

Go: `go version go1.15.9 linux/amd64`
Postgres: `psql (PostgreSQL) 11.11 (Debian 11.11-0+deb10u1)`

[2021-04-05 07:34] subzero911 commented on #1264
![image](https://user-images.githubusercontent.com/12999702/113549705-87583680-95fa-11eb-8764-27ff520ee5cb.png)

[2021-04-05 07:39] ReneWerner87 commented on #1264
exactly, take a look at your request route and the registered one, there is a difference here
POSTMAN:
/api/v1/book?id=3   --> query param

Registered delete route:
/api/v1/book/:id

-> use
/api/v1/book/3
in postman

query parameter and resource parameter are not the same, a 405 is correct, no DELETE method was specified for your route given in postman

[2021-04-05 07:39] kiyonlin commented on #1264
Actually you should do `DELETE http://localhost:3000/api/v1/book/3` according to your given router.

[2021-04-05 07:46] #1264 closed

[2021-04-05 10:36] AliYusuf95 commented on #1263
it's seems already fixed in v2.7.0 https://github.com/gofiber/fiber/pull/1238

[2021-04-05 10:36] #1263 closed

[2021-04-05 15:53] #1124 closed

[2021-04-05 16:31] yk-sgr opened #1266 "🚀 Monitor Middleware - Remove fmt.Println?"
**Is your feature request related to a problem?**
The monitor middleware prints a warning that the API might be changed in the future.

**Describe the solution you'd like**
 I think this should be moved to the README but not in the code/log.

https://github.com/gofiber/fiber/blob/25868a9be7ce1e21c0319de07071ae11005cfaf0/middleware/monitor/monitor.go#L55

[2021-04-05 19:10] wambugucoder opened #1267 "🐛BodyParser allows non specified parameters to pass through"
**Fiber version**
**_2.0_**

**Issue description**
When i add another json parameter in postman ,the request is sent successfully instead of indicating an error that there is an invalid parameter

### Example:
For my login which only requires email and password ,i tried adding username to see what happens and to my surprise it went through without any error
[code]

**Code snippet**

[code]

[2021-04-05 20:30] hi019 commented on #1266
I agree, would you like to make a PR?

[2021-04-06 02:58] hi019 commented on #1266
I agree. Would you like to make a PR?

[2021-04-06 05:57] #1253 closed

[2021-04-06 07:01] sagar23sj commented on #1266
If anyone is not working on this issue, I would like to take this up.

[2021-04-06 07:19] sagar23sj commented on #1266
Along with removing the print statement from the code, is it required to add the warning in the readme file.
**"[Warning] monitor is still in beta, API might change in the future!"**
https://github.com/gofiber/fiber/tree/master/middleware/monitor#readme

[2021-04-06 12:56] ReneWerner87 commented on #1266
looks good, do it in this way

[2021-04-06 13:00] sagar23sj commented on #1266
Sure. Thanks for confirmation @ReneWerner87 .

[2021-04-06 13:21] #1266 closed

[2021-04-06 13:53] yk-sgr commented on #1266
Thanks!

[2021-04-07 02:40] Refuel-ZL opened #1269 "🐛 extra data in buffer"
**Fiber version**
V2.7.1
**Issue description**
gofiber/fiber v2.7.1  +  gofiber/template v1.6.8.      ERROR: extra data in buffer
gofiber/fiber v2.6.0  +  gofiber/template v1.6.7.      No ERROR
**Code snippet**

[code]

log:
[code]

[2021-04-07 06:04] ReneWerner87 commented on #1269
thanks for the report

cannot currently trace the error, perhaps it is somewhere in the parts that you had not forwarded and which i therefore had to replace

go.mod
[code]

main.go
[code]
views/index.tpl
[code]

![image](https://user-images.githubusercontent.com/7063188/113818280-d9729680-9777-11eb-8544-5ced363595d4.png)
![image](https://user-images.githubusercontent.com/7063188/113818293-de374a8

[2021-04-07 07:56] Refuel-ZL commented on #1269
Try running it again, no problem.
Maybe it was triggered by some other problem. I'll close it for now.
thanks for you

[2021-04-07 07:56] #1269 closed

[2021-04-07 09:36] ReneWerner87 commented on #1269
Okay, thanks for closing

please test more next time

bugs that are not bugs are holding up and we can't solve the real problems, since it's an open source project we unfortunately don't have that much resources and have to try to focus on really important things

[2021-04-08 00:32] hi019 commented on #1258
Thanks for the info, will use a VPS to try to solve this issue tomorrow.

[2021-04-08 00:36] hi019 commented on #1259
I am going to close this until a reproducible example is available. For tips on how to make one, look [here](https://stackoverflow.com/help/minimal-reproducible-example)

[2021-04-08 00:36] #1259 closed

[2021-04-08 06:10] conorbros commented on #1136
Is this still in progress?

[2021-04-08 10:21] JeffPHP opened #1270 "Client Section on gofiber.io 🐛"
Hello,

There was a client section in GoFiber's documentation but it seems to have been removed. Is it on purpose?

Best regards,
Jeff

<img width="1393" alt="Capture d’écran 2021-04-08 à 12 19 25" src="https://user-images.githubusercontent.com/6480906/114010955-f9cc4f00-9864-11eb-959d-27beb2d2bc61.png">

[2021-04-08 10:44] ReneWerner87 commented on #1270
you are right, we will fix it today, thx for the report

[2021-04-08 11:52] JeffPHP commented on #1270
In the meantime, here is a cached version of the page:
https://webcache.googleusercontent.com/search?q=cache:tqgBSqAtAl0J:https://docs.gofiber.io/api/client+&cd=1&hl=fr&ct=clnk&gl=fr

[2021-04-08 12:27] shumin1027 opened #1271 "🐛 Can't Support WebDAV"
**Fiber version**
 `v2.7.1 `

**Issue description**

`panic: add: invalid http method PROPFIND`

**Code snippet**

[code]

[2021-04-08 12:35] shumin1027 commented on #1271
Fiber only support this http methods:
[code]

[2021-04-08 12:37] shumin1027 commented on #1271
use the `fasthttp` can work ok,this is the code:
[code]

[2021-04-08 12:42] ReneWerner87 commented on #1270
we fixed it, really thanks for the report

there was a problem with the master

[2021-04-08 12:42] #1270 closed

[2021-04-08 12:43] zhming-hub commented on #1271
good!!!

[2021-04-08 12:49] ReneWerner87 commented on #1271
as you already found out correctly, we currently only support this list of http methods
https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods

webdav is a protocol based on http, so it is not included in our support

the possibility to extend this would probably be technically there, you would just have to extend the methods and lists that handle them

but it is currently not planned

[2021-04-08 12:49] #1271 closed

[2021-04-08 17:48] hi019 opened #1272 "🐛 Session MW - Impossible to set cookie Max-Age/Expiry to Session"
**Fiber version**
v2.7.1

**Issue description**
The session middleware [config](https://github.com/gofiber/fiber/blob/master/middleware/session/config.go#L14) Expiration field currently only accepts a time.Duration. It's not possible to set the cookie expiry to Session.

[2021-04-08 18:37] sujit-baniya commented on #1272
What would happen to the session when Fiber Session has expiry of 30 minutes and
1) User becomes idle for 15 mins (In this case maybe session would expire???)
2) Constantly using the website more than 30 minutes (session expiry keeps updated???)

[2021-04-09 00:31] xFuney commented on #1272
@sujit-baniya Session cookie expires when the user ends their browser session. This is usually handled by the browser and the term "Session expiry" can differ from browser to browser. Generally it means when the user closes their browser window.

This is a much more secure alternative for Session tokens, as a user may not be aware that their session hasn't ended when they close their browser. All

[2021-04-09 02:39] sujit-baniya commented on #1272
@xFuney Thanks. In that case, maybe implementing the session expiry based on `Remember Me` as well when session is not expired even if the browser is closed

[2021-04-09 02:53] kooohei commented on #1161
I have same progrem.

using
Ubuntu:20.04
go        :1.15.6
fiber     :2.7.1

https://github.com/gofiber/recipes/tree/master/https-tls

[2021-04-09 03:10] xFuney commented on #1272
@sujit-baniya It's still a good idea to have this implemented. A session cookie would work well along a "Remember me" persistant cookie.

For the application of which I'd use this, I would be using Discord's OAuth2 libraries and, as such, only storing the session cookie of the user. The OAuth2 flow of Discord does not provide a way to "remember" a user otherwise.

[2021-04-09 20:03] G2G2G2G commented on #1245
@ReneWerner87 With that answer and just FYI to anyone who is curious. I've been doing this in production on fiber for several months and works fine. Almost all of them have websocket instances going as well... For multiple domains and subdomains that need to access the same backend without allowing CORS or anything.

[code]

all listen on different ports, nginx is in front of them reverse proxing

[2021-04-10 05:11] helloshaohua opened #1273 "🚀 When to add Swagger?"

[2021-04-10 08:03] koddr commented on #1273
Hi,

Fiber has its own Swagger middleware: [arsmn/fiber-swagger](https://github.com/arsmn/fiber-swagger).

Also, if you want to see Swagger in action, [this tutorial](https://dev.to/koddr/build-a-restful-api-on-go-fiber-postgresql-jwt-and-swagger-docs-in-isolated-docker-containers-475j) can help you.

[2021-04-10 10:24] helloshaohua opened #1274 "🚀 How to configure display Handlers list detail"
Fiber:

[code]

How to configure it like GIN

[code]

[2021-04-10 10:29] helloshaohua opened #1275 "🐛 There was a problem with the program startup log while auto-compiling with Fresh"
Log shows gibberish：

[code]

[2021-04-10 10:44] ReneWerner87 commented on #1274
hi, check out the logging middleware
https://github.com/gofiber/fiber/tree/master/middleware/logger, you can build a similar middleware and output any content you want

[2021-04-10 10:45] ReneWerner87 commented on #1275
unfortunately i can't help you there, the normal output works, what fresh does in the background i unfortunately don't know

you are welcome to issue a report to fresh that the use of fiber is not quite clean

[2021-04-10 10:45] #1275 closed

[2021-04-10 10:46] #1273 closed

[2021-04-10 10:46] #1274 closed

[2021-04-10 11:11] yekurtal opened #1276 "🚀 Mounted app views"
**Is your feature request related to a problem?**
Yes, when mounting an app with views the views are not rendered. See #996.

**Describe the solution you'd like**
Mounted app routes use the mounted app views.

**Describe alternatives you've considered**
Setting views in main app.

**Additional context**
None?

[2021-04-10 11:23] ReneWerner87 commented on #1276
Can you provide a reproducible example, that would speed up troubleshooting tremendously

[2021-04-11 14:56] ReneWerner87 commented on #1237
@GarryGaller
have added an example for you

could also not see any errors in the use of the csrf middleware
https://github.com/gofiber/recipes/pull/111

[2021-04-11 14:56] #1237 closed

[2021-04-11 15:47] puuuuh commented on #1258
Thats because you try to store some blob data in TEXT column. Use BLOB column type and remove cast to string in
https://github.com/gofiber/storage/blob/main/postgres/postgres.go

[2021-04-11 16:24] ReneWerner87 commented on #1258
oh, you are right

https://stackoverflow.com/questions/1942586/comparison-of-database-column-types-in-mysql-postgresql-and-sqlite-cross-map

https://stackoverflow.com/questions/53251572/golang-postgres-storing-gob-data

hmm, we should use a blob type in our storages
[code]
since we take bytes everywhere and don't know exactly if that includes utf8 we should try to use a binary/blob/byte type every

[2021-04-11 16:30] hi019 commented on #1258
Nice find @puuuuh . I'll make a PR.

[2021-04-11 19:03] ReneWerner87 commented on #1262
fixed with https://github.com/gofiber/fiber/pull/1280/files

[2021-04-11 21:12] ptflp commented on #248
im using like this, from @Fenny
[code]

[2021-04-12 06:58] ReneWerner87 commented on #1276
@yekurtal

[2021-04-12 08:45] yekurtal commented on #1276
Github didn't notify me about your first request, sorry about that.

Here is a simple mounted app with embedded template:

`/web/template/hello_world.gohtml`
`<h1>Hello {{ .Name }}!</h1>`

`/main.go`
`
//go:embed web/template/*
var template embed.FS

func main() {
	sub := fiber.New(fiber.Config{
		Views: html.NewFileSystem(tool.SubAndWrapFS(template, "web/template"), ".gohtml"),
	})

	sub.Get("/:n

[2021-04-12 19:19] nicolasvac opened #1281 "Is there a reason why colors are disabled outside the default config ? 🤗"
**Question description**

Hi everyone. As the question says, "enableColors" is actually private.
By adding the colors such as ${red}, they dont get displayed correctly.

I'm using pwsl.exe 7.1 inside GoLand, which i'm sure supports colors because by using the default config, colors do work fine.

Is there a reason of why we can't use colors outside of default config ?
Thanks.

**Code snippet** _Op

[2021-04-12 19:45] #1262 closed

[2021-04-13 07:55] abhicoder29 opened #1283 "How to get Request body in Fiber framework🤗"
How to get Request body in Fiber framework
I am tying to write me backend code using go fabric however I have basic question how to get Request body so I can do some backend logic using request body.
**my Controller  code **

[code]

[2021-04-13 08:02] ReneWerner87 commented on #1283
Hi, exactly as your code describes it works, the important thing is that you have the annotations attached to your struct, which can then be used by the gorilla schema parser to write the values of the body into the properties of the structs.
f.e.:
![image](https://user-images.githubusercontent.com/7063188/114518106-4d60e300-9c3f-11eb-97ec-8ba982df069f.png)

there are of course also other possibil

[2021-04-13 08:21] abhicoder29 commented on #1283
Hi @ReneWerner87 I have tried as mention in [bodyparser ](https://docs.gofiber.io/api/ctx#body), however when I am running I am getting nothing. please check screen shot

[2021-04-13 08:27] ReneWerner87 commented on #1283
and the content type is important, which one is it ?

[2021-04-13 08:36] christianmellor commented on #1283
Does it matter that they are passing in a pointer to a pointer?

[code]

https://stackoverflow.com/questions/67070583/how-to-get-request-body-in-go-fiber-framework?noredirect=1#comment118553598_67070583

[2021-04-13 08:40] abhicoder29 commented on #1283
Hi @ReneWerner87 and @christianmellor thanks both of you  its help me to find issue as @ReneWerner87 mentioned worked for me

[2021-04-13 08:40] #1283 closed

[2021-04-13 08:45] ReneWerner87 commented on #1283
@abhicoder29 could you add this article or the solution to the stackoverflow article think this would help the other users

[2021-04-13 09:11] abhicoder29 commented on #1283
added

[2021-04-14 07:07] ReneWerner87 commented on #1230
@goldalworming have a look at the code and i would try the code snippet

[code]

if your question is answered, please give feedback and close the issue if it is sufficient

[2021-04-14 07:09] ReneWerner87 commented on #1136
suspect @xenowits had no idea, so he did not continue working

@gofiber/contributors if someone has time and an idea how to solve this, we are always happy about pull requests

[2021-04-14 07:10] ReneWerner87 commented on #1276
okay we will check this

[2021-04-17 02:02] fernandobandeira opened #1284 "🚀 ETag Middleware"
**Is your feature request related to a problem?**
Currently, there's no way to set a custom Etag header on a response, the middleware just ignores it and overrides with it's own hash.

**Why is this even a problem?**
Etags can be used for more things than just saving response bandwidth to your CDN, for example,

Assuming that you have an endpoint that returns a list of products ordered by the crea

[2021-04-17 04:30] si3nloong commented on #1136
@ReneWerner87 i can handle this

[2021-04-17 04:32] si3nloong commented on #1084
Hi @sandro , is this issue still exists in the latest version?

[2021-04-17 05:21] ReneWerner87 commented on #1136
Yes sure

[2021-04-17 10:07] si3nloong commented on #1084
If you use [echo](https://echo.labstack.com/), you will realise they overwrite the default value if query or param consists the empty value, i think we should enable `ZeroEmpty(true)` by default for decoder

Here is my pr, #1285

[2021-04-17 16:16] goldalworming commented on #1230
ok thank you. I'll try it

[2021-04-17 16:24] goldalworming commented on #1230
I've try it @ReneWerner87 and it's still doesn't work

[2021-04-18 01:53] kiyonlin commented on #1284
Sounds interesting. I'm looking forward to your PR 😃

[2021-04-18 07:25] BlackGopher2030 opened #1286 "🤗 How to redirect from http to https when a user visits the site ?"
Hi, in my web app, is want the user to be redirected automatically from http to https when he visits the site.

I have a lets encrypt certificate stored in the server and when i start listening i do this:

[code]

This works good, but i have to type `https://<my site domain>.com` whenever i visit the site. If i enter `<my site domain>.com` only it does not work and the server cannot be found.

Any

[2021-04-18 07:54] BlackGopher2030 opened #1287 "🤗 Path problem in web app"
HI, when i try to serve assets (css, js, images etc) by doing this in the routes `app.Static("/", "./assets")` it works fine in the local environment cuz i specify the module in go.mod file, like this `module app`.

However when i compile the app to binary and push it to production server i have to specify the full absolute path for every folder i want to include. for example:

`app.Static("/", "/

[2021-04-18 09:08] tianjipeng commented on #1287
@BlackGopher2030 Could you provide  mininal reproducible code or step? I use code like this and  move binary and assets directory  to other place, and it works fine.
[code]

[2021-04-18 09:18] BlackGopher2030 commented on #1287
Notice that the production server has linux OS, Yes to works fine when you try to execute the binary from the app folder like this `./main` but in production server when i have to setup a systemd file like this:

[code]

and i place it in `/etc/systemd/system/<app name>.service`

so that if the server reboots the process starts automatically.

Then you can check the service status using `systemctl

[2021-04-18 09:37] tianjipeng commented on #1286
Maybe you can try two app:
[code]

[2021-04-18 12:42] si3nloong commented on #1267
@wambugucoder i don't see any issue, this is the expected behaviour

[2021-04-18 12:42] BlackGopher2030 commented on #1286
Yea that worked fine, thank you

[2021-04-18 14:09] tianjipeng commented on #1287
Maybe you can add flag to specify assets directory:
[code]
Then your program can run as :
[code]

[2021-04-18 14:40] BlackGopher2030 commented on #1287
what is did is specifying the absolute path string in a config package  and then using it throughout the entire app, i think this is more clear.

[2021-04-19 02:31] t0jc opened #1289 "🐛 JSON Marshal different of golang encoding/json"
Fiber version:
:x: = different,  :white_check_mark: = same
v2.7.1 :x:
v2.5.0 :white_check_mark:
v2.3.3 :x:
Issue description: JSON Marshal different of golang encoding/json

Code snippet

[code]

[2021-04-19 06:16] ReneWerner87 commented on #1287
do you need more information ? otherwise you can close the issue

[2021-04-19 06:16] #1286 closed

[2021-04-19 06:38] #1287 closed

[2021-04-19 15:17] #1267 closed

[2021-04-19 16:16] jney opened #1291 "🐛 WriteBufferSize doesn't look to be read from config"
**Fiber version**

v2.7.1

**Issue description**

`DefaultWriteBufferSize` looks to be used instead of `WriteBufferSize` defined in `fiber.New(fiber.Config{})`

**Code snippet**

[code]

[code]

[2021-04-19 17:52] Stitch-Zhang commented on #1289
I assume it may be cause by #1211 Actually I tried to cancel this change in local with version(2.7.1) and then it works

[2021-04-20 08:25] jney commented on #1291
actually was an issue related to proxy middleware. I did a PR to handle this #1292

[2021-04-20 10:58] ReneWerner87 commented on #1291
have noticed the customization for the proxy middelware, is the issue here related to the fiber app or the proxy middelware ?

otherwise you could change the headline and close the ticket since you fixed it yourself

PR will be included in the next version

[2021-04-20 11:16] jney commented on #1291
It was a proxy issue. I close this issue

[2021-04-20 11:16] #1291 closed

[2021-04-20 16:12] bpatyi opened #1293 "🚀 logger middleware with structured logger"
new possibility to set structured logger to the middleware like in chi: https://github.com/go-chi/chi/blob/master/middleware/logger.go
example how to set custom structured logger: https://github.com/go-chi/chi/blob/master/_examples/logging/main.go

with this feature we can use logrus or zap for the request logging which can be awesome

[2021-04-20 22:05] sandro commented on #1084
@si3nloong Thanks for the update. I haven't checked against the latest version, but I agree that setting ZeroEmpty to true by default makes sense. Unfortunately, that could break apps that depend on it being false. Is there any way to make ZeroEmpty configurable?

[2021-04-21 03:24] si3nloong commented on #1084
yes, it is, but I think the break will be minor. Since other famous frameworks also practicing the same way, we should also follow the same practice, to enable the user migrate their app from echo to fiber / fiber to echo seamlessly.

[2021-04-21 12:24] hofarah opened #1294 "🐛 date race when use goroutine"
**Fiber version**
v2.1.4

**Code snippet**

[code]
Hi,
**This happens when the number of requests is high**

I didn't set any config and create 5 different handler.
I found out that when i send variable to go function as argument (in handler),when variable is going to use in goroutine , part of the content of the variable changes (not always).

for example if ip was "1.2.3.4" then ip in goroutine

[2021-04-21 12:39] ReneWerner87 commented on #1294
fiber is based on fasthttp and uses the mechanisms of zero memory allocation, i.e. objects are used that come from a pool and after the process they are packed back into the pool for reuse

your go routine breaks out of the process and in this it is not clear if the context is used for another process or not, so it comes to unexpected changes of the value or race conditions

you should make a copy

[2021-04-21 12:42] ReneWerner87 commented on #1294
normally strings are immutable, but we use a trick here, so that the strings are also concatenated

you can turn this off in the configuration for the whole app if you want, but this will cause the app to slow down

would suggest you just copy the ip with the function provided in the utils and then put this copy into the go routine

[2021-04-21 20:35] moneszarrugh opened #1295 "🚀 Adding MIME types for Static Files (Downloading APK on Android issue)"
My feature request is regarding serving static files.

https://docs.gofiber.io/#static-files

There is an issue when I'm serving `.apk` files and downloading them from Chrome mobile browser on Android. They download as `.apk.zip` and not just `.apk`.

Apparently, the issue is related to MIME types. Refer to https://serverfault.com/questions/501562/configure-iis-7-0-to-download-apk/501564

If you a

[2021-04-22 06:15] ReneWerner87 commented on #1294
@hofarah

[2021-04-22 06:19] ReneWerner87 commented on #1295
thank you for the report

we allow another way, you can use a middleware after the static route to set this mimi type

since we use fasthttp internally, the bug should be there, can you open a bug there too ?

[2021-04-22 07:31] mininoz commented on #1223
I got the same problem. Any solution or workaround?

[2021-04-22 08:20] ReneWerner87 commented on #1223
not yet, unfortunately had not yet time to take on this problem

[2021-04-22 08:24] hofarah commented on #1294
Thank you for your answer

[2021-04-22 08:24] #1294 closed

[2021-04-22 12:19] hofarah commented on #1294
i used   ```var ip = string(ctx.Request().Header.Peek("real-ip"))```
and work successfully .
because string() copy new string and we have no reference to ctx.

[2021-04-22 18:01] AngelCareaga opened #1296 "How to get req * http.Request, for use with appengine"
**I'm trying to upload an image, but I can't get the * http.Request to pass it to the appengine and create a Writter.

Any alternative or solution to this?**

**Code snippet**

[code]

[code]

[2021-04-22 18:33] encryptblockr opened #1297 "Where is Automatic OpenAPI docs page like fastapi for python🚀"
Is there or will there be an automatic openapi generation like fastapi for python?
if not then WHY?!?

[2021-04-22 19:56] hi019 commented on #1297
There are currently no official middlewares for Swagger. See https://github.com/gofiber/fiber/issues/276

[2021-04-22 20:01] hi019 commented on #1296
Check out https://github.com/gofiber/adaptor to convert to net/http. Personally I don't recommend it for production and it comes with performance penalty.

What about putting the program in a Docker container and then deploying that with App Engine? [This](https://cloud.google.com/appengine/docs/flexible/custom-runtimes/quickstart) may help

[2021-04-23 02:23] sujit-baniya opened #1298 "🚀 Allow custom expiry per session"
**Describe the solution you'd like**
Currently we can only define default Expiry for session. This applies for all session. I would like to be able to define Expiry at the time of login based on different parameters. Also it would be great to have following features if possible:

1) constantly update the expiration when user uses the session. Currently the session expires even though session is ac

[2021-04-23 02:53] #1284 closed

[2021-04-23 03:29] hi019 commented on #1298
For #1 we should have something like `session.SetExpiry`. For #2, that is related to https://github.com/gofiber/fiber/issues/1272

[2021-04-23 03:43] moneszarrugh commented on #1295
https://github.com/valyala/fasthttp/issues/1011

[2021-04-23 03:45] moneszarrugh commented on #1295
I would appreciate it if you could provide an example code snippit.

[2021-04-23 04:47] #1160 closed

[2021-04-23 22:51] #1297 closed

[2021-04-25 08:03] ReneWerner87 commented on #1295
@moneszarrugh
[code]
![image](https://user-images.githubusercontent.com/7063188/115985695-4d50d380-a5ad-11eb-9215-c48be65d14e4.png)
![image](https://user-images.githubusercontent.com/7063188/115985707-5641a500-a5ad-11eb-9f50-018d5220730f.png)
![image](https://user-images.githubusercontent.com/7063188/115985720-65c0ee00-a5ad-11eb-9d92-fa6e52636142.png)

is this example enough for you ? otherwise yo

[2021-04-25 11:47] 4n70w4 opened #1300 "🚀 Trusted Reverse Proxy and get c.Hostname() value from X-Forwarded-Host and etc"
**Is your feature request related to a problem?**

Hi!

I tried to find something similar for gofiber on github and google, but the search did not return any results.

I use reverse proxies like nginx and Traefik. It's uses headers `X-Forwarded-Host`, `X-Forwarded-Proto` and `X-Forwarded-For` for pass hostname, protocol and real client ip of original request.

And Trusted Proxies whitelist for des

[2021-04-25 12:56] chenkaiC4 commented on #1289
@Stitch-Zhang hi, you can set `app.config.JSONEncoder` to what you want to ignore the default. thus not need to broken the main source code and watting this bug fix.

https://github.com/gofiber/fiber/blob/a95e371920a9711155e804808e53dbe3a9fdee9f/app.go#L402

[2021-04-25 14:11] moneszarrugh commented on #1295
@ReneWerner87

This example is excellent, thank you very much.

[2021-04-25 14:11] #1295 closed

[2021-04-25 23:22] hi019 commented on #1289
We don't use encoding/json anymore as you can see in #1211. We now use https://github.com/segmenti/encoding so I'm thinking this is an issue with that package. We'll need to run your test with their encoder to narrow down the problem.

For now you can use @chenkaiC4's solution which sets the internal JSON encoder to the standard Golang one.

[2021-04-25 23:22] #1296 closed

[2021-04-26 02:41] deranjer commented on #1297
As far as I know, there also aren't any THIRD party middlewares for openapi, all the ones I've seen are for swagger 2.0.

[2021-04-26 07:20] t0jc commented on #1289
I test this package is same,
so I change the JSONEncoder :)

[code]

[2021-04-27 00:55] gzuidhof commented on #1276
I'd like to add that I ran into the same issue/shortcoming. It seems that after an app is mounted the main app's config.Views is used.

Peeking into `app.Mount`'s implementation it looks like only the routes get copied over, does this mean that the config of the mounted app gets ignored in general? Note I may be misunderstanding!

[2021-04-27 01:42] gzuidhof commented on #1276
This may be useful for you as well @yekurtal, I pulled the code from `ctx.Render` into its own small renderer:
[code]

For my own usecase I need the template engine to be separate for mounted apps (i.e. them sharing the same globals would be problematic), this does the trick for now :)

[2021-04-27 13:56] Stitch-Zhang commented on #1289
ok,that's greate👍

[2021-04-29 02:18] kiyonlin commented on #1293
Maybe have a look [here](https://github.com/gofiber/fiber/issues/683#issuecomment-665446450)

[2021-04-29 05:33] adnan-kamili opened #1303 "Starting the server in a go routine"
I want to run the server as a service on Windows, Linux and macOS. For that I am using the services package:

https://pkg.go.dev/github.com/kardianos/service

It requires me to start the server in a go routine.

**Code snippet**

[code]

Now the above function is usually called from the main function, but when running as an OS service it has to be called as a go routine:

[code]
Now this works, bu

[2021-04-29 08:06] jackk01 opened #1305 "🤗 How can i abort my request in same middleare?"
**Question description**
I has customed a middleare use JWT, I want to abort current request when JWT not pass.
Like Gin's `c.Abort()`

**Code snippet** _Optional_

[code]

[2021-04-29 08:49] jackk01 commented on #1305
i got it

[2021-04-29 08:49] #1305 closed

[2021-04-29 10:25] bpatyi commented on #1293
Thanks for the link @kiyonlin, but i think the structured logger is more complex like a simple json output. (more outputs, hooks, extra fields, log level, etc.) [zap](https://github.com/uber-go/zap) or [logrus](https://github.com/Sirupsen/logrus) are good examples.

With this feature request my aim is to be able to use one structured logger in the project, what we define at the begining of the run

[2021-04-29 12:50] kiyonlin commented on #1293
Fiber logger is mainly based on template, not interface. It's just a simple build-in/out of box logger middleware/plugin as `nginx` logger does.

If our logger doesn't meet your needs, I think the best way is that you can make your own logger middleware because it's not hard. And the chi example almost rewrite everything.

Thank you for your suggestions anyway. But we may take this in consideratio

[2021-04-30 05:29] fsanano opened #1306 "🚀 Default value from QueryParser"
Does it possible to use the `default` tag in the struct to pass default value of query parameter?

[code]

[2021-05-01 04:48] whoiscarlo opened #1307 "VS Code show error warning when using the "Ctx.Status" example from docs🐛"
**Fiber version**
Go 1.16
Fiber v2.8.0

**Issue description**
VS Code gives the error when using the example from the docs:
`cannot use "Bad Request" (untyped string constant) as []byte value in argument to c.Status(400).SendcompilerIncompatibleAssign
`

**Code snippet**
[code]

**Repro**
[code]

[Link to Documentation](https://docs.gofiber.io/api/ctx#status)

[2021-05-01 07:45] ReneWerner87 commented on #1307
fixed with
https://github.com/gofiber/docs/pull/169

[2021-05-01 07:45] #1307 closed

[2021-05-01 13:52] doingodswork opened #1308 "🚀 Add option for filesystem prefix addition (for Go 1.16 embed)"
**Is your feature request related to a problem?**

Yes. Assume we have the following directory layout:

[code]

Using the filesystem middleware like this:

[code]

We can visit the website on <http://localhost:3000/foo> and the index.html is shown.

Note that it should not be required for the directory name and the URL path to match (like here we use `web` vs `foo`).

Now we want to use the new Go

[2021-05-02 15:41] pagongamedev opened #1309 "🐛 When Call API Least 1 Time . App Shutdown() not Working"
**Fiber version**
v2 2.8.0

**Issue description**
When Call API Least 1 Time . App Shutdown() not Working

when i use goroutine for run app.Listen(":3000")
and call http://localhost:3000/health
when i ctrl+c for cancel in vs code
it not response

(i check because in gofiber server.go has for loop "open := atomic.LoadInt32(&s.open); open == 0" open is not 0)

but if i call http://localhost:3000/hea

[2021-05-03 07:37] hofarah opened #1311 "routing method not allow"
**Fiber version**
v2.1.4
**Issue description**

Hi,
I want to handle this routes
GET /config/get
POST /config/set
GET /
GET /t/i
GET /t/c
when i use following code in my local host its work successfully(for calling /config/set with POST method) but when it goes on server ,when i call /config/set with post method it don't work (Method not allow!!)

[code]
[code]
[code]

[2021-05-03 09:26] #1311 closed

[2021-05-03 09:27] hofarah commented on #1311
problem was from nginx layer

[2021-05-03 13:07] e1engineer opened #1312 "Fiber sessions not working"
Go fiber session variables are returning nil

Can you find flaws in the code, or is this a problem with Fiber (v2.8.0)?

[code]

[2021-05-03 16:28] hi019 commented on #1312
Are you sure the if statement is executing? We'll need a reproducible example to help you further

[2021-05-03 16:45] e1engineer commented on #1312
Thanks.

Just tested for the if statement again, and it is true.

16:39:23 | 200 |   181ms |  xx.xx.xx.xx | POST    | /xxx/login
2021/05/03 16:39:31 <nil>
16:39:31 | 200 |   144ms |  xx.xx.xx.xx | GET     | /session/xxx

I also just tried getting the session right after it was set within the app.Post("/xxx/login", function, and it's returning nil as well.

I'll test it on a bare fiber installation

[2021-05-03 16:55] e1engineer commented on #1312
Working on a bare fiber installation...

Testing a few other things.

[2021-05-03 17:17] e1engineer commented on #1312
The following code does not work on a bare fiber installation:

`package main

import(
        "log"
        "fmt"

        "github.com/gofiber/fiber/v2"
        "github.com/gofiber/fiber/v2/middleware/session"
)

func main() {

        app := fiber.New()
store := session.New()

        app.Get("/", func(c *fiber.Ctx) error {

    // get session from storage
    sess, err := store.Get(c)
    if er

[2021-05-03 17:33] e1engineer commented on #1312
OK.

Sessions are working in Postman, but not in Vivaldi or Safari.

Trying to figure this out.

[2021-05-03 17:49] e1engineer commented on #1312
Here's an example:

[code]

[2021-05-03 17:59] hi019 commented on #1312
Are you restarting the app between requests? By default the sessions are stored in memory

[2021-05-03 17:59] e1engineer commented on #1312
We have a SPA running on domain.com (no port), posting via javascript to domain.com:8081, then we're retrieving the session from domain.com:8081/session/test -- but it's coming up nil in browsers, not in Postman.

This is possibly the issue, but I'm investigating further.

[2021-05-03 18:26] e1engineer commented on #1312
That was the issue.

Serving the SPA as static files within golang rectifies the issue. I'm not sure if there's anything you can do in fiber for those who are serving up their API and frontend on different ports, but serving static files through golang is a solution that works for us.

[2021-05-03 19:07] hi019 commented on #1312
It probably has to do with cookies and how browsers handle them. What about tweaking the `CookieSameSite` attribute? By default it is set to Lax https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie/SameSite#lax

In the SPA, is the session cookie being sent to `domain.com:8081`?

[2021-05-03 20:05] e1engineer commented on #1312
I'll give it a try.

What's the performance of app.Static for serving static files compared to, say, nginx?

[2021-05-03 20:13] hi019 commented on #1312
We have done some informal benchmarks in the Discord that found app.Static is faster than HTTP. Nothing official has been done though.

[2021-05-03 23:30] diegocsandrim opened #1313 "🐛 Data race when running tests in parallel"
**Fiber version**
v2.8.0

**Issue description**

I got a data race from fiber app when I was trying to make my tests run in parallel. This only happens if the app is configured to use `Immutable: true`.

It looks like the problem happens here:

https://github.com/gofiber/fiber/blob/a48cb806f39f4717cb1326eee7f9fee96f68e2d5/app.go#L395-L397

`getBytes` and `getString` are package level function vari

[2021-05-04 00:13] #1312 closed

[2021-05-04 00:15] hi019 commented on #1306
No, this is not built in to Fiber. Try this https://github.com/mcuadros/go-defaults

[2021-05-04 00:15] #1306 closed

[2021-05-04 05:11] sujit-baniya commented on #1231
@jjude Maybe you are looking for this Flash Message implementation on the top of Fiber https://github.com/sujit-baniya/flash

[2021-05-05 17:22] imsk17 opened #1315 "🚀 middleware: monitor: use websockets connection instead."
**Is your feature request related to a problem?**
No
**Describe the solution you'd like**
I would prefer if the monitor middleware used the WebSockets instead of multiple get requests.
**Describe alternatives you've considered**
None
**Additional context**
N/A
### I am ready to work on this issue and make relevant commits.

[2021-05-05 23:00] Bader5110 opened #1317 "🐛"
**Fiber version**

**Issue description**

**Code snippet**

[code]

[2021-05-05 23:08] Bader5110 commented on #1317
F

[2021-05-05 23:08] Bader5110 commented on #1317
B

[2021-05-06 00:41] #1317 closed

[2021-05-06 01:17] #1258 closed

[2021-05-06 06:43] imsk17 commented on #1315
I believe we will need the https://github.com/gofiber/websocket package imported and we will need to setup two routes. One for the WebSocket, and the other to GET the HTML.

[2021-05-06 10:36] raifpy opened #1319 "🤗 when prefork is active, Is there any way I can use sync.Once?"
**Question description**
I want use some funciton onces when childs on. (like sync.Once{})
**Code snippet**
[code]

**Output**
-Bot working
-PANIC:  make sure that only one bot instance is running

[2021-05-07 00:26] kiyonlin commented on #1319
Please try this
[code]

[2021-05-07 00:27] #1313 closed

[2021-05-07 00:41] kiyonlin commented on #1309
Could you try to move this
[code]
after routes registrying?

[2021-05-07 00:45] kiyonlin commented on #1303
I think your approach is fine.

[2021-05-07 06:52] yecanlin opened #1322 "request body parse Bug: when the content contain &nbsp;🐛"
**Fiber version**
 v2.8.0

**Issue description**
 Can't parse something that contain &nbsp;

**Code snippet**

[code]
**the code output show**
[code]

[2021-05-07 07:01] yecanlin commented on #1322
This is my mistake. I need use formdata to send this content.

[2021-05-07 07:01] #1322 closed

[2021-05-07 07:01] yecanlin commented on #1322
This is my mistake. I need use formdata to send this content.

[2021-05-08 06:38] kiyonlin commented on #1309
Okay, then see [here](https://github.com/gofiber/fiber/issues/1146#issuecomment-771318720).

[2021-05-08 14:56] TudorHulban opened #1324 "Serve cached HTML"
**Question description**
For serving cached HTML with standard library I do as below:
[code]

Please advise what would be the equivalent with Fiber. Sorry if I missed the answer in the documentation.
Thank you!

[2021-05-08 16:59] TudorHulban commented on #1324
I guess is something like below:
[code]

[2021-05-08 17:32] dangolbeeker opened #1325 "🤗 CreateFile main.go: The system cannot find the file specified. Static file"
CreateFile main.go: The system cannot find the file specified.  Error created a public folder with a index.html

 My code is as follows
[code]

[2021-05-09 01:40] kiyonlin commented on #1225
Keepalive is for resource reuse, especially browsers, without establishing a tcp connection every time.

[2021-05-09 13:19] codemicro commented on #1324
You can do this (HTTP 200 is set automatically):

[code]
:)

[2021-05-10 08:59] pnunn opened #1327 "mtls, socket hang up.🤗"
**Question description**
I'm trying to get an api server working with mtls. I seem to have it working OK with one way tls (on the server) and it seems to work if I set the ClientAuth to tls.RequireAnyClientCert, but when I set it as shown in the snippet, all I get back is socket hang up (and it returns really quickly).

What should I get back with a certificate that isn't from the same CA as the s

[2021-05-10 10:23] juan-chan opened #1329 "🐛 I couldn't get header correctly which has multi values"
**Fiber version**

`v2.7.1`

**Issue description**

I send a HTTP Get request to my fiber server, it has many `Accept` headers, like this:

![image](https://user-images.githubusercontent.com/49066821/117641226-7e89f000-b1b8-11eb-8416-4b7571f69155.png)

but when I try to do `ctx.Get("Accept")`, I just get the first value.  `application/vnd.oci.image.manifest.v1+json`, others are gone..

Later, I ca

[2021-05-10 12:51] #1303 closed

[2021-05-10 13:47] kiyonlin commented on #1329
For now, you can implement this with `VisitAll`
[code]

[2021-05-10 13:52] ReneWerner87 commented on #1325
could not reproduce it (@dangolbeeker)

[code]
![image](https://user-images.githubusercontent.com/7063188/117669716-7f665600-b1a7-11eb-80c9-1815d07ba8c5.png)

![image](https://user-images.githubusercontent.com/7063188/117669666-737a9400-b1a7-11eb-93df-41e8c3685c24.png)

please give me more information, about the stucture of the project, error message and please test the standalone script on your m

[2021-05-10 18:41] #1309 closed

[2021-05-10 18:53] dangolbeeker commented on #1325
From the quickstart documentation your code works  but looks completely different.
`package main

import "github.com/gofiber/fiber/v2"

func main() {
    app := fiber.New()

    app.Get("/", func(c *fiber.Ctx) error {
        return c.SendString("Hello, World 👋!")
    })

    app.Listen(":3000")
}`

[2021-05-10 20:05] ReneWerner87 commented on #1325
In my example I only created the folder and the index.html dynamically, otherwise it does not differ from your example at the beginning.

However the last code snippet of yours is completely different, there you don't use the static method and use directly a GET resource, this confuses me a bit

How do we want to remain now? I can't see any error with the static method?

[2021-05-10 20:13] ReneWerner87 commented on #1329
https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2

Is this allowed, thought you should take the same key for multiple values and display the values in a comma separated list.

[2021-05-10 21:04] dangolbeeker commented on #1325
Ok I understand now. The Quick start example may not seem clear to those with no or little go experience
![image](https://user-images.githubusercontent.com/49079747/117724339-9c078b80-b1b1-11eb-8c8b-d5b165b87c6a.png)

[2021-05-11 00:27] hi019 commented on #1325
The quick start code is only supposed to serve a simple GET request, not serve files if that's what you mean.

[2021-05-11 00:27] #1325 closed

[2021-05-11 01:22] juan-chan commented on #1329
@kiyonlin  Thanks, I'll try to implement it by myself ♥️

[2021-05-11 02:28] juan-chan commented on #1329
I fixed this by modify just one line here:

https://github.com/valyala/fasthttp/blob/master/fasthttpadaptor/adaptor.go#L71

I changed `hdr.Set(sk, sv)` to `hdr.Add(sk, sv)`.

Then I re-implement the function https://github.com/gofiber/adaptor/blob/master/main.go#L26 to use my `NewFastHTTPHandler(h)` above. Now I could get HTTP Header `Accept` in the proxy server correctly:

![image](https://user-i

[2021-05-11 02:33] kiyonlin commented on #1329
Nice catch! Maybe you can make a PR 😄

[2021-05-11 09:11] ReneWerner87 commented on #1329
you don't need to use the ctx.get method either, for this case of the list being comma separated, we have already provided an optimized method

https://docs.gofiber.io/api/ctx#accepts

[2021-05-11 09:22] juan-chan commented on #1329
Woww this is great! Awesome *fiber* ! This is very useful, thanks!

[2021-05-11 09:23] ReneWerner87 commented on #1329
Well, I think your pull request in the adapter should fix it then, so that everything works in fiber

[2021-05-11 09:32] juan-chan commented on #1329
@ReneWerner87 Thanks for your patience, you can close this issue at any time now. 🎉

[2021-05-12 06:58] #1308 closed

[2021-05-13 12:07] kotlin2018 opened #1331 "🚀 Does fiber have plan to support annotation routing, such as beego does."
**Is your feature request related to a problem?**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-05-13 12:22] kiyonlin commented on #1331
We have no such plan for annotation routing so far.

[2021-05-13 15:24] kotlin2018 commented on #1331
为什么不支持哦?注解路由结合swagger是一个很棒的功能哦

[2021-05-13 15:29] kiyonlin commented on #1331
So do you have any ideas how to implement this feature?

Btw, could you please use English so that more people can participate in this issue?

[2021-05-14 00:05] kotlin2018 commented on #1331
Thank you for answering me。
sorry my english is too poor。

[2021-05-14 14:16] HeCorr opened #1332 "🐛 Logger middleware: duplicate log when serving static files"
**Fiber version**
`2.9.0`

**Issue description**
When setting up the Logger middleware right below a static route, subsequent requests are logged twice (although not identical)

Some context: I wanted to serve `robots.txt` statically, but didn't want it to be logged so I moved the `app.Static()` above `app.Use(logger.New())` and noticed it was showing the same GET request twice, although with diff

[2021-05-14 14:20] HeCorr commented on #1332
For testing purposes, I wrote this middleware that ignores `robots.txt` requests before all the other routes, and indeed the duplicate logs are gone.

[code]

![image](https://user-images.githubusercontent.com/75134774/118283915-3fa0b680-b4a6-11eb-8ad3-83a18b478844.png)

[2021-05-14 19:18] yigitkeremoktay commented on #1332
I am not a developer of fiber but I would say that is expected behavior that static request are logged. I do have a simple suggestion for you though, you can update your middleware to check if the requested page is matching the name of a file in the static dir instead of hard coding robots.txt. That would however not work in situations where a situations where you request a static file that does n

[2021-05-16 04:13] zikes commented on #1036
An alternative solution would be to use a lightweight init process to grab PID 1 before the Fiber app does. I added the following to my `alpine`-based Dockerfile and it resolved the issue for me:

[code]

This can be useful in e.g. a Kubernetes environment where `--pid=host` is unavailable.

More info on the `dumb-init` project can be found here: https://github.com/Yelp/dumb-init

[2021-05-16 18:14] #1199 closed

[2021-05-17 02:01] mirusky opened #1333 "🤗 Session Middleware Retrieve all keys"
**Question description**

There is a way to retrive or know all the keys in session middleware?

**Code snippet** _Optional_

[code]

[2021-05-17 13:43] ReneWerner87 commented on #1333
hi,
you mean from the current session, would actually be possible, however there is currently no function to get the keys

if you need this we can add it for you, i think this should be a functionality that others might be interested in too

if you have time you can also create a pull request yourself, help is always welcome

[2021-05-17 13:54] ReneWerner87 commented on #1332
if you define the logger middleware first, every request will be logged

the order of routes and middlewares is important for fiber, what is defined and matched first is executed first and then it is passed to the next handler with next

if you want to exclude something, feel free to do so in the middleware configuration with the next method, this is to filter the elements that are passed through

[2021-05-17 14:12] Koredeoluwafemi opened #1334 "🤗 Role Based Control Middleware"
**Hi people, I will like to know if there is a role based access control middleware in fiber**

[2021-05-17 14:14] Koredeoluwafemi commented on #1334
I couldnt find any and I am trying to implement one but I am having a hard time getting the route handler in the middleware.

Is there anyway to have access to the route handler in a middleware?

[2021-05-17 14:27] ReneWerner87 commented on #1334
hi, i think there is no such middleware currently available

here is a small code example how you can access the routing information
[code]

![image](https://user-images.githubusercontent.com/7063188/118505148-712ab380-b72c-11eb-9235-2a96499d6c52.png)

feel free to create a pull request for it here
https://github.com/gofiber/contrib

[2021-05-18 04:46] sujit-baniya commented on #1334
@Koredeoluwafemi Maybe this middleware might help you

https://github.com/arsmn/fiber-casbin

[2021-05-18 13:31] zikwall opened #1336 "Unix socket support"
Hi! 🤗 Does fiber support listening via unix sockets?

**Code snippet**

[code]

example proxy nginx

[code]

[2021-05-18 14:07] #1336 closed

[2021-05-19 04:02] mirusky commented on #1333
Alright thanks for feedback, yeah I will try to create a PR... maybe i go in this way:

[code]

What you thing?

[2021-05-19 09:50] liaohongxing opened #1338 "🤗"Static" method file handle takes too long"
**Fiber version**
v2.10.0
**Issue description**
"Static" method file handle takes too long , Cannot be deleted immediately
**Code snippet**

[code]

![D](https://user-images.githubusercontent.com/35255844/118792826-9bb27300-b8ca-11eb-97bb-6b417521e5b6.gif)

[2021-05-19 10:14] Koredeoluwafemi opened #1339 "🤗 gob: type not registered for interface: fiber.Map"
**I am getting this error in my log, gob: type not registered for interface: fiber.Map, what does it mean and how can I resolve it**

[2021-05-19 10:32] ReneWerner87 commented on #1338
fiber uses the feature of fasthttp(https://github.com/valyala/fasthttp/blob/master/fs.go) under the hood and there the workflow has been optimized so that the content delivered as fast as possible, with very many tricks on a very deep level

don't think we could solve that here, besides the browser cache for the display also plays a role

have you ever tried to delete the file using golang or othe

[2021-05-19 10:35] ReneWerner87 commented on #1339
we use gob in the session middleware and probably you use there the fiber.map for a type which you store

in order for gob to encode and decode it properly so that it can be stored in the storage, it needs to know the blueprint of the type

for this there is a method in the session middleware, where you can register the types you use once

https://github.com/gofiber/fiber/tree/master/middleware/se

[2021-05-19 10:36] ReneWerner87 commented on #1339
here an example for this
https://github.com/gofiber/recipes/blob/master/csrf/routes/mainServer.go#L35

[2021-05-19 10:41] ReneWerner87 commented on #1315
yes not a bad idea, but then this would have to happen in a separate repository, as we want to keep the dependencies as low as possible

we have a repository , where you could add such a variant
https://github.com/gofiber/contrib

[2021-05-19 11:32] Koredeoluwafemi commented on #1339
Thanks @ReneWerner87, issue resolved now, will close this issue now but before that can you help look into this session issue

If I get a session key like the example below in my middleware to check user login

    sessionUser := currSession.Get("User").(fiber.Map)
    // release the currSession
    err = currSession.Save()
    if err != nil {
          return err
    }

does it delete it key afte

[2021-05-19 11:36] ReneWerner87 commented on #1339
need more code to be able to answer your question 100%.

after the save it stores the data in the storage and releases the data which has been requested for this process

i.e. the save should happen at the end of the middleware run, but before the Next call if you have one

[2021-05-19 11:36] ReneWerner87 commented on #1339
https://github.com/gofiber/fiber/blob/master/middleware/session/session.go#L159

https://github.com/gofiber/fiber/blob/master/middleware/session/session.go#L46

[2021-05-19 11:46] Koredeoluwafemi commented on #1339
The links gave me a better understanding, thanks a lot, lastly at what point is it advisable to call the regenerate function or what's its real use

        err := session.Regenerate()
	    if err != nil {
		    return err
	    }

[2021-05-19 11:53] liaohongxing commented on #1338
@ReneWerner87
This is just a simple example. My problem is that once the access behavior occurs, the file cannot be deleted, which is very unfavorable for me to write the UI interface.

[2021-05-19 11:56] ReneWerner87 commented on #1339
unfortunately the code is not from me

i guess if you want to renew the cookie for the session and the storage entry, unfortunately i can't think of a usecase right now, maybe have a look at express, i think we have adapted the behavior of express

[2021-05-19 12:04] Koredeoluwafemi commented on #1339
okay, thanks for your time, really appreciated your help.

[2021-05-19 12:04] #1339 closed

[2021-05-19 16:00] Koredeoluwafemi opened #1340 "🤗 CORS: MissingAllowOriginHeader"
**I am using fiber cors middleware, but I am still getting CORS Error: MissingAllowOriginHeader, what am I doing wrong, the app is deployed to heroku**

[code]

[2021-05-19 16:10] hi019 commented on #1340
This works:

[code]

Response headers:

[code]

We will need a reproducible example to help further

[2021-05-19 16:18] #1334 closed

[2021-05-19 18:05] imsk17 commented on #1315
that makes sense. so I will move this to the contrib repo. I believe this issue can be closed now.

[2021-05-19 18:05] #1315 closed

[2021-05-20 06:33] gregf commented on #1340
I'm having the same issue setting AllowOrigins:  "http://localhost:3000" still returns Access-Control-Allow-Origin: * in the headers.

[2021-05-20 07:29] sciefylab opened #1342 "🐛 Not Correct return path"
**Fiber version**
Fiber v2.9.0 , Fiber v2.10.0
**Issue description**
 i cannot return from path /user/index or /user/create, both request towards to /user/:name. see bellow.
**Code snippet**

[code]

[2021-05-20 07:32] ReneWerner87 commented on #1340
@Koredeoluwafemi could you provide a reproducible example ?

[2021-05-20 08:00] ReneWerner87 commented on #1342
@sciefylab
fiber works similar to express when defining routes and there the sequence of the declaration is important

if it is not already in the documentation we will add it soon

i.e. the problem with your declaration is that the route which is very unspecific precedes the route which is specific and would match your request

if a route is matched the handler is executed and if there is no next

[2021-05-20 08:03] ReneWerner87 commented on #1342
http://expressjs.com/en/api.html#express
![image](https://user-images.githubusercontent.com/7063188/118942004-9b5dba80-b952-11eb-868c-8506ca8a093e.png)

[2021-05-20 08:24] sciefylab commented on #1342
Ok, I just realized the sequence in fiber really matters. thanks

[2021-05-20 08:24] #1342 closed

[2021-05-20 13:44] Koredeoluwafemi commented on #1340
[code]

[2021-05-20 14:03] #1293 closed

[2021-05-21 12:09] oroshnivskyy commented on #1300
Hi! May I work on this issue?

[2021-05-21 22:19] FedorLap2006 commented on #1232
Oh, I'm so sorry, forgot about this thing. @ReneWerner87, yeah, I mean exactly this but for Unmarshaling.

[2021-05-21 22:20] FedorLap2006 commented on #1232
Hope this issue will be reopened :disappointed:

[2021-05-22 14:49] hi019 commented on #1110
No

[2021-05-22 14:51] ReneWerner87 commented on #1340
[code]

![image](https://user-images.githubusercontent.com/7063188/119230670-9862f580-bb1d-11eb-9ed9-0265272d7510.png)
![image](https://user-images.githubusercontent.com/7063188/119230677-9e58d680-bb1d-11eb-8e70-2a38dbd883b8.png)

can not recreate this, have built 2 servers with different ports and each established a communication between them

without getting errors

[code]
![image](https://user-

[2021-05-22 17:26] FedorLap2006 commented on #1232
Thanks.

[2021-05-22 19:25] Koredeoluwafemi commented on #1340
Yeah, I just realised its a server issue, heroku. Its not a framework issue.

Thanks.

[2021-05-22 19:25] #1340 closed

[2021-05-22 23:16] falsandtru opened #1345 "🚀 Limiter working with specified methods"
**Is your feature request related to a problem?**

I only want to limit POST requests.

[code]

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

**Additional context**

[2021-05-23 00:25] hi019 commented on #1345
We should instead have a function that receives an instance of fiber context and returns a boolean. If it returns true then the request will be counted towards the limit and if not it won't.

[2021-05-23 01:04] ReneWerner87 commented on #1345
app.Use(limiter.New(limiter.Config{
		Next: func(c *fiber.Ctx) {
return c.Method() !== "POST"
},
		Max:        3,
		Expiration: 60 * time.Second,
	}))

app.Post("/signup", func(c *fiber.Ctx) error {
	})

[2021-05-23 02:56] falsandtru commented on #1345
I adopted the third pattern, thanks!

[2021-05-23 02:56] #1345 closed

[2021-05-23 06:45] #1333 closed

[2021-05-23 07:25] mirusky commented on #1298
Just a question, if we use something like the rate [limiter manager](https://github.com/gofiber/fiber/blob/master/middleware/limiter/manager.go#L11-L25):

[code]

We could include it in [session](https://github.com/gofiber/fiber/blob/master/middleware/session/session.go#L14-L21)?

And then when we call the [save](https://github.com/gofiber/fiber/blob/master/middleware/session/session.go#L152-L155)

[2021-05-23 15:35] Fenny commented on #1338
@liaohongxing did you try to reduce the file handler [cache duration](https://docs.gofiber.io/api/app#static)?
[code]

[2021-05-23 15:42] Fenny commented on #1331
Fiber build around the router specs of Expressjs, we have no plans to change this.

[2021-05-23 15:42] #1331 closed

[2021-05-23 15:45] Fenny commented on #1332
Closing this due to inactivity, I think @ReneWerner87 answer sums it up pretty good 👍

[2021-05-23 15:45] #1332 closed

[2021-05-23 15:48] Fenny commented on #1289
Like @hi019 mentioned in https://github.com/gofiber/fiber/issues/1289#issuecomment-826412802, we are using https://github.com/segmenti/encoding internally as default JSON encoder/decoder. You might want to open an issue on their page regarding the compatibility with the default json package.

[code]
Should solve your problem 👍

[2021-05-23 15:48] #1289 closed

[2021-05-23 15:49] Fenny commented on #1231
This sounds like something that can be developed as a third party library like https://github.com/sujit-baniya/flash. Thanks for the suggestion though!

[2021-05-23 15:49] #1231 closed

[2021-05-23 15:50] Fenny commented on #1281
Did you test this in any other CMD? @nicolasvac

[2021-05-23 15:52] Fenny commented on #1232
@FedorLap2006 I think we are talking about a
[code]
feature for `BodyParser`?

[2021-05-23 15:54] Fenny commented on #1084
https://github.com/gofiber/fiber/pull/1285 merged 👍

[2021-05-23 19:46] HeCorr commented on #1332
Oops.. I forgot to reply.. but I'll give it a shot, thanks @ReneWerner87!

[2021-05-24 00:31] liaohongxing commented on #1338
@Fenny
This option works and temporarily solves the problem

[2021-05-24 00:33] liaohongxing commented on #1338
"os.remove" is already working

[2021-05-24 04:46] #1249 closed

[2021-05-24 08:52] nicolasvac commented on #1281
Hello @Fenny , apparently this works in other terminals like "Windows Terminal".
But for example in powershell, like the example i posted up, it does not.

Is this bug related to fiber, or to go in general ?

[2021-05-25 09:00] Koredeoluwafemi commented on #442
For those who my visit this later as I did today, the Bodylimit has been moved. See the snippet below

[code]

[2021-05-25 16:07] Koredeoluwafemi opened #1346 "🤗 Subdomain Routing"
**Is it possible to load different routes based on the subdomain using fiber**

[2021-05-25 18:35] ReneWerner87 commented on #1346
Please check https://github.com/gofiber/fiber/issues/750

[2021-05-25 21:55] FedorLap2006 commented on #1232
Well, yeah

[2021-05-27 18:12] Koredeoluwafemi commented on #1346
thanks @ReneWerner87

[2021-05-27 18:12] #1346 closed

[2021-05-27 18:16] Koredeoluwafemi opened #1348 "🤗 Previous Url"
**I will like to know if fiber stores the previous url, is it possible to redirect to a previous url, something like this below**

[code]

[2021-05-27 20:01] ReneWerner87 commented on #1348
No, for that you would have to know which request belongs to which user

You could put the information into a storage and map it to a session cookie

However, this is not code that should be provided via the framework, but business logic or customized stuff that comes via third party plug-ins /middlewares

Technically, the framework offers everything to do this

[2021-05-28 09:02] Koredeoluwafemi commented on #1348
Okay, thanks, I will build it as  a middleware.

[2021-05-28 09:02] #1348 closed

[2021-05-29 00:48] #1110 closed

[2021-05-29 06:26] Qolzam opened #1349 "🤗 Adding multiple cookie in a response"
I can not add multiple cookie in a response with fiber `c.Cookie()` as I do with `http.SetCookie()`. It only set the last cookie. I also tried with `c.Context().Response.Header.Add("Set-Cookie", "Value")` but not working. Is there any solution to set multiple cookie in a response?

[2021-05-29 09:33] Qolzam commented on #1349
I found the cause of issue but not from fiber itself. It's coming from fiber adaptor, so I continue tracking issue in https://github.com/gofiber/adaptor/issues/64. Thanks!

[2021-05-29 09:33] #1349 closed

[2021-05-29 10:13] Plorenzo opened #1350 "🐛 Build error when using GORM - ld: framework not found CoreFoundation"
**Fiber version**
v2.10.0

**Issue description**
When adding the [GORM](https://github.com/go-gorm/gorm) dependency to my project that's is using Fiber I get the following error:

[code]

**Code snippet**
After some debugging this is the minimal example I can come up with where still happens:

[code]
if I remove the following to lines, then it compiles fine.
[code]
I also tried the [Quick start](h

[2021-05-29 12:18] Koredeoluwafemi commented on #750
This line throws an error in v2.10
[code]

[code]

[2021-05-29 14:01] hi019 commented on #750
@Koredeoluwafemi Fiber v2's new handler type returns an error. The handler you posted needs to be `func(c *fiber.Ctx) error`

[2021-05-29 14:35] ReneWerner87 commented on #750
[code]

[2021-05-29 15:20] hi019 commented on #1350
Thanks for all the details, but I'm not able to reproduce this on macOS Big Sur. Maybe it is something with the macOS developer toolchain. Try `sudo xcode-select --install`

[2021-05-30 11:34] st3fan opened #1352 "Brotli dependency retracted by author"
I'm not sure how important this is, but pulling in Fiber with `go get` results in a failure on Brotli. It looks like the the 1.0.1 version has been retracted.

[code]

[code]

[2021-05-30 14:26] ReneWerner87 commented on #1352
Thx for the hint, we will check it

[2021-05-30 14:27] hi019 commented on #1352
Will be fixed by #1351

[2021-05-30 14:31] mfleader42 opened #1353 "🤗 app server save a file that is larger than its host’s available memory?"
I need to be able to save a file that is larger than the application server’s available memory.

How should I go about this?

Would you do an http post request to stream a binary file to a server, so that the server can write it to its device? I don’t really know all the differences between http posting a stream and sending the stream over a web socket.

[code]

[2021-05-30 23:46] Fenny opened #1354 "💡 v3 discussion"
<p align="center">
  <a href="https://gofiber.io">
    <img alt="Fiber" height="125" src="https://raw.githubusercontent.com/gofiber/docs/master/static/fiber_v2_logo.svg">
  </a>
</p>

Dear Gophers, we think it's a good idea to start discussions regarding the v3. You are welcome to join us on discord where we created a dedicated channel to pin suggestions for the next update <a href="https://gofibe

[2021-05-31 16:14] Koredeoluwafemi opened #1356 "🤗 How does Fiber accepts Form data arrays"
**How can I accept form data arrays in a form snippet like the one showed below**

[code]

I can't use ``` c.FormValue() ``` as it only returns strings @ReneWerner87

[2021-06-01 06:52] ReneWerner87 commented on #1356
main.go
[code]
views/index.html
[code]

output:
[code]

there are several ways, you can go through the post args and assemble the array on your own

or use the bodyParser -> my favorite

or parse the body string yourself

[2021-06-01 19:03] #1352 closed

[2021-06-02 05:15] akshaybabloo opened #1357 "🐛 Dependency issue"
**Fiber version**

v2.10.0

**Issue description**

On a new `go get` I get following warning:

[code]

[2021-06-02 06:10] ReneWerner87 commented on #1352
please try https://github.com/gofiber/fiber/releases/tag/v2.11.0

[2021-06-02 06:10] ReneWerner87 commented on #1357
please update to https://github.com/gofiber/fiber/releases/tag/v2.11.0

[2021-06-02 06:10] #1357 closed

[2021-06-02 06:11] ReneWerner87 commented on #1356
@Koredeoluwafemi do you have the information you need? then you could close the issue

[2021-06-02 06:12] ReneWerner87 commented on #1338
ok perfect

[2021-06-02 06:12] #1338 closed

[2021-06-02 10:09] lpf763827726 opened #1359 "Can i close the display window in command? 🤗"
When i go run it, it will show me the host and port window.

Can i close it? I am rookie,please help

<img width="615" alt="微信图片_20210602162657" src="https://user-images.githubusercontent.com/43004977/120462563-a3dfd780-c3cd-11eb-8e35-4e5925c9de9d.png">

[2021-06-02 10:41] ReneWerner87 commented on #1359
https://docs.gofiber.io/api/fiber#config

![image](https://user-images.githubusercontent.com/7063188/120466799-c6f39280-c39f-11eb-96b5-3d9329dd297d.png)

yes sure, please read through our documentation

[2021-06-02 10:41] #1359 closed

[2021-06-02 12:34] Koredeoluwafemi commented on #1356
Yes, this resolves it. Thanks @ReneWerner87

[2021-06-02 12:34] #1356 closed

[2021-06-02 15:06] sujit-baniya commented on #1354
Features I'm thinking might go with v3

**FEATURE 1:**
Include some features in gofiber client?
1) Timeout
2) Retry mechanism
3) Throttle

**FEATURE 2:**
I think implementing global template layout also a good idea (including option to add properties to template.
For e.g.
[code]

[2021-06-02 17:13] mirusky commented on #1298
@hi019 or @ReneWerner87  could u assing it to me? Also about the implementation what I said before make sense ?

[2021-06-02 22:52] hi019 commented on #1298
@mirusky Sure. About your earlier comment, looks good but I don't completely understand the second code block. I think the default exp should be from the Config, and it can be overrided per session by doing `session.SetExpiry`

[2021-06-03 02:49] #1350 closed

[2021-06-03 07:50] lpf763827726 commented on #1359
ok, i see it, thank you so much :)

[2021-06-03 09:08] kurefm opened #1360 "🐛 pprof middleware redirect index page to wrong url"
**Fiber version**

v2.11.0

**Issue description**

The pprof middleware **should** redirect `/debug/pprof` to `/debug/pprof/`, but not redirect `/debug/pprof/` to `/debug/pprof`.

Because of pprof index page use relative herf path, `/debug/pprof` make sub page (e.g `/debug/pprof/allocs`) herf link become `/debug/allocs`

[2021-06-03 09:10] ReneWerner87 commented on #1360
https://github.com/gofiber/fiber/pull/1330

[2021-06-03 09:11] ReneWerner87 commented on #1360
@bestgopher you have customized this exact place in the pull request, can you give feedback on this issue

[2021-06-03 13:11] bestgopher commented on #1360
@kurefm Could you fix the bug?

[2021-06-03 13:19] bestgopher commented on #1360
@ReneWerner87 Sorry for this bug caused by me. I think pprof as a middleware is not a good choice, it should be registered in the router. As a middleware, everyone can access this path, and it is difficult for us to authenticate it.

[2021-06-03 13:30] ReneWerner87 commented on #1360
what do you mean that it should be registered in the router and not as middleware ? via middleware a handler is registered and the same possibility exists also only in the router

besides it is better kept as a separate middleware, because it can then be used by anyone who wants or left out.

what do you mean by the last sentence, you can put another middleware in front of the middleware and do an

[2021-06-03 14:02] #1360 closed

[2021-06-03 14:28] bestgopher commented on #1360
How to achieve this：

[code]

[2021-06-03 17:33] AndreasStokholm opened #1362 "🚀 Configure proxy.Balancer with custom timeout or client"
**Is your feature request related to a problem?**

Yes, we need to be able to set a custom timeout on our proxy, since our legacy platform has multiple endpoints that are quite slow, and exceed the 1 second default timeout set in fasthttp's `LBClient`.

**Describe the solution you'd like**

The ability to set a custom fasthttp client for the `proxy.Balancer` config.

**Describe alternatives you've

[2021-06-04 06:37] ReneWerner87 commented on #1362
![image](https://user-images.githubusercontent.com/7063188/120756721-e4e00500-c50f-11eb-918f-78bb2e6d10d2.png)
the lbclient offers the possibility to set a timeout, currently the default timeout is one second

wouldn't it be enough to make this timeout configurable and set it in the lbclient when initializing the middleware ?

![image](https://user-images.githubusercontent.com/7063188/120756742-ef

[2021-06-04 06:41] AndreasStokholm commented on #1362
I was considering this at first too. Maybe it's simpler to just do it like that. I'll let you decide what you prefer.

[2021-06-04 06:42] ReneWerner87 commented on #1362
well then i would do that and quickly create a pull request

then that is also in a few hours through and in the next release

[2021-06-04 08:49] taichi1024 commented on #1354
Hope v3 app.static support embed

[2021-06-04 09:55] ReneWerner87 commented on #1354
![image](https://user-images.githubusercontent.com/7063188/120783438-54afb900-c52b-11eb-8534-6faad1d37ef2.png)
static will probably not be rewritten, rather use the filesystem middleware, it currently does not work perfectly with embed, think here you can test again and possibly create a feature report, with which we give better support for embed FS in the filesystem middleware, but otherwise this

[2021-06-04 10:31] wushimang886 opened #1365 "🐛 middleware/session/session delete is not working"
the session mod can not be delete
My operation is as follows

session.set("key1", "value1")
session.save()
session.Delete("key1")
session.save()
when Get session again the key “key1” is still exists
in file fiber/middleware/session/session.go
line 138
if s.data.Len() <= 0 {
return nil
}

when Delete("key1") the data.Len() is 0
so the date is not save

[2021-06-04 10:40] ReneWerner87 commented on #1365
@wushimang886 sorry only english is allowed, please adjust the language otherwise we can not help you

[2021-06-04 10:49] wushimang886 commented on #1365
the session mod can not be delete
My operation is as follows
1. session.set("key1", "value1")
2. session.save()
3. session.Delete("key1")
4. session.save()

when Get session again the key “key1” is  still exists
in file fiber/middleware/session/session.go
line 138
if s.data.Len() <= 0 {
return nil
}

when Delete("key1") the data.Len() is 0
so the date is not save

[2021-06-04 13:11] hi019 commented on #1365
This happens when there is only one key in the session and it's deleted. When `session.Delete(k)` is called, the key is only removed from the internal map and not yet from the database. So that if statement is true and no data will be saved as you said.

We can remove the if statement, but I'm thinking if that will be a breaking change. Alternatively we could have `session.Delete` save the data it

[2021-06-04 13:20] ReneWerner87 commented on #1365
I look in later

[2021-06-04 14:10] Sahil624 commented on #180
So prefork runs multiple worker processes?
If each worker is a different process then memory will not be shared in each worker, If I'm not wrong?

[2021-06-04 14:54] #1362 closed

[2021-06-04 19:50] BaseMax opened #1367 "🐛 BUG: If the port is already reserved, the program will be closed without any warnings and errors!"
**Fiber version** latest

**Issue description**

If the port is already reserved, the program will be closed without any warnings and errors!

You are expected to display at least one error or text and then close the app!

https://github.com/gofiber/fiber/blob/b14224e5e4a20372025e5d76a54f65830e5eb6b1/app.go#L591

[code]

**Code snippet**

[code]

[2021-06-04 19:52] hi019 commented on #1367
app.Listen returns an error. If you do `panic(app.Listen(...)` or wrap it in a log statement, you will see output.

[2021-06-04 20:18] BaseMax commented on #1367
Yes, I know. I read the code and attached it to the message above.

Dear @hi019, I had this problem and wasted more than 20 minutes of my time figuring out why the program exit without any message. I thought this was an interference with the structure of my libraries, maybe an incomplete file was downloaded! lol (I used a proxy for `go get`)

If you do not decide to solve this, then it is better t

[2021-06-04 20:26] hi019 commented on #1367
Oh, I must have replied to your issue before you added the url. But I'm not sure if this is a bug, `http.ListenAndServe`, gin and probably echo all have the same behaviour.

I agree the README should make note of this and use log.Fatal.

[2021-06-05 18:15] #1365 closed

[2021-06-07 09:06] AlexGustafsson opened #1369 "🚀 Document request body streaming"
**Is your feature request related to a problem?**

No.

**Describe the solution you'd like**

Documentation for how to effectively use the fiber and Fasthttp features to stream the request's body.

**Describe alternatives you've considered**

N/A.

**Additional context**

Fasthttp itself does not seem to have much documentation on how to use this.

PoC:

[code]

[code]

[2021-06-07 09:07] AlexGustafsson commented on #1369
This seems like a low-level enough of a use case that I'm not sure if it's warranted to implement something in Fiber to handle it. Therefore I'm only suggesting it to be documented.

[2021-06-07 09:08] AlexGustafsson commented on #1353
See #1369. It contains a proof of concept that should be able to get you started. Basically, Fasthttp which this library uses has the ability to stream the request's body, allowing you to read, say, a megabyte at a time.

[2021-06-07 09:13] ReneWerner87 commented on #1369
can you use it to create an example in the reciepe repository ?

[2021-06-07 09:40] AlexGustafsson commented on #1369
Done. https://github.com/gofiber/recipes/pull/119.

[2021-06-07 09:40] AlexGustafsson commented on #1353
See https://github.com/gofiber/recipes/pull/119 for a fully working example.

[2021-06-07 10:08] ReneWerner87 commented on #1369
thx

@Fenny, @hi019, @kiyonlin what do you think?
should we provide a buildin function?

[2021-06-07 20:57] semmars commented on #442
the working version:
[code]

another working version:

[code]

https://github.com/gofiber/fiber/issues/442

[2021-06-08 02:26] hi019 commented on #1369
I think we should add an option to `fiber.Config` that controls `app.Server().StreamRequestBody`. For the built in function, would it just alias `ctx.Context().RequestBodyStream()` @ReneWerner87 ?

[2021-06-08 07:28] gitMitos opened #1371 "Performance issue with simple App.Use of CSRF middleware"
By simply adding

`app.Use(csrf.New(csrf.Config{
	 	KeyLookup:  "form:form_csrf",
		CookieName: "csrf_",
	 	ContextKey: "csrf",
	 }))`

i have significant drop of request/second on helloworld like app

With it i have 65k-75k req/sec on endpoint

`app.Get("/hi", func(c *fiber.Ctx) error {
		return c.SendString("hi")
	})`

if i delete it - i will be getting about 179k-181k req/sec

Is it price of ha

[2021-06-08 07:50] ReneWerner87 commented on #1371
yes right, security usually comes at the cost of performance, because checks have to be made and data has to be stored

probably we can optimize the middleware even further, for this you or anyone else like to deposit a pull request

[2021-06-08 07:56] ReneWerner87 commented on #1371
here you could use the sync pool
https://github.com/gofiber/fiber/blob/master/middleware/csrf/csrf.go#L68

think storing in storage is also a big performance eater

[2021-06-09 07:51] milosgajdos opened #1374 "Nested routes"
**Question description**

I've been playing around with fiber for a bit now and I've come across a case in routing which I can't seem to figure out.

I'd like to have a `/api/v1` group that would have "nested" routes for different resources i.e.

group:
  `/api/v1`

foo routes:
  `/api/v1/foos`
  `/api/v1/foos/:uid`

bar routes:
  `/api/v1/foos/:uid/bars`
  `/api/v1/foos/:uid/bars/:buid`

Followin

[2021-06-09 08:15] ReneWerner87 commented on #1374
@milosgajdos

its working for our mount app:
![image](https://user-images.githubusercontent.com/7063188/121318128-3ff86a00-c90b-11eb-9c5a-8c22d0137918.png)

but i think you want
![image](https://user-images.githubusercontent.com/7063188/121318367-7930da00-c90b-11eb-85c1-55bbf7c7eabc.png)

for this you have to mount it on the v1
![image](https://user-images.githubusercontent.com/7063188/121318431-8

[2021-06-09 08:34] milosgajdos commented on #1374
Have you tried `GET`-ing `/api/v1/foos`? (after mounting to `v1`)?

[code]

[code]

[code]

[2021-06-09 08:42] jorgii opened #1375 "🤗 How to handle errors from internal package?"
**Question description**
The internal package declares `schema.MultiError` and `schema.ConversionError`. These are returned from ctx.QueryParser or ctx.BodyParser when the input is not in the expected type (for example providing `foo` when expecting an ISO 8601 datetime string). I would like to customise the error message for such errors. Normally I would import the error type and based on it woul

[2021-06-09 09:23] ReneWerner87 commented on #1374
Yeah, have tested it, check the second and third screenshot

[2021-06-09 10:00] milosgajdos commented on #1374
Looks like something like this might do the trick:

[code]

[code]

[code]

[2021-06-09 10:12] LianaLing opened #1376 "🐛"
**Fiber version**
2.12.0

**Issue description**
It seems like there is an error with the Fiber library when the `ParseRequest()` function. We used some `Validator` tags in our controller such as `validate:"required"`. When we used this function and sent a `curl` request with a JSON body to test the `controller` , the response we got said that we didn't provide any `value` to the JSON field, but in

[2021-06-09 10:18] #1374 closed

[2021-06-09 10:20] #1367 closed

[2021-06-09 10:29] ReneWerner87 commented on #1376
https://curl.se/docs/manpage.html#-d
you send a POST BODY in the GET request which is very unexpected

https://github.com/gofiber/fiber/blob/master/ctx.go#L266
our functionality looks at the contentType header, based on that we parse the content of the body

https://docs.gofiber.io/api/ctx#bodyparser
and don't forget the identifer names in the json or form parsing anotations

[2021-06-09 10:29] #1376 closed

[2021-06-09 11:20] catalin-me commented on #1099
@majined We're currently facing a similar issue while using Fiber under high traffic. Did you manage to find the root cause? :)

[2021-06-10 02:42] panyox opened #1377 "🚀 save or change file app auto restart"
**Is your feature request related to a problem?**
When i edit my programing file and save, i need to use control+Z to stop the running app and then kill -9 to stop the progress absolutely very time, that is annoying.

**Describe the solution you'd like**
Is there possible to add a middleware or plugin to watching the whole project file, when save a file, the app will auto restart so developer no n

[2021-06-10 03:01] tomaswarynyca commented on #1377
Hi @panyox, that's what **fiber cli** was created for.
https://github.com/gofiber/cli

[2021-06-10 04:44] panyox commented on #1377
Just try it, that's Awesome!

[2021-06-10 04:44] #1377 closed

[2021-06-10 06:28] gopkg-dev opened #1378 "🤗 QueryParser does not support time.Time ?"
**Question description**

QueryParser does not support time.Time

**Code snippet** _Optional_

[code]
[code]

[2021-06-10 06:43] abhisamant7 opened #1379 "How to create APIs with Protocol Buffer responses🤗"
go 1.16
fiber 2.12.0

I am trying to implement **Protocol Buffer** into my rest APIs so for that I choose GO lang and fiber framework as its look very easy to use as compare to other framework and also used fasthttp which give good performance however now I am looking to get responses in **Protocol Buffer** instead of json however I couldn't get anything in Fiber document and github.

Anybody have

[2021-06-11 06:04] ReneWerner87 commented on #1356
**main.go:**
[code]

**views/index.html:**
[code]

**Output:**
[code]

we use the gorilla schema parser internally, i saw the solution there
https://github.com/gorilla/schema/blob/master/decoder_test.go#L89-L96

[2021-06-11 06:22] ReneWerner87 commented on #1378
http://localhost:3000/?create_time=2006-01-02T15:04:05Z

so if you choose the right format it runs

the gorilla schema parser can do the trading
https://github.com/gorilla/schema/blob/8285576f31afd6804df356a38883f4fa05014373/decoder_test.go#L1861

but i think it might be better to register a method for the conversion, which is not possible at the moment
https://github.com/gofiber/fiber/pull/1100

[2021-06-11 06:35] ReneWerner87 commented on #1379
sorry have no experience with it

can @hi019, @Fenny say something about it ?

[2021-06-11 12:47] zerokol commented on #1356
Owww man, It worked! I was guessing I tried everything!

Ok, for next one comes here, use `<input type="hidden" name="foos.0.name" value="joe" />` fields with `foos.0.name` index between dots in the name prop (it was the patter I did not try). And `Foos          []Foo           `json:"foos" form:"foos"` the correct marks in the struct.

A huge thanks @ReneWerner87

[2021-06-12 01:15] TimeForANinja opened #1380 "🐛 Serve SPA with filesystem and cache middleware"
**Fiber version**
Occurring with v2.12.0 & v2.8.0
on both Debian and Windows Systems

**Issue description**
I am trying to serve a static Angular Page using the filesystem middleware.
For that I am requesting a hand full of files. For some reason requesting `/runtime.f5bd8400324dc53c2e62.js` returns the content of `/styles.e641baa6ca1baa4a0a2c.css`...
Commenting out the cache resolves this issue..

[2021-06-13 08:15] tianjipeng commented on #1379
@abhisamant7 Here is demo, you can have a look:
server:
[code]
client:
[code]
proto file:
[code]

[2021-06-13 09:20] abhisamant7 commented on #1379
Hi @tianjipeng Thanks for demo code however I am little confused with client code. is it used in fiber framework or you used for simple net/http package for demo.

Thanks

[2021-06-13 09:29] ReneWerner87 commented on #1380
thank you for the report

why don't you use app.Static ?
![image](https://user-images.githubusercontent.com/7063188/121801980-6e8f8100-cc3a-11eb-9410-845a45d31b67.png)

have tested it, with me I can not reproduce the error, never get another content
![image](https://user-images.githubusercontent.com/7063188/121801987-7a7b4300-cc3a-11eb-8a69-64e37f44b068.png)

[2021-06-13 10:18] #1353 closed

[2021-06-13 10:19] #1084 closed

[2021-06-13 10:34] ReneWerner87 commented on #1276
@yekurtal yes right we currently only copy the routes and the reference to the other app is lost

feel free to implement a fix for this, pull requests are always welcome

as long as I would recommend you to set the configuration of the fiber app in both apps
[code]

@fenny what do you mean ?

[2021-06-13 10:40] ReneWerner87 commented on #1298
solved with #1363

[2021-06-13 10:40] #1298 closed

[2021-06-13 10:49] ReneWerner87 commented on #1375
thank you for the report,
you are absolutely right, we should move the errors from the internal package and make them available

can you do that and create a pull request for us, then i will review this?

[2021-06-13 11:27] sujit-baniya opened #1382 "🚀 [FEATURE] - Add global template layout and global map for templates"
**Is your feature request related to a problem?**
No
**Describe the solution you'd like**
At the moment, for each view `Render`, we need to pass layout for each handler.

For e.g.

[code]
In above scenario, we need to pass `data` and `layouts/landing` for each handler which seems code repeated.

So if there's similar to following API it would be better.

For e.g.

[code]
So if layout on `Render` i

[2021-06-13 12:11] TimeForANinja commented on #1380
didn't knew app.Static was a thing - reads like it even does caching 👍
guess i'll switch our deploy over to that

not resolving the problem with the cache middleware though - throwing a
[code]
infront of the `app.Static` still serves invalid content

renaming the files to just `runtime.js` and `styles.css` with the content being sth like `This is content inside of runtime.js` does not resolve the

[2021-06-13 12:44] sujit-baniya opened #1383 "🐛 [BUG] - SetExpiry of session doesn't seem to work as intended"
**Fiber version**
Latest master branch

**Issue description**
In the code below, I tried to set expiry per session (on different browsers) but both sessions are expired at same time
**Code snippet**

[code]

[2021-06-13 12:53] ReneWerner87 commented on #1383
@mirusky could you check this please

[2021-06-13 13:36] sujit-baniya commented on #1383
@ReneWerner87 @mirusky My mistake. I had to use `sess.Save()` to persist the changes. Now it's working fine after I set `sess.Save()`

[2021-06-13 13:36] #1383 closed

[2021-06-13 13:43] ReneWerner87 commented on #1369
Yes exactly, but after long consideration, I think the two things can also remain so, here I see no real benefit

[2021-06-13 13:43] ReneWerner87 commented on #1369
But thanks for the example

[2021-06-13 13:43] #1369 closed

[2021-06-14 06:23] tianjipeng commented on #1379
@abhisamant7 You can use fiber client to send http request, it's result should be same with net/http package.

[2021-06-14 06:35] WLun001 commented on #1379
@abhisamant7 sorry if i get the idea correctly.

If you wanted to get response in binary, need to make a RPC call instead of HTTP call, from what I understand.
Here is an [example recipe](https://github.com/gofiber/recipes/tree/master/fiber-grpc)
Or use [grpc gateway]( https://github.com/grpc-ecosystem/grpc-gateway) to generate REST API from proto, and optionally  serve the HTTP server with Fiber

[2021-06-14 09:10] #1382 closed

[2021-06-14 22:20] GibranHL0 commented on #1371
Hey 👋 , It seems like an interesting issue.
Can I give it a shot?

[2021-06-14 22:22] GibranHL0 commented on #1375
Is @jorgii working on this issue? 🤔 If not, could I give it a try?

[2021-06-15 00:21] hi019 commented on #1371
Sure @GibranHL0 , I'll assign you

[2021-06-15 05:22] jorgii commented on #1375
@GibranHL0 I was planning to do it around the end of the week. If you can start on it sooner please go ahead.

[2021-06-15 15:14] sdima75 opened #1385 "render: template main does not exist - When migrating to a remote server"
Hello.
Please forgive me - I am not a programmer, but sometimes I program for myself.
I have a strange error. My code works on my home computer. However, when I ran the program on the remote server I got the error - render: template main does not exist.

Part of my code:
`engine := html.New("./templates", ".html");
app := fiber.New(fiber.Config{
		Views: engine,
	})`

fiber - Fiber v2.8.0
On the s

[2021-06-15 15:18] GibranHL0 commented on #1375
@jorgii I got assigned another issue, I'll focus on the other one.

[2021-06-15 15:27] GibranHL0 commented on #1371
Great, I'll make the proposal as soon as possible.

[2021-06-16 08:40] RodsAlex commented on #253
Hi,
Is it possible to have an example without using static file but using bytes array?
I need to get the file from s3 on http request, so i can't give the path of the file.

[2021-06-16 08:58] #1375 closed

[2021-06-16 10:41] ReneWerner87 commented on #1385
can you please post the start commands on your shell from where you start the binaries ?

maybe it also makes sense to just print the cwd in the shell on the server, then you know what the dot is

[code]

[2021-06-17 09:19] fufuok opened #1388 "🐛 Getting 404 randomly with response "Cannot GET /""
@majined We're currently facing a similar issue while using Fiber under high traffic. Did you manage to find the root cause? :)

_Originally posted by @catalin-me in https://github.com/gofiber/fiber/issues/1099#issuecomment-857611694_

---

**Fiber version**

v2.11.0

**Code snippet**

Ref: https://github.com/fufuok/xy-data-router-standalone/blob/master/controller/setup_router.go

[code]

**Issue

[2021-06-17 09:28] ReneWerner87 commented on #1388
did you also test this locally, alone with the fiber server ? otherwise it could be all other network components

in most reports i have received with such an error, it was the components between the fiber server and the request, i.e. reverse proxies and dns server

please exclude this problem, if necessary also remove the middlewares and try to reduce the problem to a specific part

[2021-06-17 11:14] fufuok commented on #1388
I will try pure fiber, thank you for your reply.

[2021-06-17 11:18] gopkg-dev commented on #1378
Thanks, i get it

[2021-06-17 11:18] #1378 closed

[2021-06-17 14:12] yungsem opened #1389 "🚀 OAuth2 middleware support"
Is there a plan to add a middleware to support oauth2?

[2021-06-17 19:00] sujit-baniya opened #1390 "🚀 [FEATURE] - Add More supports for Group Routes"
**Is your feature request related to a problem?**
No
**Describe the solution you'd like**
Currently even though multiple groups are created with different sets of middlewares and all groups have same prefix, then all middlewares are applied to all groups. In my opinion, the middlewares for each group should be separated.

For e.g.
Currently
[code]
`csrfRoutes` group has csrf middleware but is also

[2021-06-17 19:53] ReneWerner87 commented on #1390
Have reimplemented the code at expressjs and it behaves the same way

Check this:

[code]

Test Output:
[code]
-> /example-4 behaves identical to the fiber routing

your proposed change brings behavioral changes and thus breaking changes with it

and also the performance would be worse during the conversion

therefore I would not want to implement the feature

[2021-06-17 20:05] ReneWerner87 commented on #1385
@sdima75 any news for this ?

[2021-06-18 02:26] #1390 closed

[2021-06-18 07:50] sdima75 commented on #1385
Hello.
Please forgive me for not responding quickly.
The result is " / ".

[2021-06-18 07:51] sdima75 commented on #1385
Hello.
Please forgive me for not responding quickly.
The result is " / ".

[2021-06-18 07:58] ReneWerner87 commented on #1385
can you please post the start commands on your shell from where you start the binaries ?

[2021-06-18 07:59] ReneWerner87 commented on #1385
if the current directory is the root of the system, then it is clear why the program cannot find the template folder from there relative to this folder

you said the order is /var/www/my_program/templates

and according to your research it then looks in
/templates

[2021-06-18 08:12] sdima75 commented on #1385
Hello.
Before I read your post I specified the path - /var/www/my_program/templates - and the site worked (almost).
Now I will correct the static paht (css, js, img).

[2021-06-18 08:37] ReneWerner87 commented on #1385
the relative path is okay, you just have to make sure that it starts in /var/www/my_program (cwd should be this path), since you haven't answered my question about the start command yet, I can't help you there at the moment.

[2021-06-18 08:59] sdima75 commented on #1385
Does that interest you?
/lib/systemd/system/my_program.service

Description=my_program

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/var/www/my_program/my_program
User=www-data

[Install]
WantedBy=multi-user.target

[2021-06-18 09:13] ReneWerner87 commented on #1385
https://www.freedesktop.org/software/systemd/man/systemd.exec.html#WorkingDirectory=

think you should set the working directory to "/var/www/my_program".
[code]

[2021-06-18 10:07] sdima75 commented on #1385
Everything works!
Thank you so much for your help!
I wish you a lot of luck and have a lot of money! :-)

[2021-06-18 10:07] sdima75 commented on #1385
Everything works!
Thank you so much for your help!
I wish you a lot of luck and have a lot of money! :-)

[2021-06-18 10:08] sdima75 commented on #1385
Everything works!
Thank you so much for your help!
I wish you a lot of luck and have a lot of money! :-)

[2021-06-18 10:09] #1385 closed

[2021-06-19 01:06] hi019 commented on #1389
No, we don't have any plans for direct Oauth2 integration

[2021-06-19 01:06] #1379 closed

[2021-06-20 16:56] seeva92 opened #1394 "Field name is empty when validating individual field🐛"
**Fiber version**
v2.13.0

**Issue description**
I am trying to validate a field whose manually using `validate.Var`. It validated the field successfully. But, when I tried to translate the error using the custom registered translation, the field name is coming as blank

**Code snippet**

[code]

I am expecting that the value should be printed "userId doesn't exist". Please look into this case.

[2021-06-20 19:00] ReneWerner87 commented on #1394
Hi, what relation does the problem have to fiber?

[2021-06-20 19:02] ReneWerner87 commented on #1388
Any news on this topic?

[2021-06-20 19:40] mirusky commented on #1389
@yungsem It's a complex task... Because there are many flows and specs like Code Flow, PKCE, Hibrid, Implict, Password and others. Also if user use some MFA mechanism it will be more complex to handle. So I recomend to create your own implementation ( handlers ).

[2021-06-21 01:19] fufuok commented on #1388
I tried the above modification, but it didn't work. I tried to drop all the middleware and tried `Immutable:  true`, but it didn't work.

Just try HelloWorld, no 404.

For the time being I replaced Fiber with Gin, but Fiber is still my first choice. I will continue to look for the reasons. If it's just me experiencing this problem, please close it.

Thank you for your attention.

`ubuntu 20.04, go

[2021-06-21 01:28] #1388 closed

[2021-06-21 04:11] fufuok commented on #1388
[code]

------

[code]

[code]

[2021-06-21 06:04] fufuok commented on #1388
No middleware

Any suggestions? I want to know where the problem is. ths.

[code]

[code]

[2021-06-21 06:08] EugeneTorap opened #1395 "sess.Regenerate() issue 🐛"
**Fiber version**
v2.13.0

**Issue description**
I want to write a `refresh` api for regenerating a session but it doesn't regenerate session every second call.
When call `refresh` in first time the `fresh` of sess is true and I have a session. In second time the `fresh` of sess is false and `sess.Save()` doesn't save a new session. In third time the `fresh` of sess is true and I have a session.
I

[2021-06-22 03:34] fufuok opened #1398 "🤗 Is there a possibility for an internal redirect ?"
**Question description**

Need to redirect some dynamic interfaces to the specified route internally, but it is not a fixed rewrite middleware.

I did not find an example, please help, thanks.

**Code snippet**

[code]

**curl test**

[code]

***307 Temporary Redirect, requires the client to actively re-initiate the request.***

This is not what I expected, I hope it looks like this:

------

**gi

[2021-06-22 05:47] #1394 closed

[2021-06-22 06:09] ReneWerner87 commented on #1398
Should be possible with these internal commands
[code]

I would have to test first, then ask the other maintainers and if necessary we implent a method that makes this possible.

@Fenny @hi019 @koddr what do you think, should we implent the feature ?

[2021-06-22 06:23] fufuok commented on #1398
Thank you for your reply.

I want to redirect the request to the homepage again to the correct route for processing once, because I really can’t find the cause of the problem in a short time, and I don’t want to use Gin.

Ref: https://github.com/gofiber/fiber/issues/1388#issuecomment-864752872

[2021-06-22 10:06] flynn-eye opened #1399 "i found a mistake in chinese doc"
![image](https://user-images.githubusercontent.com/23251324/122906045-529b8600-d384-11eb-9915-ccf37b4a827f.png)

========
[url](https://github.com/gofiber/fiber/blob/master/.github/README_zh-CN.md)

[2021-06-22 11:53] tomaswarynyca commented on #1399
Hi @flynn-eye , what is the problem?
If you think there is a problem, please send a PR to solve it.

[2021-06-22 12:09] flynn-eye commented on #1399
fiber is spelt wrong

[2021-06-22 16:10] #1399 closed

[2021-06-22 21:00] #1389 closed

[2021-06-23 01:23] fufuok commented on #1388
After 24 hours of testing, it can be solved by setting `DisableKeepalive: true`.

Not the optimal solution, just for reference.

[code]

Ref: https://github.com/fufuok/xy-data-router-standalone/blob/2d7b310e9c7ef50c75ad62504a93369538dc40b6/controller/init.go#L24

[2021-06-23 05:57] koddr commented on #1398
It looks like an interesting thing. I'm not really sure how much use it will be in the future.

I think it could be added.

[2021-06-23 13:21] sneakykiwi opened #1401 "🚀 Add automatic decompression for gzip, deflate, brotli"
**Is your feature request related to a problem?**
Partly yes, I have an API that I rent out to my clients, the api's core function requires uploading a really big json, one of my clients came up with the idea of compressing the payload to reduce upload latency. He used the `Content-Encoding: gzip` headers, to my surprise, the payload didn't get uncompressed in the default fiber context body though

[2021-06-23 21:18] pratikjagrut opened #1403 "HELP: I want to send image or correct image url stored in local dir to react frontend."
**Question description**
I'm new to web dev and I'm trying to play with fiber and react with typescript. I'm uploading an image and saving it using SaveFile to ./image dir. Now I wanna fetch that image using react fetch but I'm not able to figure out the correct way to send the image or image URL to the frontend. Can someone help me here, please?

[2021-06-24 05:47] #1401 closed

[2021-06-24 06:16] ReneWerner87 commented on #1403
Hi, there are many ways to deliver static files with fiber

here are some of them, my favorite is app.Static on the dist or asset folders

Docs:
https://docs.gofiber.io/api/ctx#sendfile
https://docs.gofiber.io/api/app#static
https://docs.gofiber.io/api/middleware/filesystem

Recipes:
https://github.com/gofiber/recipes/blob/master/spa/main.go#L19-L23

[2021-06-24 10:46] ReneWerner87 commented on #1380
cannot reproduce
![image](https://user-images.githubusercontent.com/7063188/123250311-344f9a80-d4ea-11eb-9cae-4844a99e3f93.png)

[2021-06-24 10:46] #1380 closed

[2021-06-24 10:50] ReneWerner87 commented on #1398
@gofiber/contributors does anyone want to implement the function and provide test and add documentation, pull requests are welcome

[2021-06-24 13:31] Spedoske opened #1406 "🤗 Documentation inconsistent in fiber.Storage, fiber memory storage and session middleware"
**Question description**

In the session middleware, the default storage is the fiber memory storage (`internal/storage/memory`), which implements the interface `fiber.Storage`. According the comments in `app.go`, `Storage.Get` should return `ErrNotFound` if the storage does not contain the key. However, when I check out the implementation in `internal/storage/memory/memory.go`, it returns `nil` e

[2021-06-24 15:02] amalshaji commented on #1398
Quick question: why not just do the following?

[code]

[2021-06-24 16:08] Spedoske opened #1408 "Session should be regenerated if the session can not be found in the storage"
**Fiber version**
2.13.0
**Issue description**
In most cases, unable to find session in the database indicating that the session is not valid, and the session should be regenerated.
The main idea is that we should not allow user to set an arbitrary session when the session provided by user is not in the database.

For example, we use uuid as session. While user can set a session that is not a uuid

[2021-06-25 00:25] GibranHL0 commented on #1371
Hey, I've been doing some stress tests using the same [tool](https://github.com/smallnest/go-web-framework-benchmark) as in the README file.

I created a hello world like app as in the issue statement.
[code]

The scenarios I used were

1. Fiber without CSRF enabled
2. CSRF enabled
[code]
3. CSFR with sync.pool (I had to assign the values to the Cookie, otherwise it will fill them with the zero va

[2021-06-25 08:47] gitMitos commented on #1371
it is still huge (more then twice) drop in performance :(
I wonder if jwt (or plaint eas encypted cookie with json) with extra data (random number per session) for csrf (check if hash(random_number + some_site_key) == to token in html form) could be better solution for auth and for csrf

[2021-06-25 15:02] daddz commented on #1099
@ReneWerner87 I ran into this same issue and found a way to reproduce it:

[code]

doing `curl http://localhost:3000/foo`:
[code]

doint `curl http://localhost:3000/bar`:
[code]

It seems like `c.Route().Path is only correct/set after `c.Next()` when used inside a middleware.

fiber: v2.13.0

[2021-06-25 21:31] pratikjagrut commented on #1403
Hey, @ReneWerner87 app.Static works fine for me. Thanks.

[2021-06-25 21:31] pratikjagrut commented on #1403
I'll close this issue.

[2021-06-25 21:31] #1403 closed

[2021-06-26 14:43] Koredeoluwafemi opened #1409 "🤗 Wildcard Domain management"
**How do I manage a wildcard domain where a domain like admin.example.com loads a particular route while other subdomains load a separate route. The sub-domains are meant to be created dynamically. **

[2021-06-26 21:47] ReneWerner87 commented on #1409
Please check https://github.com/gofiber/fiber/issues/750#issuecomment-687787415

[2021-06-27 03:50] hi019 commented on #1395
You're right, the issue here are with these lines. The session is only saved if it's new:

https://github.com/gofiber/fiber/blob/master/middleware/session/session.go#L141-L143

Calling `Session.Regenerate` and then `Session.Save` doesn't update the cookie, so in the next request the browser sends the previous session ID which was deleted.

[2021-06-27 12:56] fangzhengjin opened #1410 "🤗 After using the fiber client to send a request, how to get the cookie or header information returned in the response?"
**Question description**
After using the fiber client to send a request, how to get the cookie or header information returned in the response?
**Code snippet** _Optional_

[code]

[2021-06-27 21:37] Koredeoluwafemi commented on #1409
Yes, I have checked that example but it does not include how to manage wildcard domains like *.example.com

[2021-06-28 02:00] alfuhigi commented on #1410
I hope this test is useful  [client_test.go](https://github.com/gofiber/fiber/blob/28ba42a6fd89b0a94de241931ba2ce1503d78fef/client_test.go#L344)

[code]

[2021-06-28 06:23] ReneWerner87 commented on #1409
![image](https://user-images.githubusercontent.com/7063188/123589648-d375da00-d7e9-11eb-97de-d4bd37a02f72.png)
you would have to adjust this part and match your regex domain here based on the current domain with a regex or another logic, the following process should be the same, the important thing is that you fetch the stored fiber apps

[2021-06-28 06:31] ap6108 opened #1411 "🐛 CORS:has been blocked by CORS policy: Request header field token is not allowed by Access-Control-Allow-Headers in preflight response."
**Fiber version**
module upload
go 1.16
require github.com/gofiber/fiber/v2 v2.13.0 // indirect

**Issue description**
Access to XMLHttpRequest at 'http://192.168.2.33:8086/?_t=1624861626631' from origin 'http://localhost:8001' has been blocked by CORS policy: Request header field token is not allowed by Access-Control-Allow-Headers in preflight response.

**Code snippet**
[code]
[code]

[2021-06-28 09:15] ReneWerner87 commented on #1411
can not reproduce this, with me it works, with 2 different domains
![image](https://user-images.githubusercontent.com/7063188/123610971-6706d500-d801-11eb-8f91-4fa2805b5981.png)

![image](https://user-images.githubusercontent.com/7063188/123611502-f7451a00-d801-11eb-8394-f886b1a6e282.png)

[code]

[2021-06-28 09:28] ReneWerner87 commented on #1099
![image](https://user-images.githubusercontent.com/7063188/123612886-3c1d8080-d803-11eb-8dc9-3a74b858e4a4.png)
no should not be an error, the route contains the path of the registered route

![image](https://user-images.githubusercontent.com/7063188/123613327-9fa7ae00-d803-11eb-9c35-e41c60163206.png)
c.Route is the route which was executed last,

that means after the c.Next it is the registered ro

[2021-06-28 10:00] Koredeoluwafemi commented on #1409
Thanks @ReneWerner87, that solves it.

[2021-06-28 10:00] #1409 closed

[2021-06-28 10:54] ansidev opened #1412 "QueryParser does not parse value of nested key query params"
**Fiber version**: 2.13.0

**Issue description**: QueryParser does not parse value of nested key query params

**Code snippet**

[code]

**Reproduce steps**

- Start Fiber app
- Run `curl "http://localhost:3000/?p.name=john&p.pass=doe&p.products=shoe,hat"`
- Check Fiber app log.

**Expected logs**

[code]

**Actual logs**

[code]

If you replace log lines by following code snippets:
[code]
you wil

[2021-06-28 11:31] ReneWerner87 commented on #1412
a dot in the key is a separator for a new struct, this leads to the need to create a deep struct as well

[code]

[2021-06-28 11:34] ReneWerner87 commented on #1412
https://github.com/gorilla/schema/blob/8285576f31afd6804df356a38883f4fa05014373/cache.go#L53

[2021-06-28 11:39] ansidev commented on #1412
@ReneWerner87 Sometime, we don't need to make it complicated.

As I mentioned, if we use: `c.Query(queryParam)`, everything is OK.

How do you think about supporting the following syntax:

`c.QueryParser(out interface{}, flatKey bool)`

=> `c.QueryParser(p, true)`

**FYI**

A Real world use case for this issue: https://developers.strava.com/docs/webhooks/

(Example request: `GET https://mycallback

[2021-06-29 06:39] ReneWerner87 commented on #1412
hmm, i think this switch is not possible in our solution, because the delimiter cannot be disabled or configured in the gorilla schema parser

[2021-06-29 06:39] ReneWerner87 commented on #1411
@ap6108

[2021-06-29 06:41] ReneWerner87 commented on #1398
@fufuok what do you think about @amalshaji solution ? swap out the handler code and use it under both routes

[2021-06-29 08:08] mininoz opened #1413 "🤗 QueryParser : is it possible to set default value to nil if value is empty string"
fiber : v2.12.0
### Code snippet

[code]

I would like the default value  of **price** to be **nil** instead of **0**  when I use QueryParser

the request is
http://localhost:3000/?price=&quantity=10

Is it possible to do it with QueryParser?

the purpose of this for searching
I want to ignore the field if it is empty string but be able to search for zero value.

[2021-06-29 12:29] goldwind-ting commented on #1413
Converting `*int` to `interface{}` type can solve this.

[2021-06-29 16:38] tuhao1020 opened #1414 "🐛 QueryParser returns no error when required field is empty"
[code]

http://localhost:8080/test?nameaaa=hello&addrbbb=world

[code]

http://localhost:8080/test?n=hello&addrbbb=world

[code]

The above two cases are expected to return the following contents：

[code]

[2021-06-29 16:48] tuhao1020 commented on #1414
L160: `strings.HasPrefix(key, path)` should be `key == path` ?

https://github.com/gofiber/fiber/blob/28ba42a6fd89b0a94de241931ba2ce1503d78fef/internal/schema/decoder.go#L151-L167

[2021-06-30 02:32] ap6108 commented on #1411
Thanks! @ReneWerner87 that solves it.

[2021-06-30 02:53] ReneWerner87 commented on #1411
@ap6108 What was the mistake? Have but only shown that I can not reproduce it

[2021-06-30 05:32] ap6108 commented on #1411
@ReneWerner87 set the vue.config.js,and that's ok :
[code]

[2021-06-30 05:54] #1411 closed

[2021-06-30 06:01] #1395 closed

[2021-06-30 06:01] #1408 closed

[2021-06-30 06:03] #1300 closed

[2021-06-30 06:38] ReneWerner87 commented on #1414
think it was solved with hasPrefix, because in deeper structures, they wanted to check the previous parts

https://github.com/gorilla/schema/blob/master/decoder.go#L160
https://github.com/gorilla/schema/pull/126
https://github.com/gorilla/schema/commit/61751c9687439bf8cd824ad7eec0d21db1a1b804

here is also an issue about it
-> https://github.com/gorilla/schema/issues/176

maybe you can support it

[2021-06-30 06:41] ReneWerner87 commented on #1413
think that should be this issue
https://github.com/gorilla/schema/issues/161

can you write your findings in the ticket and help with the solution if necessary, once it is in the master of the library, i can take it over

[2021-06-30 06:55] tuhao1020 commented on #1414
@ReneWerner87 do you mean nested struct like this?

[2021-06-30 06:58] ReneWerner87 commented on #1414
![image](https://user-images.githubusercontent.com/7063188/123915923-4cf40080-d981-11eb-94f9-5350f33f6ad4.png)

[2021-06-30 08:10] tuhao1020 commented on #1414
@ReneWerner87
[code]

I think if A has no required fields , it does't need to keep a `required` option.

[2021-06-30 09:07] ReneWerner87 commented on #1414
i know, only the test was filed with the adjustments you noted
and I think that's where the check with hasPrefix comes from

he wanted to check if a is prepended in the string

[2021-07-01 07:39] WLun001 opened #1416 "🚀 add Fiber to OpenTelemetry repo"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
someone with [OpenTelemetry](https://opentelemetry.io/) experience please help add Fiber to the list [opentelemetry-go-contrib/instrumentation](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/main/instrumentation)

[2021-07-01 07:41] ReneWerner87 commented on #1416
please do this and create a pull request in the other repository

[2021-07-01 11:21] klikpaspor opened #1417 "Invalid Handler(switch from tailwind to fiber)"
**Question**
This is example documentation [github.com/gotailwindcss/tailwind](url) :
[code]
I'm change mux to fiber, but i got this error : `panic: use: invalid handler *twhandler.Handler` and the error come from this code : `router.Use("/style/css/signin", twhandler.New(http.Dir("css"), "/css", twembed.New()))`

**Code snippet** :

[code]

Thank you

[2021-07-01 11:57] ReneWerner87 commented on #1417
[code]
this kind of handler is not compatible to fiber

this is our handler definition
https://github.com/gofiber/fiber/blob/master/app.go#L40
[code]

instead of the twhandler, you can use our filesystem middleware
https://github.com/gofiber/fiber/tree/master/middleware/filesystem
https://docs.gofiber.io/api/middleware/filesystem

[2021-07-01 12:18] ReneWerner87 commented on #1272
solved by #1298

[2021-07-01 13:22] klikpaspor commented on #1417
@ReneWerner87 thank you for your answer :+1:

[2021-07-01 13:23] klikpaspor commented on #1417
@ReneWerner87 thank you for your answer :+1:

[2021-07-01 13:23] #1417 closed

[2021-07-01 15:52] chrigeeel opened #1419 "🐛 Memory Session Storage error with string of random length"
**Fiber version**
2.12.0

**Issue description**
When using the default memory storage as a session storage, and using sess.Set() with a key and a string of different lengths, the session handling stops working with errors such as `Unexpected EOF`.
In the below example, the key "randomStr" is set to a string with a random length on page refresh.
If you do that from two sessions (browser), you can r

[2021-07-01 22:14] Koredeoluwafemi opened #1420 "🤗 How to manage/log template errors in fiber"
I am getting these template errors on production app

1. gob: decoding into local type *map[string]interface {}, received remote type unknown type,

2. extra data in buffer,

3. gob: encoded unsigned integer out of range

I use fiber.Map interface type in passing data from the handler to the template.

I am unable to replicate the issue, it just shows up once in a while.

[2021-07-01 23:42] ReneWerner87 commented on #1420
Gob is used in the session middleware, please share the code for your usage with this here.

[2021-07-02 03:37] goldwind-ting opened #1421 "🚀Could logger middleware implement a logger to write logs to rolling files like lumberjack?"

[2021-07-02 04:33] #1421 closed

[2021-07-02 05:12] goldwind-ting opened #1422 "🚀 Could add a requestId tag in logger middleware? like TagRequestId?"
[code]

I use a RequestId middleware and that set a response header, but how could I get this header (default X-Request-Id) and record it in log file?

[2021-07-02 06:04] ReneWerner87 commented on #1422
Please add a description

[2021-07-02 07:07] Koredeoluwafemi commented on #1420
Here is an example of my handler

    func Users(c *fiber.Ctx) error {

	db := database.DB
	session, _ := sess.Store.Get(c) // get/create new session

	var users []models.User

	notify := controllers.GetNotify(session)

	db.Find(&users)

	output := fiber.Map{
		"Title":     config.App.Name + ": Manage Users",
		"Notify":    notify,
		//"Admin":     admin,
		"Users":     users,
	}

	_ = session.Sav

[2021-07-02 08:55] tuhao1020 commented on #1414
@ReneWerner87  I created a PR to gorilla/schema, but no one seems to handle it,  can I make the a PR directly to fiber?

[2021-07-02 23:00] Koredeoluwafemi commented on #1420
@ReneWerner87

[2021-07-04 11:51] dgrr commented on #262
Hello. I just saw this issue by mistakenly typing http2 gofiber.io on my searchbar hehe.

So, there's a server to test http2 for fasthttp (and gofiber too) [here](http2.gofiber.io). I am building the http2 support [here](https://github.com/dgrr/http2). The library is more focused on clients than servers, but it works for servers too. As far as I see it works quite well, but I'd like to do more tes

[2021-07-05 02:17] hi019 commented on #1272
@ReneWerner87 this issue is about making the session cookie expire when the browser session ends, it's unrelated to the fix linked

[2021-07-05 02:34] hi019 commented on #1371
@GibranHL0 thanks for the charts. From your response, I'm not sure if its worth the complexity. We haven't profiled it yet, but I assume most of the performance loss is from using the storage interfaces as Rene said.

It seems like Gorilla's implementation doesn't use a database, we should check if the Fiber middleware can do a similar thing https://github.com/gorilla/csrf#design-notes

[2021-07-05 05:43] ReneWerner87 commented on #1272
Ok sorry, my fold

[2021-07-05 06:04] ReneWerner87 commented on #1414
you can also provide one here

[2021-07-05 06:06] ReneWerner87 commented on #1410
looks like the example is enough, if not you can open the issue again

[2021-07-05 06:06] #1410 closed

[2021-07-05 06:07] ReneWerner87 commented on #1371
good point

[2021-07-05 09:31] Koredeoluwafemi commented on #1420
Or can you share a pointer to how I can correct or fix it @ReneWerner87

[2021-07-05 13:45] ReneWerner87 commented on #1422
you could use

${header:x-request-id} in the log message

https://github.com/gofiber/fiber/tree/master/middleware/logger
![image](https://user-images.githubusercontent.com/7063188/124480901-0864cc80-dda8-11eb-9f7c-3b9b7958e268.png)

[2021-07-05 13:48] ReneWerner87 commented on #1420
no unfortunately not yet, have the cause of the problem unfortunately not yet found

the report #1419 should have the same cause

not sure where the problem with the gob encoder/decode is at the moment

[2021-07-05 13:52] ReneWerner87 commented on #1420
[code]
Just see that you use some structs, have you registered them ?
![image](https://user-images.githubusercontent.com/7063188/124481661-d1db8180-dda8-11eb-9ec3-01a0bdd6293d.png)
https://github.com/gofiber/fiber/tree/master/middleware/session

f.e.: https://github.com/gofiber/fiber/blob/master/middleware/session/session_test.go#L126
so that the session middleware can pass this information to gob

[2021-07-05 13:54] ReneWerner87 commented on #1420
the question is also what you save in the session

[2021-07-05 14:01] ReneWerner87 commented on #1416
@WLun001  could you create a PR for fiber
https://github.com/open-telemetry/opentelemetry-go-contrib/pulls?q=is%3Apr+fiber

[2021-07-06 08:11] goldwind-ting commented on #1422
it does not work. and when using ${header:x-request-id} in the log message, then c.Get is called,  it means that the x-request-id header is getted from request header, but x-request-id is a response header.
[code]

[2021-07-06 08:40] ReneWerner87 commented on #1422
okay, then we should either allow more prefixes like response or request

or add a possibility to define in its own placeholder with function

i.e. your request is not possible with the current implementation

pull requests are welcome

[2021-07-06 08:40] goldwind-ting commented on #1422
It can get x-request-id by `c.Response().Header.Peek("X-Request-Id")`,but there is no tag that could get response header

[2021-07-06 08:42] goldwind-ting commented on #1422
Thank you very much!

[2021-07-06 09:34] dpcks666 commented on #1422
How about this format?
${locals:requestid}

[2021-07-06 10:07] goldwind-ting commented on #1422
Could this format is compatible for request header or response header?How about ${reqHeader:xxx} and ${respHeader:xxx}? i.e. ${respHeader:x-request-id}.

[2021-07-06 12:07] WLun001 commented on #1416
@ReneWerner87 I try to work on it this weekend

[2021-07-06 12:07] ReneWerner87 commented on #1416
thx

[2021-07-07 08:56] Spedoske commented on #1419
The reason for the problem is the reuse of old session byte buffer.

[code]

`byteBuffer.Reset()` does not set `Buffer.buf` to `nil`, instead, it set `Buffer.buf` to a slice that has the length of 0, which do not change the array the slice points to.

[code]

[code]

We may reuse `byteBuffer`, which is possible because we only reset the `byteBuffer` instead of setting `byteBuffer` to nil when we `

[2021-07-07 23:03] VictorVargas opened #1426 "🤗 How can sql NullString types be handled in c.BodyParser ?"
**Question description**
Hello I have this problem when trying to use the BodyParse in my structure with the special types of SQL to be able to receive null values, BodyParse apparently cannot handle them

**Code snippet**

[code]
When I do the post, it throws me the following error
json: cannot unmarshal "\"USA\",\"type\":\"country\"}" into Go struct field Catalog.addon of type NullString

How co

[2021-07-08 02:09] fufuok commented on #1398
@ReneWerner87 Thank you.

Very clever idea, I learned it.
If you can, please update to the documentation.

Please close the subject.

[2021-07-08 05:55] #1398 closed

[2021-07-08 06:25] joliny commented on #1223
https://github.com/valyala/fasthttp/issues/968
https://github.com/valyala/fasthttp/issues/781
set Server.DisablePreParseMultipartForm=true

[2021-07-09 03:02] ihsanbudiman opened #1427 "add form validator🚀"

[2021-07-09 03:17] hi019 commented on #1427
We don't plan to add this feature, see #474 #723

[2021-07-09 06:17] #1427 closed

[2021-07-09 10:01] tuhao1020 opened #1429 "🤗 How to inject a global object into fiber app?"
for example: I create a localizer and I want to make it accessable in every handler or middleware, how to do it?

[2021-07-09 11:51] tuhao1020 commented on #1429
I find `ctx.Locals`

[2021-07-09 11:51] #1429 closed

[2021-07-09 19:10] Koredeoluwafemi commented on #1420
So I run a series of tests and discovered I am getting error while trying to get or set a new session

    func Login(c *fiber.Ctx) error {

	session, err := sess.Store.Get(c) // get/create new session
	if err != nil {
		log.Println("login error")
		log.Println(err.Error())
		return err
	}

I am getting *unexpected EOF*. How I test is I logout and login repeatedly on my machine, after like 6 times

[2021-07-09 19:12] Koredeoluwafemi commented on #1420
Yes I registered all my structs @ReneWerner87

[2021-07-10 00:52] anthonycook opened #1430 "🤗 How can I send a struct with c.Locals?"
**Question description**

I want to pass a struct from my middleware to my routes using c.Locals as recommended by the docs, but I can't access the struct fields as it returns an interface?

**Code snippet** _Optional_

[code]

[2021-07-10 04:21] Xsoul-chan opened #1431 "How can i use proxy websocket?"
The following code can't proxy websocket, how should I operate?
[code]

[2021-07-10 05:44] ReneWerner87 commented on #1430
https://goruncode.com/convert-from-interface-to-concrete-type/

You could use type casting.

[2021-07-10 11:02] anthonycook commented on #1430
Type casting is exactly what I was after, thank you!

[2021-07-10 11:23] #1430 closed

[2021-07-10 19:15] gabzim commented on #426
@Fenny when you say not to keep references to it, is it ok to pass it to the service layer if the handler will wait for the service to return before it returns? example:
[code]

Assuming above that userID is only used to make a query to the DB and not stored anywhere in state beyond that use.

[2021-07-10 19:57] ReneWerner87 commented on #426
Yeah should be okay, the string is there until the response is written.

[2021-07-11 09:45] #1414 closed

[2021-07-11 10:37] ReneWerner87 commented on #1419
@chrigeeel could you test it again with commit https://github.com/gofiber/fiber/commit/cd802dfeadcf2579123eafe5b680fdad1bc0a5f7
`cd802dfeadcf2579123eafe5b680fdad1bc0a5f7`

https://jfrog.com/blog/go-big-with-pseudo-versions-and-gocenter/

[2021-07-11 10:38] ReneWerner87 commented on #1420
@Koredeoluwafemi could you test it again with commit https://github.com/gofiber/fiber/commit/cd802dfeadcf2579123eafe5b680fdad1bc0a5f7
`cd802dfeadcf2579123eafe5b680fdad1bc0a5f7`

https://jfrog.com/blog/go-big-with-pseudo-versions-and-gocenter/

[2021-07-11 10:39] #1413 closed

[2021-07-11 10:49] ReneWerner87 commented on #1406
@Fenny can take a look

[2021-07-11 10:50] #1412 closed

[2021-07-11 10:56] chrigeeel commented on #1419
Everything working fine for me with that version.
Thanks a lot, great!

[2021-07-11 11:08] ReneWerner87 commented on #1419
thx for testing and thx again for the fix @Spedoske

in a few days we will release, then the version will be available, since there is no other task here, i would close the issue

[2021-07-11 11:08] #1419 closed

[2021-07-11 11:26] lhaig opened #1433 "🤗 How do I implement httpexpect for testing."
I just love how easy this was to learn for a beginner programmer. Thanks for a great framework.

**Question description**

I would like to use HTTPEXPECT to do some testing in my app.
I fund an old issue and pull request that said this was available in the 1.x version .
I have built my app in v2 so I would think that this was originally transferred.

With that I tried to get it working on the exam

[2021-07-11 11:29] lhaig commented on #1433
Nevermind I found my issue.

[code]
should be
[code]

[2021-07-11 11:29] #1433 closed

[2021-07-11 19:11] solo-fish opened #1434 "Why is TLS 1.2 hard-coded by `ListenTLS`?"
### **Question description**
Why is TLS 1.2 hard-coded by [`ListenTLS`](https://github.com/gofiber/fiber/blob/cd802dfeadcf2579123eafe5b680fdad1bc0a5f7/app.go#L678-L684)?

I was wrapping up a template for TLS 1.3 using fiber, while migrating from `*http.ListenAndServeTLS` to `app.ListenTLS` I noticed there was no argument for the `tls.Config`, upon inspecting the function I noticed the config is ha

[2021-07-12 07:12] WLun001 commented on #1416
will close when https://github.com/open-telemetry/opentelemetry-go-contrib/pull/880 is merged

[2021-07-12 13:55] ReneWerner87 commented on #1434
https://github.com/gofiber/fiber/issues/1077

[2021-07-13 07:52] monticello opened #1435 "🐛 When adding any GET handler, the App.handleCount is being incremented twice."
**Fiber version**
2.14.0
**Issue description**
When adding any GET handler, the App.handleCount is being incremented twice.

**Cause**
The double incrementation is because only for the GET registration, the HEADER is also registered.

Maybe it is correct to register the header (is it?), but it is weird to duplicate the handleCount because of it.

**Code snippet when adding the GET**
https://github

[2021-07-13 08:48] ReneWerner87 commented on #1435
the observation is correct and also so expected

if someone registers a GET handler, then we also register the HEAD
https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/HEAD

the handler count must count up twice, because this handler is duplicated and available twice for different request methods

You should notice the same thing with ALL, because there is also a handler created for each req

[2021-07-13 08:50] #1435 closed

[2021-07-13 16:09] kobenauf opened #1436 "🐛 Examples on front page don't work"
**Fiber version**
2.14.0

**Issue description**
The fiber home page shows an example with several routes.  The first two routes work, but everything else is intercepted by them.

**Code snippet**

[code]
** Steps to reproduce **
1. Run code above.
2. RIGHT
curl localhost:3000/john
Hello, john 👋!
3. RIGHT
curl localhost:3000/john/30
 john is 30 years old
 4. WRONG
 curl localhost:3000/dictionary.tx

[2021-07-13 18:43] ReneWerner87 commented on #1436
https://github.com/gofiber/fiber/issues/1090#issuecomment-751335790

Can you please look at the answer from this article, I answered an equivalent question there.

Where do I find this example, is that copied together from several documentation articles or is that directly somewhere?
Then I would want to change it, because as described in the linked article, the order is decisive.

[2021-07-13 18:53] kobenauf commented on #1436
That is the exact issue you already answered.  The example is in the project's [README.md](https://github.com/gofiber/fiber#readme).

[2021-07-13 19:58] ReneWerner87 commented on #1436
Thanks for the hint, i will update this example in the next days.

[2021-07-14 01:45] jhhuang2000 opened #1437 "🤗 can logger create different log files according to the date"
Excuse me, can logger create different log files according to the date. For example, 2021-01-02.log, 2021-01-03.log
thank you

[2021-07-14 05:50] ReneWerner87 commented on #1437
no that is not possible yet, but you can create pull requests for it.

[2021-07-14 06:02] ReneWerner87 commented on #1436
fix https://github.com/gofiber/fiber/commit/c8d0a0c2ae30f87b3a3939a93fd61f83aaf3dbfa

[2021-07-14 06:02] #1436 closed

[2021-07-14 06:03] ReneWerner87 commented on #1420
@Koredeoluwafemi are you still getting errors ?

[2021-07-14 09:01] goldwind-ting commented on #1437
You could use logger middleware and change Output config to lumberjack.Logger, the lib lumberjack.Logger can split log file automaticly.

[2021-07-14 11:01] jhhuang2000 commented on #1437
Thank you all

[2021-07-14 11:01] #1437 closed

[2021-07-15 08:14] seamons opened #1438 "🐛 Custom error handler not working for a mounted app instance"
**Fiber version**

v2.14.0

**Issue description**

I'm creating a sub App instance with a custom error handler, then mount it to the main App instance. I found the custom error handler for the sub App instance is not effective.

I know this may not be a programming bug, but it seems like an unexpected behavior to me.

Also, i believe resolving this issue will help to address the following use case

[2021-07-15 08:54] AliasT commented on #1438
[code]

[2021-07-15 10:56] ubearline commented on #1354
I want to be able to generate API interface documents automatically.

[2021-07-15 15:50] seamons commented on #1438
@AliasT Thanks for your advice, but i think middleware is incapable of catching and overriding error from the framework, for example, overriding the default plaintext 404 path not found error response to a json response.

[2021-07-15 16:35] rayterrill opened #1439 "🐛 Can't find index.html with PathPrefix?"
**Fiber version**
v2.14.0

**Issue description**
Getting a 404 trying to browse to / mounting a React app using PathPrefix and Index

**Code snippet**

[code]

Result:
Cannot GET /

Browsing to http://localhost:3000/index.html directly works fine.

[2021-07-15 18:39] ReneWerner87 commented on #1439
The pathPrefix is used in front of the index path. Please test it with

"index.html"

[2021-07-15 19:02] rayterrill commented on #1439
@ReneWerner87 sorry mate - i played around a ton with this and tried that just to see if it worked. Updated my config above to be the actual one I have (my fault), and it's the same behavior.

[2021-07-15 21:21] Itshardtopickanusername commented on #1426
I had similar issue, and ended up writing custom UnmarshalJSON. since BodyParser uses Unmarshaler interface (for JSON) you can handle it in your own way. I created new struct for the request body, and implemented the Unmarshaler + Marshaler interfaces to handle incoming and outgoing JSONs.

Hope this helped, if you still have the issue

[2021-07-16 06:37] wirepair commented on #1439
I'm having a similar problem, what's weird is:
[code]

Works just fine treating index.html as the index. But I can't access `GET /index.html`, I have to access `GET /static/index.html`.

If I set PathPrefix to "static" or "static/" then it stops working, but I can access `GET /index.html`.

[2021-07-16 07:18] wirepair commented on #1439
Ah, I think I figured it out, it's due to how the paths are being prefixed with `/` in filesystem.go

You can easily reproduce this with:
[code]

Here's the offending code filesystem.go#L91:
[code]

[2021-07-16 07:26] ReneWerner87 commented on #1439
yes, i also found the errors, the filesytem middleware is not yet fully ready for embedded filesystems

these filesystems behave a little bit different, so the index file can not be found, if i have time today, i will try to provide a fix

[2021-07-16 10:43] wirepair commented on #1406
+1 to this, I also ran into this when trying to use https://github.com/dgraph-io/ristretto as a backend cache, only by returning nil for the object when a key doesn't exist will it return a valid session object.

[2021-07-16 15:45] rayterrill commented on #1439
Thanks both of y'all. I'm coming over to Golang from NodeJS and Express and I have to say Fiber has been a real treat to work with. ❤️

[2021-07-16 18:09] ReneWerner87 commented on #1439
didn't make it today unfortunately, try to provide a fix on the weekend, if you have time before and find a solution, then feel free to create a pull request

[2021-07-16 18:12] andrascz opened #1440 "🚀 generic Skip middleware"
**Is your feature request related to a problem?**

The current middlewares are all need to be configured with a Next predicate to skip the middleware. I think it could be more flexible to provide a `Skip` middleware which can wrap a middleware and based on a predicate skip it. This way specific middlewares do not need to implement this feature.
Somewhat related is that the middlewares are not impl

[2021-07-17 08:40] sidmohanty11 opened #1441 "Can't able to set request header to Access-Control-Allow-Origin🤗"
**Question description**
Guys I am a big fan of your work, I was just making an api to work with my react app. But Access-Control-Allow-Origin cors issue  is coming up. I checked AllowOrigins was set to * in default, I manually tried it too. Then I tried to add to AllowHeaders but nothing seem to work. I read upon the Config struct and it seem to set it when its either "*" or a specific domain but

[2021-07-18 20:31] Tonghua-Li opened #1443 "🚀 unit test example on handler"
**Is your feature request related to a problem?**
No
**Describe the solution you'd like**
How to do the unit test on handler without creating fiber.App, because creating fiber.App in api_test.go will cause circular dependency
https://github.com/gofiber/recipes/blob/master/jwt/handler/api.go#L6

**Describe alternatives you've considered**
NA
**Additional context**

[2021-07-19 05:32] ReneWerner87 commented on #1443
please check https://github.com/gofiber/recipes/blob/master/unit-test/main_test.go#L50-L61
and
https://docs.gofiber.io/api/app#test

[2021-07-19 05:35] ReneWerner87 commented on #1441
hi, can you provide a code example that contains a minimal setup and includes the problem.

only with the code call i can't tell you what you are doing wrong.

[2021-07-19 05:36] ReneWerner87 commented on #1440
good idea could be made.

what do you think ?
@gofiber/maintainers @gofiber/contributors

[2021-07-19 05:36] ReneWerner87 commented on #1438
via mount we only copy the routes and handlers, but not the settings of the app.

[2021-07-19 06:26] WLun001 commented on #1440
what if only want to skip specific middlewares?

[2021-07-19 08:10] andrascz commented on #1440
Usage:
[code]

So it naturally skips only the middleware you wrap.

[2021-07-19 08:48] sidmohanty11 commented on #1441
github for frontend -> https://github.com/sidmohanty11/gradbook-client
github for backend -> https://github.com/sidmohanty11/gradbook-api

@ReneWerner87

my main.go file,
[code]

frontend call,
[code]
my problem,
![error-cors](https://user-images.githubusercontent.com/73601258/126131216-5b684065-dd89-45c1-94f5-dd68293f21ca.png)

[2021-07-19 10:10] WLun001 commented on #1440
@andrascz thanks for the usage example. I think is a great one

[2021-07-19 11:09] wirepair commented on #1439
I took a crack at fixing this, but we are unfortunately out of luck testing the `cfg.Root` underlying type. With embed it's actually an internal type (http.ioFS) so we can't type check it :(.

I tried with:

[code]

But i'm worried that all the other filesystems would fail with this. One option is to have a cfg option of ShouldStripPrefix set to false, but can be enabled for different file system

[2021-07-19 11:37] wirepair commented on #1439
Super janky, but it's a work around:
[code]

[2021-07-19 14:20] #1434 closed

[2021-07-20 11:10] superdolt opened #1445 "Is fiber 100% 0 memory allocated?"
Is fiber 100% 0 memory allocated?

totally no memory allocated?

[2021-07-21 09:17] ReneWerner87 commented on #1445
No, sometimes it is necessary to allocate memory for actions.
But in Fiber core we try to reduce it everywhere.
in some middlewares we have to try again and reduce the number, but overall it looks quite good.

you can see the resulting speeds in the benchmarks in techempower.

[2021-07-21 09:17] #1443 closed

[2021-07-21 09:19] hiqsociety commented on #1445
is it possible to have 100% 0 memory allocation for fiber?

[2021-07-21 17:43] markkrj opened #1447 "🚀 Add ${port} variable in middleware/logger"
**Is your feature request related to a problem?**
No.

**Describe the solution you'd like**
I'd like to be able to log remote user's address **with port**, not just ip.

**Additional context**
Sometimes, when notifying and an ISP about an incident, they'll ask for the client's ip **and** port, as a lot of ISP use CGNAT for distributing IP for their users. Also, if one use NAT within a company (e.g

[2021-07-21 17:52] ReneWerner87 commented on #1447
Thx, could you please create a pull request for this.

[2021-07-21 17:56] ReneWerner87 commented on #1445
We are almost everywhere completely allocation free. If you find allocations in the core you are welcome to open a pull request and support us with it.

[2021-07-21 17:56] #1445 closed

[2021-07-22 14:46] ReneWerner87 commented on #1441
But
![image](https://user-images.githubusercontent.com/7063188/126658846-e40746df-bf05-48e4-b37f-82e7e0f774f0.png)
is different with
![image](https://user-images.githubusercontent.com/7063188/126658900-6d2a293c-f34b-4999-a34e-c508bcffc098.png)

"****.app" vs "****.com"
@sidmohanty11

[2021-07-22 15:39] sidmohanty11 commented on #1441
yeah, that's so embarrassing, @ReneWerner87  so sorry
![herku1](https://user-images.githubusercontent.com/73601258/126666763-ac117f00-3634-44e8-a7c4-6c9404afe7de.png)
![herku2](https://user-images.githubusercontent.com/73601258/126666774-f6882bf8-24b0-4383-a8b9-689e46046c71.png)
![herku3](https://user-images.githubusercontent.com/73601258/126666782-5a4c1f1a-c65c-4eba-b137-8d56312c7192.png)
Do you

[2021-07-22 15:42] #1447 closed

[2021-07-22 15:46] ReneWerner87 commented on #1441
Hmm, not sure what you mean right now

The origin header is sent automatically by the browser and should match the one in the cors middleware that you want to allow access to

[2021-07-22 15:47] ReneWerner87 commented on #1441
If you are satisfied with a lower security level, you can also change it to the wildcard.

[2021-07-22 15:52] ReneWerner87 commented on #1441
https://owasp.org/www-community/attacks/CORS_OriginHeaderScrutiny

[2021-07-22 16:17] sidmohanty11 commented on #1441
![herku4_LI](https://user-images.githubusercontent.com/73601258/126673094-0610135e-0280-4de9-bff4-630eab41118d.jpg)
@ReneWerner87 how can I set this then? Its value is null I guess.

[2021-07-22 18:15] ReneWerner87 commented on #1441
Check this https://github.com/gofiber/fiber/issues/1411#issuecomment-869518111

[2021-07-23 06:33] martinei opened #1449 "Links in Readme.md are stale"
https://github.com/gofiber/fiber hast stale links. For Example:

https://docs.gofiber.io/middleware/logger
https://docs.gofiber.io/middleware/cors
https://docs.gofiber.io/application#http-methods

[2021-07-23 14:33] sidmohanty11 commented on #1441
tried to use the headers you mentioned and used wildcard * for origin, still can't get it to work

[2021-07-24 13:44] buffalus opened #1450 "Can c.Params("name") convert "%20" to normal empty string?"
**Question description**

It seems c.Params("value") cannot convert "%20" to normal empty string?

For example, GET http://localhost:8080/hello%20world

With c.Params("name"), I expect to get "hello world", but in fact, I still get "hello%20world".

Can anyone help?

[2021-07-24 14:59] IGLOU-EU commented on #1450
Hi,
you can use `url.QueryUnescape` in `net/url` golang lib :)

[2021-07-24 22:15] buffalus commented on #1450
Using url.QueryUnescape is a good solution. Thank you !

But when using c.Query("name"), I can get "hello world" as expected. Is it possible c.Params("name") do the same way?

Thanks!

[2021-07-25 16:42] IGLOU-EU commented on #1450
Not sure, but, `c.Query` is for URL query every time in URL encoded format, so he has an implicit decode. While `c.Params` is used for routing only, may be URL path can be sending unencoded :thinking:

@Fenny can probably tell why

[2021-07-25 17:26] Far1za opened #1451 "Session value update not reflecting changes and ignoring new created variables🐛"
**Fiber version**
2.15.0/2.14.0
**Issue description**
I create a session set a value and save/store the session for later use.
Then I update the session variables to hold the new values or create new variables, when I try to use them I get the nil value back or the old value that was set on session initialization.
**Expected Behavior **
When I reference them to get the new value back and access th

[2021-07-25 18:30] supernova0730 opened #1452 "🚀 JSONDecoder to config"
Hello everyone, I think it will be better if you will add JSONDecoder to config as JSONEncoder
![image](https://user-images.githubusercontent.com/46263611/126909486-9e9410ac-2d9d-4984-a571-ead8aa8a1095.png)

[2021-07-26 19:53] j-pel commented on #248
Not only older browsers: Flutter is also getting it as utf-7 by default. The response should conform to the "Accept" header if present on the request.

[2021-07-27 07:57] Jleagle commented on #1230
Adding to @goldalworming's comment, my handlers are in a different package so i do not have access to `engine`.

    engine := html.New()
    engine.Reload(true)
The code and the comments read like it should just always reload all templates.

[2021-07-28 09:29] decker502 opened #1454 "🐛 The escape of special characters in route path does not work properly"
**Fiber version**
v2.15.0

**Issue description**

The escape of special characters in route path does not work properly

**Code snippet**

[code]

[2021-07-28 11:07] IGLOU-EU commented on #1454
Hi,
url encoded `%5C` ?

[2021-07-28 11:20] decker502 commented on #1454
It's same

[2021-07-28 13:06] loveuer opened #1455 "🐛 context.Query function alway change string value unexpected"
**Fiber version**
v2.15.0
**Issue description**
with context.Query function, the string value will change
**Code snippet**

[code]
- with the first req: http://localhost:8080/demo?token=nice, the logger with print the map:
[code]
- and then second req: http://localhost:8080/demo?stuff=true, the logger with print:
[code]
- this almost 100% happens
- as you can see in the snippet, I also tried with

[2021-07-28 13:36] iCyberon commented on #1455
@loveuer from the docs:

Instead of storing the token directly, make a copy using `utils.ImmutableString` and set the copied value.

[code]

[2021-07-28 13:46] ReneWerner87 commented on #1454
thanks for the error report, you are right, had forgotten a part at that time

we have in addition to the complex routing parsing with the parameters, also a simple matching via string comparison if no parameter is in this route, this part does not work yet with the escape stuff

[2021-07-28 13:57] ReneWerner87 commented on #1454
this should be the fix
![image](https://user-images.githubusercontent.com/7063188/127335008-23b58acd-c364-4c4d-a19a-82d18afa1375.png)

but i have to test it carefully

[2021-07-28 14:04] ReneWerner87 commented on #1455
exactly, since we want to keep the allocations as small as possible, we use the allocation of the string with the unsafe feature

so you have to copy the value with the immutable string function

this behavior is expected and tolerated, because this way you can achieve enormous speed

[2021-07-28 14:04] #1455 closed

[2021-07-28 14:05] ReneWerner87 commented on #1455
![image](https://user-images.githubusercontent.com/7063188/127336276-90f9340e-391c-4c2e-ac0d-10919436e6bb.png)
https://docs.gofiber.io/#zero-allocation

[2021-07-28 14:07] ReneWerner87 commented on #1450
yes we could, but we currently use the string of the original route in the Params method

[2021-07-28 14:11] loveuer commented on #1455
@ReneWerner87 thanks a lot ☺

[2021-07-28 16:09] NathanBarta opened #1456 "Setting app.Server().MaxConnsPerIP🐛"
**Fiber version**
v2.15.0
**Issue description**
Setting app.Server().MaxConnsPerIP() = x
either causes the server to use http instead of https/tls, or it causes c.Secure() and c.Protocol() to give false information.
This could also simply be by design. If so, it should be made less transparent to users.
**Code snippet**

[code]

[2021-07-28 17:25] NicolasGB opened #1457 "Fiber Client does multiple requests when using Timeout() and MaxRedirectsCount() 🐛"
**Fiber version**
2.15.0
**Issue description**
With fiber.Client whenever you use a.Timeout() or a.MaxRedirectsCount() a request is made by any of these functions, therefore, more than one HTTP request is sent.
**Code snippet**
A first API:
[code]
A second API:
[code]

Output:

The second API receives a request for each of the mentioned methods.

![image](https://user-images.githubusercontent.com/

[2021-07-28 17:31] NicolasGB commented on #1457
As @ReneWerner87 said on discord, here https://github.com/gofiber/fiber/blob/master/client.go#L765 we can see that both methods: `a.HostClient.DoTimeout(req, resp, a.timeout)` and `a.HostClient.DoRedirects(req, resp, a.maxRedirectsCount)``already do a request.

Could be fixed with else if conditions or return statements, although this solution would mean the two methods wouldn't be able to work to

[2021-07-29 02:17] decker502 commented on #1454
nice, thanks so much

[2021-07-30 03:05] panyox commented on #1441
noticed that there is a 404 error before CORS, so i think maybe you should check out the url path is correct?

[2021-07-30 10:09] blessedvictim opened #1459 "Is there any possibility for get path template in handler?🤗"
**Question description**

For example, in `gorilla mux` there is
[code]

I can find similar thing in fiber, but it seems not working.

[code]
It always return "/" inside middleware. May be a bug ?

It may be useful for implementing Elastic APM middleware for expose only url templates to APM.

There is possibility for get path template ?

i use github.com/gofiber/fiber/v2 v2.15.0

[2021-07-30 10:42] blessedvictim commented on #1459
Seems like problem here [source code](https://github.com/gofiber/fiber/blob/1e0d4d3b1c67c6a0a4df357f8653583be5f63b42/router.go#L81)
is it exptected behaviour ?

[2021-07-30 11:00] ReneWerner87 commented on #1459
it is not a bug, it is an expected behavior

this property reflects the current route of the handler and in your case you probably didn't specify a route in the middleware, so the starting slash is reflected

[2021-07-30 12:52] wa1618i opened #1460 "Goroutines close after return from handler🤗"

[2021-07-30 14:00] #1460 closed

[2021-07-30 14:02] ReneWerner87 commented on #1460
[code]
![image](https://user-images.githubusercontent.com/7063188/127664517-d4f2e7d0-22f4-4aa8-9466-241b944bb6e8.png)
![image](https://user-images.githubusercontent.com/7063188/127664529-42e35abb-7ab5-42f3-9250-c9ad1b56c3e7.png)

its working on my side

[2021-07-30 14:12] wa1618i commented on #1460
@ReneWerner87 ah thanks I forgot to call subOutput <- rid twice

[2021-07-30 14:28] blessedvictim commented on #1459
As i research, workaround for this is look on `c.Router()` after call `c.Next()`.
Is there any caveeats ? @ReneWerner87

[2021-07-30 14:41] ReneWerner87 commented on #1459
no should be okay

[2021-07-30 14:51] slaveofcode commented on #1021
Another workaround if you still have a problem running `Prefork: true` inside a docker container
https://github.com/gofiber/fiber/issues/1036

[2021-07-30 15:19] blessedvictim commented on #1459
Thx, close issue

[2021-07-30 15:19] #1459 closed

[2021-07-30 18:39] #1454 closed

[2021-07-31 01:50] daniel-oliveiravas opened #1463 "🤗 Can I get access to path Params in middleware functions?"
**Question description**

I am trying to implement a middleware and I need to get the value from a path param. The path param is available in the handler function, but not in the middleware function that gets executed before the handler function.

Am I doing something wrong? Can I get access to it?

**Code snippet** _Optional_

[code]

[2021-08-01 18:59] sidmohanty11 commented on #1441
@panyox  sorry for the late reply, that 404 is due to favicon. Do you think, maybe that can be the problem?

[2021-08-02 00:22] buffalus commented on #1450
Noted and thanks !

[2021-08-02 00:22] #1450 closed

[2021-08-02 07:00] imsk17 commented on #1441
You have to allow the "OPTIONS" method as well. You can do so by passing a string with your desired methods to the `AllowMethods` param. i.e.

`
app.Use(cors.New(
		cors.Config{
			AllowOrigins: "..."
			AllowMethods: "GET, POST, HEAD, PUT, DELETE, PATCH, OPTIONS",
		},
	))
`

[2021-08-02 08:01] ReneWerner87 commented on #1441
![image](https://user-images.githubusercontent.com/7063188/127825138-b4b199ef-b18e-41e2-8ed6-c36a602577ac.png)
can you share your config again, here is another host, just use the wildcard for the domains in the config

you cannot set this, it is set automatically by our middleware

[2021-08-02 08:02] ReneWerner87 commented on #1441
https://github.com/gofiber/fiber/blob/master/middleware/cors/cors.go#L148

[2021-08-02 08:04] ReneWerner87 commented on #1441
maybe more headers are sent than you(@sidmohanty11 ) allow

you should try it from my point of view, first with the default config, here everything is allowed
[code]

[2021-08-02 08:40] ReneWerner87 commented on #1440
can you create a pull request for it ?

[2021-08-02 08:43] #1457 closed

[2021-08-02 08:45] ReneWerner87 commented on #1449
@martinei can you correct this and create a pull request, unfortunately I don't know exactly which links you mean

[2021-08-02 08:49] ReneWerner87 commented on #1463
any registered handler can use the parameters of the route that has been registered, since your registered middleware does not have any route, the routing parameter cannot be used there either.

each registered route is completely separate from each other and cannot know about the routing parameters of the other handlers

[code]

[2021-08-02 08:58] ReneWerner87 commented on #1463
same behavior with express
![image](https://user-images.githubusercontent.com/7063188/127833822-1831ea4c-169d-405e-8821-f19431eeeb53.png)
![image](https://user-images.githubusercontent.com/7063188/127833844-74900a8a-df48-44e1-9586-f2aac116ffbc.png)

[code]

[2021-08-02 09:02] tysg commented on #1456
Is anyone working on this? If not, may I work on it? I'm investigating on the issue, and it could be an upstream error in `fasthttp`

[2021-08-02 09:10] ReneWerner87 commented on #1456
I don't think anyone is working on this yet, you are welcome to do it.

[2021-08-02 10:42] tysg commented on #1456
Looks like it's an upstream issue in `fasthttp`. I've submitted an issue at https://github.com/valyala/fasthttp/issues/1062

[2021-08-02 11:33] andrascz commented on #1440
Sure, I will.

[2021-08-02 13:05] sidmohanty11 commented on #1441
@ReneWerner87 Thank you so much, it worked.

[2021-08-02 18:02] saiumesh-apty opened #1466 "🐛 AllowOrigins empty for custom URL(s)"
v2.16.0

AllowOrigins (Access-Control-Allow-Origin) header is empty when using with custom URL but works fine when using with *

**Code snippet**

[code]

![image](https://user-images.githubusercontent.com/35692863/127904645-2305e71d-c23b-47b1-aecf-1c087643b9de.png)

[2021-08-02 20:08] ReneWerner87 commented on #1466
Can you please share all request header, have a hunch if my guess is right I would solve it tomorrow

[2021-08-03 01:43] FlameMida commented on #1452
yes,it is important to custom json package

[2021-08-03 01:47] FlameMida commented on #1354
need more documents and examples with different language

[2021-08-03 01:50] FlameMida opened #1467 "🚀 I want to use color in the custom logger middleware"
**Is your feature request related to a problem?**
no
**Describe the solution you'd like**
make it export in config

[2021-08-03 04:30] saiumesh-apty commented on #1466
Hello, @ReneWerner87 Here's the Request Headers. Let me know if you need more info. Thanks.

[code]

[2021-08-03 06:05] ReneWerner87 commented on #1467
just use the color tags
![image](https://user-images.githubusercontent.com/7063188/127966024-5ef2d15d-288e-4294-81d6-d96ad1bac6ac.png)

[2021-08-03 06:21] ReneWerner87 commented on #1466
![image](https://user-images.githubusercontent.com/7063188/127967379-80472968-6aff-4c91-9fe2-b6dc4fc12602.png)
Behavior is as expected, the browser does not send an Origin header when the request goes to the same domain, so no content is displayed there.

but if the origin header is sent, it will be displayed in the header if it is matched.

[2021-08-03 06:22] ReneWerner87 commented on #1466
different domains:
![image](https://user-images.githubusercontent.com/7063188/127967621-57245b3e-bea8-4e46-9770-40736597ba2f.png)

same domain:
![image](https://user-images.githubusercontent.com/7063188/127967660-08c2e8f9-653b-4918-928d-540c6d9fe903.png)

[2021-08-03 06:28] FlameMida commented on #1467
alright ~but i want to make my status code and method fields switch color automatically

[2021-08-03 06:36] saiumesh-apty commented on #1466
Hello, @ReneWerner87  That absolutely makes sense. Thanks for the response. I feel a bit dumb 😀

[2021-08-03 06:36] #1466 closed

[2021-08-04 06:19] #1422 closed

[2021-08-04 08:05] #1440 closed

[2021-08-04 09:54] ReneWerner87 commented on #1463
@daniel-oliveiravas

[2021-08-04 17:04] StillRosi opened #1468 "Parsing .png-files from the request body"
Hey everybody,
I currently work on an API that, among other features, is able to receive and save images (which are sent by a POST request), to my local disk but I am facing problems with Fiber's `BodyParser`.

This is what the block looks like in my `create`-route.
[code]
Whenever this is run however, `postImages` is empty `{()}` and there are no errors thrown whatsoever.

This is what `PostImage

[2021-08-04 17:44] ReneWerner87 commented on #1468
Please check https://docs.gofiber.io/api/ctx#savefile or https://docs.gofiber.io/api/ctx#multipartform or https://docs.gofiber.io/api/ctx#formfile instead of bodyParser.

[2021-08-04 18:25] StillRosi commented on #1468
Thank you so much, works like a charm now!

[2021-08-04 18:25] #1468 closed

[2021-08-04 18:48] alihanyalcin opened #1469 "Misrouting API request"
**Question description**

When I send api request for both endpoints, Fiber always routes to first endpoint `/v1/:id`.
[code]
If I register the `/v1/test` endpoint above `/v1/:id`, the problem is gone.

What is the reason of this?
How does work Fiber's router?
Is this a bug or design decision?

**Code snippet**
[code]

[2021-08-04 19:52] ReneWerner87 commented on #1469
No error, this is an expected behavior, as with express routing we get the order of the registered routes and check them in the same order, i.e. a clear recommendation is to prioritize the specific ones over the less specific ones.

[2021-08-04 19:56] ReneWerner87 commented on #1469
https://github.com/gofiber/fiber/issues/1090#issuecomment-751335790

https://github.com/gofiber/fiber/issues/1088#issuecomment-750476089

[2021-08-04 20:02] #1469 closed, assigned to nobody

[2021-08-05 03:22] ProExpertProg opened #1470 "🐛 Path is copied incorrectly in `app.copyRoute`"
**Fiber version**
v2.16

**Issue description**
When copying routes between routers/apps, the path is copied incorrectly.

**Code snippet**

[code]

Issue is in [router.go#L198](https://github.com/gofiber/fiber/blob/master/router.go#L198), where `Path` is set to `route.path` instead of `route.Path`

[2021-08-05 03:28] #1420 closed

[2021-08-05 05:32] #1470 closed

[2021-08-05 21:14] whoiscarlo opened #1473 "Session & Store Middleware return error 🐛"
Going through the documentation and when I tried to set **sessionName** I receive this error:  `unknown field sessionName in struct literalcompilerMissingLitField`

There are multiple places where sessionName is being using and I don't understand how.
Store Test
https://github.com/gofiber/fiber/blob/9a7b08ee238331e1cfa743bff6bca6f168448ce2/middleware/session/store_test.go

Session Test
https://git

[2021-08-05 22:32] pcen opened #1475 "Deprecated functions are used in framework code"
Functions `GetString`, `GetBytes`, and `ImmutableString` are deprecated but still used throughout the codebase. References to these functions should be removed and their non-deprecated counterparts should be tested instead to discourage the use of deprecated functions and clean up the codebase.

I've created a draft pull request that would implement the change I'm proposing in https://github.com/g

[2021-08-06 03:10] whoiscarlo commented on #1140
@Topup3 where does **mongodb.New** and **mongodb.Config** come from in the line:
[code]

[2021-08-06 05:56] #1475 closed

[2021-08-06 06:18] tysg commented on #1456
The issue has since been fixed. Let's upgrade the `fasthttp` version when they make the next release :)

[2021-08-06 07:11] ReneWerner87 commented on #1456
ok thx for the hint

[2021-08-07 12:47] onthegit opened #1476 "Conflicting documentation"
Hello,

first of all thanks for the project.

https://docs.gofiber.io/api/ctx

For SendFile it says:
Method use gzipping by default, set it to true to disable.

and then in the example below it says:
// Disable compression
  return c.SendFile("./static/index.html", false);

So which one is true?

Does sendfile use io.Copy? Because I need it for large files.

[2021-08-07 13:11] pd-pranay commented on #1449
Can I update this links @ReneWerner87  ?

[2021-08-07 13:12] ReneWerner87 commented on #1449
Sure, create a pull request and i will check it

[2021-08-07 13:42] pd-pranay commented on #1449
I will do it by romorrow.

[2021-08-07 19:20] #1449 closed

[2021-08-08 16:24] jj0e opened #1478 "🤗 How can I use a custom HTTP proxy to "Do" the proxy request?"
**Question description**
I want to proxy the users request using this middleware, however I'm having trouble trying to understand how I would use a custom HTTP proxy instead of my servers IP to send this request. How can I set a custom HTTP proxy for the request?

[2021-08-08 16:25] #1478 closed

[2021-08-08 16:28] jj0e opened #1479 "🤗 How to set a custom HTTP proxy while using Proxy middleware?"
**Question description**
The word "proxy" is being used a lot here so it's a bit confusing, but I am using the [proxy middleware](https://github.com/gofiber/fiber/tree/master/middleware/proxy) in my API. My goal is to proxy the client request, but update the IP address that it's being sent from by setting a custom HTTP proxy. Is this possible via updating the `fiber.Ctx` or by using the middleware

[2021-08-09 02:21] WLun001 commented on #1479
Hi @jj0e m not exactly get what you mean

Here is the approach that you can use `proxy` in handler, more details example on [proxy middleware](https://github.com/gofiber/fiber/tree/master/middleware/proxy#examples)

[code]
`curl localhost:3000` would gives you content from `example.com`

[2021-08-09 02:58] jj0e commented on #1479
Hi yes I completely understand how the proxy middleware works. What I’m asking is whether or not it’s possible to set a custom HTTP proxy for this request. What does this mean?

Example.com will receive the request from my server, but what will the IP be? Will the IP be my server IP or the client who is accessing localhost:3000’s IP? Either or, is it possible to set an HTTP proxy to spoof the IP a

[2021-08-09 08:07] pd-pranay commented on #1452
@ReneWerner87  Can I start working on it  ?

[2021-08-09 09:49] ReneWerner87 commented on #1452
Sure

[2021-08-09 20:41] jj0e commented on #1479
After further inspection, I realize this is not directly implemented but it is possible. I would be willing to create a PR for this. Is it necessary to convert this issue to a feature?

[2021-08-10 01:44] jj0e commented on #1479
#1480

[2021-08-10 14:02] pd-pranay commented on #1452
To summarize things I need to do,
create JSONEncoder and JSONDecoder functions  ,
which will marshal or unmarshal data depending, upon the set up used at the time of App initialization ?

[2021-08-10 19:31] vividsystem opened #1481 "🤗 Message Flashing with Gofiber"
I wanted to ask if there is a way(using Fiber) to flash messages for success alerts etc. Some example frameworks for that would be Bufalo(https://gobuffalo.io/en/docs/flash-messages) or Flask(Python). If thats not possible, I would like  to know how you could update the page content without reloading the page

[2021-08-11 02:47] sujit-baniya commented on #1481
@vividsystem  You can try this for flash message: https://github.com/sujit-baniya/flash

[2021-08-11 11:44] WilliamYang1992 opened #1482 "🤗 How to write a middleware to modify response content"
**Question description**
How to modify response

I want to write a midleware can modify response which can add a field, but dont know how to do it.

I know how to modify the request and context.

thanks!

**Code snippet** _Optional_

[2021-08-11 11:56] ReneWerner87 commented on #1482
[code]

this is enough as an example

[2021-08-11 11:57] ReneWerner87 commented on #1482
![image](https://user-images.githubusercontent.com/7063188/129024663-e14d8aeb-1424-4a83-88df-c61ac2fa9081.png)
![image](https://user-images.githubusercontent.com/7063188/129024687-3a93707d-1800-4ee4-850d-34ab49e2d7cd.png)

![image](https://user-images.githubusercontent.com/7063188/129024735-740b7632-2c92-43c9-978d-8956e47a4822.png)

[2021-08-11 12:00] WilliamYang1992 commented on #1482
@ReneWerner87 Thanks a lot!

[2021-08-11 12:00] #1482 closed

[2021-08-11 12:05] ReneWerner87 commented on #1476
thx for the hint
https://github.com/gofiber/fiber/blob/master/ctx.go#L1029

i will change the wording

[2021-08-11 12:09] #1476 closed

[2021-08-11 12:09] ReneWerner87 commented on #1476
is https://github.com/gofiber/docs/commit/59491de085f6243babe330645e7d2da1a025f248 okay ?

[2021-08-12 07:09] harishdurga opened #1483 "Gofiber.io site is blocked"
**Why is Gofiber.io site is blocked in India**
![screenshot-nimbus-capture-2021 08 12-12_36_41](https://user-images.githubusercontent.com/10380630/129153239-7ad5ad07-e456-4f62-99fe-6c17d9584c07.png)

[2021-08-12 15:15] marioidival opened #1484 "🐛 Try create a middleware"
**Fiber version**
2.14.0
**Issue description**
What's problem with this code and why the fiber don't accept
 go run main.go server
panic: use: invalid handler func() func(*fiber.Ctx) error
**Code snippet**

[code]

[2021-08-12 18:26] ReneWerner87 commented on #1484
Because the handler you pass to the use function does not have the right structure

I guess the function is supposed to be a builder function which builds a fiber handler, i.e. you have to execute the build by writing the brackets for a call after the last curly bracket

[2021-08-13 01:24] TianLiangZhou commented on #1484
[code]

[2021-08-13 06:20] ReneWerner87 commented on #1483
thank you for the advice

we have checked it and also had other colleagues test it, unfortunately we cannot reproduce it and if there really is a problem, we cannot fix it either.

[2021-08-13 06:20] #1483 closed

[2021-08-13 06:21] ReneWerner87 commented on #1484
@marioidival is it working, can i close you report ?

[2021-08-13 09:30] ukiyowood opened #1485 "how to write string to response in a middleware function? 🤗"
**Question description**
how to write string to response in a middleware function?

The result of the following code is
[code]
not what i want
[code]

**Code snippet** _Optional_

[code]

[2021-08-13 09:36] goldwind-ting opened #1486 "when I use session middleware,it always return same sessionId every time."
When I run the following code and request http://localhost:5001/login?name=ban or http://localhost:5001/login?name=wang, the sess.ID() is same in every request.
[code]

[2021-08-13 09:43] ReneWerner87 commented on #1485
[code]
the context implements the writer interface

there are several ways to do this, you could collect the content and write it later

or you could just use the writer functions

[2021-08-13 09:43] #1485 closed

[2021-08-13 09:47] ReneWerner87 commented on #1486
Why should the session id not be the same ? that's what a session is for, to persist it over multiple requests and share data.

By the way, you shouldn't use GET to match data, GET requests should be cacheable.

[2021-08-13 10:05] goldwind-ting commented on #1486
I know that session id is stored in the cookie and reused, but if different users login, they still use same session and session id? and how to generate different session in this case? I am not clear about that.

[2021-08-13 10:11] ReneWerner87 commented on #1486
Ok, oh it's about different use

i.e. you test with 2 different browsers or devices

https://github.com/gofiber/fiber/blob/master/middleware/session/store.go#L54-L56

actually what you say here is not possible, because if there is no id in the cookie, a new id is generated using the keyGen function, which can be specified by the user but does not have to be.

if you use the standard keyGen, a uniq

[2021-08-13 10:34] marioidival commented on #1484
@ReneWerner87 yep, maybe we need create a better docs regarding this way.

[2021-08-13 10:42] ReneWerner87 commented on #1484
You are welcome to prepare a pull request for our documentation to make this case more understandable.

[2021-08-13 10:42] #1484 closed

[2021-08-13 10:48] goldwind-ting commented on #1486
Ok, I am clear, I tested the login api with same browser but different user info, and get same session id. I just now tested by `curl` command and browser, it worked, and I could get different session id. Thank you!

[2021-08-13 10:50] #1486 closed

[2021-08-13 17:52] Hexiro opened #1487 "🐛 panic: unaligned 64-bit atomic operation [32 bit machines]"
**Fiber version**
v2.17.0

**Issue description**
On 32 bit machines, fiber sometimes crashes on startup when using certain middleware.
I believe this is something to do with `sync/atomic`

https://pkg.go.dev/sync/atomic#pkg-note-BUG

[code]

**Code snippet**

[code]
[code]

[2021-08-13 19:32] vividsystem commented on #1481
Ok, thank you @sujit-baniya. I'll try it out.

[2021-08-14 07:32] FlameMida opened #1488 "🤗 Why is the router missing this path and still have access to the middleware？"
**Question description**
I don't have  **http://domian/abc** this path in my router but it always access my middleware such as JWTAuth , Casbin Verify ect...
Is this normal?

[2021-08-14 09:09] ReneWerner87 commented on #1488
Yes, same behavior like expressjs.

[2021-08-14 09:10] ReneWerner87 commented on #1488
Middlewares without path are scoped for all request paths.

[2021-08-14 09:29] FlameMida commented on #1488
oh~It make me confused.  What should i do if I want to have a precise router identification. Using the StrictRouting?

[2021-08-15 21:06] imraan-go opened #1490 "🐛 Static path with trailing slashes doesn't work!"
**Fiber version**
v2.17.0
**Issue description**
Static path with trailing slashes does not work! When path ends with slash like /docs/ or docs/  , the path is not found!
**Code snippet**

[code]

[2021-08-15 21:17] IGLOU-EU commented on #1490
Even if you try to force `StrictRouting` to false in Config struct ?
https://pkg.go.dev/github.com/gofiber/fiber/v2#Config

[2021-08-15 22:13] imraan-go commented on #1490
`StrictRouting ` is false by default! This has nothing to do with strict routing. The problem is with Static method.  `app.Get("/products/", SearchProducts)` This works perfectly fine with default settings.I can browse http://localhost/products/ But `app.Static("/docs/", "./docs/slate/build/")`  shows 404 Not found.

[2021-08-16 06:17] ReneWerner87 commented on #1490
could be that the error lies there

https://github.com/valyala/fasthttp/blob/master/fs.go#L978

[2021-08-17 04:15] phuongdpham opened #1491 "🐛Why setup session config with Cookie secure and HttpOnly=true then can not get cookie value in context?"
**Fiber version**
v2.17.0

**Issue description**
When I set up session store config with CookieSecure=true and HttpOnly=true, then I can't get session from context, it create new id because of not found cookie session_id value. (id := c.Cookies(s.sessionName)). For Key lookup default in Cookie.

**Code snippet**
store.go line 92...

[code]
Please figure out how to retrieve cookie value if it's not

[2021-08-17 07:11] ReneWerner87 commented on #1491
can not understand this unfortunately, here is my example code
[code]

Output:
![image](https://user-images.githubusercontent.com/7063188/129680190-1973c29f-ee37-4ad2-a3e3-baaecc3052b4.png)

please also check if you are running the sess.Save(), otherwise it will create a new session for every request, because there is none in the storage.

[2021-08-17 14:14] natebwangsut opened #1492 "🐛 Session middleware does not use KeyLookup for session storage"
**Fiber version**
2.14 and above

**Issue description**
Session middleware is unable to lookup via given key

**Code snippet**

[code]

**Reproducing**

[code]

---

Responses on 2.13

[code]

---

Responses on 2.14++

[code]

[2021-08-17 14:42] natebwangsut commented on #1492
The problem occurs from this line:
https://github.com/gofiber/fiber/blob/ff57431cde4826e5826bb264139bcae0ad6bf458/middleware/session/store.go#L85

When the we regenerating, we're giving session a new ID and thus subsequence `session.Save()` does not save to the same key that originally it lookup to.

e.g.

with key = "original"

[code]

eventho we wanted to lookup from key (https://github.com/gofi

[2021-08-17 15:25] natebwangsut commented on #1492
I can see that there's a PR merged to fix the issue

https://github.com/gofiber/fiber/pull/1407
https://github.com/gofiber/fiber/issues/1408

---

However the issue defined on #1408 was more of an application error rather than framework error.

I think #1408 highlighten the fact that how do I differentiate when

- there's mismatch on lookup or
- when the lookup is okay but raw data is `nil`

Since

[2021-08-17 18:19] NathanBarta commented on #1456
https://github.com/valyala/fasthttp/releases/tag/v1.29.0 new release has been made

Thank you @tysg for your investigation and solution!

[2021-08-17 18:19] #1456 closed

[2021-08-18 02:24] phuongdpham commented on #1491
Hi ReneWerner87,

Thank you for your reply. When I run you sample code, this is my response

![image](https://user-images.githubusercontent.com/12036726/129826424-9b6f215b-559d-40e1-9bce-26116486331d.png)
![image](https://user-images.githubusercontent.com/12036726/129826578-106377cc-51b4-4ab2-a040-8d70e49c4186.png)

I call from postman or curl from terminal sessionId also different. That's so stra

[2021-08-18 02:50] Hexiro opened #1494 "🚀 Serialize response data based on `Accept` header"
**Is your feature request related to a problem?**

In my experience, modern APIs usually return JSON data, but sometimes the end-user will want to use a different data type,
whether that's because of their language of choice or just personal preference.

**Describe the solution you'd like**

A method added to `fiber.Context` that serializes a `struct` / `map` based on the accept header from the cl

[2021-08-18 04:30] #1481 closed

[2021-08-18 04:49] mdaliyan commented on #899
Is fiber still lack shutdown timeout? What happens if one connection doesn't close for any reason for minutes?

[2021-08-18 05:39] ReneWerner87 commented on #1491
this is expected behavior and not a bit strange

the session concept only works if the client requesting the server also sends the session id sent in the response in the request the next time so that the server can use it to retrieve the data from the persistence layer and assign it to the client

if you use curl or postman, you have to send this id, which is set by default in the cookie in the re

[2021-08-18 05:42] ReneWerner87 commented on #1494
what about the https://docs.gofiber.io/api/ctx#format method ?

[2021-08-18 05:43] ReneWerner87 commented on #1494
https://github.com/gofiber/fiber/blob/master/ctx.go#L439-L454

[2021-08-18 05:48] ReneWerner87 commented on #1488
@FlameMida
[code]
there are many possibilities

[2021-08-18 05:51] #1463 closed

[2021-08-18 05:52] ReneWerner87 commented on #1416
@WLun001  could you check the PR again

[2021-08-18 06:00] Hexiro commented on #1494
oh cool! that looks like what i was looking for. is it possible to enable / disable certain types or add custom ones?

[2021-08-18 06:02] ReneWerner87 commented on #1494
no not yet, maybe you can help us and make this possible, for now we have only provided the 4 most common methods

[2021-08-18 06:03] ReneWerner87 commented on #1494
check also http://expressjs.com/en/api.html#res.format

[2021-08-18 06:05] ReneWerner87 commented on #1494
whereby the variant of express does not really bring the benefit, because you can then also directly use a switch and accomplish the same thing

[2021-08-18 06:11] Hexiro commented on #1494
alright interesting. I'll keep that in mind. Thanks for the help!

[2021-08-18 06:35] phuongdpham commented on #1491
Ohh, I see the problem. The postman won't auto set cookie in request if that cookie is secure and http only. Thank you for your explain.

[2021-08-18 06:35] #1491 closed

[2021-08-18 09:29] imraan-go commented on #1490
This is not related to fasthttp. I just tried debugging it, looks like the handler does not get called at all in `registerStatic` handler varible. So seems like fiber is unable to set the router properly when static path ends with slashes.

[2021-08-18 12:26] #1232 closed

[2021-08-18 12:26] #1452 closed

[2021-08-18 13:22] WLun001 commented on #1416
@ReneWerner87 Still pending approval from others

[2021-08-18 14:47] nikandlv opened #1495 "Question: Middleware is being applied outside the applied group and scope"
**Fiber version**
 Fiber v2.17.0

**Issue description**
When using jwt middleware and attempting to have 2 groups 1 for public and 1 for protected routes it applies the middleware to the public group which is defined separately

`/works` returns 200
`/` returns 400

**expected behavior**
`/works` should return 200
`/` should return 200

**Code snippet**

[code]

[2021-08-18 15:07] ReneWerner87 commented on #1416
Ok

[2021-08-18 15:19] ReneWerner87 commented on #1495
Yes, because you have only defined an empty route, in the end it is important on which logical route the handler is executed.

Express behaves the same way

[2021-08-18 15:32] nikandlv commented on #1495
Ah, well
Coming from `Echo` of labstack background the same code works.
Using a non empty route for groups `/app` for both groups also behaves the same.
Does this mean that if the prefix of the groups are the same then the groups their selves are the same or at least middle wares   treat them as same?

[2021-08-18 15:48] ReneWerner87 commented on #1495
Yes exactly, groups in express are actually only virtual, at the end everything is in a flat list, where the route for matching is the key and the handlers are as a list under this key (if you leave out the further level of the request methods).

This list is traversed in the order in which it was defined when the request arrives at the server.